<thf-modal
  #modal
  [t-title]="modalSettings.title"
  [t-primary-action]="modalSettings.primaryAction"
  [t-secondary-action]="modalSettings.secondaryAction"
  [t-click-out]="false"
  [t-hide-close]="true"
  [t-size]="modalSettings.size"
  [formGroup]="form">
  <div class="confirmActionToBlockHotel">
    {{ i18n.currentConfirmMessage }}
  </div>
  <span [innerHtml]="'alert.pleaseInputToConfirm' | translate: {hotelName: hotelName}"></span>
  <thf-input
    name="hotelName"
    formControlName="hotelName"
    class="thf-md-12"
    [t-required]="true"
  ></thf-input>
</thf-modal>
