<div *ngFor="let billingAccountForClosure of billingAccountForClosureList" class="row thf-list-checkbox-with-icon thf-u-cursor--pointer"
  [ngClass]="{'thf-u-background-color--blue-very-soft': getCheckedStatus(billingAccountForClosure.isChecked)}">
  <div class="col-1 align-self-center">
    <input id="{{ billingAccountForClosure.id }}" type="checkbox" class="thf-input-type-checkbox" [(ngModel)]="billingAccountForClosure.isChecked"
      [checked]="billingAccountForClosure.isChecked" (ngModelChange)="changeCheckedStatus(billingAccountForClosure)">
    <label class="thf-u-no-margin" for="{{ billingAccountForClosure.id }}">
      <span class="ui"></span>
    </label>
  </div>
  <div class="col-8 align-self-center" [ngClass]="{'thf-u-color--blue': getCheckedStatus(billingAccountForClosure.isChecked), 'thf-u-color--grey': !getCheckedStatus(billingAccountForClosure.isChecked)}">
    <span *ngIf="billingAccountForClosure.isChecked && !showOwnerName">
      <img class="thf-icon thf-u-vertical-align-middle img-person" src="{{'person-blue.svg' | imgCdn}}" alt="{{ 'img.personIcon' | translate }}"
      />
    </span>
    <span *ngIf="!billingAccountForClosure.isChecked && !showOwnerName">
      <img class="thf-icon thf-u-vertical-align-middle img-person" src="{{'person-grey.svg' | imgCdn}}" alt="{{ 'img.personIcon' | translate }}"
      />
    </span>
    <span class="thf-u-vertical-align-middle thf-u-font--13 thf-u-margin-left--1" *ngIf="billingAccountForClosure.billingAccountItemName != null">
      <span *ngIf="showOwnerName">({{billingAccountForClosure.ownerName}}) </span>{{billingAccountForClosure.billingAccountItemName}}</span>
    <span class="thf-u-vertical-align-middle thf-u-font--13 thf-u-margin-left--1" *ngIf="billingAccountForClosure.billingAccountItemName == null">
      <span *ngIf="showOwnerName">({{billingAccountForClosure.ownerName}}) </span>{{'label.all' | translate}}</span>
  </div>
  <div class="col-3 align-self-center thf-u-no-padding">
    <span class="thf-u-vertical-align-middle thf-u-font--13" [ngClass]="{'thf-u-color--green': billingAccountForClosure?.total >= 0, 'thf-u-color--danger': billingAccountForClosure?.total < 0}">{{ billingAccountForClosure.total | currencyFormat }}</span>
  </div>
</div>
