<thf-page-list
  [t-title]="title"
  [t-filter]="filter">

  <admin-cards-manager
    [properties]="properties"
    [filterModel]="filterModel"
  ></admin-cards-manager>

  <thf-modal
    #modal
    [t-title]="moveHotelModal.title"
    [t-primary-action]="moveHotelModal.primaryAction"
    [t-secondary-action]="moveHotelModal.secondaryAction"
    [t-click-out]="false">
    <span [innerHtml]="'alert.doYouWantToMoveTheHotel' | translate: {hotelName: hotelToMove?.name}"></span>
  </thf-modal>

  <admin-hotel-block-modal
    #modalToggle
    (toggled)="onHotelBlockToggle($event)"
  ></admin-hotel-block-modal>

  <thf-loading-overlay [hidden]="!showLoad"></thf-loading-overlay>
</thf-page-list>
