<div *ngIf="!control || error?.message" class="thf-input-text thf-input-text--error">
  <img src="{{'input-error.svg' | imgCdn}}" alt="{{'commomData.images.errorMessageIcon' | translate }}"/>
  <p class="thf-u-inline-block thf-u-no-margin thf-u-font--12">
    {{ error?.message }}
    <ng-content></ng-content>
  </p>
</div>
