<div style="font-family: monospace; font-size: 2.8mm;">
  <div style="text-align: center; margin: 0 auto; ">
    <div><strong>{{'label.cnpj' | translate }}: </strong>{{property.cnpj}} </div>
    <div>{{property.tradeName}}</div>
    <div>
      {{ property.locationList[0]?.completeAddress || '-'}}
    </div>
    <div>
      <strong>{{'label.phone' | translate }}:</strong> {{property.contactPhone || '-' }}
    </div>
    <div>
      <strong>{{'label.i-e' | translate }}:</strong> {{property.inscEst || '-'}}
    </div>
  </div>

  <div style="text-align: center; font-weight: bold; margin: 20px 0; font-size: 3.2mm" >
    {{'label.statement' | translate }}
  </div>

  <div *ngFor="let listItem of statementList" style="margin-bottom: 40px">
    <div style="margin: 0 auto;"  >
      <div>
        <span style="display: inline-block; "><strong>{{'label.guest' | translate }}:</strong>{{ listItem.holderName}}</span>
        <span style="text-align: right; display: inline-block;" ><strong>{{'label.uh' | translate }}:</strong> {{listItem?.roomNumber}}</span>
      </div>
      <div>
        <strong>{{'label.period' | translate }}:</strong> {{formatDate(listItem.arrivalDate)}} - {{formatDate(listItem.departureDate)}}
      </div>
      <div>
        <span><strong>{{'label.accountType' | translate }}:</strong>{{listItem.accountTypeName}}</span>
      </div>
      <div>
        <span><strong>{{'label.statusAccount' | translate }}:</strong> {{listItem.statusName}}</span>
      </div>
    </div>

    <div *ngFor="let account of listItem?.billingAccounts" >
      <ng-template #accountEmpty>
        <div style="text-align: center" >{{'label.emptyAccount' | translate }}</div>
      </ng-template>

    <div style="margin: 10px 0"  >
      <strong>{{'label.account' | translate }}: </strong>{{ account?.billingAccountItemName || 'Geral' }}
    </div>

    <div style="text-align: center" *ngIf="account?.billingAccountItems.length > 0; else accountEmpty;">
      <table style="font-size: 2.8mm; margin: 0 auto; width: 100%" >
        <tbody>
        <tr>
          <td><strong>{{'label.date' | translate }}</strong></td>
          <td><strong>{{'label.billingAccountEntry' | translate }}</strong></td>
          <td style="text-align: right"><strong>{{'label.desc' | translate }}</strong></td>
          <td style="text-align: right" ><strong>{{'label.totalAccount' | translate }}</strong></td>
        </tr>
        <tr *ngFor="let accountItem of account?.billingAccountItems">
          <td>{{formatDate(accountItem?.billingAccountItemDate)}}</td>
          <td>{{accountItem?.billingItemName}}</td>
          <td style="text-align: right" >{{accountItem?.discount || 0 }}%</td>
          <td style="text-align: right" >{{accountItem?.total | currencyFormat:null:2:'.':',':3:false }}</td>
        </tr>
        <tr>
          <th colspan="3" style="text-align: left; margin-top: 10px" >{{'label.subtotal' | translate }} R$</th>
          <td style="text-align: right; margin-top: 10px" >{{ account?.total | currencyFormat:null:2:'.':',':3:false}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

    <table style="font-size: 2.8mm; margin: 0 auto; margin-top: 20px; width: 100%;">
      <tfoot>
      <tr>
        <th colspan="3" style="text-align: left" >{{'label.totalBalance' | translate }}R$</th>
        <td style="text-align: right">{{ listItem.total | currencyFormat:null:2:'.':',':3:false}}</td>
      </tr>
      </tfoot>
    </table>
  </div>

</div>

