<app-header-page-new [config]="configHeaderPage" [hasFilter]="true" [filterButtonIsLarge]="true">
    <header-title>{{'billingAccountModule.commomData.billingAccount' | translate }}</header-title>
    <app-filter-search [searchableItems]="searchableItems" (searchUpdated)="updateList($event)"></app-filter-search>
    <text-button>{{'billingAccountModule.commomData.newAccount' | translate}}</text-button>
    <icon-button>
        <i class="mdi mdi-plus"></i>
    </icon-button>
</app-header-page-new>

<div class="row">
  <div class="col thf-u-margin-bottom--2 text-center">
    <thx-group-buttons
      [buttonItens]="searchButtons"
      [(selectedOption)]="selectedFilterId"
      mantainChecked="true"
      btnClass="btn-padding-button-group"
      (changeSelected)="filterBy($event)" ></thx-group-buttons>
  </div>
</div>

<thx-datatable
    *ngIf="pageItemsList && pageItemsList.length > 0 ; else showEmptyComponent"
    [columns]='columns'
    [itens]="pageItemsList"
    (rowItemClicked)="goToEditPage($event)"
    [footerInfo]="footerTotal"
></thx-datatable>

<ng-template #showEmptyComponent>
    <app-empty-content-wrapper>
        <content-title>{{'billingAccountModule.commomData.emptyContent.title' | translate}}</content-title>
        <content-description>
          {{'billingAccountModule.commomData.emptyContent.textDescription' | translate}}
          <a class="thf-link" href="javascript:void(0)" (click)="newAccountPage()">
            {{'clientModule.edit.contacts.thereAreNoContacts.link' | translate}}
          </a>
        </content-description>
    </app-empty-content-wrapper>
</ng-template>

<ng-template #footerTotal >
  <div class="d-flex align-items-center" >
    <img class="thf-u-margin-horizontal--1" src="{{'tarifa.svg' | imgCdn}}" alt="{{ 'img.valueIcon' | translate }}">
    <div class="thf-u-font--14 thf-u-font--bold">{{ getTotal() }} </div>
  </div>
</ng-template>
