:host{
  display: block;
}

.card-item-group-products {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;

  border: 2px solid var(--color-blue-light-border);
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.20);
  border-radius: 5px;

  &:hover {
    border: 2px solid var(--color-blue-dark);
    cursor: pointer;
  }

  & .card-item-group-products-content {
    position: relative;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    img {
      width: 60px !important;
      height: auto !important;
    }
  }
}
