<div class="col">
  <div class="card-item-group-products">
    <div class="card-item-group-products-content">
      <img
        alt="{{ item?.description }}"
        src="{{ item?.iconName | imgCdn }}" />
      <span class="thf-u-font--10 thf-u-font--bold">
        {{ item?.description }}
        </span>
    </div>
  </div>
</div>
