<app-modal-wrapper
  [showHeader]="false"
  [minWidth]="'700px'"
  [modalId]="modalId">
  <div class="thf-modal-body">
    <div class="row">
      <div class="offset-11 col-1">
        <div class="container-close-img">
          <thx-img
            [src]="'closed-gray.svg'"
             class="thf-u-cursor--pointer"
            (click)="closedModal()"
            [fullImg]="true">
          </thx-img>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5 align-img">
        <img src="{{'robot-bg-gray.svg' | imgCdn }}" class="imgRobot" />
      </div>
      <div class="col-7 box-text">
        <div class="thf-u-font--25">{{ 'text.autoAssoc' | translate }}</div>
        <div class="text-auto">
          <span>{{ 'text.infoAutoAssoc' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="thf-modal-footer pb-4">
    <div class="offset-9 col-3">
      <app-button
        class="pt-3"
        [buttonConfig]="confirmButtonConfig">
      </app-button>
    </div>
  </div>
</app-modal-wrapper>
