.text-auto {
  opacity: .5;
  font-size: 14px;
  margin-right: 40px;
  padding-top: 12px;
}

.box-text {
  padding-top: 40px;
}

.thf-modal-footer {
  border-top: 0px solid !important;
}

.imgRobot {
  width: 180px;
  height: 169px;
}

.align-img {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.container-close-img {
  height: 14px;
  width: 14px;
}
