<app-modal-wrapper modalId="modalCategory" [title]="modalTitle">

  <form [formGroup]="modalForm" novalidate>
    <div class="thf-modal-body">
      <div class="row">
        <div class="col-8">
          <label for="propertyCompanyClientCategoryName"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'categoryModule.commomData.name' | translate }}
          </label>
          <input
            id="propertyCompanyClientCategoryName"
            class="thf-input thf-u-margin-top--1"
            type="text"
            formControlName="propertyCompanyClientCategoryName"
            [class.thf-input-error]="!modalForm.controls.propertyCompanyClientCategoryName.valid && (modalForm.controls.propertyCompanyClientCategoryName.dirty || modalForm.controls.propertyCompanyClientCategoryName.touched)">
        </div>
        <div class="col">
          <div class="row">
            <div class="col">
              <label for="checkCategory"
                     class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                {{ 'categoryModule.commomData.active' | translate }}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input id="checkCategory" class="thf-input-radio-button" type="checkbox" formControlName="isActive">
              <label for="checkCategory" class="thf-u-margin-top--1"><span class="ui"></span></label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <app-button [buttonConfig]="buttonCancelModal"></app-button>
        </div>
        <div class="col">
          <app-button [buttonConfig]="buttonSaveModal"></app-button>
        </div>
      </div>
    </div>
  </form>

</app-modal-wrapper>

<app-modal-wrapper modalId="modalCategoryDelete"
                   [modalWithParams]="{title: 'action.lbDelete', params: { labelName: ('label.category' | translate).toLowerCase() }}">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col thf-u-text-center">
        {{ 'variable.lbConfirmDeleteF' | translate : {labelName: ('label.category' | translate).toLowerCase()} }}
        <strong>{{origimItem.propertyCompanyClientCategoryName}}</strong>?
      </div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonDeleteModal"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmDeleteModal"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<div class="row align-items-center thf-u-margin-top--1">
  <div class="col">
    <h2 class="thf-u-font--16 thf-u-font--bold thf-u-no-margin">
      {{ 'title.clientCategory' | translate }}
    </h2>
  </div>
  <div class="col-4 col-lg-3 col-xl-2 ml-auto">
    <app-button [buttonConfig]="buttonnewEditCategory">
      {{ 'action.lbNew' | translate: {labelName: 'label.category' | translate} }}
    </app-button>
  </div>
</div>

<div class="row thf-u-margin-top--1">
  <div class="col">
    <thx-datatable
      *ngIf="pageItemsList"
      [columns]='columns'
      [itens]="pageItemsList"
      statusIdentifier='id'
      [itemsOption]="itemsOption"
      (statusChanged)="updateCategoryStatus($event)"
      (rowItemClicked)="editCategoryConfig($event)"
      [emptyMessage]="'variable.emptyContentF.title' | translate: {labelName: 'label.category' | translate | lowercase }"
      [emptyMessageContent]="'variable.emptyContentF.textDescription' | translate: {labelName: 'label.category' | translate | lowercase }"
      (emptyLinkClicked)="toggleModal()">
    </thx-datatable>
  </div>
</div>
