thx-pie-chart {
  display: flex;
  flex-direction: column;

}

.chart-legend {
  display: block !important;
}

.chart-legend > div {
  width: 100% !important;
}

.pie-chart-legend {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pie-chart-legend > thx-legend-item {
  padding: 5px;
}
