.guest-fnrh-header-container {
  position: relative;
  background-color: var(--color-white);
  border: thin solid var(--color-grey-light);
}

.guest-fnrh-header,
.guest-fnrh-body {
  display: flex;
  justify-content: space-between;
}

.guest-fnrh-header {
  border-bottom: 1px solid var(--color-grey-light);
  padding: 10px 0;
}

.guest-fnrh-body {
  padding: 10px 0;
  transition: opacity .1s, padding .8s;
}

.badge-obs {
  position: absolute;
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
  border-radius: 50px;
  width: 20px;
  height: 20px;
  top: 14px;
  font-size: 13px;
  left: 15px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 2px;
  align-items: center;
  font-style: normal;
}

.select-fix-width {
  width: 200px;
}

.color-deal {
  color: var(--color-orange);
}

.guest-fnrh-header-container span > img {
  height: 20px;
  margin-bottom: 6px;
}

.guest-fnrh-header-container span > .thf-tag {
  margin-bottom: 6px;
}

.fix-height-44 {
  min-height: 44px;
  max-height: 44px;
}
