<div
  class="guest-fnrh-header-container thf-u-padding--1"
  appFixPosition>
  <div class="guest-fnrh-header">
    <div>
      <img src="{{'bedroom.svg' | imgCdn}}" alt="{{ 'img.iconBed' | translate }}">
    </div>
    <div>
      <span class="thf-u-font--bold">{{ 'label.resumeReservation' | translate }}:</span>
      <span>
        <img
          src="{{'event-gray.svg' | imgCdn}}"
          alt="{{ 'img.iconCalendar' | translate }}">
      </span>
      <span id="arrivalDepartureDateToDateInfo" class="thf-u-font--bold">
        {{ checkInHeaderDto?.arrivalDate | amDateFormat:'L' }}
        - {{ checkInHeaderDto?.departureDate | amDateFormat:'L' }}
      </span>
    </div>
    <div>
          <span>
            <img src="{{'person-gray.svg' | imgCdn}}" alt="{{ 'img.iconPerson' | translate }}">
          </span>
      <span
        id="adultCountInfo"
        class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-u-font--bold">
            {{ checkInHeaderDto?.adultCount  | pad:2 }}
          </span>
    </div>
    <div>
          <span>
            <img src="{{'child_icon.svg' | imgCdn}}" alt="{{ 'img.iconChild' | translate }}">
          </span>
      <span
        id="childCountInfo"
        class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-u-font--bold">
            {{ checkInHeaderDto?.childCount | pad:2 }}
          </span>
    </div>
    <div>
      <span class="thf-u-font--bold">{{ 'label.status' |translate }}:</span>
      <span
        id="reservationItemStatusNameInfo"
        class="thf-tag"
        [ngClass]="getStatusColor()">
            {{ checkInHeaderDto?.reservationItemStatusName }}
          </span>
    </div>
    <div class="thf-u-text-right thf-input-label">
      <span>{{ 'label.reservationConfirm' | translate }}:</span>
      <span
        id="paymentTypeInfo"
        class="thf-u-font--bold">
          {{ checkInHeaderDto?.paymentType }}
        </span>
    </div>
  </div>

  <div class="guest-fnrh-body">
    <div>
      <label
        class="thf-u-no-margin thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
        {{ 'label.comercialDeal' | translate }}
      </label>
      <div
        id="agreementInfoContainer"
        class=" thf-u-reset-border thf-u-reset-shadow color-deal fix-height-44">
        <div>{{ agreementName }}</div>
        <div *ngIf="agreementTotal">
          {{ agreementTotal | currencyFormat: agreementCurrencySymbol}}
        </div>
      </div>
    </div>
    <div class="select-fix-width">
      <label
        for="typeUH"
        class="thf-u-no-margin thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
        {{ 'label.typeUHComplete' | translate }}
      </label>
      <thx-custom-select
        [disabled]="isCheckinStatus(checkInHeaderDto?.reservationItemStatusId)"
        id="typeUH"
        [optionList]="selectRoomTypesList"
        [selectedOptionId]="selectedOptionTypeUHId"
       [clearOnResetList]='false'
       (selecteOption)="UHTypeSelected($event)"></thx-custom-select>
    </div>
    <div class="select-fix-width">
      <label
        for="numberUH"
        class="thf-u-no-margin thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
        {{ 'label.numberUHComplete' | translate }}
      </label>

      <thx-custom-select
        id="numberUH"
        *ngIf="selectRoomNumberList.length; else noUhAvaiable"
        [disabled]="isCheckinStatus(checkInHeaderDto?.reservationItemStatusId)"
        [optionList]="selectRoomNumberList"
        [selectedOptionId]="selectedOptionTypeNumber"
        (selecteOption)="associateRoomToReservationItem($event)">
      </thx-custom-select>

      <ng-template
        #noUhAvaiable>
        <div>{{ 'text.noUhAvaiable' | translate }}</div>
      </ng-template>
    </div>
    <div>
      <label
        class="thf-u-no-margin thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
        {{ 'label.overnight' | translate}}
      </label>
      <div
        class="thf-input thf-input-select thf-u-reset-border thf-u-reset-shadow d-flex align-items-center thf-u-font-bold ">
        {{ (dataHeader?.overnight || '00') | pad:2  }}
      </div>
    </div>
    <div>
      <label
        class="thf-u-no-margin thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
        {{ 'label.reservationBudget' | translate}}
      </label>
      <div class="thf-input thf-input-select thf-u-reset-border thf-u-reset-shadow d-flex align-items-center">
        <img src="{{'tarifa.svg' | imgCdn}}" alt="{{'img.tarifa' | translate}}">
        <!-- TODO reservationBudgetCurrencySymbol verificar se foi add no backend -->
        <a
          id="reservationBudgetLink"
          class="thf-link thf-u-color--blue thf-u-font--bold thf-u-margin-horizontal--1 thf-u-enable-cursor thf-u-text-decoration--underline"
          app-click-stop-propagation
          (click)="goToReservationBudget()">
          {{
            dataHeader?.reservationBudget | currencyFormat: dataHeader?.reservationItemBudgetHeaderDto?.reservationBudgetCurrencySymbol
          }}
        </a>
      </div>
    </div>
    <div>
      <div class="thf-input thf-input-select thf-u-reset-border thf-u-reset-shadow d-flex align-items-center">
        <span class="thf-u-position--relative">
          <img
            src="{{'obs_vazia.svg' | imgCdn}}"
            alt="{{ 'img.iconObs' | translate }}">
            <i
              class="badge-obs">
                {{ checkInHeaderDto?.numberObservations }}
            </i>
        </span>
        <span
          class="thf-u-margin-left--1">
          <a
            href="javascript:void(0)"
            (click)="showRemarksModal()"
            class="thf-link">
              {{ 'label.obs' | translate }}
          </a>
        </span>
      </div>
    </div>
  </div>
</div>

<app-modal-wrapper modalId="modalTypeUhTax" [title]="'label.attention'">

  <div class="thf-modal-body hp-modal-body--originList">
    <div class="row">
      <div class="col">
        {{'alert.changeUhTypeTax' | translate }}
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row">
      <div class="col-4 offset-8">
        <app-button [buttonConfig]="buttonModalOk"></app-button>
      </div>
    </div>
  </div>

</app-modal-wrapper>
<app-modal-remarks
  (reservationRemarkUpdated)="saveInternalCommentsAndExternalComments($event)">
</app-modal-remarks>
