<div class="thf-group-content">
  <div class="row">
    <div class="col-12">
      <label class="thf-u-no-margin">
        <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
        <span
          class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
            {{ 'label.consultReports' | translate }}
        </span>
      </label>
    </div>
  </div>

  <div class="thf-group-content-body thf-u-padding-vertical--2">
    <form [formGroup]="form">

      <div class="row thf-u-margin-bottom--4">
        <div class="col-4">
          <report-menu
            [formGroupAppSelect]="form">
          </report-menu>
        </div>
      </div>

      <hr class="row"/>

      <div class="row">
        <!-- data picker -->
        <div class="col-4">
          <label
            for="period"
            class="thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1 thf-u-margin-bottom--1">
            {{ 'label.arrivalPeriod' | translate }}</label>
          <thx-date-range-picker
            formControlName="period"
            id="period"
            class="thf-u-no-margin">
          </thx-date-range-picker>
        </div>
        <div class="col-3 thf-u-margin-top--4">
          <app-button [buttonConfig]="btnConfigSearch"></app-button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="thf-u-margin-top--1" *ngIf="pageItemsList && pageItemsList.length > 0">
  <app-header-page-new>
    <header-title>
      <span class="thf-u-font--16 thf-u-font--bold">
        {{ 'label.reservationsInAdvance' | translate }} - {{ actualHour | amDateFormat: 'L' }}
      </span>
    </header-title>
  </app-header-page-new>

  <div class="thf-u-margin-top--1">
    <thx-datatable
      [columnMode]="'auto'"
      [columns]='columns'
      [itens]="pageItemsList"
      [hasLastCell]="false"
      [tableHasScroll]="true"
    ></thx-datatable>
  </div>

  <div class="row">
    <div class="offset-9 col-3 thf-u-margin-top--2">
      <button
        (click)="print()"
        class="thf-btn thf-u-no-padding thf-btn-primary"
        type="button">
        {{ 'action.print' | translate }}
      </button>
    </div>
  </div>
</div>

<app-printable-table
  [hidden]="true"
  #table
  [columnsName]="columns"
  [items]="pageItemsList"
  [title]="'label.reservationsInAdvance' | translate"
></app-printable-table>
