<div class="thf-select-dropdown" id="customDropdown" app-click-stop-propagation>
  <div class="thf-select-dropdown-area-tags-label">
    <div class="thf-select-dropdown-area-tags thf-u-enable-cursor" (click)="toogleItemsAreaSelect()">
      <div class="thf-tag thf-u-background-color--blue" *ngIf="itemChosen; else emptyContent">
        <span>{{itemChosen.value}}</span>
        <input id="thf-tag-{{ itemChosen.key }}" class="thf-tag-close-checkbox" *ngIf="itemChosen" type="checkbox">
        <label for="thf-tag-{{ itemChosen.key }}" (click)="removeItemFromSelect()" class="thf-tag-close">{{ 'commomData.closeIcon' | translate }}</label>
      </div>
      <ng-template #emptyContent>
        <div class="empty-content thf-u-font--16">
          {{placeholderText | translate}}
        </div>
      </ng-template>
    </div>
    <div class="thf-select-dropdown-area-label">
      <label class="thf-select-dropdown-label" for="thf-select-dropdown-close">
        <img src="{{'arrowdown-blue.min.svg' | imgCdn}}" alt="{{ 'commomData.images.arrowDownIcon' | translate }}">
      </label>
    </div>
  </div>
  <input id="thf-select-dropdown-close" class="thf-select-dropdown-checkbox" type="checkbox" [checked]="showItemsSelect" />
  <div class="thf-select-dropdown-area-filter-items thf-u-z-index--10" aria-hidden="true">
    <div class="thf-select-dropdown-filter">
      <input id="filter" [(ngModel)]="filter" [ngModelOptions]="{standalone: true}" class="thf-input"
        type="text" autocomplete="off" placeholder="{{ 'commomData.search' | translate }}">
    </div>
    <ul class="thf-select-dropdown-items" *ngIf="!optionListIsEmpty()">
      <li class="thf-input-select--option" *ngFor="let item of optionList | filterlist:filter:parametersFilter"
        (click)="chooseItem(item)">
        {{item.value}}
      </li>
    </ul>
    <div class="thf-u-margin-left--1 thf-u-font--16" *ngIf="optionListIsEmpty()">
      {{'text.noServiceFound' | translate}}
    </div>
  </div>
</div>
