.tags-tab {
  box-sizing: border-box;
  display: flex;
  min-height: 47px;
  width: 100%;
  flex-wrap: wrap;

  > .tag {
    background: transparent;
    border: 0;
    border-top: 3px solid transparent;
    cursor: pointer;
    display: flex;
    margin: 0 44px 0 0;
    outline: none;
    padding: 14px 0 15px 0;
    text-transform: uppercase;

    > .icon {
      display: block;
      height: 15px;
      margin: 0 12px 0 0;
      width: 15px;
    }

    > .title {
      display: block;
      color: var(--color-grey-submarine);
      font-family: "NunitoSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 10px;
      font-weight: bold;
    }
  }
}


