<div class="tags-tab">
  <button
    class="tag"
    *ngFor="let tag of tags"
    (click)="selectTag(tag)"
    (mouseenter)="onMouseEnterTag(tag)"
    (mouseleave)="onMouseLeaveTag(tag)"
    [ngStyle]="{'border-top-color': getBorderColor(tag)}"
  >
    <img
      class="icon"
      [alt]="tag.title"
      [src]="getSvg(tag) | imgCdn"
    />
    <span class="title">{{tag.title}}</span>
  </button>
</div>
