:host {
  display: block;
  width: 100%;
}

::ng-deep {
  button {
    width: 100%;
  }

  .thx-toggle-item {
    margin-left: -1px;

    button {
      border-radius: 0 !important;

      .text {
        flex: 1;
      }
    }

    &:first-of-type{
      margin-left: 0;

      button{
        border-radius: 4px 0 0 4px !important;
      }
    }

    &:last-of-type{
      button{
        border-radius: 0 4px 4px 0 !important;
      }
    }
  }
}

.thx-toggle-group-container {
  display: flex;

  .thx-toggle-item {
    display: block;
    width: 100%;
    flex: 1;
  }
}
