<div
  class="thx-steps"
  [ngClass]="{'--horizontal': isHorizontal}"
>
  <div
    class="step"
    *ngFor="let step of steps; index as i"
    [ngClass]="getStepCssClasses(step)"
    (click)="select(step)"
  >
    <img
      alt=""
      class="image"
      *ngIf="step.complete && !step.active"
      [src]="'success-step.svg' | imgCdn"
    />
    <span
      *ngIf="!step.complete || step.active"
      class="count"
    >{{i + 1}}</span>
    <span
      class="title"
      *ngIf="step.title"
    >{{step.title}}</span>
  </div>
</div>
