.thx-steps {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 69px;

  &.--horizontal {
    flex-direction: row;
    height: 50px;
    padding: 4px;
    width: 100%;

    > .step {
      font-size: 10px;
      height: 26px;
      line-height: 26px;
      width: 26px;
      margin: 0 46px;

      &:first-of-type {
        margin: 0 46px 0 0;
      }

      &:last-of-type {
        margin: 0 0 0 46px;
      }

      &:only-of-type {
        margin: 0;
      }

      &.--active {
        &:before {
          border-radius: 35px;
          height: 35px;
          width: 35px;
        }

        > .title {
          color: var(--color-card-gradient-final);
        }
      }

      > .title {
        bottom: -22px;
        display: block;
        position: absolute;
        height: 15px;
        line-height: 15px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 90px;
      }
    }
  }

  > .step {
    background: var(--color-grey);
    border-radius: 49px;
    color: var(--color-white);
    cursor: pointer;
    display: flex;
    font-size: 20px;
    height: 49px;
    justify-content: center;
    line-height: 49px;
    margin: 36px 0;
    position: relative;
    text-align: center;
    width: 49px;

    &:first-of-type {
      margin: 0 0 36px 0;
    }

    &:last-of-type {
      margin: 36px 0 0 0;
    }

    &:only-of-type {
      margin: 0;
    }

    &.--complete {
      background: var(--color-success);
    }

    &.--active {
      background: var(--color-card-gradient-final);

      &:before {
        content: ' ';
        background: transparent;
        border-radius: 66px;
        border: 3px solid var(--color-card-gradient-final);
        height: 66px;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 66px;
      }
    }

    &.--disabled {
      cursor: default;
    }

    > .image {
      height: 100%;
      width: 100%;
    }

    > .title {
      display: none;
      color: var(--color-grey);
    }
  }
}
