<div class="col-11 thf-margin-0-auto parameter-box thf-u-margin-top--1">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="thf-group-content">
        <input type="checkbox" class="thf-group-toogle thf-u-z-index--1000"/>
        <div class="thf-group-content-header">
          <div class="d-flex justify-content-between">
            <div class="col-3 align-self-center">
              <span class="align-self-center" data-toggle="collapse" data-target="#customerBox" aria-expanded="false"
                    aria-controls="customerBox">
                <i
                  class="align mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-input-label--required">{{ 'label.customers' | translate }}</span>
              </span>
            </div>
            <div class="col-6">
              <app-filter-search [searchableItems]="searchBarConfig" (searchUpdated)="updateList($event)"
                                 [hasBorderBottom]="true"></app-filter-search>
            </div>
            <div class="col-3">
              <app-button [buttonConfig]="associateButtonConfig"></app-button>
            </div>
          </div>
        </div>
        <div id="customerBox" class="thf-group-content-body">
          <div class="row">
            <div class="col">
              <thx-datatable
                *ngIf="showTable"
                [columns]='columns'
                [itens]="pageItemsList"
                [emptyMessage]="'text.noneCustomerAssociated'"
                [completeEmptyMessageContent]="'text.noneCustomerAssociatedDescription'"
                [deleteModeOption]="true"
                (deleteClicked)="removeCustomerAssociated($event)"
              ></thx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<thx-customer-associate-modal [modalId]="MODAL_ASSOCIATE_CUSTOMER_ID" (shouldCloseModal)="closeModal()"
                              (confirmAssociation)="associateCustomer($event)" [companyClientList]="companyClientList"
                              [companyClientCategoryList]="companyClientCategoryList"></thx-customer-associate-modal>
