.ajust-width {
  width: 70%;
}
.select-center {
  text-align-last: center;
}
.right-icon-ajust {
  right: 55px;
}
.hps-schedule-popover {
  top: 110%;
  left: -52%;
  width: 240px;
}
.hps-beds-included-popover,
.hps-extras-bed-popover {
  width: 240px;
}

.hps-beds-included-popover {
  top: 1px;
  right: 0;
}

.hps-extras-bed-popover {
  bottom: 1px;
  right: 0;
}

.hps-space-left {
  margin-left: 20px;
}

:host ::ng-deep datatable-body {
  height: 248px !important;
  overflow-x: hidden !important;
}

:host ::ng-deep datatable-footer {
  display: none !important;
}

.ajust-padding {
  padding: 20px 45px;
}

@media (max-width: 1200px) {
  .hps-children-popover {
    top: 110%;
    left: -55%;
    right: -55%;
  }
  .hps-space-left {
    margin-left: 0px;
  }
}
