<app-modal-remarks
  [readonly]="isView"
  (reservationRemarkUpdated)="setInternalCommentsAndExternalCommentsInReservation($event)">
</app-modal-remarks>

<app-modal-group-options
  [readonly]="getReadOnlyForGroupOptions()"
  (reservationGroupOptionUpdated)="setGroupNameAndUnifyAccountsInReservation($event)">
</app-modal-group-options>

<app-reservation-cancel
  [reservation]="reservation"
  (cancelReservationEvent)="cancelReservation()">
</app-reservation-cancel>

<app-header-page-new [config]="configHeaderPage" [rightButtonList]="topButtonsListConfig">
  <header-title>
    {{ titlePage }} <span *ngIf="reservationId"> - {{reservation.reservationCode}}</span>
  </header-title>
</app-header-page-new>

<!-- TODO: change to correct image -->
<thx-img-info class="thex-secondary thex-bg"
              [imgInfo]="'img-calendar.svg'"
              [titleInfo]="'label.shareRoomList'"
              [newFlag]="true"
              [textClasses]="{'titleClass': 'thex-color-white', 'bodyClass': 'thex-color-white'}"
              [textInfo]="'text.shareRoomlistNew'"></thx-img-info>

<form #form novalidate [formGroup]="newReservationForm" class="thf-u-margin-top--1">

  <div formGroupName="contactGroup" class="row">
    <div class="col-12">
      <div class="thf-group-content">
        <div class="thf-group-content-header">
          <div class="row">
            <div class="col-11">
              <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
              <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">{{ 'reservationModule.commomData.clientsAndContact' | translate }}</span>
            </div>
          </div>
        </div>
        <div class="thf-group-content-body thf-u-padding-top--1">
          <div class="row thf-u-padding-horizontal--3">
            <div id="newReservationForm-clients" class="col-4 col-lg-4 thf-u-no-padding">
              <label for="client" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-no-margin">{{ 'label.companyAgency' | translate }}</label>
              <app-autocomplete
                [modelToTemplate]="newReservationForm.get('contactGroup.client').value"
                [id]="'client'"
                [parent]="newReservationForm.get('contactGroup')"
                [controlName]="'client'"
                [autocompleteConfig]="autocompleteConfig"
                [resultList]="autocompleteConfig.resultList"
                [readonly]="isView">
              </app-autocomplete>
            </div>
            <div id="newReservationForm-contactName" class="col-4 col-lg-3">
              <label for="name" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required thf-u-no-margin">{{ 'reservationModule.commomData.contactName' | translate }}</label>
              <app-autocomplete
                [modelToTemplate]="newReservationForm.get('contactGroup.name').value"
                [id]="'name'"
                [parent]="newReservationForm.get('contactGroup')"
                [controlName]="'name'"
                [autocompleteConfig]="autocompleteConfigContactName"
                [resultList]="autocompleteConfigContactName.resultList"
                [readonly]="isView">
              </app-autocomplete>
              <thx-error formControlName="name"></thx-error>
            </div>
            <div id="newReservationForm-contactEmail" class="col-4 col-lg-3">
              <label for="contactEmail" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required thf-u-no-margin">{{ 'reservationModule.commomData.email' | translate }}</label>
              <input type="text" id="contactEmail" formControlName="email" class="thf-input"
                     [readOnly]="isView">
              <thx-error formControlName="email"></thx-error>

            </div>
            <div id="newReservationForm-contactPhone" class="col-4 col-lg-2">
              <label for="phone" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine  thf-u-no-margin">{{ 'reservationModule.commomData.phone' | translate }}</label>
              <input type="text" id="phone" formControlName="phone" class="thf-input"
                     [readOnly]="isView">
              <thx-error formControlName="phone"></thx-error>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="thf-u-margin-vertical--2">
    <app-group-content
      [title]="'commomData.titles.confirmationReservation'"
      bodyClass="thf-u-padding-top--1"
    >
      <div class="row thf-u-padding-horizontal--3">
        <div id="newReservationForm-paymentType" class="col-xs-3 col-lg-3 thf-u-no-padding">
          <label for="paymentType" class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required thf-u-no-margin">{{ 'reservationModule.commomData.paymentType' | translate }}</label>
          <app-select
            [parent]="newReservationForm.get('selectValuePaymentType')"
            [optionList]="paymentTypeOptionList"
            [selectId]="'paymentType'"
            [isUppercase]="false"
            [hasFormGroup]="true"
            [hasMagin]="false"
            [readonly]="isView">
          </app-select>
          <thx-error [control]="newReservationForm.get('selectValuePaymentType').get('paymentType')" ></thx-error>

        </div>
        <div *ngIf="hasClientToBill" class="col-xs-4 col-lg-4">
          <label for="clientName" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">{{ 'reservationModule.paymentTypes.billFor' | translate }}</label>
          <app-autocomplete
            [modelToTemplate]="newReservationForm.get('clientToBillGroup.clientName').value"
            [id]="'clientName'"
            [parent]="newReservationForm.get('clientToBillGroup')"
            [controlName]="'clientName'"
            [autocompleteConfig]="autocompleteConfigClientToBill"
            [resultList]="autocompleteConfigClientToBill.resultList"
            [readonly]="isView">
          </app-autocomplete>
        </div>
        <div *ngIf="hasFlagNoShow" class="col-xs-2 col-lg-2 text-center">
          <no-show-flag
            [isActiveFlagNoShow]="isActiveFlagNoShow"
            (noShowIsActive)="setNoShowReservationConfirmation($event)"
            [readonly]="isView">
          </no-show-flag>
        </div>
        <div *ngIf="hasPaymentConfig" class="col-xs-2 col-lg-2">
          <money-input
            [title]="'label.valueConfirmation'"
            [placeholderText]="placeholderTextMoneyInput"
            [parent]="newReservationForm.get('moneyGroup')"
            [controlName]="'moneyValue'"
            [readonly]="isView"
          ></money-input>
        </div>
        <div *ngIf="hasFlagReservationConfirmed" class="col-xs-2 col-lg-2 text-center">
          <flag-reservation-confirmed
            [isActiveFlagConfirmed]="isActiveFlagConfirmed"
            (reservationConfirmedIsActive)="setReservationConfirmationStatus($event)"
            [readonly]="isView">
          </flag-reservation-confirmed>
        </div>
        <div [hidden]="!hasPaymentConfig"
             class="col-xs-2 col-lg-2"
             [ngClass]="{'thf-u-disable-cursor': isDeadlineDisabled}">
          <deadline-input
            [ngClass]="{'thf-u-no-pointer-events': isDeadlineDisabled}"
            extraClass="thf-u-no-margin"
            [parent]="newReservationForm.get('deadlineGroup')"
            [controlName]="'deadline'"
            [disableUntil]="datePickerDisableUntil"
            [readonly]="isView">
          </deadline-input>
        </div>
        <div *ngIf="showPrePaymentFlag() && hasPaymentConfig" class="col-xs-2 col-lg-2 text-center" >
          <app-flag-launch-daily
            [isActiveFlag]="launchDaily"
            (flagChangeStatus)="shouldLaunchDaily($event)"
            [disabled]="!isActiveFlagConfirmed || isView" ></app-flag-launch-daily>
        </div>
      </div>
    </app-group-content>
  </div>

  <div [hidden]="!hasPaymentCreditCardConfig" class="thf-group-content-body thf-group-content-body--grey-azure ajust-padding">
    <credit-card-data
      [parent]="newReservationForm.get('creditCardGroup')"
      [readonly]="isView">
    </credit-card-data>
  </div>

  <div class="thf-u-margin-vertical--1">
    <app-group-content
      [title]="'reservationModule.commomData.reservationDetails'"
      bodyClass="thf-u-padding-top--1"
    >
      <div class="row thf-u-padding-horizontal--3 ">
        <div id="newReservationForm-origin" class="col-4 col-lg-4 thf-u-no-padding">
          <label for="client" class="thf-input-label thf-u-font--14 thf-u-no-margin thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">{{ 'reservationModule.commomData.origin' | translate }}</label>
          <app-select
            [parent]="newReservationForm.get('selectOrigin')"
            [optionList]="optionsOriginList"
            [selectId]="'origin'"
            [isUppercase]="false"
            [hasFormGroup]="true"
            [hasMagin]="false"
            [readonly]="isView">
          </app-select>
          <thx-error [control]="newReservationForm.get('selectOrigin').get('origin')" ></thx-error>

        </div>
        <div id="newReservationForm-marketSegment" class="col-5 col-lg-5">
          <label for="contactName" class="thf-input-label thf-u-font--14 thf-u-no-margin thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">{{ 'reservationModule.commomData.marketSegment' | translate }}</label>
          <app-select
            [parent]="newReservationForm.get('selectMarketSegment')"
            [optionList]="optionsMarketSegmentList"
            [selectId]="'marketSegment'"
            [isUppercase]="false"
            [hasFormGroup]="true"
            [hasMagin]="false"
            [readonly]="isView">
          </app-select>
          <thx-error [control]="newReservationForm.get('selectMarketSegment').get('marketSegment')"></thx-error>

        </div>
      </div>
    </app-group-content>
  </div>

  <reservation-insert-form
    *ngIf="!isView"
    [rateProposalStorage]="rateProposalStoreItem"
    (setReservationGroupFormOnReservation)="setReservationGroupForm($event)"
    [reservationData]="reservation"
    [roomTypesData]="roomTypes"
    [propertyId]="propertyId"
    [companyClientId]="client?.id"
    [reservationItemId]="reservationItemId"
    [reservationItemCommercialBudgetFromCreate]="reservationItemCommercialBudget"
    [budgetChildAgeList]="budgetChildAgeList"
    [(filterWord)]= "filterParameters"
    (setFocusOnReservationItem)="setFocus($event)"
    (showCancelOrReactivateButtonOnReservation)="showCancelOrReactivateButton()"
    (setStatusColorFooterOnReservationItem)="setStatusColorFooter()"
    (setTotalsOfReservation)="setTotalsOfReservation($event)"
    (setReservationBudget)="budgetModalIdsetReservationBudget($event)"
  ></reservation-insert-form>

  <div class="thf-group-content-insert">
    <div class="row">
      <div class="col-12">
        <div
          class="thf-u-padding--1"
          *ngIf="reservation.reservationItemViewList && reservation.reservationItemViewList.length > 0; else elseBlock">
          <reservation-item-card
            [readonly]="isView"
            [isRoomTypeWithoutBaseRate]="isRoomTypeWithoutBaseRate"
            [reservationItemViewList]="reservation.reservationItemViewList"
            [reservationItemId]="reservationItemId"
            [searchData]="filterParameters"
            [companyClientId]="client?.id"
            (createReserve)="checkToSaveReservation($event)"
            (showBudgetModal)="setReservationItemViewWhichIsUpdating($event)"
            (reactivateReservationItemEvent)="reactivateReservationItem($event)"
            (setTotalsOfReservation)="setTotalsOfReservation($event)"
            (sendBudgetForReservationCreate)="updateReservationItemCard($event)">
          </reservation-item-card>
        </div>
        <ng-template #elseBlock>
          <app-empty-content
            extraClass="thf-u-no-margin"
            [title]="'reservationModule.reserveCreate.titleGroupEmptyMessage'"
            [textDescription]="'reservationModule.reserveCreate.firtDescriptionGroupEmptyMessage'"
            [textBold]="'commomData.insert'"
            [textComplement]="'reservationModule.reserveCreate.secondDescriptionGroupEmptyMessage'"
            [htmlDescription]="'reservationModule.reserveCreate.secondDescriptionGroupEmptyMessageHtml'">
          </app-empty-content>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="thf-group-content-footer thf-u-margin-vertical--2">
    <div class="row">
      <div class="col-lg-3 col-xl-2">
        <div class="thf-group-icon-content thf-u-enable-cursor" (click)="showRemarksModal()">
          <div class="thf-group-icon-content-left thf-u-text-right thf-u-vertical-align-middle">
            <img *ngIf="remarksQuantity == 0" src="{{'obs_vazia.svg' | imgCdn}}" alt="{{ 'reservationModule.commomData.remarks' | translate }}"
            />
            <img *ngIf="remarksQuantity == 1" src="{{'obs_1.svg' | imgCdn}}" alt="{{ 'reservationModule.commomData.remarks' | translate }}"
            />
            <img *ngIf="remarksQuantity == 2" src="{{'obsIcon.svg' | imgCdn}}" alt="{{ 'reservationModule.commomData.remarks' | translate }}"
            />
          </div>
          <div class="thf-group-icon-content-right thf-u-text-left thf-u-padding-left--1">
            <span class="thf-input-label--grey-submarine thf-input-label--optional thf-u-font--14">
              {{ 'reservationModule.commomData.remarks' | translate }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xl-3">
        <div
          *ngIf="reservation.reservationItemViewList.length > 1"
          class="thf-group-icon-content thf-u-enable-cursor"
          (click)="showGroupOptionsModal()">
          <div class="thf-group-icon-content-left thf-u-text-right thf-u-vertical-align-middle">
            <img src="{{'icon-communities.svg' | imgCdn}}" alt="{{ 'reservationModule.commomData.groupOptions' | translate }}"
            />
          </div>
          <div class="thf-group-icon-content-right thf-u-text-left thf-u-padding-left--1">
            <span class="thf-input-label--grey-submarine thf-input-label--optional thf-u-font--14">
              {{ 'reservationModule.commomData.groupOptions' | translate }}
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-xl-7 thf-u-text-right">
        <div class="thf-u-font--14">
          <span class="thf-input-label--grey-submarine">
            {{ 'reservationModule.commomData.reserveTotals' | translate }}
          </span>
          <span>
            <span
              *ngIf="sameCurrency(); else multipleCurrency"
              class="thf-input-label--optional thf-u-font--bold thf-u-font--16">
              {{ totalsValuesAccomodations.totalValueDaily | currencyFormat: totalsValuesAccomodations.currencySymbol }}
            </span>
            <span>
              - {{totalsValuesAccomodations.totalRooms}} {{ 'reservationModule.commomData.roomInSingularOrPlural' | translate }}
              ,
              {{totalsValuesAccomodations.totalGuests}} {{ 'reservationModule.commomData.guestInSingularOrPlural' | translate }}
              ,
              {{totalsValuesAccomodations.totalAdults}} {{ 'reservationModule.commomData.adultInSingularOrPlural' | translate }}
              ,
              {{totalsValuesAccomodations.totalChildren}} {{ 'reservationModule.commomData.childInSingularOrPlural' | translate }}
            </span>
          </span>
          <ng-template #multipleCurrency>
            {{ 'label.differentRateCurrencies' | translate }}
          </ng-template>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isView"
       class="row thf-u-margin-top--3">
    <div class="offset-lg-8 col-lg-2 col-xl-2">
      <button (click)="goBackPreviewPage()" type="button" name="button" id="cancelReservation" class="thf-btn thf-btn-secondary">{{ 'commomData.cancel' | translate }}</button>
    </div>
    <div class="col-lg-2 col-xl-2">
      <button *ngIf="!isWalkin" type="button" name="button" (click)="saveReservationAndRedirect()" id="saveReservation-confirm" [disabled]="disabledButtonConfirmReservation()" class=" thf-btn thf-btn-primary">{{ 'commomData.confirm' | translate }}</button>
      <button *ngIf="isWalkin" type="button" name="button" (click)="saveReservationAndRedirect()" id="saveReservation-continue" [disabled]="disabledButtonConfirmReservation()" class=" thf-btn thf-btn-primary">{{ 'reservationModule.reserveCreate.continueToCheckin' | translate }}</button>
    </div>
  </div>
</form>

<reservation-resume-modal
  [modalId]="MODAL_RESUME_RESERVATION"
  [reservation]="reservation"
  [reservationItemList]="reservationItemList"
  [close]="closeModalCallback"
  [currencySymbol]="currencySymbol"
  [propertyId]="propertyId" >
</reservation-resume-modal>
