<div class="thf-modal-body hps-modal-reservation-item-overflow-y">
  <div *ngIf="showHeader" class="row thf-u-margin-bottom--2 thf-u-padding-horizontal--2">
    <div class="col-3">
      <label class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold thf-input-label--required">
        {{'text.commercialOffer' | translate}}
      </label>
      <thx-custom-select *ngIf="reservationItemCommercialBudget?.selectReservationItemCommercialBudgetList && reservationItemCommercialBudget?.selectReservationItemCommercialBudgetList.length > 0 && !reservationItemCommercialBudget?.isGratuityType; else reservationBudgetListEmpty"
         id="ratePlan"
         [selectedOptionId]="reservationItemCommercialBudget?.reservationItemCommercialBudgetCurrent"
         [optionList]="reservationItemCommercialBudget?.selectReservationItemCommercialBudgetList"
         (selecteOption)="setReservationItemCommercialBudgetCurrent($event)"
         [disabled]="reservationItemCommercialBudget?.isGratuityType"
         [backgroundColorItemSelected]="'#EA9B3E'"
         [colorTextItemSelected]="'#FFFFFF'"
         [itemClass]="'hps-select-item'"
         [itemSelectedClass]="'hps-item-selected'"
         [arrowClass]="'thf-u-filter-svg--white'"
         [minHeight]="51">
      </thx-custom-select>
      <ng-template #reservationBudgetListEmpty>
        <div class="thf-u-font-14">{{'text.reservationBudgetListEmpty' | translate}}</div>
      </ng-template>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <label class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">
            {{'label.roomTypeCharged' | translate}}
          </label>
          <span class="thf-u-block thf-u-font--14 thf-u-font--bold reservation-budget-detail">
            {{reservationItemCommercialBudget?.reservationItemCommercialBudgetCurrent?.roomTypeAbbreviation}}
          </span>
        </div>
        <div class="col-6">
          <label class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">
            {{'label.baseRate' | translate}}
          </label>
          <span class="thf-u-block thf-u-font--14 thf-u-font--bold reservation-budget-detail">
              <span *ngIf="hasSymbol">
                {{reservationItemCommercialBudget?.reservationItemCommercialBudgetCurrent?.currencySymbol}}
              </span>
            {{reservationItemCommercialBudget?.reservationItemCommercialBudgetCurrent?.totalBudget | number:'1.2-2' }}
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold thf-u-margin-top--1">
            {{'label.pensionType' | translate}}
          </label>
          <span class="thf-u-block thf-u-font--14 thf-u-font--bold reservation-budget-detail">
                {{reservationItemCommercialBudget?.reservationItemCommercialBudgetCurrent?.mealPlanTypeName}}
            </span>
        </div>
        <div class="col-6">
          <label class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold thf-u-margin-top--1">
            {{'label.rateVariation' | translate}}
          </label>
          <span class="thf-u-block thf-u-color--blue thf-u-font--14 thf-u-font--bold reservation-budget-detail">
                {{reservationItemCommercialBudget?.reservationItemCommercialBudgetCurrent?.rateVariation}}%
            </span>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-12">
          <label class="thf-u-font--14 thf-u-color--grey-submarine thf-u-font--bold thf-u-block">
            {{'label.gratuity' | translate}}
          </label>
          <input type="checkbox" [(ngModel)]="reservationItemCommercialBudget.isGratuityType" (ngModelChange)="changeEnableGratuityType($event)" class="thf-input-radio-button " id="checkStatus">
          <label for="checkStatus">
            <span class="ui"></span>
          </label>
        </div>
        <div class="col-12">
          <label class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold thf-u-margin-top--1">
            {{'label.gratuityType' | translate}}
          </label>
          <app-select
            [optionList]="reservationItemCommercialBudget?.gratuityTypeSelectOptionsList"
            [selectId]="'gratuityTypeId'"
            [selectedOptionId]="reservationItemCommercialBudget?.gratuityTypeId"
            [hasMagin]="true"
            [disabled]="!reservationItemCommercialBudget.isGratuityType"
            (selectedOption)="updateGratuityType($event)">
          </app-select>
        </div>
      </div>
    </div>
  </div>
  <div class="thf-margin-top--2" >
    <reservation-budget-detail-table-modal
      *ngIf="reservationItemCommercialBudget?.reservationBudgetTableList?.length > 0 && budgetTableConfig?.mealPlanTypeList"
      (reservationBudgetListChange)="updateReservationBudgetList($event)"
      (mealPlanTypeChange)="updateValuesByMealPlanType($event)"
      (totalsChange)="setTotals()"
      [budgetTableConfig]="budgetTableConfig"
      [reservationItemCommercialBudgetConfig]="reservationItemCommercialBudget"
      [reservationBudgetTableList]="reservationItemCommercialBudget?.reservationBudgetTableList"
      [enableAllInputs]="enableAllInputs"
      [isGratuityType]="reservationItemCommercialBudget?.isGratuityType">
    </reservation-budget-detail-table-modal>
    <div class="thf-u-background-color--blue thf-u-margin-top--1 thf-u-color--white thf-u-font--14 thf-u-padding--1 thf-u-padding-left--2 thf-u-padding-right--2">
      <div class="row">
        <div class="col-lg-5 col-xl-5">
          <span class="thf-u-font--bold">
            {{'text.budgetOfThisAccommodation' | translate}}: {{reservationItemCommercialBudget?.reservationItemCommercialBudgetCurrent?.currencySymbol}} {{reservationItemCommercialBudget?.reservationItemCommercialBudgetCurrent?.totalBudget | currencyFormat: null:2:'.':',':3:false}}</span>        </div>
        <div class="col-lg-2 col-xl-2">
          <span class="thf-u-vertical-align-middle">{{'text.overnights' | translate}}: {{reservationItemCommercialBudget?.reservationBudgetTableList?.length}}</span>
        </div>
        <div class="col-lg-4 col-xl-4">
          <span>{{'text.dailyAverageAdr' | translate}}: {{reservationItemCommercialBudget?.reservationItemCommercialBudgetCurrent?.currencySymbol}} {{reservationItemCommercialBudget?.averageDaily | currencyFormat: null:2:'.':',':3:false}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="thf-modal-footer" *ngIf="showFooter">
  <div class="row">
    <div class="col-8">
      <span class="thf-u-color--red thf-u-font--14" *ngIf="reservationBudgetListHasAgreementRateChanged()">
            {{'text.budgetModalAttentionMessage' | translate}}
        </span>
    </div>
    <div class="col-2 thf-u-margin-top--2">
      <app-button [buttonConfig]="cancelButtonConfig"></app-button>
    </div>
    <div class="col-2 thf-u-margin-vertical--2">
      <app-button [buttonConfig]="confirmButtonConfig"></app-button>
    </div>
  </div>
</div>
