<app-modal-wrapper [modalId]="modalId" title="title.splitEntry" minWidth="600px" >
  <app-split-entry-form
    [propertyId]="propertyId"
    [(splitEntry)]="splitItemEntry"
    (formStatusChange)="canSave($event)"
  ></app-split-entry-form>
  <app-modal-footer-default
    [modalId]="modalId"
    (cancel)="cancelModal()"
    (confirm)="confirmModal()"
    [confirmButtonEnabled]="isOkToSave"
    ></app-modal-footer-default>
</app-modal-wrapper>
