<div *ngIf="!isSynthesise; else synthesiseTable">
  <div *ngFor="let group of borderoGroupList">
    <app-printable-table
      [periodInfo]="periodInfo"
      [columnsName]="columnsName"
      [items]="group?.items"
      [props]="props"
      title="{{('title.bordereau' | translate ) + ' | ' + group?.billingItemName }}"
      [footerTemplate]="footer"
    ></app-printable-table>

    <ng-template #footer>

      <tr>
        <td>
          <div class="row footer">
            <div><span class="thf-u-font-size--16 thf-u-font--bold">
              {{'label.grossAmount' | translate }}</span>{{ group.grossAmount | currencyFormat: group.currencySymbol }}
            </div>
            <div><span class="thf-u-font-size--16 thf-u-font--bold">
              {{'label.reversedAmount' | translate }}
            </span>{{ group.reversedAmount | currencyFormat: group.currencySymbol }}</div>
            <div><span class="thf-u-font-size--16 thf-u-font--bold">
              {{'label.netAmount' | translate }}
            </span>{{ group.netAmount | currencyFormat: group.currencySymbol }}</div>
          </div>
        </td>
      </tr>
    </ng-template>

    <hr>
  </div>
</div>

<ng-template #synthesiseTable>
  <app-printable-table
    [periodInfo]="periodInfo"
    [columnsName]="columnsName"
    [items]="items"
    [props]="props"
    [title]="'title.bordereau' | translate"
  ></app-printable-table>
</ng-template>
