<div class="thf-card-reserve-content thf-u-padding--1 thf-u-padding-horizontal--2"
  #menuHeader>
  <div class="thf-card-reserve-header" >
    <div class="flex-even">
      <div class="thf-u-margin-vertical--1" >
        <span>
          <img src="{{'bedroom.svg' | imgCdn}}" alt="{{ 'img.iconBed' | translate }}" >
        </span>
      </div>

      <div class="col thf-u-margin-vertical--1">

        <span class="thf-u-font--bold thf-u-no-margin thf-input-label " >
          {{ 'label.resumeReservation' | translate }}:
        </span>

        <span class="thf-u-margin-horizontal--1">
          <span>
            <img src="{{'event-gray.svg' | imgCdn}}" alt="{{ 'img.iconCalendar' | translate }}">
          </span>
          <span class="thf-u-font--bold" >
            {{ checkInHeaderDto?.arrivalDate | amDateFormat:'L' }} - {{ checkInHeaderDto?.departureDate | amDateFormat:'L' }}
          </span>
        </span>

        <span class="thf-u-margin-horizontal--1">
          <span>
            <img src="{{'person-gray.svg' | imgCdn}}" alt="{{ 'img.iconPerson' | translate }}">
          </span>
          <span class=" thf-u-no-margin thf-input-label  thf-u-font--14 thf-u-font--bold" >
            {{ checkInHeaderDto?.adultCount  | pad:2 }}
          </span>
        </span>

        <span class="thf-u-margin-horizontal--1">
          <span>
            <img src="{{'child_icon.svg' | imgCdn}}" alt="{{ 'img.iconChild' | translate }}">
          </span>
          <span
            class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-u-font--bold"  >
            {{ checkInHeaderDto?.childCount | pad:2 }}
          </span>
        </span>

        <span class="thf-u-margin-horizontal--1">
          <span class="thf-u-font--bold" >{{ 'label.status' |translate }}:</span>
          <span
            class="thf-tag"
            [ngClass]="getStatusColor()" >
            {{ checkInHeaderDto?.reservationItemStatusName }}
          </span>
        </span>

      </div>
      <div class="thf-u-text-right  thf-u-no-margin thf-input-label thf-u-margin-vertical--1">
        <span>{{ 'label.reservationConfirm' | translate }}:</span>
        <span class="thf-u-font--bold" >
          {{ checkInHeaderDto?.paymentType }}
        </span>
      </div>
    </div>
  </div>

  <div class="thf-card-reserve-body">
    <div class="flex-even">

      <div class="to-bottom">
        <label class="thf-u-no-margin thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
          {{ 'label.comercialDeal' | translate }}
        </label>
        <div class=" thf-u-reset-border thf-u-reset-shadow fix-height-44" >
          <div>{{ agreementName }}</div>
          <div *ngIf="agreementTotal" class="thf-u-font--bold">
            {{ 'label.total' | translate }}
            <span>{{dataHeader?.reservationItemBudgetHeaderDto?.commercialBudgetList[0]?.currencySymbol}}
            {{ agreementTotal | currencyFormat:null:2:'.':',':3:false}} </span>
          </div>
        </div>
      </div>

      <div class="select-fix-width">
        <label
          class="thf-u-no-margin thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold" >
          {{ 'label.typeUHComplete' | translate }}
        </label>
        <div
          class="thf-input thf-input-select thf-u-reset-border thf-u-reset-shadow d-flex align-items-center thf-u-font--bold">
          {{ checkInHeaderDto?.receivedRoomTypeAbbreviation }}
        </div>
      </div>

      <div class="select-fix-width">
        <label
          class="thf-u-no-margin thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold" >
          {{ 'label.numberUHComplete' | translate }}
        </label>
        <div
          class="thf-input thf-input-select thf-u-reset-border thf-u-reset-shadow d-flex align-items-center thf-u-font--bold">
          {{checkInHeaderDto?.roomNumber}}
        </div>
      </div>

      <div class="to-bottom">
        <label
          class="thf-u-no-margin thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold" >
          {{ 'label.overnight' | translate}}
        </label>
        <div
          class="thf-input thf-input-select thf-u-reset-border thf-u-reset-shadow d-flex align-items-center thf-u-font--bold">
          {{ (dataHeader?.overnight || '00') | pad:2  }}
        </div>
      </div>

      <div class="to-bottom">
        <label class="thf-u-no-margin thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold" >
          {{ 'label.reservationBudget' | translate}}
        </label>
        <div class="thf-input thf-input-select thf-u-reset-border thf-u-reset-shadow d-flex align-items-center thf-u-font--20" >
          <img  class="budget-img" src="{{'tarifa.svg' | imgCdn}}" alt="{{'img.tarifa' | translate}}" >
          <a
            class="thf-link thf-u-color--blue thf-u-font--bold thf-u-margin-horizontal--1 thf-u-enable-cursor commercial-budget-link"
            app-click-stop-propagation (click)="goToReservationBudget()" >
            <span>{{dataHeader?.reservationItemBudgetHeaderDto?.commercialBudgetList[0]?.currencySymbol}}
            {{ dataHeader?.reservationBudget | currencyFormat:null:2:'.':',':3:false}} </span>
          </a>
        </div>
      </div>
      <div class="to-bottom">
        <div class="thf-input thf-input-select thf-u-reset-border thf-u-reset-shadow d-flex align-items-center" >
          <span class="thf-u-position--relative" >
            <img src="{{'obs_vazia.svg' | imgCdn}}" alt="{{ 'img.iconObs' | translate }}">
            <i class="badge-obs" >{{ checkInHeaderDto?.numberObservations }}</i>
          </span>
          <span class="thf-u-margin-left--1">
            <a href="javascript:void(0)"
               (click)="showRemarksModal()"
               class="thf-link" >
                {{ 'label.obs' | translate }}
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<app-modal-remarks
  (reservationRemarkUpdated)="saveInternalCommentsAndExternalComments($event)">
</app-modal-remarks>


<app-modal-wrapper modalId="modalTypeUhTax" [title]="'label.attention'">

  <div class="thf-modal-body hp-modal-body--originList">
    <div class="row">
      <div class="col">
        {{'alert.changeUhTypeTax' | translate }}
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row">
      <div class="col-4 offset-8">
        <app-button [buttonConfig]="buttonModalOk"></app-button>
      </div>
    </div>
  </div>

</app-modal-wrapper>
