:root {
  --color-black: #000000;
  --color-grey: #B7BEBF;
}

.header-details-wrapper--popover{
  position: relative;
  z-index: 9;

  .thf-popover {
    position: absolute;
    min-width: 325px;
    left: 19px;
    top: 35px;
  }

  .header-data {
    font-weight: bold;
    font-size: 14px;
    color: var(--color-black);
  }
}

.header-details-popover-list {
  margin: 0;
  padding: 0;
}

.header-details-popover-list--item {
  position: relative;
  cursor: pointer;
  display: block;
  padding: 9px 0;
  border-bottom: 1px solid var(--color-grey);

  span {
    color: var(--color-black);
    font-size: 14px;
    margin: 0;
  }

  .row {
    pointer-events: none;
  }

  .col:first-child span {
    position: relative;
    left: 20px;
  }

  &:last-child {
    border-bottom: none;
  }

  &.active {
    background: #EAF8F9;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 18px;
      height: 8px;
      border-left: 2px solid #179FC1;
      border-bottom: 2px solid #179FC1;
      transform: rotate(-45deg);
      top: 14px;
      left: 30px;
    }

    span {
      color: #179FC1;
    }
  }

  &:hover {
    background: #EAF8F9;

    span {
      color: #179FC1;
    }

  }
}

.flex-even {
  display: flex;
  justify-content: space-between;
}
.to-bottom {
  align-self: flex-end;
}

.badge-obs {
  position: absolute;
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
  border-radius: 50px;
  width: 20px;
  height: 20px;
  top: 14px;
  font-size: 13px;
  left: 15px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 2px;
  align-items: center;
  font-style: normal;
}

.select-fix-width {
  width: 200px;
}
.ajust-left-text {
  padding-left: 35px;
}

.top-fixed {
  position: fixed;
  left: 50px;
  top: 0px;
  width: calc(100vw - 50px);
  z-index: 2;
}

.color-deal {
  color: var(--color-orange);
}

.thf-card-reserve-content span > img {
  height: 20px;
  margin-bottom: 6px;
}
.thf-card-reserve-content span > .thf-tag {
  margin-bottom: 6px;
}
.fix-height-44 {
  min-height: 44px;
  max-height: 44px;
}

.commercial-budget-link {
  text-decoration: underline !important;
  font-size: 20px !important;
  text-underline-position: under;

  &.estimated {
    color: var(--color-orange-dark) !important;
  }
}

.estimated-budget-empty {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.budget-img{
  width: 22px;
  height: 22px;
}

.division{
  height: 32px;
  border-left: 1px solid var(--color-grey-submarine);
  opacity: 0.7;
  margin-bottom: 5px;
}
