<div class="thf-button-bar" role="group" *ngIf="buttonItens && buttonItens.length > 0">
  <button *ngFor="let btn of buttonItens" type="button" class="thf-btn thf-btn--default" [ngClass]="{'active': _selectedBtn == btn }"
          [ngClass]="btnClass"  (click)="buttonClicked(btn)" >
    {{ btn.title || btn | translate }}
  </button>
</div>
<a *ngIf="hasBtnClean && _selectedBtn" (click)="clear()" class="thf-link thf-link--underline" href="javascript:void(0)" app-click-stop-propagation  >{{ 'action.clean' | translate }}</a>
