<div class="row">
  <div class="col">
    <img src="{{'person-white.svg' | imgCdn}}" *ngIf="billingAccountCard?.billingAccountSidebar.accountTypeId != referenceToBillingAccountTypeEnum.Company"
      class="thf-u-filter-brightness--50 icon-person-and-company" [ngClass]="{'thf-u-filter-svg--white': billingAccountCard?.isActive}" alt="{{'commomData.images.person' | translate}}">
    <img src="{{'hotel.svg' | imgCdn}}" *ngIf="billingAccountCard?.billingAccountSidebar.accountTypeId == referenceToBillingAccountTypeEnum.Company"
      class="thf-u-filter-brightness--50 icon-person-and-company" [ngClass]="{'thf-u-filter-svg--white': billingAccountCard?.isActive}" alt="{{'commomData.images.person' | translate}}">

    <span class="thf-u-font--bold thf-u-font--14">{{billingAccountCard?.billingAccountSidebar.holderName}} </span>
    <span class="thf-u-font--12" *ngIf="billingAccountCard?.billingAccountSidebar.isHolder">({{'billingAccountModule.commomData.holder' | translate}})</span>

    <div class="thf-u-pull--right">
      <div *ngIf="showStatusLabel()" class="thf-tag thf-u-font--11 thf-u-color--white thf-u-background-color--checkout" [ngClass]="getStatusColor(billingAccountCard?.billingAccountSidebar.guestReservationItemStatusId)">{{billingAccountCard?.billingAccountSidebar.guestReservationItemStatusName}}</div>
      <img *ngIf="showIconRpsWarnings()" class="space-left-icon icon-warning-and-ok-size" src="{{'error_icon_02.svg' | imgCdn}}"
        alt="{{'img.iconAlertRps' | translate }}">
      <img *ngIf="isCloseAndOk()" src="{{'check-circle-outline-blue.svg' | imgCdn}}" class="icon-warning-and-ok-size" [ngClass]="{'thf-u-filter-svg--white': billingAccountCard?.isActive}"
        alt="{{'commomData.images.isActive' | translate}}" />
    </div>
  </div>
</div>

<div class="row thf-u-margin-top--1">
  <div class="col-6">
    <span class="thf-u-font--12">{{billingAccountCard?.billingAccountSidebar.arrivalDate | date: 'dd/MM/yy'}}
      <span *ngIf="billingAccountCard?.billingAccountSidebar.arrivalDate && billingAccountCard?.billingAccountSidebar.departureDate">-</span>
      {{billingAccountCard?.billingAccountSidebar.departureDate | date: 'dd/MM/yy'}}
    </span>
  </div>
  <div class="col-6 text-nowrap text-right">
    <span class="thf-u-font--13" [ngClass]="{'hps-value-negative': !billingAccountCard?.isActive, 'hps-value-negative-card-active': billingAccountCard?.isActive}"
      *ngIf="billingAccountCard?.billingAccountSidebar.price < 0">{{ billingAccountCard?.billingAccountSidebar?.currencySymbol }} {{billingAccountCard?.billingAccountSidebar.price | currencyFormat: ' '}}</span>
    <span class="thf-u-font--13 hps-value-positive" *ngIf="billingAccountCard?.billingAccountSidebar.price >= 0">{{ billingAccountCard?.billingAccountSidebar?.currencySymbol }} {{billingAccountCard?.billingAccountSidebar.price | currencyFormat: ' '}}</span>
  </div>
</div>
