.hps-value-negative-card-active {
    color: #FF9696
}

.hps-value-negative {
    color: #FF7574;
}

.hps-value-positive {
    color: #1FC9A7
}

.space-left-icon {
  margin-left: 5px;
}

.icon-warning-and-ok-size {
    height: 20px;
    width: 20px;
}

.icon-person-and-company {
    height: 16px;
    width: 16px;
    margin-bottom: 5px;
    margin-right: 5px;
}
