// Array of color schemes
$colors: (
  white: (
    background: var(--color-white),
    text: inherit,
    border: var(--color-grey)
  ),
  blue: (
    background: var(--color-blue),
    text: var(--color-white),
    border: var(--color-blue)
  ),
  blue-dark: (
    background: var(--color-blue-dark),
    text: var(--color-white),
    border: var(--color-blue-dark)
  )
);

/*
 * For each of array colors, create corresponding style
 * after and before are necessary to display popover arrow
 */
@each $key, $color in $colors {
  .thf-popover.#{$key} {
    background-color: map-get($color, background);
    color: map-get($color, text);
    border: map-get($color, border);
  }

  :host[x-placement^="top"] .thf-popover.#{$key} .thf-popover-arrow {
    &:before {
      border-color: map-get($color, border) transparent transparent transparent;
    }

    &:after {
      border-color: map-get($color, background) transparent transparent transparent;
    }
  }

  :host[x-placement^="bottom"] .thf-popover.#{$key} .thf-popover-arrow {
    &:before {
      border-color: transparent transparent map-get($color, border) transparent;
    }

    &:after {
      border-color: transparent transparent map-get($color, background) transparent;
    }
  }

  :host[x-placement^="left"] .thf-popover.#{$key} .thf-popover-arrow {
    &:before {
      border-color: transparent transparent transparent map-get($color, border);
    }

    &:after {
      border-color: transparent transparent transparent map-get($color, background);
    }
  }

  :host[x-placement^="right"] .thf-popover.#{$key} .thf-popover-arrow {
    &:before {
      border-color: transparent map-get($color, border) transparent transparent;
    }

    &:after {
      border-color: transparent map-get($color, background) transparent transparent;
    }
  }
}

:host .thf-popover {
  .thf-popover-arrow {
    width: 0;
    height: 0;
    position: absolute;

    &:after, &:before {
      content: '';
      display: block;
      position: absolute;
      border-style: solid;
      margin-top: 0;
      margin-bottom: 0;
    }

    &:before {
      z-index: 0;
    }

    &:after {
      z-index: 1;
    }
  }
}

/* Popover at top */
:host[x-placement^="top"] {
  .thf-popover {
    margin-bottom: 5px;

    .thf-popover-arrow {
      bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
      border-width: 5px 5px 0 5px;

      &:before {
        left: -1px;
        border-width: 5px 5px 0 5px;
      }

      &:after {
        border-width: 4px 4px 0 4px;
      }
    }
  }
}

/* Popover at bottom */
:host[x-placement^="bottom"] {
  .thf-popover {
    margin-top: 5px;
    margin-left: -5px;

    .thf-popover-arrow {
      top: -5px;
      margin-top: 0;
      margin-bottom: 0;
      border-width: 0 5px 5px 5px;

      &:before {
        left: -1px;
        border-width: 0 5px 5px 5px;
      }

      &:after {
        top: 1px;
        border-width: 0 4px 4px 4px;
      }
    }
  }
}

/* Popover at left */
:host[x-placement^="left"] {
  .thf-popover {
    margin-right: 5px;

    .thf-popover-arrow {
      right: 0;
      margin-left: 0;
      margin-right: 0;
      border-width: 5px 5px 5px 0;

      &:before {
        top: -1px;
        border-width: 5px 0 5px 5px;
      }

      &:after {
        border-width: 4px 0 4px 4px;
      }
    }
  }
}

/* Popover at right */
:host[x-placement^="right"] {
  .thf-popover {
    margin-left: 5px;

    .thf-popover-arrow {
      left: -5px;
      margin-left: 0;
      margin-right: 0;
      border-width: 5px 5px 5px 0;

      &:before {
        top: -1px;
        border-width: 5px 5px 5px 0;
      }

      &:after {
        left: 1px;
        border-width: 4px 4px 4px 0;
      }
    }
  }
}

:host ::ng-deep {
  .thf-popover-header, .thf-popover-footer, .thf-popover-content {
    min-width: 150px;
  }

  .thf-select-options--list {
    opacity: inherit;
    visibility: inherit;
    position: inherit;
    border: 0;

    li {
      padding: 7px 15px;

      &.disabled {
        cursor: not-allowed;
        opacity: 0.40;
      }
    }
  }

}
