<div
  class="thf-popover"
  [ngClass]="popoverColor"
  [style.display]="displayType"
  [style.opacity]="opacity">

  <ng-container #popoverContent [ngTemplateOutlet]="template"></ng-container>

  <span class="thf-popover-arrow"></span>
</div>
