<thf-modal
  #modal
  [t-title]="modalSettings?.title"
  [t-primary-action]="modalSettings.confirm"
  [t-secondary-action]="modalSettings.cancel"
  [t-size]="modalSettings.size"
  [t-click-out]="modalSettings.clickOut"
  [formGroup]="form"
>
  <div class="thf-row">
    <thf-select
      class="required-field thf-md-3"
      formControlName="country"
      [t-label]="i18n.address.country"
      [t-required]="true"
      [t-options]="countries"
      (t-change)="setGooglePlacesCountry(form.value.country)"
    ></thf-select>

    <div class="thf-field-container thf-md-6">
      <div class="thf-field-container-title">
        <span class="thf-field-title">{{i18n.address.search}}</span>
      </div>
      <div class="thf-field-container-content">
        <input
          type="text"
          class="thf-input"
          formControlName="search"
          angularGooglePlace
          [options]="optionGooglePlaceApi"
          [placeholder]="i18n.placeholder.addressInput"
          (setAddress)="getAddress($event)"
        />
      </div>
    </div>

    <thf-input
      class="required-field thf-md-3"
      formControlName="state"
      [t-label]="i18n.address.federativeUnit"
      [t-required]="true"
    ></thf-input>
  </div>

  <div class="thf-row">
    <thf-input
      class="required-field thf-md-9"
      formControlName="city"
      [t-label]="i18n.address.city"
      [t-required]="true"
    ></thf-input>

    <thf-input
      class="required-field thf-md-3"
      formControlName="district"
      [t-label]="i18n.address.district"
      [t-required]="true"
    ></thf-input>
  </div>

  <div class="thf-row">
    <thf-input
      class="required-field thf-md-9"
      formControlName="locality"
      [t-label]="i18n.address.locality"
      [t-required]="true"
    ></thf-input>

    <thf-input
      class="required-field thf-md-3"
      formControlName="number"
      [t-label]="i18n.address.number"
      [t-required]="true"
    ></thf-input>
  </div>

  <div class="thf-row">
    <thf-input
      class="thf-md-9"
      formControlName="complement"
      [t-label]="i18n.address.complement"
    ></thf-input>

    <thf-input
      class="required-field thf-md-3"
      formControlName="postalCode"
      [t-label]="i18n.address.postalCode"
      [t-required]="true"
    ></thf-input>
  </div>

  <div class="thf-row">
    <thf-select
      class="required-field thf-md-9"
      formControlName="addressType"
      [t-label]="i18n.address.addressType"
      [t-required]="true"
      [t-options]="addressTypes"
    ></thf-select>
  </div>
</thf-modal>
