<app-header-page-new
  [config]="configHeaderPage"
  [enableBackButton]="true">
  <header-title>{{ 'title.launcherCredit' | translate }}</header-title>
</app-header-page-new>


<!-- selection -->
<div class="row container-with-padding">
  <div class="col thf-u-font--14">
    {{ 'text.typeOfCredits' | translate }}
  </div>
</div>
<div
  id="cards-wrapper"
  class="row cards-container container-with-padding thf-u-margin-vertical--3">
  <div class="col card-selection"
       *ngFor="let item of cardConfig"
       [ngClass]="{ 'selected': item?.key === selectedItemKey }"
       (click)="selectType(item)">
    <img
      [src]="item?.src" />
    <span class="thf-u-font--12 thf-u-font--bold">
      {{(item?.value) | translate }}
    </span>
  </div>
</div>

<!-- the router content -->
<router-outlet></router-outlet>
