.container-with-padding{
  @media (min-width: 1024px) {
    padding: 0 calc(10% - 15px);
  }
}

.cards-container{
  display: flex;
  align-items: center;
  justify-content: space-between;

  .card-selection{
    max-width: 152px;
    height: 90px;
    background: var(--color-white);
    border: 2px solid var(--color-blue-light-border);
    box-shadow: 0 2px 10px 0 var(--color-card-credit-shadow);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:active, &.selected, &:hover{
      border: 2px solid var(--color-blue);
    }

    img {
      width: 60px;
      height: auto;
    }
    span {

    }
  }
}
