<div class="thf-group-content">
  <div class="row">
    <div class="col-12">
      <label class="thf-u-no-margin">
        <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
        <span
          class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
            {{ 'label.consultReports' | translate }}
        </span>
      </label>
    </div>
  </div>

  <div class="thf-group-content-body thf-u-padding-vertical--2">
    <form [formGroup]="form">

      <div class="row thf-u-margin-bottom--4">
        <div class="col-4">
          <report-menu
            [formGroupAppSelect]="form">
          </report-menu>
        </div>
      </div>

      <hr class="row"/>

      <div class="row">
        <div class="col-12">
          <label class="thf-u-no-margin thf-u-margin-bottom--3 thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'label.parameters' | translate }}
          </label>
        </div>
        <div class="col-lg-12 col-xl-10">
          <div class="row" formArrayName="options">
            <div class="col-4" *ngFor="let option of options.controls; let i = index">
              <input [id]="checkboxOptions[i].name" type="checkbox" [formControlName]="i" class="thf-input-type-checkbox">
              <label [for]="checkboxOptions[i].name"><span class="ui"></span></label>
              {{ checkboxOptions[i].name | translate }}
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-2">
          <label for="sale"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'label.sale' | translate }}
          </label>
          <input type="text" id="sale" class="thf-input" formControlName="sale"
                 currencyMask placeholder="0.00">
        </div>
      </div>

      <hr class="row"/>

      <div class="row justify-content-end">
        <div class="col-3">
          <app-button [buttonConfig]="btnConfigSearch"></app-button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="thf-u-margin-top--1" *ngIf="pageItemsList && pageItemsList.length > 0">
  <app-header-page-new>
    <header-title>
      <span class="thf-u-font--16 thf-u-font--bold">
        {{ 'title.ammountSale' | translate }} - {{ actualHour | amDateFormat: 'L' }}
      </span>
    </header-title>
  </app-header-page-new>

  <div class="thf-u-margin-top--1">
    <thx-datatable
      [columnMode]="'auto'"
      [columns]='columns'
      [itens]="pageItemsList"
      [hasLastCell]="false"
      [tableHasScroll]="true"
    ></thx-datatable>
  </div>

  <div class="row">
    <div class="offset-9 col-3 thf-u-margin-top--2">
      <button
        (click)="print()"
        class="thf-btn thf-u-no-padding thf-btn-primary"
        type="button">
        {{ 'action.print' | translate }}
      </button>
    </div>
  </div>
</div>

<app-printable-table
  [hidden]="true"
  #table
  [columnsName]="columns"
  [items]="pageItemsList"
  [title]="'title.ammountSale' | translate"
></app-printable-table>
