<!-- add header -->
<app-header-page-new
  [enableBackButton]="true"
  [rightButtonList]="topButtonsListConfig">
  <header-title> {{ title | translate }}</header-title>
</app-header-page-new>

<!-- add content -->
<div class="container-fluid meal-plan-container-wrapper">
  <div class="row">
    <div class="col-12 thf-u-margin-top--3">
      <form [formGroup]="form">
        <div class="thf-group-content">
          <!-- header one -->
          <div class="thf-group-content-header">
            <div class="row">
              <div class="col-11">
                <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
                      {{ 'label.configGuestHousePeriod' | translate }}
                </span>
              </div>
            </div>
          </div>

          <div class="thf-group-content-body">
            <div class="row">
              <div class="col-4">
                <label for="range"
                 [ngClass]="{'thf-input-label--required': !isReadonly}"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                  {{ 'label.validityPeriod' | translate }}
                </label>
                <thx-date-range-picker
                  id="range"
                  [disableUntil]="disableToday"
                  *ngIf="!currentMealPlan"
                  formControlName="range"></thx-date-range-picker>
                <thx-error formControlName="range"></thx-error>
                <div
                  class="thf-u-margin-top--2 thf-u-font--bold"
                  *ngIf="currentMealPlan">
                  {{ currentMealPlan?.validity }}
                </div>
              </div>

              <div class="col-3">
                <label for="currencyId"
                  [ngClass]="{'thf-input-label--required': !isReadonly}"
                  class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                  {{'label.moneyOfGuestHouse' | translate }}
                </label>
                <div
                  *ngIf="!currentMealPlan">
                  <app-select
                    [parent]="form"
                    [optionList]="currencyList"
                    [selectId]="'currencyId'"
                    [isUppercase]="false"
                    [hasFormGroup]="true">
                  </app-select>
                  <thx-error formControlName="currencyId"></thx-error>
                </div>
                <div
                  class="thf-u-margin-top--2 thf-u-font--bold"
                  *ngIf="currentMealPlan">
                  {{ currentMealPlan?.currency }}
                </div>
              </div>
            </div>

            <!-- end content body -->
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end of first row -->

  <div class="row">
    <div class="col-12 thf-u-margin-top--3">
      <div class="thf-group-content">
        <div class="thf-group-content-header">
          <div class="row week-header-wrapper">
            <div class="col-4">
              <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
              <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
                {{ 'label.configGuestHouseValue' | translate }}
              </span>
            </div>
          </div>
        </div>

        <div class="thf-group-content-body">
          <thx-datatable
            [columns]="columns"
            [hasLastCell]="false"
            [rowHeight]="64"
            [headerHeight]="48"
            [itens]="mealPlanTypeList"></thx-datatable>
        </div>
      </div>
    </div>
  </div>

  <!-- end of second row -->

  <div class="row thf-u-margin-top--3">
    <div *ngIf="!isReadonly" class="offset-8 col-2">
      <app-button [buttonConfig]="cancelButtonConfig"></app-button>
    </div>
    <div *ngIf="!isReadonly" class="col-2">
      <app-button [buttonConfig]="confirmButtonConfig"></app-button>
    </div>
    <div *ngIf="isReadonly" class="offset-10 col-2">
      <app-button [buttonConfig]="backButtonConfig"></app-button>
    </div>
  </div>
</div>

<ng-template #radio let-row="row" let-index="rowIndex">
  <input
    *ngIf="!isReadonly"
    class="input-radio-choose-button input-radio"
    type="radio"
    name="guest-house-table-values"
    [checked]="index === 0"
    [id]="row?.id"
    (change)="selectionChanged(row)"
    [value]="row?.id">
  <label
    *ngIf="!isReadonly"
    class="thf-u-vertical-align-middle"
    [attr.for]="row?.id">
    <span class="ui"></span>
  </label>
  <span
    class="default-checked"
    [ngClass]="{readonly: (isReadonly && row?.mealPlanTypeDefault)}">
    {{ 'label.default' | translate }}
  </span>
</ng-template>

<ng-template #adult let-row="row">
  <input
    *ngIf="!currentMealPlan"
    class="thf-input"
    currencyMask
    [(ngModel)]="row[GUEST.ADULT + MEAL_PLAN_AMOUNT]"
    (ngModelChange)="valueChanged($event, GUEST.ADULT + MEAL_PLAN_AMOUNT, row)"
    [options]="optionsCurrencyMask"
    type="text">
  <div
    *ngIf="currentMealPlan">
    {{ row?.adultMealPlanAmount }}
  </div>
</ng-template>

<ng-template #child1 let-row="row">
  <input
    *ngIf="!currentMealPlan"
    class="thf-input"
    currencyMask
    [(ngModel)]="row[GUEST.CHILD_ONE + MEAL_PLAN_AMOUNT]"
    (ngModelChange)="valueChanged($event, GUEST.CHILD_ONE + MEAL_PLAN_AMOUNT, row)"
    [options]="optionsCurrencyMask"
    type="text">
  <div
    *ngIf="currentMealPlan">
    {{ row?.child1MealPlanAmount }}
  </div>
</ng-template>

<ng-template #child2 let-row="row">
  <input
    *ngIf="!currentMealPlan"
    class="thf-input"
    [(ngModel)]="row[GUEST.CHILD_TWO + MEAL_PLAN_AMOUNT]"
    (ngModelChange)="valueChanged($event, GUEST.CHILD_TWO + MEAL_PLAN_AMOUNT, row)"
    currencyMask
    [options]="optionsCurrencyMask"
    type="text">
  <div
    *ngIf="currentMealPlan">
    {{ row?.child2MealPlanAmount }}
  </div>
</ng-template>

<ng-template #child3 let-row="row">
  <input
    *ngIf="!currentMealPlan"
    class="thf-input"
    currencyMask
    [(ngModel)]="row[GUEST.CHILD_THREE + MEAL_PLAN_AMOUNT]"
    (ngModelChange)="valueChanged($event, GUEST.CHILD_THREE + MEAL_PLAN_AMOUNT, row)"
    [options]="optionsCurrencyMask"
    type="text">
  <div
    *ngIf="currentMealPlan">
    {{ row?.child3MealPlanAmount }}
  </div>
</ng-template>

<!-- header -->
<ng-template #header1>
  <div>{{ 'label.children' | translate }}</div>
  <div>{{ ageText1 }}</div>
</ng-template>

<ng-template #header2>
  <div>{{ 'label.children' | translate }}</div>
  <div>{{ ageText2 }}</div>
</ng-template>

<ng-template #header3>
  <div>{{ 'label.children' | translate }}</div>
  <div>{{ ageText3 }}</div>
</ng-template>

<app-modal-wrapper
  [modalId]="modalErrorId"
  title="label.attention"
>
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row thf-u-margin-top--1">
      <p class="col thf-u-color--red">
        {{ modalErrorMessage }}
      </p>
    </div>

    <div class="row thf-u-margin-top--2">
      <div class="col">
        <app-button [buttonConfig]="modalButtonCloseConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<app-modal-wrapper
  [modalId]="modalConfirmId"
  title="label.attention"
>
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row thf-u-margin-top--1">
      <p class="col thf-u-color--red">
        {{'text.confirmToInsertionMealPlan' | translate}}
      </p>
    </div>

    <div class="row thf-u-margin-top--2">
      <div class="offset-6 col-3">
        <app-button [buttonConfig]="modalButtonCancelConfig"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="modalButtonConfirmConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>