.meal-plan-container-wrapper {
  .week-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .week-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-right: 50px;

      .week-label{
        margin-bottom: 8px !important;
      }
    }
  }

  .datatable-body-cell-label {
    display: flex;
    align-items: center;
  }
}

.default-checked {
  visibility: hidden;
}

input.input-radio{
  &~ .default-checked{
    background: var(--color-blue-atol);
    border-radius: 3px;
    color: var(--color-white);
    visibility: hidden;
    padding: 5px;
    margin-left: 12px;
  }

  &:checked ~ .default-checked{
    visibility: visible;
  }
}

.default-checked.readonly{
  background: var(--color-blue-atol);
  border-radius: 3px;
  color: var(--color-white);
  padding: 5px;
  margin-left: calc(37px);
  visibility: visible;
}
