.evenly {
  justify-content: space-evenly;
}
.evenly > app-button {
  width: 100%;
  margin: 0px 5px;
}
.discount-box {
  display: block;
  position: absolute;
  padding: 10px;
  background: var(--color-grey-feldgrau);
  color: var(--color-white);
  z-index: 1;
  bottom: 30px;
  width: 200px;
  right: 0;
}
.hps-icon-right {
  right: 5px;
}
.ajust-icon-split {
  right: 10px;
}

