<div class="row">

  <div class="col-3 col-lg-2 thf-u-margin-top--1">
    <h5 class="thf-u-font--bold">{{'billingAccountModule.commomData.releases' | translate}}</h5>
  </div>

  <div class="col-10">
    <div class="d-flex justify-content-end">
      <app-button
        [hidden]="!discountBtn"
        [buttonConfig]="buttonDiscountConfig"
        *ngIf="billingAccountWithEntry?.statusId == referenceToBillingAccountStatusEnum.Open"
        class="thf-u-padding-horizontal--1"
      ></app-button>

      <app-button
        [hidden]="!transferBtn"
        [buttonConfig]="buttonTransferConfig"
        *ngIf="billingAccountWithEntry?.statusId == referenceToBillingAccountStatusEnum.Open"
        class="thf-u-padding-horizontal--1"
      ></app-button>

      <app-button
        [hidden]="!reverseBtn"
        [buttonConfig]="buttonReverseConfig"
        *ngIf="billingAccountWithEntry?.statusId == referenceToBillingAccountStatusEnum.Open"
        class="thf-u-padding-horizontal--1"
      ></app-button>

      <app-button
        *ngIf="billingAccountWithEntry?.statusId == referenceToBillingAccountStatusEnum.Open"
        [hidden]="!paymentPartial"
        [buttonConfig]="buttonPaymentPartialConfig"
        class="thf-u-padding-horizontal--1"
      ></app-button>

      <app-button
        *ngIf="billingAccountWithEntry?.statusId == referenceToBillingAccountStatusEnum.Open"
        [hidden]="!splitBtn"
        [buttonConfig]="buttonSplitConfig"
        class="thf-u-padding-horizontal--1"
      ></app-button>

      <app-button
        *ngIf="billingAccountWithEntry?.statusId == referenceToBillingAccountStatusEnum.Open"
        [hidden]="!undoSplitBtn"
        [buttonConfig]="buttonUndoSplitConfig"
        class="thf-u-padding-horizontal--1"
      ></app-button>

      <app-button
        *ngIf="billingAccountWithEntry?.statusId == referenceToBillingAccountStatusEnum.Open"
        [hidden]="!billingAccountWithEntry?.invoices || billingAccountWithEntry?.invoices.length <= 0"
        class="" [buttonConfig]="buttonPrintFiscalNotesConfig"
      ></app-button>

      <app-button
        *ngIf="billingAccountWithEntry?.statusId == referenceToBillingAccountStatusEnum.Closed"
        [hidden]="!billingAccountWithEntry?.invoices || billingAccountWithEntry?.invoices.length <= 0"
        [buttonConfig]="buttonPrintFiscalNotesConfig"
      ></app-button>

      <app-button
        *ngIf="showHeaderButton"
        [buttonConfig]="buttonPersonHeaderConfig"
        class="thf-u-padding-horizontal--1"
      ></app-button>
    </div>
  </div>

</div>
<div class="thf-u-margin-top--2">
  <ngx-datatable
    #myTable
    class='material material-padding-default'
    [columnMode]="'flex'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'45'"
    [limit]="10"
    [rows]='rows'
    [rowClass]="getRowClass">

    <!-- Row Detail Template -->
    <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
      <ng-template let-row="row" ngx-datatable-row-detail-template>
        <div class="thf-u-background-color--grey-athens">
          <tr class="datatable-body-row thf-u-background-color--grey-athens" [style.height.px]="45"
              *ngFor="let billingAccountChildrenItem of row.billingAccountChildrenItems">
            <td
              class="datatable-body-cell default-cell-padding"
              [style.width.px]="widthColumns[0]">&nbsp;</td>
            <td
              class="datatable-body-cell default-cell-padding"
              [style.width.px]="widthColumns[1]">&nbsp;</td>
            <td class="datatable-body-cell default-cell-padding datatable-body-cell-hidden" [style.width.px]="widthColumns[2]">
              {{billingAccountChildrenItem.dateParameter | amDateFormat: 'L' }}
            </td>
            <td
              class="datatable-body-cell default-cell-padding datatable-body-cell-hidden"
              [style.width.px]="widthColumns[3]">
              {{billingAccountChildrenItem.billingAccountItemTypeName}}
            </td>
            <td
              class="datatable-body-cell default-cell-padding datatable-body-cell-hidden"
              [style.width.px]="widthColumns[4]">
              {{billingAccountChildrenItem.billingItemCategoryName}}
            </td>
            <td
              class="datatable-body-cell default-cell-padding datatable-body-cell-hidden"
              [style.width.px]="widthColumns[5]">
              {{getFormatedItemName(billingAccountChildrenItem.billingItemName)}}
            </td>
            <td
              class="datatable-body-cell default-cell-padding datatable-body-cell-hidden thf-u-position--relative thf-u-font--12"
                [style.width.px]="widthColumns[6]">
              <span
                [ngClass]="
                {
                  'thf-u-color--green':billingAccountChildrenItem?.total >= 0,
                  'thf-u-color--red': billingAccountChildrenItem?.total < 0
                 }">
                {{billingAccountChildrenItem.total | currencyFormat: (currencySymbol || ' ')}}
              </span>
              <span
                [hidden]="!billingAccountChildrenItem.discount"
                class="thf-u-position--absolute hps-icon-right">
                  <img
                    src="{{'info.svg' | imgCdn}}"
                    alt="" (mouseover)="popover.hidden = false"
                    (mouseleave)="popover.hidden = true">
                </span>
              <span
                #popover class="thf-popover discount-box"
                [hidden]="true">
                <div class="thf-u-font--bold">{{ 'label.discountAplied' | translate }}</div>
                <div>{{ billingAccountChildrenItem?.reasonName }}</div>
              </span>
            </td>
          </tr>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>

    <!-- Column Templates -->
    <ngx-datatable-column
      [width]="20"
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false">
      <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
        <a href="javascript:void(0)"
           [class.datatable-icon-right]="!expanded"
           [class.datatable-icon-down]="expanded"
           title="Expand/Collapse Row"
           (click)="toggleExpandRow(row)"
           *ngIf="row.billingAccountChildrenItems && row.billingAccountChildrenItems.length > 0">
        </a>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      [resizeable]="false"
      [sortable]="false"
      [draggable]="false"
      [canAutoResize]="false"
      [width]="50">
      <ng-template ngx-datatable-header-template>
        <div *ngIf="billingAccountWithEntry?.statusId == referenceToBillingAccountStatusEnum.Open">
          <input type="checkbox" id="{{billingAccountWithEntry?.billingAccountId}}-select-all"
                 class="thf-input-type-checkbox"
                 (click)="setIsCheckedOfAllBillingAccountItemEntryToTrueOrFalse()" [(ngModel)]="allItemsAreChecked">
          <label for="{{billingAccountWithEntry?.billingAccountId}}-select-all">
            <span class="ui"></span>
          </label>
        </div>
      </ng-template>
      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        <div
          *ngIf="billingAccountWithEntry?.statusId == referenceToBillingAccountStatusEnum.Open && !row.billingInvoiceId && !row.integrationCode">
          <input type="checkbox" [disabled]="row.billingAccountItemTypeId == referenceToDisplayAutocompleteEnum.Reverse"
                 id="{{billingAccountWithEntry?.billingAccountId}}+{{rowIndex + 1}}" class="thf-input-type-checkbox"
                 (click)="setIsCheckedOfBillingAccountItemEntryToTrueOrFalse(row)" [checked]="row.isChecked">
          <label for="{{billingAccountWithEntry?.billingAccountId}}+{{rowIndex + 1}}">
            <span class="ui"></span>
          </label>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" [cellClass]="getCellClass">
      <ng-template ngx-datatable-header-template>
        {{ 'billingAccountModule.releaseTable.dateHour' | translate }}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="no-submenu-options"
              [title]="row?.dateParameter | amDateFormat: 'L'">
          {{row?.dateParameter | amDateFormat: 'L' }}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="1" [cellClass]="getCellClass">
      <ng-template ngx-datatable-header-template>
        {{ 'billingAccountModule.releaseTable.series' | translate }}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="no-submenu-options"
             [title]="row?.billingInvoiceSeries">
          {{ row?.billingInvoiceSeries}}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="1" [cellClass]="getCellClass">
      <ng-template ngx-datatable-header-template>
        {{ 'billingAccountModule.releaseTable.number' | translate }}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="no-submenu-options"
             [title]="row?.billingInvoiceNumber">
        {{ row?.billingInvoiceNumber}}
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column [flexGrow]="1" [cellClass]="getCellClass">
      <ng-template ngx-datatable-header-template>
        {{ 'billingAccountModule.releaseTable.type' | translate }}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="no-submenu-options"
             [title]="row?.billingAccountItemTypeName">
        {{row?.billingAccountItemTypeName}}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" [cellClass]="getCellClass">
      <ng-template ngx-datatable-header-template>
        {{ 'billingAccountModule.releaseTable.group' | translate }}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="no-submenu-options"
             [title]="row?.billingAccountItemTypeName || row?.billingItemCategoryName">
        {{ row?.plasticBrandFormatted || row?.billingItemCategoryName }}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" [cellClass]="getCellClass">
      <ng-template ngx-datatable-header-template>
        {{ 'billingAccountModule.releaseTable.release' | translate }}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="no-submenu-options"
             [title]="row?.billingItemName">
        {{ row?.billingItemName}}
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1" [cellClass]="getCellClass">
      <ng-template ngx-datatable-header-template>
        {{ 'billingAccountModule.releaseTable.value' | translate }}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="no-submenu-options"
             [title]="row?.total">
          <span [ngClass]="{'thf-u-color--green': billingAccountItemIsCredit(row), 'thf-u-color--red': !billingAccountItemIsCredit(row)}">
            {{row?.total | currencyFormat: (currencySymbol || ' ') }}
          </span>
          <span [hidden]="!hasDiscount(row)" class="thf-u-position--absolute hps-icon-right">
            <img src="{{'info.svg' | imgCdn}}" alt="" (mouseover)="popover.hidden = false"
                 (mouseleave)="popover.hidden = true">
          </span>
          <span #popover class="thf-popover discount-box thf-u-font--12" [hidden]="true">
            <div class="thf-u-font--bold">{{ 'label.discountAplied' | translate }}</div>
          </span>
          <img *ngIf="canBeUnsplitted(row)" src="{{'split-icon.svg' | imgCdn}}" alt="{{'img.split'}}"
               class="thf-u-position--absolute ajust-icon-split">
          <img *ngIf="row.billingInvoiceId" src="{{ 'error_icon_02.svg' | imgCdn }}" alt="{{ 'img.alert' | translate }}"
               class="thf-u-position--absolute ajust-icon-split" title="{{ 'text.itemHasInvoice' | translate }}">
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
      <ng-template
        ngx-datatable-footer-template
        let-rowCount="rowCount"
        let-pageSize="pageSize"
        let-selectedCount="selectedCount"
        let-curPage="curPage"
        let-offset="offset">
        <datatable-pager
          [pagerLeftArrowIcon]="'datatable-icon-left'"
          [pagerRightArrowIcon]="'datatable-icon-right'"
          [pagerPreviousIcon]="'datatable-icon-prev'"
          [pagerNextIcon]="'datatable-icon-skip'"
          [page]="curPage"
          [size]="pageSize"
          [count]="rowCount"
          (change)="myTable.onFooterPage($event)">
        </datatable-pager>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>

<fiscal-status-note-modal
  [modalId]="MODAL_STATUS_FISCAL_NOTE"
  [propertyId]="propertyId"
  [accountOwnerName]="holderName"
  [invoices]="invoices"
  (clickOnError)="openErrorModal($event)"
  (clickResend)="resendNfes($event)"
  (cancelNf)="cancelNFSe($event)"
  (downloadNf)="downloadNFSe($event)"
  (seeDetailsNf)="openModalDetails($event)"></fiscal-status-note-modal>

<modal-europe-fiscal-document
  [modalId]="MODAL_EUROPE_FISCAL_DOCUMENT"
  [propertyId]="propertyId"
  [accountOwnerName]="holderName"
  [invoices]="invoices"
  (issueCreditNote)="openModalCreditNote($event)"
  (issueDocumentResend)="openModalResend($event)">
</modal-europe-fiscal-document>

<app-document-modal-confirm
  [modalId]="MODAL_DOCUMENT_RESEND"
  [invoice]="bilingItemSelected"
  (cancelDocumentResend)="closeModalResend()"
  (resentDocument)="onResendDocument($event)"
></app-document-modal-confirm>

<modal-errors-nfse [modalId]="MODAL_ERROR" [invoice]="invoiceWithError"
                   [closeAction]="onCloseErrorModal"></modal-errors-nfse>

<modal-cancel-nfse
  [modalId]="MODAL_CANCEL_NFSE"
  [invoice]="invoiceToCancel"
  (downloadNFSe)="downloadNFSe($event)"
  (cancelNFSe)="cancelNFSe($event)"
  (closeModal)="closeModalCancelNFSe()"></modal-cancel-nfse>

<app-modal-cancel-reason
  [modalId]="MODAL_CONFIRM_CANCEL_NFSE"
  [invoice]="invoiceToCancel"
  [reasonList]="reasonList"
  (closeModal)="closeModalCancelReason()"
  (confirmNFSeCancelation)="confirmCancelationNFSe($event)"
></app-modal-cancel-reason>

<app-split-entry-modal
  [modalId]="MODAL_SPLIT_ENTRY"
  [billingAccountEntry]="itemToSplit"
  [propertyId]="propertyId"
  [accountId]="accountIdToSplit"
  (cancel)="cancelSplit()"
  (confirm)="confirmSplit()"></app-split-entry-modal>

<app-modal-message-confirm
  [modalId]="MODAL_UNDO_SPLIT_ENTRY"
  message="text.undoSplitConfirmationMessage"
  (cancelClicked)="cancelUndoSplit()"
  (confirmClicked)="confirmUndoSplit()"></app-modal-message-confirm>

<app-modal-person-header
  [modalId]="MODAL_PERSON_HEADER"
  [billingAccountId]="billingAccountId"
  (closeModal)="closeModalPersonHeader()"
></app-modal-person-header>

<modal-credit-note
  [modalId]="MODAL_CREDIT_NOTE"
  [billingInvoiceId]="billingInvoiceIdToIssueCreditNote"
  (closeModal)="closeModalCreditNote()"
  (createdCreditNote)="setBillingAccountItemCreditNoteList($event)"
></modal-credit-note>

<modal-credit-note-payment-type
  [modalId]="MODAL_CREDIT_NOTE_PAYMENT_TYPE"
  (closeModal)="closeModalCreditNotePayment()"
  (issueCreditNote)="issueCreditNote($event)"
></modal-credit-note-payment-type>
