<div class="thf-group-content">
  <div class="col-12">
    <label class="thf-u-no-margin">
      <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
      <span
        class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
          {{ 'label.consultReports' | translate }}
      </span>
    </label>
  </div>

  <div class="thf-group-content-body">
    <form [formGroup]="reportCheckoutFormGroup">

      <!-- first row -->
      <div class="row">

        <div class="col-4">
          <report-menu
            [formGroupAppSelect]="reportCheckoutFormGroup">
          </report-menu>
        </div>

        <!-- filter -->
        <div class="col-4">
            <label
               class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine"
               for="groupName">
              {{ 'label.groupName' | translate }}
            </label>
            <input
              class="thf-input thf-u-margin-top--1"
              formControlName="groupName"
              id="groupName"
              placeholder="{{ 'placeholder.groupName' | translate }}">
        </div>

        <div class="col-4">
          <label
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine"
            for="companyClientName">
            {{ 'label.companyClientName' | translate }}
          </label>
          <input
            class="thf-input thf-u-margin-top--1"
            formControlName="companyClientName"
            id="companyClientName"
            placeholder="{{ 'placeholder.companyName' | translate }}">
        </div>

      </div>

      <div class="row">
        <!-- reservation status -->
        <div class="col-4">
          <label
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-margin-top--2 thf-u-font--bold thf-input-label--grey-submarine"
            for="clientName">
            {{ 'label.clientName' | translate }}
          </label>
          <input
            class="thf-input thf-u-margin-top--1"
            formControlName="clientName"
            id="clientName"
            placeholder="{{ 'placeholder.clientName' | translate }}">
        </div>

        <div class="col-4">
          <label
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-margin-top--2 thf-u-font--bold thf-input-label--grey-submarine"
            for="userName">
            {{ 'label.userName' | translate }}
          </label>
          <input
            class="thf-input thf-u-margin-top--1"
            formControlName="userName"
            id="userName"
            placeholder="{{ 'placeholder.userName' | translate }}">
        </div>


        <div class="col-4">
          <label for="accommodationStatus"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--2">
            {{ (isCheckin ? 'label.checkinType' : 'label.checkoutType') | translate }}
          </label>
          <app-select
            id="accommodationStatus"
            [selectId]="'CheckReport'"
            [parent]="reportCheckoutFormGroup"
            [optionList]="checkinReportOptionList"
            [hasBlankOption]="true"
            [hasFormGroup]="true">
          </app-select>
        </div>
      </div>

      <div class="row">
        <!-- data picker -->
        <div class="col-4">
          <label
            for="period"
            class="thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2 thf-u-margin-bottom--1">
            {{ labelDate | translate }}</label>
          <thx-date-range-picker
            formControlName="period"
            id="period"
            class="thf-u-no-margin" >

          </thx-date-range-picker>
        </div>     
        
        <div class="col-4 ">
          <div *ngIf="isCheckin">
            <label for="unifyMain"
              class="thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2 thf-u-margin-bottom--1">
              {{ 'label.onlyMain' | translate }}
            </label>
            <div>
              <input id="unifyMain" type="checkbox" class="thf-input-radio-button" formControlName="isMain"  />
              <label class="thf-u-vertical-align-super thf-u-margin-top--1" for="unifyMain">
                <span class="ui"></span>
              </label>
            </div>
          </div>
        </div>
      </div>  
      <div class="row align-items-end">
        <div class="col-4">
          <label _ngcontent-c13="" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-margin-top--2 thf-u-font--bold thf-input-label--grey-submarine" for="clientName">
              {{ 'label.commentsForShow' | translate }}
          </label>
          <div class="row">
            <div class="col-4">
              <label for="showInternalComments"
                class="thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold">
                {{ 'label.employee' | translate }}
              </label>
              <input id="showInternalComments" type="checkbox" class="thf-input-radio-button" formControlName="showInternalComments"  />
              <label class="thf-u-vertical-align-super thf-u-margin-top--1" for="showInternalComments">
                <span class="ui"></span>
              </label>
            </div>
            <div class="col-4">
              <label for="showExternalComments"
                class="thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold">
                {{ 'label.guest' | translate }}
              </label>
              <div>
                <input id="showExternalComments" type="checkbox" class="thf-input-radio-button" formControlName="showExternalComments"  />
                <label class="thf-u-vertical-align-super thf-u-margin-top--1" for="showExternalComments">
                  <span class="ui"></span>
                </label>
              </div>
            </div>
            <div class="col-4">
              <label for="showPartnerComments"
                class="thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold">
                {{ 'label.partner' | translate }}
              </label>
              <div>
                <input id="showPartnerComments" type="checkbox" class="thf-input-radio-button" formControlName="showPartnerComments"  />
                <label class="thf-u-vertical-align-super thf-u-margin-top--1" for="showPartnerComments">
                  <span class="ui"></span>
                </label>
              </div>
            </div>
          </div>          
        </div>
        <div class="col-2 offset-6">
          <button
            (click)="searchReport()"
            class="thf-btn thf-u-no-padding thf-btn-primary">
            {{ 'action.list' | translate }}
          </button>
        </div>        
      </div>
    </form>
  </div>
</div>

<div class="thf-u-margin-top--1" *ngIf="pageItemsList && pageItemsList.length > 0">
  <app-header-page-new
    [hasFilter]="false">
    <header-title>
      <span>{{ reportTitle | translate }}</span>
    </header-title>
  </app-header-page-new>

  <div class="thf-u-margin-vertical--1">
    <thx-datatable
      [columns]='columns'
      [itens]="pageItemsList"
      [hasLastCell]="false"
      [tableHasScroll]="true"
      [columnMode]="'auto'"
      [footerInfo]="footerInfo">
    </thx-datatable>

    <ng-template #footerInfo>
      <div *ngIf="isCheckin">
        {{ 'label.reservationsTotal'  | translate }}: {{ totalReservations }} - {{ 'label.guestsTotal' | translate }}: {{ totalGuests }}
      </div>
    </ng-template>
  </div>

  <div class="row">
    <div class="offset-9 col-3 thf-u-margin-top--2">
      <button
        (click)="print()"
        class="thf-btn thf-u-no-padding thf-btn-primary"
        type="button">
        {{ 'action.print' | translate }}
      </button>
    </div>
  </div>

  <div #table [hidden]="true" >
    <app-printable-table
      [columnsName]="columns"      
      [items]="pageItemsList"
      [extraItems]="columnsExtra"
      [title]="reportTitle | translate"
      [singleTableForPage]="false"
      [showComments] = "showComments"
    ></app-printable-table>
    <app-printable-table
      [showPropertyName]="false"
      [columnsName]="columnsTotals"
      [items]="pageTotalItemsList"
      [title]="''"
      [singleTableForPage]="false"
    ></app-printable-table>

  </div>

</div>
