:host {
  max-height: 100px;
  display: block;
  border: 1px solid var(--color-cyan-light);
}

:host p {
  margin-bottom: unset !important;
}

:host .uh-container{
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  margin-left: 15px;
}

:host .selected-blue{
  background-color: var(--color-blue-darkness) !important;
  color: var(--color-blue-darkness) !important;
}

:host .selected-blue-light{
  background-color: var(--color-blue-lightness) !important;
  color: var(--color-blue-lightness) !important;
}

:host .selected-brown{
  background-color: var(--color-brown-dark) !important;
  color: var(--color-brown-dark) !important;
}

:host .meal-type-container{
  background-color: var(--color-white) !important;
}

:host .uh-number{
  background-color: var(--color-white);
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .uh-checkbox-row{
  flex-wrap: nowrap;
  margin-top: 20px !important;
  justify-content: flex-start;
}

:host .checkbox-to-print{
  background: var(--color-white);
  border: 1px solid var(--color-grey);
  border-radius: 4px;
  width: 23px;
  height: 23px;
  display: inline-block;
  margin: 0 5px 0 0 !important;
}

:host .container-icon img{
  margin-right: 10px;
}
