<div class="row">
  <div class="uh-container" [ngClass]="selectedColorClass">
    <div class="uh-title thf-u-color--white thf-u-font--14">UH</div>
    <div class="uh-number thf-u-font--25">
      {{ item.uh }}
    </div>
  </div>
  <div class="col">
    <div class="row flex-column h-100">
      <div class="col d-flex align-items-center">
        <div class="thf-u-font--bold meal-type-container" [ngClass]="selectedColorClass">
          {{ item.mealPlanTypeName }}
        </div>
      </div>
      <div class="col d-flex align-items-center">
        <div class="thf-u-font--20">{{ item.fullName }}</div>
      </div>
      <div class="col d-flex align-items-center">
        <div class="container-icon">
          <img [src]="imgSrc" />
          <span>{{ item.type }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <span class="thf-u-font--bold thf-u-font--14">Controle de consumo</span>
    <div class="row uh-checkbox-row" *ngIf="!isToPrint; else toPrint">
      <pension-control-checkbox
        *ngIf="showAll || showCoffe"
        [item]="item"
        [type]="'coffee'"
        [isChecked]="item.coffee"
        [isDisabled]="isCoffeDisabled"
        [checkboxId]="item.guestReservationItemId + 'coffe'"
        [checkboxText]="'label.coffe' | translate">

      </pension-control-checkbox>

      <pension-control-checkbox
        *ngIf="showAll || showLunch"
        [item]="item"
        [type]="'lunch'"
        [isChecked]="item.lunch"
        [isDisabled]="isLunchDisabled"
        [checkboxId]="item.guestReservationItemId + 'lunch'"
        (emitChange)="checkboxChanged($event)"
        [checkboxText]="'label.lunch' | translate">

      </pension-control-checkbox>

      <pension-control-checkbox
        *ngIf="showAll || showDinner"
        [item]="item"
        [type]="'dinner'"
        [isChecked]="item.dinner"
        [isDisabled]="isDinnerDisabled"
        [checkboxId]="item.guestReservationItemId + 'dinner'"
        (emitChange)="checkboxChanged($event)"
        [checkboxText]="'label.dinner' | translate">

      </pension-control-checkbox>
    </div>
    <ng-template #toPrint>
      <div class="row uh-checkbox-row">
        <div *ngIf="showAll || showCoffe" class="col d-flex align-items-center">
          <span class="checkbox-to-print"></span>
          <span>{{'label.coffe' | translate}}</span>
        </div>

        <div *ngIf="showAll || showLunch" class="col d-flex align-items-center">
          <span class="checkbox-to-print"></span>
          <span>{{'label.lunch' | translate}}</span>
        </div>

        <div *ngIf="showAll || showDinner" class="col d-flex align-items-center">
          <span class="checkbox-to-print"></span>
          <span>{{'label.dinner' | translate}}</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
