<!-- modal -->
<modal-add-edit #modal (complete)="loadData()"></modal-add-edit>

<!-- modal delete -->
<channel-modal-delete
  (complete)="loadData()"
  [type]="'channelResource'"
  [title]="'action.lbDelete' | translate : {labelName: 'label.channel' | translate}"
  [description]="'variable.lbConfirmDeleteM' | translate: {labelName: 'label.channel' | translate}"
  #deletemodal>
</channel-modal-delete>

<!-- header component -->
<app-header-page-new [config]="configHeaderPage" [hasFilter]="true">

  <!-- header title -->
  <header-title> {{ 'title.channel' | translate }}</header-title>

  <!-- search bar -->
  <thx-searchbar
    name="searchFilter"
    [placeholder]="'placeholder.searchByCodeOrDescriptionOrOrigin'"
    (search)="search($event)">
  </thx-searchbar>

  <!-- the button txt -->
  <text-button>{{'action.new' | translate}}</text-button>

  <!-- the modal btn -->
  <icon-button>
    <i class="mdi mdi-plus"></i>
  </icon-button>

</app-header-page-new>


<thx-datatable
  [columns]='columns'
  [itens]="pageItemsList"
  [itemsOption]="itemsOption"
  statusIdentifier="id"
  (statusChanged)="updateStatus($event)"
  (rowItemClicked)="rowItemClicked($event)"
></thx-datatable>
