<div [formGroup]="formModal">
  <div class="row thf-u-margin-top--2">
    <div class="col">
      <label for="nsuCode"
             class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
        {{'paymentTypeModule.commomData.flag' | translate }}
      </label>
      <app-select
        [selectId]="'plasticBrandPropertyId'"
        [parent]="formModal.get('postCredit.card')"
        [optionList]="plasticBrandPropertyList"
        [hasFormGroup]="true">
      </app-select>
    </div>
  </div>
  <div class="row thf-u-margin-top--2" formGroupName="postCredit">
    <div class="col-6">
      <div formGroupName="card">
        <label for="nsuCode"
               class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{'billingAccountModule.commomData.nsuCode' | translate }}
        </label>
        <img align="top" class="thf-u-enable-cursor thf-u-valign--top img-info"
             title="{{ 'commomData.images.infoIcon' | translate }}"
             src="{{'info.svg' | imgCdn}}" alt="{{ 'commomData.images.infoIcon' | translate }}">
        <input formControlName="nsuCode" type="text" id="nsuCode" class="thf-input thf-u-margin-top--1"
               [autocomplete]="'off'"/>
      </div>
    </div>
    <div class="col-4">
      <label for="price"
             class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
        {{'billingAccountModule.commomData.value' | translate }} {{'commomData.r$' | translate}}
      </label>
      <input formControlName="price" type="text" id="price" class="thf-input thf-u-margin-top--1" currencyMask
             [options]="optionsCurrencyMask"
             [autocomplete]="'off'"/>
    </div>
  </div>
</div>
