<app-sidebar-scroll-fixed>
  <div class="container-width">
    <div class="thf-u-padding--1 thf-card-room-list">
      <span class="thf-u-font--bold thf-u-font--14">{{'billingAccountModule.commomData.accountList' | translate}}</span>
      <span class="thf-u-font--bold thf-u-font--14 thf-u-color--blue">( {{billingAccountCardList?.length}} )</span>
    </div>
    <ul class="thf-u-reset-list">
      <li *ngFor="let billingAccountCard of billingAccountCardList" class="thf-card-room-list thf-u-padding-vertical--2 billing-account-card thf-u-cursor--pointer" 
      [ngClass]="{'thf-card-room-list--active thf-u-color--white': billingAccountCard?.isActive}">
        <app-card-guest-billing-account 
          [billingAccountCard]="billingAccountCard"
          (click)="chooseItem(billingAccountCard)" >
        </app-card-guest-billing-account>
      </li>
    </ul>
  </div>
</app-sidebar-scroll-fixed>