<app-modal-wrapper
  [modalId]="levelModalFormService.getModalId()"
  [formGroup]="form"
  [title]="modalTitle"
  minWidth="620px"
>
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row">
      <div class="col-4">
        <label
          for="levelCode"
          class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1"
        >
          {{ 'label.levelCode' | translate }}
          <thx-info-tooltip [text]="'text.infoLevalCode' | translate"></thx-info-tooltip>
        </label>
        <input
          [ngClass]="{'thf-input-error': !form.get('levelCode').valid && form.get('levelCode').dirty}"
          id="levelCode"
          formControlName="levelCode"
          class="thf-input thf-u-margin-top--1"
          type="number"
          min="0"
        />
        <thx-error
          formControlName="levelCode"
        ></thx-error>
      </div>

      <div class="col-8">
        <label
          for="description"
          class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1"
        >
          {{ 'variable.description.M' | translate: {labelName: 'label.level' | translate} }}
        </label>
        <input
          [ngClass]="{'thf-input-error': !form.get('description').valid && form.get('description').dirty}"
          id="description"
          formControlName="description"
          class="thf-input thf-u-margin-top--1"
          type="text"
        />
        <thx-error
          formControlName="description"
        ></thx-error>
      </div>

      <div class="col-4">
        <label
          for="order"
          class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1"
        >
          {{ 'label.exhibitionOrder' | translate }}
        </label>
        <input
          [ngClass]="{'thf-input-error': !form.get('order').valid && form.get('order').dirty}"
          id="order"
          formControlName="order"
          class="thf-u-margin-top--1 thf-input thf-u-type-number-reset"
          type="number"
          min="0"
        />
        <thx-error
          formControlName="order"
        ></thx-error>
      </div>

      <div class="col-3 offset-2">
        <label
          class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1"
        >
          {{ 'label.active' | translate }}
        </label>
        <div class="thf-u-margin-top--2">
          <input
            id="isActive"
            class="thf-input-radio-button"
            type="checkbox"
            formControlName="isActive"
          />
          <label for="isActive">
            <span class="ui"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="row thf-u-margin-top--2">
      <div class="offset-6 col-3">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
