@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';

/* You can add global styles to this file, and also import other style files */
body { margin: 0 }

/* LOGIN AJUSTMENTS */
/* TODO keep while "keep me logged in" not implemented */
#login thx-recaptcha > div > div {
  margin: 0 auto;
}

thx-popover {
  z-index: 9999;
}

html, body {
  height: 100%;
}

@page {
  margin:0cm;
}

.print-only2 {
  display: none;
}

@media print {
  .thf-u-margin-left--5 {
    margin-left: 0px!important;
  }

  footer {page-break-after: always;}
  body{ -webkit-print-color-adjust: exact;}

  app-root, central-root {
    display: none !important;
  }

  /* Refatorar a print-only nas classes que a utilizam. Ela é exibida em qualquer cenário */
  .print-only, .print-only2 {
    display: block !important;
  }

  .no-print {
    display: none !important;
  }

  textarea {
    overflow: hidden;
    max-height: 100%;
    height: auto !important;
  }
}

.hps-modal-overflow-y {
  height: 330px;
  overflow-y: scroll;
}

.hps-modal-reservation-item-overflow-y {
  max-height: 390px;
  overflow-y: scroll;
}

.width-100-discount-menu {
  left: var(--menu-width);
  width: calc(100vw - var(--menu-width));
}

thx-popover {
  z-index: 9999;
}
.thf-datatable-overbooking-bg {
  background: var(--color-red-light);
}

.thf-datatable-to-print .datatable-body-cell .datatable-body-cell-label{
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.thf-datatable-printable-hidden .datatable-body-cell .datatable-body-cell-label{
  white-space: normal;
}


.thf-datatable-to-print .datatable-header-cell-label{
  white-space: normal;
  text-align: center;
}

.thf-datatable-to-print.big-size{
  transform: scale(0.6);
  transform-origin: 0 0;
}

.thf-datatable-to-print.big-size .datatable-header{
  overflow: visible;
  display: table;
}


.thf-datatable-to-print-with-body .cell-to-print-next-line:before {
  content: "\A";
  white-space: pre-line !important;
}

.thf-datatable-to-print-with-body .cell-to-print-next-line{
  text-align: left !important;
  width: 100% !important;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.thf-auto-complete-error {
  border: 1px solid var(--color-red) !important;
}

thx-datepicker.thex-datepicker-with-error .mydp {
  border: 1px solid var(--color-red) !important;
}
