<admin-group
  [title]="i18n.hotelPlus"
  [isOpen]="true">
  <div class="thx-group-header-actions">
    <thf-button
      [t-label]="i18n.associateHotel"
      (t-click)="modal.open()"
    ></thf-button>
  </div>
  <admin-hotel-list
    [columns]="['name', 'brandName']"
    [hotels]="selectedHotels"
    [actions]="actions"
  ></admin-hotel-list>
  <admin-hotel-modal-form-list
    #modal
    [hotels]="hotels"
    [selectedHotels]="selectedHotels"
    (submitted)="handleSelectedHotels($event)"
  ></admin-hotel-modal-form-list>
</admin-group>
