<thx-datatable
  [id]="id"
  [columns]='columns'
  [itens]="rowItens"
  (rowItemClicked)="onRowItemClicked($event)"
  [hasLastCell]="false"
  [rowsLimit]="rowsLimit"
  [headerHeight]="headerHeight"
  [footerHeight]="footerHeight"
  [tableHasScroll]="tableHasScroll"
  [tableExtraClass]="tableExtraClass"
  [rowHeight]="rowHeight"
  [emptyMessage]="emptyMessage"
  [completeEmptyMessageContent]="completeEmptyMessageContent"
></thx-datatable>

<ng-template #cellHeaderCheckboxAll ngx-datatable-header-template>
    <input id="{{id + '_' + 'checkall'}}" #checkboxAll (change)="toggleAll(checkboxAll.checked)" type="checkbox"
           class="thf-input-type-checkbox" [checked]="selectedItens.length == rowItens.length">
    <label for="{{id + '_' + 'checkall'}}"><span class="ui"></span></label>
</ng-template>

<ng-template #cellCheckboxSingle let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
  <div class="no-submenu-options">
    <input id="{{id + '_' + rowIndex}}" type="checkbox" class="thf-input-type-checkbox" [checked]="selectedItens.indexOf(row) >= 0"
           (change)="toggleSingle(row)">
    <label for="{{id + '_' + rowIndex}}">
      <span class="ui"></span>
    </label>
  </div>
</ng-template>


