:host {
  max-width: 200px;
}

:host ::ng-deep thx-step:not(:last-child):after {
  content: '';
  height: 29px;
  width: 1px;
  position: absolute;
  background: var(--color-grey);
  bottom: -36px;
  left: 1.3em;
}

:host ::ng-deep thx-step:not(:last-child) {
  display: flex;
  position: relative;
  margin-bottom: 42px;
}
