.governance-item-room-wrapper{
  height: 120px;
  max-height: 120px;
  display: block;
  margin: 0 !important;
  border: 1px solid var(--color-grey);

  /* the uh/room wrapper */
  .room-wrapper{
    width: 105px;
    background-color: var(--color-blue); /* TODO: remove this color */

    .room-type{
      color: var(--color-white);
    }

    .room-circle{
      width: 60px;
      height: 60px;
      border-radius: 100%;
      background-color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .room-btn{
      width: calc(100% - 20px);
      padding: 0;
      min-height: unset;
      box-shadow: none;
    }
  }

  /* the guest content */
  .guest-wrapper{
    border-right: 1px solid var(--color-grey);

    .status-room{
      border: 1px solid var(--color-grey);
      border-radius: 10px;
      text-align: center;
      padding: 0 10px;
      max-height: 23px;
    }
  }

  .disagreement-wrapper{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 35px;

    .printable-line{
      max-height: 44px;
      min-height: 44px;
      width: 100%;
      border-bottom: 1px solid var(--color-grey);
    }
    .btn-border{
      border-color: var(--color-blue);
    }

    .app-margin-top{
      margin-top: -5px;
      display: block;
    }

    .disagreement-observation.to-print{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
    }

    .btn-observation, .txt-to-print{
      outline: none;
      border: none;
      background: transparent;
      text-decoration: underline;

      &:disabled{
        cursor: not-allowed;
        opacity: .4;
      }
    }

    .btn-observation{
      padding: 0;
      cursor: pointer;
    }

    .txt-to-print{
      white-space: nowrap;
      flex-grow: 0;
      line-height: 0.9;
    }
  }
}
