<div class="row governance-item-room-wrapper">
  <!-- the card first col -->
  <div class="room-wrapper" [style.background]="'#' + item?.color">
    <div class="row flex-column h-100">
      <div class="col d-flex justify-content-center align-items-start">
        <span class="room-type thf-u-font--bold thf-u-color--white thf-u-font--12">
          {{ item?.roomTypeName }}
        </span>
      </div>
      <div class="col d-flex justify-content-center align-items-end">
        <div class="room-circle thf-u-font--bold thf-u-font--25" [style.color]="'#' + item?.color">
          {{ item?.roomNumber }}
        </div>
      </div>
      <div class="col d-flex justify-content-center align-items-center">
        <!-- TODO: change to app-button -->
        <button
          (click)="dispatchOpenModalHouseKeeping(item)"
          class="thf-btn thf-btn-outline thf-u-color--white room-btn thf-u-font--12">
          {{ item?.housekeepingStatusName}}
        </button>
      </div>
    </div>
  </div>

  <div class="col guest-wrapper thf-u-font--14">
    <div class="row h-100">
      <div class="col">
        <div class="row flex-column h-100">
          <div class="col d-flex justify-content-left align-items-center">
            <div class="thf-u-font--bold">
              <div class="thf-u-color--grey-submarine">
                {{ 'text.checkin' | translate }}
              </div>
              <div>
                {{ item?.checkInDate }}
              </div>
            </div>
          </div>
          <div class="col d-flex justify-content-left align-items-center">
            <span class="thf-u-margin-right--1">
               <img class="hps-icon-size-default" src="{{'qtdAdulto.min.svg' | imgCdn}}"
                    alt="{{ 'commomData.images.account' | translate }}"/>
               <span class="thf-u-vertical-align-middle thf-u-font--bold">
                 {{ item?.adultCount }}
               </span>
             </span>
            <span>
               <img class="hps-icon-size-default hps-icon-size--2"
                    src="{{'child_icon.svg' | imgCdn }}"
                    alt="{{ 'commomData.images.babyCarriage' | translate }}"/>
              <span class="thf-u-vertical-align-middle thf-u-font--bold">
                {{ item?.childCount}}
              </span>
             </span>
          </div>
          <div class="col d-flex justify-content-left align-items-center">
            <span class="status-room">{{ item?.statusRoom }}</span>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="row flex-column h-100">
          <div class="col d-flex justify-content-left align-items-center">
            <div class="thf-u-font--bold">
              <div class="thf-u-color--grey-submarine">
                {{ 'text.checkout' | translate }}
              </div>
              <div>{{ item?.checkOutDate }}</div>
            </div>
          </div>
          <div class="col d-flex justify-content-left align-items-center">
            <span class="thf-u-color--grey-submarine thf-u-margin-right--1">
              {{ 'text.beds' | translate }}
            </span>
            <span class="thf-u-margin-right--1" *ngIf="item?.quantityDouble > 0">
               <img class=" hps-icon-size--2 thf-icon-size-height-based--15"
                    src="{{'camaCasal.min.svg' | imgCdn}}"
                    alt="{{ 'commomData.images.doubleBed' | translate }}"/>
            </span>
            <span *ngIf="item?.quantitySingle > 0">
               <img class=" hps-icon-size--2 thf-icon-size-height-based--15"
                    src="{{'camaSolteiro.min.svg' | imgCdn}}"
                    alt="{{ 'commomData.images.doubleBed' | translate }}"/>
            </span>
          </div>
          <div class="col d-flex justify-content-left align-items-center">
            <span class="thf-u-color--grey-submarine thf-u-margin-right--1">
              {{ 'text.totalOfDays' | translate }}
            </span>
            <span class="thf-u-font--bold">
              {{ item?.totalDays }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col disagreement-wrapper thf-u-font--14">
    <div class="disagreement-title thf-u-font--bold">
      {{ 'text.disagreement' | translate }}
    </div>


    <div class="row disagreement-content" *ngIf="!isPrintMode; else toPrint">
      <div class="col-3">
        <div class="thf-u-color--grey-submarine thf-u-font--bold thf-u-margin-bottom--1">
          {{ 'text.statusOfRoom' | translate }}
        </div>
        <!-- TODO: change to app-button -->
        <button
          [disabled]="isDisabled"
          (click)="dispatchOpenModalStatus(item)"
          class="thf-btn thf-btn-outline thf-u-color--blue btn-border">
          {{
          item?.housekeepingRoomDisagreementStatus
          ? item?.housekeepingRoomDisagreementStatus :
          ('commomData.select' | translate )
          }}
        </button>
      </div>

      <div class="col-3">
        <div
          class="thf-u-color--grey-submarine thf-u-font--bold thf-u-margin-bottom--1">
          {{ 'text.baggage' | translate }}
        </div>
        <!-- TODO: change to app-button -->
        <button
          [disabled]="isDisabled"
          (click)="dispatchOpenBagage(item)"
          class="thf-btn thf-btn-outline thf-u-color--blue btn-border">
          {{
          item?.bag ? item?.bag : ('commomData.select' | translate )
          }}
        </button>
      </div>

      <div class="col-3">
        <div
          class="thf-u-color--grey-submarine thf-u-font--bold thf-u-margin-bottom--1">
          {{ 'text.inspectionStatus' | translate }}
        </div>
        <!-- TODO: change to app-button -->
        <button
          [disabled]="isDisabled"
          (click)="dispatchOpenSurvey(item)"
          class="thf-btn thf-btn-outline thf-u-color--blue btn-border">
          {{
          item?.housekeepingRoomInspection
          ? item?.housekeepingRoomInspection :
          ('commomData.select' | translate )
          }}
        </button>
      </div>

      <div class="col-2">
        <form [formGroup]="form">
          <label
            for="disagreementAdultCount"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.guestNumber' | translate }}
          </label>
          <app-select
            id="disagreementAdultCount"
            class="app-margin-top"
            [selectId]="'disagreementAdultCount'"
            [hasFormGroup]="true"
            [parent]="form"
            [optionList]="adultCountList"
            [disabled]="isDisabled"
            [hasBlankOption]="false">
          </app-select>
        </form>
      </div>
    </div>

    <div class="disagreement-observation" *ngIf="!isPrintMode">
      <!-- TODO: change to app-button -->
      <button
        [disabled]="isDisabled"
        (click)="dispatchOpenObservation(item)"
        class="btn-observation thf-u-color--blue">
        {{ 'text.generalObservation' | translate }}
      </button>
      <span *ngIf="item?.observation">
            <span class="thf-u-color--blue">:</span>
            {{ item?.observation }}
          </span>
    </div>
  </div>

  <ng-template #toPrint>
    <div class="row disagreement-content">
      <div class="col-3">
        <div class="thf-u-color--grey-submarine thf-u-font--bold thf-u-margin-bottom--1">
          {{ 'text.statusOfRoom' | translate }}
        </div>
        <!-- printable line -->
        <div class="printable-line"></div>
      </div>

      <div class="col-3">
        <div class="thf-u-color--grey-submarine thf-u-font--bold thf-u-margin-bottom--1">
          {{ 'text.baggage' | translate }}
        </div>
        <!-- printable line -->
        <div class="printable-line"></div>
      </div>

      <div class="col-3">
        <div class="thf-u-color--grey-submarine thf-u-font--bold thf-u-margin-bottom--1">
          {{ 'text.inspectionStatus' | translate }}
        </div>
        <!-- printable line -->
        <div class="printable-line"></div>
      </div>

      <div class="col-2">
        <label
          for="adultCount"
          class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{'label.guestNumber' | translate }}
        </label>
        <div class="printable-line"></div>
      </div>
    </div>

    <div class="row disagreement-observation to-print">
      <div class="col-3 txt-to-print thf-u-font--14 thf-u-font--bold thf-u-color--grey-submarine">
        {{ ('text.generalObservation' | translate) + ':' }}
      </div>

      <div class="col-8">
        <div class="printable-line"></div>
      </div>
    </div>
  </ng-template>

</div>
