<div class="thf-popover">
  <ng-content select=".arrow-position"></ng-content>

  <header [hidden]="!showHeader" class="thf-popover-header thf-u-text-center thf-u-padding--1" #header>
    <ng-content select=".header-data"></ng-content>
  </header>

  <div class="thf-popover-content">
    <div class="thf-popover-content-group">
      <ng-content select=".body-data"></ng-content>
    </div>
  </div>

  <footer [hidden]="!showFooter" class="thf-popover-header--down thf-u-text-center thf-u-padding--1"  #footer>
    <ng-content select=".footer-data"></ng-content>
  </footer>
</div>