:host {
  height: 100%;
}

.sidebar {
  width: 230px;
  position: absolute;
  min-height: calc(100vh - 146px);
  height: 100%;
  margin-top: -30px;
  left: 0;
  background: var(--color-blue-lighter);
  border-right: 1px solid #CEEBF2;
}

.content {
  margin-left: 230px;
}
