<app-header-page-new>
  <header-title>{{'title.audit' | translate }}</header-title>
</app-header-page-new>

<ng-container *ngIf="auditAvailable != null && auditStep != null">
  <div class="sidebar thf-u-padding--2">
    <app-audit-steps
      [steps]="steps"
      [currentStep]="auditStep"
      [currentStatus]="auditStepStatus">
    </app-audit-steps>
  </div>

  <div class="content thf-u-padding-left--1 thf-u-padding-right--1">
    <app-audit-step-content
      [auditAvailable]="auditAvailable"
      [timeForAudit]="timeForAudit"
      [currentDate]="currentDate"
      [newDate]="newDate"
      [currentStep]="auditStep"
      [(stepStatus)]="auditStepStatus"
      (nextStep)="getTimeForAudit()">
    </app-audit-step-content>
  </div>
</ng-container>
