<app-header-page-new [enableBackButton]="true">
  <header-title>{{'action.edit' | translate }} {{'label.typeUHComplete' | translate}}</header-title>
</app-header-page-new>

<form novalidate [formGroup]="formGroupEditRoomType" class="thf-u-margin-top--5">
  <div class="row justify-content-center">
    <div class="col-11">
      <app-group-content [title]="'label.all'" [hasFilter]="false" formGroupName="basicGroup">
        <div class="row justify-content-center">
          <div class="col-11">
            <div class="row">
              <div class="col-3">
                <label for="initials" class="thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.roomTypeCreate.initials' | translate }}</label>
                <input id="initials" formControlName="initials" type="text" class="thf-input" name="initials">
                <thx-error formControlName="initials"></thx-error>
              </div>
              <div class="col-7">
                <label for="description" class="thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.roomTypeCreate.description' | translate }}</label>
                <input id="description" formControlName="description" type="text" class="thf-input" name="description">
                <thx-error formControlName="description"></thx-error>
              </div>
              <div class="col-2">
                <label for="order" class="thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine hps-space-top--2 hps-label-order-in-availability">{{ 'hotelPanelModule.roomTypeCreate.orderInAvailability' | translate }}</label>
                <input id="order" formControlName="order" type="number" class="thf-input thf-u-type-number-reset thf-u-text-center" name="order">
                <thx-error formControlName="order"></thx-error>
              </div>
            </div>
          </div>
        </div>

        <hr class="thf-u-margin-vertical--2">

        <div class="row justify-content-center">
            <div class="col-11">
              <div class="hf-u-font-uppercase thf-u-font--14 thf-u-margin-bottom--1 thf-u-color-grey-darker thf-u-font--bold">{{'label.charging' | translate}}</div>
              <div class="row thf-u-margin-top--2">
                <div class="col-3">
                  <label for="distributionCode" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.distributionCode' | translate }}</label>
                  <input id="distributionCode" formControlName="distributionCode" type="text" class="thf-input" name="distributionCode">
                  <thx-error formControlName="distributionCode"></thx-error>
                </div>
                <div class="col-3">
                  <label for="minimumRate" class="thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.minimumRate' | translate }}</label>
                  <input id="minimumRate" formControlName="minimumRate" currencyMask [options]="optionsCurrencyMask" class="thf-input" name="minimumRate">
                  <thx-error formControlName="minimumRate"></thx-error>
                </div>
                <div class="col-3">
                  <label for="maximumRate" class="thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine label-order-in-availability">{{ 'label.maximumRate' | translate }}</label>
                  <input id="maximumRate" formControlName="maximumRate" currencyMask [options]="optionsCurrencyMask" class="thf-input" name="maximumRate">
                  <thx-error formControlName="maximumRate"></thx-error>
                </div>
              </div>
            </div>
          </div>
      </app-group-content>

      <div class="thf-u-margin-top--3">
        <app-group-content [title]="'label.accommodation'" [hasFilter]="false" formGroupName="accommodationGroup">
          <div class="row justify-content-center">
            <div class="col-3">
              <div class="row">
                <header class="col-12">
                  <span class="thf-u-no-margin thf-u-font--14 thf-u-font--bold">{{ 'hotelPanelModule.commomData.uhCapacity' | translate }}</span>
                </header>

                <div class="col-12 thf-u-margin-top--2"></div>

                <div class="col-12">
                  <label for="adultCapacity" class="thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.commomData.adultCapacity' | translate }}</label>
                  <div class="thf-input-group">
                    <div class="thf-input-group-label thf-input-group-icon-label">
                      <span class="thf-input-group-label--img">
                        <img src="{{'qtdAdulto.min.svg' | imgCdn}}" alt="{{ 'commomData.images.account' | translate }}" />
                      </span>
                    </div>
                    <div class="thf-input-group-icon-field">
                      <input formControlName="adultCapacity" id="adultCapacity" class="thf-input thf-u-type-number-reset thf-u-text-center" type="number">
                    </div>
                  </div>
                  <thx-error formControlName="adultCapacity"></thx-error>
                </div>

                <div class="col-12 thf-u-margin-top--1"></div>

                <div class="col-12">
                  <label for="childCapacity" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.commomData.childCapacity' | translate }}</label>
                  <div class="thf-input-group">
                    <div class="thf-input-group-label thf-input-group-icon-label">
                      <span class="thf-input-group-label--img">
                        <img src="{{'QtdCriancas.min.svg' | imgCdn}}" alt="{{ 'commomData.images.babyCarriage' | translate }}" />
                      </span>
                    </div>
                    <div class="thf-input-group-icon-field">
                      <input formControlName="childCapacity" id="childCapacity" class="thf-input thf-u-type-number-reset thf-u-text-center" type="number">
                    </div>
                  </div>
                  <thx-error formControlName="childCapacity"></thx-error>
                </div>
              </div>
            </div>

            <div class="col-1"></div>

            <div class="col-3">
              <div class="row">
                <header class="col-12">
                  <span class="thf-u-no-margin thf-u-font--14 thf-u-font--bold">{{ 'hotelPanelModule.commomData.accommodationIncluded' | translate }}</span>
                </header>

                <div class="col-12 thf-u-margin-top--2"></div>

                <div class="col-12">
                  <label for="doubleBedCapacity" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.commomData.doubleBedCapacity' | translate }}</label>
                  <div class="thf-input-group">
                    <div class="thf-input-group-label thf-input-group-icon-label">
                      <span class="thf-input-group-label--img">
                        <img src="{{'camaCasal.min.svg' | imgCdn}}" alt="{{ 'commomData.images.doubleBed' | translate }}" />
                      </span>
                    </div>
                    <div class="thf-input-group-icon-field">
                      <input formControlName="doubleBedCapacity" id="doubleBedCapacity" class="thf-input thf-u-type-number-reset thf-u-text-center"
                        type="number">
                    </div>
                  </div>
                  <thx-error formControlName="doubleBedCapacity"></thx-error>
                </div>

                <div class="col-12 thf-u-margin-top--1"></div>

                <div class="col-12">
                  <label for="reversibleBedCapacity" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.commomData.reversibleBedCapacity' | translate }}</label>
                  <div class="thf-input-group">
                    <div class="thf-input-group-label thf-input-group-icon-label">
                      <span class="thf-input-group-label--img">
                        <img src="{{'camaReversivel.min.svg' | imgCdn}}" alt="{{ 'commomData.images.reversibleBed' | translate }}" />
                      </span>
                    </div>
                    <div class="thf-input-group-icon-field">
                      <input formControlName="reversibleBedCapacity" id="reversibleBedCapacity" class="thf-input thf-u-type-number-reset thf-u-text-center"
                        type="number">
                    </div>
                  </div>
                  <thx-error formControlName="reversibleBedCapacity"></thx-error>
                </div>

                <div class="col-12 thf-u-margin-top--1"></div>

                <div class="col-12">
                  <label for="singleBedCapacity" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.commomData.singleBedCapacity' | translate }}</label>
                  <div class="thf-input-group">
                    <div class="thf-input-group-label thf-input-group-icon-label">
                      <span class="thf-input-group-label--img">
                        <img src="{{'camaSolteiro.min.svg' | imgCdn}}" alt="{{ 'commomData.images.singleBed' | translate }}" />
                      </span>
                    </div>
                    <div class="thf-input-group-icon-field">
                      <input formControlName="singleBedCapacity" id="singleBedCapacity" class="thf-input thf-u-type-number-reset thf-u-text-center" type="number">
                    </div>
                  </div>
                  <thx-error formControlName="singleBedCapacity"></thx-error>
                </div>
              </div>
            </div>

            <div class="col-1"></div>

            <div class="col-3">
              <div class="row">
                <header class="col-12">
                  <span class="thf-u-no-margin thf-u-font--14 thf-u-font--bold">{{ 'hotelPanelModule.commomData.accommodationExtra' | translate }}</span>
                </header>

                <div class="col-12 thf-u-margin-top--2"></div>

                <div class="col-12">
                  <label for="cribBedCapacity" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.commomData.cribBedCapacity' | translate }}</label>
                  <div class="thf-input-group">
                    <div class="thf-input-group-label thf-input-group-icon-label">
                      <span class="thf-input-group-label--img">
                        <img src="{{'berco.min.svg' | imgCdn}}" alt="{{ 'commomData.images.singleBed' | translate }}" />
                      </span>
                    </div>
                    <div class="thf-input-group-icon-field">
                      <input formControlName="cribBedCapacity" id="cribBedCapacity" class="thf-input thf-u-type-number-reset thf-u-text-center" type="number">
                    </div>
                  </div>
                  <thx-error formControlName="cribBedCapacity"></thx-error>
                </div>

                <div class="col-12 thf-u-margin-top--1"></div>

                <div class="col-12">
                  <label for="extraBedCapacity" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.commomData.extraBedCapacity' | translate }}</label>
                  <div class="thf-input-group">
                    <div class="thf-input-group-label thf-input-group-icon-label">
                      <span class="thf-input-group-label--img">
                        <img src="{{'camaSolteiro.min.svg' | imgCdn}}" alt="{{ 'commomData.images.extraBed' | translate }}" />
                      </span>
                    </div>
                    <div class="thf-input-group-icon-field">
                      <input formControlName="extraBedCapacity" id="extraBedCapacity" class="thf-input thf-u-type-number-reset thf-u-text-center"
                        type="number">
                    </div>
                  </div>
                  <thx-error formControlName="extraBedCapacity"></thx-error>
                </div>
              </div>
            </div>
          </div>
        </app-group-content>
      </div>

      <div class="thf-u-margin-top--3">
        <app-group-content [title]="'label.courtesy'" [hasFilter]="false" formArrayName="ranges">
            <ngx-datatable
              #myTable
              class='material material-padding-default'
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="0"
              [rowHeight]="'45'"
              [limit]="25"
              [rows]='childrenAgeRangeList'>
              <!-- Column Templates -->
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  {{ 'label.childrenAgeRange' | translate }}
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.parameterDescription}} - {{row.propertyParameterMinValue}} {{'variable.theF' | translate}} {{row.propertyParameterValue}} {{'text.years' | translate}}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column>
                <ng-template ngx-datatable-header-template>
                  {{ 'label.courtesyMaximum' | translate }}
                </ng-template>
                <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <span [formGroupName]="rowIndex">
                    <input
                      [id]="rowIndex"
                      type="number"
                      formControlName="freeChildQuantity"
                      class="thf-input-table thf-u-type-number-reset thf-u-text-center hps-input-courtesy"
                      [ngClass]="{'hps-input-courtesy-error': invalidFreeChildQuantity(rowIndex)}" />
                  </span>
                </ng-template>
              </ngx-datatable-column>
          </ngx-datatable>
        </app-group-content>
      </div>

      <div class="row thf-u-margin-vertical--3">
        <div class="col-md-6 col-lg-8 col-xl-8">&nbsp;</div>
        <div class="col-md-3 col-lg-2 col-xl-2">
          <app-button [buttonConfig]="buttonCancelConfig"></app-button>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2">
          <app-button [buttonConfig]="buttonSaveConfig"></app-button>
        </div>
      </div>
    </div>
  </div>
</form>
