.hps-space-bottom--1 {
    margin-bottom: -10px;
}
  
.hps-space-top--2 {
    margin-top: -20px;
}

.hps-label-order-in-availability {
    white-space: normal;
}

.hps-input-courtesy {
    width: 20%;
}

.hps-input-courtesy-error {
    border: 1px solid var(--color-red);
    outline: var(--color-red);
}

@media screen and (min-width: 1522px) {
    .hps-space-top--2 {
        margin-top: 0;
    }
}