<app-header-page-new [enableBackButton]="true">
  <header-title>{{ pageTitle | translate }}</header-title>
</app-header-page-new>

<div class="thf-u-margin-top--2">
  <div id="power-bi" class="pbi-report"></div>
</div>
<div class="row justify-content-end thf-u-margin-top--2">
  <div class="col-3">
    <button
      class="thf-btn thf-u-no-padding thf-btn-primary"
      (click)="printReport()">
      {{ 'action.print' | translate }}
    </button>
  </div>
</div>



