<div class="value-container">
  <div class="level-code">
    <img *ngIf="isLevel" src="{{'rate-level-icon.svg' | imgCdn}}" alt="rate-level-icon"/>
    {{levelCode}}
  </div>
  <div class="old-value" *ngIf="oldValue">
    {{ oldValueString }}
  </div>
  <div *ngIf="currentValue"
       class="current-value"
       [ngClass]="{
         'positive': oldValue && currentValue > oldValue,
         'negative': oldValue && currentValue < oldValue,
         'today': isToday()
       }">
    <span>{{ currentValueString }}</span>
  </div>

  <div *ngIf="!currentValue"
       class="current-value no-rate">
    <img src="{{'alert-master-details.svg' | imgCdn}}" alt="alert-details"/>
    <span>{{ labels?.noRate }}</span>
  </div>
</div>
