.value-container {
  .level-code {
    color: var(--color-blue);
  }

  .old-value {
    font-size: .8em;
    opacity: .7;
    text-decoration: line-through;
  }

  .current-value {
    font-size: 1.3em;

    &.positive {
      color: var(--color-green);
    }

    &.negative {
      color: var(--color-red);
    }

    &.today {
      color: var(--color-blue);
    }

    &.no-rate {
      font-size: .92em;
      color: var(--color-orange-dark);

      img {
        width: 1.54em;
        height: 1.54em;
      }
    }
  }

}
