<div id="header-details-guest-billing-account" class="thf-u-background-color--blue-darker thf-u-color--white thf-u-font--16 thf-u-padding--1 thf-u-padding-left--2 thf-u-padding-right--2">
  <div class="row">
    <div class="col-2">
      <span class="thf-u-font--bold">{{'text.reservation' | translate}}: </span>
      <span>{{reservationBudgetHeader?.reservationCode}}</span>
    </div>
    <div class="col-2 offset-1">
      <span class="thf-u-vertical-align-middle">{{reservationBudgetHeader?.arrivalDate | amDateFormat:'DD/MM/YY'}} - {{reservationBudgetHeader?.departureDate | amDateFormat:'DD/MM/YY'}}</span>
    </div>
    <div class="col-2">
      <span>{{'text.accommodations' | translate}}:
        <span class="thf-u-font--bold">{{reservationBudgetHeader?.accomodations}}</span>
      </span>
    </div>
    <div class="col-2">
      <img src="{{'person-gray.svg' | imgCdn}}" class="thf-u-filter-svg--white img-person-header" alt="{{ 'img.iconPerson' | translate }}">
      <span class="thf-u-vertical-align-middle thf-u-font--bold">{{reservationBudgetHeader?.adultCount}}</span>
      <img src="{{'child_icon.svg' | imgCdn}}" class="thf-u-filter-svg--white thf-u-margin-left--1 img-child-header"
        alt="{{ 'img.iconChild' | translate }}">
      <span class="thf-u-vertical-align-middle thf-u-font--bold">{{reservationBudgetHeader?.childCount}}</span>
    </div>
    <div class="col-3">
      <span class="thf-u-font--bold">
        {{'text.reservationTotal' | translate}}:
        {{reservationBudgetHeader?.reservationBudget | currencyFormat: reservationBudgetHeader?.currencySymbol }}
      </span>
    </div>
  </div>
</div>
