:host {
  display: block;

  .card-wrapper {
    background: var(--color-white);
    border: 2px solid var(--color-blue-light-border);
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    width: 100%;
    min-height: 90px;
    transition: border 300ms;
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
    padding: 14px;

    &.selected, &:hover, &:active {
      border: 2px solid var(--color-blue);
    }

    .card-header-item, .card-content-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
    }

    .card-header-item {
      img {
        display: block;
        width: 25px;
        height: 25px;
      }
    }

    .card-content-item {
      .card-description {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .card-content-icon {
        color: var(--color-blue);
      }
    }

  }
}
