<div class="card-wrapper"
     [title]="item?.productName"
     [ngClass]="{'selected': isSelected}"
     (click)="changeSelected()">
  <div class="card-header-item">
    <img
      alt="{{ item?.billingItemName }}"
      src="{{ item?.billingItemCategoryNameIconName | imgCdn }}" />
  </div>
  <div class="card-content-item">
    <span class="card-description">
      {{ item?.billingItemName }}
    </span>
    <i
      class="mdi card-content-icon"
      [ngClass]="{'mdi-checkbox-blank-circle-outline': !isSelected, 'mdi-checkbox-marked-circle': isSelected}"></i>
  </div>
</div>
