<thx-expandable-box [title]="title"
                    [formGroup]="guestForm"
                    [expanded]="expanded" >
  <div class="expandable-box-title">
    <div class="label  thex-special-1 thex-font-size-small" *ngIf="!guest?.fullName">
      {{ 'label.notFilled' | translate }}
    </div>
  </div>
  <div class="expandable-box-content" [formGroup]="guestForm" >
    <thx-subtitle-v2 [subtitle]="'label.guestData' | translate" class="guest-form">
      <div class="row">
        <div class="col-8">
          <thx-input-text [title]="'commomData.fnrh.basicData.fullName' | translate" formControlName="fullName" required="true" ></thx-input-text>
        </div>
        <div class="col-4">
          <thx-input-select-group [title]="'label.document' | translate" [optionList]="documentTypeList" formControlName="document" ></thx-input-select-group>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <thx-input-text [title]="'label.email' | translate" formControlName="email"></thx-input-text>
        </div>
        <div class="col-4">
          <thx-select-v2 [title]="'guestModule.commomData.nationality' | translate"
                         [optionList]="nationalityList"
                         formControlName="nationalityId" ></thx-select-v2>
        </div>
        <div class="col-3">
          <thx-input-date [title]="'commomData.fnrh.basicData.birthDate' | translate"
                          formControlName="birthDate" ></thx-input-date>
        </div>
        <div class="col-1 thex-font-size-items-two thex-color-gray-40">
          <div>{{'guestModule.commomData.age' | translate}}</div>
          <div>{{ guestForm?.get('age')?.value || '--' | pad: 2}}</div>
        </div>
      </div>

    </thx-subtitle-v2>

    <thx-subtitle-v2 [subtitle]="'label.address' | translate" class="address-form">
      <app-address-v2 [showAddressType]="false" ></app-address-v2>
    </thx-subtitle-v2>

    <!--  todo this field was temporarily removed from screem -->
    <!-- <thx-subtitle-v2 [subtitle]="'commomData.fnrh.additionalInformation.remarks' | translate" class="address-form">
      <div class="row">
        <div class="col-12 obs">
          <thx-textarea-v2  [title]="'label.additionalInformation' | translate"
                            formControlName="obs"
                            imit="100" ></thx-textarea-v2>
        </div>
      </div>
    </thx-subtitle-v2> -->

    <div class="row">
      <div class="col-3 offset-9">
        <!-- Todo use buton v2 when it's in UI -->
        <app-button [buttonConfig]="saveButtonConfig"></app-button>
      </div>
    </div>
  </div>

</thx-expandable-box>
