:host {
  display: block;

  thx-subtitle-v2 {
    margin-bottom: 30px;
    display: block;
  }
  .row {
    margin-bottom: 10px;
  }
  .label {
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    padding: 0 5px;
    line-height: 20px;
  }



}
