<div class="form-login">
  <div class="logos">
    <div class="product-logo-img">
      <thx-img
        *ngIf="productLogoImg"
        [src]="productLogoImg"
        [title]="'product logo img'"
        [alt]="'product logo img'">
      </thx-img>
    </div>
    <div class="totvs-logo-img">
      <thx-img
        [src]="'totvs-logo.svg'"
        [title]="'totvs logo img'"
        [alt]="'totvs logo img'">
      </thx-img>
    </div>
  </div>
  <div class="form">
    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
      <thx-input-text
        [title]="'authModule.login.insertEmail' | translate"
        [leftIcon]="'adult-icon.svg'"
        formControlName="email">
      </thx-input-text>

      <thx-input-text
        [title]="'authModule.login.insertPassword' | translate"
        [leftIcon]="'grey-lock-icon.svg'"
        [type]="'password'"
        formControlName="password">
      </thx-input-text>

      <thx-recaptcha
        (succeeded)="onRecaptchaSuccess($event)"
        (failed)="onRecaptchaFail()"
      ></thx-recaptcha>

      <div class="actions">
        <thx-link
          (clicked)="resetPassword(loginForm.value.email)">
          {{'authModule.login.forgotPassword' | translate}}
        </thx-link>
        <thx-button
          [colorType]="buttonColorType"
          [disabled]="loginForm.invalid || !recaptcha"
          [ngClass]="'thx-btn-primary'">
          {{'authModule.common.enter' | translate}}
        </thx-button>
      </div>
    </form>
  </div>
</div>
