.form-login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 40px;
  width: 426px;
  background-color: var(--color-white);
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  font-family: NunitoSans-Bold, sans-serif;

  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    margin-bottom: 35px;

    .product-logo-img,
    .totvs-logo-img {
      width: 50%;
    }

    .product-logo-img {
      width: 100px;
      text-align: left;
    }

    .totvs-logo-img {
      width: 60px;
      text-align: right;
    }

  }

  form {
    thx-input-text {
      margin-bottom: 10px;
    }

    thx-recaptcha {
      display: block;
      margin-bottom: 30px;
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 1 1 auto;
      align-items: center;

      thx-button {
        width: 135px;
      }
    }
  }
}
