<app-group-content [title]="'accountTypeModule.new.singleAccount.title'">
  <div class="row">
    <div class="col">
      <label class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-bottom--1">
        {{'accountTypeModule.new.singleAccount.accountType' | translate }}
      </label>
      <div>
        <app-button-bar [buttonBarConfig]="buttonBarConfig"></app-button-bar>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <form [formGroup]="singleAccountForm">
        <div class="row thf-u-margin-top--1">
          <div class="col thf-u-block">
            <label class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
              {{'accountTypeModule.new.singleAccount.document' | translate }}
            </label>
            <div class="thf-input-group thf-group-input-select">
              <app-input-autocomplete
                [hasFocus]="true"
                [inputId]="inputIdDocument"
                [paramsDisplay]="paramDisplayDocument"
                [autocompleteData]="getDocumentInformation(singleAccountForm)"
                [autocompleteDisplayEnum]="referenceToDisplayAutocompleteEnum.Simple"
                [autocompleteTypeEnum]="referenceToTypeAutocompleteEnum.GuestDocument"
                (searchItem)="searchItemDocument($event)"
                (updateItem)="updateItemDocument($event, singleAccountForm)"
                [autocompleItems]="autocompleItemsDocument"
                [autocompleteItemsSelect]="autocompleteDocumentTypes">
              </app-input-autocomplete>
              <app-select
                [blankOptionText]="''"
                [selectId]="'documentTypeId'"
                [parent]="singleAccountForm"
                [optionList]="autocompleSelectItemsDocumentTypes"
                [hasIcon]="true"
                [hasFormGroup]="true"></app-select>
            </div>
            <div class="thf-u-margin-top--1">
              <thx-error
                formControlName="document"></thx-error>
            </div>
          </div>
          <div class="col">
            <label class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
              {{'accountTypeModule.new.singleAccount.email' | translate }}
            </label>
            <input id="clientEmail" formControlName="email" class="thf-input thf-u-margin-top--1" type="text" [ngClass]="{'thf-input-error': !singleAccountForm.get('email').valid && singleAccountForm.get('email').dirty}"/>
          </div>
        </div>
        <div class="row thf-u-margin-top--1">
          <div class="col-9">
            <label for="clientName" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
              {{ clientName | translate }}
            </label>
            <input id="clientName" formControlName="clientName" class="thf-input thf-u-margin-top--1" type="text" [ngClass]="{'thf-input-error': !singleAccountForm.get('clientName').valid && singleAccountForm.get('clientName').dirty}"
            />
          </div>
          <div class="col">
            <label for="phone" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
              {{ 'accountTypeModule.new.singleAccount.phone' | translate }}
            </label>
            <input id="phone" formControlName="phone" class="thf-input thf-u-margin-top--1" type="text" [ngClass]="{'thf-input-error': !singleAccountForm.get('phone').valid && singleAccountForm.get('phone').dirty}"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</app-group-content>

<div class="thf-u-margin-top--2"></div>

<app-group-content [title]="'accountTypeModule.new.singleAccount.statisticalData'">
  <div class="row">
    <div id="singleAccountForm-origin" class="col-4 col-lg-4">
      <label for="origin" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">{{ 'reservationModule.commomData.origin' | translate }}</label>
      <app-select
        [parent]="singleAccountForm.get('staticalData')"
        [optionList]="optionsOriginList"
        [selectId]="'origin'"
        [isUppercase]="false"
        [hasFormGroup]="true">
      </app-select>
    </div>
    <div id="singleAccountForm-marketSegment" class="col-5 col-lg-5">
      <label for="marketSegment" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">{{ 'reservationModule.commomData.marketSegment' | translate }}</label>
      <app-select
        [parent]="singleAccountForm.get('staticalData')"
        [optionList]="optionsBusinessSourceList"
        [selectId]="'marketSegment'"
        [isUppercase]="false"
        [hasFormGroup]="true">
      </app-select>
    </div>
  </div>
</app-group-content>

<div class="thf-u-margin-top--2"></div>

<app-group-content [title]="'hotelPanelModule.propertyEdit.addressData'">
  <div class="row">
    <div class="col-10">
      <app-address
        [needShowUnicAddress]="false"
        (addressChanged)="setValueAddressByEventEmitted($event)">
      </app-address>
    </div>
  </div>
</app-group-content>

<div class="thf-u-margin-top--3">
    <div class="row">
        <div class="offset-md-4 offset-lg-8 col-md-3 col-lg-2">
            <app-button
                [buttonConfig]="buttonCancelConfig"
                data-qa-id="cancel"
            ></app-button>
        </div>
        <div class="col-md-3 col-lg-2">
            <app-button
                [buttonConfig]="buttonSaveConfig"
                data-qa-id="save"
            ></app-button>
        </div>
    </div>
</div>
