<thx-toaster-v2></thx-toaster-v2>
<app-modal></app-modal>
<app-load></app-load>
<app-load-new></app-load-new>


<div class="container-fluid thf-u-min-height--100-vh">
  <span>
    <app-menu
      [externalImg]="'thex_central_logo.svg'"
      [options]="menuOptions$ | async"></app-menu>
  </span>
  <div >
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12 thf-u-no-padding">
        <app-top-bar></app-top-bar>
      </div>
    </div>
    <div class="row property-card" [ngClass]="{'property-card-visible': needShowPropertySelector()}">
      <div class="col-12 property-selector">
        <central-property-card-selector></central-property-card-selector>
      </div>
    </div>
    <div>
      <div class="col-12 main-container">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="thf-u-margin-top--4"></div>
  </div>
  <app-bottom-bar></app-bottom-bar>
</div>
