<form [formGroup]="form">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col">
        <label
          class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.code' | translate}}
        </label>
        <div class="thf-u-margin-top--1">
          {{ form?.get('channelCodeName').value }}
        </div>
      </div>
      <div class="col">
        <label
          class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.description' | translate}}
        </label>
        <div class="thf-u-margin-top--1">
          {{ form?.get('channelDescription').value }}
        </div>
      </div>
      <div class="col-3">
        <label for="isActive"
               class="thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{'title.active' | translate}}
        </label>
        <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
          <input type="checkbox"
                 formControlName="isActive"
                 class="thf-input-radio-button"
                 [id]="form?.get('isActive')"/>
          <label
            class="thf-u-vertical-align--sup"
            [attr.for]="form?.get('isActive')">
            <span class="ui"></span>
          </label>
        </div>
      </div>

      <div class="w-100"></div>
      <div class="thf-u-margin-vertical--1"></div>

      <div class="col">
        <label
          class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.origin' | translate}}
        </label>
        <div class="thf-u-margin-top--1">
          {{ form?.get('businessSourceDescription').value }}
        </div>
      </div>
      <div class="col">
        <label for="companyId"
               class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.companyId' | translate}}
        </label>
        <input id="companyId" class="thf-input thf-u-margin-top--1" type="tel"
               formControlName="companyId"/>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="cancelBtnConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="saveBtnConfig"></app-button>
      </div>
    </div>
  </div>
</form>
