<thf-modal
  #modal
  [t-title]="i18n.modalTitle"
  [t-primary-action]="primaryAction"
  [t-secondary-action]="secondaryAction"
  [formGroup]="form"
>
  <thf-select
    *ngIf="integrationPartnersOptions$ | async as integrationPartnersOptions"
    name="partnerId"
    formControlName="partnerId"
    class="thf-md-4 required-field"
    [t-label]="i18n.label.integrationPartner"
    [t-required]="true"
    [t-options]="integrationPartnersOptions">
  </thf-select>

  <thf-input
    name="integrationCode"
    formControlName="integrationCode"
    class="thf-md-4 required-field"
    [t-label]="i18n.label.integrationCode"
    [t-required]="true"
  ></thf-input>

  <thf-switch
    name="isActive"
    formControlName="isActive"
    class="thf-md-3"
    [t-label]="i18n.label.active"
    t-label-on=" "
    t-label-off=" "
  ></thf-switch>
</thf-modal>
