<!-- Title and ActionButton -->
<div class="row thf-u-margin-bottom--2">
  <div class="col d-flex align-items-center">
    <h3 class="thf-u-font--16 thf-u-color-grey-darker">
      {{ stepTitle | translate }}
    </h3>
  </div>

  <div class="col d-flex align-items-center justify-content-end">
    <button (click)="start()" class="thf-btn btn-action btn-header icon-left thf-u-width-auto thf-btn-primary"
            [disabled]="stepStatus == stepStatusEnumRef.PROCESSING || stepStatus == stepStatusEnumRef.CONCLUDED">
      <i class="mdi mdi-play"></i>
      {{ startButtonLabel | translate }}
    </button>
  </div>
</div>

<!-- Progress Panel -->
<div class="thf-group-content thf-u-padding--2">
  <h3 class="thf-u-no-margin thf-u-font--16 thf-u-margin-bottom--1">{{ 'label.progress' | translate }}</h3>

  <thx-progress-bar
    [value]="progressbarPercentual"
    [bgColor]="progressbarBgColor"
    [textColor]="progressbarTextColor"
    [unit]="stepStatus == stepStatusEnumRef.PENDING ? '' : '%'">

    <img *ngIf="stepStatus == stepStatusEnumRef.PROCESSING"
         src="{{'loading-thick.svg' | imgCdn}}">
    <i *ngIf="stepStatus == stepStatusEnumRef.CONCLUDED" class="icon icon-check-ok"></i>
    <i *ngIf="stepStatus == stepStatusEnumRef.PENDING" class="icon icon-incomplete"></i>

    <span> {{ progressbarDescription | translate:{ problems: auditStepErrorList?.length } }} </span>
  </thx-progress-bar>

  <!--<p class="thf-u-font&#45;&#45;12 thf-u-color &#45;&#45;blue thf-u-no-margin thf-u-margin-top&#45;&#45;1">
    TODO: implement when backend returns the result
    <b>1.000</b> {{ 'label.reservationsFoundInTheSystem' | translate | lowercase }}
  </p>-->
</div>

<ng-container *ngIf="auditAvailable || auditStepErrorList?.length > 0; else notAvailable">
  <ng-container *ngIf="currentStep == 1; else problemsFound">
    <!-- Changing date -->
    <h3 class="thf-u-font--16 thf-u-margin-bottom--2 thf-u-margin-top--2 thf-u-color-grey-darker">
      {{ 'title.procedure' | translate }}
    </h3>

    <app-audit-date
      [currentDate]="currentDate"
      [newDate]="newDate"
      [currentStatus]="stepStatus">
    </app-audit-date>

  </ng-container>

  <ng-template #problemsFound>
    <!-- Problems Found -->
    <h3 class="thf-u-font--16 thf-u-margin-bottom--2 thf-u-margin-top--2 thf-u-color-grey-darker">
      {{ 'title.problemsFound' | translate }}
    </h3>

    <app-audit-errors [auditStepErrorList]="auditStepErrorList"></app-audit-errors>

  </ng-template>
</ng-container>

<!-- Footer Button -->
<div *ngIf="currentStep == 4" class="row thf-u-margin-top--2">
  <div class="col-12 thf-u-text-right">
    <button (click)="next()" [disabled]="stepStatus != stepStatusEnumRef.CONCLUDED"
            class="thf-btn thf-btn-primary icon-right">
      {{ 'action.advance' | translate }}
      <i class="mdi mdi-chevron-right"></i>
    </button>
  </div>
</div>

<ng-template #notAvailable>
  <div class="thf-u-padding thf-u-margin-top--2">
    <app-audit-not-available
      [timeForAudit]="timeForAudit"
      (finish)="next()">
    </app-audit-not-available>
  </div>
</ng-template>

<app-daily-launch-confirmation-modal
  [propertyId]="propertyId"
  [modalId]="CONFIRM_DAILY_LAUNCH"
  (cancelClick)="cancelDailyLaunch()"
  (confirmClick)="confirmDailyLaunch()" ></app-daily-launch-confirmation-modal>
