.btn-action {
  max-height: 34px;
  min-height: 34px;
  line-height: 1;
}

.thf-btn {
  width: auto;
}

.thf-btn.icon-left {
  padding: 5px 35px 5px 15px;
}

.thf-btn.icon-left i {
  margin-right: 20px;
}

.thf-btn.icon-right {
  position: relative;
  padding-right: 50px;
  padding-left: 40px;
}

.thf-btn.icon-right i {
  position: absolute;
  transform: translateY(-50%);
  font-size: 1.3em;
  right: 15px;
  top: 50%;
}
