<ng-template #destinationAccountInformationsPopover>
  <div class="hps-destination-AccountInformations-popover thf-u-padding--2">
    <h3 class="thf-u-font--18 thf-u-font--semibold">{{'title.destinationAccountWidget' | translate}}
    </h3>
    <span class="thf-u-font--14">{{'label.destinationAccountWidget' | translate}}</span>
    <div class="row justify-content-end">
      <div class="col-5">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </div>
</ng-template>

<app-slimbox *ngIf="accountDestinationInitialState" [slimboxConfig]="slimboxConfig" [slimboxStyleClass]="'hps-size-limit'">
  <slimbox-content>
    <div class="row justify-content-end thf-u-margin-top--1">
      <div class="col-5 d-flex align-self-center align-items-center justify-content-end">
        <span class="thf-tag thf-u-background-color--grey-feldgrau thf-u-font--12 thf-u-font-uppercase thf-u-vertical-align-middle" [thxPopover]="destinationAccountInformationsPopover" placement="bottom" popoverColor="blue-dark">
          {{'label.destinationAccount' | translate}}
        </span>
      </div>
    </div>
    <div class="thf-u-text-center">
      <div class="thf-u-margin-top--4">
        <img src="{{'icon_conta_transferencia.min.svg' | imgCdn}}" alt="{{ 'img.accountIcon' | translate }}" />
      </div>
      <div class="row justify-content-center thf-u-margin-top--4">
        <span class="thf-u-font--14 thf-u-font--bold">{{ 'title.selectDestinationAccount' | translate }}</span>
      </div>
      <div class="row justify-content-center thf-u-margin-top--2">
        <div class="col-12">
          <app-autocomplete [autocompleteConfig]="autocompleteConfig"></app-autocomplete>
        </div>
      </div>
      <div class="row justify-content-center thf-u-margin-top--4">
        <span class="thf-u-font--18">{{ 'label.uhAvailableAccounts' | translate }}</span>
      </div>
      <div class="row justify-content-center thf-u-margin-top--1">
        <div class="col-12" *ngFor="let account of guestUHAccount" (click)="addDestinationAccount(account)">
          <app-slimbox-option>
            <template-option>
              <span class="thf-u-font--16">{{ formatBalance(account) }}</span>
            </template-option>
          </app-slimbox-option>
        </div>
      </div>
    </div>
  </slimbox-content>
</app-slimbox>
<div *ngIf="!accountDestinationInitialState && billingAccountWithAccountByIdSelected">
  <destination-account-transfer
    [billingAccountDestination]="billingAccountWithAccountByIdSelected"
    (closeBillinAccountDestination)="backToAccountDestinationInitialState()"
    [transferWasCompleted]="transferWasCompleted">
  </destination-account-transfer>
</div>
