.roomtype-popover-container {
    width: 240px;
    height: 112px;
    padding: 10px 10px 11px 10px;
    background: transparent;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    letter-spacing: 0;
}

.roomtype-name {
    width: 220px;
    height: 24px;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 4px;
}

.roomtype-pricerange {
    width: 142px;
    height: 14px;
    font-size: 10px;
    font-weight: 300;
    line-height: 14px;
    color: #F4F7F8;
}

.roomtype-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 400;
    color: #F4F7F8;
}

.categorie-info {
    width: 40px;
    display: flex;
    margin-right: 35px;
    margin-bottom: 11px;
}

.categorie-icon {
    width: 20px;
    margin-right: 6px;
    text-align: center;
}

.categorie-img {
    max-width: 20px;
    max-height: 15.2px;
}

.categorie-count {
    width: 12px;
    height: 14px;
}

.categorie-info:nth-child(3),
.categorie-info:nth-child(6)
{
    margin-right:0px;
}