<div class="roomtype-popover-container">
    <div class="roomtype-name">
        {{roomInfo?.abbreviation}} - {{roomInfo?.name}}
    </div>
    <div class="roomtype-pricerange">
        {{ roomInfo?.minimumRate  | currencyFormat: roomInfo?.currencySymbol}} - 
        {{ roomInfo?.maximumRate  | currencyFormat: roomInfo?.currencySymbol}}  
    </div>
    <div class="roomtype-info">
        <div id="people-room-info" class="categorie-info">
            <div id="people-icon" class="categorie-icon">
                <img alt="People icon" id="people-icon-img" class="categorie-img" src="{{'adult-icon.svg' | imgCdn}}" />
            </div>
            <div>
                <span id="people-count" class="categorie-count">
                    {{roomInfo?.adultCapacity | pad: 2  }}
                </span>
            </div>
        </div>
        <div id="doubleBed-room-info" class="categorie-info">
            <div id="doubleBed-icon" class="categorie-icon">
                <img alt="Double bed icon" id="doublebed-icon-img" class="categorie-img" src="{{'doubleBed-icon.svg' | imgCdn}}" />
            </div>
            <div>
                <span id="doublebed-count" class="categorie-count">
                    {{roomInfo?.bedDouble.count | pad: 2 }}
                </span>
            </div>
        </div>
        <div id="reversibleBed-room-info" class="categorie-info">
            <div id="reversiblebed-icon" class="categorie-icon">
                <img alt="Reversible bed icon" id="reversiblebed-icon-img" class="categorie-img" src="{{'singleBed-icon.svg' | imgCdn}}" />
            </div>
            <div>
                <span id="reversibleBed-count" class="categorie-count">
                    {{roomInfo?.bedReversible.count |  pad: 2 }}
                </span>
            </div>
        </div>
        <div id="children-room-info" class="categorie-info">
            <div id="children-icon" class="categorie-icon">
                <img alt="Children icon"  id="children-icon-img" class="categorie-img" src="{{'children-icon.svg' | imgCdn}}" />
            </div>
            <div>
                <span id="children-count" class="categorie-count">
                    {{roomInfo?.childCapacity |  pad: 2 }}
                </span>
            </div>
        </div>
        <div id="singleBed-room-info" class="categorie-info">
            <div id="singleBed-icon" class="categorie-icon">
                <img alt="Single bed icon"  id="singleBed-icon-img" class="categorie-img" src="{{'singleBed-icon.svg' | imgCdn}}" />
            </div>
            <div>
                <span id="singleBed-count" class="categorie-count">
                    {{ (roomInfo?.bedSingle.count) + (roomInfo?.bedExtra.count)  |  pad: 2 }}
                </span>
            </div>
        </div>
        <div id="crib-room-info" class="categorie-info">
            <div id="crib-icon" class="categorie-icon">
                <img alt="Crib icon"  id="crib-icon-img" class="categorie-img" src="{{'berco-icon.svg' | imgCdn}}" />
            </div>
            <div>
                <span id="crib-count" class="categorie-count">
                    {{roomInfo?.bedCrib.count |  pad: 2 }}
                </span>
            </div>
        </div>
    </div>
</div>