<div (click)="hideAllPopovers()">
  <app-header-page-new
    [enableBackButton]="true"
    [rightButtonList]="topButtonsListConfig">
    <header-title>
      {{'title.guestEntrance' | translate }} > {{reservationItemCode}}
    </header-title>
  </app-header-page-new>

  <div class="container">
    <app-guest-entrance-fnrh-header
      [dataHeader]="checkInHeaderDto"
      (click)="hideAllPopovers()">
    </app-guest-entrance-fnrh-header>
    <div class="row thf-u-margin-top--2">

      <!-- form -->
      <div class="col">
        <app-fnrh
          [config]="config"
          [responsableList]="responsableList"
          [buttonCustomSave]="buttonCustomSave"
          (fnrhSaved)="fnrhSaved($event)">
        </app-fnrh>
      </div>
    </div>
  </div>
</div>

<app-modal-guest-entrance
  #MODAL_REF_ID
  [reservationItemCode]="reservationItemCode"
  [budget]="checkInHeaderDto"
  [guestForm]="guestForm">
</app-modal-guest-entrance>
