<div class="thx-popover" [ngClass]="[position]" *ngIf="isActive" [@fadeInOut]>
  <div class="thx-popover__wrapper">
    <span class="thx-popover__arrow"></span>
    <ng-content></ng-content>
  </div>
</div>
