.thx-popover {
  position: absolute;
  height: 0;
  width: 0;
  &__arrow {
    box-shadow: 2px -1px 4px -1px rgba(0, 0, 0, 0.08);
    border-top: solid 1px #e7e7e7;
    border-right: solid 1px #e7e7e7;
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    transform: rotate(-45deg);
  }
  &.bottom {
    &-right {
      bottom: 0;
      right: 0;
      .thx-popover__wrapper {
        right: 0;
        top: 10px;
      }
      .thx-popover__arrow {
        top: -5px;
        right: 15%;
      }
    }
    &-left {
      bottom: 0;
      left: 0;
      .thx-popover__wrapper {
        left: 0;
        top: 10px;
      }
      .thx-popover__arrow {
        top: -5px;
        left: 15%;
      }
    }
  }
  &.top {
    &-left {
      top: 0;
      left: 0;
      .thx-popover__wrapper {
        bottom: 10px;
        left: 0;
      }
      .thx-popover__arrow {
        bottom: -5px;
        transform: rotate(135deg);
        left: 15%;
      }
    }
    &-right {
      top: 0;
      right: 0;
      .thx-popover__wrapper {
        bottom: 10px;
        right: 0;
      }
      .thx-popover__arrow {
        bottom: -5px;
        transform: rotate(135deg);
        right: 15%;
      }
    }
  }
  &__wrapper {
    min-height: 40px;
    min-width: 100px;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    border: solid 1px #e7e7e7;
    background-color: #ffffff;
    position: absolute;
    z-index: 100;
  }
}
