<div [formGroup]="paymentForm">

  <div class="thf-modal-body thf-u-no-padding">
    <div *ngIf="holderName" class="thf-u-background-color--grey-sauvignon thf-u-padding--1">
      <div class="row">
        <div class="col">
          <img src="{{'icon_hospede_conta.svg' | imgCdn}}" class="hps-img-person" alt="{{'img.person' | translate}}">
          <span class="thf-u-color--black thf-u-font--bold thf-u-font--14 thf-u-vertical-align-middle hps-holder-name">{{holderName}} </span>
          <span class="thf-u-color--blue thf-u-font--bold thf-u-font--14 thf-u-font-uppercase thf-u-vertical-align-middle" *ngIf="billingAccountItemName">| {{billingAccountItemName}}</span>
          <span class="thf-u-color--blue thf-u-font--bold thf-u-font--14 thf-u-font-uppercase thf-u-vertical-align-middle" *ngIf="!billingAccountItemName">| {{'text.consolidatedF' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="thf-u-padding--2">
      <div class="row">
        <div class="col">
          <label class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.paymentType' | translate }}</label>
          <app-select [selectId]="'paymentTypeId'" [parent]="paymentForm" [optionList]="paymentTypeList" [hasFormGroup]="true">
          </app-select>
        </div>
      </div>
      <payment-card *ngIf="isCard" [paymentForm]="paymentForm" [paymentTypeId]="paymentTypeIdChosen" [isDebit]="isDebit"></payment-card>
      <div *ngIf="isBankCheck">
        <div class="row thf-u-margin-top--2">
          <div class="col-6">
            <div formGroupName="bankCheck">
              <label for="bankCheckNumber" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.bankCheckNumber' | translate }}</label>
              <input formControlName="number" type="number" id="bankCheckNumber" class="thf-input thf-u-margin-top--1 thf-u-type-number-reset"
              />
            </div>
          </div>
          <div class="col-4">
            <label for="price" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.value' | translate }} {{ currencySymbol }}</label>
            <input formControlName="price" type="text" id="price" class="thf-input thf-u-margin-top--1" currencyMask [options]="optionsCurrencyMask"
            />
          </div>
        </div>
      </div>
      <div class="row thf-u-margin-top--2" *ngIf="!isCard && !isBankCheck">
        <div class="col-4">
          <label for="price" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.value' | translate }} {{ currencySymbol }}</label>
          <input formControlName="price" type="text" id="price" class="thf-input thf-u-margin-top--1" currencyMask [options]="optionsCurrencyMask"
          />
        </div>
        <div class="col-8" style="min-width: 300px">
        </div>
      </div>
    </div>
    <div class="thf-u-background-color--grey-sauvignon thf-u-padding--1">
      <div class="row">
        <div class="col-4 thf-u-font--14 thf-u-color--blue thf-u-margin-left--1">
          {{'text.valueInDebit' | translate}}
        </div>
        <div class="col-3 offset-4 thf-u-color--red thf-u-font--14" [ngClass]="{'thf-u-color--red': valueInDebit > 0, 'thf-u-color--green': valueInDebit <= 0}">
          <span *ngIf="valueInDebit > 0">-</span> {{valueInDebit | currencyFormat: currencySymbol}}
        </div>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row justify-content-end thf-u-margin-top--1">
      <div class="col-1">
        <img src="{{'tarifa-grey.svg' | imgCdn}}" class="thf-u-margin-top--2" alt="{{'label.debitBalance' | translate}}">
      </div>
      <div class="col-5">
        <label class="thf-u-no-margin thf-input-label thf-u-font--12 thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.debitBalance' | translate }}</label>
        <div>
          <span class="thf-u-font--20 thf-u-font--bold thf-u-color--blue">{{debitBalance | currencyFormat: currencySymbol }}</span>
        </div>
      </div>
      <div class="col-3 thf-u-margin-top--1">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-3 thf-u-margin-top--1">
        <app-button [buttonConfig]="buttonPayConfig"></app-button>
      </div>
    </div>
  </div>
</div>
