:host {
  display: block !important;
}

.week-day-comp-wrapper{
  display: flex;
  justify-content: flex-start; // space-between;
  align-items: center;
  margin-left: -8px;

  * {
    user-select: none;
  }

  input ~ label {
    background: var(--color-grey-azure);
    border: 1px solid var(--color-grey);
    color: var(--color-grey);
    width: 34px;
    height: 27px;
    box-sizing: border-box !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px !important;
    border-radius: 4px;
  }

  input:checked ~ label {
    color: var(--color-white);
    background: var(--color-blue);
    border: 1px solid var(--color-blue);
  }

}
