<div class="row flex-nowrap week-day-comp-wrapper">
  <div class="col-auto thf-u-padding-horizontal--05 thf-u-font--12"
    *ngFor="let inputData of inputDataList">
    <input
       [checked]="inputData?.isChecked"
       type="checkbox"
       id="{{ inputData?.inputId }}"
       name="day"
       [(ngModel)]="inputData.isChecked"
       (ngModelChange)="onInputValueSelected()"
       class="thf-input-type-checkbox">
    <label
      class="thf-u-vertical-align--top"
      for="{{ inputData?.inputId }}">
      {{ inputData?.inputTextLabel | translate }}
    </label>
  </div>
</div>
