<app-modal-wrapper [modalId]="modalId" minWidth="600px"   title="title.associateUhType">
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row">
      <div class="col-7">
        <label for="searchUhType"
               class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{'label.searchUhType'
          | translate}}</label>
        <thx-search-input id="searchUhType" extraClass="thf-u-margin-top--1" (searchByTerm)="searchByTerm($event)"
                          [placeholder]="'placeholder.searchInitialsAndDesc'" ></thx-search-input>
      </div>
      <div class="col">
        <label for="rateVariaty"
               class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{'label.rateVariation'
          | translate}}</label>
        <div class="thf-input-group thf-group-input-select">
          <input
            id="rateVariaty"
            class="thf-input thf-u-margin-top--1"
            [(ngModel)]="rateVarianty"
            (keyup)="verifyCommissionPercent($event)"
            only-number />
          <i class="percent-signal">%</i>
          <app-select
            [selectId]="'rateTypeId'"
            [optionList]="rateTypeList"
            [hasBlankOption]="false"
            [width]="110"
            [selectedOptionId]="rateTypeSelected"
            (selectedOption)="changeVariationType($event)"
          ></app-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col thf-u-margin-top--2 modal-table-height">
          <thx-datatable-checkbox *ngIf="showTable"  [tableHasScroll]="true" [footerHeight]="0" [tableExtraClass]="'table-scroll'"  [columns]="columns" [headerHeight]="45" [rowItens]="uhTypeList" [(selectedItens)]="uhTypeSelectedList" ></thx-datatable-checkbox>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row justify-content-end">
      <div class="col-4">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-4">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </div>

</app-modal-wrapper>
