<div
  class="thf-group-content thf-u-padding--2 d-flex flex-column align-items-center justify-content-center h-100">
  <img src="{{'change-date-big.svg' | imgCdn}}"
       alt="{{ 'text.auditNotAvailable' | translate }}"
       class="thf-u-margin-bottom--4 thf-u-margin-top--4">

  <!-- Initial state, or processing -->
  <div *ngIf="currentStatus != stepStatusEnumReference.CONCLUDED; else concluded"
       class="row w-100 thf-u-text-center d-flex align-items-center justify-content-center max-width-600">
    <div class="col-5 col-lg-4 thf-u-no-padding">
      <div class="thf-u-color--grey-submarine thf-u-padding--1">{{ 'label.currentDate' | translate }}</div>
      <div class="thf-u-no-margin thf-u-font--30">{{ currentDate | amDateFormat:'L' }}</div>
    </div>

    <div class="col-1 col-lg-2 d-flex flex-column align-items-center justify-content-center">
      <img *ngIf="currentStatus == stepStatusEnumReference.PROCESSING"
           src="{{'loading-thick.svg' | imgCdn}}" class="width-25">
    </div>

    <div class="col-5 col-lg-4 thf-u-no-padding">
      <div class="thf-u-color--grey-submarine thf-u-padding--1">{{ 'label.newDate' | translate }}</div>
      <div class="thf-u-font--30 thf-u-color--blue thf-u-no-margin">{{ newDate | amDateFormat:'L' }}</div>
    </div>
  </div>

  <!-- Success message -->
  <ng-template #concluded>
    <div class="w-100 thf-u-text-center">
      <div class="thf-u-color--grey-submarine thf-u-padding--1">{{ 'label.newDate' | translate }}</div>
      <div class="thf-u-font--30 thf-u-color--blue thf-u-no-margin">{{ currentDate | amDateFormat:'L' }}</div>
    </div>
  </ng-template>

</div>
