@import "./_variables";

.footer {
  display: flex;
  justify-content: flex-end;
}

.group {
  margin-bottom: 20px;
  display: flex;
}

.room-type {
  display: flex;
  height: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

.form {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
  padding: 0 15px;
  overflow: auto;
  margin-right: 8px;

  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    margin: 0 2px 0 0;
  }

  &::-webkit-scrollbar-thumb{
    background-color: $grey-color--20;
    border-radius: 100px;
    outline: 1px solid $grey-color--20;
  }
}

.counter-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  min-height: 40px;

  .icon-text {
    min-width: 110px;
  }
}

.container-list {
  display: flex;
  width: 300px;
  margin-right: 15px;
  height: 100%;

  .list {
    width: 100%;
  }
}

.empty-block {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-right: 10px;

  > .block {
    width: 180px;
    display: flex;
    flex-direction: column;

    > .image {
      width: 100%;
      margin: 20px auto;
      max-width: 136px;
    }

    > .text {
      font-size: 14px;
      color: $grey-color--70;
      text-align: center;
      padding: 0 6px;
      filter: opacity(0.5);
    }
  }
}
