<div class="room-type">
  <form
    class="form"
    [formGroup]="roomTypeForm.form"
  >
    <thx-title-v2
      class="group"
      [title]="'hotelPanelModule.roomCreate.insertUH' | translate">
      <div class="row">
        <div class="col-6">
          <thx-input-text
            formControlName="acronym"
            [title]="'label.initials' | translate | required "
            [infoText]="'validationError.maxChar' | translate: {number: 5}"
          ></thx-input-text>
        </div>
        <div class="col-6">
          <thx-input-text
            formControlName="description"
            [title]="'label.description' | translate | required "
          ></thx-input-text>
        </div>
      </div>
    </thx-title-v2>

    <thx-title-v2
      class="group"
      formGroupName="rate"
      [title]="'label.charging' | translate"
      [description]="'text.uhRateRangeLimit' | translate"
    >
      <div class="row">
        <div class="col-6">
          <thx-input-currency
            formControlName="minimumRate"
            [title]="'label.minimumRate' | translate | required "
            [infoText]="'variable.ex' | translate: {labelName: (50 | currencyFormat)}"
            currencySymbol="{{'variable.currencyFormat' | translate}}"
          ></thx-input-currency>
        </div>

        <div class="col-6">
          <thx-input-currency
            formControlName="maximumRate"
            [title]="'label.maximumRate' | translate | required "
            [infoText]="'variable.ex' | translate: {labelName: (3000 | currencyFormat)}"
            currencySymbol="{{'variable.currencyFormat' | translate}}"
          ></thx-input-currency>
        </div>
      </div>
    </thx-title-v2>

    <thx-title-v2
      class="group"
      [title]="'title.capacityAndAccommodation' | translate"
    >
      <div class="row form-container">
        <div class="col" formGroupName="capacity">
          <thx-subtitle-v2 [subtitle]="'label.capacity' | translate">
            <div class="counter-container">
              <thx-icon-text
                class="icon-text"
                [src]="'adult-icon.svg'"
                [alt]="'hotelPanelModule.commonData.adultCapacity' | translate"
                [title]="'hotelPanelModule.commomData.adultCapacity' | translate | required"
              ></thx-icon-text>
              <thx-counter formControlName="adults" maxValue="10"></thx-counter>
            </div>

            <div class="counter-container">
              <thx-icon-text
                [src]="'children-icon.svg'"
                [alt]="'hotelPanelModule.commomData.childCapacity' | translate"
                [title]="'hotelPanelModule.commomData.childCapacity' | translate"
              ></thx-icon-text>
              <thx-counter formControlName="children" maxValue="10"></thx-counter>
            </div>
          </thx-subtitle-v2>
        </div>
        <div class="col" formGroupName="beds">
          <thx-subtitle-v2 [subtitle]="'text.accommodations' | translate">
            <div class="counter-container">
              <thx-icon-text
                class="icon-text"
                [src]="'doubleBed-icon.svg'"
                [alt]="'hotelPanelModule.commomData.doubleBedCapacity' | translate"
                [title]="'hotelPanelModule.commomData.doubleBedCapacity' | translate"
              ></thx-icon-text>
              <thx-counter formControlName="doubleBeds" maxValue="10"></thx-counter>
            </div>

            <div class="counter-container">
              <thx-icon-text
                class="icon-text"
                [src]="'reversibleBed-icon.svg'"
                [alt]="'hotelPanelModule.commomData.reversibleBedCapacity' | translate"
                [title]="'hotelPanelModule.commomData.reversibleBedCapacity' | translate"
              ></thx-icon-text>
              <thx-counter formControlName="reversibleBeds" maxValue="10"></thx-counter>
            </div>

            <div class="counter-container">
              <thx-icon-text
                class="icon-text"
                [src]="'singleBed-icon.svg'"
                [alt]="'hotelPanelModule.commomData.singleBedCapacity' | translate"
                [title]="'hotelPanelModule.commomData.singleBedCapacity' | translate"
              ></thx-icon-text>
              <thx-counter formControlName="singleBeds" maxValue="10"></thx-counter>
            </div>
          </thx-subtitle-v2>
        </div>
      </div>
    </thx-title-v2>

    <thx-title-v2
      class="group"
      [title]="'title.courtesyAndExtra' | translate"
    >
      <div class="row">
        <div class="col" formArrayName="courtesy">
          <thx-subtitle-v2 [subtitle]="'label.childrenAgeRange' | translate">
            <div class="counter-container">
              <thx-icon-text
                class="icon-text"
                [title]="'label.children1' | translate">
              </thx-icon-text>
              <thx-counter formControlName="0" maxValue="10"></thx-counter>
            </div>

            <div class="counter-container">
              <thx-icon-text
                [title]="'label.children2' | translate">
              </thx-icon-text>
              <thx-counter formControlName="1" maxValue="10"></thx-counter>
            </div>
          </thx-subtitle-v2>
        </div>
        <div class="col" formGroupName="extras">
          <thx-subtitle-v2 [subtitle]="'title.extras' | translate">
            <div class="counter-container">
              <thx-icon-text
                class="icon-text"
                [src]="'berco-icon.svg'"
                [alt]="'hotelPanelModule.commomData.cribBedCapacity' | translate"
                [title]="'hotelPanelModule.commomData.cribBedCapacity' | translate"
              ></thx-icon-text>
              <thx-counter formControlName="cribs" maxValue="10"></thx-counter>
            </div>

            <div class="counter-container">
              <thx-icon-text
                class="icon-text"
                [src]="'singleBed-icon.svg'"
                [alt]="'hotelPanelModule.commomData.extraBedCapacity' | translate"
                [title]="'hotelPanelModule.commomData.extraBedCapacity' | translate"
              ></thx-icon-text>
              <thx-counter formControlName="extraBeds" maxValue="10"></thx-counter>
            </div>
          </thx-subtitle-v2>
        </div>
      </div>
    </thx-title-v2>

    <footer class="footer">
      <thx-button-v2
        [iconAfter]="getButtonClass(roomTypeForm.form.valid)"
        [primary]="false"
        [disabled]="roomTypeForm.form.invalid"
        (clicked)="save()"
      >
        {{'action.add' | translate}}
      </thx-button-v2>
    </footer>
  </form>
  <div class="container-list">
    <thx-container-list
      class="list"
      [title]="'variable.addF' | translate: {labelName: 'label.uhTypes' | translate}"
      [items]="roomTypeList$ | async"
      [itemTemplate]="roomTypeCard"
      [emptyTemplate]="emptyMessage"
    ></thx-container-list>

    <ng-template #roomTypeCard let-roomType="item">
      <app-room-type-card
        #cardList
        [roomType]="roomType"
        (delete)="delete($event)"
        (popoverState)="closePopovers()">
      </app-room-type-card>

    </ng-template>

    <ng-template #emptyMessage>
      <div class="empty-block">
        <div class="block">
          <img
            class="image"
            [src]="'semuh.svg' | imgCdn"
            alt=""
          >
          <span class="text">{{'text.noUhType' | translate}}</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
