<div class="row">
  <div class="col-12">
    <div class="thf-empty-content">
      <div class="thf-empty-content-header">
        <div class="thf-u-text-center">
          <img class="thf-empty-content-header-icon" src="{{'info.svg' | imgCdn}}" alt="{{ 'commomData.icon' | translate }}">
          <h1 class="thf-empty-content-header-title thf-u-font--bold thf-u-font--16 thf-u-inline-block">
            <ng-content select="content-title"></ng-content>
          </h1>
        </div>
      </div>
      <div class="thf-empty-content-body">
        <div class="thf-u-text-center">
          <p class="thf-empty-content-message thf-u-no-margin thf-u-font--14">
            <ng-content select="content-description"></ng-content>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
