<app-modal-wrapper modalId="modalBlock" [modalWithParams]="modalBlockTitle" (closeModal)="onCloseModal()">
  <div class="thf-modal-body">
    <div class="text-danger">
      {{ blockMessage }}
    </div>

    <div class=" thf-u-margin-top--1 ">
      <form [formGroup]="blockForm" class="row" >
        <div class="col-6">
          <label for="vigence" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine ">
            {{'label.blockPeriod' | translate}}
          </label>
          <thx-date-range-picker id="vigence" formControlName="vigence" ></thx-date-range-picker>
        </div>
        <div class="col-9">
          <label for="reason" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--1">
            {{'label.reason' | translate}}
          </label>
          <app-select
            id="reason"
            [parent]="blockForm"
            [optionList]="reasonList"
            [selectId]="'reason'"
            [isUppercase]="false"
            [hasFormGroup]="true"
            [hasMagin]="false"  >
          </app-select>
        </div>
        <div class="col-9">
          <label for="obs" class="thf-u-no-margin thf-input-l abel  thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--1">
            {{'label.obs' | translate}}
          </label>
          <textarea id="obs" rows="3" formControlName="obs" class="thf-input thf-textarea " ></textarea>
        </div>
      </form >
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelModalConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonSaveModalConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>


<app-modal-wrapper modalId="modalBlockError" [title]="modalBlockErrorTitle">
  <div class="thf-modal-body">
    <div class="text-danger">
      {{ 'alert.blockErrorHasReservations' | translate }}
    </div>
    <div class=" thf-u-margin-top--1 ">
      <div>{{'label.Reservation' | translate}} ({{errorReservationList.length}})</div>
      <ul class="thf-u-reset-list" >
        <li *ngFor="let reservation of errorReservationList">
          <a class="thf-link"
             href="javascript:void(0)"
             (click)="redirectReservation(reservation.Id)">
            {{ reservation.ReservationCode }} | {{ reservation.EstimatedArrivalDate | amDateFormat:'L' }} - {{
            reservation.EstimatedDepartureDate | amDateFormat:'L' }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</app-modal-wrapper>
