<app-modal-wrapper [modalId]="'reopen-billing-account'" [title]="'label.reopenAccount'">
  <div class="thf-modal-body">
    <div class="row">
      <p class="col-10">{{ 'text.reopenAccountConfirm' | translate }}</p>
    </div>
    <div class="row">
      <label class="col-12 thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{ 'label.selectReason' | translate }}</label>
      <app-select
        class="col-10"
        [optionList]="reasonToReopenBillingAccountList"
        [selectId]="'reasonToReopenBillingAccount'"
        [propertyNameToDisplay]="'reasonName'"
        (selectedOption)="setBillingAccountReopenReason($event)">
      </app-select>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="offset-6 col-3 thf-u-margin-top--2">
        <app-button [buttonConfig]="cancelReopenModalButtonConfig"></app-button>
      </div>
      <div class="col-3 thf-u-margin-top--2">
        <app-button [buttonConfig]="confirmReopenModalButtonConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<app-modal-wrapper [modalId]="modalCloseAccountWithTotalZeroId" [title]="'text.finishAccount'">
  <app-confirm-modal
    [confirmModalDataConfig]="confirmModalDataConfig"
  ></app-confirm-modal>
</app-modal-wrapper>

<header class="thf-group-content-header thf-u-padding--2 thf-card-room-list">
  <div class="row">
    <div class="col">
      <div class="thf-u-padding--1">
        <img src="{{'icon_hospede_conta.svg' | imgCdn }}" *ngIf="billingAccount?.accountTypeId != referenceToBillingAccountTypeEnum.Company" alt="{{'commomData.images.person' | translate}}">
        <img src="{{'icon_empresa_conta.svg' | imgCdn }}" *ngIf="billingAccount?.accountTypeId == referenceToBillingAccountTypeEnum.Company" alt="{{'commomData.images.company' | translate}}">
        <span id="fnrh-name-guest" class="thf-u-font--20 thf-u-color--blue thf-u-margin-left--1 thf-u-vertical-align-middle">
          {{billingAccount?.holderName}}
        </span>
        <span class="thf-u-font--18 thf-u-color--blue thf-u-vertical-align-middle" *ngIf="billingAccount?.isHolder">
          ( {{'billingAccountModule.commomData.holder' | translate}} )
        </span>
      </div>
    </div>
    <div class="col">
      <div class="row" [hidden]="!statusAccountOpen">
        <div class="col">
          <app-button [buttonConfig]="buttonExtractConfig"></app-button>
        </div>
        <div class="col">
          <app-button [buttonConfig]="buttonLaunchConfig"></app-button>
        </div>
        <div class="col">
          <app-button [buttonConfig]="buttonCloseConfig"></app-button>
        </div>
      </div>
      <div class="row" [hidden]="statusAccountOpen">
        <div class="offset-4 col-4">
          <app-button [buttonConfig]="buttonExtractConfig"></app-button>
        </div>
        <div class="col-4">
          <app-button [buttonConfig]="reopenConfig"></app-button>
        </div>
      </div>
    </div>
  </div>
</header>
