<app-header-page-new [config]="configHeaderPage" [hasFilter]="true">
  <header-title>{{ 'title.registerRateLevel' | translate }}</header-title>

  <thx-searchbar
    name="searchFilter"
    [placeholder]="'variable.searchByName' | translate: {name: 'placeholder.searchByLevelDescriptionVigence' | translate }"
    (input)="search($event)">
  </thx-searchbar>

  <text-button>{{'label.insertRateLevel' | translate}}</text-button>
  <icon-button>
    <i class="mdi mdi-plus"></i>
  </icon-button>

</app-header-page-new>

<thx-datatable
  [columns]='columns'
  [itens]="rateLevelSearchList"
  [itemsOption]="itemsOption"
  statusIdentifier="id"
  (statusChanged)="updateStatus($event)"
  (rowItemClicked)="rowItemClicked($event)"
  emptyMessage="text.rateLevelListEmpty"
  emptyMessageContent="text.rateLevelListEmptyDescription"
  (emptyLinkClicked)="gotoNewRateLevel()">
</thx-datatable>

<app-rate-level-modal-delete (deleted)="deleteCompleted()"></app-rate-level-modal-delete>
