<form [formGroup]="formDocument">
  <div class="thf-row">
    <thf-select
      class="thf-md-6 required-field"
      name="documentType"
      formControlName="documentType"
      [t-label]="i18n.label.documentType"
      [t-options]="documentTypeList"
      [t-required]="true"
      (t-change)="applyMask($event)"
    ></thf-select>
    <thf-input
      class="thf-md-6 required-field"
      name="documentInformation"
      formControlName="documentInformation"
      [t-label]="i18n.label.document"
      [t-required]="true"
      [t-mask]="inputConfig.mask"
      [t-mask-format-model]="true"
      [t-help]="inputConfig.help"
    ></thf-input>
  </div>
</form>
