.hps-button-budget {
  border-radius: 3px;
  margin-top: 2px;
}

.hps-button-budget-empty {
  padding: 8px;
}

.hps-button-budget--disabled {
  background-color: var(--color-grey-azure);
  box-shadow: 1px 1px 1px 1px var(--color-grey);
}

.hps-button-budget--enabled {
  background-color: var(--color-orange);
  box-shadow: 1px 1px 1px 1px var(--color-orange-dark);
}

.hps-children-popover-reserve {
  top: 110%;
  left: -160%;
  right: -160%;
}

.right-icon-ajust {
  right: 55px;
}
.hps-schedule-popover {
  min-width: 200px;
  left: -65%;
}

.children-body-component > .thf-popover-content-left {
  padding-right: 5px;
}
.children-body-component > .thf-popover-content-right {
  padding-left: 5px;
}

@media screen and (max-width: 1024px) {
  .hps-schedule-popover {
    left: -50%;
  }
}

@media (max-width: 1200px) {
  .hps-children-popover {
    top: 110%;
    left: -55%;
    right: -55%;
  }
  .hps-space-left {
    margin-left: 0px;
  }
}
