<div *ngIf="showReservationBudgetDetail">
  <app-modal-wrapper [modalId]="budgetModalId" [showHeader]="false" [minWidth]="'950px'">
      <div class="thf-modal-header">
        <h2 class="thf-u-font--25">{{ 'label.reservationItemBudget' | translate }}</h2>
      </div>

    <app-reservation-budget
      [propertyId]="propertyId"
      [period]="reservationGroup.get('period').value"
      [commercialBudgetList]="reservationItemBudget?.commercialBudgetList"
      (cancelClicked)="cancelBudgetModal()"
      (confirmedClicked)="confirmBudgetModal($event)"
    ></app-reservation-budget>
  </app-modal-wrapper>
</div>
<form novalidate [formGroup]="reservationGroup" (click)="hideChildrenAndSchedulePopoverReservationForm()" class="thf-u-margin-top--1">
<div class="thf-u-margin-top--2">
  <div class="row">
    <div class="col-12">
      <div class="thf-group-content">
        <div class="thf-group-content-header">
          <div class="row">
            <div class="col-lg-5 col-xl-4">
              <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
              <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">{{ 'reservationModule.commomData.groupTitle' | translate }}</span>
            </div>
            <div class="col-lg-6 col-xl-6">
              <thx-searchbar
                *ngIf="reservationData.reservationItemViewList && reservationData.reservationItemViewList.length > 0"
                placeholder="reservationModule.reserveCreate.filterSearchPlaceholder"
                [(ngModel)]="filterWord" [ngModelOptions]="{standalone: true}" >
              </thx-searchbar>
            </div>
          </div>
        </div>
        <div class="thf-u-padding--1">
          <div class="thf-group-content-body thf-u-no-padding">
            <div class="row justify-content-around thf-u-padding-horizontal--3">
              <div id="newReservationForm-period" class="col-xl-3 col-lg-10">
                <label for="period" class="thf-input-label thf-u-margin-top--1 thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">{{ 'reservationModule.commomData.period' | translate }}</label>
                <thx-date-range-picker id="period" formControlName="period" class="thf-u-no-margin" [minDateToday]="true"></thx-date-range-picker>
              </div>
              <div class="col">
                <div class="thf-u-position--relative">
                  <label class="thf-input-label thf-u-margin-top--1 thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'reservationModule.commomData.schedules' | translate }}</label>
                  <div class="thf-group-icon-content thf-u-enable-cursor " (click)="showOrHideSchedulePopoverReservationForm($event)">
                    <div class="thf-group-icon-content-left thf-u-vertical-align-middle ">
                      <img src="{{'schedule.svg' | imgCdn}}" alt="{{ 'reservationModule.commomData.schedules' | translate }}" class="thf-icon">
                    </div>
                    <div class="thf-group-icon-content-right thf-u-padding-left--1">
                      <div class="thf-u-font--semibold">{{reservationHour.checkinHour}}</div>
                      <div class="thf-u-font--semibold">{{reservationHour.checkoutHour}}</div>
                    </div>
                  </div>
                </div>
                <div id="newReservationForm-schedule" class="thf-u-position--absolute thf-u-z-index--1 hps-schedule-popover" [ngClass]="{'thf-u-hide': !schedulePopoverIsVisible}"
                     (click)="keepSchedulePopoverReservationFormVisible($event)">
                  <app-popover>
                    <div class="arrow-position">
                      <span class="thf-popover-arrow--center"></span>
                    </div>
                    <header class="header-data">
                      <h4 class="thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-u-z-index--1">{{ 'reservationModule.commomData.schedules' | translate }}</h4>
                    </header>
                    <div class="body-data">
                      <div class="children-body-component thf-u-text-center thf-u-padding--1">
                        <div class="thf-popover-content-left  thf-u-text-left ">
                          <label for="check-in" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-no-margin">Check-in</label>
                          <input id="check-in" formControlName="checkinHour" [textMask]="{mask: maskHourAndMinute}" class="thf-input" type="text" placeholder="14:00"
                                 [ngClass]="{'thf-input-error': !reservationGroup.get('checkinHour').valid && reservationGroup.get('checkinHour').dirty}"
                          />
                        </div>
                        <div class="thf-popover-content-right  thf-u-text-left ">
                          <div class="thf-input-text--error">
                            <label for="check-out" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-no-margin">Check-out</label>
                            <input id="check-out" formControlName="checkoutHour" [textMask]="{mask: maskHourAndMinute}" class="thf-input" type="text"
                                   placeholder="12:00" [ngClass]="{'thf-input-error': !reservationGroup.get('checkoutHour').valid && reservationGroup.get('checkoutHour').dirty}"
                            />
                          </div>
                        </div>
                        <div *ngIf="reservationHour.errorMessage">
                          <img src="{{'input-error.svg' | imgCdn}}" alt="{{'commomData.images.errorMessageIcon' | translate }}" />
                          <p class="thf-u-inline-block thf-u-no-margin thf-u-font--12">{{reservationHour.errorMessage}}</p>
                        </div>
                      </div>
                    </div>
                  </app-popover>
                </div>
              </div>
              <div id="newReservationForm-roomQuantity" class="col">
                <label for="roomQuantity" class="thf-u-margin-top--1 thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{ 'reservationModule.commomData.roomQuantity' | translate }}</label>
                <input id="roomQuantity" formControlName="roomQuantity" class="thf-u-text-center thf-input thf-u-type-number-reset "
                       type="number" [ngClass]="{'thf-input-error': !reservationGroup.get('roomQuantity').valid && reservationGroup.get('roomQuantity').touched}">
              </div>
              <div id="newReservationForm-adultQuantity" class="col">
                <label for="adultQuantity" class="thf-u-margin-top--1 thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{ 'reservationModule.commomData.adults' | translate }}</label>
                <input id="adultQuantity" formControlName="adultQuantity" class="thf-u-text-center thf-input thf-u-type-number-reset"
                       type="number" [ngClass]="{'thf-input-error': !reservationGroup.get('adultQuantity').valid && reservationGroup.get('adultQuantity').touched}">
              </div>
              <div class="col">
                <div class="thf-u-position--relative">
                  <div id="newReservationForm-childrenQuantity">
                    <label for="childrenQuantity" class="thf-u-margin-top--1 thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{ 'reservationModule.commomData.children' | translate }}</label>
                    <input id="childrenQuantity" formControlName="childrenQuantity" class="thf-u-text-center thf-input thf-u-type-number-reset "
                           type="number" [ngClass]="{'thf-input-error': !reservationGroup.get('childrenQuantity').valid && reservationGroup.get('childrenQuantity').touched}"
                           (click)="keepChildrenPopoverReservationFormVisible($event)">
                  </div>
                  <div id="newReservationForm-children-popover" class="thf-u-position--absolute thf-u-z-index--1 hps-children-popover-reserve" [ngClass]="{'thf-u-hide': !childrenPopoverIsVisible}"
                       (click)="keepChildrenPopoverReservationFormVisible($event)">
                    <app-popover>
                      <div class="arrow-position">
                        <span class="thf-popover-arrow--center"></span>
                      </div>
                      <header class="header-data">
                        <h4 class="thf-u-no-margin thf-u-font--14 thf-u-font--bold">{{ 'reservationModule.commomData.ageOfChildren' | translate }}</h4>
                      </header>
                      <div #childrenPopoverContent class="body-data">
                        <div class="thf-u-text-center thf-u-padding--2" formArrayName="childrenAgeList">
                          <div *ngIf="reservationGroup.get('childrenAgeList').value.length > 0; else elseChildrenPopover">
                            <div class="thf-u-margin-top--1 thf-u-margin-left--1" *ngFor="let control of getControlsOfChildAgeListForm();let i = index" >
                              <div class="thf-u-text-left thf-u-font--14 thf-input-label--grey-submarine">{{ 'label.child' | translate }} {{ i +1 }}</div>
                              <div class="thf-input-group" >
                                <div class="thf-input-group-label thf-input-select-group-icon-label thf-u-background-color--grey-lighter ajust-width">
                                <span class="thf-input-group-label--img">
                                  <img src="{{'child-age.min.svg' | imgCdn }}" />
                                </span>
                                </div>
                                <div class="thf-input-select-group-icon-field" [formGroupName]="i">
                                  <select id="icon-select" class="thf-input thf-input-select select-center" formControlName="childAge">
                                    <option class="thf-input-select--option" *ngFor="let childAge of childAgeList" [ngValue]="childAge.value">{{childAge.text}}</option>
                                  </select>
                                  <img class="thf-u-no-pointer-events thf-input-select-icon right-icon-ajust" src="{{'arrowdown-blue.min.svg' | imgCdn}}" alt="{{ 'reservationModule.commomData.roomType' | translate }}">
                                </div>
                                <div class="thf-u-icon-modal-large" >
                                  <img class="thf-u-cursor--pointer" src="{{'icon-delete-blue.svg' | imgCdn}}" alt="{{ 'img.iconDelete' | translate}}"  (click)="deleteChildren(i)" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <ng-template #elseChildrenPopover>
                            <span class="thf-u-font--12">{{'reservationModule.commomData.thereIsNoChildren' | translate }}</span>
                          </ng-template>
                        </div>
                      </div>
                      <div class="footer-data">
                        <div class="row">
                          <div class="col">
                            <button (click)="hideChildrenPopoverReservationForm($event, 'cancel')" type="button" name="button" class="thf-btn thf-btn-secondary">{{ 'commomData.cancel' | translate }}</button>
                          </div>
                          <div class="col">
                            <button type="button" name="button" (click)="hideChildrenPopoverReservationForm($event)" class="thf-btn thf-btn-primary">{{ 'commomData.ok' | translate }}</button>
                          </div>
                        </div>
                      </div>
                    </app-popover>
                  </div>
                </div>
              </div>
              <div class="col-xl col-lg-2">
                <label for="roomType" class="thf-u-margin-top--1 thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'reservationModule.commomData.roomType' | translate }}</label>
                <div class="thf-input-group ">
                  <div id="newReservationForm-roomType" class="thf-input-select-group-icon-field">
                    <select id="roomType" formControlName="roomType" class="thf-input thf-input-select" [ngClass]="{'thf-u-disable-cursor thf-u-no-pointer-events thf-u-background-color--grey-lighter thf-u-color-grey': !periodSelected}">
                      <option value=""></option>
                      <option class="thf-input-select--option" *ngFor="let roomTypeOption of roomTypeDataList" [ngValue]="roomTypeOption" [ngClass]="{'thf-u-color--red': roomTypeOption.overbooking}">{{ roomTypeOption.abbreviation }}</option>
                    </select>
                    <img src="{{'arrowdown-blue.min.svg' | imgCdn}}" alt="{{ 'reservationModule.commomData.roomType' | translate }}"
                         class="thf-u-no-pointer-events thf-input-select-icon">
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4">
                <label class="thf-input-label thf-u-margin-top--1 thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.budget' | translate }}</label>
                <div [id]="'ratePlan'" *ngIf="showRatePlanOfNewReservationItem; else ratePlanEmptyTemplate"
                     class="hps-button-budget hps-button-budget--enabled thf-u-enable-cursor thf-u-padding-left--1"
                     (click)="showBudgetModalOfNewReservationItem()">
                    <span class="thf-u-font--bold thf-u-vertical-align-middle thf-u-font--13" [ngClass]="{'thf-u-color--white': showBudgetButton, 'thf-u-color-grey': !showBudgetButton }">
                        {{commercialBudgetNameOfNewReservationItem}}
                        <span *ngIf="currencySymbolOfNewReservationItem && currencySymbolOfNewReservationItem.length > 0; else textWithoutCommercialName">
                          <span style="display: block">{{'text.budgeted' | translate}}: {{currencySymbolOfNewReservationItem}} {{budgetedAmountOfNewReservationItem | currencyFormat: null:2:'.':',':3:false}}</span>
                        </span>
                        <ng-template #textWithoutCommercialName>
                          <span style="display: block">{{'text.budgeted' | translate}}: {{budgetedAmountOfNewReservationItem | currencyFormat: null:2:'.':',':3:false}}</span>
                        </ng-template>
                    </span>
                </div>
                <ng-template #ratePlanEmptyTemplate>
                  <div [id]="'ratePlan'" class="thf-u-text-center hps-button-budget hps-button-budget-empty" (click)="showBudgetModalOfNewReservationItem()" [ngClass]="{'hps-button-budget--disabled thf-u-no-pointer-events': !showBudgetButton, 'hps-button-budget--enabled thf-u-enable-cursor': showBudgetButton}">
                      <span class="thf-u-font-size--14 thf-u-font--bold thf-u-vertical-align-middle" [ngClass]="{'thf-u-color--white': showBudgetButton, 'thf-u-color-grey': !showBudgetButton }">
                          {{'text.noOfferApplied' | translate}}
                      </span>
                  </div>
                </ng-template>
              </div>
              <div class="col-xl thf-u-margin-top--4 col-lg-2">
                <button id="newReservationForm-insert" type="button" name="button" [disabled]="!reservationGroup.valid || !insertBtnIsAble"
                        (click)="insertReservationItemViewToReservation()" class=" thf-btn thf-btn-primary">{{ 'commomData.insert' | translate }}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
