<app-modal-wrapper
  [modalId]="levelModalDeleteService.getModalId()"
  title="title.deleteLevel"
  minWidth="620px"
>
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <ng-container *ngIf="selectedLevel as level">
      <div class="row">
        <p class="col thf-u-margin-top--2">
          {{'variable.deleteConfimationM' | translate: {name: level.levelCode} }}
        </p>
      </div>
    </ng-container>

    <div class="row thf-u-margin-top--2">
      <div class="offset-6 col-3">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
