<div class="row">
  <div class=" thf-box-colors" [ngClass]="{'col-7': _colorList.length < MAX_COLOR_BOXES, 'col-8': _colorList.length == MAX_COLOR_BOXES}">
    <div class="thf-color-choser-div-box" *ngFor="let color of _colorList" [style.background-color]="color"
         [ngClass]="{'active': color == colorSelected }"
         (click)="selectColor(color)">

    </div>
</div>
<div class="col">

    <button class="thf-btn thf-btn--sm thf-btn-secondary thf-u-font-uppercase thf-u-btn-auto-width" [value]="colorSelected"
            [cpOKButton]="true"
            [cpSaveClickOutside]="false"
            [cpOKButtonClass]= "'thf-btn thf-btn--sm thf-btn-primary thf-u-width-auto thf-u-pull--right thf-btn-picker'"
            [(colorPicker)]="colorSelected"
            [cpCancelButton]="true"
            [cpCancelButtonClass]= "'thf-btn thf-btn--sm thf-btn-secondary thf-u-width-auto thf-btn-picker'"
            (colorPickerSelect)="selectColor($event)" ><i class="">+</i> {{ 'label.colors' | translate }}</button>
  </div>


</div>
