<app-modal-wrapper [modalId]="SELLINGMODAL" [title]="'title.confirmUhMove'">
  <selling-budget-modal
    [budgetCompareConfig]="budgetCompareConfig"
    [type]="sellingModalType"
    (closeModal)="toggleModal()"
    (saveMoveRoom)="saveMoveGuestToAnotherRoom($event)"></selling-budget-modal>
</app-modal-wrapper>

<app-header-page-new [enableBackButton]="true">
  <header-title>
    {{'title.uhMove' | translate }}
  </header-title>
</app-header-page-new>

<app-slimbox [slimboxConfig]="{showFooter: true, showHeader: true, type: 'clear'}">
  <slimbox-header>
    <div class="row thf-u-padding-horizontal--2">
      <div class="col">
        <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
          {{ 'title.uhMoveToActual' | translate }}
        </span>
      </div>
    </div>
  </slimbox-header>
  <slimbox-content>
    <div class="row" [ngStyle]="{'margin': '0 -20px'}">
      <div class="col-6 hps-height-slimbox thf-u-padding-vertical--1">
        <span class="thf-u-font--13 thf-u-font--bold">
          {{ 'label.uhActual' | translate }}
        </span>
        <hr class="thf-u-no-margin thf-u-margin-bottom--1"/>
        <div class="row align-items-center">
          <div class="col-8 offset-2">
            <app-autocomplete
              #autocompleteUh [id]="'roomNumber'"
              [autocompleteConfig]="autocompleteConfig"
              [resultList]="autocompleteConfig.resultList"
              (keyUp)="keyUpEvent($event)"></app-autocomplete>
          </div>
          <div class="col-1">
            <img src="{{'info.svg' | imgCdn}}"
                 class="thf-u-enable-cursor thf-u-valign--top img-info"
                 title="{{ 'text.roomChangeSearchInfo' | translate }}"
                 alt="{{ 'commomData.images.infoIcon' | translate }}"/>
          </div>
        </div>
        <div class="row thf-u-margin-top--1">
          <div class="col-8 offset-2">
            <strong class="thf-u-font--14">
              {{ 'label.guestList'| translate }}
              <span class="thf-u-font--bold thf-u-font--14 thf-u-color--blue">
                ( {{guestListInRoom?.length }} )
              </span>
            </strong>
            <div class="thf-u-margin-top--1 hps-max-height-guestListInRoom" *ngIf="guestListInRoom?.length > 0">
              <div *ngFor="let guest of guestListInRoom">
                <app-slimbox-option>
                  <template-option>
                  <span class="thf-u-vertical-align-text-bottom thf-u-margin-right--1">
                    <img class="thf-u-icon-size--14 thf-u-filter-brightness--50"
                         src="{{'icon_people.svg' | imgCdn}}"
                         alt="{{ 'commomData.images.person' | translate }}"/>
                  </span>
                    <span class="thf-u-font--14">{{ guest.guestName }}</span>
                  </template-option>
                </app-slimbox-option>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 thf-u-background-color--grey-azure hps-height-slimbox thf-u-padding-vertical--1">
        <span class="thf-u-font--13 thf-u-font--bold">
          {{ 'label.selectNewUh' | translate }}
        </span>
        <hr class="thf-u-no-margin thf-u-margin-bottom--1"/>
        <div class="row justify-content-center">
          <div class="col-4">
            <thx-custom-select
              id="newRoomTypeUhSelected"
              [optionList]="newOptionRoomTypeUhList"
              [selectedOptionId]="roomTypeChosen?.id"
              (selecteOption)="chooseRoomType($event)"
              [disabled]="guestListInRoom?.length == 0"
              [ngClass]="{'thf-u-no-pointer-events thf-u-disable-cursor': guestListInRoom?.length == 0}">
            </thx-custom-select>
          </div>
          <div class="col-4">
            <thx-custom-select
              id="newRoomNumberSelect"
              [optionList]="newOptionRoomNumberUhList"
              (selecteOption)="chooseRoom($event)"
              [disabled]="guestListInRoom?.length == 0 || newOptionRoomNumberUhList.length == 0"
              [ngClass]="{
                'thf-u-no-pointer-events thf-u-disable-cursor':
                guestListInRoom?.length == 0 ||
                newOptionRoomNumberUhList.length == 0
                }">
            </thx-custom-select>
          </div>
        </div>
        <div class="row justify-content-center thf-u-margin-top--3" *ngIf="roomTypeChosen && roomChosen">
          <div class="col-8 thf-u-text-center">
            <img [width]="50" src="{{'icon_uh.svg' | imgCdn}}"
                 alt="{{ 'img.iconUh' | translate }}"/>
            <h4 class="thf-u-font--20">
              {{roomTypeChosen?.name}}
            </h4>
            <h5 class="thf-u-font--14 thf-u-color--blue thf-u-font--bold">
              {{roomTypeChosen?.abbreviation}} - {{roomChosen.roomNumber}}
            </h5>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-6 thf-u-margin-top--2">
                <div class="row">
                  <div class="col-2">
                    <img [width]="20" src="{{'person-gray.svg' | imgCdn}}"
                         alt="{{ 'commomData.images.person' | translate }}"/>
                  </div>
                  <div class="col">
                    {{roomTypeChosen?.adultCapacity}}
                  </div>
                </div>
              </div>
              <div class="col-6 thf-u-margin-top--2">
                <div class="row">
                  <div class="col-2">
                    <img [width]="20" src="{{'child_icon.svg' | imgCdn}}"
                         alt="{{ 'commomData.images.person' | translate }}"/>
                  </div>
                  <div class="col">
                    {{roomTypeChosen?.childCapacity}}
                  </div>
                </div>
              </div>
              <div class="col thf-u-margin-top--2" *ngFor="let bedType of roomTypeChosen?.roomTypeBedTypeList">
                <div class="row">
                  <div class="col-2">
                    <img [width]="20" src="{{getBedType(bedType)?.src | imgCdn}}"
                         alt="{{ getBedType(bedType)?.alt | translate }}"/>
                  </div>
                  <div class="col">
                    {{getBedType(bedType)?.translate | translate | lowercase }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </slimbox-content>
  <slimbox-footer>
    <budget-compare
      [budgetCompareConfig]="budgetCompareConfig"></budget-compare>
  </slimbox-footer>
</app-slimbox>

<div class="row thf-u-margin-top--2">
  <div class="offset-8 col-2 thf-u-margin-top--2">
    <app-button [buttonConfig]="cancelButtonConfig"></app-button>
  </div>
  <div class="col-2 thf-u-margin-top--2">
    <app-button [buttonConfig]="saveButtonConfig"></app-button>
  </div>
</div>
