<guest-policy-save
  [id]="GUEST_POLICY_NEW"
  [edit]="guestPolicyEdit"
  (saved)="loadGuestPolicyList()">
</guest-policy-save>

<guest-policy-remove
  [id]="GUEST_POLICY_REMOVE"
  [remove]="guestPolicyRemove"
  (removed)="loadGuestPolicyList()">
</guest-policy-remove>

<div class="row align-items-center thf-u-margin-vertical--2">
  <div class="col">
    <span class="thf-u-font--bold thf-u-font--16">
      {{ 'title.guestPolicies' | translate }}
    </span>
  </div>
  <div class="col-4 col-lg-3 col-xl-2 ml-auto">
    <app-button [buttonConfig]="buttonNewConfig">
      <icon>
        <img src="{{'add-circle-outline_btn_icon.svg' | imgCdn}}"
             alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
        />
      </icon>
    </app-button>
  </div>
</div>

<thx-datatable
  [columns]='columns'
  [itens]="guestPolicyList"
  [itemsOption]="itemsOption"
  [emptyMessage]="'text.noneGuestPolicyAssociated'"
  [completeEmptyMessageContent]="'text.noneGuestPolicyDescription'"
></thx-datatable>

<ng-template #countryBrand let-row="row">
  <img
    [width]="25"
    [id]="'countryBrand_' + row.countryCode"
    [src]="(row.countryCode | lowercase) + '.svg' | imgCdn"
    [alt]="'flag_' + row.countryCode">
</ng-template>
