<app-modal-remarks
  [readonly]="isView"
  (reservationRemarkUpdated)="setInternalCommentsAndExternalCommentsInReservation($event)">
</app-modal-remarks>
<div *ngIf="reservationObj" class="descReservation row thf-u-font--13">
  <div *ngIf="reservationObj" class="pt-3 pb-4">
    <div class="row rowMargin">

      <div class="col-9 thf-u-font--10">
        {{'label.reservationLocator' | translate}}
      </div>
      <div class="col-2">
        <div class="thf-group-icon-content-left remarks-action" (click)="showRemarksModal()">
          <img src="{{'remark-white.svg' | imgCdn}}" alt="{{ reservationObj?.reservationCode }}" />
          <i class="badge-obs" *ngIf="remarksQuantity > 0">{{ remarksQuantity }}</i>
        </div>
      </div>
    </div>

    <div class="col-12 thf-u-font--22 thf-u-font--bold">
      {{ reservationObj?.reservationCode }}
    </div>

    <div class="col-12" *ngIf="reservationObj?.partnerReservationNumber" >
      <div class="row">
        <div class="col-9 thf-u-font--10 thf-u-margin-top--1"  >
          {{'label.codPartner' | translate}}
        </div>
        <div class="col-3">
          <div class="row thf-u-font--bold thf-u-font--8 margin-top--15 colPaddingLeft upper">
            {{ (reservationObj?.isMigrated ? 'label.migrated' : 'label.manual') | translate }}
          </div>
        </div>
      </div>
    </div>


    <div class="col-12 thf-u-font--22 thf-u-font--bold" *ngIf="reservationObj?.partnerReservationNumber" >
      {{ reservationObj?.partnerReservationNumber }}
    </div>

    <div class="col-12 thf-u-font--9">
      {{ 'label.reservationCreate' | translate}}:
      {{ reservationObj?.creationTime | amDateFormat:'L - LT'  }}
    </div>

    <hr>

    <div class="col-12 thf-u-font--10">
      {{'label.guestData' | translate}}
    </div>

    <div class="row rowMargin">
      <div class="col-9 colPaddingLeft">
        <div class="col-12">
          <img src="{{'person-white.svg' | imgCdn}}">{{ reservationObj?.guestName }}
        </div>
        <div class="col-12">
          <i class="mdi mdi-phone"></i>
          {{ reservationObj?.guestPhoneNumber }}
        </div>
      </div>

      <div class="col-3">
        <div class="row" *ngIf="reservationObj?.guestIsIncognito">
          <img src="{{'incognito_white.svg' | imgCdn}}" class="imgSize">
        </div>
        <div class="row thf-u-font--bold thf-u-font--8">
          {{ reservationObj?.guestTypeName }}
        </div>
      </div>
    </div>

    <div class="col-12">
      <i class="mdi mdi-email"></i>
      {{ reservationObj?.guestEmail }}
    </div>
    <hr>

    <div class="col-12 thf-u-font--10">
      {{'label.reservationData' | translate}}
    </div>

    <div class="col-12">
      <i class="mdi mdi-hotel"></i>
      {{ reservationObj?.receivedRoomTypeAbbreviation }}-
      {{ reservationObj?.roomNumber }}
    </div>

    <div class="row col-12">
      <div class="col-6">
        <img src="{{'qtdAdulto-white.min.svg' | imgCdn}}">
        {{ reservationObj?.adultsCount }}
      </div>
      <div class="col-6">
        <img src="{{'child_icon-white.svg' | imgCdn}}">
        {{ reservationObj?.childCount }}
      </div>
    </div>

    <div class="col-12">
      <img src="{{'change-date-white.svg' | imgCdn}}">
      {{ reservationObj?.arrivalDate | amDateFormat:'L' }} -
      {{ reservationObj?.departureDate | amDateFormat:'L' }}
    </div>
    <div class="col-12 pl5 thf-u-font--9" rigth>
      ({{ calcDaily }}
      <span *ngIf="calcDaily < 2">{{ 'label.night' | translate }}</span>
      <span *ngIf="calcDaily > 1">{{ 'label.nights' | translate }}</span>
      )
    </div>

    <div class="col-12">
      <img src="{{'hotel-white.svg' | imgCdn}}">
      {{ reservationObj?.companyClientName }}
    </div>
    <hr>

    <div class="col-12 thf-u-font--10">
      {{'label.budget' | translate}}
    </div>

    <div class="col-12">
      <img src="{{'tarifa-white.svg' | imgCdn}}">
      <span class="thf-u-font--11 mr-2">
        {{ reservationObj?.currencySymbol }}
      </span>
      <input class="col-3" [(ngModel)]="reservationObj.totalARR"
             currencyMask [options]="optionsCurrencyMaskLeft" disabled>
      (ARR)
    </div>

    <div class="col-12">
      <img src="{{'icon_extrato-white.min.svg' | imgCdn}}">
      {{ reservationObj?.ratePlanName }}
    </div>
    <hr>

    <div class="row col-12 thf-u-font--10">
      <div class="col-6">
        {{'label.reservationSource' | translate}}
      </div>
      <div class="col-6">
        {{'label.reserveSegment' | translate}}
      </div>
    </div>

    <div class="row col-12 ">
      <div class="col-6">
        {{ reservationObj?.businessSourceName }}
      </div>
      <div class="col-6">
        {{ reservationObj?.marketSegmentName }}
      </div>
    </div>
    <hr>

    <div class="col-12 thf-u-font--10">
      {{'label.reservationTotal' | translate}}
    </div>

    <div class="col-12 text-right">
      <span class="col-1 thf-u-font--12 mr-2">
        {{ reservationObj?.currencySymbol }}
      </span>
      <input
        data-qa-id="reservation-total"
        class="col-7 thf-u-font--22 thf-u-font--bold"
        [(ngModel)]="reservationObj.total"
        currencyMask disabled
        [options]="optionsCurrencyMask">
    </div>

    <div class="col-12 text-right thf-u-font--bold" data-qa-id="reservation-payment">
      {{paymentName}}
    </div>

  </div>
</div>
