.descReservation{
    background-image: linear-gradient(var(--color-blue-deep) , var(--color-blue-lightdeep));
    color: var(--color-white)
}

.thf-u-font--8 {
    font-size: 8px;
}

.pl5{
    padding-left: 2.5rem;
}
img{
    width: 13px;
    height: 13px;
    margin-right: 0.5rem;
}

.imgSize{
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;
}

input{
    background-color: transparent;
    color: var(--color-white);
    border: 0 solid;
    padding-right: 0;
    padding-left: 0;
}

.col {
    white-space: nowrap;
    overflow: hidden;
}

.colPaddingLeft {
    padding-left: 0;
}

.rowMargin {
    margin-left: 0;
    margin-right: 0;
}

.upper {
  text-transform: uppercase;
}

.margin-top--15 {
  margin-top: 15px;
}

.thf-u-font--10 {
  color: var(--color-blue-light);
}

.remarks-action {
  cursor: pointer;
}

.badge-obs {
  position: absolute;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 50px;
  width: 15px;
  height: 15px;
  top: -7px;
  font-size: 10px;
  left: 25px;
  justify-content: center;
  align-items: center;
  display: flex;
}
