<div class="thf-group-content thf-u-padding--2">
  <app-integration-log-summary-header [log]="log"></app-integration-log-summary-header>
  <app-integration-log-summary-messages [alerts]="log?.reservationDownloadDetailsDto?.situationList"></app-integration-log-summary-messages>
  <app-integration-log-summary-json
    class="thf-u-margin-top--2 block"
    [response]="log?.reservationDownloadDetailsDto?.response"
  ></app-integration-log-summary-json>
</div>
