@import "../../molecules/thx-input-v2/thx-input-base/input-base";
:host {
  position: relative;
  display: block;

  .input-date-container {
    display: flex;
    position: absolute;
    top: 0;
    width: calc(100% - 60px);
    align-items: center;
    height: 38px;

    .date-start, .date-end {
      position: relative;
      text-align: center;
      flex: 1;
    }

    .separator {
      background-color: $grey-color--15;
      width: 2px;
      height: 20px;
      border: solid 1px $grey-color--15;
    }
  }

  ::ng-deep{
    my-date-range-picker, .mydrp {
      position: absolute;
      border: none;
      display: block;
      margin: 0;
      width: 100% !important;
      top: 0;
      background-color: transparent;
    }
    .mydrp {
      .selectiongroup {
        background-color: transparent;

        .btnpicker {
          background-color: transparent;
          color: $primary-color;
          height: 36px;
          margin-top: 1px;

          &:hover {
            background-color: $grey-color--30;
          }
        }

        .btnclear {
          background-color: transparent;
        }
      }
      input {
        height: $input-height;
        padding: 0 7px;
        visibility: hidden !important;
        &.selection {
          text-align: left;
          background-color: transparent;
        }
      }
    }
  }
}
