<thx-input-base
  [title]="title"
  [leftIcon]="leftIcon"
  [rightIcon]="rightIcon"
  [infoText]="infoText"
  [isLabelTopMode]="isLabelTopMode()"
  [required]="required"
  [disabled]="disabled"
  [control]="control"
  [hasFocus]="inFocus">

  <div
    class="component-has-focus"
    tabindex="0"
    (focusin)="inputFocus()"
    (focusout)="inputBlur()">
    <my-date-range-picker
      #dateElement
      [id]="id"
      [(ngModel)]="value"
      [options]="myDatePickerOptions"
      (dateRangeChanged)="valueChange($event)">
    </my-date-range-picker>
    <div class="input-date-container">
      <div
        class="date-start">
        {{ startDateStr }}
      </div>
      <div class="separator"></div>
      <div
        class="date-end">
        {{ endDateStr }}
      </div>
    </div>
  </div>

</thx-input-base>
