.cart-item-row{
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 23px 0;
  min-height: 70px;
  align-items: center;

  .with-padding-left{
    padding-left: 24px;
  }

  .value-wrapper{
    .value, .symbol{
      color: var(--color-card-products-price) !important;
    }
  }

  .info-wrapper{
    display: flex;
    align-items: center;
    background: var(--color-white);
    border: 1px solid var(--color-card-launcher-info-border);
    box-shadow: inset 1px 1px 3px 3px var(--color-card-launcher-info-shadow);
    border-radius: 3px;
    height: 40px;
    max-height: 40px;

    span, i {
      flex: 1;
      text-align: center;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }

    :nth-child(2) {
      border-left: 1px solid var(--color-grey);
      border-right: 1px solid var(--color-grey);
    }
  }
}


