<div
  class="cart-item-row">
  <div class="col-4">
    <span class="description value thf-u-font--14 thf-u-font--bold with-padding-left">
      {{ item?.productName }}
    </span>
    <div class="value-wrapper with-padding-left">
      <span class="value thf-u-font--14 thf-u-font--bold">
        <span> {{ currencySymbol }} </span> {{ item?.unitPrice | currencyFormat: null:2:'.':',':3:false }}
      </span>
    </div>
  </div>
  <div class="col-3">
    <div class="info-wrapper">
      <span>{{ formatQuantity() }}</span>
      <i id="minus-button" class="mdi mdi-minus thf-u-color--blue" (click)="decrease()"></i>
      <i id="plus-button" class="mdi mdi-plus thf-u-color--blue" (click)="increase()"></i>
    </div>
  </div>
  <div class="col-3">
    <span> {{ currencySymbol }} </span> {{ getValue() | currencyFormat: null:2:'.':',':3:false }}
  </div>
  <div class="col-2">
    <i
      class="mdi mdi-delete thf-u-font--25 thf-u-color--grey-submarine"
      (click)="removeItem()"></i>
  </div>
</div>
