.titleHousekeeping {
  padding: 23px 0 19px 2px;
  text-transform: capitalize;
  border-radius: 7px 7px 0 0;
}

.triangle-down {
  left: 26px;
  top: 31px;
  position: relative;
  z-index: 100;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid var(--color-white);
}

.div-row-header {
  border-bottom: 1px solid var(--color-grey-sauvignon);
}

.title-header {
  font-size: 16px;
  padding-bottom: 20px;
}

.container-close-img {
  height: 14px;
  width: 14px;
}

.div-button-footer {
  padding-bottom: 18px;
  padding-top: 19px;
}

img.icon, .rounded-img {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-right: 18px;
}

.rounded-img{
  background: var(--color-blue);
  color: var(--color-white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 20px;
  width: 20px;
}
