<app-modal-wrapper
  [title]="'title.resume'"
  [modalId]="modalId"
  [minWidth]="'500px'"
  [showHeader]="false">
  <div class="thf-modal-body" style="overflow: scroll;">
    <!-- image and title -->

    <div class="row div-row-header">
      <div class="col-11 title-header">
        {{'title.resume' | translate }}
      </div>
      <div class="col-1">
        <div class="container-close-img">
          <thx-img
            [src]="'closed-gray.svg'"
            class="thf-u-cursor--pointer"
            (click)="closedAutoModal()"
            [fullImg]="true">
          </thx-img>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 info-wrapper">
        <div *ngFor="let item of roomMaidListTypeRoom">
          <div class="row titleHousekeeping thf-u-font--13">
            <div class="col-12">
              <div
                *ngIf="!item?.photoUrl && item?.name"
                class="rounded-img"
                placement="top"
                closeOnClick="true">
                <span class="thf-u-font--11">{{ getInitialsName(item?.name) }} </span>
              </div>
              <img
                *ngIf="item?.photoUrl"
                class="icon mr-2" src="{{ item?.photoUrl }}">

              <span>{{ item.name }}</span>

              <span class="ml-auto float-right">
                  {{ item.countRoom }}
                  {{ 'label.uhs' | translate }}
              </span>
            </div>
            <div class="triangle-down"></div>
          </div>
          <div>
            <thx-datatable
              [columns]='columns'
              [itens]="item.listRoom"
              [hasLastCell]="false"
              [tableHasScroll]="true"
              [footerHeight]="0"
              [tableExtraClass]="'background-table header-table'">
            </thx-datatable>
          </div>
        </div>
        <div *ngIf="hasRoomMaidListTypeRoom()" class="thf-u-font--14">
          <span>{{ 'text.noDirtyRoom' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="thf-modal-footer ">
    <div class="row thf-u-margin-top--2 div-button-footer">
      <div class="offset-6 col-3">
        <app-button
          [buttonConfig]="cancelButtonConfig"></app-button>
      </div>
      <div class="col-3">
        <app-button
          [buttonConfig]="confirmButtonConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
