<div>
  <app-printable-table
    [columnsName]="columns"
    [items]="pageItemsList"
    [title]="'title.issuedNotes' | translate">
  </app-printable-table>

  <div class="printable thf-u-margin-top--4">
    <!-- list -->
    <div class="head">
      <h2>{{ 'text.products' | translate }}:</h2>
    </div>
    <div class="body-wrapper">
      <ng-template
        [ngTemplateOutletContext]="{status: true}"
        [ngTemplateOutlet]="head"></ng-template>

      <div
        class="line"
        *ngFor="let item of listProduct">
        <ng-template
          let-item="item"
          let-status="true"
          [ngTemplateOutlet]="body"
          [ngTemplateOutletContext]="{item: item, status: true}"></ng-template>
      </div>
    </div>

    <!-- gross -->
    <div class="head">
      <h2>{{ 'text.grossTotal' | translate }}:</h2>
    </div>
    <div class="body-wrapper">
      <ng-template [ngTemplateOutlet]="head"></ng-template>

      <div class="line">
        <ng-template
          let-item="item"
          [ngTemplateOutlet]="body"
          [ngTemplateOutletContext]="{item: grossProduct}"></ng-template>
      </div>
    </div>

    <!-- net -->
    <div class="head">
      <h2>{{ 'text.netTotal' | translate }}:</h2>
    </div>
    <div class="body-wrapper">
      <ng-template [ngTemplateOutlet]="head"></ng-template>

      <div class="line">
        <ng-template
          let-item="item"
          [ngTemplateOutlet]="body"
          [ngTemplateOutletContext]="{item: netProduct}"></ng-template>
      </div>
    </div>

  </div>

  <!-- service -->
  <div class="printable thf-u-margin-top--4">
    <!-- list -->
    <div class="head">
      <h2>{{ 'text.services' | translate }}:</h2>
    </div>
    <div class="body-wrapper">
      <ng-template
        [ngTemplateOutletContext]="{status: true}"
        [ngTemplateOutlet]="head"></ng-template>

      <div
        class="line"
        *ngFor="let item of listService">
        <ng-template
          [ngTemplateOutlet]="body"
          [ngTemplateOutletContext]="{item: item, status: true}"></ng-template>
      </div>
    </div>

    <!-- gross -->
    <div class="head">
      <h2>{{ 'text.grossTotal' | translate }}:</h2>
    </div>
    <div class="body-wrapper">
      <ng-template [ngTemplateOutlet]="head"></ng-template>

      <div class="line">
        <ng-template
          let-item="item"
          [ngTemplateOutlet]="body"
          [ngTemplateOutletContext]="{item: grossService}"></ng-template>
      </div>
    </div>

    <!-- net -->
    <div class="head">
      <h2>{{ 'text.netTotal' | translate }}:</h2>
    </div>
    <div class="body-wrapper">
      <ng-template [ngTemplateOutlet]="head"></ng-template>

      <div class="line">
        <ng-template
          let-item="item"
          [ngTemplateOutlet]="body"
          [ngTemplateOutletContext]="{item: netService}"></ng-template>
      </div>
    </div>
  </div>
</div>

<!-- head -->
<ng-template let-status="status" #head>
  <div class="head">
    <span *ngIf="status">{{ 'label.status' | translate }}</span>
    <!-- empty to adjust to same columns number -->
    <span *ngIf="!status"></span>
    <span>{{ 'label.service' | translate }}</span>
    <span>{{ 'label.rate' | translate }}</span>
    <span>{{ 'label.iss' | translate }}</span>
    <span>{{ 'label.totalOfPayment' | translate }}</span>
    <span>{{ 'label.pointOfSale' | translate }}</span>
    <span>{{ 'label.total' | translate }}</span>
    <span>{{ 'label.quantity' | translate }}</span>
  </div>
</ng-template>

<!-- body -->
<ng-template let-item="item" let-status="status" #body>
  <span *ngIf="status">{{ item?.statusName }}</span>
  <!-- empty to adjust to same columns number -->
  <span *ngIf="!status"></span>
  <span>{{ item?.service | currencyFormat:null:2:'.':',':3:false }}</span>
  <span>{{ item?.rate | currencyFormat:null:2:'.':',':3:false }}</span>
  <span>{{ item?.iss | currencyFormat:null:2:'.':',':3:false }}</span>
  <span>{{ item?.typeOfPayment | currencyFormat:null:2:'.':',':3:false }}</span>
  <span>{{ item?.pointOfSale | currencyFormat:null:2:'.':',':3:false }}</span>
  <span>{{ item?.total | currencyFormat:null:2:'.':',':3:false }}</span>
  <span>{{ item?.quantity | currencyFormat:null:2:'.':',':3:false }}</span>
</ng-template>
