.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

h2 {
  font-size: 1.2em;
  text-transform: capitalize;
  font-weight: bold;
}

.printable {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  font: normal 0.7em Tahoma, Verdana, Arial, sans-serif !important;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: var(--color-black);

  .body-wrapper {
    .head, .line {
      display: flex;
      justify-content: flex-start;
      padding: .5em;
      border-bottom: 1px solid var(--color-black);

      span {
        flex-grow: 0;
        width: 100%;
      }
    }
  }


  .head {
    padding: 20px 0 0 .5em;
    font-weight: bold;

    &:last-child {
      border-bottom: 1px solid var(--color-black);
    }
  }

  .content {
    .span {
      font: normal 0.7em Tahoma, Verdana, Arial, sans-serif !important;
      padding: 5px;
    }
  }
}
