<div [ngSwitch]="configComponent.headerPageEnum">
    <app-header-list-page *ngSwitchCase="referenceToHeaderPageEnum.List" [config]="configComponent" [searchableItems]="searchableItemsComponent"
                          (searchUpdated)="updateItems($event)"></app-header-list-page>
    <app-header-create-page *ngSwitchCase="referenceToHeaderPageEnum.Create" [titlePage]="configComponent.titlePage"></app-header-create-page>
    <app-header-edit-page *ngSwitchCase="referenceToHeaderPageEnum.Edit" [config]="configComponent"></app-header-edit-page>
</div>
