<app-header-page-new [config]="configHeaderPage" [rightButtonList]="topButtonsListConfig" >
  <header-title>
    {{'billingAccountModule.commomData.billingAccount' | translate }}
    <span *ngIf="billingAccountHeader?.reservationItemCode; else reservationCode">-</span> {{billingAccountHeader?.reservationItemCode}}
    <ng-template #reservationCode>
      <span *ngIf="billingAccountHeader?.reservationCode">-</span> {{billingAccountHeader?.reservationCode}}
    </ng-template>
  </header-title>
  <!-- Aplicar no componente de header-page-new a possibilidade de vários botões
  e mudar botão do Operação de Caixa -->
  <text-button>{{'reservationModule.reserveList.advancedSearch' | translate}}</text-button>
</app-header-page-new>

<div id="header-details-guest-billing-account" class="thf-u-background-color--blue thf-u-color--white thf-u-font--semibold thf-u-padding--1 thf-u-padding-left--2 thf-u-padding-right--2">

  <div class="row" *ngIf="billingAccountHeader?.billingAccountTypeId == referenceToBillingAccountTypeEnum.Sparse || billingAccountHeader?.billingAccountTypeId == referenceToBillingAccountTypeEnum.GroupAccount">
    <div class="col-6">
      <div class="row justify-content-around align-items-center thf-u-margin-top--1">
        <div class="col-1">
          <img class="round-background-white" src="{{'tarifa.svg' | imgCdn}}" alt="{{ 'reservationModule.commomData.rate' | translate }}"/>
        </div>
        <div class="col">
          <span class="thf-u-font--20" *ngIf="billingAccountHeader?.billingAccountTypeId == referenceToBillingAccountTypeEnum.Sparse">{{'text.singleAccount' | translate}}</span>
          <span class="thf-u-font--20" *ngIf="billingAccountHeader?.billingAccountTypeId == referenceToBillingAccountTypeEnum.GroupAccount">{{'text.groupAccount' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row justify-content-around align-items-center">
        <div class="col-4 offset-8">
          <div class="thf-u-font--14 thf-u-font--bold thf-u-color-white thf-u-opacity--45">
            {{'billingAccountModule.header.details.total' | translate}}
          </div>
          <div class="thf-u-font--20 thf-u-font--bold thf-u-color--white" id="price-total-sparse">{{ billingAccountHeader?.currencySymbol }} {{billingAccountHeader?.priceTotal | currencyFormat: ' '}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="billingAccountHeader?.reservationItemStatusId && billingAccountHeader?.billingAccountTypeId != referenceToBillingAccountTypeEnum.GroupAccount">
    <div class="col-6">
      <div class="row justify-content-around align-items-center">
        <div class="col-1">
          <img class="round-background-white" src="{{'tarifa.svg' | imgCdn}}" alt="{{ 'reservationModule.commomData.rate' | translate }}"/>
        </div>
        <div class="col">
          <div *ngIf="billingAccountHeader?.roomNumber">
            <div class="thf-u-font--14 thf-u-font--bold thf-u-color-white thf-u-opacity--45">
              {{'billingAccountModule.header.details.uh' | translate}}
            </div>
            <div class="thf-u-font--18 thf-u-font--bold thf-u-color--white">
              {{billingAccountHeader?.roomNumber}}
              <span *ngIf="billingAccountHeader?.statusName.toLowerCase() == 'pending' ">({{ 'label.released' | translate }})</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row justify-content-end align-items-center">
        <div class="col-auto thf-u-padding-horizontal--2" app-click-stop-propagation>
          <img *ngIf="hasZeroRemarks" class="thf-u-filter-svg--white thf-u-cursor--pointer" src="{{'obs_vazia.svg' | imgCdn}}" (click)="showRemarksPopover()" alt="{{'reservationModule.commomData.remarks' | translate}}"
          />
          <img *ngIf="hasOneRemarks" class="thf-u-filter-svg--white thf-u-cursor--pointer" (click)="showRemarksPopover()" src="{{'obs_1.svg' | imgCdn}}"
            alt="{{'reservationModule.commomData.remarks' | translate}}" />
          <img *ngIf="hasTwoRemarks" class="thf-u-filter-svg--white thf-u-cursor--pointer" (click)="showRemarksPopover()" src="{{'obsIcon.svg' | imgCdn}}"
            alt="{{'reservationModule.commomData.remarks' | translate}}" />

          <span class="thf-u-font--14 thf-u-font--bold thf-u-color-white thf-u-opacity--45 thf-u-margin-left--1">{{'billingAccountModule.header.details.remarks' | translate}}</span>
        </div>
        <div class="col-auto thf-u-padding-horizontal--2">
          <div class="thf-u-font--14 thf-u-font--bold thf-u-color-white thf-u-opacity--45">
            {{'billingAccountModule.header.details.total' | translate}}
          </div>
          <div class="thf-u-font--20 thf-u-font--bold thf-u-color--white" id="price-total-not-sparse">{{ billingAccountHeader?.priceTotal | currencyFormat: billingAccountHeader?.currencySymbol }}
          </div>
        </div>
      </div>
      <div class="thf-u-position--absolute thf-u-z-index--1 hps-children-popover" [ngClass]="{'thf-u-hide': !showPopover}">
        <span class="thf-u-margin-top--1"></span>
        <app-popover>
          <div class="arrow-position">
            <span class="thf-popover-arrow--left"></span>
          </div>
          <div class="body-data">
            <div class="thf-u-padding--1" *ngIf="!hasZeroRemarks; else elseBlock">
              <span class="thf-u-font--12 thf-u-color--white">
                {{billingAccountHeader?.externalComments}}
              </span>
              <hr class="divider">
              <span class="thf-u-font--12 thf-u-color--white">
                {{billingAccountHeader?.internalComments}}
              </span>
            </div>
            <ng-template #elseBlock>
              <div class="thf-u-padding--1">
                <span class="thf-u-font--12 thf-u-color--white">
                  {{'billingAccountModule.header.details.noRemarks' | translate}}
                </span>
              </div>
            </ng-template>
          </div>
        </app-popover>
      </div>
    </div>
  </div>
</div>

<div *ngIf="billingAccountHeader?.reservationItemStatusId" id="status-reservation-item-guest-billing-account" class="thf-u-margin-top--1 thf-u-padding--1 thf-u-padding-left--2 thf-u-padding-right--2" [ngClass]="statusColorName">
  <span class="thf-u-font--14 thf-u-color--white">
    {{'billingAccountModule.header.status' | translate}}
  </span>
  <span class="thf-u-font--bold thf-u-font--14 thf-u-color--white">
    {{billingAccountHeader?.statusName}}</span>
</div>

<billing-account-release-uh
  [billingAccountHeader]="billingAccountHeader"
  (modalClose)="closeModalReleaseUh()"
  (notifyFinishRealease)="notifyRelease()"
>

</billing-account-release-uh>
