:root {
  --color-white: #FFFFFF;
  --color-status--checkin: #00B087;
}

.round-background-white {
  background-color: var(--color-white);
  padding: 6px;
  border-radius: 16px;
}

.status-background {
  background-color: var(--color-status--checkin);
  border-radius: 3px;
}

:host ::ng-deep .thf-popover {
  min-width: 150px;
  text-align: justify;
  font-weight: normal;
  background-color: #4A5C60;
}

:host ::ng-deep .thf-popover-arrow--center::before,
:host ::ng-deep .thf-popover-arrow--right::before,
:host ::ng-deep .thf-popover-arrow--left::before,
:host ::ng-deep .thf-popover-arrow--center::after,
:host ::ng-deep .thf-popover-arrow--right::after,
:host ::ng-deep .thf-popover-arrow--left::after {
  background-color: #4A5C60;
}

:host ::ng-deep .divider {
  background-color: #979797;
}

