<!-- modal include -->
<app-modal-wrapper
  modalId="modal-public-search"
  [maxWidth]="'553px'"
  [minWidth]="'553px'"
  [title]="'title.searchPublicDatabase'"
  class="modal-public-wrapper">
  <div class="thf-modal-body">
    <!-- first row -->
    <div class="row">
      <div class="col">
        <label class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.search' | translate }}
        </label>
        <!-- search bar -->
        <div class="input-box">
          <thx-searchbar
            name="searchFilter"
            [placeholder]="'placeholder.searchByNcmOrBarcode'"
            (input)="search($event)">
          </thx-searchbar>
        </div>
      </div>

    </div>
    <!-- end row -->
    <div class="thf-u-margin-top--2 thx-datatable-wrapper">
      <thx-datatable
        [columnMode]="'flex'"
        [columns]='columns'
        [rowsLimit]="ROWS_LIMIT"
        [hasLastCell]="false"
        (rowItemClicked)="selectItem($event)"
        [selectionType]="'single'"
        [itens]="dataTableList">
      </thx-datatable>
    </div>

  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelModalConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmModalConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
