.modal-public-wrapper{
  .thx-datatable-wrapper{
    width: 100%;
  }


  .input-box{
    border: 1px solid var(--color-grey);
    box-shadow: inset 1px 1px 3px 3px var(--color-shadow-input);
    border-radius: 3px;
  }

  .thf-input-search{
    max-height: 44px;
  }
}
