<form id="availabilityGridFilterForm" [formGroup]="occupancyForm">
  <div class="row">
    <div class="col-12">
      <div class="thf-group-content">
        <div class="thf-group-content-header">
          <div class="row">
            <div class="col-11">
              <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
              <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">{{ 'propertyModule.availabilityGrid.filter' | translate }}</span>
            </div>
          </div>
        </div>
        <div class="thf-group-content-body thf-u-padding-vertical--2">
          <div class="row thf-u-margin-bottom--4">
            <div class="col-4">
              <report-menu
                [formGroupAppSelect]="occupancyForm">
              </report-menu>
            </div>
          </div>

          <hr class="row"/>

          <div class="row">
            <div id="availabilityGridFilterForm-date" class="col-5 col-lg-4">
              <label
                class="thf-u-block thf-u-margin-top--1 thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
                {{'propertyModule.availabilityGrid.date' | translate }}
              </label>
              <thx-datepicker formControlName="initialDate" id="initialDate"></thx-datepicker>
              <thx-error formControlName="initialDate"></thx-error>

            </div>

            <div id="availabilityGridFilterForm-period" class="col-5 col-lg-5">
              <label
                class="thf-u-block thf-u-margin-top--1 thf-u-no-margin thf-u-margin-bottom--1 thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
                {{'propertyModule.availabilityGrid.period' | translate }}
              </label>

              <app-button-bar [buttonBarConfig]="buttonBarConfig"></app-button-bar>

            </div>

            <div class="col-2 col-lg-2 container-button-padding">
              <app-button [buttonConfig]="consultButton"></app-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="thf-u-margin-top--3 col-12">
  <thx-datatable
    *ngIf="items && columns"
    [columnMode]="'auto'"
    [columns]='columns'
    [itens]="items"
    [tableHasScroll]="true"
    [hasLastCell]="false"
  >
  </thx-datatable>

  <div class="row">
    <div class="offset-9 col-3 thf-u-margin-top--2">
      <app-button [buttonConfig]="printButton" ></app-button>
    </div>
  </div>

  <app-printable-table
    [hidden]="true"
    #printTable
    [columnsName]="columns"
    [items]="items"
    [props]="props"
    [title]="'label.occupancy' | translate"
  ></app-printable-table>
</div>
