<app-modal-wrapper
  [modalId]="optionBillingAccountClosureModalId"
  [title]="optionBillingAccountClosureModalTitle">
  <div class="thf-modal-body">
    <option-billing-account-closure
      [billingAccountToClose]="billingAccountSelectedToPayment"
      [billingAccoutForClousureList]="getAllBillingAccountForClosureData"
      (openModalBillingAccountClosurePerson)="setIsConsolidateAndPayToTrue();openModalBillingAccountClosurePerson()"
      (openModalMultipleBillingAccountClosurePerson)="setIsConsolidateAndPayToTrue();openModalMultipleBillingAccountClosurePerson()"
      (openModalPayment)="setIsConsolidateAndPayToFalseAndBillingAccountSelected();openModalPayment()"
      [isIndividualStatement]="isIndividualStatement">
    </option-billing-account-closure>
  </div>
</app-modal-wrapper>

<app-modal-wrapper
  [extraClass]="'hps-width--650'"
  [maxWidth]="'650'"
  [modalId]="billingAccountClosurePersonModalId"
  [title]="'text.closure'"
  [closeCallbackFunction]="closeAllModalsAndRedirectToBillingAccountPage">
  <select-billing-account-for-closure
    [getAllBillingAccountForClosure]="getAllBillingAccountForClosureData"
    (openModalPayment)="closeSelectBillingAccountModal();setBillingAccountSelectedToPaymentWhenIsConsolidate();openModalPayment()"
    (closeBillingAccountClosureModal)="closeAllModalsAndRedirectToBillingAccountPage()"
    (openStatementModal)="openStatementModal($event)"
    (billingAccountForClosureCheckedListWasUpdated)="updateBillingAccountForClosureCheckedList($event)">
  </select-billing-account-for-closure>
</app-modal-wrapper>

<app-modal-wrapper
  [extraClass]="'hps-width--830'"
  [maxWidth]="'830'"
  [modalId]="multipleBillingAccountClosurePersonModalId"
  [title]="'label.consolidatedClosure'"
  [closeCallbackFunction]="closeAllModalsAndRedirectToBillingAccountPage">
  <select-multiple-billing-account-for-closure
    [getAllBillingAccountForClosure]="getAllBillingAccountForClosureData"
    [billingAccountOwnerList]="billingAccountOwnerList"
    (openModalPayment)="closeSelectMultipleBillingAccountModal();setBillingAccountSelectedToPaymentWhenIsConsolidate();openModalPayment()"
    (closeMultipleBillingAccountClosureModal)="closeAllModalsAndRedirectToBillingAccountPage()"
    (openStatementModal)="openStatementModal($event)"
    (billingAccountForClosureCheckedListWasUpdated)="updateBillingAccountForClosureCheckedList($event)"
    (billingAccountOwnerWasSelected)="setBillingAccountOwner($event)">
  </select-multiple-billing-account-for-closure>
</app-modal-wrapper>

<app-modal-wrapper
  *ngIf="billingAccountWithAccountList"
  [extraClass]="'hps-width--650'"
  [maxWidth]="'650'"
  [modalId]="statementModalId"
  [title]="'label.statementPreview'">
  <statement-modal
    [statementList]="billingAccountWithAccountList"
    [total]="totalOfBillingAccountWithAccountList">
  </statement-modal>
</app-modal-wrapper>

<app-modal-wrapper
  [modalId]="paymentModalId"
  [title]="'text.payment'"
  [closeCallbackFunction]="closeAllModalsAndRedirectToBillingAccountPage">
  <payment
    [accountTypeId]="statement?.accountTypeId"
    [paymentForm]="paymentForm"
    [paymentTotal]="billingAccountSelectedToPayment?.total"
    [billingAccountItemName]="billingAccountSelectedToPayment?.billingAccountItemName"
    [holderName]="holderName"
    (closeThisModal)="closeAllModalsAndRedirectToBillingAccountPage()"
    (paymentTypeWithBillingItemListWasUpdated)="updatePaymentTypeWithBillingItemList($event)"
    (paymentWasMade)="makePayment()">
  </payment>
</app-modal-wrapper>

<app-header-page-new
  [config]="configHeaderPage"
  [rightButtonList]="topButtonsListConfig"
  class="no-print">
  <header-title>
    {{'billingAccountModule.commomData.statement' | translate }}
  </header-title>
  <text-button>{{'reservationModule.reserveList.advancedSearch' | translate}}</text-button>
</app-header-page-new>
<div #statemant class="print-no-extra-page">
  <statement-template
    class="print-only"
    [propertyId]="propertyId"
    [showsIfOpen]="checkoutEnabled"
    *ngFor="let statementObj of statementList"
    [statement]="statementObj"
    [isIndividualStatement]="isIndividualStatement"
    [currencySymbol]="currencySymbol"
  ></statement-template>
  <statement-footer-total
    *ngIf="!isIndividualStatement"
    [statementTotal]="statementTotal"
    [currencySymbol]="currencySymbol"
  ></statement-footer-total>

  <div class="thf-u-margin-top--4">
    <div class="row justify-content-end no-print">
      <div class="col-2">
        <app-button [buttonConfig]="buttonPrintConfig"></app-button>
      </div>
      <div class="col-2">
        <app-button [buttonConfig]="buttonPayConfig"></app-button>
      </div>
    </div>

    <div class="thf-u-margin-top--4 print-footer print-only">
      <div class="row justify-content-center">
        <div class="col-6">
          <hr class="thf-u-background-color--black"/>
          <p class="thf-u-text-center">{{ 'label.signature' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-wrapper
  [modalId]="MODAL_AFTER_PAYMENT"
  minWidth="405px"
  maxWidth="405px"
  [showHeader]="false" >
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="d-flex justify-content-center flex-column text-center">
      <div>
        <img
          class="thf-u-icon-modal-large thf-u-margin-vertical--2"
          src="{{'icon-emission-nf.svg' | imgCdn}}" alt="{{ 'img.iconEmissionNf' | translate }}">
      </div>
      <div class="thf-u-font--bold thf-u-font--16">{{'label.paymentDone' | translate}}</div>
      <div class="thf-u-margin-vertical--2 thf-u-font--14" innerHtml="{{ 'text.generateNfes' | translate }}" ></div>
      <div class="thf-u-margin-bottom--2" >
        <app-button [buttonConfig]="okButtonConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<app-modal-wrapper
  [modalId]="MODAL_CHECKOUT"
  minWidth="595px"
  maxWidth="595px"
  [showHeader]="false"  >
  <div class="thf-modal-header" >
    <h2 class="thf-u-font--25" >{{ 'label.confirmCheckout' | translate }}</h2>
  </div>
  <div class="thf-modal-body thf-u-margin-bottom--5">
    <div class="thf-u-font--16">{{ 'label.wouldYouLikeToDoCheckout' | translate }}</div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelModalCheckoutConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonSaveModalCheckoutConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<app-modal-wrapper
  [modalId]="MODAL_EARLY_CHECKOUT"
  minWidth="595px"
  maxWidth="595px"
  [showHeader]="false">
  <div class="thf-modal-header" >
    <h2 class="thf-u-font--25" >{{ 'label.confirmaEarlyCheckout' | translate }}</h2>
  </div>
  <div class="thf-modal-body thf-u-margin-bottom--2 thf-u-font--16">
    <div class="thf-u-margin-bottom--2" >{{ 'label.wouldYouLikeToDoEarlyCheckout' | translate }}</div>
    <div class="thf-u-color--danger" >{{ 'label.messageEarlyCheckout' | translate }}</div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonEarlyCancelModalCheckoutConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonEarlySaveModalCheckoutConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
