<div class="col-12 thf-u-margin-top--1">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="thf-group-content">
        <input type="checkbox" class="thf-group-toogle thf-u-z-index--1000"/>
        <div class="thf-group-content-header">
          <div class="d-flex justify-content-between">
            <div class="col-3 align-self-center">
            <span class="align-self-center thf-u-cursor--pointer">
                <i
                  class="align mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-input-label--required">{{ 'label.itensList' | translate }}</span>
              </span>
            </div>
            <div class="col-6">
              <app-filter-search [searchableItems]="searchBarConfig" (searchUpdated)="updateList($event)"
                                 [hasBorderBottom]="true"></app-filter-search>
            </div>
            <div class="col-3">
              <app-button [buttonConfig]="associateButtonConfig"></app-button>
            </div>
          </div>
        </div>
        <div class="thf-group-content-body">
          <div class="row">
            <div class="col">
              <thx-datatable
                *ngIf="showTable"
                [columns]='columns'
                [itens]="pageItemsList"
                [rowHeight]="55"
                [emptyMessage]="'text.noneItemAssociated'"
                [completeEmptyMessageContent]="'text.noneItemAssociatedDescription'"
                [hasLastCell]="false"
              ></thx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<fiscal-documents-associate-items-modal
    [modalId]="MODAL_ASSOCIATE_ITENS"
    [countrySubdivisionList]="countrySubdivisionList"
    [serviceList]="billingItenList"
    (cancel)="closeModal()"
    (confirm)="associateItens($event)"
></fiscal-documents-associate-items-modal>

<ng-template #serviceType let-row="row" ngx-datatable-cell-template >
  <div>
    {{ (row.billingItemTypeId == TYPE_SERVICE ? 'label.service' : 'label.pos') | translate}}
  </div>
</ng-template>

<ng-template #variationCell let-row="row" ngx-datatable-cell-template>
  <div *ngIf="row.billingItemTypeId == TYPE_SERVICE" class="thf-u-text-left" >
    <app-select [selectId]="'codService'" [optionList]="countrySubdivisionList" [hasBlankOption]="false"
                [hasMagin]="false" [choseOnlyOnClick]="true" [selectedOptionId]="row.countrySubdvisionServiceId"
                (selectedOption)="changeCodService($event , row)"></app-select>
  </div>
  <div *ngIf="row.billingItemTypeId != TYPE_SERVICE" class="thf-u-text-left thf-u-padding-top--1" >
    N/S
  </div>
</ng-template>
