.reset-password {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-password h1 {
  color: var(--color-grey-dark, grey);
}

.reset-password form {
  width: 100%;
}

.header-logo {
  margin: 60px 0 40px;
}

.footer-logo {
  filter: grayscale(1);
  opacity: .5;
  margin: 40px 0 30px;
}
