<div class="row">
  <div class="col-12">
    <div class="reset-password">
      <img src="{{'logo-totvs.jpg' | imgCdn}}" class="header-logo" height="55">
      <h1 class="thf-u-font--30">{{'authModule.common.welcome' | translate }}</h1>

      <app-new-password-form (submitNewPasswordForm)="resetPassword($event)"></app-new-password-form>

      <img src="{{'logo-totvs.jpg' | imgCdn}}" height="25" class="footer-logo">
    </div>
  </div>
</div>
