<form [formGroup]="formDataGroupChannel">
  <div class="thf-modal-body">
    <div class="row thf-u-margin-bottom--2">
      <div class="col-5">
        <label
          for="channelCode"
          class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ i18n.labels.channel }}
        </label>
        <app-autocomplete
          id="channelCode"
          [id]="'channelCode'"
          data-qa-id="channelCode"
          [autocompleteConfig]="autocompleteCodeConfig"
          [resultList]="autoCompleteCodeResultList"
          [controlName]="'channelCode'"
          [parent]="formDataGroupChannel">
        </app-autocomplete>
        <thx-error formControlName="channelCode"></thx-error>
      </div>
      <div class="col">
        <label
          for="companyId"
          class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ i18n.labels.companyID }}
        </label>
        <input
          id="companyId"
          class="thf-input"
          type="tel"
          formControlName="companyId">
      </div>
      <div class="col">
        <label
          class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          &nbsp;
        </label>
        <app-button [buttonConfig]="associateBtnConfig"></app-button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <thx-datatable
          [columns]='columns'
          [itens]="dataModalList"
          [deleteModeOption]="true"
          (deleteClicked)="deleteChannel($event)"
          [emptyMessage]="i18n.table.emptyMessage">
        </thx-datatable>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="cancelBtnConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="saveBtnConfig"></app-button>
      </div>
    </div>
  </div>
</form>
