<div class="thf-u-margin-top--3">&nbsp;</div>

<div id="header-list-page" class="row">
  <header class="col-12">
    <div class="thf-row-with-action">
      <div class="row thf-row-with-action-areas">
        <div class="col-1 thf-row-with-action--left-area "><!--thf-row-with-action--left-area--downmore-->
          <a (click)="goBackPreviewPage()" data-qa-id="back" href="javascript:void(0)" role="button" class="thf-round-btn thf-round-btn--default thf-u-text-center thf-u-font--18 thf-u-no-padding">
            <i class="mdi mdi-chevron-left"></i>
          </a>
        </div>
        <div class="col-9 thf-row-with-action--middle-area thf-u-reset-list" [ngSwitch]="sizeOfSearchButtonEnum">
            <div class="row" *ngSwitchCase="referenceToSizeOfSearchButtonEnum.Small">
              <div class="col-5">
                <h3 class="thf-title thf-u-reset-list">{{titlePage | translate}}</h3>
              </div>
              <div class="col-4">
                <app-filter-search [searchableItems]="searchableItems" (searchUpdated)="updateItems($event)"></app-filter-search>
              </div>
            </div>
            <div class="row" *ngSwitchCase="referenceToSizeOfSearchButtonEnum.Medium">
              <div class="col-5">
                <h3 class="thf-title thf-u-reset-list">{{titlePage | translate}}</h3>
              </div>
              <div class="col-5">
                <app-filter-search [searchableItems]="searchableItems" (searchUpdated)="updateItems($event)"></app-filter-search>
              </div>
            </div>
            <div class="row" *ngSwitchCase="referenceToSizeOfSearchButtonEnum.Big">
              <div class="col-5">
                <h3 class="thf-title thf-u-reset-list">{{titlePage | translate}}</h3>
              </div>
              <div class="col-5">
                <app-filter-search [searchableItems]="searchableItems" (searchUpdated)="updateItems($event)"></app-filter-search>
              </div>
            </div>
        </div>

        <div class="col-2 thf-row-with-action--right-area">
          <div class="thf-text-button thf-u-font--14 thf-u-text-center thf-u-block">
            <span data-qa-id="text" class="thf-text">{{titleCreateButton | translate}}</span>
            <button (click)="runCallbackFunction()" data-qa-id="new" role="button" class="thf-round-btn thf-round-btn--default thf-u-text-center thf-u-font--18 thf-u-no-padding">
              <i class="mdi mdi-plus"></i>
            </button>
          </div>
        </div>
      </div>
      <hr class="thf-row-divider thf-u-reset-list"/>
    </div>
  </header>
</div>

<div class="thf-u-margin-vertical--1">&nbsp;</div>
