<thx-datatable
  [itens]="alerts"
  [columns]="columns"
  [tableHasScroll]="true"
  [rowsLimit]="3"
  [hasLastCell]="false"
  tableExtraClass="table-scroll"
  columnMode="flex"
></thx-datatable>

<ng-template
  #statusCellTemplate
  let-row="row"
  ngx-datatable-cell-template
>
  <app-status-dot [status]="row.status"></app-status-dot>
</ng-template>
