<span *ngFor="let option of options" class="thf-u-inline-block right-margin-ajust" >
  <span class="thf-u-inline-block" >
    <div class="thf-u-inline-flex" >
      <input
        [name]="name"
        [(ngModel)]="optionSelected"
        type="radio"
        [value]="option.value"
        (ngModelChange)="changeOption($event)"
        [disabled]="disabled"
        class="thf-input-type-radio"
        [id]="option.id"/>
      <label [for]="option.id">
        <span class="ui"></span>
      </label>
    </div>
  </span>
  <span class="thf-u-inline-block thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold" >{{option.label | translate}}</span>
</span>
