<app-modal-wrapper modalId="modalUser" [title]="modalTitle">

  <form [formGroup]="modalForm" novalidate>
    <div class="thf-modal-body hp-modal-body--userList">
      <div class="row">
        <div class="col-12">
          <label for="nameUser"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'label.userName' | translate }}
          </label>
          <input id="nameUser" class="thf-input thf-u-margin-top--1" type="text" formControlName="name">
          <thx-error formControlName="name"></thx-error>
        </div>

        <div class="col-6">
          <label for="emailUser"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--2">
            {{ 'label.email' | translate }}
          </label>
          <input id="emailUser" class="thf-input thf-u-margin-top--1" type="text" formControlName="email">
          <thx-error formControlName="email"></thx-error>
        </div>

        <div class="col">
          <label for="languageUser"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--2">
            {{ 'label.language' | translate }}
          </label>
          <app-select
            id="languageUser"
            [selectId]="'preferredLanguage'"
            [parent]="modalForm"
            [optionList]="languageList"
            [hasBlankOption]="false"
            [hasFormGroup]="true">
          </app-select>
        </div>

        <div
          class="col"
        >
          <label
            for="roleUser"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--2"
          >
            {{ 'label.profile' | translate }}
          </label>
          <app-select
            id="roleUser"
            [selectId]="'role'"
            [parent]="modalForm"
            [optionList]="roleList"
            [hasBlankOption]="false"
            [hasFormGroup]="true">
          </app-select>
        </div>
      </div>
    </div>

    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <app-button [buttonConfig]="cancelModalBtnCfg"></app-button>
        </div>
        <div class="col">
          <app-button [buttonConfig]="saveModalBtnCfg"></app-button>
        </div>
      </div>
    </div>
  </form>

</app-modal-wrapper>

<div class="thf-user-list-wrapper">

  <div class="row align-items-center hp-user-list--header">
    <div class="col-4">
      <h2 class="hp-user-list-title">
        {{ 'title.managementUser' | translate }}
      </h2>
    </div>
    <div class="col-3 ml-auto">
      <app-button [buttonConfig]="newUserBtnCfg"></app-button>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <thx-datatable
        [rowHeight]="54"
        *ngIf="pageItemsList"
        [columns]='columns'
        [itens]="pageItemsList"
        statusIdentifier='id'
        [itemsOption]="itemsOption"
        (statusChanged)="updateUserStatus($event)"
      ></thx-datatable>

    </div>
  </div>
</div>

<ng-template #languageCell let-row="row" ngx-datatable-cell-template>
  <app-select
    [selectId]="'language'"
    [optionList]="languageList"
    [hasBlankOption]="false"
    [hasMagin]="false"
    [choseOnlyOnClick]="true"
    [selectedOptionId]="row.preferredLanguage"
    (selectedOption)="updateLanguage($event , row)">
  </app-select>
</ng-template>

<ng-template #roleCell let-row="row" ngx-datatable-cell-template>
  <app-select
    *ngIf="roleList"
    [selectId]="'role'"
    [optionList]="roleList"
    [hasBlankOption]="false"
    [hasMagin]="false"
    [choseOnlyOnClick]="true"
    [selectedOptionId]="row.roleIdList[0]"
    (selectedOption)="updateRole($event , row)">
  </app-select>
</ng-template>
