<app-modal-wrapper [modalId]="modalId" [title]="'title.insertClient'" minWidth="620px">

  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row">
      <div class="col">
        <thx-datatable-checkbox
          [tableHasScroll]="true"
          [footerHeight]="0"
          [tableExtraClass]="'table-scroll'"
          [columns]="columns"
          [headerHeight]="45"
          [rowItens]="clientList"
          [rowHeight]="55"
          [(selectedItens)]="clientSelectedList">
        </thx-datatable-checkbox>
      </div>
    </div>

    <div class="row thf-u-margin-top--2">
      <div class="offset-6 col-3">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </div>

</app-modal-wrapper>
