<div
  class="thf-input-group thf-u-cursor--pointer premise-operator">
  <div
    class="symbol-container thf-u-font--bold"
    [ngClass]="{'open': isOpen, 'closed' : !isOpen }"
    (click)="toggle($event)">

    <div class="selected-container">
      <span class="thf-u-font--18">{{ selected }}</span>
      <i class="mdi mdi-chevron-down thf-u-font--25 thf-u-color--blue"></i>
    </div>

    <div class="selection-container">
      <div class="selection-item"
           *ngFor="let operatorSymbol of operationSymbolList"
           (click)="selectItem($event, operatorSymbol)">
        <div class="selection-item-value thf-u-font--18">
          {{ operatorSymbol }}
          <span class="label-info thf-u-font--14">{{ translateOperator(operatorSymbol) }}</span>
        </div>
      </div>
    </div>
  </div>
  <input
    class="symbol-input"
    currencyMask
    [(ngModel)]="value"
    (ngModelChange)="valueChanged($event)"
    [options]="optionsCurrencyMask"/>
</div>
