@mixin shadow { box-shadow: inset 1px 1px 3px 3px rgba(0, 0, 0, 0.03)};
@mixin border { border: 1px solid var(--color-grey); };
$transition-time: 300ms;
$premise-operator-height: 34px;
$selection-item-height: 32px;

:host{
  display: block;
  margin: 0px;
}

.premise-operator{
  width: 110px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  @include border;
  @include shadow;
  height: $premise-operator-height !important;
  min-height: $premise-operator-height !important;
  background: var(--color-white);
  position: relative;

  border-radius: 3px;

  .selected-container{
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      color: var(--color-grey-launcher-title);
    }
  }

  input, .symbol-container {
    flex: 1;
    width: 50px;
  }

  .symbol-container {
    i{
      transform: rotate(0);
      transition: transform $transition-time;
    }
    &.open {
      i{
        transform: rotate(180deg);
      }

      .selection-container {
        border-width: 0 1px 1px 1px;

        .selection-item {
          height: $selection-item-height;
          border-width: 0 0 1px 0;
        }
      }
    }
  }

  input{
    @include border;
    border-width: 0 0 0 1px;
    min-height: $selection-item-height !important;
    background: transparent;

    &:focus {
      outline: none;
    }
  }

  .selection-container{
    position: absolute;
    background: white;
    @include border;
    border-width: 0;
    top: 33px;
    left: -1px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden;
    transition: border-width $transition-time;
    z-index: 1;

    .selection-item{
      width: 108px;
      height: 0;
      @include border;
      border-width: 0;
      transition: height $transition-time, border-width $transition-time;

      &:last-of-type {
        border-width: 0 !important;
      }

      .selection-item-value {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 9px;

        .label-info{
          font-weight: 300;
        }
      }
    }
  }
}
