.thx-tooltip {
  background: var(--color-grey);
  display: table;
  position: absolute;
  border-radius: 4px;
  padding: 1px 10px;
  z-index: 5;
  white-space: pre-line;
}
img {
  cursor: pointer;
}
.thx-tooltip .thx-popover-arrow {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-width: 5px 5px 0 5px;
}
.thx-popover-arrow::after, .thx-popover-arrow::before {
  content: '';
  display: block;
  position: absolute;
  border-style: solid;
  margin-top: 0;
  margin-bottom: 0;
}
.thx-popover-arrow::before {
  left: -5px;
  border-width: 5px 5px 0 5px;
  border-color: var(--color-grey) transparent transparent transparent;
}
.thx-popover-arrow::after {
  left: -5px;
  border-width: 4px 4px 0 4px;
  border-color: var(--color-grey) transparent transparent transparent;
}

.left{
  left: -35%;
  bottom: 85px;
}

.left > .thx-popover-arrow {
  right: 17px;
}

.right > .thx-popover-arrow {
  left: 0;
}

.thx-popover-arrow .left::before {
  left: -5px;
  border-width: 5px 5px 0 5px;
  border-color: var(--color-grey) transparent transparent transparent;
}
.thx-popover-arrow .left::after {
  left: -5px;
  border-width: 4px 4px 0 4px;
  border-color: var(--color-grey) transparent transparent transparent;
}

.thx-popover-arrow .right::before {
  left: -5px;
  border-width: 5px 5px 0 5px;
  border-color: var(--color-grey) transparent transparent transparent;
}
.thx-popover-arrow .right::after {
  left: -5px;
  border-width: 4px 4px 0 4px;
  border-color: var(--color-grey) transparent transparent transparent;
}
