<div class="thf-card-room-list">
  <div class="thf-u-margin-vertical--3 statement-footer">
    <div class="row">
      <div class="offset-1 offset-sm-5 col">
        <label class="thf-input-label thf-u-font--14 thf-u-font--bold">{{'billingAccountModule.statement.stayPeriod' |
          translate}}</label>
      </div>
      <div class="col">
        <label class="thf-input-label thf-u-font--14 thf-u-font--bold">{{'billingAccountModule.statement.averageSpendPerDay'
          | translate}}</label>
      </div>
      <div class="col">
        <label class="thf-input-label thf-u-font--14 thf-u-font--bold">{{'billingAccountModule.statement.totalBalance' |
          translate}}</label>
      </div>
    </div>

    <div class="row">
      <div class="offset-1 offset-sm-5 col">
        <span class="thf-u-font--14">{{ statementTotal?.periodOfStay }} {{ 'label.days' | translate }}</span>
      </div>
      <div class="col">
        <span class="thf-u-font--14">{{ statementTotal?.averageSpendPerDay | currencyFormat: currencySymbol }}</span>
      </div>
      <div class="col">
        <span class="thf-u-font--23">{{ statementTotal?.total | currencyFormat: currencySymbol }}</span>
      </div>
    </div>
  </div>
</div>
