<div *ngFor="let rateBlock of rateProposalList" id="{{ 'roomtype-' + rateBlock?.roomTypeId }}">
  <div *ngIf="rateBlock?.rateList?.length">
    <div class="uh-type-header">
      <h4 class="thf-u-font--14 thf-u-font--bold uh-type-title">{{ rateBlock?.roomTypeName }}</h4>
      <div class="label-danger thf-u-font--12" *ngIf="rateBlock.overbooking">{{'label.overbook' | translate }}</div>
    </div>
    <div>
      <thx-expandable-card class="card-space" *ngFor="let rate of rateBlock?.rateList" >
        <div class="row card-text-header">
          <div class="col-2 radio-container">
            <input name="rateSelected" id="{{ getSelectId(rate) }}" type="radio" class="thf-input-type-radio" (click)="selectRate(rate)"/>
            <label for="{{ getSelectId(rate) }}" >
              <span class="ui"></span>
            </label>
            <span class="radio-text thf-u-font--12 thf-u-font--bold">{{ rate.commercialBudgetName }}</span>
          </div>
          <div class="col-3 offset-1 text-left thf-u-font--12 thf-u-font--bold">
            <div class="d-flex align-items-center justify-content-between">
              <div class="thf-u-font--12 thf-u-font--bold">
                {{'label.averageDaily' | translate }}
              </div>
              <div class="no-padding thf-u-font--16 thf-u-font--bold thf-u-color--blue">
                {{ rate?.budgetConfig.averageDaily | currencyFormat: rate.currencySymbol }}
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <div class="thf-u-font--12 thf-u-font--bold">
                {{'label.totalByDaily' | translate }}
              </div>
              <div class="no-padding thf-u-font--16 thf-u-font--bold thf-u-color--blue">
                {{ rate?.budgetConfig.reservationItemCommercialBudgetCurrent.totalBudget | currencyFormat: rate.currencySymbol }}
              </div>
            </div>
          </div>
          <div class="col-3">
            <a (click)="openPeriodModal()" href="javascript:void(0)" class="thf-link" *ngIf="rateProposalSelect == rate" >{{'label.alterRateByPeriod' | translate }}</a>
          </div>
          <div class="col-2 header-padding">
            <div>
              <label
                class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--12 thf-u-font--bold">{{'label.mealPlanType'
                  | translate}}</label>
            </div>
            <div>
              <app-select
                [optionList]="rate.mealPlanTypeListOptions"
                [hasFormGroup]="false"
                [selectedOptionId]="+rate.mealPlanTypeId"
                (selectedOptionIdChange)="mealPlanChanged($event, rate)"
              >
              </app-select>
            </div>
          </div>
        </div>
        <div>
          <reservation-budget-detail-modal
            [reservationItemCommercialBudget]="rate?.budgetConfig"
            [showHeader]="false"
            [showFooter]="false"
            (updateBudgetList)="updateBudget($event)"
          >
          </reservation-budget-detail-modal>
        </div>
      </thx-expandable-card>

    </div>

  </div>
</div>
<app-rate-proposal-change-period-modal
  [modalId]="MODAL_CHANGE_PERIOD"
  [dailyAmount]="rateProposalSelect?.budgetConfig?.averageDaily"
  [currencySymbol]="rateProposalSelect?.budgetConfig?.reservationItemCommercialBudgetCurrent?.currencySymbol"
  [mealPlanTypeListOptions]="rateProposalSelect?.mealPlanTypeListOptions"
  [mealPlanTypeId]="rateProposalSelect?.budgetConfig?.reservationItemCommercialBudgetCurrent?.mealPlanTypeId"
  [disableSince]="endDate"
  [disableUntil]="beginDate"
  (cancelModal)="cancelRateProposalChange()"
  (confirmModal)="confirmRateProposalChange($event, rateProposalSelect?.budgetConfig)"
></app-rate-proposal-change-period-modal>
