.card-space {
  margin: 20px 0;
}

.uh-type-header {
 margin: 10px 0 -20px 0;
}

.radio-container {
  background: var(--color-grey-lighter);
  height: 100%;
  display: flex;
  align-items: center;
}
.card-text-header {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}
.header-padding {
  padding: 10px 0;
}

.radio-text {
 margin-left: 30px;
}

.label-danger {
  border-radius: 5px;
  color: white;
  background-color: var(--color-danger);
  padding: 0 5px;
  display: inline-block;
}

.no-padding {
  padding: 0;
}
.text-right {
  text-align: right;
}

.uh-type-title {
  display: inline-block;
}

.thf-link {
  text-decoration: underline;
}
