<div class="boxProfile">
  <form [formGroup]="passwordForm">
    <div class="row">
      <div class="col-12">
        <div class="info-title">{{ 'title.passwordChange' | translate }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label for="currentPassword"
               class="thf-u-no-margin thf-input-label thf-u-font--12 thf-u-font--bold thf-input-label--required thf-input-label--grey-submarine"
        >{{ 'label.currentPassword' | translate }}</label>
        <input
          id="currentPassword"
          class="thf-input thf-u-margin-top--1"
          type="password"
          formControlName="currentPassword"
        />
        <thx-error formControlName="currentPassword"></thx-error>
      </div>

      <div class="col-4">
        <label for="newPassword"
               class="thf-u-no-margin thf-input-label thf-u-font--12 thf-u-font--bold thf-input-label--required thf-input-label--grey-submarine"
        >{{ 'label.newPassword' | translate }}</label>
        <input
          id="newPassword"
          class="thf-input thf-u-margin-top--1"
          type="password"
          formControlName="newPassword"
        />
        <thx-error formControlName="newPassword"></thx-error>
      </div>

      <div class="col-4">
        <label for="confirmPassword"
               class="thf-u-no-margin thf-input-label thf-u-font--12 thf-u-font--bold thf-input-label--required thf-input-label--grey-submarine"
        >{{ 'label.confirmPassword' | translate }}</label>
        <input
          id="confirmPassword"
          class="thf-input thf-u-margin-top--1"
          type="password"
          formControlName="confirmPassword"
        />
        <thx-error formControlName="confirmPassword"></thx-error>
      </div>
    </div>
    <hr class="divider">

    <div class="row">
      <div class="col offset-10">
        <app-button class="info-button" [buttonConfig]="buttonSaveConfig"></app-button>
      </div>
    </div>
  </form>
</div>
