@import "variables";

.boxProfile {
  background-color: $white-color;
  padding: 40px;
}

.info-title {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 0 40px 0;
  letter-spacing: 1.08px;
}

.divider {
  margin: 30px 0 0 0;
}

.info-button {
  display: block;
  margin-top: 40px;
}

.thf-input {
  margin-top: 0px !important;
}
