.mydrp, .mydp {
  margin-top: 10px;
}
.thf-u-no-margin .mydrp, .thf-u-no-margin .mydp {
  margin-top: 0px;
}
.mydrp .selection, .mydp .selection {
  width: 100%;
  padding: 0 15px 0 0;
  text-align: center;
}

.mydrp .selection::placeholder, .mydp .selection::placeholder {
  text-align: center;
}

.mydrp .weekdaytitle,
.mydrp .monthinput,
.mydrp .yearinput,
.mydrp .titleareatxt,
.mydp .weekdaytitle,
.mydp .monthinput,
.mydp .yearinput,
.mydp .titleareatxt {
  font-weight: normal;
  font-size: 12px;
}

.mydrp .btnpicker, .mydp .btnpicker {
  color: var(--color-blue);
  width: 32px;
}

@media screen and (max-width:1200px ) {

  .mydrp .daycell, .mydrp .monthcell, .mydrp .weekdaytitle, .mydrp .yearcell {
    padding: 12px;
  }

  .mydrp .selection table {
    width: 100%;
  }

  .mydrp .headerbtncell {
    padding: 10px;
  }

}
