:root {
  --menu-width:50px;
  --color-blue-darker: #075C72;
  --color-blue-dark: #29B6C5;
  --color-blue: #0C9ABE;
  --color-blue-light: #E7F5F9;
  --color-blue-lighter: #F3FAFC;
  --color-blue-light-border: #D4D4D5;
  --color-blue-light-real: #52bdd9;
  --color-blue-real: #193550;
  --color-purple-real: #4f4870;
  --color-yellow-real: #e08100;
  --color-red-real: #e94a3b;
  --color-black-real: #1f252e;
  --color-gray-real: #2c3739;

  --color-blue-very-soft: #D7F6FB;
  --color-blue-turquoise: #42D4DC;
  --color-blue-atol: #075C72;

  --color-blue-deep: #273D52;
  --color-blue-lightdeep: #4F708A;

  --color-cyan-light: #CEEBF2;

  --color-orange: #EA9B3E;
  --color-orange-dark: #FF710D;
  --color-orange-real: #F39022;
  --color-rgba-orange-real: 243, 144, 34;

  --color-white: #FFFFFF;

  --color-green-dark: #3C763D;
  --color-green: #00B28E;
  --color-green-status: #7ED321;
  --color-green-light: #D0E9C6;
  --color-green-lighter: #DFF0D8;

  --color-red-dark: #A94442;
  --color-red: #C64840;
  --color-danger: #FF6969;
  --color-red-status: #D0021B;
  --color-red-lighter: #F2DEDE;
  --color-red-light: #EBCCCC;

  --color-grey-darker: #2C373A;
  --color-grey-dark: #3B4A4D;
  --color-grey: #B7BEBF;
  --color-grey-light: #DADADA;
  --color-grey-lighter: #F1F1F1;
  --color-rgba-grey-lighter: 241,241,241;

  --color-grey-submarine: #929DA0;
  --color-rgb-grey-submarine: 146, 157, 160;
  --color-grey-whisper: #EBEBEB;
  --color-grey-zicon: #EDEFEF;
  --color-grey-azure: #F6F7F7;
  --color-rgb-grey-azure: 246, 247, 247;
  --color-grey-sauvignon: #ECEEEE;
  --color-grey-athens: #DBDEDE;
  --color-grey-feldgrau: #4A5C60;
  --color-grey-pattens: #EAEDEE;
  --color-grey-zumthor: #d2d9d9;

  --color-brown-dark: #6D5946;
  --color-blue-darkness: #00729F;
  --color-blue-lightness: #4A90E2;
  --color-blue-shadow: #1A2230;
  --color-checkbox-disabled-border: #D4D4D4;
  --color-checkbox-disabled-background: #EDEDED;
  --color-checkbox-disabled-text: #C1C1C1;

  --color-black: #000000;
  --color-rgb-black: 0, 0, 0;

  --color-purple: #534C78;

  --color-sirocco: #677E81;

  --color-shadow-input: rgba(0,0,0,0.03);
  --color-grey-darker-transparent: rgba(0,0,0,0.15);

  --color-status--to-confirm: #37D4DD;
  --color-status--canceled: #D84141;
  --color-status--wait-list: #ACA8BD;
  --color-status--pending: #FF720E;
  --color-status--checkin: #00B087;
  --color-status--checkout: #534C78;
  --color-status--confirmed: #00729F;
  --color-status--no-show: #FFAD2A;

  /* launcher colors */
  --color-grey-launcher-title: #4A4A4A;
  --color-grey-launcher-product-cart: #D2D2D2;
  --color-white-launcher-product-chart-odd: rgba(155,155,155,0.18);
  --color-white-launcher-product-chart-even: rgba(155,155,155,0.06);
  --color-card-products-price: #F57A23;
  --color-card-launcher-info-border: #C0C6C7;
  --color-card-launcher-info-shadow: rgba(0,0,0,0.03);
  --color-card-credit-shadow: #9B9B9B;
  --color-background-credit-container: #F9F9F9;
  --color-card-gradient-initial: #1CCAE0;
  --color-card-gradient-final: #0C9ABE;
  --color-rgba-primary: 12, 154, 190;

  --color-success: #73CB99;
  --color-disabled: #9DA7A9;
  --color-disabled-light: rgba(var(--color-rgb-grey-azure), 0.5);
  --color-gray-text: #717678;

  --color-register: #AB85E9;
  --color-reservation: #FF6D6D;
  --color-accommodation: #F5A623;
  --color-governance: #93D359;
  --color-finance: #40D9B4;
  --color-integration: #FB5E84;
  --color-revenue-management: #7ECFD6;
  --color-report: #FFEF63;

  /* wizard colors */
  /* TODO: remove if necessary and move to correct file */
  --color-wizard-container-list-title-grey: #2D3434;
  --color-wizard-container-list-counter-grey: #717678;

  --color-grey-border-card: #E9E9E9;
}
