<div class="row ngucarousel-launcher-component carousel-row">
  <owl-carousel-o
    #owlCar
    [options]="carouselConfig"
    class="col-12 thf-u-padding-horizontal--2">

      <ng-container *ngFor="let item of data; let i = index;">
        <ng-template
          carouselSlide
          [id]="'card-' + i">
          <ng-container
            [ngTemplateOutlet]='isSelector ? commonCard : card'
            [ngTemplateOutletContext]="{ item:item }"></ng-container>
        </ng-template>
      </ng-container>

  </owl-carousel-o>

  <button
    role="button"
    (click)="owlCar.prev()"
    [ngClass]="{'arrow-min': !isSelector}"
    class="thf-round-btn thf-round-btn--active thf-u-text-center thf-u-font--18 btn-left">
    <i class="mdi mdi-chevron-left"></i>
  </button>

  <button
    role="button"
    (click)="owlCar.next()"
    [ngClass]="{'arrow-min': !isSelector}"
    class="thf-round-btn thf-round-btn--active thf-u-text-center thf-u-font--18 btn-right">
    <i class="mdi mdi-chevron-right"></i>
  </button>
</div>

<ng-template #commonCard let-item="item">
  <div
    class="thf-card thf-u-margin-horizontal--1"
    (click)="onItemClicked(item)">
    <div class="thf-card-content">
      <div class="row thf-u-margin-vertical--1">
        <div class="col thf-u-text-left">
          <img
            src="{{ getImgUrl(item?.type) | imgCdn }}"
            class="thf-card-img card-icon">
        </div>
        <div class="col thf-u-text-left word-dont-break">
          <span
            [title]="item?.service"
            class="thf-u-font--14 thf-u-color--blue thf-u-text-right">
            {{ item?.service }}
          </span>
        </div>
      </div>

      <div class="row thf-u-margin-vertical--1">
        <div class="col thf-u-text-left word-dont-break">
          <span
            [title]="item?.description"
            class="thf-u-font--14 thf-u-color-grey-darker">
            {{ item?.description }}
          </span>
        </div>
        <div class="col thf-u-text-right word-dont-break">
          <span class="thf-u-font--14 thf-u-color--orange-dark">
            {{ item?.price ? ( item?.price | currencyFormat ) : null }}
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #card let-item='item'>
  <launcher-card
    [item]="item"
    (click)="onItemClicked(item)"></launcher-card>
</ng-template>
