
/* TODO: remove the two class and fix the component */
launcher-carousel{
  display: block;
  margin-right: -34px;
}


.ngucarousel-launcher-component {
  &.carousel-row {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  .ngucarousel {
    position: relative;
    height: 100%;

    .ngucarousel-inner{
      position: relative;
      height: calc(100% + 10px) !important;
    }
  }

  .btn-left, .btn-right {
    animation: initial !important;
    transition: initial !important;

    &.arrow-min{
      transform: scale(0.8);
    }
  }

  .btn-left {
    left: -20px;

    &.arrow-min{
      left: -10px;
    }
  }

  .btn-right {
    right: -20px;

    &.arrow-min{
      right: -10px;
    }
  }

  button{
    display: block;
    position: absolute !important;
    color: var(--color-blue);
    background: var(--color-white);
    border: 2px solid var(--color-blue);
    margin: auto;
    top: 0;
    bottom: 0;
  }

  .thf-card {
    width: auto !important;
    text-align: center;
    padding: 0 !important;
    cursor: pointer;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.20);
    border: 1px solid var(--color-blue-light-border);
    border-radius: 5px;
    min-height: 92px;
    height: 92px;
    background: var(--color-white);

    .thf-card-content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 0 !important;
      height: 100%;
      width: 164px;

      .row{
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        margin: 10px -20px 10px 0 !important;
      }

      .thf-u-text-left.word-dont-break,
      .thf-u-text-right.word-dont-break {
        word-break: normal;
        white-space: nowrap;
      }

      .thf-u-text-left.word-dont-break {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .card-icon {
    display: block;
    max-width: 20px;
    height: auto !important;
    width: 20px !important;
    border-radius: initial !important;
  }
}
