﻿@{
    ViewData["Title"] = "Home Page";
}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.3/chosen.jquery.min.js"></script>

<div class="text-center">
    <h1 class="display-4">E-Notas WebHook</h1>
    <br />
    <form>
        <div class="form-group">
            @*CompanyId*@
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">PropertyId</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Propty Id</div>
                    </div>
                    <input type="text" class="form-control" id="PropertyId" placeholder="Property Id" value="848CC06F-8717-4D44-9706-1B13E3AA0400">
                </div>
            </div>

            @*URL*@
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">Url</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Url local</div>
                    </div>
                    <input type="url" class="form-control" id="urlLocal" placeholder="Url" value="http://localhost:5000/api/BillingInvoiceIntegration/status">
                </div>
            </div>

            @*External Id*@
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">ExternalId</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Extern Id</div>
                    </div>
                    <input validate type="text" class="form-control" id="externalId" placeholder="Place your BillingInvoiceId here...">
                </div>
            </div>

            @*Status*@
            <div class="col-auto">
                <label class="sr-only" for="inlineFormInputGroup">PropertyId</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Inv status</div>
                    </div>
                    <select class="form-control" id="status" data-placeholder="Status emissão">
                        <option value="Autorizada">Autorizada</option>
                        <option value="Negada">Negada</option>
                        <option value="Cancelada">Cancelada </option>
                        <option value="CancelamentoNegado">CancelamentoNegado  </option>
                    </select>
                </div>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary" onclick="simulateWeebHook()">Simulate</button>
            </div>
        </div>
    </form>
    <script>
        async function simulateWeebHook() {

            var status = document.getElementById("status").value;
            var nfeLinkPdf = "";
            var nfeLinkXml = "";
            var motivo = "";
            var nfeNumeroRps = "";
            var nfeSerieRps = "";

            if (status === "Negada") {
                motivo = 'Código: E982' +
                    'Descrição: Item da lista de serviço informado é incompatível com o código de tributação no município.' +
                    'Correção:';
            }

            if (status === "Autorizada") {
                nfeNumeroRps = (Math.floor(Math.random() * 6) + 1).toString();
                nfeSerieRps = (Math.floor(Math.random() * 4) + 1).toString();
                nfeLinkPdf = "http://api.enotasgw.com.br/file/94b08a3c-f814-43da-9648-402f3caa0400/848cc06f-8717-4d44-9706-1b13e3aa0400/1815598d-089a-40ce-85d7-677bfab20400/pdf";
                nfeLinkXml = "http://api.enotasgw.com.br/file/94b08a3c-f814-43da-9648-402f3caa0400/848cc06f-8717-4d44-9706-1b13e3aa0400/1815598d-089a-40ce-85d7-677bfab20400/xml";
            }

            $.ajax({
                headers: {
                    'x-token': 'gWqqYgPUIEimDHjlBOuKhA==',
                },
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    empresaId: document.getElementById("PropertyId").value,
                    nfeId: (Math.floor(Math.random() * 6) + 1).toString(),
                    nfeIdExterno: document.getElementById("externalId").value,
                    nfeLinkPdf: nfeLinkPdf,
                    nfeLinkXml: nfeLinkXml,
                    nfeNumeroRps: nfeNumeroRps,
                    nfeSerieRps: nfeSerieRps,
                    nfeStatus: status,
                    nfeMotivoStatus: motivo
                }),
                url: document.getElementById("urlLocal").value,
                success: function (ok) {
                    alert(ok);
                },
                error: function (request, status, errorThrown) {
                    alert(status);
                }
            });
        }
    </script>
</div>
