.modal-assoc-list-user-wrapper{

  .thf-modal-body {
    padding: 30px 20px;
    max-height: none !important;
    word-break: break-word;
    white-space: nowrap;
    overflow: visible;
  }

  .status{
    padding: 5px 15px;
    border-radius: 3px;
  }

  .info-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    img.icon-big, .rounded-img{
      width: 147px;
      height: 147px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      color: var(--color-white);
      font-size: 70px;
      margin-bottom: 15px;
    }

    .rounded-img{
      background: var(--color-blue);
    }

    p{
      color: var(--color-black);
      font-weight: bold;
    }
  }
}
