<app-modal-wrapper
  class="modal-assoc-list-user-wrapper"
  maxWidth="486px"
  [modalId]="modalId">
  <div class="thf-modal-body">
    <!-- image and title -->
    <div class="row">
      <div class="col-12 info-wrapper">
        <!-- img or initial name -->
        <ng-container
          [ngTemplateOutlet]='selectedItemToShow?.photoUrl ? icon : name'
          [ngTemplateOutletContext]="{item:selectedItemToShow}"></ng-container>

        <p class="thf-u-font--18">
          {{ selectedItemToShow?.name }}
        </p>
      </div>
    </div>
    <div class="row thf-u-margin-top--1">
      <div class="col-12">
        <thx-datatable
          [itens]="items"
          [statusIdentifier]="false"
          [columns]="columns"
          [hasLastCell]="false"
          [tableHasScroll]="true"
          [rowsLimit]="3"
          [columnMode]="'flex'"
        ></thx-datatable>
      </div>
    </div>
  </div>
</app-modal-wrapper>


<ng-template #icon let-item="item">
  <img class="icon-big" src="{{ item?.photoUrl }}">
</ng-template>

<ng-template #name let-item="item">
  <span class="rounded-img">
    {{ getInitialsName(item) }}
  </span>
</ng-template>


<ng-template
  #roomStatus
  let-row="row"
  ngx-datatable-cell-template>
  <span
    class="thf-u-color--white status"
    [ngStyle]="{background: '#' + row?.housekeepingStatusColor}">
    {{row.housekeepingStatusName}}
  </span>
</ng-template>
