@import 'main';

.box-Profile {
  background-color: rgba($grey-color--20, .3);
  margin-bottom: -30px;
  margin-left: -15px;
  padding-top: 1px;
  padding-bottom: 20%;
}
.box-manager {
  background-color: $white-color;
  max-width: 215px;
  margin-left: 15px;
}

.box-component {
  padding: 0 25px;
}
