<div class="box-Profile">

  <div class="col-12">
    <thx-page-title [title]="title"></thx-page-title>
  </div>

  <div class="row">
    <div>
      <thx-sidebard-card-container class="box-manager">
        <app-user-card></app-user-card>
        <app-user-profile-list [menuList]="menuList" ngProjectAs="ul"></app-user-profile-list>
      </thx-sidebard-card-container>
    </div>
    <div class="col box-component">
      <router-outlet></router-outlet>
    </div>
  </div>


</div>
