<app-group-content
[title]="'accountTypeModule.new.clientAccount.title'"
[hasFilter]="true"
[placeholderSearchFilter]="'accountTypeModule.new.clientAccount.placeholder.guestFilter'"
[tableRowType]="tableRowTypeEnum"
[itemListToFilter]="allItemList"
(setListFiltered)="setListFiltered($event)">
    <div class="row">
        <div class="col-12">

            <thx-datatable
                *ngIf="pageItemsList && pageItemsList.length > 0 ; else showEmptyComponent"
                [columns]='columns'
                [itens]="pageItemsList"
                [itemsOption]="itemsOption"
                [hasLastCell]="false"
                (rowItemClicked)="getCompanyClientAccountData($event)"
            ></thx-datatable>

            <ng-template #rowRadio let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template  >
                <div>
                    <input name="guestSelected" type="radio"
                           (click)="getCompanyClientAccountData(row)"
                           class="thf-input-type-radio"
                           id="{{rowIndex}}"
                           [checked]="row.billingAccountId == companyClientSelected?.billingAccountId"
                    />

                    <label for="{{rowIndex}}">
                        <span class="ui"></span>
                    </label>
                </div>
            </ng-template>

            <ng-template #showEmptyComponent>
                <app-empty-content-wrapper>
                    <content-title>{{'accountTypeModule.emptyContent.clientTitle' | translate}}</content-title>
                    <content-description>
                      {{'accountTypeModule.emptyContent.textDescription' | translate}}
                      <a class="thf-link" href="javascript:void(0)" (click)="goToNewReservationPage()">
                        {{'clientModule.edit.contacts.thereAreNoContacts.link' | translate}}
                      </a>
                    </content-description>
                </app-empty-content-wrapper>
            </ng-template>
        </div>
    </div>
</app-group-content>

<div class="thf-u-margin-top--3">
    <div class="row">
        <div class="offset-md-4 offset-lg-8 col-md-3 col-lg-2">
            <app-button
                [buttonConfig]="buttonCancelConfig"
                data-qa-id="cancel"
            ></app-button>
        </div>
        <div class="col-md-3 col-lg-2">
            <app-button
                [buttonConfig]="buttonSaveConfig"
                data-qa-id="save"
            ></app-button>
        </div>
    </div>
</div>

<app-new-account-modal
  [modalId]="MODAL_NEW_ACCOUNT"
  (cancelModal)="closeNewAccountModal()"
  (confirmModal)="confirmNewAccountModal($event)"
></app-new-account-modal>
