<app-header-page-new [hasFilter]="true">
  <header-title>{{'title.governanceRoomList' | translate }}</header-title>
  <app-filter-search [searchableItems]="searchConfig"
                     (searchUpdated)="onSearch($event)"></app-filter-search>
</app-header-page-new>

<div class="row">
  <div class="col" *ngIf="searchButtons && searchButtons.length > 0">
    <span>
      {{'action.searchFor' | translate }}
    </span>
    <span>
      <thx-group-buttons
        [hasBtnClean]="true"
        [buttonItens]="searchButtons"
        mantainChecked="true"
        btnClass="btn-padding-button-group"
        (changeSelected)="filterBy($event)"
        (clean)="getHousekeepingStatusPropertyList()">
      </thx-group-buttons>
    </span>
  </div>
  <div class="col thf-flex-end-button" *ngIf="selectedItens && selectedItens.length > 0">
    <div class="thf-button-container-right">
      <div>
        <app-button [buttonConfig]="buttonModalStatusConfig"></app-button>
      </div>
      <div class="thf-u-padding-horizontal--1">
        <app-button [buttonConfig]="buttonBlockConfig"></app-button>
      </div>
      <div>
        <app-button [buttonConfig]="buttonUnblockConfig"></app-button>
      </div>
    </div>
  </div>
</div>

<ngx-datatable
  *ngIf="rowItens?.length > 0"
  class="material thf-u-margin-vertical--3"
  [rows]="rowItens"
  [columnMode]="'flex'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="45"
  [selected]="selectedItens"
  [limit]="dataTableGlobals.limitItensPage"
  [reorderable]='true'>

  <ngx-datatable-column [flexGrow]="0.5">
    <ng-template ngx-datatable-header-template>
      <input id="checkall" #checkboxAll (change)="toggleAll(checkboxAll.checked)" type="checkbox"
             class="thf-input-type-checkbox" [checked]="selectedItens.length == rowItens.length">
      <label for="checkall"><span class="ui"></span></label>
    </ng-template>

    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
      <div>
        <input id="{{rowIndex}}" type="checkbox" class="thf-input-type-checkbox"
               [checked]="selectedItens.indexOf(row) >= 0" (change)="toggleSingle(row)">
        <label for="{{rowIndex}}">
          <span class="ui"></span>
        </label>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="{{ 'label.statusHousekeeping' | translate }}" [flexGrow]="2">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <div (click)="toggleModalSimpleStatus(row)">
         <span class="thf-tag thf-u-font--12 right-margin--1" [style.background-color]="'#' + row.color"
               [style.color]="getColorByBgColor(row.color)">
           {{ row.housekeepingStatusName }}
         </span>
        <span *ngIf="row.checkInDate" class="thf-u-font--10">
            <img class="hps-icon-size-default hps-icon-size--1" src="{{'schedule.svg' | imgCdn}}"
                 alt="{{ 'images.clock' | translate }}"/>
           {{ row.checkInDate | momentCalendar }}
         </span>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="{{'label.statusUH' | translate}}" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div (click)="toggleModalSimpleStatus(row)">
        {{row.statusRoom}}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="{{ 'label.numberUH' | translate }}" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div (click)="toggleModalSimpleStatus(row)">
        {{row.roomNumber}}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="{{ 'label.typeUH' | translate }}" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div (click)="toggleModalSimpleStatus(row)">
        {{ row.roomTypeName }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="{{ 'label.arrival' | translate }}" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div (click)="toggleModalSimpleStatus(row)">
        {{ row.checkInDate | amDateFormat:'L' }}
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="{{ 'label.departure' | translate }}" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div (click)="toggleModalSimpleStatus(row)">
        {{ row.checkOutDate | amDateFormat:'L' }}
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="{{ 'label.guestNumber' | translate}}" [flexGrow]="1.2">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div (click)="toggleModalSimpleStatus(row)">
         <span>
               <span class="thf-u-vertical-align-middle">{{ row.adultCount }}</span>
               <img class="hps-icon-size-default" src="{{'qtdAdulto.min.svg' | imgCdn}}"
                    alt="{{ 'commomData.images.account' | translate }}"/>
         </span>
        <span class="thf-table-icon-space"></span>
        <span>
               <span class="thf-u-vertical-align-middle">{{ row.childCount }}</span>
               <img class="hps-icon-size-default hps-icon-size--2"
                    src="{{'child_icon.svg' | imgCdn }}"
                    alt="{{ 'commomData.images.babyCarriage' | translate }}"/>
         </span>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="{{ 'label.includeBed' | translate }}" [flexGrow]="1.5">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <div (click)="toggleModalSimpleStatus(row)">
         <span *ngIf="row.quantitySingle > 0">
           <span class="thf-u-vertical-align-middle">{{ row.quantitySingle }}</span>
           <img class=" hps-icon-size--2 thf-icon-size-height-based--15"
                src="{{'camaSolteiro.min.svg' | imgCdn}}"
                alt="{{ 'commomData.images.doubleBed' | translate }}"/>
         </span>
        <span *ngIf="row.quantityDouble > 0">
           <span class="thf-u-vertical-align-middle">{{ row.quantityDouble }}</span>
           <img class=" hps-icon-size--2 thf-icon-size-height-based--15"
                src="{{'camaCasal.min.svg' | imgCdn}}"
                alt="{{ 'commomData.images.doubleBed' | translate }}"/>
         </span>
        <span *ngIf="row.extraBadCount > 0">
           <span class="thf-u-vertical-align-middle">{{ row.extraBadCount }}</span>
           <img class=" hps-icon-size--2 thf-icon-size-height-based--15"
                src="{{'camaReversivel.min.svg' | imgCdn}}"
                alt="{{ 'commomData.images.doubleBed' | translate }}"/>
         </span>
        <span *ngIf="row.extraCribCount > 0">
           <span class="thf-u-vertical-align-middle">{{ row.extraCribCount }}</span>
           <img class=" hps-icon-size--2 thf-icon-size-height-based--15"
                src="{{'berco.min.svg' | imgCdn}}"
                alt="{{ 'commomData.images.doubleBed' | translate }}"/>
         </span>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [cellClass]="'thf-u-no-padding'" [flexGrow]="0.5">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <app-submenu-options [items]="row.blocked ? unblockItemsOptions : blockItemsOptions"
                           (itemWasAction)="runCallbackFunctionOptionsMenu($event, row)"></app-submenu-options>

    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<app-empty-content *ngIf="!rowItens || rowItens.length <= 0"
                   title="{{ 'variable.emptyContentF.title' | translate : {'labelName': 'label.uh' | translate } }}"
                   textDescription="{{ 'hotelPanelModule.roomList.errorMessage' | translate }}"
></app-empty-content>

<!-- MODAL -->
<app-modal-wrapper modalId="modalStatus" [title]="modalStatusTitle">
  <div class="thf-u-inline-flex thf-u-padding--2 thf-u-justify-center-wrap">
    <div class="thf-u-padding--1" *ngFor="let status of housekeepingStatusList">
      <div class="thf-icon-button thf-u-text-center">
        <button class="thf-button thf-btn-hover" [ngClass]="{'active': statusChecked(status)}" type="button"
                (click)="chooseHousekeepingStatus(status)">
          <div class="thf-box-circle-icon" [style.background-color]="'#' + status.color">
            <img alt="icon-button-editarReserva" src="{{ status.icon }}">
          </div>
        </button>
        <div class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
          {{ status.statusName }}
        </div>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<app-governance-room-block (roomBlocked)="onRoomBlocked()"></app-governance-room-block>
