<div class="header-details-wrapper--popover header-details-wrapper--popover_numuh">
  <a id="link-choose-roomtype" class="thf-link thf-u-color--white thf-link--underline" href="javascript:void(0);" app-click-stop-propagation (click)="togglePopover()">
    {{ uhActive.roomNumber }}
    <span class="thf-u-margin-left--1">
      <img class="thf-u-filter-svg--white thf-u-rotate--90" src="{{'hevron-left-blue.svg' | imgCdn}}" alt="{{'commomData.images.arrowDownIcon' | translate}}"
      />
    </span>
  </a>

  <app-popover [hidden]="togglePopoverHidden" app-click-stop-propagation (click)="keepPopoverOpen()">
      <div class="arrow-position">
          <span class="thf-popover-arrow--left"></span>
      </div>
      <header class="header-data">
          <h4 class="thf-u-no-margin thf-u-font--14 thf-u-font--bold">{{'checkinModule.popovers.uhNums.titlePopover' | translate }}</h4>
      </header>
      <div class="body-data">
          <ul class="header-details-popover-list" *ngIf="hasRoomList">
            <li
              class="header-details-popover-list--item header-details-popover-list--numuhs"
              *ngFor="let item of roomList"
              (click)="clickNumUhList($event, item)"
              >
              <div class="row no-gutters">
                <div class="col thf-u-text-center">
                  <span>{{ item.roomNumber }}</span>
                </div>
                <div class="col-7 thf-u-text-left">
                  <span>Limpo</span>
                </div>
              </div>
            </li>
          </ul>
          <div *ngIf="!hasRoomList" class="thf-u-padding--1 thf-u-text-center">
              <span class="thf-u-font--bold thf-u-font--2 thf-u-color-grey-darker">{{'checkinModule.popovers.uhNums.allRoomsAreOccupied' | translate}}</span>
          </div>
      </div>
  </app-popover>
</div>
