<div class="thf-u-inline-block">
  <button (mousedown)="clickPrev()"
          [disabled]="isPrevDisabled"
          [ngClass]="{'thf-u-enable-cursor': !isPrevDisabled, 'thf-u-disable-cursor': isPrevDisabled}"
          class="btn thf-u-color--blue thf-u-background-color--white btn-prev">
    <img src="{{'arrow-prev.svg' | imgCdn}}">
  </button>

  <button (mousedown)="clickNext()"
          [disabled]="isNextDisabled"
          [ngClass]="{'thf-u-enable-cursor': !isNextDisabled, 'thf-u-disable-cursor': isNextDisabled}"
          class="btn thf-u-color--blue thf-u-background-color--white btn-next">
    <img src="{{'arrow-next.svg' | imgCdn}}">
  </button>
</div>
