<ngx-datatable
  #myTable
  class='material no-print'
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="0"
  [rowHeight]="'auto'"
  [limit]="100000"
  [rows]='billingAccountItems'
  [rowClass]="getRowClass">
  <ngx-datatable-column [width]="170">
    <ng-template ngx-datatable-header-template>
      {{ 'billingAccountModule.statement.billingAccountItemDate' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row?.billingAccountItemDate | amDateFormat: 'L' }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template ngx-datatable-header-template>
      {{ 'billingAccountModule.statement.billingAccountItemName' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row?.plasticBrandFormatted || row?.billingItemName}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template ngx-datatable-header-template>
      {{ 'billingAccountModule.statement.billingAccountItemAmount' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span>{{row?.total | currencyFormat: currencySymbol }}</span>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<div class="print-only2">
  <table class="datatable thf-u-width-flex">
    <thead>
      <tr class="datatable-header">
        <th class=" thf-u-padding--1 thf-u-border-bottom--1 datatable-header-cell">
          {{ 'billingAccountModule.statement.billingAccountItemDate' | translate }}
        </th>
        <th class=" thf-u-padding--1 thf-u-border-bottom--1 datatable-header-cell">
          {{ 'billingAccountModule.statement.billingAccountItemName' | translate }}
        </th>
        <th class=" thf-u-padding--1 thf-u-border-bottom--1 datatable-header-cell">
          {{ 'billingAccountModule.statement.billingAccountItemAmount' | translate }}
        </th>
      </tr>
    </thead>
    <tbody class="thf-u-margin-vertical--1">
      <tr *ngFor="let row of billingAccountItems">
        <td class=" thf-u-padding--1 thf-u-border-bottom-light-grey-1">
          {{row?.billingAccountItemDate | amDateFormat: 'L' }}
        </td>
        <td class=" thf-u-padding--1 thf-u-border-bottom-light-grey-1">
          {{row?.plasticBrandFormatted || row?.billingItemName}}
        </td>
        <td class=" thf-u-padding--1 thf-u-border-bottom-light-grey-1">
          <span>{{row?.total | currencyFormat: currencySymbol}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
