<app-modal-wrapper [modalId]="modalId" minWidth="600px"   title="label.associateCustomer" >
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row">
      <div class="col-7">
        <label for="searchUhType"
               class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{'label.searchCustomer'
          | translate}}</label>
        <thx-search-input id="searchUhType" placeholder="label.searchCustomerPlaceholder" extraClass="thf-u-margin-top--1"
                          (searchByTerm)="searchByTerm($event)"></thx-search-input>
      </div>
      <div class="col-5">
        <label for="companyClientId"
               class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{'label.category'
          | translate}}</label>
        <app-select [selectId]="'companyClientId'" [optionList]="customerCategoryList" [selectedOptionId]="rateTypeSelected"
                    (selectedOption)="filterCustomersByCategory($event)" [choseOnlyOnClick]="true" [hasBlankOption]="true"  ></app-select>

      </div>
    </div>

    <div class="row">
      <div class="col thf-u-margin-top--2 modal-table-height">
        <thx-datatable-checkbox *ngIf="showTable" [tableHasScroll]="true" [tableExtraClass]="'table-scroll'" [footerHeight]="0" [columns]="columns" [headerHeight]="45" [rowItens]="companyClientList" [(selectedItens)]="customerSelectedList" ></thx-datatable-checkbox>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row justify-content-end">
      <div class="col-4">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-4">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </div>

</app-modal-wrapper>
