<ng-container
  *ngIf="productsOptions$ | async as productsOptions"
  [formGroup]="form"
>
  <thf-input
    name="name"
    formControlName="name"
    class="thf-md-4 required-field"
    [t-label]="i18n.label.profile"
    [t-required]="true"
  ></thf-input>

  <thf-select
    name="identityProductId"
    formControlName="identityProductId"
    class="thf-md-4 required-field"
    [t-label]="i18n.label.product"
    [t-required]="true"
    [t-options]="productsOptions">
  </thf-select>

  <thf-switch
    class="thf-md-2"
    formControlName="isActive"
    [t-label]="i18n.label.isActive"
    [t-label-on]="i18n.label.activated"
    [t-label-off]="i18n.label.deactivated"
  ></thf-switch>
</ng-container>
