<div class="thf-u-width-flex">
  <form
    [formGroup]="form">
    <div class="row container-wrapper container-with-padding">
      <!-- TODO: move this component to UI project -->
      <div class="items-container thf-u-margin-top--1">
        <div class="col-6" *ngIf="hasInfoSelect">
          <label for="info"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ infoText | translate }}
          </label>
          <input
            formControlName="info"
            type="text"
            id="info"
            class="thf-input thf-u-margin-top--1"
            [autocomplete]="'off'"/>
        </div>
        <div class="input-money-container">
          <!-- TODO: create component and move to UI -->
          <input-money
            [isRequired]="true"
            [hasLabel]="true"
            [labelText]="labelText"
            (moneySymbolChanged)="moneySymbolChanged($event)"
            (valuesChange)="valuesChange($event)"
            [parent]="form"
            [inputId]="'price'">
          </input-money>
        </div>
      </div>
    </div>

    <!-- buttons and info -->
    <div class="row thf-u-margin-top--3 resume-wrapper">
      <div class="col-12 thf-u-text-left">
        {{ 'text.totalOfLauncher' | translate }}
      </div>
      <div class="col-8">
        <div class="thf-u-color--blue thf-u-font--30 thf-u-font--bold">
          <span>{{ currencySymbol }}</span>
          {{ totalAmount | currencyFormat: null:2:'.':',':3:false }}
        </div>
      </div>
      <div class="col-2">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-2">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </form>
</div>
