:host {
  display: flex;
  width: 100%;

  .resume-wrapper{
    padding-left: 66px;
    padding-right: 66px;
  }

  .container-with-padding{
    @media (min-width: 1024px) {
      padding: 0 10%;
    }
  }

  .container-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background-credit-container);
    min-height: 226px;
    flex-wrap: nowrap;
    position: relative;
    z-index: 1;

    .items-container{
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;

      .input-money-container{
        max-width: 278px;
      }
    }
  }
}
