<app-header-page-new [config]="configHeaderPage" [rightButtonList]="topButtonsListConfig">
  <header-title>{{ pageTitle | translate }}</header-title>
  <input type="file" #inputBarCode accept="image/*" (change)="imageBarCodeUpload($event)" style="display:none" />
</app-header-page-new>

<app-modal-wrapper
  modalId="products-modal-barcode"
  maxWidth="'800px'"
  [title]="'label.scanBarCode' | translate">

  <app-products-modal-barcode
    (exitChange)="cancelModalBarcode()"
    (dataChange)="translateBarcode()"
    [selectedItem]="itemSelected"></app-products-modal-barcode>
</app-modal-wrapper>

<form
  novalidate
  id="formProduct"
  [formGroup]="formProduct">

  <div class="row">
    <div class="col-12">
      <div class="thf-group-content">
        <!-- header one -->
        <div class="thf-group-content-header">
          <div class="row">
            <div class="col-11">
              <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
              <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
                {{ 'label.productData' | translate }}
              </span>
            </div>
          </div>
        </div>

        <!-- content -->
        <div class="thf-group-content-body">
          <div class="row">

            <!-- code -->
            <div class="col-2">
              <label for="code"
                class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                {{ 'label.code' | translate }}
              </label>
              <input
                id="code"
                formControlName="code"
                class="thf-input thf-u-margin-top--1"
                type="text" />

              <thx-error formControlName="code"></thx-error>
            </div>

            <!-- product description -->
            <div class="col-6">
              <label for="productName"
                class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                {{ 'label.productDescription' | translate }}
              </label>
              <input
                id="productName"
                formControlName="productName"
                class="thf-input thf-u-margin-top--1"
                type="text" />

              <thx-error formControlName="productName"></thx-error>
            </div>

            <!-- group -->
            <div class="col-4">
              <label for="productCategoryId"
                class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                {{ 'label.group' | translate }}
              </label>

              <div class="thf-u-margin-top--1">
                <app-select
                  [parent]="formProduct"
                  [optionList]="groupList"
                  [selectId]="'productCategoryId'"
                  [isUppercase]="false"
                  [hasFormGroup]="true"
                  [hasMagin]="false">
                </app-select>
              </div>

              <thx-error formControlName="productCategoryId"></thx-error>
            </div>

            <!-- next row -->
            <!-- unity -->
            <div class="col-xl-2 col-sm-3">
              <label for="unitMeasurementId"
                     class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                {{ 'label.productUnity' | translate }}
              </label>

              <div class="thf-u-margin-top--1">
                <app-select
                  [parent]="formProduct"
                  [optionList]="unityList"
                  [selectId]="'unitMeasurementId'"
                  [isUppercase]="false"
                  [hasFormGroup]="true"
                  [hasMagin]="false">
                </app-select>
              </div>

              <thx-error formControlName="unitMeasurementId"></thx-error>
            </div>

            <!-- ncm -->
            <div class="col-xl-4 col-sm-3" *ngIf="!configCountry">
              <label for="ncmId"
                class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                {{ 'label.ncm' | translate }}
              </label>
              <div class="thf-u-margin-top--1">
                <app-autocomplete
                  [autocompleteConfig]="ncmAutocompleteConfig"
                  [parent]="formProduct"
                  [resultList]="ncmList"
                  controlName="ncmCode"
                  data-qa-id="ncm"
                ></app-autocomplete>
              </div>

              <thx-error formControlName="ncmId"></thx-error>
            </div>

            <!-- barCode -->
            <div class="col-4">
              <label for="barCode"
                     class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                {{ 'label.barCode' | translate }}
              </label>
              <input
                id="barCode"
                formControlName="barCode"
                class="thf-input thf-u-margin-top--1"
                type="text" />
            </div>

            <!-- isActive -->
            <div class="col-2 thf-u-text-center">
              <label for="isActive" class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                {{ 'label.active' | translate }}
              </label>
              <div
                app-click-stop-propagation
                class="thf-u-z-index--1 thf-u-margin-top--2">
                <input id="isActive" type="checkbox" formControlName="isActive" class="thf-input-radio-button" />
                <label class="thf-u-vertical-align-super" for="isActive">
                  <span class="ui"></span>
                </label>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="thf-u-margin-top--2"></div>


  <div class="row">
    <div class="col-12">
      <div class="thf-group-content">

        <div class="thf-group-content-header">
          <div class="row">
              <div class="col-4">
                <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
                  {{ 'label.posToAssociated' | translate }}
                </span>
              </div>

              <div class="col-5">
                <thx-searchbar name="searchFilter"
                   [placeholder]="'productModule.placeholders.searchByPosOrGroup'"
                   (input)="search($event)">
                </thx-searchbar>
              </div>
          </div>
        </div>


        <div class="thf-group-content-body">
          <div class="col-12">
            <thx-datatable
              [columns]='columns'
              [itens]="posList"
              [hasLastCell]="false"
              statusIdentifier="id"
              (statusChanged)="updateStatus($event)"
              [emptyMessage]="'text.posListEmpty'"
              [emptyMessageContent]="'text.posListEmptyDescripion'"
              (emptyLinkClicked)="gotoNewPos()">
              <ng-template #editfield let-row="row" let-index="rowIndex">
                <div *ngIf="!row.isEdit && row.isActive" class="row-edit-pencil">
                  <i
                    (click)="editRow(row, index)"
                    class="mdi mdi-pencil thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--20 thf-u-color--blue">
                  </i>
                </div>
                <div *ngIf="row.isEdit && row.isActive" class="row-edit-mode">
                  <i
                    (click)="confirmRow(row, index)"
                    class="mdi mdi-check thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--20 thf-u-color--green">
                  </i>
                  <i
                    (click)="cancelRow(row, index)"
                    class="mdi mdi-close thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--20 thf-u-color--red">
                  </i>
                </div>
              </ng-template>

              <ng-template
                #pricefield
                let-row="row">

                <span *ngIf="!row.isEdit || !row.isActive">
                  <span *ngIf="row.unitPrice === null || row.unitPrice === 0"> 0,00 </span>
                  <span *ngIf="row.unitPrice">{{ row.unitPrice | currencyFormat:null:2:'.':',':3:false}} </span>
                </span>
                <div class="input-container" *ngIf="row.isEdit && row.isActive">
                  <input
                    type="text"
                    [(ngModel)]="row.unitPrice"
                    [ngModelOptions]="{standalone: true, updateOn: 'blur'}"
                    [value]="row.unitPrice"
                    currencyMask
                    [options]="optionsCurrencyMask"
                    class="thf-input"
                    placeholder= "0,00"/>
                </div>

              </ng-template>
            </thx-datatable>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="row thf-u-margin-top--2">
    <div class="col offset-8">
      <app-button
        [buttonConfig]="buttonCancelConfig"></app-button>
    </div>
    <div class="col">
      <app-button
        [buttonConfig]="buttonSaveConfig"></app-button>
    </div>
  </div>
</form>
