.size-input-select-table {
  width: 100%;
  height: 80%;
}

select {
  width: 100%;
  appearance: none;
  padding-right: 40px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

select:disabled {
  pointer-events: none;
  color: var(--color-grey);
  background-color: var(--color-grey-lighter);
}

select.readonly,
select.readonly:disabled,
select.readonly:read-only:disabled {
  border: 0;
  color: var(--color-black);
  background: var(--color-white);
  box-shadow: none;
  opacity: 1;
  cursor: default;
}
