<div class="thf-input-group " [ngClass]="{'thf-u-margin-top--1': hasMagin}" [formGroup]="parent" *ngIf="hasFormGroup">
  <div class="thf-input-select-group-icon-field">
    <select
      #select
      id="{{ selectId }}"
      [formControlName]="selectId"
      [class.thf-u-font-uppercase]="isUppercase"
      class="thf-input-select thf-u-cursor--pointer"
      [ngClass]="{'thf-input-table size-input-select-table': inTable, 'thf-input': !inTable, 'readonly': readonly}"
      [disabled]="disabled"
    >
      <option *ngIf="hasBlankOption" [class.thf-u-font-uppercase]="isUppercase" [value]="''">
        {{ 'label.select' | translate }} {{ placeholder | translate }}
      </option>
      <option
        *ngFor="let option of optionList"
        [title]="option.value"
        [class.thf-u-font-uppercase]="isUppercase"
        [value]="option.key">
        {{  optionLimited ? (option.value | truncate:[selectWidth]) : (option.value | translate) }}
      </option>
    </select>

    <img *ngIf="hasIcon && !readonly"
         src="{{'arrowdown-blue.min.svg' | imgCdn}}"
         alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
         class="thf-input-select-icon thf-u-no-pointer-events">
  </div>
</div>

<div class="thf-input-group " [ngClass]="{'thf-u-margin-top--1': hasMagin}" *ngIf="!hasFormGroup">
  <div class="thf-input-select-group-icon-field">
    <select *ngIf="isObject && !propertyNameToDisplay"
            [ngStyle]="{'width.px': width }"
            [(ngModel)]="selectedOptionId"
            (ngModelChange)="chooseOption($event)"
            [class.thf-u-font-uppercase]="isUppercase"
            id="{{selectId}}"
            [ngClass]="{'thf-input-table size-input-select-table': inTable, 'thf-input': !inTable, 'readonly': readonly}"
            class="thf-input-select thf-u-cursor--pointer"
            [disabled]="disabled">
      <option *ngIf="hasBlankOption" [class.thf-u-font-uppercase]="isUppercase" [value]="''"></option>
      <option *ngFor="let option of optionList" [class.thf-u-font-uppercase]="isUppercase" [value]="option.key">
        {{option.value | translate}}
      </option>
    </select>
    <select *ngIf="isObject && propertyNameToDisplay"
            [class.thf-u-font-uppercase]="isUppercase"
            [(ngModel)]="_selectedOption"
            (ngModelChange)="chooseOption($event)"
            id="{{selectId}}"
            [ngClass]="{'thf-input-table size-input-select-table': inTable, 'thf-input': !inTable, 'readonly': readonly}"
            class="thf-input-select thf-u-cursor--pointer"
            [disabled]="disabled">
      <option *ngIf="hasBlankOption" [class.thf-u-font-uppercase]="isUppercase" [ngValue]="''"></option>
      <option *ngFor="let option of optionList" [class.thf-u-font-uppercase]="isUppercase" [ngValue]="option">
        {{option[propertyNameToDisplay] | translate }}
      </option>
    </select>
    <select *ngIf="!isObject && !propertyNameToDisplay"
            [class.thf-u-font-uppercase]="isUppercase"
            [(ngModel)]="_selectedOption"
            id="{{selectId}}"
            [ngClass]="{'thf-input-table size-input-select-table': inTable, 'thf-input': !inTable, 'readonly': readonly}"
            class="thf-input-select thf-u-cursor--pointer"
            [disabled]="disabled">
      <option *ngIf="hasBlankOption" [class.thf-u-font-uppercase]="isUppercase" [ngValue]="''"></option>
      <option *ngFor="let option of optionList" [class.thf-u-font-uppercase]="isUppercase" [ngValue]="option">
        {{option}}
      </option>
    </select>
    <img *ngIf="hasIcon && !readonly"
         src="{{'arrowdown-blue.min.svg' | imgCdn}}"
         alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
         class="thf-input-select-icon thf-u-no-pointer-events">
  </div>
</div>
