.scroll-vertical {
  overflow-y: scroll;
  max-height: 300px;
}
.account-owner-background {
  background-color: #E1E6E9;
  padding: 10px 0px;
}
.icon-owner {
  width: 24px;
  height: 24px;
}
ul li {
  border-bottom: 1px solid var(--color-grey);
}
ul li:last-child {
  border-bottom: none;
}

.document-name-width {
  width: 60%;
}
.document-name-rps-width {
  width: 90%;
}
.right-ajust {
  right: 5px;
}
.document-icon {
  width: 13px;
  margin: 5px;
}


