  <app-modal-wrapper [modalId]="modalId" [title]="'title.fiscalNoteAndRps'" minWidth="620px">
  <div class="account-owner-background ">
    <div class="row">
      <div class="col">
        <div class="thf-u-padding-horizontal--2">
          <span><img src="{{'icon_hospede_conta.svg' | imgCdn}}" class="icon-owner"
                     alt="{{ 'img.accountIcon' | translate }}"></span>
          <span class="thf-u-font--14 thf-u-font--bold">{{ accountOwnerName }}</span>
        </div>
      </div>
    </div>
  </div>


  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row">
      <div class="col thf-u-margin-top--1 thf-u-margin-bottom--1">{{'title.nfe' | translate}} <span class="thf-u-color--blue" >({{invoices?.length || 0}})</span></div>
      <div class="col thf-u-margin-top--1 thf-u-margin-bottom--1">{{'title.rps' | translate}} <span class="thf-u-color--blue" >({{invoices?.length || 0}})</span></div>
    </div>
    <div class="row  thf-u-font--11">
      <div class="col">
        <ul class="thf-u-reset-list thf-u-border--1">
          <li class="thf-u-padding-horizontal--05 thf-u-padding-vertical--1 d-flex justify-content-between" *ngFor="let invoice of invoices" [ngClass]="{'thf-u-background-color--grey-lighter': hasError(invoice.billingInvoiceStatusId) }" >
          <span class=" document-name-width">
            <img src="{{'nf-icon.svg' | imgCdn}}" class="document-icon" alt="{{ 'img.iconRps' | translate }}">
            <a app-click-stop-propagation (click)="openLinkNfse(invoice)" [ngClass]="{'thf-u-color--blue thf-u-enable-cursor': invoice.externalNumber, 'thf-u-link-disabled': !invoice.externalNumber }">{{ invoice.externalNumber || '-' }}</a>
          </span>
            <span>
            <a *ngIf="!nfEmitted(invoice.billingInvoiceStatusId)" app-click-stop-propagation (click)="openLinkNfse(invoice)" [class]="getStatusColorOfNfe(invoice.billingInvoiceStatusId)" [ngClass]="{'thf-u-enable-cursor': isCursorEnabled(invoice) }"  >{{ getStatusStringOfNfe(invoice.billingInvoiceStatusId) | translate}}</a>
            <a *ngIf="nfEmitted(invoice.billingInvoiceStatusId)" app-click-stop-propagation
               [thxPopover]="popoverTemplate" closeOnClick="false" placement="right"
               [class]="getStatusColorOfNfe(invoice.billingInvoiceStatusId)"
               [ngClass]="{'thf-u-enable-cursor': invoice.externalNumber || nfEmitted(invoice.billingInvoiceStatusId) }">
              {{ getStatusStringOfNfe(invoice.billingInvoiceStatusId) | translate}}
            </a>
            <img src="{{getIconOfNfe(invoice.billingInvoiceStatusId) | imgCdn }}" class="document-icon" [ngClass]="{'thf-spin': isPending(invoice.billingInvoiceStatusId) }"  alt="">
          </span>
            <ng-template #popoverTemplate >
              <ul class="thf-u-reset-list">
                <li class="thf-u-padding-vertical--1 thf-u-padding-horizontal--05 thf-u-enable-cursor"
                    (click)="clickSeeDetails(invoice)">{{ 'label.seeDetails' | translate}}
                </li>
                <li class="thf-u-padding-vertical--1 thf-u-padding-horizontal--05 thf-u-enable-cursor"
                    (click)="clickCancelNf(invoice)">{{ 'label.cancelNF' | translate }}
                </li>
                <li class="thf-u-padding-vertical--1 thf-u-padding-horizontal--05 thf-u-enable-cursor"
                    (click)="clickDownloadNf(invoice)">{{ 'label.makeDownload' | translate }}
                </li>
              </ul>
            </ng-template>
          </li>
        </ul>
      </div>
      <div class="col">
        <ul class="thf-u-reset-list thf-u-border--1">
          <li class="thf-u-padding-horizontal--05 thf-u-padding-vertical--1" *ngFor="let invoice of invoices" >
          <span class="thf-u-inline-block document-name-rps-width" >
            <img src="{{'nf-icon.svg' | imgCdn}}" class="document-icon load" alt="{{'img.iconRps' | translate}}">
            <a app-click-stop-propagation  (click)="printRps(invoice)" [ngClass]="{'thf-u-color--blue thf-u-enable-cursor': !invoice.externalCodeNumber, 'thf-u-link-disabled': invoice.externalCodeNumber}" >{{ invoice?.externalRps || invoice.billingInvoiceNumber }}</a>
          </span>
            <span class="thf-u-inline-block text-right" >
            <img src="{{'print.svg' | imgCdn}}" (click)="printRps(invoice)" alt="{{'img.print' | translate}}" *ngIf="!invoice.externalNumber" [ngClass]="{'thf-u-enable-cursor': !invoice.externalCodeNumber}" >
          </span>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <div *ngIf="needResend()" class="thf-u-width-flex thf-btn-danger d-flex justify-content-between align-items-center thf-u-padding-horizontal--2 thf-u-padding-vertical--1" >
    <span>
      <img src="{{'icon-exclamation.svg' | imgCdn}}" alt="{{'img.iconExclamation' | translate}}">
    </span>
    <span class="thf-u-padding-horizontal--1" >
      {{ 'text.pendingFiscalDocuments' | translate}}
    </span>
    <span>
      <app-button [buttonConfig]="resendButtonConfig" ></app-button>
    </span>
  </div>
</app-modal-wrapper>
