<app-modal-wrapper [modalId]="modalId" minWidth="600px"   title="label.associateComission" >
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2 thf-u-margin-bottom--5">
    <form [formGroup]="comissionForm" >
      <div class="row">
        <div class="col-7">
          <label for="billingItemId"
                 class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">{{'label.serviceName'
            | translate}}</label>
          <app-select [selectId]="'billingItemId'" [optionList]="serviceList"  [selectedOptionId]="serviceSelected" [parent]="comissionForm" [hasFormGroup]="true"  ></app-select>
          <thx-error formControlName="billingItemId"></thx-error>
        </div>
        <div class="col-5 thf-u-position--relative">
          <label for="servicePercent"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">{{'label.comissionPercent'
            | translate}}</label>
          <input type="text" class="thf-input thf-u-margin-top--1 thf-u-text-center" formControlName="commissionPercentualAmount" (keyup)="verifyCommissionPercent($event)" >
          <i class="percent-signal">%</i>
          <thx-error formControlName="commissionPercentualAmount"></thx-error>
        </div>

      </div>
    </form>
  </div>

  <div class="thf-modal-footer">
    <div class="row justify-content-end">
      <div class="col-4">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-4">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </div>

</app-modal-wrapper>
