<app-header-page-new [config]="configHeaderPage">
  <header-title>{{'title.baseRateHistoryList' | translate }}</header-title>
  <text-button>{{'label.newBaseRate' | translate}}</text-button>
  <icon-button>
    <i class="mdi mdi-plus"></i>
  </icon-button>
</app-header-page-new>

<div class="thf-u-margin-vertical--2">
  <div class="col-12">
    <app-group-content title="label.search">
      <form [formGroup]="searchForm">
        <div class="row">
          <div class="col-12 col-md-4">
            <label for="vigenceDay"
                   class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
              {{ 'label.vigence' | translate }}
            </label>
            <thx-datepicker id="vigenceDay" formControlName="vigence" class="thf-u-no-margin" ></thx-datepicker>
          </div>
          <div class="col-12 col-md-4">
            <label for="mealPlan"
                   class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
              {{ 'label.defaultMealPlan' | translate }}
            </label>
            <app-select id="mealPlan" [parent]="searchForm" [selectId]="'mealPlan'" [optionList]="mealPlanOptions" [hasMagin]="false" [hasFormGroup]="true" ></app-select>
          </div>
          <div class="col-12 col-md-2" *ngIf="filterEnabled" >
            <app-button [buttonConfig]="cleanButtonConfig"></app-button>
          </div>
          <div class="col-12 col-md-2" [ngClass]="{'offset-md-2': !filterEnabled}">
            <app-button [buttonConfig]="filterButtonConfig"></app-button>
          </div>
        </div>
      </form>
    </app-group-content>
  </div>
  <div class="col-12 thf-u-margin-vertical--2">
    <thx-datatable
      [columns]='columns'
      [itens]="baseRateHistoryList"
      [hasLastCell]="false"
      [emptyMessage]="'text.noneBaseRateHistory'"
      [completeEmptyMessageContent]="'text.noneBaseRateHistoryDescription'"
    >
      <ng-template #apliedToCell let-row="row" ngx-datatable-cell-template>
        <div><span *ngFor="let day of row.appliedTo" class="thf-tag-outline"> {{ day }} </span></div>
      </ng-template>

      <ng-template #historyCell let-row="row" ngx-datatable-cell-template>
        <div class="thf-u-text-right">
          <img (click)="seeHistory(row.id)" src="{{'info-outline.svg' | imgCdn}}"
               alt="{{ 'img.info' | translate }}">
        </div>
      </ng-template>

    </thx-datatable>
  </div>
</div>
