<div class="thf-toaster thf-u-padding-vertical--2 thf-u-position--fixed thf-u-z-index--1000 thf-u-reset-right thf-u-reset-top thf-u-line-breaker"
  [ngClass]="{'thf-toaster-error': !isSuccess, 'thf-toaster-success': isSuccess, 'thf-toaster-redirect': hasRedirect, 'thf-u-hide': !isVisible}">
  {{message | translate}}
  <div class="toaster-dialog thf-u-font--20 thf-u-text-center" [ngClass]="{'thf-u-hide': !hasRedirect}">
    <img src="{{'loading-thick.svg' | imgCdn}}" alt="{{ 'commomData.loading' | translate }}">
  </div>
</div>
