:host {
  display: block;

  .expandable-box {
    border-radius: 3px;
    background-color: white;
    overflow: hidden;

    .title-container {
      padding: 20px;
      display: flex;
      justify-content: space-between;

      &.expanded {
        border-bottom-style: solid;
        border-bottom-width: 1px;

        .title {

          .icon {
            transform: rotate(180deg);
          }
        }
      }

      .title {
        display: flex;
        align-items: center;
        font-size: 16px;
        cursor: pointer;

        .icon {
          display: inline-block;
          width: 16px;
          height: 16px;
          margin-right: 10px;
          transform: rotate(90deg);
          filter: grayscale(1);
        }
      }
    }
  }

  .content-container {
    padding: 20px;
    display: none;

    &.expanded {
      display: block;
    }
  }

}
