<div class="expandable-box">
  <div class="title-container thex-border-grey-30" [ngClass]="{'expanded': expanded}">
    <div class="title" (click)="expanded = !expanded">
      <div class="icon">
        <thx-img src="arrow-up.svg" [fullSize]="true"></thx-img>
      </div>
      <div class="thex-font-family thex-color-grey-40" >{{title}}</div>
    </div>
    <div class="content">
      <ng-content select=".expandable-box-title" ></ng-content>
    </div>
  </div>
  <div class="content-container" [ngClass]="{'expanded': expanded}">
    <ng-content select=".expandable-box-content"></ng-content>
  </div>
</div>

