<app-header-page-new [config]="configHeaderPage">
  <header-title>
    {{'label.guestCard' | translate }}
  </header-title>
  <text-button>{{'action.print' | translate}}</text-button>
  <icon-button>
    <i class="mdi mdi-printer"></i>
  </icon-button>
</app-header-page-new>

<div class="container">
  <div class="row">
    <div class="col">
      <app-fnrh
        [config]="config"
        [editModeEnabled]="true"
        [responsableList]="responsableList"
        (fnrhSaved)="fnrhSaved($event)">
      </app-fnrh>
    </div>
  </div>
</div>
