<app-modal-wrapper
  [modalId]="id"
  [title]="modalCreateEditTitle">
  <form [formGroup]="form">
    <div class="thf-modal-body">
      <div class="row">
        <div class="col">
          <label for="type"
                 class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-bottom--1">
            {{'label.country' | translate}}
          </label>
          <div class="row">
            <div class="col" *ngFor="let country of countryBrandList">
              <div class="country-brand">
                <input
                  [id]="'countryCode_'+country.countryCode"
                  type="radio"
                  formControlName="countryId"
                  [value]="country.countryId"/>
                <label [for]="'countryCode_'+country.countryCode">
                  <thx-img
                    [src]="country.countryCode+'.svg'"
                    [alt]="'flag_' + country.countryCode"
                    [title]="country.countryCode"
                  ></thx-img>
                </label>
              </div>
            </div>
          </div>
          <thx-error formControlName="countryId"></thx-error>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col">
              <label for="description"
                     class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--2">
                {{'policyModule.createEdit.form.description' | translate}}
              </label>
            </div>
            <div class="col thf-u-text-right">
              <div class="thf-u-margin-top--2"
                   [ngClass]="{'thf-input-text--error': form.get('description').dirty && form.get('description').errors?.maxlength }">
                {{ form.get('description').value?.length > 0 ? form.get('description').value?.length : 0 }}
                / 4000
              </div>
            </div>
          </div>
          <textarea
            id="description"
            formControlName="description"
            class="thf-input thf-textarea"
            [ngClass]="{'thf-input-error thf-input-text--error': form.get('description').dirty && form.get('description').errors?.maxlength }"></textarea>
          <thx-error formControlName="description"></thx-error>
        </div>
      </div>
    </div>
    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <app-button [buttonConfig]="buttonCancelModalConfig"></app-button>
        </div>
        <div class="col">
          <app-button [buttonConfig]="buttonSaveModalConfig"></app-button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>

