.country-brand input[type='radio'] {
  display: none;
}
.country-brand input[type='radio']:checked +label {
  border: 2px solid var(--color-blue);
}

.country-brand input[type='radio']+label {
  cursor: pointer;
  width: 45px;
  height: 45px;
  padding: 1px;
  border: 2px solid transparent;
  border-radius: 100%;
}
