:root {
  --color-shadow-input: rgba(0,0,0,0.03);
  --color-grey-light: #DADADA;
  --color-white: #FFFFFF;
}

.thf-fnrh {
  background: var(--color-white);
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid var(--color-grey-light);
  box-shadow: inset 0 1px 1px 1px var(--color-shadow-input);
  border-radius: 3px;
  width: 100%;
}

.divisor-title, .divisor-title:hover, .divisor-title:active {
  color: var(--color-black);
  text-decoration: none;
  background: none;
  border: none;
  display: inline-block;
  width: 100%;
  text-align: left;
  box-shadow: none;
  outline: none;
}
.ajust-to-right {
  position: absolute;
  right: 0;
  top: 10px;
}

.checkboxAuthorize {
  left: 30px;
  position: absolute;
  transform: scale(0.7);
}

