<app-modal-wrapper modalId="applyAddress" [title]="'commomData.fnrh.modal.title'">
  <div class="thf-modal-body">
    {{'commomData.fnrh.modal.body' | translate}}
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonModalCancel"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonModalSave"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<div id="fnrh" class="thf-fnrh no-print">
  <form [formGroup]="fnrhForm" autocomplete="off" >
    <div id="fnrh-name-guest-bar"
         class="d-flex justify-content-between thf-u-padding--1 thf-u-padding-left--2  thf-u-padding-right--2 thf-u-background-color--blue">
      <div id="fnrh-name-guest" class="thf-u-font--20 thf-u-color--white ">
        <img class="thf-u-filter-svg--white thf-u-margin-right--1"
             src="{{(!config.fnrh?.isChild ? 'person-white.svg' : 'child_icon.svg') | imgCdn}}"
             alt="{{'reservationModule.commomData.period' | translate}}"/>
        {{ config.fnrh?.fullName || config.guest?.guest.guestReservationItemName }}
        <span *ngIf="config.fnrh?.isChild">
          - {{ config.fnrh?.childAge }} {{ 'label.years' | translate }}
        </span>
      </div>
      <div class=" thf-u-font--20 thf-u-color--white thf-u-text-right">
        {{ 'label.guestCard' | translate }} ({{config.guest?.number || '00' | pad: 2}})
      </div>
    </div>

    <div class="thf-u-padding--2">
      <div id="fnrh-guest-basic-data" class="row" formGroupName="basicData">
        <div class="col-4">
          <label
            for="document" [ngClass]="{ 'thf-input-label--required' : documentRequired }"
             class=" thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'commomData.fnrh.basicData.document' | translate }}
          </label>
          <div class="thf-input-group thf-document-group thf-group-input-select">
            <app-select
              [blankOptionText]="''"
              [selectId]="'documentTypeId'"
              [parent]="fnrhForm.get('basicData')"
              [optionList]="documentOptionSelectList"
              [hasIcon]="true"
              [hasFormGroup]="true"
              (change)="checkValidationsDocument()">
            </app-select>
            <app-autocomplete
              id="document"
              [autocompleteConfig]="autocompleteDocumentConfig"
              [controlName]="'document'"
              [parent]="fnrhForm.get('basicData')"
              [resultList]="autoCompleteDocumentList"
              (keyUp)="maskDocument($event)">
            </app-autocomplete>
          </div>
          <div class="thf-u-margin-top--1">
            <thx-error formControlName="document"></thx-error>
          </div>
        </div>

        <div class="col-4">
          <label for="email" [ngClass]="{'thf-input-label--required': emailRequired}"
                 class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'commomData.fnrh.basicData.email' | translate }}
          </label>
          <app-autocomplete
            id="email"
            [autocompleteConfig]="autocompleteEmailConfig"
            [controlName]="'email'"
            [parent]="fnrhForm.get('basicData')"
            [resultList]="autoCompleteEmailList">
          </app-autocomplete>
          <thx-error formControlName="email"></thx-error>
        </div>

        <div class="col-4">
          <label for="fullName"
                 class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'commomData.fnrh.basicData.fullName' | translate }}
          </label>
          <input
            id="fullName"
            formControlName="fullName"
            class="thf-input thf-u-margin-top--1"
            type="text"
            [ngClass]="{'thf-input-error': !fnrhForm.get('basicData.fullName').valid && fnrhForm.get('basicData.fullName').dirty}"/>
          <thx-error formControlName="fullName"></thx-error>
        </div>

        <div class="col-4">
          <div class="row">
            <div class="col-9">
              <label for="birthDate"
                     class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                {{ 'commomData.fnrh.basicData.birthDate' | translate }}
              </label>
              <thx-datepicker
                id="birthDate"
                formControlName="birthDate"
                (dateChanged)="onDateChanged($event)">
              </thx-datepicker>
              <thx-error formControlName="birthDate"></thx-error>
            </div>
            <div class="col-3">
              <label for="age"
                     class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                {{ 'commomData.fnrh.basicData.age' | translate }}
              </label>
              <span class="thf-u-font--20 thf-u-margin-top--2 thf-u-block">
                {{fnrhForm.get('basicData.age').value}}
              </span>
            </div>
          </div>
        </div>

        <div class="col-4">
          <label for="gender"
                 class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'commomData.fnrh.basicData.gender' | translate }}
          </label>
          <app-select
            [blankOptionText]="''"
            [selectId]="'gender'"
            [parent]="fnrhForm.get('basicData')"
            [optionList]="config?.genderList"
            [hasFormGroup]="true">
          </app-select>
          <thx-error formControlName="gender"></thx-error>
        </div>

        <div class="col-4">
          <label
            for="guestType"
            class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1 thf-input-label--required">
            {{ 'commomData.fnrh.basicData.guestType' | translate }}
          </label>
          <app-select
            [selectId]="'guestType'"
            [parent]="fnrhForm.get('basicData')"
            [optionList]="config?.guestTypeList"
            [hasFormGroup]="true">
          </app-select>
          <thx-error formControlName="guestType"></thx-error>

        </div>

        <div class="col-4">
          <div class="row">
            <div class="col-9 col-xl-9 col-lg-8 col-md-8">
              <label
                for="nationality"
                class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1"
                [ngClass]="{ 'thf-input-label--required' : nationalityIsRequired }">
                {{ 'commomData.fnrh.complementaryInformation.nationality' | translate }}
              </label>
              <app-select
                [selectId]="'nationality'"
                [parent]="fnrhForm.get('basicData')"
                [optionList]="nationalityOptionsList"
                [hasFormGroup]="true">
              </app-select>
              <thx-error formControlName="nationality"></thx-error>

            </div>
            <div class="col-3">
              <label
                class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                {{ 'label.incapable' | translate }}
              </label>
              <input
                id="incapable"
                class="thf-input-radio-button"
                type="checkbox"
                formControlName="incapable"
                (change)="updateIncapableValue()"/>
              <label for="incapable" class="thf-u-margin-top--1"><span class="ui"></span></label>
            </div>
          </div>
        </div>

        <div class="col-4" [hidden]="!needResponsable">
          <label for="responsable"
             class="thf-u-no-margin thf-input-label--grey-submarine thf-input-label--required thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'label.responsable' | translate }}
          </label>
          <app-select
            [blankOptionText]="''"
            [selectId]="'responsable'"
            [parent]="fnrhForm.get('basicData')"
            (change)="chooseResponsable()"
            [optionList]="selectOptionResponsables"
            [hasFormGroup]="true">
          </app-select>
          <thx-error formControlName="responsable"></thx-error>

        </div>

        <div class="col-4" [hidden]="needResponsable">
          <label for="phone" [ngClass]="{'thf-input-label--required': phoneRequired}"
                 class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'commomData.fnrh.basicData.phone' | translate }}
          </label>
          <input
            id="phone"
            formControlName="phone"
            [textMask]="{mask: phoneMask , guide: false}"
            placeholder="{{ 'commomData.fnrh.basicData.phonePlaceholder' | translate }}"
            class="thf-input thf-u-margin-top--1"
            type="text"
            [ngClass]="{'thf-input-error': !fnrhForm.get('basicData.phone').valid && fnrhForm.get('basicData.phone').dirty}"/>
          <thx-error formControlName="phone"></thx-error>
        </div>

        <div class="col-4">
          <label for="cellPhone" [ngClass]="{'thf-input-label--required': cellphoneRequired}"
                 class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'commomData.fnrh.basicData.cellPhone' | translate }}
          </label>
          <input
            id="cellPhone"
            formControlName="cellPhone"
            [textMask]="{mask: cellPhoneMask , guide: false}"
            placeholder="{{ 'commomData.fnrh.basicData.phonePlaceholder' | translate }}"
            class="thf-input thf-u-margin-top--1" type="text"
            [ngClass]="{'thf-input-error': !fnrhForm.get('basicData.cellPhone').valid && fnrhForm.get('basicData.cellPhone').dirty}"/>
          <thx-error formControlName="cellPhone"></thx-error>
        </div>
      </div>

      <div id="fnrh-guest-address" class="thf-u-margin-top--2" formGroupName="address">
        <div class="row justify-content-start ">
          <div class="col">
            <h4 id="label-address" class="thf-u-font--14 thf-u-font--bold divisor-title">{{
              'commomData.fnrh.address.title' | translate }}</h4>
          </div>
          <div class="col-3 ml-auto" *ngIf="guestListQuantity > 1">
            <app-button
              style="margin-top: -5px"
              [buttonConfig]="buttonApplyAddressConfig"></app-button>
          </div>
        </div>
        <hr class="thf-u-margin-bottom--1"/>
        <app-address
          #addressComponent
          [addressToEdit]="locationEdit"
          (addressChanged)="setValueAddressByEventEmitted($event)"
          [isRequired]='localeRequired'
          [needShowUnicAddress]="false">
        </app-address>
      </div>

      <div class="row thf-u-margin-top--2">
        <div class="col-12">
          <app-client-document
            [isRequired]="false"
            [personType]="personTypeForm.controls.personType"
            [(documents)]="documentList">
          </app-client-document>
        </div>
      </div>

      <div id="fnrh-guest-complementary-information" class="thf-u-margin-top--2"
           formGroupName="complementaryInformation">
        <button type="button" (click)="complementaryInfo = !complementaryInfo" class="divisor-title">
          <h4 id="label-complementary-information" class="thf-u-font--14 thf-u-font--bold">
            <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
            {{ 'commomData.fnrh.complementaryInformation.title' | translate }}
          </h4>
        </button>
        <hr class="thf-u-margin-vertical--1"/>

        <div class="row" [ngClass]="{'collapse': !complementaryInfo}">
          <div class="col-8">
            <div class="row">
              <div class="col-4">
                <label for="occupation"
                       class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'commomData.fnrh.basicData.occupation' | translate }}
                </label>
                <app-select
                  [blankOptionText]="''"
                  [selectId]="'occupation'"
                  [parent]="fnrhForm.get('complementaryInformation')"
                  [optionList]="config?.occupationList"
                  [hasFormGroup]="true">
                </app-select>
                <thx-error formControlName="occupation"></thx-error>

              </div>
              <div class="col-4">
                <label for="vehicle"
                       class=" thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'commomData.fnrh.complementaryInformation.vehicle' | translate }}
                </label>
                <app-select
                  [blankOptionText]="''"
                  [selectId]="'vehicle'"
                  [parent]="fnrhForm.get('complementaryInformation')"
                  [optionList]="config?.vehicleList"
                  [hasFormGroup]="true">
                </app-select>
                <thx-error formControlName="vehicle"></thx-error>
              </div>
              <div class="col-4">
                <label for="lastAddress"
                       class=" thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'commomData.fnrh.complementaryInformation.lastAddress' | translate }}
                </label>
                <input id="lastAddress" formControlName="lastAddress" class="thf-input thf-u-margin-top--1" type="text"
                       [ngClass]="{'thf-input-error': !fnrhForm.get('complementaryInformation.lastAddress').valid && fnrhForm.get('complementaryInformation.lastAddress').dirty}"/>
                <thx-error formControlName="lastAddress"></thx-error>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="nextAddress"
                   class=" thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
              {{ 'commomData.fnrh.complementaryInformation.nextAddress' | translate }}
            </label>
            <input id="nextAddress" formControlName="nextAddress" class="thf-input thf-u-margin-top--1" type="text"
                   [ngClass]="{'thf-input-error': !fnrhForm.get('complementaryInformation.nextAddress').valid && fnrhForm.get('complementaryInformation.nextAddress').dirty}"/>
            <thx-error formControlName="nextAddress"></thx-error>
          </div>
          <div class="col-8">
            <div class="row">
              <div class="col-4">
                <label for="reasonForTravel"
                       class=" thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'commomData.fnrh.complementaryInformation.reasonForTravel' | translate }}
                </label>
                <app-select
                  [blankOptionText]="''"
                  [selectId]="'reasonForTravel'"
                  [parent]="fnrhForm.get('complementaryInformation')"
                  [optionList]="config?.reasonList"
                  [hasFormGroup]="true">
                </app-select>
                <thx-error formControlName="reasonForTravel"></thx-error>
              </div>
              <div class="col-8">
                <label for="medicalAgreement"
                       class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'commomData.fnrh.complementaryInformation.medicalAgreement' | translate }}
                </label>
                <input id="medicalAgreement" formControlName="medicalAgreement" class="thf-input thf-u-margin-top--1"
                       type="text"
                       [ngClass]="{'thf-input-error': !fnrhForm.get('complementaryInformation.medicalAgreement').valid && fnrhForm.get('complementaryInformation.medicalAgreement').dirty}"/>
                <thx-error formControlName="medicalAgreement"></thx-error>
              </div>
            </div>
          </div>
          <div class="col-4">
            <label for="socialName"
                   class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
              {{ 'commomData.fnrh.complementaryInformation.socialName' | translate }}
            </label>
            <input id="socialName" formControlName="socialName" class="thf-input thf-u-margin-top--1" type="text"
                   [ngClass]="{'thf-input-error': !fnrhForm.get('complementaryInformation.socialName').valid && fnrhForm.get('complementaryInformation.socialName').dirty}"/>
            <thx-error formControlName="socialName"></thx-error>

          </div>
        </div>
      </div>

      <div id="fnrh-guest-additional-information" class="thf-u-margin-top--2" formGroupName="additionalInformation">
        <button type="button" (click)="remark = !remark" class="divisor-title">
          <h4 id="label-additional-information" class="thf-u-font--14 thf-u-font--bold thf-u-position--relative ">
            <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
            {{ 'commomData.fnrh.additionalInformation.title' | translate }}
            <span class="ajust-to-right thf-input-label--grey-submarine">
              {{ 'label.max400' | translate }}
            </span>
          </h4>
        </button>
        <hr class="thf-u-margin-vertical--1"/>
        <div [ngClass]="{'collapse': !remark}">
          <textarea
            id="remarks"
            class="thf-u-margin-top--1"
            formControlName="remarks"
            placeholder="{{ 'commomData.fnrh.additionalInformation.remarks' | translate }}"
            class="thf-input thf-textarea"
            [ngClass]="{'thf-input-error thf-input-text--error': 1 > 4000}">
          </textarea>
          <thx-error formControlName="remarks"></thx-error>
        </div>
      </div>

      <div
        id="fnrh-guest-authorizes"
        [ngClass]="{'active': !termsUse}"
        class="thf-u-margin-top--2"
        formGroupName="person">
        <button
          type="button"
          (click)="termsUse = !termsUse"
          class="divisor-title" >
          <h4 id="label-authorizes" class="thf-u-font--14 thf-u-font--bold thf-u-position--relative ">
            <i
              class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
            {{ 'text.termsUse' | translate }}
          </h4>
        </button>

        <hr class="thf-u-margin-vertical--1" />

        <div
          [ngClass]="{'collapse': termsUse}"
          class="thf-u-margin-vertical--1">

          <ol class="thf-u-font--14">
            <div class="thf-u-margin-vertical--1 thf-u-font--bold">
              {{ 'text.ownerAuthorizes' | translate}}
            </div>
            <div>
              <input
                id="receiveOffers"
                class="thf-input-type-checkbox"
                type="checkbox"
                [checked]="isReceiveOffers"
                formControlName="receiveOffers">
              <label for="receiveOffers" class="checkboxAuthorize">
                <span class="ui"></span>
              </label>
              <li>
                {{ 'text.commercialOffers' | translate}}
              </li>
            </div>
            <div>
              <input
                id="confidentialityData"
                class="thf-input-type-checkbox"
                type="checkbox"
                [checked]="isConfidentialityData"
                formControlName="sharePersonData">
              <label for="confidentialityData" class="checkboxAuthorize">
                <span class="ui"></span>
              </label>
              <li>
                {{ 'text.confidentialityData' | translate}}
              </li>
            </div>
            <div>
              <input
                id="sendDatabyElectronicMeans"
                class="thf-input-type-checkbox"
                type="checkbox"
                [checked]="isSendDatabyElectronicMeans"
                formControlName="allowContact">
              <label for="sendDatabyElectronicMeans" class="checkboxAuthorize">
                <span class="ui"></span>
              </label>
              <li>
                {{ 'text.sendDatabyElectronicMeans' | translate}}
              </li>
            </div>
          </ol>
        </div>
      </div>

      <hr class="thf-u-margin-vertical--1"/>

      <div class="row" [ngClass]="{'justify-content-end' : !editModeEnabled}">
        <div class="col-3">
          <app-button [buttonConfig]="buttonPrintConfig"></app-button>
        </div>
        <div class="col-3" *ngIf="editModeEnabled" [ngClass]="{'offset-3': editModeEnabled}">
          <app-button [buttonConfig]="buttonCancelConfig"></app-button>
        </div>
        <div class="col-3">
          <app-button [buttonConfig]="buttonSaveConfig"></app-button>
        </div>
      </div>
    </div>

  </form>

</div>

