<button
  *ngIf="hasFavorite"
  (click)="changeFavorite(item)"
  class="thf-round-btn thf-round-btn thf-u-text-center thf-u-font--14 thf-u-color--orange card-heart">
  <i class="mdi"
     [ngClass]="{'mdi-heart-outline': !item?.isFavorite, 'mdi-heart': item?.isFavorite}"></i>
</button>
<div
  app-click-stop-propagation
  (click)="itemClicked(item)"
  class="thf-card pos-card">
  <img
    class="card-img"
    alt="{{ 'img.pos' | translate }}"
    src="{{ 'pos.svg' | imgCdn }}">
  <span class="thf-card-content">
    {{ item?.billingItemName }}
  </span>
</div>
