:host ::ng-deep .thf-card.pos-card{
  border: 1px solid #D4D4D5;
  box-shadow: 0 3px 14px 0 rgba(0,0,0,0.20);
  border-radius: 5px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1.2rem;
  min-height: 140px;
  padding: 10px;
}

:host ::ng-deep .thf-card.pos-card:hover{
  border: 2px solid #0C9ABE;
}

:host ::ng-deep .thf-card.pos-card.selected{
  border: 2px solid #0C9ABE;
}

:host ::ng-deep .card-img{
  max-width: 50px;
  height: auto;
  width: 100%;
  display: block;
  align-self: center;
  margin-bottom: 1rem;
}

:host ::ng-deep .thf-card-content{
  white-space: nowrap;
  word-break: keep-all;
}

:host ::ng-deep .card-heart{
  background: var(--color-white);
  position: absolute;
  top: 10px;
  right: 25px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: initial !important;
  max-height: initial !important;
}
