<ng-template #infoUnique>
  <div (click)="hidePopover()">
    <p></p>
  </div>
</ng-template>

<div [formGroup]="addressForm">

  <div class="row">
    <div class="col-9">
      <label for="search"
             class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold"
             [ngClass]="{ 'thf-input-label--required' : isRequired}">
        {{ 'commomData.address.search' | translate }}
      </label>
      <div class="thf-input-group">
        <label for="search" class="thf-input-left-select-icon thf-u-z-index--1">
          <img class="thf-u-no-pointer-events" src="{{'arrowdown-blue.min.svg' | imgCdn}}" alt="{{ 'commomData.search' | translate }}">
        </label>
        <select [(ngModel)]="countrySelectedOption" (ngModelChange)="chooseCountrySelect($event)"
                class="thf-input thf-u-font--14 thf-input-select thf-u-cursor--pointer thf-input-select-with-left-dropdown thf-u-font-uppercase thf-u-padding-left--1 thf-u-color--blue thf-u-font--semibold"
                [ngModelOptions]="{standalone: true}">
          <option *ngFor="let country of countriesOptionList" class="thf-u-font-uppercase" [ngValue]="country">
            {{country.name}}
          </option>
        </select>
        <input
          type="text"
          class="thf-input thf-input-with-left-dropdown"
          [(ngModel)]="address"
          [options]="optionGooglePlaceApi"
          id="search"
          placeholder="{{ 'placeholder.addressInput' | translate }}"
          [ngModelOptions]="{standalone: true}"
          (setAddress)="getAddress($event)"
          angularGooglePlace
        />
      </div>
    </div>
    <div class="col-3 thf-u-disable-cursor">
      <label for="division"
             class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold"
             [ngClass]="{ 'thf-input-label--required' : hasRequiredField(addressForm?.get('division'))}">
        {{ 'commomData.address.federativeUnit' | translate }}
      </label>
      <input formControlName="division" id="division"
             class="thf-input thf-u-no-pointer-events thf-u-no-padding thf-u-text-center" type="text"/>
      <thx-error [control]="addressForm?.get('division')"></thx-error>
    </div>
  </div>

  <div class="row thf-u-margin-top--1">
    <div class="col-9 thf-u-disable-cursor">
      <label for="subdivision"
             class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold"
             [ngClass]="{ 'thf-input-label--required' : hasRequiredField(addressForm?.get('subdivision'))}">
        {{ 'commomData.address.city' | translate }}
      </label>
      <input formControlName="subdivision" id="subdivision" class="thf-input thf-u-no-pointer-events" type="text"/>
      <thx-error [control]="addressForm?.get('subdivision')"></thx-error>
    </div>
    <div class="col-3">
      <label for="neighborhood"
             class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold"
             [ngClass]="{ 'thf-input-label--required' : hasRequiredField(addressForm?.get('neighborhood'))}">
        {{ 'commomData.address.district' | translate }}
      </label>
      <input formControlName="neighborhood" id="neighborhood" class="thf-input" type="text"/>
      <thx-error [control]="addressForm?.get('neighborhood')"></thx-error>

    </div>
  </div>

  <div class="row thf-u-margin-top--1">
    <div class="col-9">
      <label
        for="streetName"
        [ngClass]="{ 'thf-input-label--required' : hasRequiredField(addressForm?.get('streetName'))}"
        class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
        {{ 'commomData.address.locality' | translate }}
      </label>
      <input
        formControlName="streetName"
        id="streetName"
        class="thf-input"
        type="text"/>
      <thx-error [control]="addressForm?.get('streetName')"></thx-error>
    </div>
    <div class="col-3">
      <label
        for="streetNumber"
        class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold"
        [ngClass]="{ 'thf-input-label--required' : hasRequiredField(addressForm?.get('streetNumber'))}">
        {{ 'commomData.address.number' | translate }}
      </label>
      <input
        formControlName="streetNumber"
        id="streetNumber"
        class="thf-input"
        type="text" only-number/>
      <thx-error [control]="addressForm?.get('streetNumber')"></thx-error>
    </div>
  </div>

  <div class="row thf-u-margin-top--1">
    <div class="col-9">
      <label for="additionalAddressDetails"
             class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
        {{ 'commomData.address.complement' | translate }}
      </label>
      <input formControlName="additionalAddressDetails" id="additionalAddressDetails" class="thf-input" type="text"/>
      <thx-error [control]="addressForm?.get('additionalAddressDetails')"></thx-error>
    </div>
    <div class="col-3">
      <label
        for="postalCode"
         class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold"
         [ngClass]="{ 'thf-input-label--required' : hasRequiredField(addressForm?.get('postalCode'))}">
    {{ 'commomData.address.postalCode' | translate }}
      </label>
      <input formControlName="postalCode" id="postalCode" class="thf-input" type="text"/>
      <thx-error [control]="addressForm?.get('postalCode')"></thx-error>
    </div>
  </div>

  <div class="row thf-u-margin-top--1">
    <div class="col-9">
      <label
        for="type"
        class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold"
        [ngClass]="{ 'thf-input-label--required' : isRequired}">
        {{ 'commomData.address.addressType' | translate }}
      </label>
      <app-select
        [hasMagin]='false'
        [parent]="addressForm"
        [optionList]="addressTypeOptionList"
        [selectId]="'locationCategoryId'"
        [isUppercase]="false"
        [hasFormGroup]="true">
      </app-select>
      <thx-error [control]="addressForm?.get('locationCategoryId')"></thx-error>
    </div>
    <div class="col-3" *ngIf="needShowUnicAddress">
      <label for="unique"
             class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
        {{ 'commomData.address.unique' | translate }}
      </label>
      <img align="top" class="thf-u-enable-cursor thf-u-valign--top"
           title="{{ 'commomData.images.infoIcon' | translate }}"
           src="{{'info.svg' | imgCdn}}" alt="{{ 'commomData.images.infoIcon' | translate }}">
      <input type="checkbox" class="thf-input-radio-button " id="unique">
      <label for="unique"><span class="ui"></span></label>
    </div>
  </div>

</div>
