<div [ngClass]="{'thf-modal': isVisible}" aria-hidden="true">
  <div class="thf-modal-dialog">
    <div class="thf-modal-header">
      <h2 class="thf-u-font--20">{{ 'reservationModule.commomData.remarks' | translate }}</h2>
      <a (click)="closeModal()" class="thf-btn-close-modal thf-u-font--30" role="button" aria-hidden="true">×</a>
    </div>
    <div class="thf-modal-body">
      <div class="row">
        <div class="col-12">
          <label
            for="guests"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'reservationModule.commomData.onlyInTheSlipOfTheReservationForTheGuest' | translate }}
          </label>
          <textarea
            id="guests"
            class="thf-input thf-textarea textarea-scroll"
            [(ngModel)]="reserveRemark.externalComments"
            [readOnly]="readonly">
            {{ reserveRemark.externalComments }}
          </textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="funcionarios" class="thf-u-no-margin  thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--1">
            {{ 'reservationModule.commomData.generalObservationsOfTheEmployeeReserve' | translate }}
          </label>
          <textarea
            id="funcionarios"
            class="thf-input thf-textarea textarea-scroll"
            [(ngModel)]="reserveRemark.internalComments"
            [readOnly]="readonly">
            {{ reserveRemark.internalComments }}
          </textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label
            for="parceiros"
            class="thf-u-no-margin  thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--1">
            {{ 'reservationModule.commomData.generalObservationsOfThePartnerReserve' | translate }}
          </label>
          <textarea
            id="parceiros"
            disabled
            class="thf-input thf-textarea textarea-scroll"
            [(ngModel)]="reserveRemark.partnerComments"
            [readOnly]="readonly">
            {{ reserveRemark.partnerComments }}
          </textarea>
        </div>
      </div>
    </div>
    <div *ngIf="!readonly"
         class="thf-modal-footer">
      <div class="row justify-content-end">
        <div class="col-3">
          <button role="button"
                  class="thf-btn thf-btn-secondary"
                  (click)="closeModal()">
            {{ 'commomData.not' | translate }}
          </button>
        </div>
        <div class="col-3">
          <button role="button"
                  class="thf-btn thf-btn-secondary"
                  (click)="saveRemarks()">
            {{ 'commomData.yes' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
