.textarea-scroll {
  overflow-y: scroll !important;
}
textarea::-webkit-scrollbar {
  width: 5px;
  background: var(--color-white);
}
textarea::-webkit-scrollbar-thumb{
  background-color: var(--color-blue);
  border-radius: 100px;
  outline: 1px solid var(--color-blue);
}

textarea:disabled, textarea:read-only {
  pointer-events: all !important;
}

input:read-only:disabled,
textarea:read-only,
textarea:read-only:disabled {
  border: 1px solid var(--color-grey-submarine);
  color: var(--color-black);
  background: var(--color-grey-lighter);
  box-shadow: none;
  opacity: 1;
  pointer-events: none;
  cursor: no-drop;
}
