.column-dashboard-title {
  color: var(--color-blue);
  padding: 0 20px;
  font-size: 20px;
}

.column-dashboard {
  border-left: 1px var(--color-card-credit-shadow) dotted;
  padding: 0 10px;
  overflow-y: auto;
}
.column-dashboard:first-child {
  border-left: none;
}

.column-dashboard::-webkit-scrollbar {
  width: 5px;
}
.column-dashboard::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
  border-radius: 10px;
}

.row-full-height {
  align-content: flex-start;
  align-items: flex-start;
  max-height: calc(100vh);
  min-height: calc(100vh);
}

.column-dashboard.no-property > .row-full-height {
  align-content: center;
  align-items: center;
}

.column-dashboard-title > .label-quantity {
  color: var(--color-white);
  font-size: 10px;
  padding: 1px 6px;
  background: var(--color-danger);
  border-radius: 10px;
}

@media screen and (max-width: 1024px) {
  .row-full-height {
    max-height: calc(100vh - 154px);
    min-height: calc(100vh - 154px);
  }
}

@media screen and (min-width: 1025px) and (max-width: 1366px){
  .row-full-height {
    max-height: calc(100vh - 176px);
    min-height: calc(100vh - 176px);
  }
}

@media screen and (min-width: 1367px) {
  .row-full-height {
    max-height: calc(100vh - 200px);
    min-height: calc(100vh - 200px);
  }
}
