<div class="thf-row">
  <div class="thf-md-3 column-dashboard-title" *ngFor="let column of columnsTitle">
    <label class="title">
      {{column.label}}
    </label>
    <span class="label-quantity thf-font-text-small">
      {{column.propertyQuantity}}
    </span>
  </div>
</div>

<div class="thf-row">
  <div
    *ngFor="let column of columnsProperties"
    class="thf-md-3 column-dashboard"
    [ngClass]="{'no-property': !column.hasProperties}">
    <div class="thf-row row-full-height">
      <div *ngIf="!column.hasProperties" class="thf-text-center thf-font-text">
        {{'text.noPropertyInQueueUntilNow' | translate: {statusName: column.statusName | translate } }}
      </div>
      <admin-card-dashboard-property
        *ngFor="let property of column.propertyList"
        [property]="property"
        class="thf-md-12 thf-mt-1">
      </admin-card-dashboard-property>
    </div>
  </div>
</div>
