<div class="thf-modal-body">
  <div class="row">
    <div class="col">
      <p class="thf-u-font--14 thf-u-text-center">{{ 'variable.lbConfirmDeleteF' | translate : {labelName: 'label.channel' | translate | lowercase} }} ?</p>
      <p class="thf-u-font--14 thf-u-font--bold thf-u-text-center">
        {{ selectedItem?.channelCodeName + ' ' + selectedItem?.description}}
      </p>
    </div>
  </div>
</div>

<div class="thf-modal-footer">
  <div class="row">
    <div class="col offset-5">
      <button (click)="cancelRequest()" class="thf-btn thf-btn-secondary">
        {{ 'commomData.not' | translate }}
      </button>
    </div>
    <div class="col">
      <button data-qa-id="removeChannel" (click)="deleteData()" class="thf-btn thf-btn-primary">
        {{ 'commomData.yes' | translate }}
      </button>
    </div>
  </div>
</div>
