<app-modal-wrapper
  [modalId]="modalId"
  minWidth="405px"
  maxWidth="405px"
  extraHeaderClass="thf-u-reset-border"
  [showHeader]="false">
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div
      class="thf-u-margin-vertical--2 thf-u-margin-bottom--5 thf-u-margin-top--5 thf-u-font--16">
      {{ message | translate }}
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col-4 offset-4">
        <app-button [buttonConfig]="cancelButtonConfig"></app-button>
      </div>
      <div class="col-4">
        <app-button [buttonConfig]="confirmButtonConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
