<app-modal-add-hotel
  [itemsHasBeenRemoved]="hotelRemoved"
  (emitSelected)="hotelHasBeenSelected($event)"
  #modalAddHotel></app-modal-add-hotel>

<app-modal-public-search #modalSearch></app-modal-public-search>

<app-header-page-new
  [config]="configHeaderPage"
  [hasFilter]="true">

  <!-- header title -->
  <header-title> {{ title | translate }}</header-title>

  <!-- the button txt -->
  <text-button>{{'text.searchPublicDatabase' | translate}}</text-button>

  <!-- the modal btn -->
  <!-- TODO: comment until next sprint
  <icon-button>
    <i class="mdi mdi-magnify"></i>
  </icon-button>
  -->

</app-header-page-new>

<div class="row services-tributes-add-view-wrapper">
  <form class="offset-1 col-10" [formGroup]="form">
    <!-- first content -->
    <div class="thf-group-content">
      <div class="col-12">
        <label class="thf-u-no-margin">
          <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
          <span
            class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
              {{ 'label.dataOfTributeOfService' | translate }}
          </span>
        </label>
      </div>
      <div class="thf-group-content-body">
        <!-- first row -->
        <div class="row">
          <div class="col-3">
            <label
              for="nameOfTributeRule"
              class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
              {{ 'label.nameOfTributeRule' | translate }}
            </label>
            <div class="thf-u-margin-top--1">
              <input
                type="text"
                formControlName="nameOfTributeRule"
                class="thf-input"
                id="nameOfTributeRule"/>
            </div>
            <thx-error formControlName="nameOfTributeRule"></thx-error>
          </div>

          <div class="col-2">
            <label
              for="nbs"
              class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-margin-bottom--1
               thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
              {{ 'label.nbs' | translate }}
            </label>
            <app-autocomplete
              id="nbs"
              [id]="'nbs'"
              *ngIf="!isReadonly"
              data-qa-id="nbs"
              [autocompleteConfig]="autocompleteConfigNBS"
              [resultList]="nbsList"
              [controlName]="'nbs'"
              [parent]="form">
            </app-autocomplete>
            <input *ngIf="isReadonly"
            type="text"
            formControlName="nbs"
            class="thf-input"
            id="nbs">
            <thx-error formControlName="nbs"></thx-error>
          </div>

          <div class="col-5">
            <label
              for="cfop"
              class="thf-u-no-margin thf-input-label thf-u-margin-bottom--1
                thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
              {{'label.cfop' | translate }}
            </label>
            <app-autocomplete  *ngIf="!isReadonly"
              id="cfop"
              [id]="'cfop'"
              data-qa-id="cfop"
              [autocompleteConfig]="autocompleteConfigCFOP"
              [resultList]="cfopList"
              [controlName]="'cfop'"
              [parent]="form">
            </app-autocomplete>

            <input *ngIf="isReadonly"
            type="text"
            formControlName="cfop"
            class="thf-input"
            id="cfop">

            <thx-error formControlName="cfop"></thx-error>
          </div>

          <div class="col-2 thf-u-text-left">
            <label
              for="isActive"
              class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
              {{ 'label.active' | translate }}
            </label>
            <div>
              <input
                type="checkbox"
                formControlName="isActive"
                class="thf-input-radio-button"
                id="isActive"/>
              <label class="thf-u-vertical-align--sub" for="isActive">
                <span class="ui"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- second content -->
    <div class="thf-group-content thf-u-margin-vertical--2">
      <div class="col-12">
        <label class="thf-u-no-margin">
          <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
          <span
            class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
              {{ 'label.iss' | translate }}
          </span>
        </label>
      </div>
      <div class="thf-group-content-body">
        <!-- first row -->
        <div class="row">
          <div class="col-6">
            <label
              for="serviceType"
              class="thf-u-no-margin thf-input-label thf-u-font--14
                thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
              {{'label.serviceType' | translate }}
            </label>
            <app-select
              id="serviceType"
              [selectId]="'serviceType'"
              [parent]="form"
              [optionList]="serviceTypeList"
              [hasBlankOption]="true"
              [hasFormGroup]="true"
              [optionLimited]="true">
            </app-select>
            <thx-error formControlName="serviceType"></thx-error>
          </div>

          <div class="col-3">
            <label
              for="nameOfTributeRule"
              class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
              {{ 'label.aliquot' | translate }}
            </label>
            <div class="thf-u-margin-top--1">
              <input
                type="text"
                formControlName="aliquot"
                class="thf-input"
                currencyMask
                [options]="optionsCurrencyMask"
                id="aliquot"/>
            </div>
            <thx-error formControlName="aliquot"></thx-error>
          </div>

          <div class="col-3">
            <label
              for="basePercentage"
              class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
              {{ 'label.basePercentage' | translate }}
            </label>
            <div class="thf-u-margin-top--1">
              <input
                type="text"
                formControlName="basePercentage"
                class="thf-input"
                currencyMask
                [options]="optionsCurrencyMask"
                id="basePercentage"/>
            </div>
            <thx-error formControlName="basePercentage"></thx-error>
          </div>
        </div>
      </div>
    </div>

    <!-- third content -->
    <div class="thf-group-content thf-u-margin-vertical--2">
      <div class="col-12">
        <label class="thf-u-no-margin">
          <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
          <span
            class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
              {{ 'label.pisCpofins' | translate }}
          </span>
        </label>
      </div>
      <div class="thf-group-content-body">
        <!-- first row -->
        <div class="row">
          <div class="col-6">
            <label
              for="cstPisCofis"
              class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
              {{'label.cstPisCofins' | translate }}
            </label>
            <app-select
              id="cstPisCofis"
              [selectId]="'cstPisCofis'"
              [parent]="form"
              [optionList]="cstPisCofinsList"
              [hasBlankOption]="true"
              [hasFormGroup]="true"
              [optionLimited]="true"
              >
            </app-select>
            <thx-error formControlName="cstPisCofis"></thx-error>
          </div>

          <div class="col-6">
            <label
              for="determinationSystem"
              class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
              {{'label.determinationSystem' | translate }}
            </label>
            <app-select
              id="determinationSystem"
              [selectId]="'determinationSystem'"
              [parent]="form"
              [optionList]="determinationSystemList"
              [hasBlankOption]="true"
              [hasFormGroup]="true"
              [optionLimited]="true">
            </app-select>
            <thx-error formControlName="determinationSystem"></thx-error>
          </div>
        </div>

        <!-- second row -->
        <div class="row thf-u-margin-top--2">
          <div class="col-6">
            <label
              for="natureOfRevenue"
              class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
              {{'label.natureOfRevenue' | translate }}
            </label>
            <app-select
              id="natureOfRevenue"
              [selectId]="'natureOfRevenue'"
              [parent]="form"
              [optionList]="natureOfRevenueList"
              [hasBlankOption]="true"
              [hasFormGroup]="true"
              [optionLimited]="true">
            </app-select>
            <thx-error formControlName="natureOfRevenue"></thx-error>
          </div>
        </div>
      </div>
    </div>

    <!-- forty content -->
    <div class="thf-group-content thf-u-margin-vertical--2">
      <div class="row row-without-margin">
        <div class="col">
          <label class="thf-u-no-margin">
            <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
            <span
              class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
                {{ 'label.hotelPlus' | translate }}
            </span>
          </label>
        </div>
        <app-button
          class="button-header"
          [buttonConfig]="buttonInsertHotel"></app-button>
      </div>
      <div class="thf-group-content-body">
        <thx-datatable
          [columns]='columns'
          [itens]="hotelItemsList"
          [columnMode]="'flex'"
          [hasLastCell]="!isReadonly"
          [deleteModeOption]="!isReadonly"
          (deleteClicked)="removeHotelFromList($event)"
          [emptyMessage]="'variable.emptyContentM.title' | translate: {labelName: 'label.hotel' | translate | lowercase }"
          [completeEmptyMessageContent]="'variable.emptyHotelMessageRule'">
        </thx-datatable>
      </div>
    </div>

    <div
      class="row">
      <div class="offset-8 col-2">
        <app-button
          [buttonConfig]="cancelButtonConfig"></app-button>
      </div>
      <div class="col-2">
        <app-button
          [buttonConfig]="confirmButtonConfig"></app-button>
      </div>
    </div>
  </form>
</div>
