<form [formGroup]="currencyForm">
  <div class="row">
    <div class="col-9">
      <label for="period"
             class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
        {{'currencyExchangeModule.commomData.periodQuotation' | translate}}
      </label>
      <thx-date-range-picker id="period" formControlName="period" ></thx-date-range-picker>
    </div>
  </div>
  <div class="row thf-u-margin-top--1">
    <div class="col">
      <label
        class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
        {{'currencyExchangeModule.commomData.currencyProperty' | translate}}
      </label>
      <div class="thf-u-margin-top--2">{{defaultCurrency?.title}}</div>
    </div>
    <div class="col">
      <label for="otherCurrency"
             class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
        {{'currencyExchangeModule.commomData.otherCurrencies' | translate}}
      </label>
      <app-select
        id="otherCurrency"
        [parent]="currencyForm"
        [optionList]="currencyOptionList"
        [selectId]="'otherCurrency'"
        [hasFormGroup]="true"
        [hasBlankOption]="false">
      </app-select>
    </div>
  </div>
  <div class="row thf-u-margin-top--2">
    <div class="col-5">
      <label for="propertyExchangeRate"
             class="thf-input-label thf-u-no-margin thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
        {{'currencyExchangeModule.commomData.propertyExchangeRate'
        | translate}}
      </label>
      <div class="thf-u-position--relative">
        <span class="thf-u-position--absolute thf-u-color--blue thf-u-font--bold symbol-input-position">
          {{currentQuotation?.symbol}}
        </span>
        <input type="text" id="propertyExchangeRate"
               formControlName="propertyExchangeRate"
               class="thf-input thf-u-font--18 thf-u-color--blue thf-u-font--bold input-currency symbol-input-position"
               currencyMask [options]="optionsCurrencyMask">
      </div>
    </div>
    <div class="col">
      <div class="hf-u-font--16 thf-u-margin-top--4">
        <label *ngFor="let currency of currencies">
          <span *ngIf="currency.id == currencyForm.get('otherCurrency').value">
          = {{currency.symbol}} {{UNIT_OF_CURRENCY}} {{currency.currencyName}}
          </span>
        </label>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer thf-u-margin-top--2">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </div>
</form>
