<div [ngClass]="{'thf-modal': isVisible}" aria-hidden="true">
  <div class="thf-modal-dialog">
    <div class="thf-modal-header">
      <h2 class="thf-u-font--20">{{ 'reservationModule.commomData.accommodationBudget' | translate }}</h2>
      <a (click)="closeModal()" class="thf-btn-close-modal thf-u-font--30" role="button" aria-hidden="true">×</a>
    </div>
    <div class="thf-modal-body">
      <div class="row">
        <div class="col-3">
          <label for="groupName" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--blue">{{ 'reservationModule.commomData.chargedUH' | translate }}</label>
          <div class="thf-input-group thf-u-margin-top--1">
            <div class="thf-input-select-group-icon-field">
              <select id="groupName" [(ngModel)]="roomTypeSelected" class="thf-input thf-input-select">
                <option class="thf-input-select--option" *ngFor="let roomTypeOption of roomTypeList" [ngValue]="roomTypeOption">{{ roomTypeOption.abbreviation }}</option>
              </select>
              <img src="{{'arrowdown-blue.min.svg' | imgCdn}}" alt="{{ 'reservationModule.commomData.roomType' | translate }}"
              class="thf-input-select-icon">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 thf-u-margin-top--1">
          <div class="overflow-plots">
              <table class="thf-table">
                <thead>
                  <tr class="thf-table-thead-tr thf-u-font--14 row thf-u-no-margin">
                    <th class="thf-table-thead-th col-4 thf-u-padding--1 thf-u-text-left">{{ 'reservationModule.commomData.date' | translate }}</th>
                    <th class="thf-table-thead-th col-5 thf-u-padding--1 thf-u-text-left">{{ 'reservationModule.commomData.manualValue' | translate }} ({{ 'commomData.r$' | translate }})</th>
                  </tr>
                </thead>
                <tbody class="thf-u-font--14 thf-u-text-left">
                  <tr class="thf-table-tbody-tr row thf-u-no-margin" *ngFor="let date of dates; let i = index">
                    <td class="thf-table-tbody-td col-4 thf-u-padding--1 thf-u-text-left">
                        <label for="dailyPrices{{ date }}" class="thf-u-margin-top--1">{{ date | date: optionsCountryDate }}</label>
                    </td>
                    <td class="thf-table-tbody-td col-5 thf-u-padding--1 thf-u-text-left">
                      <input id="dailyPrices{{ date }}" data-qa-id="daily_prices" [(ngModel)]="prices[i]" class="thf-input" currencyMask [options]="optionsCurrencyMask" />
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
    <div class="thf-modal-footer">
      <div class="row">
        <div class="col-4 offset-4">
          <button (click)="closeModal()" role="button" data-qa-id="cancel" class="thf-btn thf-btn-secondary">{{ 'commomData.cancel' | translate }}</button>
        </div>
        <div class="col-4">
          <button (click)="runCallbackFunction()" role="button" data-qa-id="confirm" class="thf-btn thf-btn-primary">{{ 'commomData.confirm' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
