<app-modal-wrapper
  modalId="reason-new"
  [title]="modaCreateEditTitle">
  <form [formGroup]="formModalNew">
    <div class="thf-modal-body">
      <div class="row">
        <div class="col-12">
          <label for="name" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.description' | translate}}
          </label>
          <input class="thf-input thf-u-margin-top--1" type="text" formControlName="name" />
          <thx-error formControlName="name"></thx-error>
        </div>
        <div class="col">
          <label for="category" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--1">
            {{'label.utilization' | translate}}
          </label>
          <app-select
            [parent]="formModalNew"
            [optionList]="reasonOptionList"
            [selectId]="'category'"
            [isUppercase]="false"
            [hasFormGroup]="true">
          </app-select>
          <thx-error formControlName="category"></thx-error>
        </div>
        <div class="col">
          <label for="isActive" class="thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required thf-u-margin-top--1">
            {{'label.active' | translate}}
          </label>
          <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
            <input type="checkbox" formControlName="isActive" class="thf-input-radio-button" [id]="formModalNew.get('isActive')" />
            <label class="thf-u-vertical-align-super" [attr.for]="formModalNew.get('isActive')">
              <span class="ui"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <app-button [buttonConfig]="buttonCancelModalConfig"></app-button>
        </div>
        <div class="col">
          <app-button [buttonConfig]="buttonSaveModalConfig"></app-button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>

<app-modal-wrapper
  modalId="reason-remove"
  [title]="'action.lbDelete' | translate: { labelName: 'label.reason' | translate }">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col-12 thf-u-text-center">
        {{'variable.deleteConfimationM' | translate: {
        name: ('label.reason' | translate) + " " + reasonToRemove?.reasonName
        } }}
      </div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelRemoveConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmRemoveConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<app-header-page-new [config]="configHeaderPage" [hasFilter]="true">
  <header-title>{{'title.lbRegister' | translate: {labelName: 'label.reason' | translate } }}</header-title>
  <thx-searchbar name="filterSearch"
                 [placeholder]="'placeholder.searchReason'"
                 (search)="updateList($event)"
                 ngDefaultControl data-qa-id='search' >
  </thx-searchbar>
  <text-button>{{'action.lbNew' | translate: {labelName: 'label.reason' | translate } }}</text-button>
  <icon-button>
    <i class="mdi mdi-plus"></i>
  </icon-button>
</app-header-page-new>

<ngx-datatable
  class='material'
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="45"
  [rows]="filteredRows"
  [limit]="10">
  <!-- Column Templates -->
  <ngx-datatable-column
    [width]="200"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false">
    <ng-template ngx-datatable-header-template>
      {{ 'label.active' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="checkbox" [(ngModel)]="row.isActive" (ngModelChange)="itemWasUpdated(row)" [checked]="row.isActive" class="thf-input-radio-button" [id]="row.id"/>
      <label class="thf-u-vertical-align-super" [attr.for]="row.id">
        <span class="ui"></span>
      </label>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template ngx-datatable-header-template>
      {{ 'label.description' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.reasonName}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template ngx-datatable-header-template>
      {{ 'label.utilization' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.reasonCategoryName}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [width]="50"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false"
    [cellClass]="'thf-u-no-padding'">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <app-submenu-options [items]="itemsOption" (itemWasAction)="rowAction($event, row)"></app-submenu-options>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
