<app-header-page-new [config]="configHeader" [rightButtonList]="topButtons" >
  <header-title>{{'title.reservationSlip' | translate }}</header-title>
</app-header-page-new>

<app-modal-wrapper [modalId]="RESERVATION_SLIP_MODAL_ID" [title]="'title.sendReservationSlip'">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col-12">
        <span class="thf-u-font--bold thf-u-font--14">{{'label.emailForSendSlip' | translate}}</span>
      </div>
    </div>
    <div class="row thf-u-margin-top--1">
      <div class="col-12">
          <form [formGroup]="formSlipModal">
            <label class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{'label.sendFor' | translate}}</label>
            <input id="email" formControlName="email" type="text" class="thf-input" [ngClass]="{'thf-input-error': inputIsInvalidAndDirty('email')}">
          </form>
      </div>
    </div>
    <div class="row justify-content-end  thf-u-margin-top--2">
      <div class="col-3">
          <app-button [buttonConfig]="cancelSendSlipButton"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="sendSlipButton"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<div class="row">
  <div class="col-12">
    <div #slipContainer ></div>
  </div>
</div>

<div class="row thf-u-margin-top--4">
  <div class="col-2 offset-3">
      <app-button [buttonConfig]="printButton"></app-button>
  </div>
  <div class="col-2">
    <app-button [buttonConfig]="cancelButton"></app-button>
  </div>
  <div class="col-2">
    <app-button [buttonConfig]="openModalSendSlipButton"></app-button>
  </div>
</div>

