<app-header-page-new [enableBackButton]="true">
  <header-title>{{i18n.title}}</header-title>
</app-header-page-new>

<app-group-content
  [title]="i18n.groups.general.title">
  <form [formGroup]="form" class="row">
    <div class="col-1">
      <label
        class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine"
        for="isActive">
        {{ i18n.groups.general.label.active }}
      </label>
      <input id="isActive" class="thf-input-radio-button" type="checkbox" formControlName="isActive">
      <label for="isActive" class="thf-u-margin-top--1"><span class="ui"></span></label>
    </div>
    <div class="col-4">
      <label
        class="thf-input-label thf-u-font--14 thf-input-label--required thf-u-font--bold thf-input-label--grey-submarine"
        for="name">
        {{ i18n.groups.general.label.name }}
      </label>
      <input id="name" formControlName="name" class="thf-input">
      <thx-error-form
        [errorMsg]="i18n.required"
        [show]="form.get('name').invalid && form.get('name').touched">
      </thx-error-form>
    </div>
    <div class="col-2">
      <label
        class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required"
        for="startDate">
        {{ i18n.groups.general.label.validityPeriod }}
      </label>
      <thx-datepicker formControlName="startDate" id="startDate" [minDateToday]="true"></thx-datepicker>
    </div>
    <div class="col-2">
      <label
        class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine"
        for="endDate"></label>
      <thx-datepicker formControlName="endDate" id="endDate"></thx-datepicker>
    </div>
  </form>
</app-group-content>

<div id="alertRateStrategy" class="thf-u-margin-vertical--2">
  <img src="{{'info.svg' | imgCdn }}" alt="{{i18n.labels.info}}"/>
  <strong>{{i18n.labels.attention}}</strong> - {{i18n.alertRateStrategy}}
</div>

<app-group-content
  [title]="i18n.groups.params.title"
  [hasFilter]="true"
  [hasButton]="true"
  [buttonConfigSetted]="newParamButton">
  <thx-searchbar
    [placeholder]="i18n.groups.params.placeholder"
    (search)="updateList($event)"
    ngDefaultControl>
  </thx-searchbar>

  <thx-datatable
    [columns]='columns'
    [itens]="filteredItems"
    [hasLastCell]="false"
    [emptyMessage]="i18n.table.emptyMessage.title"
    [completeEmptyMessageContent]="i18n.table.emptyMessage.description">
  </thx-datatable>
</app-group-content>

<ng-template #amount let-row="row" ngx-datatable-cell-template>
  <div class="row h-100 align-items-center" *ngIf="!row.isEdit">
    <div class="col">{{ row.percentage ? row.percentualAmount + '%' : currencyName + (row.incrementAmount | currencyFormat: ' ') }}</div>
  </div>
</ng-template>

<div class="row thf-u-margin-top--2">
  <div class="offset-8 col-2 thf-u-margin-top--2">
    <app-button [buttonConfig]="cancelButtonConfig"></app-button>
  </div>
  <div class="col-2 thf-u-margin-top--2">
    <app-button [buttonConfig]="confirmButtonConfig"></app-button>
  </div>
</div>

<app-modal-wrapper
  [modalId]="MODAL_ID"
  [title]="modalTitle"
  [maxWidth]="'70vw'"
  [minWidth]="'70vw'">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col-12">
        <app-occupation-parameter-manager
          #occupationParameter
          [params]="paramsList"
          (paramsChanged$)="saveParam($event)">
        </app-occupation-parameter-manager>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row justify-content-end thf-u-margin-top--2">
      <div class="col-3">
        <app-button [buttonConfig]="cancelModalButton"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="saveModalButton"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
