#alertRateStrategy {
  color: var(--color-white);
  background-color: var(--color-grey-dark);
  text-align: center;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 5px;
  border: 1px solid transparent;
}

#alertRateStrategy > img {
  margin-right: 8px;
}
