<ng-container *ngIf="menuOptions">
  <a id="{{menuOptions.name | translate}}" *ngIf="menuOptions.name != 'root'"
     class="thf-menu-new-link thf-u-font--semibold"
     href="javascript:void(0)" (click)="onClick($event, this)"
     [style.paddingLeft]="15 * level +'px'"
     [style.opacity]="menuOptions.disabled ? .5 : 1"
     [ngClass] = "{'level2': level == 2 || level == 1 && isActive, 'level3': level == 3 , 'level4': level == 4}"
  >
    <img *ngIf="menuOptions.img" class="thf-menu-new-icon"
    src="{{menuOptions.img | imgCdn}}"
    alt="{{ 'commomData.images.home' | translate }}"/>
    <div class="thf-menu-new-link-info">
      <span class="thf-menu-new-link-name thf-u-font--13" [innerHtml]="menuOptions.name | translate"></span>
      <img class="thf-menu-new-icon-arrow" src="{{'chevron-left-blue.svg' | imgCdn}}"
           alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
           *ngIf="menuOptions.children"
           [ngClass]="{'thf-u-filter-svg--blue down': menuOptions.children && !hidden, 'thf-u-filter-svg--blue': isActive}"/>
    </div>
  </a>

  <ul class="thf-menu-new-list thf-u-reset-list" 
    [hidden]="hidden">
    <li class="thf-menu-new-option" *ngFor="let option of menuOptions.children">
      <app-menu-option #submenu [menuOptions]="option" [level]="level + 1"></app-menu-option>
    </li>
  </ul>
</ng-container>
