<admin-group [title]="i18n.group.documents" isOpen="true">
  <div class="thx-group-header-actions">
    <thf-button
      [t-label]="i18n.title.new"
      t-small="true"
      (t-click)="openModal()">
    </thf-button>
  </div>
  <thf-table
    [t-columns]="tableSettings.columns"
    [t-items]="tableSettings.items"
    [t-actions]="tableSettings.actions"
  ></thf-table>
</admin-group>

<thf-modal
  #modal
  [t-title]="modalSettings.title"
  [t-primary-action]="modalSettings.primaryAction"
  [t-secondary-action]="modalSettings.secondaryAction"
  [t-hide-close]="true">
  <admin-document-create-edit
    #form
    [document]="toEdit"
    (formChanged)="observeForm($event)">
  </admin-document-create-edit>
</thf-modal>

<thf-modal
  #modalDelete
  [t-title]="modalDeleteSettings.title"
  [t-primary-action]="modalDeleteSettings.primaryAction"
  [t-secondary-action]="modalDeleteSettings.secondaryAction"
  [t-hide-close]="true">
  {{ i18n.variable.confirmDelete }}
  <strong>{{ toDelete?.documentType?.name + ' ' + toDelete?.documentInformation}}</strong>
</thf-modal>
