<thf-page-edit
  [t-disable-submit]="form.invalid"
  [t-title]="i18n.title"
  [t-literals]="literals">

  <admin-group [title]="i18n.group.company" isOpen="true" [formGroup]="form">
    <div class="thf-row">
      <thf-select
        name="personType"
        formControlName="personType"
        class="thf-md-4 required-field"
        [t-label]="i18n.label.personType"
        [t-options]="personTypeOptionList"
        [t-required]="true"
        [t-disabled]="true"
      ></thf-select>

      <thf-input
        name="shortName"
        formControlName="shortName"
        class="thf-md-4 required-field"
        [t-label]="i18n.label.shortName"
        [t-required]="true"
      ></thf-input>

      <thf-input
        name="tradeName"
        formControlName="tradeName"
        class="thf-md-4 required-field"
        [t-label]="i18n.label.tradeName"
        [t-required]="true"
      ></thf-input>
    </div>

    <div class="thf-row">
      <thf-input
        name="email"
        formControlName="email"
        class="thf-md-4 required-field"
        [t-label]="i18n.label.email"
        [t-required]="true"
      ></thf-input>

      <thf-input
        name="homePage"
        formControlName="homePage"
        class="thf-md-4 required-field"
        [t-label]="i18n.label.homePage"
        [t-required]="true"
      ></thf-input>
    </div>
  </admin-group>

  <div class="thf-mt-2">
    <admin-address-list
      [locations]="tableAddressSettings.items"
      (updatedLocations)="tableAddressSettings.updateLocations($event)"
    ></admin-address-list>
  </div>

  <div class="thf-mt-2">
    <admin-company-document [(documents)]="company.documentList"></admin-company-document>
  </div>

  <div class="thf-mt-2">
    <admin-group [title]="i18n.group.propertiesAssociate" isOpen="true">
      <thf-table
        [t-columns]="tablePropertySettings.columns"
        [t-items]="tablePropertySettings.items"
      ></thf-table>
    </admin-group>
  </div>

</thf-page-edit>
