<ngx-datatable
  #table
  *ngIf="itens && itens.length > 0"
  class="material"
  [rows]="itens"
  [columns]="columns"
  [columnMode]="columnMode"
  [headerHeight]="headerHeight"
  [footerHeight]="footerHeight"
  [rowHeight]="rowHeight"
  [limit]="rowsLimit"
  (activate)="clickRow($event)"
  [ngClass]="tableExtraClass"
  [selected]="_selected"
  [selectionType]="selectionType"
  [scrollbarH]="tableHasScroll"
  [externalPaging]="externalPaging"
  [count]="count"
  [offset]="offset"
  (page)='page.emit($event)'
>

    <ngx-datatable-footer>
      <ng-template
        ngx-datatable-footer-template
        let-rowCount="rowCount"
        let-pageSize="pageSize"
        let-selectedCount="selectedCount"
        let-curPage="curPage"
        let-offset="offset">
        <div class="page-count" style="flex: 0 0 auto;">
          {{rowCount.toLocaleString()}} {{table.messages.totalMessage}}
        </div>
        <div style="flex: 1 0 auto;">
          <ng-container [ngTemplateOutlet]="footerInfo"></ng-container>
        </div>
        <datatable-pager
          style="flex: 0 0 auto;"
          [pagerLeftArrowIcon]="table.cssClasses.pagerLeftArrow"
          [pagerRightArrowIcon]="table.cssClasses.pagerRightArrow"
          [pagerPreviousIcon]="table.cssClasses.pagerPrevious"
          [pagerNextIcon]="table.cssClasses.pagerNext"
          [page]="curPage"
          [size]="pageSize"
          [count]="rowCount"
          [hidden]="!((rowCount / pageSize) > 1)"
          (change)="table.onFooterPage($event)">
        </datatable-pager>
      </ng-template>
    </ngx-datatable-footer>
</ngx-datatable>

<ng-template #statusTemplate let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
  <div>
    <input type="checkbox" [(ngModel)]="row[statusPropName]" (ngModelChange)="itemWasUpdated(row)"
           class="thf-input-radio-button" id="{{row[statusIdentifier]}}"/>
    <label class="thf-u-vertical-align-super" for="{{row[statusIdentifier]}}">
      <span class="ui"></span>
    </label>
  </div>
</ng-template>

<ng-template #defaultTemplate let-row="row" let-value="value" let-expanded="expanded" ngx-datatable-cell-template>
  <div [class]="cellClass">{{ value }}</div>
</ng-template>

<ng-template #optionsTemplate let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
  <app-submenu-options [items]="row.options || itemsOption"
                       (itemWasAction)="runCallbackFunction($event, row, rowIndex)"></app-submenu-options>
</ng-template>

<ng-template #defaultLastCellTemplate let-row="row" ngx-datatable-cell-template>
  <div class="thf-u-text-right arrow">
    <img class="hps-icon-size-default" src="{{'chevron-right.svg' | imgCdn}}"
         class="thf-table-tbody-td-icon" alt="Seta para direita"/>
  </div>
</ng-template>

<ng-template #editLastCellTemplate let-row="row" ngx-datatable-cell-template>
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col">
      <img class="thf-u-cursor--pointer"
           src="{{'pencil.min.svg' | imgCdn}}"
           alt="{{ 'img.editIcon' | translate}}"
           (click)="edit(row)"/>
    </div>
  </div>
</ng-template>

<ng-template #deletLastCellTemplate let-row="row" ngx-datatable-cell-template>
  <img src="{{'icon-delete-blue.svg' | imgCdn}}" alt="{{ 'img.iconDelete' | translate}}" class="thf-u-cursor--pointer" (click)="delete(row)" >
</ng-template>

<ng-template #headerTemplate let-column="column" let-sort="sortFn" ngx-datatable-header-template>
  <span class="datatable-header-cell-wrapper">
    <span class="datatable-header-cell-label draggable" (click)="sort()">
      {{column.name | translate}}
    </span>
  </span>
</ng-template>

<ng-template #dateTemplate let-value="value" ngx-datatable-cell-template>
  <div [class]="cellClass">{{ value | amDateFormat: 'L' }}</div>
</ng-template>

<div class="row" *ngIf="(!itens || !itens.length) && emptyMessage">
  <div class="col-10 offset-1">
    <div class="row">
      <div class="col-12">
        <div class="thf-empty-content thf-u-text-center">
          <div class="thf-empty-content-header thf-u-margin-bottom--1 ">
            <div class="row">
              <div class="col-12">
                <img class="thf-empty-content-header-icon" src="{{'info.svg' | imgCdn}}"
                     alt="Imagem indicando texto informativo">
                <h1 class="thf-empty-content-header-title thf-u-font--bold thf-u-font--16 thf-u-inline-block">{{
                  emptyMessage | translate}}</h1>
              </div>
            </div>
          </div>
          <div class="thf-empty-content-body">
            <div class="row">
              <div class="col-12">
                <p class="thf-empty-content-message thf-u-no-margin thf-u-font--14" *ngIf="emptyMessageContent">
                  {{ 'commomData.emptyContent.followTo' | translate }}
                  <a role="button" href="javascript:void(0)" (click)="goToCreatePage()" class="thf-link" data-qa-id='newpage' >
                    {{ 'commomData.emptyContent.registerScreen' | translate }}
                  </a>
                  {{ emptyMessageContent | translate }}
                </p>
                <p class="thf-empty-content-message thf-u-no-margin thf-u-font--14" *ngIf="completeEmptyMessageContent">
                  {{ completeEmptyMessageContent | translate}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
