:host{
  display: block;
}
.img-icon {
  margin: 10px;
}

.value-field{
  width: 165px;
  margin-left: -22px;
}

label.value-field {
  max-height: 44px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 -22px;
}
