:host {
  display: block;
  width: 100%;

  ::ng-deep {

    .input-field {
      thx-input-text .border-right {
        border-radius: 0;
      }
      thx-select-v2 .border-left {
        border-radius: 0;
      }
    }
  }
}

.input-field {
  display: flex;
  width: 100%;

  .input-field .border-center {
    border-color: yellow !important;
  }

  div {
    &:first-child {
      flex-grow: 5;
    }

    &:last-child {
      flex-grow: 2;
    }
  }
}
