<div class="input-field" >
  <div>
    <thx-input-text
      [(ngModel)]="value.inputValue"
      (ngModelChange)="writeValue(value)"
      [title]="title"
      [disabled]="disabled"
      [required]="required"
      [infoText]="infoText" ></thx-input-text>
  </div>
  <div>
    <thx-select-v2 [(ngModel)]="value.selectValue"
                   (ngModelChange)="writeValue(value)"
                   [optionList]="optionList"
                   [disabled]="disabled"
                   [required]="required" ></thx-select-v2>
  </div>
</div>
