<div class="hp-innermenu thf-u-height--100">
  <ul class="hp-nav">
    <li>
      <img src="{{'ilha-virgem-caribe.jpg' | imgCdn}}" class="hp-img-hotel">
      <div class="thf-u-padding--1">
        <p class="hp-hotel-brand-name thf-u-font--14 thf-u-font--bold">{{property?.name}}</p>
        <p class="hp-hotel-brand-name thf-u-font--14">{{property?.brand.chain.name}}</p>
        <p class="hp-hotel-brand-name thf-u-font--14">{{property?.brand.name}}</p>
      </div>
    </li>
    <li *ngFor="let item of menuItensList">
      <a  (click)="navigate(item.routerLink)" [class.active]="isActive(item.routeSufix)"  href="javascript:void(0)"> {{item.title | translate }}</a>
    </li>

  </ul>
</div>
