:root {
  --color-white: #FFFFFF;
  --color-blue-lighter: #F3FAFC;
  --color-cyan-light: #CEEBF2;
  --color-blue-darker: #075C72;
	--color-blue: #0C9ABE;
}

.hp-nav {
  display: block;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.hp-nav>li {
  position: relative;
  display: block;
}

.hp-nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.hp-nav>li>a:hover,
.hp-nav>li>a:focus {
  text-decoration: none;
  color: var(--color-white);
}

.hp-innermenu {
  padding: 0;
  background: var(--color-blue-lighter);
  text-align: center;
  border: 1px solid var(--color-cyan-light);
  position: relative;
}

.hp-innermenu>ul>li {
  border-bottom: 1px solid var(--color-cyan-light);
}

.hp-innermenu>ul>li>a {
  font-size: .9em;
  text-align: left;
  display: block;
  color: var(--color-blue);
  font-weight: bold;
  background-color: transparent;
}

.hp-innermenu>ul>li>a:hover,
.hp-innermenu>ul>li>a.active {
  color: var(--color-white);
  background-color: var(--color-blue);
}

.hp-innermenu>ul>li>img.hp-img-hotel {
  margin: 10px auto;
  border-radius: 50%;
}

.hp-innermenu>ul>li>p.hp-hotel-brand-name {
  color: var(--color-blue-darker);
}

.hp-innermenu>ul>li>span.hp-hotel-brand-name {
  color: var(--color-blue-darker);
}
