<div class="thf-u-background-color--blue thf-u-padding--1">
  <div class="row">
      <div class="offset-1 col-4 thf-u-color--white thf-u-font--14 thf-u-font-uppercase">
          {{'label.total' | translate}} <span *ngIf="accountType === 'destination'">{{'label.estimate' | translate}}</span>
      </div>
      <div class="col-6 thf-u-color--white thf-u-font--14 thf-u-text-right">
          <span>{{total | currencyFormat: (currencySymbol || ' ')}}</span>
      </div>
  </div>
</div>
