.thf-governance-list-wrapper {

  img.icon, .rounded-img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin-right: 18px;
  }

  input:disabled + label {
    background: var(--color-grey-zumthor);
    opacity: 0.5;
    cursor: not-allowed;
  }

  thx-popover{
    left: 60px !important;

    .thf-popover {
      background-color: var(--color-grey-feldgrau) !important;
      color: var(--color-white) !important;

      .thf-popover-arrow{
        left: 16px !important;
        &:after {
          border-color: var(--color-grey-feldgrau) transparent transparent transparent !important;
        }
      }

      .thf-popover-content {
        width: 160px;
        padding: 12px 18px !important;

        .row-without-breaking {
          white-space: nowrap;
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
        }

        .padding-left-5 {
          padding-left: 5px;
        }
      }
    }
  }

  .z-index-popover{
    z-index: 1;
  }

  .rounded-img{
    background: var(--color-blue);
    color: var(--color-white);
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .status{
    padding: 5px 15px;
    border-radius: 3px;
  }

  .thf-group-content-body{
    background: linear-gradient(90deg, var(--color-white) 50%, var(--color-grey-azure) 50%);
  }

  .thf-input-group-search{
    background: var(--color-white);
    border-radius: 3px;
  }

  .text-wrapper{
    text-align: center;
    height: 75px;
    vertical-align: text-bottom;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;

    &.justify-between{
      justify-content: space-between;
    }

    &.schedule-service{
      color: var(--color-blue);
      text-decoration: underline;
      font-size: 16px;
      justify-content: flex-end;

      .schedule-handler:hover{
        cursor: pointer;
      }
    }

    .label-count-selected{
      color: var(--color-blue);
    }
  }
}

.div-button-auto {
  color: var(--color-white);
  background-color: var(--color-blue-real);
  border-radius: 14px;
  height: 146px;
}

.text-info-midle {
  color: var(--color-checkbox-disabled-text);
  padding-top: 10px;
}

.div-box {
  margin: 0 15px 30px;
}

.text-info-rigth {
  cursor: pointer;
  font-size: 12px;
  color: var(--color-checkbox-disabled-text);
}

.imgRobot {
  width: 125px;
  height: 112.5px;
}

.img-mark {
  padding-right: 5px;
}

.div-automatic-button {
  width: 135px;
}

.div-row-button {
  display: inline-grid;
  justify-content: end;
}
