<app-header-page-new [enableBackButton]="true">
    <header-title>
        {{'title.roomAssociation' | translate }}
    </header-title>
</app-header-page-new>

<div class="div-box">
  <div class="row div-button-auto justify-content-center align-items-center">
    <div class="col-2 text-center">
      <img class="imgRobot" src="{{'robot-bg-blue.svg' | imgCdn }}" />
    </div>
    <div class="col-7">
      <div>
  <span class="thf-u-font--16 thf-u-font-uppercase">
    {{ 'text.autoAssoc' | translate }}
  </span>
        <br>
        <div class="thf-u-font--14 text-info-midle">
          <span [innerHTML]="'text.iaWorking' | translate"></span>
        </div>
      </div>
    </div>
    <div class="col-3">
        <div class="row" style="padding-right: 15px;">
          <div class="col text-right">
          <span
            class="text-info-rigth"
            (click)="openClosedInfoAutoModal()">
              <img src="{{'question-mark-gray.svg' | imgCdn }}" class="img-mark"/>
            {{'text.whatThis' | translate }}
          </span>
          </div>
        </div>
        <div class="thf-u-margin-top--3">
          <div class="offset-6 col-6 div-row-button">
            <div class="div-automatic-button">
            <app-button
              [buttonConfig]="automaticButtonConfig">
            </app-button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="thf-group-content thf-governance-list-wrapper">
  <div class="col-12">
    <label class="thf-u-no-margin">
      <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
      <span
        class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
          {{ 'title.roomDataAssociation' | translate }}
      </span>
    </label>
  </div>

  <!-- main content -->
  <div class="thf-group-content-body">
    <div class="row">
      <div class="col-6 z-index-popover">
        <div class="row align-items-center">
          <div class="col-8 offset-2">
            <thx-searchbar
              [placeholder]="'placeholder.searchGovernance'"
              (search)="filterThreatName($event)">
            </thx-searchbar>
          </div>
        </div>
        <hr class="thf-u-no-margin thf-u-margin-bottom--1" />

        <!-- selectTheRooms -->

        <div class="row">
          <div class="col-12 thf-u-padding-vertical--1">
              <span class="thf-u-font--13 thf-u-font--bold">
                  {{'title.selectTheRooms' | translate}}
              </span>
          </div>
        </div>

        <!-- first datatable -->
        <div>
          <thx-datatable
            id="first-datatable"
            [itens]="roomAssocList"
            [statusIdentifier]="false"
            [columns]="columns"
            [hasLastCell]="false"
            ></thx-datatable>
        </div>

        <p
          class="text-wrapper">
          {{ 'label.roomsSelecteds' | translate }}
          <span class="label-count-selected">({{ selectedItemsRooms?.length }})</span>
        </p>
      </div>

      <!-- second col and data table -->
      <div class="col-6">
        <div class="row align-items-center">
          <div class="col-8 offset-2">
            <thx-searchbar
              [placeholder]="'placeholder.searchByEmployeeName'"
              (search)="filterEmployee($event)">
            </thx-searchbar>
          </div>
        </div>

        <hr class="thf-u-no-margin thf-u-margin-bottom--1" />


        <div class="row">
          <div class="col-12 thf-u-padding-vertical--1">
              <span class="thf-u-font--13 thf-u-font--bold">
                  {{'title.selectEmployee' | translate}}
              </span>
          </div>
        </div>

        <!-- second datatable -->
        <div>
          <thx-datatable
            id="second-datatable"
            [itens]="employeesAssocList"
            [statusIdentifier]="false"
            [columns]="columnsGovernance"
            (rowItemClicked)="selectEmployee($event)"
            [hasLastCell]="false">
          </thx-datatable>
        </div>


        <div class="row">
          <ng-container
            [ngTemplateOutlet]='hasSchedule ? schedule : link'
            [ngTemplateOutletContext]="{item: this}"></ng-container>
        </div>

      </div>
    </div>
  </div>
</div>
  </div>
</div>
<ng-template
  #schedule
  ngx-datatable-cell-template>
  <div class="col-12 thf-u-padding-horizontal--4 text-wrapper justify-between">
    <span>
      <i class="mdi mdi-calendar thf-u-font--20 thf-u-color--blue"></i>

      <span class="thf-u-font--14">
        {{ schedulingFor }}
      </span>
    </span>

    <i
      (click)="clearSchedule()"
      class="mdi mdi-delete thf-u-font--20 thf-u-color--blue"></i>
  </div>
</ng-template>

<ng-template
  #link
  ngx-datatable-cell-template>
  <div
    class="col-12 thf-u-padding-horizontal--4 text-wrapper schedule-service">
    <span
      id="schedule-handler"
      class="schedule-handler"
      (click)="openModalSchedule()">
      {{ 'label.scheduleService' | translate }}
    </span>
  </div>
</ng-template>



<div class="row thf-u-margin-top--2">
    <div class="offset-8 col-2 thf-u-margin-top--2">
        <app-button
          [buttonConfig]="cancelButtonConfig"></app-button>
    </div>
    <div class="col-2 thf-u-margin-top--2">
        <app-button
          [buttonConfig]="saveButtonConfig"></app-button>
    </div>
</div>

<governance-assoc-modal
    [selectedItemToShow]="selectedItemToShow"
    [items]="itemsToShow"
    [modalId]="MODAL_GOVERNANCE_ASSOC_ID">
</governance-assoc-modal>

<governance-schedule-modal
  (emitClose)="closeModalSchedule()"
  (dateChange)="dateChanged($event)"
  [modalId]="MODAL_GOVERNANCE_ASSOC_SCHEDULE">
</governance-schedule-modal>

<app-governance-auto-assoc-modal
  [modalId]="MODAL_GOVERNANCE_AUTO_ASSOC"
  [houseKeepingList]="employeesAssocList"
  (closedModal)="openClosedAutoModal($event)">
</app-governance-auto-assoc-modal>

<app-governance-info-modal
  [modalId]="MODAL_GOVERNANCE_INFO_AUTO"
  (closed)="closedInfoModal()">
</app-governance-info-modal>

<app-governance-resume-modal
  [modalId]="MODAL_GOVERNANCE_RESUME"
  [roomMaidList]="housekeepingGenerator"
  (closedModal)="openClosedResumeModal()">
</app-governance-resume-modal>

<ng-template
  #checkbox
  let-row="row"
  let-rowIndex="rowIndex"
  ngx-datatable-cell-template>
  <div>
    <input
      [id]="'governance_assoc_' + rowIndex"
      type="checkbox"
      class="thf-input-type-checkbox"
      [disabled]="!row?.canAssociate"
      [checked]="selectedItemsRooms.indexOf(row) >= 0"
      (change)="selectRoom(row)">
    <label [for]="'governance_assoc_' + rowIndex">
      <span class="ui"></span>
    </label>
  </div>
</ng-template>

<ng-template
  #roomStatus
  let-row="row"
  ngx-datatable-cell-template>
  <span
    class="thf-u-color--white status"
    [ngStyle]="{background: '#' + row?.housekeepingStatusColor}">
    {{row.housekeepingStatusName}}
  </span>
</ng-template>


<ng-template #imgContainer let-row="row" ngx-datatable-cell-template>

  <img
    class="icon"
    *ngIf="row?.photoUrl"
    [src]="row?.photoUrl"
    (click)="selectItemRoom(row, $event)"
    placement="top"
    closeOnClick="true"
    [thxPopover]="popoverTemplate">

  <span
    *ngIf="!row?.photoUrl && row?.fullName"
    class="rounded-img"
    placement="top"
    closeOnClick="true"
    (click)="selectItemRoom(row, $event)"
    [thxPopover]="popoverTemplate">
    {{ getInitialsName(row?.fullName) }}
  </span>

  <ng-template #popoverTemplate>
    <thx-popover-content>
      <div class="row row-without-breaking">
        <div class="col-2">
          <img
            *ngIf="selectedRoom?.photoUrl"
            class="icon" src="{{ selectedRoom?.photoUrl }}">
          <span
            *ngIf="!selectedRoom?.photoUrl && selectedRoom?.fullName"
            class="rounded-img">
            {{ getInitialsName(row?.fullName) }}
          </span>
        </div>
        <div class="col-10 thf-u-font--12">
          {{ selectedRoom?.fullName }}
        </div>
      </div>
      <div class="row row-without-breaking">
        <div class="offset-2 col-2">
          <i class="mdi mdi-timer"></i>
        </div>
        <div class="col-8 padding-left-5 thf-u-font--10">
          {{ getElapsedTime(selectedRoom) }}
        </div>
      </div>
    </thx-popover-content>
  </ng-template>
</ng-template>


<ng-template #templateImg let-row="row" ngx-datatable-cell-template>
  <div>
    <i class="thf-u-font--30 thf-u-margin-right--1 mdi" [ngClass]="{
      'mdi-checkbox-blank-circle-outline': !row?.isSelected,
      'mdi-checkbox-marked-circle-outline thf-u-color--green': row?.isSelected
      }">
    </i>

    <ng-container
      [ngTemplateOutlet]='row?.photoUrl ? icon : name'
      [ngTemplateOutletContext]="{row:row}"></ng-container>

    <span>{{ row?.name }}</span>
  </div>
</ng-template>

<ng-template #icon let-row="row">
  <img class="icon" src="{{ row?.photoUrl }}">
</ng-template>

<ng-template #name let-row="row">
  <span class="rounded-img">
    {{ getInitialsName(row?.name) }}
  </span>
</ng-template>

<ng-template #templateIconInfo let-row="row" ngx-datatable-cell-template>
  <img
    (click)="openInfo(row, $event)"
    src="{{'info.svg' | imgCdn}}"
    class="thf-u-enable-cursor thf-u-valign--top img-info" />
</ng-template>
