<app-header-page-new [config]="configHeaderPage" [hasFilter]="true">
  <header-title>{{'hotelPanelModule.roomTypeList.title' | translate }}</header-title>
  <app-filter-search [searchableItems]="searchableItems" (searchUpdated)="updateRoomTypeViewList($event)"></app-filter-search>
  <text-button>{{'hotelPanelModule.roomTypeList.newRoomType' | translate}}</text-button>
  <icon-button>
      <i class="mdi mdi-plus"></i>
  </icon-button>
</app-header-page-new>

<div class="thf-u-margin-top--2"></div>

<div class="row">
  <div class="col-12">
    <ngx-datatable
      #table
      *ngIf="hasRoomTypes"
      class="material"
      [rows]="roomTypeViewList"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [limit]="dataTableGlobals.limitItensPage"
    >

      <ngx-datatable-column name="{{ 'label.active' | translate }}"
                            [width]="100"
                            [resizeable]="false"
                            [draggable]="false"
                            [canAutoResize]="false"
                            headerClass="thf-u-text-center"
                            cellClass="thf-u-text-center" >
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div>
            <input type="checkbox" [(ngModel)]="row.isActive" (ngModelChange)="updateRoomTypeStatus(row)"
                   class="thf-input-radio-button" id="{{row.abbreviation}}"/>
            <label class="thf-u-vertical-align-super" for="{{row.abbreviation}}">
              <span class="ui"></span>
            </label>
          </div>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="{{ 'label.initials' | translate }}" >
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div (click)="goEditRoomTypePage( row )">{{ row.abbreviation }}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'label.description' | translate }}" >
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div (click)="goEditRoomTypePage( row )">{{ row.name }}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'label.order' | translate }}"
                            [width]="50">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div (click)="goEditRoomTypePage( row )">{{ row.order }}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'label.capacity' | translate }}"
                            [width]="130"
                            headerClass="thf-u-text-center"
                            cellClass="thf-u-text-center">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div (click)="goEditRoomTypePage( row )">
            <span>
              <span class="thf-u-vertical-align-middle">{{ row.adultCapacity }}</span>
              <img class="hps-icon-size-default" src="{{'qtdAdulto.min.svg' | imgCdn}}"
                   alt="{{ 'commomData.images.account' | translate }}"/>
            </span>
            <span class="thf-table-icon-space"></span>
            <span>
              <span class="thf-u-vertical-align-middle">{{ row.childCapacity }}</span>
              <img class="hps-icon-size-default hps-icon-size--2"
                   src="{{'QtdCriancas.min.svg' | imgCdn}}"
                   alt="{{ 'commomData.images.babyCarriage' | translate }}"/>
            </span>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'label.qtdBeds' | translate }}" [width]="170"
                            headerClass="thf-u-text-center"
                            cellClass="thf-u-text-center">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div (click)="goEditRoomTypePage( row )">
            <span>
              <span class="thf-u-vertical-align-middle">{{ row.bedDoubleCount }}</span>
              <img class="hps-icon-size-default hps-icon-size--2" src="{{'camaCasal.min.svg' | imgCdn}}"
                   alt="{{ 'commomData.images.doubleBed' | translate }}"/>
            </span>
            <span class="thf-table-icon-space"></span>
            <span>
              <span class="thf-u-vertical-align-middle">{{ row.bedSingleCount }}</span>
              <img class="hps-icon-size-default" src="{{'camaSolteiro.min.svg' | imgCdn}}"
                   alt="{{ 'commomData.images.singleBed' | translate }}"/>
            </span>
            <span class="thf-table-icon-space"></span>
            <span>
              <span class="thf-u-vertical-align-middle">{{ row.bedReversibleCount }}</span>
              <img class="hps-icon-size-default hps-icon-size--2"
                   src="{{'camaReversivel.min.svg' | imgCdn}}"
                   alt="{{ 'commomData.images.reversibleBed' | translate }}"/>
            </span>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'label.qtdExtras' | translate }}" [width]="130"
                            headerClass="thf-u-text-center"
                            cellClass="thf-u-text-center">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div (click)="goEditRoomTypePage( row )">
            <span>
              <span class="thf-u-vertical-align-middle">{{ row.bedCribCount }}</span>
              <img class="hps-icon-size-default" src="{{'berco.min.svg' | imgCdn}}"
                   alt="{{ 'commomData.images.cribBed' | translate }}"/>
            </span>
            <span class="thf-table-icon-space"></span>
            <span>
              <span class="thf-u-vertical-align-middle">{{ row.bedExtraCount }}</span>
              <img class="hps-icon-size-default" src="{{'camaSolteiro.min.svg' | imgCdn}}"
                   alt="{{ 'commomData.images.singleBed' | translate }}"/>
            </span>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name=""
                            [width]="50"
                            [resizeable]="false"
                            [sortable]="false"
                            [draggable]="false"
                            [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div (click)="goEditRoomTypePage( row )" class="thf-u-text-right arrow">
            <img class="hps-icon-size-default" src="{{'chevron-right.svg' | imgCdn}}"
                 class="thf-table-tbody-td-icon" alt="Seta para direita"/>
          </div>
        </ng-template>
      </ngx-datatable-column>


    </ngx-datatable>

  </div>
</div>

<div class="row" [hidden]="hasRoomTypes">
  <div class="col-8 offset-2">
    <div class="row">
      <div class="col-12">
        <div class="thf-empty-content thf-u-text-center">
          <div class="thf-empty-content-header thf-u-margin-bottom--1 ">
            <div class="row">
              <div class="col-12">
                <img class="thf-empty-content-header-icon" src="{{'info.svg' | imgCdn}}"
                     alt="Imagem indicando texto informativo">
                <h1 class="thf-empty-content-header-title thf-u-font--bold thf-u-font--16 thf-u-inline-block">{{
                  'hotelPanelModule.roomTypeList.errorMessage' | translate}}</h1>
              </div>
            </div>
          </div>
          <div class="thf-empty-content-body">
            <div class="row">
              <div class="col-12">
                <p class="thf-empty-content-message thf-u-no-margin thf-u-font--14">
                  {{ 'commomData.emptyContent.followTo' | translate }}
                  <a role="button" href="javascript:void(0)" (click)="goToCreatePage()" class="thf-link">
                    {{ 'commomData.emptyContent.registerScreen' | translate }}
                  </a>
                  {{ 'hotelPanelModule.roomTypeList.messageEmptyContent' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
