:host {
  z-index: 10;
}

.card {
  border-radius: 5px;
  box-shadow: 5px 5px 15px var(--color-grey-light);
}
.card-container {
  background: var(--color-grey-lighter);
  height: 100%;
}
.card-text-container {
  margin: 0;
  height: 100px;
}
.left-ajust {
  padding-left: 30px;
}
.vertical-ajust {
  margin: 10px 0;
}
.border-right {
  border-right: 2px solid var(--color-blue-lighter);
}
