<div class="card">
  <div class="row card-text-container d-flex align-items-center">
    <div class="col-2 card-container d-flex align-items-center">
      <div>
        <div class="left-ajust thf-u-font--14 thf-u-font--bold">{{'label.budget' | translate}}</div>
        <div class="left-ajust thf-u-font--14">{{'label.reserve' | translate}}</div>
      </div>
    </div>
    <div class="col-2 border-right">
      <div class="thf-u-font--12 ">{{'reservationModule.reserveCreate.dailyNumber' | translate }}</div>
      <div class="thf-u-font--14 thf-u-font--bold thf-u-color--blue">{{ dailyNumber | pad: 2 }}</div>
    </div>
    <div class="col-2 border-right">
      <div class="thf-u-font--12">{{'text.dailyAverageArr' | translate}}</div>
      <div class="thf-u-font--20 thf-u-font--bold thf-u-color--blue">
        {{ currencySymbol }} {{ dailyAverage  | currencyFormat: ' ' }}
      </div>
    </div>
    <div class="col-2">
      <div class="thf-u-font--12">
        {{ 'label.total' | translate }} {{ 'label.of' | translate }} {{ roomQtd }}
        {{ (roomQtd == 1 ? 'label.uh' : 'label.uhs') | translate }}
      </div>
      <div class="thf-u-font--20 thf-u-font--bold thf-u-color--blue">
        {{ currencySymbol }} {{ total * roomQtd | currencyFormat: ' ' }}
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-6">
          <app-button [buttonConfig]="cancelConfig"></app-button>
        </div>
        <div class="col-6">
          <app-button [buttonConfig]="confirmConfig"></app-button>
        </div>
      </div>
    </div>
  </div>
</div>
