<div class="thf-origin-list-wrapper">
  <div class="row align-items-center hp-list--header">
    <div class="col-4">
      <h2 class="hp-list-title thf-u-font--16 thf-u-font--bold thf-u-no-margin">
        {{ 'title.fiscalDocumentsParameter' | translate }}
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 thf-margin-0-auto parameter-box thf-u-margin-top--1">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
          <div class="thf-group-content">
            <div class="thf-group-content-header">
              <div class="d-flex justify-content-between">
                <div class="col-3 align-self-center">
                  <span class="align-self-center">
                    <i
                      class="align mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                    <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 ">
                      {{ 'label.general' | translate }}
                    </span>
                  </span>
                </div>
                <div class="col-3 align-self-center button-placeholder">
                  <app-button
                  *ngIf="showDownloadSetup"
                  [buttonConfig]="downloadButtonConfig"
                  ></app-button>
                </div>
              </div>
            </div>
            <div class="thf-group-content-body">
              <div class="row">
                <div class="col-12">
                  <form [formGroup]="parameterForm">
                    <div class="row">
                      <div class="col-2">
                        <label for="model"
                               class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required ">
                          {{'label.model' | translate}}
                        </label>
                        <app-select
                          [parent]="parameterForm"
                          [optionList]="modelList"
                          [selectId]="'model'"
                          [isUppercase]="false"
                          [hasFormGroup]="true"
                          [disabled]="!modelList || modelList.length == 1 || isEdit"
                          [hasBlankOption]="false"
                          >
                        </app-select>
                        <thx-error formControlName="model"></thx-error>
                      </div>
                      <div class="col-3">
                        <label for="serie"
                               class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
                          {{'label.rpsSerie' | translate: {'labelName': model} }}
                        </label>
                        <input type="text" id="serie" formControlName="serie"
                               [ngClass]="{'thf-u-no-pointer-events thf-u-background-color--grey-lighter thf-u-color-grey': isEdit}"
                               class="thf-input  thf-u-margin-top--1">
                        <thx-error formControlName="serie"></thx-error>

                      </div>
                      <div class="col-3">
                        <label for="lastNum"
                               class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
                          {{'label.lastNumRps' | translate: {'labelName': model} }}
                        </label>
                        <input type="text" id="lastNum" formControlName="lastNum"
                               [ngClass]="{'thf-u-no-pointer-events thf-u-background-color--grey-lighter thf-u-color-grey': isEdit}"
                               class="thf-input thf-u-margin-top--1">
                        <thx-error formControlName="lastNum"></thx-error>

                      </div>

                      <div class="col-3">
                        <label for="email"
                               class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
                          {{'label.emailRpsErroNotifications' | translate}}
                        </label>
                        <input type="text" id="email" formControlName="email" class="thf-input  thf-u-margin-top--1">
                        <thx-error formControlName="email"></thx-error>

                      </div>
                      <div class="col-1 thf-u-no-padding">
                        <label for="integration"
                               class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                          {{'label.integration' | translate}}
                        </label>
                        <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
                          <input id="integration" type="checkbox" formControlName="integration"
                                 class="thf-input-radio-button"/>
                          <label class="thf-u-vertical-align-super" for="integration">
                            <span class="ui"></span>
                          </label>
                        </div>
                        <thx-error formControlName="integration"></thx-error>
                      </div>
                    </div>

                    <div class="row thf-u-margin-top--2">
                      <div class="col-2 thf-u-no-padding">
                        <label for="allowsCancel"
                              class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                              {{'label.allowsCancel' | translate: {'labelName': model} }}
                        </label>
                        <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
                          <input id="allowsCancel" type="checkbox" formControlName="allowsCancel"
                                  class="thf-input-radio-button"/>
                          <label class="thf-u-vertical-align-super" for="allowsCancel">
                            <span class="ui"></span>
                          </label>
                        </div>
                        <thx-error formControlName="allowsCancel"></thx-error>
                      </div>
                      <div class="col-3" *ngIf="showFieldDaysForCancel">
                        <label for="daysForCancel"
                              class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
                              {{'label.daysForCancel' | translate: {'labelName': model} }}
                        </label>
                        <input type="text" id="daysForCancel" formControlName="daysForCancel" class="thf-input  thf-u-margin-top--1">
                        <thx-error formControlName="daysForCancel"></thx-error>
                      </div>
                      <div class="col-3" *ngIf="showCreditNote()">
                        <label for="childSerie"
                                class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
                          {{'label.creditNoteSerie' | translate }}
                        </label>
                        <input type="text" id="childSerie" formControlName="childSerie"
                                [ngClass]="{'thf-u-no-pointer-events thf-u-background-color--grey-lighter thf-u-color-grey': isEdit}"
                                class="thf-input  thf-u-margin-top--1">
                        <thx-error formControlName="childSerie"></thx-error>
                      </div>
                      <div class="col-3" *ngIf="showCreditNote()">
                        <label for="childLastNum"
                                class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
                                {{'label.creditNoteLastNumber' | translate }}
                        </label>
                        <input type="text" id="childLastNum" formControlName="childLastNum"
                                [ngClass]="{'thf-u-no-pointer-events thf-u-background-color--grey-lighter thf-u-color-grey': isEdit}"
                                class="thf-input thf-u-margin-top--1">
                        <thx-error formControlName="childLastNum"></thx-error>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12 thf-u-margin-top--2">
                        <label for="integration"
                                class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-required">
                          {{'label.rpsObservations' | translate: {'labelName': model} }}
                        </label>

                        <p-editor formControlName="obs" [style]="{'height':'100px'}">
                          <p-header>
                              <span class="ql-formats">
                                  <button class="ql-bold" aria-label="Bold"></button>
                                  <button class="ql-italic" aria-label="Italic"></button>
                                  <button class="ql-underline" aria-label="Underline"></button>
                              </span>
                          </p-header>
                        </p-editor>

                        <thx-error formControlName="obs"></thx-error>

                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row thf-u-margin-top--5">
    <fiscal-documents-associate-items-box
      [countrySubdivisionList]="countryServiceList"
      [billingItenList]="billingItenList"
      [(associatedItemsList)]="billingInvoicePropertySupportedTypeList"
      style="max-width: 100%;"
    ></fiscal-documents-associate-items-box>
  </div>

  <div class="row">
    <div class="col-4 offset-8">
      <div class="row">
        <div class="col-6">
          <app-button [buttonConfig]="cancelButtonConfig"></app-button>
        </div>
        <div class="col-6">
          <app-button [buttonConfig]="confirmButtonConfig"></app-button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-wrapper [modalId]="MODAL_ATTENTION" minWidth="710px" title="label.attention">
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row thf-u-font--16">
      <div class="col-12 thf-u-padding-vertical--1">
        {{ 'text.confirmAddParamsTitle' | translate }}
      </div>
      <div class="col-12 thf-u-color--danger thf-u-padding-top--2 thf-u-padding-vertical--3">
        {{ 'text.confirmAddParamsMessage' | translate }}
      </div>
    </div>
    <div class="thf-modal-footer">
      <div class="row justify-content-end">
        <div class="col-4">
          <app-button [buttonConfig]="buttonCancelConfig"></app-button>
        </div>
        <div class="col-4">
          <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
        </div>
      </div>
    </div>
  </div>
</app-modal-wrapper>
