<app-modal-wrapper
  modalId="newDataContact"
  [title]="modalTitle">

  <form [formGroup]="formDataGroup" (submit)="saveDataContact(formDataGroup)">
    <div class="thf-modal-body">
      <div class="row">
        <div class="col">
          <label for="name"
                 class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'clientModule.edit.contacts.columns.contactName' | translate}}
          </label>
          <input id="name" class="thf-input thf-u-margin-top--1" type="text"
                 formControlName="name">
        </div>
        <div class="col">
          <label for="occupationName"
                 class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'clientModule.edit.contacts.columns.function' | translate}}
          </label>
          <input id="occupationName" class="thf-input thf-u-margin-top--1" type="text"
                 formControlName="occupationName">
        </div>
        <div class="w-100"></div>
        <div class="thf-u-margin-vertical--1"></div>
        <div class="col">
          <label for="phoneNumber"
                 class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'clientModule.edit.contacts.columns.phone' | translate}}
          </label>
          <input id="phoneNumber" class="thf-input thf-u-margin-top--1" type="text"
                 formControlName="phoneNumber">
        </div>
        <div class="col">
          <label for="email"
                 class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'clientModule.edit.contacts.columns.email' | translate}}
          </label>
          <input id="email" class="thf-input thf-u-margin-top--1" type="text"
                 formControlName="email" email>
        </div>
      </div>
    </div>

    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <button (click)="toggleModal()" type="button" class="thf-btn thf-btn-secondary">{{ 'commomData.cancel' |
            translate }}
          </button>
        </div>
        <div class="col">
          <button data-qa-id="btnsavedatacontact" type="submit" [disabled]="formDataGroup.invalid"
                  class="thf-btn thf-btn-primary">{{ 'commomData.confirm' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>

<app-modal-wrapper
  modalId="removeContact"
  [title]="'clientModule.edit.contacts.delete'">

  <div class="thf-modal-body">
    <div class="row">
      <div class="col">
        <p class="thf-u-font--14 thf-u-text-center">{{ 'clientModule.edit.contacts.confirmDelete' | translate }}</p>
        <p class="thf-u-font--14 thf-u-font--bold thf-u-text-center">
          {{ itemToRemove?.name + ' - ' + itemToRemove?.occupationName }}
        </p>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <button (click)="toggleRemoveItem()" class="thf-btn thf-btn-secondary">
          {{ 'commomData.not' | translate }}
        </button>
      </div>
      <div class="col">
        <button data-qa-id="removeContact" (click)="removeItem()" class="thf-btn thf-btn-primary">
          {{ 'commomData.yes' | translate }}
        </button>
      </div>
    </div>
  </div>

</app-modal-wrapper>

<div class="thf-group-content">
  <div class="thf-group-content-header">
    <div class="row">
      <div class="col-4">
        <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
        <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
          {{ 'clientModule.edit.contacts.title' | translate }}
        </span>
      </div>
      <div class="col-4 text-center">
          <thx-searchbar name="searchFilter" *ngIf="hasDataContact"
          [placeholder]="'placeholder.searchByNamePhone'"
          (input)="search($event)">
        </thx-searchbar>
      </div>
      <div class="col-2">&nbsp;</div>
      <div class="col-2">
        <button type="button" name="button" class="thf-btn thf-btn--sm thf-btn-secondary"
                (click)="toggleModal()">
                {{ 'action.lbNew' | translate: {labelName: 'label.contact' | translate | lowercase} }}
        </button>
      </div>
    </div>
  </div>
  <div class="thf-group-content-body">
    <div class="row">
      <div class="col-12">

        <thx-datatable
          [columns]='columns'
          [itens]="contactList"
          [itemsOption]="itemsOption"
          (rowItemClicked)="goToEdit($event)"
          [emptyMessage]="'variable.emptyContentM.title' | translate: {labelName: 'label.contact' | translate | lowercase }"
          [emptyMessageContent]="'variable.emptyContentM.textDescription' | translate: {labelName: 'label.contact' | translate | lowercase }"
          (emptyLinkClicked)="toggleModal()"
        ></thx-datatable>
      </div>
    </div>
  </div>
</div>
