<div class="progress-bar__wrapper">
  <div class="progress-bar">
    <span class="progress-bar__percentage" [style.width.%]="percentage"></span>
  </div>
  <div class="progress-bar__status">
    <span class="progress-bar__label">{{ 'text.conclusion' | translate }}</span>
    <span class="progress-bar__value">{{percentage}}%</span>
  </div>
</div>
