.progress-bar {
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #d8d8d8;
  &__percentage {
    background: linear-gradient(to right, #1995cd ,#25c3d8);
    width: 0;
    height: 5px;
    display: block;
    border-radius: 5px;
  }
  &__status {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  &__label {
    color: #4a5055;
    font-size: 11px;
  }
  &__value {
    color: #0c9abe;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.55px;
  }
}
