.hps-beds-included-popover,
.hps-extras-bed-popover {
  width: 240px;
}

.hps-beds-included-popover {
  top: 1px;
  right: 0;
}

.hps-extras-bed-popover {
  bottom: 1px;
  right: 0;
}

@media screen and (min-width: 720px) and (max-width: 1199px) {
  .hps-single-line-md  div {
    display: inline;
  }
  .hps-no-top-margin-md {
    margin-top: 0px !important;
  }
}


/*TODO technical debit 9141 */
select.readonly,
select.readonly:disabled,
select.readonly:read-only:disabled {
  border: 0;
  color: var(--color-black);
  background: var(--color-white);
  box-shadow: none;
  opacity: 1;
  cursor: default;
}
