<div class="thf-card-reserve thf-card-reserve-footer thf-group-content-footer thf-u-color--white thf-u-no-padding thf-u-padding-horizontal--2" [formGroup]="parent">
  <div class="row">
    <div class="col-xl-3 col-md-4">
      <div class="row">
        <div class="hps-single-line-md col-xl-7 col-md-12 thf-u-padding-vertical--05">
          <div class="thf-u-font--bold thf-u-font--13">{{ 'reservationModule.reserveCreate.accommodationCode' | translate }}:</div>
          <div class="thf-u-font--bold thf-u-font--14 ">{{reduceAndGetCodeOfReservationItem(reservationItemView.code)}}</div>
        </div>
        <div class="hps-single-line-md col-xl-5 col-md-12 thf-u-padding-vertical--05">
          <div class="thf-u-font--bold thf-u-font--13">{{ 'reservationModule.reserveCreate.status' | translate }}:</div>
          <div class="thf-u-font--bold thf-u-font--14 ">{{reservationItemView.status | statusReservationText}}</div>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="row">
        <div class="hps-single-line-md col-xl-3 col-md-6 thf-u-padding-vertical--05">
          <div class="thf-u-font--bold thf-u-font--13">{{ 'reservationModule.reserveCreate.dailyTotal' | translate }}:</div>
          <div class="thf-u-font--bold thf-u-font--14 ">
            <span *ngIf="!isGratuityType">{{ currencySymbol }}</span>
            {{ getTotal() | currencyFormat: null:2:'.':',':3:false }}
          </div>
        </div>
        <div class="hps-single-line-md col-xl-7 col-md-10 thf-u-padding-vertical--05" >
          <div class="row">
            <div class="col-5">
              <div class="thf-u-font--bold thf-u-font--13">{{ 'label.codHigs' | translate }}:</div>
              <div class="thf-u-font--bold thf-u-font--14">
                <span>{{ reservationItemView?.externalReservationNumber }}</span>
                <span *ngIf="!reservationItemView?.externalReservationNumber && !readonly">
                        <a  (click)="editHigsCode()" class="thf-u-link thf-u-color--white" href="javascript:void(0)" role="button">{{ 'action.insert' | translate }}</a>
                      </span>
                <span><img *ngIf="!reservationItemView?.isMigrated && !readonly" (click)="editHigsCode()" class="thf-u-cursor--pointer  thf-u-padding-left--1 thf-u-filter-svg--white"
                           src="{{'pencil.min.svg' | imgCdn}}" alt="{{ 'commomData.images.pencil' | translate }}" ></span>
              </div>
            </div>
            <div class="col-5">
              <div class="thf-u-font--bold thf-u-font--13">{{ 'label.codPartner' | translate }}:</div>
              <div class="thf-u-font--bold thf-u-font--14">
                <span>{{ reservationItemView?.partnerReservationNumber }}</span>
                <span *ngIf="!reservationItemView?.partnerReservationNumber && !readonly">
                        <a  (click)="editHigsCode()" class="thf-u-link thf-u-color--white font-" href="javascript:void(0)" role="button">{{ 'action.insert' | translate }}</a>
                      </span>
                <span><img *ngIf="!reservationItemView?.isMigrated && !readonly" (click)="editHigsCode()" class="thf-u-cursor--pointer  thf-u-padding-left--1 thf-u-filter-svg--white"
                           src="{{'pencil.min.svg' | imgCdn}}" alt="{{ 'commomData.images.pencil' | translate }}" ></span>
              </div>
            </div>
          </div>

        </div>
        <div class="hps-single-line-md col-xl-2 col-md-12 thf-u-padding-vertical--05 d-flex align-items-center">
          <div class="d-flex align-items-center" *ngIf="isRoomList && !readonly">
            <img align="left" src="{{'roomlist_icon.svg' | imgCdn}}"
                 alt="{{ 'commomData.images.roomlist' | translate }}"/>
            <a (click)="goToRoomlist(reservationItemView)" href="javascript:void(0)"
               class="thf-u-margin-left--1 thf-u-color--white">
              {{'reservationModule.reserveCreate.linkToRoomlist' | translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 hps-no-top-margin-md thf-u-margin-top--2 thf-u-text-right">
      <div class="thf-u-position--relative">
        <div class="thf-u-position--absolute thf-u-z-index--1 hps-extras-bed-popover" [ngClass]="{'thf-u-hide': !reservationItemView.extrasBedPopoverIsVisible}"
             (click)="keepExtrasBedPopoverCardVisible($event, reservationItemView)">
          <span class="thf-u-margin-bottom--1"></span>
          <app-popover>
            <div class="arrow-position">
              <span class="thf-popover-arrow--right thf-popover-arrow--down"></span>
            </div>
            <div class="body-data">
              <div class="thf-u-padding--2">
                <div *ngIf="reservationItemView.formCard.get('hasCribBedTypeCard').value || reservationItemView.formCard.get('hasExtraBedTypeCard').value; else elseBlockextraBedsOrCribs">
                  <div class="thf-u-text-left">
                    <div *ngIf="reservationItemView.formCard.get('hasCribBedTypeCard').value; else elseBlockCribs">
                      <label for="cribed-capacity" class="thf-input-label thf-u-font--14 thf-u-font--bold">{{ 'hotelPanelModule.commomData.cribBedCapacity' | translate }}</label>
                      <div class="thf-input-group">
                        <div class="thf-input-group-label thf-input-select-group-icon-label ">
                                                    <span class="thf-input-group-label--img">
                                            <img src="{{'berco.min.svg' | imgCdn}}" alt="{{ 'commomData.images.cribBed' | translate }}"/>
                                        </span>
                        </div>
                        <div class="thf-input-select-group-icon-field">
                          <select formControlName="cribBedQuantityCard" id="cribed-capacity" class="thf-input thf-input-select"
                                  [ngClass]="{'readonly': readonly}"
                                  [disabled]="readonly">
                            <option *ngFor="let bedTypeOption of reservationItemView.cribBedQuantityList; let i = index" class="thf-input-select--option" [ngValue]="bedTypeOption">{{ bedTypeOption }}</option>
                          </select>
                          <img
                            *ngIf="!readonly"
                            src="{{'arrowdown-blue.min.svg' | imgCdn}}"
                            alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
                            class="thf-u-no-pointer-events thf-input-select-icon"/>
                        </div>
                        <ng-template #elseBlockCribs>
                          <span class="thf-u-font--bold thf-u-font--2">{{ 'reservationModule.commomData.thereIsNoCrib' | translate }}</span>
                        </ng-template>
                      </div>
                    </div>
                    <div *ngIf="reservationItemView.formCard.get('hasExtraBedTypeCard').value; else elseBlockExtrasBed">
                      <label for="extra-bedCapacity" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">{{ 'hotelPanelModule.commomData.extraBedCapacity' | translate }}</label>
                      <div class="thf-input-group">
                        <div class="thf-input-group-label thf-input-select-group-icon-label">
                                                    <span class="thf-input-group-label--img">
                                                <img src="{{'camaSolteiro.min.svg' | imgCdn}}" alt="{{ 'commomData.images.singleBed' | translate }}"/>
                                            </span>
                        </div>
                        <div class="thf-input-select-group-icon-field">
                          <select formControlName="extraBedQuantityCard" id="extra-bedCapacity" class="thf-input thf-input-select"
                                  [ngClass]="{'readonly': readonly}"
                                  [disabled]="readonly">
                            <option *ngFor="let bedTypeOption of reservationItemView.extraBedQuantityList; let i = index" class="thf-input-select--option" [ngValue]="bedTypeOption">{{ bedTypeOption }}</option>
                          </select>
                          <img
                            *ngIf="!readonly"
                            src="{{'arrowdown-blue.min.svg' | imgCdn}}"
                            alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
                            class="thf-u-no-pointer-events thf-input-select-icon"/>
                        </div>
                        <ng-template #elseBlockExtrasBed>
                          <span class="thf-u-font--bold thf-u-font--2">{{ 'reservationModule.commomData.thereIsNoExtraBed' | translate }}</span>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #elseBlockextraBedsOrCribs>
                  <span class="thf-u-font--bold thf-u-font--2 thf-u-color-grey-darker">{{ 'reservationModule.commomData.thereIsNoExtrasBedOrCrib' | translate }}</span>
                </ng-template>
              </div>
            </div>
            <footer class="footer-data">
              <h4 class="thf-u-no-margin thf-u-font--14 thf-u-font--bold">{{ 'hotelPanelModule.commomData.accommodationExtra' | translate }}</h4>
            </footer>
          </app-popover>
        </div>
      </div>
      <a class="thf-link thf-u-color--white thf-u-font--14" href="javascript:void(0)" (click)="showOrHideExtrasBedPopoverCard($event, reservationItemView)">{{ 'reservationModule.reserveCreate.extraBedsOrCribs' | translate }}</a>
    </div>
  </div>
</div>

<app-modal-wrapper
  [modalId]="reservationItemView.id"
  [title]="'label.integrationCodes'">

  <div class="thf-modal-body">
    <!-- first row -->
    <form  [formGroup]="integrationForm">
      <div class="row">
        <div class="col-6">
          <label for="codHigs"
                 class=" thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{
            'label.codHigs' | translate }}
          </label>
          <input id="codHigs" formControlName="externalReservationNumber"
                 class="thf-u-text-center thf-input thf-u-type-number-reset"
                 type="text"
                 [readOnly]="readonly">
        </div>
        <div class="col-6">
          <label for="codPartner"
                 class=" thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{
            'label.codPartner' | translate }}
          </label>
          <input id="codPartner" formControlName="partnerReservationNumber"
                 class="thf-u-text-center thf-input thf-u-type-number-reset "
                 type="text"
                 [readOnly]="readonly">
        </div>
      </div>
    </form>
    <!-- end row -->
  </div>
  <div
    *ngIf="!readonly"
    class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelModal"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmModal"></app-button>
      </div>
    </div>
  </div>

</app-modal-wrapper>
