<!-- modal include -->
<app-modal-wrapper
  modalId="channel-modal"
  [maxWidth]="'650px'"
  [title]="modalTitle">
  <form [formGroup]="formModalNew">
    <div class="thf-modal-body">
      <!-- first row -->
      <div class="row">
        <div class="col-6 thf-u-margin-bottom--1">
          <label for="channelCodeId"
                 class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.code' | translate}}
          </label>
          <app-select
            id="channelCodeId"
            [parent]="formModalNew"
            [optionList]="codeOptionList"
            [selectId]="'channelCodeId'"
            [hasMagin]="false"
            [isUppercase]="false"
            [hasFormGroup]="true">
          </app-select>
          <thx-error formControlName="channelCodeId"></thx-error>
        </div>
        <div class="col-6 thf-u-margin-bottom--1">
          <label for="description"
                 class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.description' | translate}}
          </label>
          <input id="description" class="thf-input" type="text" formControlName="description"/>
          <thx-error formControlName="description"></thx-error>
        </div>

        <!-- second line -->

        <div class="col-6 thf-u-margin-bottom--1">
          <label for="businessSourceId"
                 class="thf-u-no-margin  thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.defaultOrigin' | translate}}
          </label>
          <app-select
            id="businessSourceId"
            [parent]="formModalNew"
            [optionList]="originList"
            [selectId]="'businessSourceId'"
            [hasMagin]="false"
            [isUppercase]="false"
            [hasFormGroup]="true">
          </app-select>
          <thx-error formControlName="businessSourceId"></thx-error>
        </div>

        <div class="col-6 thf-u-margin-bottom--1">
          <label for="businessSourceId"
                 class="thf-u-no-margin  thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.defaultSegment' | translate}}
          </label>
          <app-select
            id="marketSegmentId"
            [parent]="formModalNew"
            [optionList]="marketSegmentListOptionList"
            [selectId]="'marketSegmentId'"
            [hasMagin]="false"
            [isUppercase]="false"
            [hasFormGroup]="true">
          </app-select>
          <thx-error formControlName="businessSourceId"></thx-error>
        </div>

        <div class="col-4">
          <label for="distributionAmount"
                 class="thf-u-no-margin  thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.costDistribution' | translate}}
          </label>
          <input
            currencyMask
            class="thf-input" type="text" id="distributionAmount"
            formControlName="distributionAmount"/>
          <thx-error formControlName="distributionAmount"></thx-error>
        </div>

        <div class="col-2">
          <label for="isActive"
                 class="thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required thf-u-no-margin ">
            {{'label.isActive' | translate}}
          </label>
          <div app-click-stop-propagation class="thf-u-z-index--1">
            <input type="checkbox"
                   formControlName="isActive"
                   class="thf-input-radio-button"
                   id="isActive"/>
            <label class="thf-u-vertical-align-middle" for="isActive">
              <span class="ui"></span>
            </label>
          </div>
        </div>

      </div>
      <!-- end row -->
    </div>
    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <app-button [buttonConfig]="buttonCancelModalConfig"></app-button>
        </div>
        <div class="col">
          <app-button [buttonConfig]="buttonSaveModalConfig"></app-button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>
