<app-header-page-new [config]="configHeaderPage" [hasFilter]="true">
  <header-title>{{'entryTypeModule.service.pagelist.header.title' | translate }}</header-title>
  <app-filter-search [searchableItems]="searchableItems" (searchUpdated)="updateList($event)"></app-filter-search>
  <text-button>{{'entryTypeModule.service.pagelist.header.buttonAdd' | translate}}</text-button>
  <icon-button>
    <i class="mdi mdi-plus"></i>
  </icon-button>
</app-header-page-new>

<thx-datatable
  [columns]='columns'
  [itens]="pageItemsList"
  [itemsOption]="itemsOption"
  statusIdentifier="id"
  (statusChanged)="updateStatus($event)"
  (rowItemClicked)="goToEditPage($event)"
  [emptyMessage]="'variable.emptyContentM.title' | translate: { labelName: 'label.service' | translate | lowercase }"
  [emptyMessageContent]="'variable.emptyContentM.textDescription' | translate: { labelName: 'label.service' | translate | lowercase }"
  (emptyLinkClicked)="goToNewPage()"
></thx-datatable>
