
<app-header-page-new [config]="configHeaderPage">
    <header-title>{{ pageTitle | translate }}</header-title>
</app-header-page-new>

<form
    id="parentForm"
    [formGroup]="parentForm">
    <div class="row">
      <div class="col-12">
        <div class="thf-group-content">

          <!-- header one -->
          <div class="thf-group-content-header">
            <div class="row">
              <div class="col-11">
                <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">{{ 'label.customerDataClientStation' | translate }}</span>
              </div>
            </div>
          </div>

          <div class="thf-group-content-body">
            <div class="row">

                <!-- auto complete client name -->
                <div class="col-5">
                    <label for="clientStationMatrix"
                        class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-bottom--1 thf-u-margin-top--1">
                        {{ 'label.customerClientMatrix' | translate }}
                    </label>

                    <app-autocomplete
                        data-qa-id="clientStationMatrix"
                        [autocompleteConfig]="autocompleteConfig"
                        [resultList]="autocompleteResultList"
                        [id]="'clientStationMatrix'"
                        [controlName]="'clientStationMatrix'"
                        [parent]="parentForm">
                    </app-autocomplete>

                    <thx-error formControlName="clientStationMatrix"></thx-error>
                </div>

                <!-- station name -->
                <div class="col-3">
                  <label for="stationName"
                    class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                    {{ 'label.customerNameOfStation' | translate }}
                  </label>
                  <input
                    id="stationName"
                    formControlName="stationName"
                    class="thf-input thf-u-margin-top--1"
                    type="text" />
                    
                  <thx-error formControlName="stationName"></thx-error>
                </div>

                <!-- social name field -->
                <div class="col-4">
                  <label for="socialName" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                    {{ 'label.customerSocialName' | translate }}
                  </label>
                  <input
                    id="socialName"
                    formControlName="socialName"
                    class="thf-input thf-u-margin-top--1"
                    type="text" />
                    
                  <thx-error formControlName="socialName"></thx-error>
                </div>

                <!-- next items -->
                <!-- select -->
                <div class="col-4">
                  <label for="subsidiaryCategory"
                          class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                      {{ 'label.customerSubsidiaryCategory' | translate }}
                  </label>

				  <div class="thf-u-margin-top--1">
	                  <app-select
	                      [parent]="parentForm"
	                      [optionList]="subsidiaryCategoryList"
	                      [selectId]="'subsidiaryCategory'"
	                      [isUppercase]="false"
	                      [hasFormGroup]="true"
	                      [hasMagin]="false">
	                  </app-select>
                  </div>
                  
                  <thx-error formControlName="subsidiaryCategory"></thx-error>
                </div>

                <!-- home page -->
                <div class="col-4">
                  <label for="socialName" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                    {{ 'label.customerHomerPage' | translate }}
                  </label>
                  <input
                    id="homePage"
                    formControlName="homePage"
                    class="thf-input thf-u-margin-top--1"
                    type="text" />
                    
                  <thx-error formControlName="homePage"></thx-error>
                </div>

                <!-- isActive -->
                <div class="col-2 thf-u-text-center">
                  <label for="isActive" class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                    {{ 'label.active' | translate }}
                  </label>
                  <div
                    app-click-stop-propagation
                    class="thf-u-z-index--1 thf-u-margin-top--1">
                    <input id="isActive" type="checkbox" formControlName="isActive" class="thf-input-radio-button" />
                    <label class="thf-u-vertical-align-super" for="isActive">
                      <span class="ui"></span>
                    </label>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

	<div class="row thf-u-margin-top--1">
		<div class="col-12">
			<!--  wrapper to modal address edit -->
			<app-client-address 
				data-qa-id="clientaddress" 
				[(addresses)]="dataSend.locationList">
			</app-client-address>
		</div>
	</div>
	
	<div class="row thf-u-margin-top--1">
		<div class="col-12">
			<app-client-document 
				data-qa-id="clientdocument" 
				[personType]="parentForm.controls.personType"
		        [(documents)]="dataSend.documentList">
		    </app-client-document>
	    </div>
    </div>
    
    <div class="row thf-u-margin-top--1">
		<div class="col-12">
		    <app-client-data-contact 
		         [(contacts)]="dataSend.companyClientContactPersonList">
		    </app-client-data-contact>
    	</div>
    </div>
    
    <div class="thf-u-margin-vertical--3"></div>

    <div class="row">
      <div class="col offset-8">
        <button
        	(click)="cancelFormAction()" 
        	role="button" data-qa-id="btncancelclient"
           	class="thf-btn thf-btn-secondary thf-btn-link">
           	{{ 'commomData.cancel' | translate }}
         </button>
      </div>
      <div class="col">
        <button 
        	data-qa-id="btnsaveclient" 
        	class="thf-btn thf-btn-primary thf-btn-link" 
        	(click)="saveFormAction()"
            [disabled]="checkIsValid()">
            {{ 'commomData.confirm' | translate }}
        </button>
      </div>
    </div>
</form>
