<app-modal-wrapper [modalId]="recalculateReservationItemModalId" [title]="'title.recalculateBudgetReservationItem'">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col-12">
        <p class="thf-u-color--red thf-u-font--16">
          {{'text.recalculateReservationItemDescription' | translate}}
        </p>
      </div>
    </div>
    <div class="row thf-u-margin-top--1">
      <div class="col-12">
        <p class="thf-u-font--bold thf-u-font--16">{{'text.recalculateReservationItemConfirm' | translate}}</p>
      </div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="offset-6 col-3">
        <app-button [buttonConfig]="cancelRecalculateReservationItemButtonConfig"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="confirmRecalculateReservationItemButtonConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<div class="thf-group-content-header thf-u-padding--2 thf-card-room-list">
  <div class="row">
    <div class="col-7 thf-u-font--22">
      {{'label.reservationItemBudget' | translate}} {{reservationItem?.reservationItemCode}}
    </div>
    <div class="col-4 offset-1">
      <app-button [buttonConfig]="openModalRecalculateReservationItemButtonConfig"></app-button>
    </div>
  </div>
</div>
