@import "./variables";

:host {
  display: block;
  height: 100%;
}

.container-wrapper {
  padding: 20px 5px 20px 15px;
  border-radius: 4px;
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .container-title {
    margin-bottom: 20px;
    text-transform: uppercase;

    .title {
      font-weight: bold;
      line-height: 19px;
      margin-right: 5px;
    }

    .counter {
      font-size: 10px;
      letter-spacing: 0.5px;
      line-height: 14px;
    }
  }

  .list {
    flex: 1;
    overflow-y: auto;
    padding: 0 5px 0 0;

    &::-webkit-scrollbar {
      width: 5px;
      background: transparent;
      margin: 0 2px 0 0;
    }

    &::-webkit-scrollbar-thumb{
      background-color: $grey-color--20;
      border-radius: 100px;
      outline: 1px solid $grey-color--20;
    }
  }
}
