<div class="container-wrapper thex-font-family thex-grey-10 thex-bg">
  <div class="container-title thex-color-grey-50">
    <span class="title thex-font-size-items-two">{{ title }}</span>
    <span *ngIf="limit"
      class="counter">{{ getItemsLength() }} / {{ limit }}
    </span>
  </div>

  <ng-template
    [ngIf]="items?.length"
    [ngIfElse]="empty"
  >
    <div class="list">
      <div *ngFor="let item of items">
        <ng-container *ngTemplateOutlet="itemTemplate; context: { item: item }"></ng-container>
      </div>
    </div>
  </ng-template>

  <ng-template #empty>
    <ng-template [ngTemplateOutlet]="emptyTemplate"></ng-template>
  </ng-template>
</div>
