<div class="thf-group-content">
  <div class="col-12">
    <label class="thf-u-no-margin">
      <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
      <span
        class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
          {{ 'label.consultReports' | translate }}
      </span>
    </label>
  </div>

  <div class="thf-group-content-body">
    <form [formGroup]="reportGuestFormGroup">
      <div class="row">

        <div class="col-4">
          <report-menu
            [formGroupAppSelect]="reportGuestFormGroup">
          </report-menu>
        </div>

        <div class="col-4 thf-u-text-center">
          <label
            for="pensionControl"
            class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'label.pensionControl' | translate }}
          </label>
          <div
            app-click-stop-propagation
            class="thf-u-z-index--1 thf-u-margin-top--2">
            <input
              formControlName="pensionControl"
              id="pensionControl"
              type="checkbox"
              (change)="pensionControlChange($event)"
              class="thf-input-radio-button" />
            <label class="thf-u-vertical-align-super" for="pensionControl">
              <span class="ui"></span>
            </label>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-4">
          <label for="typeOfGuest"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--2">
            {{ 'label.typeOfGuest' | translate }}
          </label>
          <app-select
            id="typeOfGuest"
            [selectId]="'typeOfGuest'"
            [parent]="reportGuestFormGroup"
            [optionList]="typeOfGuestList"
            [hasBlankOption]="false"
            [hasFormGroup]="true">
          </app-select>
        </div>
        
        <div class="col-4" *ngIf="showControlReport">
          <label for="printingOfMeals"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--2">
            {{ 'label.printingOfMeals' | translate }}
          </label>
          <app-select
            id="printingOfMeals"
            [selectId]="'printingOfMeals'"
            [parent]="reportGuestFormGroup"
            [optionList]="printingOfMealsList"
            [hasBlankOption]="false"
            [hasFormGroup]="true">
          </app-select>
        </div>
      </div>
    </form>
  </div>
</div>
<div>
  <pension-control
    [filter]="filters"
    *ngIf="showControlReport; else guestInTheHouse">
  </pension-control>

  <ng-template #guestInTheHouse>
    <guests-in-the-house
      [filter]="filters">
    </guests-in-the-house>
  </ng-template>
</div>
