@font-face {
    font-family: "icons";
    src: url("./icons.eot?9c498c8464185fae0fad3c3132ce22cc?#iefix") format("embedded-opentype"),
url("./icons.woff2?9c498c8464185fae0fad3c3132ce22cc") format("woff2"),
url("./icons.woff?9c498c8464185fae0fad3c3132ce22cc") format("woff"),
url("./icons.ttf?9c498c8464185fae0fad3c3132ce22cc") format("truetype"),
url("./icons.svg?9c498c8464185fae0fad3c3132ce22cc#icons") format("svg");
}

i {
    line-height: 1;
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-account:before {
    content: "\f101";
}
.icon-arrow-top:before {
    content: "\f102";
}
.icon-arrowdown-blue:before {
    content: "\f103";
}
.icon-baby-buggy-white:before {
    content: "\f104";
}
.icon-baby-buggy:before {
    content: "\f105";
}
.icon-bed_blue:before {
    content: "\f106";
}
.icon-bed_checkin:before {
    content: "\f107";
}
.icon-block:before {
    content: "\f108";
}
.icon-busca_menu:before {
    content: "\f109";
}
.icon-cama-reversivel-blue:before {
    content: "\f10a";
}
.icon-cama-solteiro-blue:before {
    content: "\f10b";
}
.icon-change-date-big:before {
    content: "\f10c";
}
.icon-change-date:before {
    content: "\f10d";
}
.icon-check-circle-outline-blue:before {
    content: "\f10e";
}
.icon-check-circle-outline-white:before {
    content: "\f10f";
}
.icon-check-ok:before {
    content: "\f110";
}
.icon-chevron-right:before {
    content: "\f111";
}
.icon-child-icon:before {
    content: "\f112";
}
.icon-circles:before {
    content: "\f113";
}
.icon-clear:before {
    content: "\f114";
}
.icon-clock-big:before {
    content: "\f115";
}
.icon-close:before {
    content: "\f116";
}
.icon-configuracoes_menu:before {
    content: "\f117";
}
.icon-credit-card:before {
    content: "\f118";
}
.icon-empresa_icon:before {
    content: "\f119";
}
.icon-error-copy:before {
    content: "\f11a";
}
.icon-event-gray:before {
    content: "\f11b";
}
.icon-event:before {
    content: "\f11c";
}
.icon-governanca_menu:before {
    content: "\f11d";
}
.icon-guest:before {
    content: "\f11e";
}
.icon-home:before {
    content: "\f11f";
}
.icon-home_menu:before {
    content: "\f120";
}
.icon-hospedagem_menu:before {
    content: "\f121";
}
.icon-hospede_icon:before {
    content: "\f122";
}
.icon-hotel:before {
    content: "\f123";
}
.icon-incomplete:before {
    content: "\f124";
}
.icon-info:before {
    content: "\f125";
}
.icon-input-error:before {
    content: "\f126";
}
.icon-input-success:before {
    content: "\f127";
}
.icon-loading-thick:before {
    content: "\f128";
}
.icon-lock-outline:before {
    content: "\f129";
}
.icon-logo_totvs_aberto_menu:before {
    content: "\f12a";
}
.icon-logo_totvs_fechado_menu:before {
    content: "\f12b";
}
.icon-occupation:before {
    content: "\f12c";
}
.icon-op_caixa_menu:before {
    content: "\f12d";
}
.icon-pencil:before {
    content: "\f12e";
}
.icon-person:before {
    content: "\f12f";
}
.icon-print:before {
    content: "\f130";
}
.icon-rate:before {
    content: "\f131";
}
.icon-reativar_icon:before {
    content: "\f132";
}
.icon-recalcular-acomodacao-icon:before {
    content: "\f133";
}
.icon-recalcular-reserva-btn:before {
    content: "\f134";
}
.icon-reserva_menu:before {
    content: "\f135";
}
.icon-reservation-to-confirm:before {
    content: "\f136";
}
.icon-rm-icon:before {
    content: "\f137";
}
.icon-rm_icon_menu:before {
    content: "\f138";
}
.icon-roomlist_icon:before {
    content: "\f139";
}
.icon-rotate-right:before {
    content: "\f13a";
}
.icon-schedule-gray:before {
    content: "\f13b";
}
.icon-schedule:before {
    content: "\f13c";
}
.icon-stop:before {
    content: "\f13d";
}
.icon-swap-horiz:before {
    content: "\f13e";
}
.icon-tarifa-grey:before {
    content: "\f13f";
}
.icon-tarifa:before {
    content: "\f140";
}
.icon-unexpected-room-permanency:before {
    content: "\f141";
}
