<app-header-page [config]="configHeaderPage"></app-header-page>

<div class="container">
  <form [formGroup]="formDataGroup">

    <app-client-basic-data
      data-qa-id="clientdata"
      [formDataGroup]="formDataGroup"
      [isPersonTypeL]="isPersonTypeL"></app-client-basic-data>

    <div class="thf-u-margin-vertical--2"></div>

    <app-client-address
      data-qa-id="clientaddress"
      [(addresses)]="dataSend.locationList"
      (updateComercialAddress)="updateComercialAddress($event)"></app-client-address>

    <div class="thf-u-margin-vertical--2"></div>

    <app-client-document
      data-qa-id="clientdocument"
      [personType]="formDataGroup.controls.personType"
      [(documents)]="dataSend.documentList"
      [countrySubdivisionId]="comercialAddress?.countrySubdivisionId"
      [countryCode]="comercialAddress?.countryCode"></app-client-document>

    <div class="thf-u-margin-vertical--2"></div>

    <app-client-data-contact
      data-qa-id="clientcontact"
      *ngIf="isPersonTypeL"
      [(contacts)]="dataSend.companyClientContactPersonList"></app-client-data-contact>

    <!--<app-client-data-place [(places)]="dataSend.customerStation"></app-client-data-place>-->

    <div class="thf-u-margin-vertical--2"></div>

    <app-client-data-channel
      data-qa-id="clientchannel"
      [(channels)]="dataSend.companyClientChannelList"></app-client-data-channel>

    <div class="thf-u-margin-vertical--3"></div>

    <div class="row">
      <div class="col offset-8">
        <a href="javascript:void(0)" (click)="cancelFormAction()" role="button" data-qa-id="btncancelclient"
           class="thf-btn thf-btn-secondary thf-btn-link">{{ 'commomData.cancel' | translate }}</a>
      </div>
      <div class="col">
        <button data-qa-id="btnsaveclient" class="thf-btn thf-btn-primary thf-btn-link" (click)="saveFormAction()"
                [disabled]="checkIsValid()">{{ 'commomData.confirm' | translate }}
        </button>
      </div>
    </div>

  </form>
</div>
