<div (click)="hideAllPopovers()">
    <app-billing-account-edit-header [reservationItemId]="billingAccountHeader?.reservationItemId" [billingAccountSidebarList]="billingAccountSidebarList " [billingAccountHeader]="billingAccountHeader" (notifyChange)="reload()" ></app-billing-account-edit-header>

    <div class="thf-u-margin-top--2"></div>

    <div class="row">
        <div class="col-3">
            <app-sidebar-guest-billing-account [billingAccountCardList]="billingAccountCardList"
                                               (clickBillingAccount)="setBillingAccount($event)">
            </app-sidebar-guest-billing-account>
        </div>
        <div class="col-9">
            <app-billing-account-detail [reservationStatus]="billingAccountHeader?.reservationItemStatusId" [billingAccountList]="billingAccountSidebarList" [reservationItemId]="billingAccountHeader?.reservationItemId" [billingAccountWithAccount]="billingAccountWithAccount"
                                        (updateBillingAccountAndHeaderAndCardList)="setBillingAccountAndHeaderAndCardList($event)"></app-billing-account-detail>
        </div>
    </div>
</div>
