<div
  class="thf-u-margin-vertical--2 thf-group-content thf-u-padding--2"
  *ngIf="searchedResult$ | async as result"
>
  <p class="thf-u-font--bold">
    <span class="highlight">Data e Hora do Último Processamento -</span>
    <span>{{result.lastProcessDate | amDateFormat:'L - LT'}}</span>
  </p>

  <thx-datatable
    [itens]="result.items"
    [columns]="columns"
    [tableHasScroll]="true"
    [rowsLimit]="pageSize"
    [externalPaging]="true"
    [count]="result.totalItems"
    [offset]="page - 1"
    (page)="setPage($event)"
    (rowItemClicked)="clickedRow.emit($event)"
    columnMode="flex"
  ></thx-datatable>
</div>

<ng-template
  #statusCellTemplate
  let-row="row"
  ngx-datatable-cell-template
>
  <app-status-dot [status]="row.status"></app-status-dot>
</ng-template>
