:host {
  display: flex;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid var(--color-grey-athens);
  background: white;
  justify-content: space-between;
  text-align: center;
  padding: 8px 30px 6px 36px;
}

.title {
  font-size: 12px;
  color: var(--color-card-gradient-final);
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
}

.navigation {
  display: flex;

  > .item {
    height: 100%;
    display: flex;
    color: var(--color-gray-text);
    align-items: center;

    &:not(:last-child):after {
      content: '';
      height: 100%;
      width: 1px;
      background: var(--color-grey-lighter);
      margin: 0 9px;
    }

    > .clickable {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  .system-date {
    padding: 0 10px;
    display: flex;
    height: 100%;
    align-items: center;

    > .icon {
      height: 13px;
      margin-right: 10px;
    }

    > .date {
      font-size: 12px;
    }
  }

  .language {
    padding: 0 10px;
    > .label {
      font-size: 12px;
      margin-right: 6px;
    }

    > .icon {
      margin-right: 6px;
    }
  }

  .profile {
    padding: 0 10px;
    > .greetings {
      font-size: 12px;
      margin: 0 6px 0 0;
    }
  }

  .how-to {
    padding: 0 10px;
    display: flex;
    width: 44px;
    height: 24px;

    > .icon {
      width: 100%;
      height: 100%;
    }
  }
}
