<h1 class="title">{{propertyName}}</h1>
<div class="navigation">
  <div class="item">
    <app-user-language-selection
      (updateUserLanguage)="updateUserLanguage($event)"
      [currentLanguage]="languageFlag"
      [languageList]="languageList">
    </app-user-language-selection>
  </div>

  <div
    class="item"
    *ngIf="properties?.length"
  >Hoteis</div>

  <div class="item">
    <div
      class="clickable profile"
      thxPopover
      app-click-stop-propagation
      [thxPopover]="popoverLogoutTemplate"
      closeOnClick="true"
    >
      <p class="greetings">
        {{ 'sharedModule.topBar.hello' | translate }} {{ user?.name }}
      </p>
      <img
        src="{{'arrowdown-blue.min.svg' | imgCdn}}"
        alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
      />
    </div>
  </div>
</div>

<ng-template #popoverLogoutTemplate>
  <ul class="top-bar-menu-options--list thf-u-reset-list">
    <li (click)="logout()">{{'action.logout' | translate}}</li>
  </ul>
</ng-template>
