@import "./variables";

:host {
  display: block;
  position: relative;
  font-family: $font-family;
  font-size: $items-type-two-font-size;
  color: $grey-color--60;
  height: 100%;
  min-height: 52px;

  .box-area {
    overflow: hidden;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    position: absolute;
  }

  textarea, textarea:focus {
    resize: none;
    border:none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    padding: 10px 3px;
    font-size: $items-type-two-font-size;
    color: $grey-color--60;
  }

  .info-text {
    padding: 0 7px;
    font-size: $font-small;
  }
}
