<thx-input-base
  [title]="title"
  [infoText]="infoText"
  [isLabelTopMode]="isLabelTopMode()"
  [required]="required"
  [disabled]="disabled"
  [control]="control"
  [autoHeight]="true"
  [counter]="limitCounter"
  [hasFocus]="inFocus"
>
  <div class="box-area">
    <textarea [(ngModel)]="value"
              (focus)="inputFocus()"
              (blur)="inputBlur()"
              (keyup)="counter()"
              (ngModelChange)="valueChange($event)"
              maxlength="limit"  ></textarea>
  </div>
</thx-input-base>
