<app-sidebar-scroll-fixed>
  <div class="thf-card-room-list">
    <div class="row thf-u-padding--1">
      <div class="col-10">
        <span class="thf-u-font--bold thf-u-font--14">{{'text.reservationItemList' | translate}}</span>
        <span class="thf-u-font--bold thf-u-font--14 thf-u-color--blue">( {{reservationBudgetCardList?.length}} )</span>
      </div>
      <div class="col-2">
        <img class="thf-u-enable-cursor" title="{{ 'guestModule.commomData.accommodationCode' | translate }} - {{ 'guestModule.commomData.guestName' | translate }}"
          src="{{'info.svg' | imgCdn}}" alt="{{ 'commomData.images.infoIcon' | translate }}">
      </div>
    </div>
    <div class="thf-u-padding--1">
      <input id="filter" [(ngModel)]="filterGuestName" class="thf-input" type="text" placeholder="{{ 'commomData.search' | translate }}">
    </div>
  </div>
  <ul class="thf-u-reset-list">
    <li *ngFor="let reservationBudgetCard of reservationBudgetCardList | filterlist:filterGuestName:filterParameters:filterParentObjectName"
      class="thf-card-room-list thf-u-padding--2 thf-u-cursor--pointer" [ngClass]="{'thf-card-room-list--active thf-u-color--white': reservationBudgetCard.isActive}">
      <reservation-budget-card [reservationBudgetCard]="reservationBudgetCard" (click)="chooseItem(reservationBudgetCard)">
      </reservation-budget-card>
    </li>
  </ul>
</app-sidebar-scroll-fixed>
