.thx-input{
    background: var(--color-white);
    border: 1px solid var(--color-grey);
    box-shadow: inset 1px 1px 3px 3px var(--color-shadow-input);
    border-radius: 3px;
    max-height: 44px;
    min-height: 44px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;

     /* with icon case */
     &.thx-input-icon-text--right{
        padding-left: 50px;
    }

    /* disabled case */
    &:disabled {
        cursor: not-allowed;
        background: var(--color-grey-sauvignon);
    }

}
