<app-header-page-new [config]="configHeaderPage" [hasFilter]="true">

  <header-title> {{ 'title.createLevel' | translate }}</header-title>

  <thx-searchbar
  name="searchFilter"
  [placeholder]="'variable.searchByName' | translate: {name: 'placeholder.searchByCodeDescription' | translate }"
  (input)="search($event)">
</thx-searchbar>

  <text-button>
    {{ 'action.lbNew' | translate: {labelName: 'label.level' | translate} }}
  </text-button>

  <icon-button (click)="openFormModal()">
    <i class="mdi mdi-plus"></i>
  </icon-button>

</app-header-page-new>


<thx-datatable
  [columns]='columns'
  [itens]="levelList"
  [itemsOption]="itemsOption"
  statusIdentifier="id"
  (statusChanged)="updateStatus($event)"
  (rowItemClicked)="rowItemClicked($event)"
  [emptyMessage]="'text.levelListEmpty'"
  [emptyMessageContent]="'text.levelListEmptyDescripion'"
  (emptyLinkClicked)="openFormModal()">
</thx-datatable>

<app-level-modal-form
(confirm)="returnModal($event)">
</app-level-modal-form>
<app-level-modal-delete
  (deleted)="loadData()"
></app-level-modal-delete>
