:host{
  display: block;
}

.title-line {
  border-bottom: 2px solid var(--color-blue-lighter);
}

.fixed-resume-card{
  bottom: 0;
  display: block;
  position: fixed;
  left: 65px;
  right: 15px;
}

.fixed-resume-card-at-bottom{
  bottom: 45px;
}

.card-list-with-fixed{
  margin-bottom: 100px;
}


