<app-header-page-new [enableBackButton]="true">
  <header-title>
    {{ 'title.rateProposal' | translate }}
  </header-title>
</app-header-page-new>

<app-group-content [title]="'label.reservationData'">
  <app-rate-proposal-search-form (search)="search($event)"></app-rate-proposal-search-form>
</app-group-content>

<div *ngIf="rateProposalList">
  <div class="row justify-content-between align-content-center thf-u-margin-vertical--2 title-line">
    <div class="col thf-u-no-padding">
      <h3 class="thf-u-font--18 thf-u-font--bold thf-u-color--blue">
        {{ 'title.rateList' | translate }}
      </h3>
    </div>
    <div class="col thf-u-no-padding thf-u-text-right">
      {{ 'label.orderBy' | translate }}:
      <a href="javascript:void(0)" (click)="orderBy()">
        {{getOrderTypeName(orderType) | translate }}
      </a>
    </div>
  </div>

  <div class="card-list-with-fixed">
    <app-rate-proposal-card-list
      [rateProposalList]="rateProposalList"
      (rateProposalSelected)="setRateProposalSelected($event)"
    ></app-rate-proposal-card-list>
  </div>
  <div
    #resumeCard
    *ngIf="rateProposalItemSelected"
    class="fixed-resume-card">
    <app-rate-proposal-resume-card
      [roomQtd]="rateProposalSearch.roomQtd"
      [currencySymbol]="rateProposalItemSelected?.currencySymbol"
      [dailyAverage]="rateProposalItemSelected?.budgetConfig?.averageDaily"
      [dailyNumber]="rateProposalItemSelected?.budgetConfig?.dateListFromPeriod.length || 0"
      [total]="rateProposalItemSelected?.budgetConfig?.reservationItemCommercialBudgetCurrent.totalBudget"
      [rateProposalSearch]="rateProposalSearch"
      [rateProposalItemSelected]="rateProposalItemSelected"
    ></app-rate-proposal-resume-card>
  </div>
</div>
