<app-modal-wrapper
  *ngIf="currentCommercialBudgetList && currentCommercialBudgetSelectedItemKey"
  [modalId]="reservationItemCardBudgetModalId"
  [showHeader]="false"
  [minWidth]="'950px'">
  <div class="thf-modal-header">
    <h2 class="thf-u-font--25">
      {{ 'label.reservationItemBudget' | translate }}
    </h2>
  </div>
  <app-reservation-budget
    [propertyId]="propertyId"
    [reservationStatus]="currentReservationItem.status"
    [isMigrated]="currentReservationItem.isMigrated"
    [period]="currentPeriod"
    [commercialBudgetList]="currentCommercialBudgetList"
    [commercialBudgetSelectedItem]="currentCommercialBudgetSelectedItemKey"
    [selectedReservationBudgetList]="currentSelectedReservationBudgetList"
    [originalReservationBudgetListSaved]="currentOriginalReservationBudgetList"
    [gratuityTypeSelected]="currentGratuityType"
    (cancelClicked)="cancelBudgetModal($event)"
    (confirmedClicked)="confirmBudgetModal($event)">
  </app-reservation-budget>
</app-modal-wrapper>

<div class="thf-card-reserve-content thf-u-margin-bottom--1"
     *ngFor="let reservationItemView of reservationItemViewList | filterlist:searchData:searchParams; let i=index"
     [ngClass]="{'thf-u-disabled--box': reservationItemView.isCanceledStatus}">
  <form
    novalidate
    [formGroup]="reservationItemView.formCard"
    (click)="hidePopoversCard(reservationItemView); setStatusAndDisableOrEnableGuests(reservationItemView)">
    <input
      type="checkbox"
      id="card-{{i}}"
      (change)="setFocusCard(reservationItemView, i)"
      [checked]="!reservationItemView.focus"
      class="thf-group-toogle-body thf-u-z-index--1000"/>

    <reservation-item-card-header
      [reservationItemView]="reservationItemView"
      [index]="i"
      [isCanceledStatus]="reservationItemView.isCanceledStatus"
      [readonly]="readonly"
      (showBudgetModal)="showBudgetModalForReservationItemViewExistent($event)"
      (deleteReservationItem)="deleteReservationItem($event)"
      (reactivateReservationItemEvent)="reactivateReservationItem($event)"
      (sendBudgetForReservationItemCard)="onSendBudgetForReservationCreate($event)"
      (callBudgetModalOnCard)="setReservationItemCommercialBudgetAndCallBudgetModal($event, i, 'header')">
    </reservation-item-card-header>

    <div class="thf-group-content-body thf-u-z-index--100 thf-u-no-padding">
      <reservation-item-card-body
        [isRoomTypeWithoutBaseRate]="isRoomTypeWithoutBaseRate"
        [companyClientId]="companyClientId"
        [reservationItemView]="reservationItemView"
        [readonly]="readonly"
        (saveReservation)="saveReservation($event)"
        (setNewValuesForBudgetConfig)="setReservationItemCommercialBudgetAndCallBudgetModal($event, i)">
      </reservation-item-card-body>
    </div>

    <div [ngClass]="reservationItemView.statusColorFooter">
      <reservation-item-card-footer
        [ngClass]="{'thf-u-no-pointer-events': reservationItemView.isCanceledStatus}"
        [parent]="reservationItemView.formCard"
        [reservationItemView]="reservationItemView"
        [isRoomList]="reservationItemViewList.length > 1"
        [readonly]="readonly">
      </reservation-item-card-footer>
    </div>
  </form>
</div>
