<div [formGroup]="formModal">
  <div class="row thf-u-margin-top--2">
    <div class="col" formGroupName="postDebit" app-click-stop-propagation>
      <label
        class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
        {{'commomData.service' | translate }}
      </label>
      <thx-custom-dropdown
        [optionList]="billingItemServiceSelectList"
        [placeholderText]="'text.selectService'"
        formControlName="billingItemServiceId"
        (clear)="removeBillingItemServiceFromSelect()"
        (choose)="changeBillingItemServiceInSelect($event)"
      >
      </thx-custom-dropdown>
    </div>
  </div>
  <div class="row thf-u-margin-top--2">
    <div class="col-4" formGroupName="postDebit">
      <label for="price"
             class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
        {{'billingAccountModule.commomData.value' | translate }} {{'commomData.r$' | translate}}
      </label>
      <input id="price" formControlName="priceWithoutTax" class="thf-input thf-u-margin-top--1" type="text" currencyMask
             [options]="optionsCurrencyMask"
             [autocomplete]="'off'"/>
    </div>
    <div class="col-8 label-and-taxs">
      <label
        class="thf-u-margin-bottom--1 thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
        {{'billingAccountModule.commomData.associatedTaxs' | translate }}
      </label>
      <div class="overflow-modal-list">
        <div *ngFor="let tax of billingItemTaxServiceAssociateList">
          <label class="thf-u-no-margin thf-input-label thf-u-font--12 thf-u-font--bold thf-u-color--blue">
            {{tax.name}}:{{tax.taxPercentage}}%</label>
        </div>
        <div *ngIf="billingItemTaxServiceAssociateList == null || billingItemTaxServiceAssociateList.length == 0">
          {{'billingAccountModule.commomData.withoutTax' | translate}}
        </div>
      </div>
    </div>
  </div>
</div>
