<div class="icon-text-infobox">
    <div
      class="icon-infobox"
      *ngIf="src || forceIcon"
    >
      <thx-img
        class="icon-img"
        *ngIf="src"
        [src]="src"
        [title]="title"
        [alt]="alt || title"
        [style]="{'height.px': 16}"
      ></thx-img>
    </div>
    <div class="text-infobox">
      <p class="text-label">{{title}}</p>
      <p
        class="text-count"
        *ngIf="count != null"
      >{{count > 0 ? (count | number:'2.0-0') : '--'}}</p>
    </div>
</div>
