.icon-text-infobox {
  width:100%;
  display:flex;
}

.icon-infobox {
  height: 17px;
  width: 44px;

  > .icon-img {
    display: flex;
    height: 17px;
  }
}

.text-infobox {
  flex: 1;

  > .text-label {
    margin: 0;
    height: 17px;
    font-size:13px;
    color: #717678;
    text-align: left;
    line-height: 17px;
    font-family: "Nunito Sans", sans-serif;
  }

  > .text-count {
    font-size: 14px;
    color: #2D3434;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    height: 17px;
    line-height: 17px;
  }
}
