<div class="thf-u-margin-top--3">
    <ngx-datatable
        #myTable
        class='material material-padding-default'
        [columnMode]="'flex'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="25"
        [rows]='rows'
        [rowClass]="getRowClass">
        <!-- Row Detail Template -->
        <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
            <ng-template let-row="row" ngx-datatable-row-detail-template>
                <div class="thf-u-background-color--grey-athens">
                    <tr class="datatable-body-row thf-u-background-color--grey-athens" [style.height.px]="45" *ngFor="let billingAccountChildrenItem of row.billingAccountChildrenItems">
                        <td class="datatable-body-cell default-cell-padding" [style.width.px]="widthColumns[0]">&nbsp;</td>
                        <td class="datatable-body-cell default-cell-padding" [style.width.px]="widthColumns[1]">&nbsp;</td>
                        <td class="datatable-body-cell default-cell-padding" [style.width.px]="widthColumns[2]">&nbsp;</td>
                        <td class="datatable-body-cell default-cell-padding" [style.width.px]="widthColumns[3]">{{billingAccountChildrenItem.billingItemName}}</td>
                        <td class="datatable-body-cell default-cell-padding" [style.width.px]="widthColumns[4]" [ngClass]="{'thf-u-color--green':billingAccountChildrenItem?.total >= 0, 'thf-u-color--red': billingAccountChildrenItem?.total < 0}">{{billingAccountChildrenItem.total | currencyFormat: billingAccountChildrenItem?.currencySymbol}}</td>
                    </tr>
                </div>
            </ng-template>
        </ngx-datatable-row-detail>
        <!-- Column Templates -->
        <ngx-datatable-column
            [width]="50"
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                <a href="javascript:void(0)"
                    [class.datatable-icon-right]="!expanded"
                    [class.datatable-icon-down]="expanded"
                    title="Expand/Collapse Row"
                    (click)="toggleExpandRow(row)"
                    *ngIf="row.billingAccountChildrenItems && row.billingAccountChildrenItems.length > 0">
                </a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column
            [resizeable]="false"
            [sortable]="false"
            [draggable]="false"
            [canAutoResize]="false"
            [width]="50">
            <ng-template ngx-datatable-header-template>
            </ng-template>
            <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                <span *ngIf="row?.isChecked">
                  <img [ngClass]="{'thf-u-filter-brightness--50': transferWasCompleted}" class="hps-img-check" src="{{'check-ok.min.svg' | imgCdn}}" alt="{{ 'img.checkOk' | translate }}" />
                </span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="1" [cellClass]="getCellClass"  >
            <ng-template ngx-datatable-header-template>
                {{ 'billingAccountModule.releaseTable.dateHour' | translate }}
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span [ngClass]="{'thf-u-color--grey-submarine': row.isChecked && !transferWasCompleted && !isOriginAccount}">{{row?.billingAccountItemDate | date: 'dd/MM/yyyy' }} {{'commomData.at' | translate}} {{getHoursAndMinutes(row?.billingAccountItemDate)}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="1" [cellClass]="getCellClass">
            <ng-template ngx-datatable-header-template>
                {{ 'billingAccountModule.releaseTable.release' | translate }}
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <span [ngClass]="{'thf-u-color--grey-submarine': row.isChecked && !transferWasCompleted && !isOriginAccount}">{{row?.billingItemName}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="1" [cellClass]="getCellClass">
            <ng-template ngx-datatable-header-template>
                {{ 'billingAccountModule.releaseTable.value' | translate }}
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
                <span [ngClass]="{'thf-u-color--green': row?.total >= 0 && (isOriginAccount || !row.isChecked),
                            'thf-u-color--red': row?.total < 0 && (isOriginAccount || !row.isChecked),
                            'thf-u-color--grey-submarine': row.isChecked && !transferWasCompleted && !isOriginAccount}">{{row?.total | currencyFormat: row.currencySymbol}}</span>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-footer>
            <ng-template
                ngx-datatable-footer-template
                let-rowCount="rowCount"
                let-pageSize="pageSize"
                let-selectedCount="selectedCount"
                let-curPage="curPage"
                let-offset="offset">
                    <datatable-pager
                    [pagerLeftArrowIcon]="'datatable-icon-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right'"
                    [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'"
                    [page]="curPage"
                    [size]="pageSize"
                    [count]="rowCount"
                    (change)="myTable.onFooterPage($event)">
                    </datatable-pager>
            </ng-template>
        </ngx-datatable-footer>
    </ngx-datatable>
  </div>
