<div class="thx-group">
  <div class="thx-group-header">
    <p
      class="thx-group-header-title"
      (click)="toggleContentVisibility()"
    >
      <i
        class="thf-icon thf-icon-arrow-down thx-group-header-title-icon"
        [ngClass]="{'is-open': isOpen}"
      ></i>
      {{title}}
    </p>
    <div class="thx-group-header-actions">
      <ng-content select=".thx-group-header-actions"></ng-content>
    </div>
  </div>
  <div
    class="thx-group-content"
    *ngIf="isOpen"
  >
    <ng-content></ng-content>
  </div>
</div>
