.thx-group {
  border: 1px solid var(--color-grey-whisper);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--color-white);
}

.thx-group-header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 8px 54px 8px 21px;
  width: 100%;
}

.thx-group-header-title {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-family: "NunitoSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  margin: 0;
}

.thx-group-header-title-icon {
  transition: ease transform .5s;
  border: none;
  display: block;
  height: 14px;
  margin: 0 10px 0 0;
  outline: none;
  transform: rotate(0deg);
  width: 14px;
}

.thx-group-header-title-icon.is-open {
  transform: rotate(180deg);
}

.thx-group-header-actions {

}

.thx-group-content {
  border-top: 1px solid var(--color-grey-lighter);
  padding: 16px 35px 12px;
}
