<thx-datatable
  id="premise-datatable-insert"
  [itens]="itemsList"
  [hasLastCell]="false"
  [rowHeight]="64"
  [headerHeight]="48"
  [columns]="columns"></thx-datatable>

<ng-template #title let-row="row">
  <div>
    <div
      class="thf-u-font--13 thf-u-font--bold"
      [ngClass]="{'thf-u-color--orange': row?.isReference, 'thf-u-color-grey-darker': !row?.isReference}">
      {{ row?.abbreviation }}
    </div>
  </div>
</ng-template>


<ng-template #header1>
  <div>{{ 'label.children' | translate }}</div>
  <div>{{ ageText1 }}</div>
</ng-template>


<ng-template #header2>
  <div>{{ 'label.children' | translate }}</div>
  <div>{{ ageText2 }}</div>
</ng-template>

<ng-template #header3>
  <div>{{ 'label.children' | translate }}</div>
  <div>{{ ageText3 }}</div>
</ng-template>


<ng-template #paxOne let-row="row">
  <div
    class="thf-u-font--bold thf-u-color--orange text-line-height"
    *ngIf="row?.hasPax1 && row?.isReference && _selectedPaxAmount == 1">
    {{ 'text.reference' | translate | uppercase }}
  </div>
  <app-premise-operator
    [inputValue]="row?.pax1"
    [initialValue]="row?.pax1Operator"
    (changeOperator)="changeValue($event, row, 1, OPERATOR)"
    (valueChangedEmitter)="changeValue($event, row, 1, VALUE)"
    *ngIf="(row?.hasPax1 && _selectedPaxAmount != 1) || (row?.hasPax1 && !row?.isReference)" >
  </app-premise-operator>
</ng-template>


<ng-template #paxTwo let-row="row">
  <div
    class="thf-u-font--bold thf-u-color--orange text-line-height"
    *ngIf="row?.hasPax2 && row?.isReference && _selectedPaxAmount == 2">
    {{ 'text.reference' | translate | uppercase }}
  </div>
  <app-premise-operator
    [inputValue]="row?.pax2"
    [initialValue]="row?.pax2Operator"
    (changeOperator)="changeValue($event, row, 2, OPERATOR)"
    (valueChangedEmitter)="changeValue($event, row, 2, VALUE)"
    *ngIf="(row?.hasPax2 && _selectedPaxAmount != 2) || (row?.hasPax2 && !row?.isReference)" >
  </app-premise-operator>
</ng-template>

<ng-template #paxThree let-row="row">
  <div
    class="thf-u-font--bold thf-u-color--orange text-line-height"
    *ngIf="row?.hasPax3 && row?.isReference && _selectedPaxAmount == 3">
    {{ 'text.reference' | translate | uppercase }}
  </div>
  <app-premise-operator
    [inputValue]="row?.pax3"
    [initialValue]="row?.pax3Operator"
    (changeOperator)="changeValue($event, row, 3, OPERATOR)"
    (valueChangedEmitter)="changeValue($event, row, 3, VALUE)"
    *ngIf="(row?.hasPax3 && _selectedPaxAmount != 3) || (row?.hasPax3 && !row?.isReference)" >
  </app-premise-operator>
</ng-template>

<ng-template #paxFour let-row="row">
  <div
    class="thf-u-font--bold thf-u-color--orange text-line-height"
    *ngIf="row?.hasPax4 && row?.isReference && _selectedPaxAmount == 4">
    {{ 'text.reference' | translate | uppercase }}
  </div>
  <app-premise-operator
    [inputValue]="row?.pax4"
    [initialValue]="row?.pax4Operator"
    (changeOperator)="changeValue($event, row, 4, OPERATOR)"
    (valueChangedEmitter)="changeValue($event, row, 4, VALUE)"
    *ngIf="(row?.hasPax4 && _selectedPaxAmount != 4) || (row?.hasPax4 && !row?.isReference)" >
  </app-premise-operator>
</ng-template>

<ng-template #paxFive let-row="row">
  <div
    class="thf-u-font--bold thf-u-color--orange text-line-height"
    *ngIf="row?.hasPax5 && row?.isReference && _selectedPaxAmount == 5">
    {{ 'text.reference' | translate | uppercase }}
  </div>
  <app-premise-operator
    [inputValue]="row?.pax5"
    [initialValue]="row?.pax5Operator"
    (changeOperator)="changeValue($event, row, 5, OPERATOR)"
    (valueChangedEmitter)="changeValue($event, row, 5, VALUE)"
    *ngIf="(row?.hasPax5 && _selectedPaxAmount != 5) || (row?.hasPax5 && !row?.isReference)" >
  </app-premise-operator>
</ng-template>

<ng-template #paxAdditional let-row="row">
  <div
    class="thf-u-font--bold thf-u-color--orange text-line-height"
    *ngIf="row?.hasPaxAdditional && row?.isReference && _selectedPaxAmount > 5">
    {{ 'text.reference' | translate | uppercase }}
  </div>
  <app-premise-operator
    [inputValue]="row?.paxAdditional"
    [initialValue]="row?.paxAdditionalOperator"
    (changeOperator)="changeValue($event, row, 6, OPERATOR)"
    (valueChangedEmitter)="changeValue($event, row, 6, VALUE)"
    *ngIf="(row?.hasPaxAdditional && _selectedPaxAmount < 5) || (row?.hasPaxAdditional && !row?.isReference)">
  </app-premise-operator>
</ng-template>


<ng-template #child1 let-row="row">
  <app-premise-operator
    [inputValue]="row?.child1"
    [initialValue]="row?.child1Operator"
    (changeOperator)="changeValue($event, row, 7, OPERATOR)"
    (valueChangedEmitter)="changeValue($event, row, 7, VALUE)"
    *ngIf="row?.hasChild1">
  </app-premise-operator>
</ng-template>

<ng-template #child2 let-row="row">
  <app-premise-operator
    [inputValue]="row?.child2"
    [initialValue]="row?.child2Operator"
    (changeOperator)="changeValue($event, row, 8, OPERATOR)"
    (valueChangedEmitter)="changeValue($event, row, 8, VALUE)"
    *ngIf="row?.hasChild2">
  </app-premise-operator>
</ng-template>

<ng-template #child3 let-row="row">
  <app-premise-operator
    [inputValue]="row?.child3"
    [initialValue]="row?.child3Operator"
    (changeOperator)="changeValue($event, row, 9, OPERATOR)"
    (valueChangedEmitter)="changeValue($event, row, 9, VALUE)"
    *ngIf="row?.hasChild3">
  </app-premise-operator>
</ng-template>
