
<!-- modal add/edit -->
<products-modal-group-edit-add
  (saveOrEditCompleted)="loadData()"
  #modalAddEdit>
</products-modal-group-edit-add>

<!-- modal delete -->
<products-modal-group-delete
  (saveOrEditCompleted)="loadData()"
  #modalDelete>
</products-modal-group-delete>

<!-- header component -->
<app-header-page-new [config]="configHeaderPage" [hasFilter]="true">

  <!-- header title -->
  <header-title> {{ 'title.groupsProductsNew' | translate }}</header-title>


  <!-- search bar -->
  <thx-searchbar
    name="searchFilter"
    [placeholder]="'placeholder.searchByDescriptionGroupGroupFix'"
    (input)="search($event)">
  </thx-searchbar>

  <!-- the button txt -->
  <text-button>{{'productModule.listGroup.header.buttonNew' | translate}}</text-button>

  <!-- the modal btn -->
  <icon-button>
    <i class="mdi mdi-plus"></i>
  </icon-button>

</app-header-page-new>


<thx-datatable
  [columns]='columns'
  [itens]="pageItemsList"
  statusIdentifier="id"
  [itemsOption]="itemsOption"
  (statusChanged)="updateStatus($event)"
  (rowItemClicked)="rowItemClicked($event)"
  [emptyMessage]="'text.noneProductGroup'"
  [completeEmptyMessageContent]="'text.noneProductGroupDescription'"
  >
  <ng-template #rowAssociatedPos let-row="row" let-rowIndex="rowIndex"  ngx-datatable-cell-template>
    <div class="no-submenu-options" [title]="row.associatedPos">
      {{ row.associatedPos }}
    </div>
  </ng-template>
</thx-datatable>

