<thx-steps>
  <thx-step *ngFor="let step of steps" [color]="step.color">
    <i [class]="step.icon"></i>
    <h4>{{ step.title | translate }}</h4>
    <p [style.color]="step.color ? 'inherit' : 'grey'">{{ step.description | translate }}</p>
  </thx-step>
</thx-steps>
