<app-header-page-new [config]="configHeaderPage" [hasFilter]="true">
  <header-title>
    {{'title.posRegister' | translate }}
    <img align="middle" class="thf-u-enable-cursor thf-u-valign--top img-info"
         title="{{'title.posRegister' | translate }} - {{ 'label.pointOfSale' | translate }}"
         src="{{'info.svg' | imgCdn}}"
         alt="{{ 'commomData.images.infoIcon' | translate }}">
  </header-title>
  <thx-searchbar name="filterSearch"
                 [placeholder]="'placeholder.byDescriptionAndGroup'"
                 (search)="updateList($event)"
                 ngDefaultControl>
  </thx-searchbar>
  <text-button>{{ 'action.lbNew' | translate: {labelName: 'label.pos' | translate} }}</text-button>
  <icon-button>
    <i class="mdi mdi-plus"></i>
  </icon-button>
</app-header-page-new>

<thx-datatable
  [columns]='columns'
  [itens]="filteredItems"
  [itemsOption]="itemsOption"
  statusIdentifier="id"
  (statusChanged)="updateStatus($event)"
  (rowItemClicked)="goToEditPage($event)"
  [emptyMessage]="'variable.emptyContentM.title' | translate: {labelName: 'label.pos' | translate}"
  [emptyMessageContent]="'variable.emptyContentM.textDescription' | translate: {labelName: 'label.pos' | translate}"
  (emptyLinkClicked)="goToNewPage()"
></thx-datatable>
