.parameter-box {
    margin-bottom: 10px;
}
.thf-list .thf-list-item {
    align-items: center;
    padding: 10px 0px;
    border-top: 1px solid var(--color-grey-whisper);;
}
.item-input-container {
    text-align: center;
}
.thf-list-item .item-title-container {
    margin-left: 25px;
}
.thf-list-item .item-input-container input {
    text-align: center;
}