<div class="row align-items-center thf-u-margin-vertical--2"  >
    <div class="col-10">
      <span class="thf-u-font--bold thf-u-font--16">
        {{ 'hotelPanelModule.propertyEdit.propertyParameter.title' | translate }}
      </span>
    </div>
</div>

<div class="col-xl-12 parameter-box"  *ngFor="let group of parametersGroupList" >
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12">
          <div class="thf-group-content">
            <input type="checkbox" class="thf-group-toogle thf-u-z-index--1000"/>
            <div class="thf-group-content-header">
              <div class="row">
                <div class="col-md-11 col-lg-11 col-xl-11">
                  <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                  <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">{{ group.featureGroupName }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 thf-list" *ngFor="let param of group?.parameters">
                <div class="row thf-list-item">
                    <div class="col-md-2 col-xl-1" *ngIf="someInGroupCanInactive(group.featureGroupId)" >
                      <div *ngIf="param.canInactive" >
                        <input type="checkbox" [(ngModel)]="param.isActive" (ngModelChange)="changeStatus(param)"
                               class="thf-input-radio-button" id="{{param.id}}"/>
                        <label class="thf-u-vertical-align-super" for="{{param.id}}">
                          <span class="ui"></span>
                        </label>
                      </div>
                    </div>
                    <div class="col item-title-container thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold"  >{{ param.parameterDescription }}</div>

                    <div class="col-md-5 col-xl-4 item-input-container"  *ngIf="!isGroupChilden(group.featureGroupId)" >
                        <app-parameter-input-type
                          [disabled]="fieldMustBeDisabled(param)"
                          [parameter]="param"
                          (changeParam)="saveParameters($event)"
                          (changeError)="toastError($event)">
                        </app-parameter-input-type>
                    </div>

                    <div class="col-md-5 col-xl-4 item-input-container" *ngIf="isGroupChilden(group.featureGroupId)" >
                      <div class="row">
                        <div class="col d-flex justify-content-center align-items-center ">{{ param.propertyParameterMinValue }}</div>
                        <div class="col d-flex justify-content-center align-items-center "> a </div>
                        <div class="col-xl-5 col-md-4">
                          <app-parameter-input-type
                            [parameter]="param"
                            [customValidation]="ageRangeValidator"
                            (inputValueChange)="childAgeChange($event, param)"
                            (changeParam)="saveParameters($event)"
                            (changeError)="toastError($event)">
                          </app-parameter-input-type>
                        </div>
                        <div class="col d-flex justify-content-center align-items-center ">
                          {{ 'label.years' | translate }}
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
