<div class="thf-origin-list-wrapper">
  <div class="row align-items-center hp-list--header">
    <div class="col">
      <h2 class="hp-list-title thf-u-font--16 thf-u-font--bold thf-u-no-margin">
        {{ 'title.fiscalDocumentsParameter' | translate }}
      </h2>
    </div>
    <div class="col-3 ml-auto">
      <app-button [buttonConfig]="newDocumentButtonConfig"></app-button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <thx-datatable
        *ngIf="showTable"
        [columns]='columns'
        [itens]="pageItemsList"
        [itemsOption]="itemsOptions"
        [emptyMessage]="'label.noneFiscalDocuments'"
        [emptyMessageContent]="'label.fiscalDocumentsEmptyComplement'"
        (emptyLinkClicked)="newDocument()"
      ></thx-datatable>
    </div>
  </div>
</div>
