<app-header-page [config]="configHeaderPage" [searchableItems]="searchableItems"
                 (searchUpdated)="updateList($event)"></app-header-page>

<div class="thf-u-margin-top--2"></div>

<div class="row">
  <div class="col-12">
    <thx-datatable
      *ngIf="hasClient"
      [columns]='columns'
      [itens]="pageItemsList"
      statusIdentifier="id"
      (statusChanged)="updateStatus($event)"
      (rowItemClicked)="goToEditPage($event)">
    </thx-datatable>

    <app-empty-content-wrapper *ngIf="!hasClient">
      <content-title>{{'clientModule.list.thereAreNoClients.title' | translate}}</content-title>
      <content-description>
        {{'clientModule.list.thereAreNoClients.textDescription' | translate}}
        <span class="thf-u-font--bold">"{{'clientModule.list.thereAreNoClients.textBold' | translate}}"</span>
        {{'clientModule.list.thereAreNoClients.textComplement' | translate}}
      </content-description>
    </app-empty-content-wrapper>
  </div>
</div>
