<div class="launcher-shopping-cart-wrapper">
  <div class="row row-without-margin">
    <div class="col-4 thf-u-font-uppercase thf-u-font--10 launcher-header-item">
      {{ 'text.service' | translate }}
    </div>
    <div class="col-3 thf-u-font-uppercase thf-u-font--10 launcher-header-item">
      {{ 'text.quantity' | translate }}
    </div>
    <div class="col-3 thf-u-font-uppercase thf-u-font--10 launcher-header-item">
      {{ 'text.value' | translate }}
    </div>
  </div>

  <div class="row">
    <ng-container
      [ngTemplateOutlet]='( shoppingChartList && shoppingChartList.length > 0 ) ? cart : empty'
      [ngTemplateOutletContext]="{list: shoppingChartList}">
    </ng-container>
  </div>
</div>

<ng-template #empty>
  <billing-item-empty-cart></billing-item-empty-cart>
</ng-template>

<ng-template #cart let-list="list">
  <div
    id="cart-wrapper"
    class="cart-wrapper thf-u-margin-vertical--1">
    <launcher-shopping-chart-item-row
      class="card-item-host"
      *ngFor="let item of list"
      [currencySymbol]="currencySymbol"
      (valueChangeEvent)="valueChange($event)"
      (removeItemEvent)="removeItem($event)"
      [item]="item">

    </launcher-shopping-chart-item-row>

  </div>
</ng-template>
