$backgroundWidth: calc(100% - 15px);
$angle: 90deg;

@mixin background($orientation) {
  background: linear-gradient(
      $angle,
      var(--color-white) 15px,
      var(--color-white-launcher-product-chart-#{$orientation}) 15px,
      var(--color-white-launcher-product-chart-#{$orientation}) $backgroundWidth,
      var(--color-white) $backgroundWidth
  );
}

.launcher-shopping-cart-wrapper{
  margin-left: 15px;

  .launcher-header-item{
    color: var(--color-blue) !important;
  }

  .cart-wrapper{
    min-height: 40vh;
    max-height: 40vh;
  }

  .cart-wrapper{
    overflow-y: auto;
    width: 100%;

    .card-item-host{
      display: block;
    }

    :nth-child(odd){
      @include background('odd');
    }

    :nth-child(even){
      @include background('even');
    }
  }
}
