<div class="row" [formGroup]="parent">
  <div class="col-4 col-lg-3">
    <label for="holder"
           class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">{{
      'commomData.creditCard.holder' | translate }}</label>
    <input id="holder"
           type="text"
           formControlName="holder"
           class="thf-input"
           [readOnly]="readonly">
    <thx-error formControlName="holder"></thx-error>

  </div>

  <div class="col-2 col-lg-2">
    <label for="banner"
           class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">{{
      'commomData.creditCard.banner' | translate }}</label>
    <app-select
      [parent]="parent.get('selectValueBanner')"
      [optionList]="bannerOptionList"
      [selectId]="'banner'"
      [isUppercase]="false"
      [hasFormGroup]="true"
      [hasMagin]="false"
      [readonly]="readonly">
    </app-select>
    <thx-error [control]="parent?.get('selectValueBanner')?.get('banner')"></thx-error>
  </div>

</div>
