<thx-header-page-new [enableBackButton]="true">
  <thx-header-title> {{ 'title.registerPremises' | translate }}</thx-header-title>
</thx-header-page-new>


<div class="row">
  <div class="col-12">
    <div class="thf-group-content">
      <!-- header one -->
      <div class="thf-group-content-header">
        <div class="row">
          <div class="col-11">
            <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
            <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
              {{ 'label.generalConfig' | translate }}
            </span>
          </div>
        </div>
      </div>

      <!-- content -->
      <div class="thf-group-content-body">
        <div class="row">

          <!-- code -->
          <div class="col-2">
            <label for="premise"
              class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine 
                thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
              {{ 'label.premise' | translate }}
            </label>

          </div>

          
            

        </div>
      </div>



    </div>
  </div>
</div>
<!--
<label for="period" 
  class="thf-input-label thf-u-margin-top--1 thf-u-no-margin thf-u-font--14 thf-u-font--bold 
  thf-input-label--grey-submarine thf-input-label--required">
  {{ 'reservationModule.commomData.period' | translate }}
</label>
<thx-date-range-picker id="period" formControlName="period" class="thf-u-no-margin" [minDateToday]="true"></thx-date-range-picker>
-->              

<thf-select
  name="select"
  t-label="Totvs Select"
  [t-options]="[{label: 'Option 1', value: '1'}, {label: 'Option 2', value: '2'}]">
</thf-select>

<!--base-rate-table 
  (roomTypeWithBaseRateUpdatedList)="setRoomTypeWithBaseRateUpdatedList($event)"
  [propertyParameterList]="propertyParameterList"
  [roomTypeWithBaseRateList]="roomTypeWithBaseRateList">
</base-rate-table-->
