<div class="thf-u-margin-top--1" *ngIf="pageItemsList && pageItemsList.length > 0">
  <!-- header and search -->
  <app-header-page-new
    [hasFilter]="true">

    <header-title>
      <span>{{ 'title.guestsInTheHouse' | translate }}</span>
    </header-title>

    <thx-searchbar
      name="filterSearch"
      [placeholder]="'placeholder.filterByNumberUHGuestPenstionTypeOrReserve'"
      (search)="updateList($event)"
      ngDefaultControl>
    </thx-searchbar>
  </app-header-page-new>

  <div class="thf-u-margin-vertical--1">
    <!-- display the table -->
    <thx-datatable
      [columns]='columns'
      [itens]="pageItemsList"
      [hasLastCell]="false"
      [tableHasScroll]="true"
      [columnMode]="'auto'"
      (rowItemClicked)="goToEditReservationPage($event)">
    </thx-datatable>
  </div>
</div>


<!-- the totalizers info -->
<div class="thf-u-margin-top--1"
     *ngIf="totalItemsList && totalItemsList.length > 0 && mealTotalItemsList && mealTotalItemsList.length > 0">
  <!-- header and search -->
  <app-header-page-new
    [hasFilter]="false">
    <header-title>
      <span>{{ 'title.totalizers' | translate }}</span>
    </header-title>
  </app-header-page-new>

  <div class="row">
    <!-- first column -->
    <div class="col-6">
      <thx-datatable
        [columns]='totalColumns'
        [itens]="totalItemsList"
        [hasLastCell]="false"
        [footerHeight]="0">
      </thx-datatable>
    </div>
    <!-- second column -->
    <div class="col-6">
      <thx-datatable
        [columns]='mealColumns'
        [itens]="mealTotalItemsList"
        [hasLastCell]="false"
        [footerHeight]="0">
      </thx-datatable>
    </div>
  </div>
</div>

<div class="row thf-u-margin-vertical--1">
  <div class="offset-9 col-3 thf-u-margin-top--2">
    <button
      (click)="print()"
      class="thf-btn thf-u-no-padding thf-btn-primary"
      type="button">
      {{ 'action.print' | translate }}
    </button>
  </div>
</div>

<div #table [hidden]="true">
  <div class="row">
    <div class="col">
      <app-printable-table
        [columnsName]="columns"
        [items]="pageItemsList"
        [title]="'label.guestInTheHouse' | translate"
      ></app-printable-table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="title-total">{{ 'title.totalizers' | translate }}</h2>
    </div>
    <div class="col">
      <app-printable-table
        [columnsName]="totalColumns"
        [items]="totalItemsList"
        [showPropertyName]="false"
        [showDateHour]="false"
      ></app-printable-table>
    </div>
    <div class="col">
      <app-printable-table
        [columnsName]="mealColumns"
        [items]="mealTotalItemsList"
        [showPropertyName]="false"
      ></app-printable-table>
    </div>
  </div>
</div>
