<app-header-page-new>
  <header-title>
    {{'propertyModule.availabilityGrid.title' | translate }}
  </header-title>
</app-header-page-new>

<form id="availabilityGridFilterForm" [formGroup]="availabilityGridFilterForm">
  <div class="col-12">
    <div class="thf-group-content">
      <div class="thf-group-content-header">
        <div class="row">
          <div class="col-11">
            <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
            <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">{{ 'propertyModule.availabilityGrid.filter' | translate }}</span>
          </div>
        </div>
      </div>
      <div class="thf-group-content-body">
        <div class="row">
          <div id="availabilityGridFilterForm-date" class="col-6 col-lg-4">
            <label
              class="thf-u-block thf-u-margin-top--1 thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
              {{'propertyModule.availabilityGrid.date' | translate }}
            </label>
            <thx-datepicker formControlName="initialDate" id="initialDate"></thx-datepicker>
            <thx-error formControlName="initialDate"></thx-error>
          </div>

          <div id="availabilityGridFilterForm-period" class="col-6 col-lg-5">
            <label
              class="thf-u-block thf-u-margin-top--1 thf-u-no-margin thf-u-margin-bottom--1 thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
              {{'propertyModule.availabilityGrid.period' | translate }}
            </label>
            <app-button-bar [buttonBarConfig]="buttonBarConfig"></app-button-bar>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="thf-u-margin-vertical--2"></div>

<div class="row">
  <thx-availability-grid
    #grid
    [startDate]="startDate"
    [days]="days"
    [roomTypeList]="roomTypeList"
    [blockedRoomList]="blockedRoomList"
    [availabilityList]="availabilityList"
    [reservationList]="reservationList"
    [footerList]="footerList"
    [labels]="labels"
    [validateReservationMove]="validateReservationMove"
    [propertyParams]="propertyParams"
    (initialDateChange)="onInitialDateChange($event)"
    (reservationClick)="goToEditReservationPage($event)"
    (rateProposalClick)="goToRateProposalPage($event)"
    (newReservationClick)="goToNewReservationPage($event)"
    (blockRoomClick)="onBlockRoomClick($event)"
    (unlockRoomClick)="onUnlockRoomClick($event)"
    (roomTypeExpanded)="getRooms($event, startDate, days)">
  </thx-availability-grid>
</div>
<div class="col-12 thf-u-margin-top--2">
    <app-availability-chart-grid></app-availability-chart-grid>
</div>

<app-governance-room-block (roomBlocked)="onRoomBlocked()"></app-governance-room-block>
