<div class="counter-component">
  <button
      class="btn-counter"
      (click)=decrement()
      [disabled]="value <= 0"
  >
      <span class="icon-minus min icon"></span>
  </button>
  <input
    name="counter"
    type="text"
    class="selected-value"
    readonly
    [(ngModel)]="value"
  />
  <button
    class="btn-counter"
    (click)=increment()
    [disabled]="maxValue != -1 && value >= maxValue"
  >
    <span class="icon-plus min icon"></span>
  </button>
</div>
