.counter-component {
  display: flex;
  height: 25px;
  width: 75px;
}

.selected-value {
  outline:none;
  width: 25px;
  height: 25px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgb(74, 80, 85);
  border:none;
  display:inline-block;
}

.btn-counter {
  outline: none;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
  background-color:rgba(12, 154, 190, 0.1);

  &:hover {
    background-color: rgba(12, 154, 190, 0.15);
  }

  &:focus {
    background-color: rgba(12, 154, 190, 0.2);
  }

  &:disabled {
    background-color: rgb(236, 238, 238);
    color: rgb(240, 240, 240);
    cursor: default;

    > .icon {
      color:rgb(157, 167, 169);
    }
  }

  > .icon {
    object-fit: contain;
    color:rgba(12, 154, 190, 1.0);
  }

  > .min{
    font-size:8.5px;
  }
}

