<app-header-page-new *ngIf="billingItemCategoryId" [config]="configHeaderPage">
  <header-title>{{'entryTypeModule.group.createEdit.header.editGroupTitle' | translate }}</header-title>
</app-header-page-new>

<app-header-page-new *ngIf="!billingItemCategoryId" [config]="configHeaderPage">
  <header-title>{{'entryTypeModule.group.createEdit.header.newGroupTitle' | translate }}</header-title>
</app-header-page-new>

<div class="row justify-content-center">
  <div class="col-10">
    <app-group-content [title]="'entryTypeModule.group.createEdit.contentTitle'">
      <div class="row">
        <div class="col">
          <form novalidate [formGroup]="billingItemCategoryForm">
            <div class="row">
              <div class="col-5">
                <label for="categoryName" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'entryTypeModule.group.createEdit.form.description' | translate }}
                </label>
                <input id="categoryName" formControlName="categoryName" class="thf-input thf-u-margin-top--1" type="text" [ngClass]="{'thf-input-error': !billingItemCategoryForm.get('categoryName').valid && billingItemCategoryForm.get('categoryName').dirty}"
                />
              </div>
              <div class="col">
                <label for="fixedGroup" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'entryTypeModule.group.createEdit.form.fixedGroup' | translate }}
                </label>
                <app-select [selectId]="'standardCategoryId'" [parent]="billingItemCategoryForm" [optionList]="billingItemCategoryFixedList" [hasFormGroup]="true">
                </app-select>
              </div>
              <div class="col-2 thf-u-text-center">
                <label for="fixedGroup" class="thf-input-label thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'entryTypeModule.group.createEdit.form.isActive' | translate }}
                </label>
                <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
                  <input id="isActive" type="checkbox" formControlName="isActive" class="thf-input-radio-button" />
                  <label class="thf-u-vertical-align-super" for="isActive">
                    <span class="ui"></span>
                  </label>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </app-group-content>
    <div class="row justify-content-end thf-u-margin-top--2">
      <div class="col-2">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-2">
        <button type="button" (click)="saveBillingItemCategory()" [disabled]="!billingItemCategoryForm.valid" name="button" id="group-create-edit-save" class="thf-btn thf-btn-primary">{{ 'commomData.confirm' | translate }}</button>
      </div>
    </div>
  </div>
</div>
