<thf-page-edit
  [t-title]="pageSettings.title"
  [t-literals]="pageSettings.literals"
  [t-disable-submit]="formIsInvalid"
>
  <ng-container *ngIf="profile$ | async as profile">
    <admin-group
      [isOpen]="true"
      [title]="i18n.title.profileForm"
    >
      <admin-profile-form
        #profileForm
        (formStatusChanged)="onFormStatusChange($event)"
        [profile]="profile"
      ></admin-profile-form>
    </admin-group>
    <div class="thf-mt-2">
      <admin-group
        [isOpen]="true"
        [title]="i18n.title.permissionsList"
      >
        <admin-permissions-list
          #permissionsTable
          [selectedPermissions]="profile.rolePermissionList"
        ></admin-permissions-list>
      </admin-group>
    </div>
  </ng-container>
</thf-page-edit>
