<div class="thf-input-group-search">
  <input #searchInput
         type="text"
         class="thf-input thf-input-search "
         placeholder="{{ placeholder  | translate }}"
         title="{{ placeholder  | translate }}"
         [(ngModel)]="value">

  <span class="thf-input-search--icon">
    <span class="thf-icon thf-icon-search"></span>
  </span>

</div>
