<thx-widget-box >
  <div>
    <div class="title-label" >
      <thx-img src="arrowdown-blue.min.svg" ></thx-img>
      <span>{{ title }}</span>
    </div>
    <thx-grouped-bar-chart [items]="items" [colorList]="colorList" [labelx]="labelx" [labely]="labely" ></thx-grouped-bar-chart>
  </div>
</thx-widget-box>
