<ul class="user-card-list-ul"
    *ngFor ="let menu of menuList">
  <li class="user-card-list-title thex-font-size-body-default" >
    <img
      class="list-title-img"
      *ngIf = "menu?.imgSrc"
      alt ="{{menu?.title}}}"
      src="{{menu?.imgSrc | imgCdn }}"
    />
    <span> {{menu?.title | translate}} </span>
  </li>
  <li
    *ngFor = "let item of menu?.items"
    class ="user-card-list-item thex-font-size-items-two"
    [routerLink] = "[item?.routerLink]"
    routerLinkActive="thex-bg thex-primary"
    [routerLinkActiveOptions]="{ exact: true }">
    <span
      class="list-item-icon"
      *ngIf = "item?.iconClass"
      [ngClass]= "item?.iconClass">
    </span>
    <span class="list-item-category"> {{ item?.title | translate }} </span>
  </li>
</ul>
