<div class="page-template">
  <div class="welcome-form">
    <div class="welcome">
      <div class="welcome-version">
        {{'sharedModule.bottomBar.version' | translate}} {{versionName}}
      </div>
      <div class="welcome-product">
        <div>{{'label.welcomeToM' | translate}}</div>
        <div class="welcome-product-name">THEx {{productName}}</div>
      </div>
      <div class="welcome-text">
        A evolução da sua plataforma de gestão hoteleira
      </div>
    </div>
    <div class="form">
      <thx-form-login
        [productLogoImg]="productLogoImg"
        (resetedPassword)="onResetPassword($event)"
        (submitForm)="onForm($event)">
      </thx-form-login>
    </div>
  </div>
  <div class="copyright">
    {{'sharedModule.bottomBar.version' | translate}} {{versionNumber}} | {{'sharedModule.bottomBar.copyright' | translate}} {{year}}
  </div>
</div>
