
<div class="row align-items-center thf-u-margin-vertical--2"  >
  <div class="col-6">
      <span class="thf-u-font--bold thf-u-font--16">
        {{ 'title.tourismTax' | translate }}
      </span>
  </div>
  <div class="col-6 text-right">
    <label class="thf-u-font--bold thf-u-font--16">
      {{ 'action.activate' | translate }}:
    </label>
    <span>
      <input
        type="checkbox"
        class="thf-input-radio-button"
        [disabled]="isFirstTime"
        [(ngModel)]="isActive"
        (ngModelChange)="onChangeIsActive($event)"
        id="page-is-active"/>
      <label
        class="thf-u-vertical-align-super"
        for="page-is-active">
        <span class="ui"></span>
      </label>
    </span>
  </div>
</div>

<form [formGroup]="form">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="thf-group-content">
          <!-- init header -->
          <input type="checkbox" class="thf-group-toogle thf-u-z-index--1000"/>
          <div class="thf-group-content-header">
            <div class="row">
              <div class="col-11">
                <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
                  {{ 'label.parameters' | translate }}
                </span>
              </div>
            </div>
          </div>
          <!-- end header -->

          <!-- init list -->
          <div class="col-md-12 thf-list">

            <!-- item -->
            <div class="row thf-list-item">
              <label
                for="valueOfTax"
                class="col thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold thf-input-label--required">
                {{ 'label.serviceOfTaxOfTurism' | translate }}
              </label>
              <div class="col-md-6 col-xl-4 item-input-container align-right">
                <app-select
                  class="app-select"
                  [parent]="form"
                  [selectId]="'billingItemId'"
                  [optionList]="billingItemCategoryList"
                  [hasFormGroup]="true">
                </app-select>
              </div>
            </div>
            <!-- end item -->

            <!-- item -->
            <div class="row thf-list-item">
              <label
                for="valueOfTax"
                class="col thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold thf-input-label--required">
                {{ labelValueOfTax  }}
              </label>
              <div class="col-md-6 col-xl-4 item-input-container align-right">
                <input
                  id="valueOfTax"
                  currencyMask
                  [options]="amountCurrencyMask"
                  formControlName="amount"
                  class="thf-input tax-value-input"
                  type="text">
              </div>
            </div>
            <!-- end item -->

            <!-- item -->
            <div class="row thf-list-item">
              <label
                for="numberOfNights"
                class="col thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold thf-input-label--required" >
                {{ 'label.numberOfNightsForCollection' | translate }}
              </label>
              <div class="col-md-6 col-xl-4 item-input-container align-right">
                <div>
                  <input
                    id="numberOfNights"
                    formControlName="numberOfNights"
                    currencyMask
                    [options]="numberOfNightsMask"
                    class="thf-input night-input"
                    type="text">
                </div>

                <div>
                  <input
                    formControlName="isTotalOfNights"
                    id="numberOfNightsCheckbox"
                    class="thf-input-type-checkbox"
                    type="checkbox"/>
                  <label
                    for="numberOfNightsCheckbox"
                    class="label-aligned thf-u-margin-left--4">
                      <span class="ui"></span>
                  </label>
                </div>

                <label
                  class="thf-input-label thf-u-font--14 label-aligned thf-u-margin-left--1"
                  for="numberOfNightsCheckbox">
                  {{ 'label.totalOfNights' | translate }}
                </label>
              </div>
            </div>
            <!-- end item -->

            <!-- item -->
            <div class="row thf-list-item">
              <label
                for="numberOfNights"
                class="col-12 thf-input-label thf-u-font--14 thf-input-label--blue thf-u-font--bold" >
                {{ 'label.selectTheTypeOfGuestExempt' | translate }}
              </label>
              <div class="col-12">
                <div
                  class="row thf-u-padding--2">
                  <div
                    class="col-md-4 col-lg-3 align-checkbox-center"
                    *ngFor="let item of propertyGuestTypeList;let i = index;">
                    <span>
                      <input
                        id="{{ 'quest-selection-' + i }}"
                        class="thf-input-type-checkbox"
                        [(ngModel)]="item.isExemptOfTourismTax"
                        [disabled]="!isActive"
                        [ngModelOptions]="{standalone: true}"
                        type="checkbox"/>
                      <label
                        for="{{ 'quest-selection-' + i }}"
                        class="thf-u-margin-top--1">
                        <span class="ui"></span>
                      </label>
                    </span>
                    <label
                      class="label-aligned thf-u-margin-left--1"
                      for="{{ 'quest-selection-' + i }}">
                      {{ item?.guestTypeName }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- end item -->

            <!-- item -->
            <!-- TODO: uncomment in other version -->
<!--            <div class="row thf-list-item">-->
<!--              <label-->
<!--                class="col thf-input-label thf-u-font&#45;&#45;14 thf-input-label&#45;&#45;grey-submarine thf-u-font&#45;&#45;bold" >-->
<!--                {{ 'label.paymentOfTaxOfTourism' | translate }}-->
<!--              </label>-->
<!--              <div class="col-md-6 col-xl-4 item-input-container with-radio">-->
<!--                <app-radio-group-->
<!--                  formControlName="launchType"-->
<!--                  name="checkin-checkout"-->
<!--                  [options]="radioCheckinCheckoutOptions">-->
<!--                </app-radio-group>-->
<!--              </div>-->
<!--            </div>-->
            <!-- end item -->

          </div>
          <!-- end list -->
        </div>
      </div>
    </div>
  </div>
</form>
<div class="col-12 thf-u-margin-top--4">
  <div class="row">
    <div class="offset-9 col-3">
      <app-button
        [buttonConfig]="buttonConfig">
      </app-button>
    </div>
  </div>
</div>

