.thf-list .thf-list-item {
  align-items: center;
  padding: 4px 0;
  border-top: 1px solid var(--color-grey-whisper);
  min-height: 45px;
}
.item-input-container {
  text-align: center;

  &.align-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}
.thf-list-item{
  .item-title-container {
    margin-left: 25px;
  }

  .item-input-container input {
    text-align: center;
  }
}

.tax-value-input, .night-input {
  max-height: 35px !important;
  min-height: 35px !important;
}

.tax-value-input, .app-select {
  min-width: 166px;
  max-width: 166px;
}

.night-input {
  max-width: 72px;
}

.align-checkbox-center{
  display: flex;
  align-items: center;
}

input[type=checkbox]:disabled ~ label{
  background: var(--color-grey-sauvignon);
}

input[type=checkbox].thf-input-radio-button:disabled ~ label{
  &:before{
    background: var(--color-grey-sauvignon);
  }

  &:after{
    background: var(--color-grey);
  }
}


.label-aligned{
  margin-bottom: 0 !important;
}
