<div [formGroup]="formModal">
  <div class="row thf-u-margin-top--2" formGroupName="postCredit">
    <div class="col-6">
      <div formGroupName="bankCheck">
        <label for="bankCheckNumber"
               class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{'billingAccountModule.commomData.bankCheckNumber' | translate }}
        </label>
        <input formControlName="number" type="number" id="bankCheckNumber"
               class="thf-input thf-u-margin-top--1 thf-u-type-number-reset"
               [autocomplete]="'off'"/>
      </div>
    </div>
    <div class="col-4">
      <label for="price"
             class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
        {{'billingAccountModule.commomData.value' | translate }} {{'commomData.r$' | translate}}
      </label>
      <input formControlName="price" type="text" id="price" class="thf-input thf-u-margin-top--1" currencyMask
             [options]="optionsCurrencyMask"
             [autocomplete]="'off'"/>
    </div>
  </div>
</div>
