.thf-popover-footer {
  border-radius: 0 0 3px 3px;
}

.thf-popover-footer.blue {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.thf-popover-footer.white {
  background-color: var(--color-white);
}
