<app-modal-wrapper
  modalId="newAddress"
  [title]="modalTitle"
  [maxWidth]="'670px'">

  <form id="clientAddressForm" (submit)="saveDataAddress(locationNewEdit)">
    <div class="thf-modal-body">
      <app-address
        [needShowUnicAddress]="false"
        [emitCountrySubdivision]="true"
        [disabledAddressesType]="disabledAddressesTypeList"
        [addressToEdit]="locationNewEdit"
        (addressChanged)="setValueAddressByEventEmitted($event)"
        (getAllInfo)="getAllInfoGoogleAddress($event)">
      </app-address>
    </div>

    <div class="thf-modal-footer thf-u-margin-vertical--2">
      <div class="row">
        <div class="col offset-5">
          <button (click)="toggleModal()" type="button" class="thf-btn thf-btn-secondary">{{ 'commomData.cancel' |
            translate }}
          </button>
        </div>
        <div class="col">
          <button type="submit" class="thf-btn thf-btn-primary" [disabled]="addressComponent.addressForm.invalid">{{
            'commomData.confirm' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>

<app-modal-wrapper
  modalId="removeAddress"
  [title]="'clientModule.edit.address.delete'">

  <div class="thf-modal-body">
    <div class="row">
      <div class="col">
        <p class="thf-u-font--14 thf-u-text-center">{{ 'clientModule.edit.address.confirmDelete' | translate }}</p>
        <p class="thf-u-font--14 thf-u-font--bold thf-u-text-center">
          {{ itemToRemove?.completeAddress }}
        </p>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <button (click)="toggleRemoveItem()" class="thf-btn thf-btn-secondary">
          {{ 'commomData.not' | translate }}
        </button>
      </div>
      <div class="col">
        <button data-qa-id="removeAddress" (click)="removeItem()" class="thf-btn thf-btn-primary">
          {{ 'commomData.yes' | translate }}
        </button>
      </div>
    </div>
  </div>

</app-modal-wrapper>

<div class="thf-group-content">
  <div class="thf-group-content-header">
    <div class="row">
      <div class="col-10">
        <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
        <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-input-label--required">{{ 'clientModule.edit.address.title' | translate }}</span>
      </div>
      <div class="col-2">
        <button type="button" name="button" class="thf-btn thf-btn--sm thf-btn-secondary"
                (click)="toggleModal()">{{ 'action.lbNew' | translate: {labelName: 'label.address' | translate | lowercase} }}
        </button>
      </div>
    </div>
  </div>
  <div class="thf-group-content-body">
    <div class="row">
      <div class="col-12">
        <thx-datatable
          [columns]='columns'
          [itens]="addressesList"
          [itemsOption]="itemsOption"
          (rowItemClicked)="goToEdit($event)"   
          [emptyMessage]="'variable.emptyContentM.title' | translate: {labelName: 'label.address' | translate | lowercase }"
          [emptyMessageContent]="'variable.emptyContentM.textDescription' | translate: {labelName: 'label.address' | translate | lowercase }"
          (emptyLinkClicked)="toggleModal()"
        ></thx-datatable>
      </div>
    </div>
  </div>
</div>
