<div [formGroup]="form">
  <div class="thf-md-8">
    <thf-input
      name="hotelName"
      formControlName="hotelName"
      class="thf-md-6 required-field"
      [t-label]="i18n.label.hotel"
      [t-required]="true"
    ></thf-input>

    <thf-select
      name="companyId"
      formControlName="companyId"
      class="thf-md-6 required-field"
      [t-label]="i18n.label.company"
      [t-required]="true"
      [t-options]="companyOptions">
    </thf-select>

    <thf-select
      name="brandId"
      formControlName="brandId"
      class="thf-md-6 required-field"
      [t-label]="i18n.label.brand"
      [t-required]="true"
      [t-options]="brandOptions">
    </thf-select>

    <thf-info
      class="thf-md-6"
      [t-label]="i18n.label.tenant"
      [t-value]="hotel?.tenantName"
    ></thf-info>
  </div>
  <div class="thf-md-2">
    <thf-input
      name="maxUh"
      formControlName="maxUh"
      class="thf-md-12 required-field"
      [t-label]="i18n.label.maxUh"
      [t-required]="true"
    ></thf-input>

    <thf-info
      class="thf-md-12"
      [t-label]="i18n.label.registeredUhs"
      [t-value]="hotel?.registeredUhs"
    ></thf-info>
  </div>
  <div class="thf-md-2">
    <thf-switch
      name="switch"
      formControlName="blocked"
      [t-label]="i18n.label.blocked"
      t-label-on=" "
      t-label-off=" "
      (click)="openConfirmModal(form.value)"
    >
    </thf-switch>
  </div>
</div>
<admin-hotel-block-modal
  #modal
  (accepted)="acceptHotelBlock()"
  (refused)="refuseHotelBlock($event)"
></admin-hotel-block-modal>
