<app-modal-wrapper [modalId]="reservation.reservationCode" [title]="modalTitle" [showModalIdInTitle]="true">

  <form [formGroup]="formGroupCancelReservation">

    <div class="thf-modal-body thf-u-padding-top--1">

      <div class="row">
        <div class="col">
          <p class="thf-u-color--red">
            {{ 'reservationModule.reservationCancel.attentionPartOne' | translate }} {{reservation.reservationCode}} {{ 'reservationModule.reservationCancel.attentionPartTwo'
            | translate }}
          </p>
          <p>
            {{ 'reservationModule.reservationCancel.afterCancel' | translate }}
          </p>
          <p>
            {{ 'reservationModule.reservationCancel.confirmCancelReservation' | translate }}
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <label for="reasonId" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'reservationModule.commomData.reasonCanceled' | translate }}</label>
          <app-select [parent]="formGroupCancelReservation" [optionList]="reasonOptionList" [selectId]="'reasonId'" [isUppercase]="false"
            [hasFormGroup]="true">
          </app-select>
        </div>
      </div>

      <div class="thf-u-margin-top--1"></div>

      <div class="row">
        <div class="col">
          <label for="dataCancellationDescription" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'reservationModule.commomData.remarks' | translate }}</label>
          <textarea class="thf-input thf-textarea" formControlName="cancellationDescription" id="dataCancellationDescription"></textarea>
        </div>
      </div>
    </div>

    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <button (click)="closeModal()" role="button" data-qa-id="cancel" class="thf-btn thf-btn-secondary">{{ 'commomData.cancel' | translate }}</button>
        </div>
        <div class="col">
          <button (click)="cancelReservation()" [disabled]="!formGroupCancelReservation.valid" role="button" data-qa-id="confirm" class="thf-btn thf-btn-primary">{{ 'commomData.confirm' | translate }}</button>
        </div>
      </div>
    </div>

  </form>
</app-modal-wrapper>