<header class="thf-group-content-header thf-u-padding--2 thf-u-padding-vertical--1">
  <div class="row">
    <div class="col-9">
      <h2 class="thf-group-content-header-title thf-u-font--23 thf-u-color--blue thf-u-no-margin thf-u-padding-top--1">
        <span *ngIf="isChild()">
            {{ 'reservationModule.commomData.child' | translate }}
            <span class="thf-u-font--16">({{ guest.childAge }} {{ 'guestModule.commomData.years' | translate }})</span>
        </span>
        <span *ngIf="!isChild()">
            {{ 'reservationModule.commomData.adult' | translate }}
          </span>
      </h2>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-6 offset-6">
          <button type="button" name="button" (click)="editGuest()" class="thf-btn thf-btn-secondary">{{ 'commomData.edit' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</header>
