<div [formGroup]="paymentForm">
  <div class="row thf-u-margin-top--2">
    <div class="col">
        <label class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.brand' | translate }}</label>
        <app-select
          [selectId]="'plasticBrandPropertyId'"
          [parent]="paymentForm.get('card')"
          [optionList]="plasticBrandPropertyListSelect"
          [hasFormGroup]="true">
        </app-select>
    </div>
  </div>
  <div class="row thf-u-margin-top--2">
    <div class="col-5">
      <div formGroupName="card">
        <label for="nsuCode" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.nsuCode' | translate }}</label>
        <img align="top" class="thf-u-enable-cursor thf-u-valign--top img-info"
           title="{{ 'commomData.images.infoIcon' | translate }}"
           src="{{'info.svg' | imgCdn}}" alt="{{ 'commomData.images.infoIcon' | translate }}">
        <input formControlName="nsuCode" type="text" id="nsuCode" class="thf-input thf-u-margin-top--1" />
      </div>
    </div>
    <div class="col-3" *ngIf="!isDebit">
      <label class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.installmentsNumber' | translate }}</label>
      <app-select
        [selectId]="'installmentsNumber'"
        [parent]="paymentForm.get('card')"
        [optionList]="installmentNumberList"
        [hasFormGroup]="true">
      </app-select>
    </div>
    <div class="col-4">
      <label for="price" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.value' | translate }} {{'commomData.r$' | translate}}</label>
      <input formControlName="price" type="text" id="price" class="thf-input thf-u-margin-top--1" currencyMask [options]="optionsCurrencyMask"
      />
    </div>
  </div>
</div>
