<div class="row align-items-center thf-u-margin-vertical--3">
  <div class="col-auto">
    <thx-icon-button
      [type]="type"
      [size]="size"
      [icon]="'mdi-chevron-left'"
      (buttonClick)="goBackPreviewPage()">
    </thx-icon-button>
  </div>
  <div class="col">
    <h2 class="title thf-u-font--bold">
      {{ title }}
    </h2>
  </div>
</div>
