
<app-header-page-new [config]="configHeaderPage" [hasFilter]="true">

  <!-- header title -->
  <header-title> {{ 'title.listPremises' | translate }}</header-title>

  <!-- the button txt -->
  <text-button>{{'text.newPremise' | translate}}</text-button>

  <!-- the modal btn -->
  <icon-button>
    <i class="mdi mdi-plus"></i>
  </icon-button>
</app-header-page-new>

<thx-datatable
  [columns]="columns"
  [itens]="premisesArray"
  [hasLastCell]="true"
  statusIdentifier= "id"
  [itemsOption]="itemsOption"
  (statusChanged)="updateStatus($event)"
  [emptyMessage]="'text.premiseListEmpty'"
  (rowItemClicked)="goToEdit($event)"
  [emptyMessageContent]="'text.premiseEmptyDescripion'"
  (emptyLinkClicked)="gotoNewPremise()"
  >
</thx-datatable>
