<div class="thf-input-group-search" [ngClass]="{'thf-u-border-bottom--1': hasBorderBottom }" >
    <input data-qa-id="search" type="text" class="thf-input thf-input-search thf-input-placeholder-font-size--16" placeholder="{{ placeholderActionWordFilter  | translate }} {{ placeholderSearchFilter  | translate }}" [(ngModel)]="searchData" (ngModelChange)="updateItems($event)">
    <span class="thf-input-search--icon">
        <img src="{{'search.PNG' | imgCdn}}" alt="search" />
    </span>
</div>
