<div class="thf-icon-text-inside-button" routerLinkActive="thf-icon-text-inside-button--active">
    <button type="button" class="thf-button" [routerLink]="[ pathLink ]" [replaceUrl]="true">
        <img class="button-img" src="{{ svgName +'.svg' | imgCdn }}" alt="{{ altImg | translate}}">
        <div class="button-label thf-u-font--bold thf-u-font--14">{{ btnText | translate }}</div>
    </button>
</div>
