<app-header-page-new [config]="configHeaderPage">
  <header-title>
    <span>{{ 'label.roomList' | translate }}</span>
  </header-title>
</app-header-page-new>

<div class="row" (window:scroll)="roomListFixed()">
  <div class="col-lg-4 col-xl-3">
    <div #roomListContainer class="hps-roomlist-container">
      <div #roomList class="hps-roomlist-container--fixed" [class.isFixed]="isFixed" [style.width]="widthRoomListItems">
        <div class="row">
          <div class="col-12">
            <div class="thf-u-padding--1">
              <div class="row">
                <div class="col-10">
                  <span class="thf-u-font--bold thf-u-font--14">{{ 'guestModule.edit.accommodationList' | translate }}</span>
                  <span class="thf-u-font--bold thf-u-font--14 thf-u-color--blue">( {{ reservationItemGuestViewQuantity }} )</span>
                </div>
                <div class="col-2">
                  <img class="thf-u-enable-cursor" title="{{ 'guestModule.commomData.accommodationCode' | translate }} - {{ 'guestModule.commomData.guestName' | translate }}"
                    src="{{'info.svg' | imgCdn}}" alt="{{ 'commomData.images.infoIcon' | translate }}">
                </div>
              </div>
            </div>
            <div class="thf-u-padding--1">
              <div class="thf-input-group-search">
                <input id="filter" [(ngModel)]="filter" [ngModelOptions]="{standalone: true}" class="thf-input thf-input-search" type="text"
                  placeholder="{{ 'commomData.search' | translate }}">
                <span class="thf-input-search--icon">
                  <img class="" src="{{'search.PNG' | imgCdn}}" alt="search">
                </span>
              </div>
            </div>
            <form [formGroup]="editGuestRoomListAccommodationForm">
              <ul formArrayName="reservationItems" class="hps-roomlist-items">
                <li class="thf-card-room-list thf-u-padding--1 thf-u-cursor--pointer" (click)="chooseReservationItem(reservationItem)" *ngFor="let reservationItem of getReservationItems(editGuestRoomListAccommodationForm) | filterlist:filter:filterParameters; let i=index"
                    [ngClass]="{'thf-card-room-list--active thf-u-color--white': reservationItem.value.active}">
                  <div [formGroupName]="i">
                    <div class="row">
                      <div class="col-4 thf-u-ellipsis">
                        <span class="thf-u-font--bold thf-u-font--14" [attr.title]="getRoomNumber(reservationItem)">
                          {{ getRoomNumber(reservationItem) }} {{ getRoomType(reservationItem) }}
                        </span>
                      </div>
                      <div class="col thf-u-no-padding">
                        <span class="thf-u-font--13">
                          {{ reservationItem.value.estimatedArrivalDate | amDateFormat:'L' }} - {{ reservationItem.value.estimatedDepartureDate
                          | amDateFormat:'L' }}
                        </span>
                      </div>
                      <div class="col-2">
                        <div class="thf-u-text-right">
                          <div *ngIf="!reservationItem.value.isValid" else elseBlock>
                            <img src="{{'alert-master-details.svg' | imgCdn}}" alt="{{ 'commomData.images.error' | translate }}" *ngIf="!reservationItem.value.active">
                            <img src="{{'alert-master-details.svg' | imgCdn}}" alt="{{ 'commomData.images.error' | translate }}" *ngIf="reservationItem.value.active">
                          </div>
                          <div *ngIf="reservationItem.value.isValid" else elseBlock>
                            <img src="{{'check-circle-outline-blue.svg' | imgCdn}}" alt="{{ 'commomData.images.checkCircle' | translate }}"
                              *ngIf="!reservationItem.value.active">
                            <img src="{{'check-circle-outline-white.svg' | imgCdn}}" alt="{{ 'commomData.images.checkCircle' | translate }}"
                              *ngIf="reservationItem.value.active">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="thf-u-margin-top--1"></div>

                    <div class="row">
                      <div class="col-8 remove-padding-right">
                        <div class="row">
                          <div class="col-7 thf-u-ellipsis remove-padding-right">
                            <span class="thf-u-font--13" [attr.title]="reservationItem.value.code">{{ reservationItem.value.code }}</span>
                          </div>
                          <div class="col thf-u-no-padding thf-u-ellipsis">
                            <span class="thf-u-font--14" [attr.title]="reservationItem.value.status">{{ reservationItem.value.status }}</span>
                          </div>
                        </div>
                      </div>

                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col thf-u-no-padding">
                                <img class="thf-u-icon-size--16" src="{{'person-gray.svg' | imgCdn}}" alt="{{ 'commomData.images.person' | translate }}" *ngIf="!reservationItem.value.active">
                                <img class="thf-u-icon-size--16" src="{{'person-white.svg' | imgCdn}}" class="thf-u-filter-brightness--200" alt="{{ 'commomData.images.person' | translate }}" *ngIf="reservationItem.value.active">
                              </div>
                              <div class="col thf-u-no-padding">
                                <span class="thf-u-font--14 thf-u-font--semibold thf-u-color--blue" [ngClass]="{'thf-u-color--white': reservationItem.value.active}" [attr.title]="reservationItem.value.adultCount">
                                  {{ reservationItem.value.adultCount | pad: 2}}
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col">
                            <div class="row">
                              <div class="col thf-u-no-padding">
                                <img class="thf-u-icon-size--16" src="{{'child_icon.svg' | imgCdn}}" alt="{{ 'commomData.images.person' | translate }}" *ngIf="!reservationItem.value.active">
                                <img class="thf-u-icon-size--16" src="{{'child_icon.svg' | imgCdn}}" class="thf-u-filter-brightness--200" alt="{{ 'commomData.images.person' | translate }}" *ngIf="reservationItem.value.active">
                              </div>
                              <div class="col thf-u-no-padding">
                                <span class="thf-u-font--14 thf-u-font--semibold thf-u-color--blue" [ngClass]="{'thf-u-color--white': reservationItem.value.active}" [attr.title]="reservationItem.value.childCount">
                                  {{ reservationItem.value.childCount  | pad: 2 }}
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-xl-9">
    <div class="hps-guest-edit-roomlist" *ngIf="hasGuests">
      <app-guest-card [guestsFromReservationItem]="guestsFromReservationItem">
      </app-guest-card>
    </div>
  </div>
</div>
