:root {
  --color-sirocco: #677E81;
  --color-grey-whisper: #EBEBEB;
  --color-white: #FFFFFF;
}

.hps-roomlist-container .thf-input-group-search {
  border: 1px solid #B7BEBF;
  border-radius: 2px;
}

.hps-topbar-info-reservationItem {
  background-color: var(--color-sirocco);
  padding: 10px;
  color: var(--color-white)
}

.hps-roomlist-container {
  position: relative;
  background: var(--color-grey-whisper);
  height: 100%;
}

.hps-roomlist-container--fixed {
  max-height: 650px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid var(--color-grey-whisper);
  background: var(--color-white);
}

.hps-roomlist-container--fixed.isFixed{
  position: fixed;
  top: 20px;
}

.hps-roomlist-items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hps-roomlist-items .thf-card-room-list {
  border: none;
  border-top: 1px solid var(--color-grey-whisper);
}
.remove-padding-right {
  padding-right: 0px;
}
