<div class="col-xl-12">
  <form novalidate [formGroup]="formGroupEditProperty">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="thf-group-content">
          <input type="checkbox" class="thf-group-toogle thf-u-z-index--1000"/>
          <div class="thf-group-content-header">
            <div class="row">
              <div class="col-md-11 col-lg-11 col-xl-11">
                <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">{{ 'hotelPanelModule.propertyEdit.hotelData.title' | translate }}</span>
              </div>
            </div>
          </div>
          <div class="thf-group-content-body">
            <div class="row">
              <div class="col-md-4 col-lg-4 col-xl-3">
                <label for="name" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{ 'hotelPanelModule.propertyEdit.hotelData.hotelName' | translate }}</label>
                <input formControlName="name" id="name" class="thf-input  thf-u-no-pointer-events thf-u-disable-cursor" type="text" />
                <thx-error formControlName="name"></thx-error>
              </div>


                <div class="col-3">
                  <label for="chain" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                    {{ 'hotelPanelModule.propertyEdit.hotelData.chain' | translate }}
                  </label>
                  <app-select
                    class="thf-u-no-pointer-events thf-u-disable-cursor"
                    id="chain"
                    [parent]="formGroupEditProperty"
                    [optionList]="chainOptionList"
                    [selectId]="'chain'"
                    [isUppercase]="false"
                    [hasFormGroup]="true"
                    [hasMagin]="false"  >
                  </app-select>
                  <thx-error formControlName="chain"></thx-error>
                </div>


                  <div class="col-3">
                      <label for="brand" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                        {{ 'hotelPanelModule.propertyEdit.hotelData.Brand' | translate }}
                      </label>
                      <app-select
                        class="thf-u-no-pointer-events thf-u-disable-cursor"
                        id="brand"
                        [parent]="formGroupEditProperty"
                        [optionList]="brandOptionList"
                        [selectId]="'brand'"
                        [isUppercase]="false"
                        [hasFormGroup]="true"
                        [hasMagin]="false"  >
                      </app-select>
                      <thx-error formControlName="brand"></thx-error>
                    </div>


              <div class="col-md-4 col-lg-4 col-xl-3">
                <label for="fantasyName" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{ 'hotelPanelModule.propertyEdit.hotelData.fantasyName' | translate }}</label>
                <input formControlName="fantasyName" id="fantasyName" class="thf-input  thf-u-no-pointer-events thf-u-disable-cursor" type="text" />
                <thx-error formControlName="fantasyName"></thx-error>
              </div>

              <div class="col-md-4 col-lg-4 col-xl-3 thf-u-margin-top--1">
                <label for="socialName" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{ 'hotelPanelModule.propertyEdit.hotelData.socialName' | translate }}</label>
                <input formControlName="socialName" id="socialName" class="thf-input  thf-u-no-pointer-events thf-u-disable-cursor" type="text" />
                <thx-error formControlName="socialName"></thx-error>
              </div>

              <div class="col-md-4 col-lg-4 col-xl-3 thf-u-margin-top--1">
                <label for="totalUhs" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{ 'hotelPanelModule.propertyEdit.hotelData.totalUhs' | translate }}</label>
                <input formControlName="totalUhs" id="totalUhs" class="thf-input  thf-u-no-pointer-events thf-u-disable-cursor" type="text" />
                <thx-error formControlName="totalUhs"></thx-error>
              </div>

              <div class="col-md-4 col-lg-4 col-xl-3 thf-u-margin-top--1">
                <label for="telephone" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{ 'hotelPanelModule.propertyEdit.hotelData.hotelPhone' | translate }}</label>
                <input formControlName="telephone" id="telephone" class="thf-input" type="text" />
                <thx-error formControlName="telephone"></thx-error>
              </div>

              <div class="col-md-4 col-lg-4 col-xl-3 thf-u-margin-top--1">
                <label for="homePage" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{ 'hotelPanelModule.propertyEdit.hotelData.homePage' | translate }}</label>
                <input formControlName="homePage" id="homePage" class="thf-input" type="text" />
                <thx-error formControlName="homePage"></thx-error>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <span class="thf-u-margin-vertical--3">&nbsp;</span>

    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="thf-group-content">
          <input type="checkbox" class="thf-group-toogle thf-u-z-index--1000"/>
          <div class="thf-group-content-header">
            <div class="row">
              <div class="col-md-11 col-lg-11 col-xl-11">
                <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">{{ 'hotelPanelModule.propertyEdit.addressData' | translate }}</span>
              </div>
            </div>
          </div>
          <div class="thf-group-content-body">
            <app-address
              [needShowUnicAddress]="false"
              [addressToEdit]="locationEdit"
              (addressChanged)="setValueAddressByEventEmitted($event)">
            </app-address>
          </div>
        </div>
      </div>
    </div>

    <span class="thf-u-margin-vertical--3">&nbsp;</span>

    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="thf-group-content">
          <input type="checkbox" class="thf-group-toogle thf-u-z-index--1000"/>
          <div class="thf-group-content-header">
            <div class="row">
              <div class="col-md-11 col-lg-11 col-xl-11">
                <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">{{ 'hotelPanelModule.propertyEdit.documents.title' | translate }}</span>
              </div>
            </div>
          </div>
          <div class="thf-group-content-body">
            <div class="row">
              <div class="col-md-4 col-lg-4 col-xl-4">
                <label for="cnpj" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{ 'hotelPanelModule.propertyEdit.documents.companyDocument' | translate }}</label>
                <input formControlName="cnpj" id="cnpj" class="thf-input" type="text" disabled/>
              </div>

              <div class="col-md-4 col-lg-4 col-xl-4">
                <label for="stateRegistration" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{ 'hotelPanelModule.propertyEdit.documents.stateRegistration' | translate }}</label>
                <input formControlName="stateRegistration" id="stateRegistration" class="thf-input" type="text" disabled />
              </div>

              <div class="col-md-4 col-lg-4 col-xl-4">
                <label for="municipalRegistration" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">{{ 'hotelPanelModule.propertyEdit.documents.municipalRegistration' | translate }}</label>
                <input formControlName="municipalRegistration" id="municipalRegistration" class="thf-input" type="text" disabled />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <span class="thf-u-margin-vertical--3">&nbsp;</span>

    <div *ngIf="!showLoading" class="row">
      <div class="col-md-6 col-lg-8 col-xl-8">&nbsp;</div>
      <div class="col-md-3 col-lg-2 col-xl-2">
        <button (click)="cancelDetailPage()" data-qa-id="cancel" type="button" name="button" class="thf-btn thf-btn-secondary">{{ 'commomData.cancel' | translate }}</button>
      </div>
      <div class="col-md-3 col-lg-2 col-xl-2">
        <button (click)="saveProperty()" data-qa-id="save" type="button" name="button" class=" thf-btn thf-btn-primary" [disabled]="!formGroupEditProperty.valid">{{ 'commomData.confirm' | translate }}</button>
      </div>
    </div>

    <div *ngIf="showLoading" class="row">
      <div class="col-12">
        <img src="{{'loading-thick.svg' | imgCdn}}" alt="{{ 'commomData.loading' | translate }}">
      </div>
    </div>

    <span class="thf-u-margin-vertical--3">&nbsp;</span>
  </form>
</div>
