.alignSearch {
  justify-content: flex-end;
}

.inputSearch {
  flex: 1;
}


/* config search button */
.search-icon {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
  width: 50px;
  background-color: var(--color-white);
  border-radius: 50%;
  margin-left: 80px;
}
.search-icon__item {
  background: transparent;
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
  left: 5%;
  bottom: 3px;
}
.search-icon__item:before {
  background-color: var(--color-card-gradient-final);
  border-radius: 2.5px;
  content: '';
  display: inline-block;
  height: 8px;
  left: 29px;
  position: absolute;
  top: 32px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  width: 3px;
}
.search-icon__item:after {
  border: 2px solid var(--color-card-gradient-final);
  border-radius: 50%;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: '';
  height: 15px;
  left: 10px;
  position: absolute;
  top: 15px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
  width: 15px;
}

.search-icon--transformed .search-icon__item:before {
  height: 20px;
  left: 23px;
  top: 15px;
  width: 2px;
}
.search-icon--transformed .search-icon__item:after {
  background-color: var(--color-card-gradient-final);
  border: 0;
  border-radius: 0;
  height: 20px;
  left: 23px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 2px;
}
