<form [formGroup]="formHelp">
  <div class="row alignSearch">
      <input id="searchHelp"
             *ngIf="statusButton"
             class="thf-input inputSearch"
             placeholder="{{'text.wantLearn' | translate}}"
             formControlName="searchHelp"/>

      <div class="search-icon"
           (click)="changeViewSearch()"
           [ngClass]="statusButton? 'search-icon--transformed' : ''">
        <div class="search-icon__item"></div>
      </div>
  </div>
</form>
