<admin-page-list-wrapper
  #pageList
  [pageSettings]="pageSettings"
  [pageTableSettings]="pageTableSettings"
></admin-page-list-wrapper>

<thf-modal
  #modal
  [t-title]="modalSettings?.title"
  [t-primary-action]="modalSettings.confirm"
  [t-secondary-action]="modalSettings.cancel"
  [t-size]="modalSettings.size"
  [t-click-out]="modalSettings.clickOut"
  [formGroup]="form"
>
  <div class="thf-md-6">
    <thf-input
      name="brandName"
      formControlName="brandName"
      class="required-field"
      [t-label]="modalSettings.brandName.label"
      [t-required]="true"
    ></thf-input>
  </div>

  <div class="thf-md-6">
    <thf-select
      name="chainId"
      formControlName="chainId"
      class="required-field"
      [t-label]="modalSettings.chainId.label"
      [t-options]="chainList"
      [t-required]="true"
    ></thf-select>
  </div>
</thf-modal>
