<div
  class="container-width"
  #sidebarReal>
  <div class="thf-u-padding--1 header-sidebar">
      <span>
        <input
          #checkboxAll
          id="checkboxAll"
          [checked]="isAllChecked()"
          (click)="toggleAllCheckin()"
          type="checkbox"
          class="thf-input-type-checkbox">
        <label for="checkboxAll">
          <span class="ui"></span>
        </label>
      </span>
    <span
      class="thf-u-font--bold thf-u-font--14">
      {{ 'checkinModule.guestFnrhcreateEdit.guestList.title' | translate }}
    </span>
    <span class="thf-u-font--bold thf-u-font--14 thf-u-color--blue">
      ( {{guestReservationCheckedForCheckinList?.length | pad: 2 }} / {{ guestCards?.length | pad: 2 }} )
    </span>
  </div>
  <ul class="thf-u-reset-list">
    <app-card-guest-fnrh
      *ngFor="let guest of getGuestList(); let i=index"
      [index]="i"
      [guest]="guest"
      (click)="canChoose(guest)"
      (insertOrRemoveGuestReservationItemForCheckinEvent)="insertOrRemoveGuestReservationItemForCheckin($event)">
    </app-card-guest-fnrh>
  </ul>
</div>
