:root {
  --color-grey-whisper: #EBEBEB;
}

.container-width {
  border: 1px solid var(--color-grey-whisper);
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

  .header-sidebar > span:last-of-type {
    display: block;
    text-align: right;
  }
}
