.radio-container > span {
  min-width: 30px;
  padding-right: 20px;
  position: relative;
}

.ajust-to-top {
  top: -30px;
}
.input-percent {
  width: 100px;
}
.icon-percent {
  position: absolute;
  right: 50%;
  top: 41px;
  color: var(--color-grey-darker);
}

.ajust-value {
  position: relative;
  top: -10px;
}
.right-dash {
  border-right: 1px solid var(--color-grey-athens);
}
