<app-modal-wrapper [modalId]="modalId" [title]="'label.discount'" maxWidth="650px" >
  <form [formGroup]="discountForm" class="thf-u-padding-right--1 thf-u-padding-left--1" >
    <div class="thf-modal-body">
      <div class="row">
        <div class="col-5">
          <label class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold">
            {{ 'label.discountType' | translate }}
          </label>
          <div class="d-flex radio-container thf-u-margin-top--1" *ngIf="valueTypeEnabled" >
            <span>
              <input name="discountType" type="radio" class="thf-input-type-radio" id="radio-btn-value" value="value" formControlName="discountType" (change)="calculateNewValue()"  />
              <label for="radio-btn-value" class="">
                <span class="ui"></span>
             </label>
            </span>
            <span class="">
              <label for="radio-btn-value" class="thf-u-no-margin thf-input-label thf-u-block thf-u-font--14" [ngClass]="{'thf-u-font--bold': discountTypeIsValue()}">{{'label.value' | translate}} {{ currencySymbol }} </label>
            </span>

            <span>
              <input name="discountType" type="radio" class="thf-input-type-radio" id="radio-btn-percent" value="percent" formControlName="discountType" (change)="calculateNewValue()"  />
              <label for="radio-btn-percent" class="">
                <span class="ui"></span>
              </label>
            </span>
            <span>
              <label for="radio-btn-percent" class="thf-u-no-margin thf-input-label thf-u-block thf-u-font--14" [ngClass]="{'thf-u-font--bold': discountTypeIsPercent()}">{{ 'label.percentInitials' | translate }} %</label>
            </span>
          </div>

          <div class="d-flex radio-container thf-u-margin-top--1"  *ngIf="!valueTypeEnabled">
            <span>
              <input name="discountType" type="radio" class="thf-input-type-radio" id="radio-btn-value" value="value" disabled="disabled" (change)="calculateNewValue()"  />
              <label for="radio-btn-value" class="">
                <span class="ui"></span>
              </label>
            </span>
            <span class="">
              <label for="radio-btn-value" class="thf-u-no-margin thf-input-label thf-u-block thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{'label.value' | translate}} {{ currencySymbol }} </label>
            </span>

            <span>
              <input name="discountType" type="radio" class="thf-input-type-radio" id="radio-btn-percent" value="percent" formControlName="discountType" (change)="calculateNewValue()"  />
              <label for="radio-btn-percent" class="">
                <span class="ui"></span>
              </label>
            </span>
            <span>
              <label for="radio-btn-percent" class="thf-u-no-margin thf-input-label thf-u-block thf-u-font--14 thf-u-font--bold ">{{ 'label.percentInitials' | translate }} %</label>
            </span>
          </div>
        </div>
        <div class="col-5">
          <label for="" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine" [ngStyle]="{'visibility':discountForm.get('discountType').value == 'percent'? 'hidden': ''}" >{{'label.discountValue' | translate}} ({{ currencySymbol }})</label>
          <span *ngIf="discountForm.get('discountType').value == 'percent'"  >
              <input type="text" class=" thf-input col-7" formControlName="discountValue" (change)="calculateNewValue()" >
              <i class="icon-percent">%</i>
          </span>
          <span *ngIf="discountForm.get('discountType').value == 'value'"   >
              <input type="text" class="thf-input" formControlName="discountValue" (change)="calculateNewValue()" currencyMask [options]="optionsCurrencyMask"  >
          </span>
        </div>

        <div class="col-10">
          <div class="thf-u-margin-top--1">
            <label class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
              {{ 'label.selectReason' | translate }}
            </label>
            <app-select
              (change)="calculateNewValue()"
              [selectId]="'reason'"
              [parent]="discountForm"
              [optionList]="reasonList"
              [hasFormGroup]="true">
            </app-select>
          </div>
        </div>
      </div>
    </div>
    <div class="thf-modal-footer">
      <div class="row">
        <div class="col-1 align-self-center">
          <img src="{{'tarifa-grey.svg' | imgCdn}}" alt="{{'img.tarifa' | translate }}">
        </div>
        <div class="col right-dash">
          <label
            class="thf-u-no-margin thf-input-label thf-u-font--10 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'label.originalValue' | translate }}
          </label>
          <div class="ajust-value thf-u-font--bold thf-input-label--blue thf-u-font--18">
            {{ removeNegativeSymbol(totalItems) | currencyFormat: currencySymbol}}
          </div>
          <div class="ajust-value thf-u-color--red thf-u-font--10">
            ({{ 'text.notIncludeFees' | translate }})
          </div>
        </div>
        <div class="col">
          <label
            class="thf-u-no-margin thf-input-label thf-u-font--10 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'label.valueWithDiscount' | translate }}
          </label>
          <div class="ajust-value thf-u-font--bold thf-input-label--blue thf-u-font--18">
            {{ removeNegativeSymbol(totalWithDiscount) | currencyFormat: currencySymbol }}
          </div>
        </div>
        <div class="col">
          <app-button [buttonConfig]="buttonCancelConfig"></app-button>
        </div>
        <div class="col">
          <app-button [buttonConfig]="buttonSaveConfig"></app-button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>
