<thx-widget-box >
  <div class="height">
    <div class="title-label" >
      <thx-img src="arrowdown-blue.min.svg" ></thx-img>
      <span>{{ title }}</span>
    </div>
    <thx-pie-chart [items]="items" *ngIf="items && items.length > 0 && total > 0; else empty;" ></thx-pie-chart>
  </div>
</thx-widget-box>
<ng-template #empty >
  <div class="empty-content">
    <thx-img [src]="'chart-columns.svg'" [ngClass]="'thf-u-icon-modal-large thf-u-opacity--45'" ></thx-img>
    <div class="thf-u-text-center thf-u-color--blue">{{ emptyText }}</div>
  </div>
</ng-template>
