.title-label {
  font-size: 14px;
  font-weight: bold;
}
.height {
  height: 100%;
  min-height: 150px;
}

.empty-content {
  display: inline-block;
  position: absolute;
  left: calc(50% - 37.5px);
  top: calc(50% - 37.5px);
}
