<app-modal-wrapper modalId="modal-day-detail" class="day-detail" [showHeader]="false">
  <div *ngIf="selectedDay">
    <div class="thf-modal-header">
      <div class="row">
        <div class="col-7">
          <h2 class="thf-u-font--25 thf-u-color--blue">{{ selectedDay.date | amDateFormat: 'LL' }}</h2>
          <h3 class="thf-u-font--18 thf-u-margin-top--1">{{ selectedDay.date | amDateFormat: 'dddd' | lowercase }}</h3>
        </div>
        <div class="col-3">
          <div class="thf-button-bar thf-modal-paginator">
            <button class="thf-btn thf-btn-secondary" (click)="navigatePrevious()">
              <i class="mdi mdi-chevron-left"></i>
            </button>

            <button class="thf-btn thf-btn-secondary" (click)="navigateToday()">
              <span>{{ 'label.today' | translate }}</span>
            </button>

            <button class="thf-btn thf-btn-secondary" (click)="navigateNext()">
              <i class="mdi mdi-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
      <a (click)="closeModal()" class="thf-btn-close-modal thf-u-font--30" role="button" aria-hidden="true">×</a>
    </div>

    <div class="thf-modal-body">
      <div class="row thf-u-position--relative">
        <div class="col-6">
          <div class="month">
            <ul class="weekdays">
              <li *ngFor="let weekDay of weekDayList">
                <span>{{ weekDay }}</span>
              </li>
            </ul>

            <ul class="days thf-u-margin-top--1">
              <li *ngFor="let blankDay of blankDayList"> </li>
              <li *ngFor="let day of dayList">
                <span [ngClass]="day.date == selectedDay.date ? 'active' : ''">{{ day.date | amDateFormat: 'D' }}</span>
                <span class="rate-value"
                      [ngClass]="{
                        'positive': day.oldValue && day.currentValue > day.oldValue,
                        'negative': day.oldValue && day.currentValue < day.oldValue
                      }">{{ day.currentValue }}</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="separator"></div>

        <div class="col-6">
          <div class="thf-u-margin-left--3">
            <div>
              <span
                class="thf-u-block thf-input-label--grey-submarine thf-u-font--14">{{ 'label.baseRate' | translate }}</span>
              <span class="thf-u-block thf-u-font--16">
                {{ selectedDay.oldValueString || selectedDay.currentValueString || ('label.noRate' | translate) }}
              </span>
            </div>

            <div class="thf-u-margin-top--2">
              <span
                class="thf-u-block thf-input-label--grey-submarine thf-u-font--14">{{ 'label.mealType' | translate }}</span>
              <span class="thf-u-block thf-u-font--16">{{ mealPlanType }}</span>
            </div>

            <div class="thf-u-margin-top--2">
              <span class="thf-u-block thf-input-label--grey-submarine thf-u-font--14">{{ 'label.valueOfTheDay' | translate }}</span>
              <span class="thf-u-block thf-u-font--16 rate-value"
                    [ngClass]="{
                      'positive': selectedDay.oldValue && selectedDay.currentValue > selectedDay.oldValue,
                      'negative': selectedDay.oldValue && selectedDay.currentValue < selectedDay.oldValue
                    }">
                {{ selectedDay.currentValueString || ('label.noRate' | translate) }}
              </span>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="thf-modal-footer">
      <h3 class="thf-u-font--14">{{ 'label.occupationPercent' | translate | uppercase }}</h3>

      <div class="occupation-container">
        <div class="occupation-tooltip"
             [style.left]="(selectedDay.occupation < 100 ? selectedDay.occupation : 100) + '%'">
          {{ selectedDay.occupation }}%
        </div>

        <div class="occupation-bar">
          <div class="occupation-percentual" [style.width]="selectedDay.occupation + '%'"></div>
        </div>
        <div class="row">
          <div class="col-6 thf-u-color-grey thf-u-text-left">0</div>
          <div class="col-6 thf-u-color-grey thf-u-text-right">
            <span class="thf-u-color--blue">{{ selectedDay.occupiedRooms }}</span> / {{ selectedDay.roomTotal }}
          </div>
        </div>
      </div>
    </div>
  </div>

</app-modal-wrapper>
