:host ::ng-deep .day-detail .thf-modal-dialog {
  color: var(--color-grey-dark);
}

.thf-modal-header h3 {
  margin-bottom: 0;
}

.thf-modal-paginator .thf-btn {
  min-height: 26px;
  max-height: 26px;
  line-height: .7em;
}

.thf-modal-paginator .thf-btn {
  border: 1px solid var(--color-grey);
}

.thf-modal-paginator span {
  font-size: .85em;
}

.thf-modal-paginator i {
  font-size: 1.5em;
  line-height: .6em;
}

.thf-modal-paginator .thf-btn:last-child {
  border-left: none;
  padding: .2rem;
}

.thf-modal-paginator .thf-btn:first-child {
  border-right: none;
  padding: .2rem;
}

.rate-value.positive {
  color: var(--color-green);
}

.rate-value.negative {
  color: var(--color-red);
}

/* Month header */
.month {
  width: 100%;
}

/* Month list */
.month ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.month ul li {
  /*display: inline-flex;*/
  flex: 14% 0;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 7px 0 0;
}

.weekdays li {
  font-weight: bold;
  color: var(--color-black);
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  margin: 0;
}

.days li {
  /*width: 13.6%;*/
  height: 3em;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.days li .active {
  width: 22px;
  height: 22px;
  padding: 1px;
  margin-top: -1px;
  display: inline-block;
  background: var(--color-blue);
  color: var(--color-white);
  border-radius: 50%;
}

.days li .rate-value {
  font-size: .65em;
  margin-top: 1px;
  display: block;
}

.weekdays {
  font-weight: bolder;
}

.separator {
  height: 100%;
  width: 1px;
  background: var(--color-grey);
  position: absolute;
  left: 50%;
  margin-left: -1px;
}

/* Occupancy Percentual */
.occupation-container {
  position: relative;
}

.occupation-container .occupation-bar {
  background: #D8D8D8;
  width: 100%;
  height: 4px;
  margin: 35px 0 5px;
  border-radius: 2px;
}

.occupation-container .occupation-percentual {
  background: #D8D8D8;
  height: 4px;
  background: var(--color-blue);
  max-width: 100%;
}

.occupation-tooltip {
  background-color: var(--color-blue);
  color: var(--color-white);
  text-align: center;
  border-radius: 4px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  transform: translateX(-50%);
  top: calc(-100% - 10px);
}

.occupation-tooltip:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--color-blue) transparent transparent transparent;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
}
