<div class="subtitle-content-component">
  <div class="subtitle-text" [ngClass]="getClasses()">
    {{subtitle}}
  </div>
  <div class="sub-content-info-div">
    <ng-content></ng-content>
  </div>
</div>
