@import "main";

.subtitle-content-component{
    width:100%;
    height: auto;
}
.subtitle-text{
    color: #717678;
    font-weight: bold;
    line-height: 1.23;
    text-transform: uppercase;
    font-family: 'Nunito Sans', sans-serif;
}
.sub-content-info-div{
    padding-top:20px;
}
