<app-modal-wrapper
  modalId="product-delete-modal"
  [maxWidth]="'500px'"
  [title]="'commomData.delete'">

  <div class="thf-modal-body">
    <!-- first row -->
    <div class="row">

      <div class="col-12 thf-u-text-center">
        {{ 'productModule.listPage.removeReason' | translate }}
      </div>
    </div>
    <!-- end row -->


  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelModalConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonExcludeModalConfig"></app-button>
      </div>
    </div>
  </div>

</app-modal-wrapper>
