  <div
    class="container-width"
    #sidebarReal>
    <div
      class="d-flex justify-content-between thf-u-padding--1 thf-u-padding-left--2  thf-u-padding-right--2 thf-u-background-color--blue" >
      <span class="thf-u-font--16 thf-u-color--white">
        {{ 'label.reservationGuests' | translate }}
      </span>
      <span
        class="thf-u-font--bold thf-u-font--16 thf-u-color--white">
        ( {{ freeGuestsCount ? ( freeGuestsCount | pad: 2 ) : '00' }} / {{ totalGuestsCapacity | pad: 2 }} )
      </span>
    </div>
    <div
      *ngIf="freeGuestsCount && totalGuestsCapacity && freeGuestsCount < totalGuestsCapacity"
      class="add-guest-container"
      (click)="addNewGuest()">
      <i
        class="mdi mdi-account-plus add-guest-icon"></i>
      <span class="add-guest-text">
        {{ 'action.addGuestToReservation' | translate}}
      </span>
    </div>
    <ul class="thf-u-reset-list">
      <app-card-entrance-guest-fnrh
        *ngFor="let guest of guestCards"
        [guest]="guest"
        (click)="chooseItem(guest)"
        (onResetActiveList)="resetActiveList()"
        (removeGuestEvent)="removeGuest($event)">
      </app-card-entrance-guest-fnrh>
    </ul>

    <!-- readonly -->
    <ul class="thf-u-reset-list">
      <app-card-entrance-guest-fnrh
        *ngFor="let guestReadonly of guestCardsReadonly"
        [guest]="guestReadonly"
        [isReadonly]="true">
      </app-card-entrance-guest-fnrh>
    </ul>
  </div>
