:root {
  --color-grey-whisper: #EBEBEB;
}

.add-guest-container {
  font-weight: bold;
  margin: 12px 18px;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }

  .add-guest-text {
    color: var(--color-status--checkin)!important;
    margin-left: 13px;
    text-decoration: underline;
  }

  .add-guest-icon {
    border-radius: 100%;
    background: var(--color-status--checkin)!important;
    padding: 10px;
    font-size: 18px;
    display: flex;
    width: 42px;
    height: 42px;
    color: var(--color-white)!important;
    justify-content: center;
    align-items: center;
  }
}

.container-width {
  border: 1px solid var(--color-grey-whisper);
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

  .header-sidebar > span:last-of-type {
    display: block;
    text-align: right;
  }
}
