<app-modal-wrapper modalId="confirm-insert-base-rate" [title]="'title.insertionConfirm'">
  <app-confirm-modal
    *ngIf="showConfirmModal"
    [confirmModalDataConfig]="confirmModalDataConfig"
  ></app-confirm-modal>
</app-modal-wrapper>

<app-header-page-new
  [config]="configHeaderPage"
  [rightButtonList]="topButtonsListConfig">
  <header-title>
     <span *ngIf="!isFixRate()">{{title}}</span>
     <span *ngIf="isFixRate()"><strong>{{title}}</strong> | {{ratePlan?.agreementName}}</span>
  </header-title>
</app-header-page-new>


<app-group-content
  [title]="'label.paymentTypeData'">
  <div [formGroup]="paymentTypeForm">

    <div class="row align-center">
      <div class="col-2">
        <label
          class="thf-input-label thf-u-no-margin thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required"
          for="initialDate">
          {{ 'label.validityPeriod' | translate }}
        </label>
        <thx-datepicker formControlName="initialDate" id="initialDate" [minDateToday]="true" (dateChanged)="getPremiseList()"></thx-datepicker>
        <thx-error formControlName="initialDate"></thx-error>
      </div>
      <div class="col-2 mt-2">
        <label  class="thf-input-label thf-u-no-margin thf-u-font--bold thf-input-label--grey-submarine">

        </label>
        <thx-datepicker formControlName="lastDate" id="lastDate" (dateChanged)="getPremiseList()"></thx-datepicker>
        <thx-error formControlName="lastDate"></thx-error>
      </div>

      <div class="col-7 offset-1">
        <div>
          <label
            class="thf-input-label thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
            {{ 'label.editionType' | translate }}
          </label>
        </div>

        <app-button-bar [buttonBarConfig]="buttonBarConfig" class="heightBtn"></app-button-bar>
      </div>
    </div>

    <div class="row thf-u-margin-top--2" *ngIf="!isLevel">

      
      <div class="col-2">
        <label class="thf-input-label thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required"
               for="mealType">
          {{ 'label.rateCurrency' | translate }}
        </label>
        <div class="hps-margin--3">
          <app-select
            [parent]="paymentTypeForm.get('rateCurrencySelect')"
            [optionList]="currencyOptionListToSelect"
            [selectId]="'rateCurrency'"
            [isUppercase]="false"
            [hasFormGroup]="true"
            [hasMagin]="false"
            (change)="getPremiseList()">
          </app-select>
        </div>
        <div formGroupName="rateCurrencySelect">
          <thx-error formControlName="rateCurrency"></thx-error>
        </div>
      </div>
      <div class="col-2"></div>

      <div class="offset-1 col-7 thf-u-no-padding-right">
        <div>
          <label class="thf-input-label thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required"
                 for="mealType">
            {{ 'label.applyTo' | translate }}
          </label>
        </div>
        <div>
          <week-day-check-list (weekDaysSelected)="weekDaysSelected($event)"></week-day-check-list>
        </div>
      </div>
    </div>
  </div>
</app-group-content>

<div
  *ngIf="isPremise"
  class="thf-u-margin-top--2">

  <app-group-content
    [title]="'label.ratePremise'">

    <div class="col col-12" *ngIf="!premiseList || (premiseList && !premiseList.length)">
      {{ 'text.premiseListEmptyForDateRange' | translate }}
    </div>

    <div [formGroup]="premiseForm" class="row" *ngIf="premiseList && premiseList.length > 0">
      <div class="col-2">
        <label class="thf-input-label thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required"
               for="premiseId">
          {{ 'label.premise' | translate }}
        </label>
        <div class="hps-margin--3">
          <app-select
            *ngIf="premiseList && premiseList.length > 1"
            id="premiseId"
            [parent]="premiseForm"
            [optionList]="premiseList"
            [selectId]="'premiseId'"
            [isUppercase]="false"
            [hasFormGroup]="true"
            [hasMagin]="false">
          </app-select>
          <div
            *ngIf="premiseList && premiseList.length === 1"
            class="thf-u-font--bold hps-margin--3 premise-value-field">
            {{ currentPremise?.name }}
          </div>
        </div>
        <thx-error
          *ngIf="premiseList && premiseList.length > 1"
          formControlName="premiseId"></thx-error>
      </div>
      <div class="col-2">
        <label
          class="thf-input-label thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.referenceRoomType' | translate }}
        </label>
        <div class="thf-u-font--bold hps-margin--3 premise-value-field">
          {{ currentPremise ? currentPremise?.roomTypeReference.name : '-------'}}
        </div>
      </div>
      <div class="col-2">
        <label class="thf-input-label thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.qtdPax' | translate }}
        </label>
        <div class="thf-u-font--bold hps-margin--3 premise-value-field">
          {{ currentPremise ? currentPremise.paxReference : '---'}}
        </div>
      </div>
      <div class="col-2">
        <label class="thf-input-label thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
          {{ 'label.dailyReferenceValue' | translate }}
        </label>
        <app-input-label
          [disabled]="!currentPremise"
          [parent]="premiseForm"
          [symbol]="currentPremise?.currency?.symbol"
          [valueModel]="'premiseAmount'"></app-input-label>
        <thx-error formControlName="premiseAmount"></thx-error>
      </div>
      <div class="col-2 thf-u-margin-top--4">
        <app-button [buttonConfig]="premiseApplyButton"></app-button>
      </div>
    </div>
  </app-group-content>
</div>

<div class="thf-u-margin-top--2" *ngIf="roomTypeWithBaseRateList && isValue">
  <app-group-content
    [title]="'title.setBaseRate'"
    [bodyClass]="'thf-u-no-padding'">
    <base-rate-table
      (roomTypeWithBaseRateUpdatedList)="setRoomTypeWithBaseRateUpdatedList($event)"
       [propertyParameterList]="propertyParameterList"
       [roomTypeWithBaseRateList]="roomTypeWithBaseRateList"></base-rate-table>
  </app-group-content>
</div>

<div class="thf-u-margin-top--2"
     *ngIf="roomTypeWithBaseRateList
       && isPremise
       && hasTablePremise
       && selectedPremise
       && premiseList 
       && premiseList.length > 0">
  <app-group-content
    [title]="'title.setBaseRate'"
    [bodyClass]="'thf-u-no-padding'">
    <app-premise-rate-table
      [currentPremiseValue]="currentPremiseValue"
      [selectedPremise]="selectedPremise"
      [propertyParameterList]="propertyParameterList"
      [roomTypeWithBaseRateList]="roomTypeWithBaseRateList">
    </app-premise-rate-table>
  </app-group-content>
</div>

<div class="thf-u-margin-top--2" *ngIf="roomTypeWithBaseRateList && !isLevel">
  <app-group-content
    [title]="'title.setMealPlan'"
    [bodyClass]="'thf-u-margin-padding--05'">
    <div class="row justify-content-end mb-2">
      <div class="col-auto">
        <div>
          <input
            type="checkbox"
            class="thf-input-radio-button"
            id="useMealPlanTypeDefaultList"
            [ngModel]="useMealTypeListDefault"
            (ngModelChange)="toggleDefaultMealTypeList()"
            [ngModelOptions]="{standalone: true}"
          />
          <label class="thf-u-vertical-align-super" for="useMealPlanTypeDefaultList">
            <span class="ui"></span>
          </label>
          <span>{{ 'text.setMealPlanTypeDefault' | translate }}</span>
        </div>
      </div>
     </div>
     <br />
    <meal-plan-table *ngIf="!useMealTypeListDefault"
       (updatedList)="updatedListMealTypeWithBaseRate($event)"
       [propertyParameterList]="propertyParameterList"
       [mealTypeList]="mealTypeList"
       [canChoseDefault]="true"
       [isDisabled]="useMealTypeListDefault"
       ></meal-plan-table>
  </app-group-content>
</div>

<div class="thf-u-margin-top--2" *ngIf="isLevel && paymentTypeForm.get('lastDate').value">
  <app-base-level-list
    #baseRateLevel
    [initialDate]="paymentTypeForm.get('initialDate').value"
    [lastDate]="paymentTypeForm.get('lastDate').value"
    [propertyParameterList]="propertyParameterList"
    [roomTypeList]="roomTypeWithBaseRateList"
    (isvalid)="validSaveButton($event)"
    (levelRateIdList)="getLevelId($event)"
    (weekSelected)="getWeekSelectedLevel($event)"
    (dateOutside)="getDateOutside($event)">
  </app-base-level-list>
</div>
<app-empty-content-wrapper class="thf-u-margin-top--2" *ngIf="isLevel && !paymentTypeForm.get('lastDate').value">
  <content-title>{{'commomData.warning' | translate}}</content-title>
  <content-description>
    {{'alert.pleaseEffectiveDate' | translate}}
  </content-description>
</app-empty-content-wrapper>

<div class="row thf-u-margin-top--2">
  <div class="offset-8 col-2 thf-u-margin-top--2">
    <app-button [buttonConfig]="cancelButtonConfig"></app-button>
  </div>
  <div class="col-2 thf-u-margin-top--2">
    <app-button [buttonConfig]="saveButtonConfig"></app-button>
  </div>
</div>
