<footer class="app-modal-footer">
  <div class="outerNavigation">
    <a
      class="skipButton"
      [routerLink]="[skipStepRoute]"
      *ngIf="skipStepRoute"
    >{{'action.skipStep' | translate}}</a>
  </div>
  <div class="navigation">
    <thx-button-v2
      class="previousButton"
      (clicked)="previousStep()"
      [iconBefore]="getPreviousButtonSvg()"
      *ngIf="isPreviousAvailable">
      {{'action.return' | translate}}
    </thx-button-v2>

    <thx-button-v2
      (clicked)="nextStep()"
      [primary]="true"
      [disabled]="!isNextEnabled"
      [iconAfter]="getNextButtonSvg()">
      {{(!isLastStep ? 'action.next' : 'action.confirm') | translate }}
    </thx-button-v2>
  </div>
</footer>
