.app-modal-footer {
  border-top: 1px solid var(--color-grey-athens);
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  > .outerNavigation {
    > .skipButton {
      font-size: 13px;
      color: var(--color-gray-text);
      height: 36px;
      line-height: 36px;
    }
  }

  > .navigation {
    display: flex;

    > .previousButton {
      margin-right: 50px;
    }
  }
}
