<thf-page-edit *ngIf="data$ | async as data">
  <admin-group
    [title]="formTitle"
    [isOpen]="true">
    <admin-user-data-form
      #userDataForm
      [user]="data.user"
      [chainOptions]="data.chainOptions"
    ></admin-user-data-form>
  </admin-group>
  <div class="thf-mt-2">
    <admin-user-brand-list-form
      #userBrandList
      [brands]="filteredBrands$ | async"
      [user]="data.user"
    ></admin-user-brand-list-form>
  </div>
  <div class="thf-mt-2">
    <admin-user-hotel-list-form
      #userHotelList
      [hotels]="filteredHotels$ | async"
      [user]="data.user"
    ></admin-user-hotel-list-form>
  </div>
</thf-page-edit>
