.ngx-datatable.material {
  border: 1px solid var(--color-grey-light);
  box-shadow: inset 0 1px 1px 1px var(--color-shadow-input);
  border-radius: 3px;
  background: var(--color-white);
  overflow: visible;
}

.ngx-datatable.table-scroll datatable-body {
  height: 200px !important;
  overflow-x: hidden !important;
}

.datatable-scroller.datatable-scroll {
  max-width: 100%;
}
.ngx-datatable .datatable-body .datatable-scroll {
  max-width: 100%;
}
.ngx-datatable.fixed-row .datatable-scroll {
  white-space: normal !important;
}

.ngx-datatable.material .datatable-header {
  height: unset !important;
  border-bottom: 1px solid var(--color-blue);
}

.ngx-datatable.material .datatable-header .datatable-header-cell *,
.ngx-datatable.material .datatable-header .datatable-header-cell .datatable-header-cell-label {
  color: var(--color-blue);
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;

  .subtitle {
    font-size: 12px;
  }
}

.ngx-datatable.material .datatable-body .datatable-body-row {
  vertical-align: middle;
  border: 1px solid var(--color-grey-zicon);
}

.ngx-datatable.material .datatable-body .datatable-body-row > div {
  max-width:100%;
}

.ngx-datatable.material .datatable-body .datatable-body-row:hover {
  color: var(--color-blue-dark);
  background-color: var(--color-blue-lighter);
}
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover,
.ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group {
  color: var(--color-blue-dark);
  background-color: var(--color-blue-lighter);
}
.ngx-datatable.material .datatable-body .datatable-body-row:first-child {
  border-top: none;
}
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell,
.ngx-datatable.material .datatable-header .datatable-header-inner .datatable-header-cell {
  text-align: left;
  vertical-align: middle;
  overflow: visible !important;
  padding: .9rem .7rem;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell.datatable-body-cell-hidden,
.ngx-datatable.material .datatable-header .datatable-header-inner .datatable-header-cell.datatable-body-cell-hidden{
  overflow: hidden !important;
}

.ngx-datatable.material .datatable-body .datatable-row-detail {
  padding: 0;
  overflow: visible;

}
.ngx-datatable.material .datatable-footer {
  color: var(--color-blue);
  margin-top: -1px;
  border-top: 1px solid var(--color-blue);
}
.ngx-datatable.material .datatable-footer .page-count {
  line-height: 50px;
  height: 50px;
  padding: 0 1.2rem;
  color: var(--color-blue);
  font-weight: bold;
}
.ngx-datatable.material .datatable-footer .datatable-pager {
  margin: 0 10px;
  vertical-align: top;
}
.ngx-datatable.material .datatable-footer .datatable-pager ul li {
  margin: 10px 0px;
}
.ngx-datatable.material .datatable-footer .datatable-pager ul li:not(.disabled).active a,
.ngx-datatable.material .datatable-footer .datatable-pager ul li:not(.disabled):hover a {
  background-color: var(--color-blue);
  color: var(--color-white);
  font-weight: bold;
}
.ngx-datatable.material .datatable-footer .datatable-pager a {
  height: 22px;
  min-width: 24px;
  line-height: 22px;
  padding: 0;
  border-radius: 3px;
  margin: 0 3px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  vertical-align: bottom;
  color: var(--color-blue);
}
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-left,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-skip,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-right,
.ngx-datatable.material .datatable-footer .datatable-pager .datatable-icon-prev {
  font-size: 18px;
  line-height: 27px;
  padding: 0 3px;
}
.datatable-body-cell-label .datatable-icon-left,
.datatable-body-cell-label .datatable-icon-right,
.datatable-body-cell-label .datatable-icon-down {
  text-decoration: none;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell:hover {
  cursor: pointer;
}

.ngx-datatable.material .datatable-body-cell-label , .ngx-datatable.material .datatable-body-cell-label .thf-table-tbody-td-hover  {
  width: 100%;
  height: 100%;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell:last-child .datatable-body-cell-label > div {
  overflow: visible;
}
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell:last-child .datatable-body-cell-label > div.arrow {
  padding: 0rem 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.thf-table-tbody-td-hover-color {
  background-color: var(--color-blue-lighter);
}

.hps-icon-size-default {
  width: 15px;
  height: 15px;
}
.hps-icon-size-default.hps-icon-size--1 {
  width: 12px
}
.hps-icon-size-default.hps-icon-size--2 {
  width: 20px
}

.nom-wrap--force {
  text-overflow: unset !important;
}

.no-submenu-options {
  white-space: nowrap!important;
  overflow: hidden;
  text-overflow: ellipsis!important;
}

.ngx-datatable.material .datatable-body .datatable-body-row.active,
.ngx-datatable.material.single-selection .datatable-body-row.active,
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active,
.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material .datatable-body-cell.crud-action:hover,
.ngx-datatable.material .datatable-body-cell.crud-action.active
{
  color: var(--color-blue-dark) !important;
  background-color: var(--color-blue-lighter) !important;
}
.ngx-datatable.material .datatable-body .datatable-body-row.active:hover,
.ngx-datatable.material.single-selection .datatable-body-row.active:hover,
.ngx-datatable.material.single-selection .datatable-body-row.active:hover .datatable-row-group, .ngx-datatable.material.multi-selection .datatable-body-row.active:hover,
.ngx-datatable.material.multi-selection .datatable-body-row.active:hover .datatable-row-group, .ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
  color: var(--color-blue-dark) !important;;
  background-color: var(--color-blue-lighter) !important;;
}

.datatable-row-detail tbody {
  max-width: 100% !important;
  display: block;
}

.ngx-datatable .datatable-body::-webkit-scrollbar {
  width: 5px;
}

.ngx-datatable .datatable-body::-webkit-scrollbar-thumb {
  background-color: var(--color-blue);
  border-radius: 100px;
  outline: 1px solid var(--color-blue);
}

.ngx-datatable input[type=radio]:checked ~ label .ui {
  top: 2.4px;
  left: 13%;
}

.last-option-dots datatable-body-cell[ng-reflect-expanded=true]:last-of-type,
.last-option-dots datatable-body-cell[ng-reflect-expanded=true]:last-of-type:hover {
  background: var(--color-blue) !important;
  padding: 10px !important;
}

.ngx-datatable.header-table {
  .datatable-header-cell .datatable-header-cell-label {
    color: var(--color-grey)!important;
    font-weight: normal !important;
  }
  .datatable-header {
    border-bottom: 1px solid var(--color-grey-sauvignon) !important;
  }

  .datatable-footer {
    border-top: 1px solid var(--color-grey-sauvignon) !important;
  }

  .datatable-body .datatable-body-row .datatable-body-cell {
    font-size: 13px !important;
  }
}

.ngx-datatable.background-table {
  background-color: var(--color-grey-sauvignon) !important;
  width: 100%;

  .datatable-header {
    border-bottom: 1px solid var(--color-white);
  }
}

