.mydrp, .mydp {
  margin-top: 10px;

  .selection {
    width: 100% !important;
    padding: 0 15px 0 0 !important;
    text-align: center !important;
  }

  .selection::placeholder {
    text-align: center;
  }

  .weekdaytitle,
  .monthinput,
  .yearinput,
  .titleareatxt {
    font-weight: normal;
    font-size: 12px;
  }

  .btnpicker {
    color: var(--color-blue) !important;
    width: 32px;
  }

  @media screen and (max-width: 1200px) {
    .caltable {
      .daycell,
      .monthcell,
      .weekdaytitle,
      .yearcell {
        padding: 12px;
      }
    }

    .selection table {
      width: 100% !important;
    }

    .headerbtncell {
      padding: 10px;
    }

  }

}

.thf-u-no-margin .mydrp, .thf-u-no-margin .mydp {
  margin-top: 0;
}
