<div class="user-profile">
  <h5 class="title">{{ 'title.myProfile' | translate }}</h5>
  <div class="picture">
    <p
      class="name"
      *ngIf="!user?.photoUrl"
    >{{user?.name | acronym: 2 | uppercase}}</p>
    <img
      class="image"
      alt=""
      *ngIf="user?.photoUrl"
      [src]="user?.photoUrl"
    />
  </div>
  <p id="name" class="name">{{ user?.name }}</p>
  <p id="email" class="description">{{user?.email}}</p>
  <p id="birthday" class="description"
    *ngIf="user?.dateOfBirth" >
    {{user?.dateOfBirth | amDateFormat: 'L'}}
    ({{user?.dateOfBirth | years}} {{'text.years' | translate}})
  </p>
  <div class="grow">
    <button
      type="button"
      class="logout"
      (click)="logout()"
    >{{ 'action.endSession' | translate }}</button>
  </div>
</div>

<div class="menu-links">
  <h5 class="title">{{ 'title.options' | translate }}</h5>
  <hr class="divider" />
  <a
    class="link"
    routerLinkActive="active"
    [routerLink]="['/p', this.propertyId, 'profile', 'info']"
  >
    <img class="icon" [src]="'permission.svg' | imgCdn" alt="">
    <span class="text">{{ 'title.userInfo' | translate }}</span>
  </a>
  <a
    class="link"
    routerLinkActive="active"
    [routerLink]="['/p', this.propertyId, 'profile', 'permission']"
  >
    <img class="icon" [src]="'profile.svg' | imgCdn" alt="">
    <span class="text">{{ 'title.profilePermissions' | translate }}</span>
  </a>
  <a
    class="link"
    routerLinkActive="active"
    [routerLink]="['/p', this.propertyId, 'profile', 'password']"
  >
    <img class="icon" [src]="'password.svg' | imgCdn" alt="">
    <span class="text">{{ 'title.changePassword' | translate }}</span>
  </a>
</div>
