@import "variables";

:host {
  display: flex;
  width: 410px;
}

.title {
  opacity: 0.7;
  font-size: 10px;
  color: $grey-color--60;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  padding: 0 11px;
  margin: 0;
}

.user-profile {
  display: flex;
  flex-direction: column;
  padding: 15px 8px 18px;
  background: rgba($primary-color, 0.1);
  align-items: center;
  height: 214px;
  width: 189px;
  border-radius: 6px 0 0 6px;

  > .picture {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    margin: 14px 5px 5px 5px;
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;

    &:before {
      content: '';
      width: 60px;
      height: 60px;
      opacity: 0.5;
      border: solid 1px $primary-color;
      background: transparent;
      display: block;
      position: absolute;
      border-radius: 60px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    > .name {
      font-size: 18px;
      color: white;
      margin: 0;
      padding: 0;
    }

    > .image {
      width: 100%;
      height: 100%;
      border-radius: 60px;
    }
  }

  > #name {
    font-size: 14px;
    font-weight: bold;
    color: $primary-color;
    margin: 12px 0 0 0;
  }

  > .description {
    width: 148px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    color: $grey-color--50;
    margin: 3px 0 0 0;
  }

  > .grow {
    display: flex;
    flex: 1;
    align-items: flex-end;

    > .logout {
      font-size: 12px;
      color: $error-color--focused;
      padding: 0;
      margin: 0;
      background: transparent;
      border: none;
      outline: none;
      height: 14px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.menu-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px 8px 10px;
  background: white;
  border-radius: 0 6px 6px 0;

  > .divider {
    width: 100%;
    border: 0;
    border-top: 1px solid $grey-color--20;
    margin: 11px 0 5px 0;
  }

  > .link {
    height: 45px;
    width: 100%;
    padding: 14px 12px 15px;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &:hover, &.active {
      background-color: rgba($primary-color, 0.1);
      border-radius: 8px;
      text-decoration: none;
    }

    > .icon {
      width: 15px;
      height: 20px;
      margin-right: 20px;
    }

    > .text {
      height: 16px;
      font-size: 12px;
      color: $black-color;
    }
  }
}
