.week-show-comp-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 310px;

  * {
    user-select: none;
  }

  .day {
    color: var(--color-white);
    background: var(--color-blue);
    border-radius: 4px;
    border: 1px solid var(--color-blue);
    width: 34px;
    height: 27px;
    box-sizing: border-box !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px !important;

    &.disabled{
      background: var(--color-grey-azure);
      border: 1px solid var(--color-grey);
      color: var(--color-grey);
    }
  }
}
