<div class="row week-show-comp-wrapper">
  <div
    *ngFor="let item of dayList"
    class="thf-u-padding-horizontal--05">
    <span
      class="day"
      [ngClass]="{disabled: !checkIsEnabled(item?.day)}">
      {{ item.label }}
    </span>
  </div>
</div>
