<div class="row align-items-center thf-u-margin-vertical--2">
  <div class="col-10">
      <span class="thf-u-font--bold thf-u-font--16">
        {{ 'title.governanceStatus' | translate }}
      </span>
  </div>
  <div class="col thf-u-no-padding">
    <app-button [buttonConfig]='createButtonConfig'  ></app-button>
  </div>
</div>



<div class="thf-u-margin-top--2"></div>

<div class="row">
  <div class="col-12">
    <ngx-datatable
      #table
      *ngIf="govervanceStatusList && govervanceStatusList.length > 0"
      class="material"
      [rows]="govervanceStatusList"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'45'"
      [limit]="dataTableGlobals.limitItensPage"
    >

      <ngx-datatable-column name="{{ 'label.active' | translate }}"
                            [width]="100"
                            [resizeable]="false"
                            [draggable]="false"
                            [canAutoResize]="false"
                            headerClass="thf-u-text-center"
                            cellClass="thf-u-text-center">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div [hidden]="!row.visibleBtnIsActive">
            <input type="checkbox" [(ngModel)]="row.isActive" (ngModelChange)="updateStatusFlag(row)"
                   class="thf-input-radio-button" id="{{row.id}}"/>
            <label class="thf-u-vertical-align-super" for="{{row.id}}">
              <span class="ui"></span>
            </label>
          </div>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="{{'label.status' | translate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div >{{ row.statusName }}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{'label.reference' | translate }}">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div >{{ row.housekeepingStatusName }}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'label.color' | translate }}"
                            [width]="50"
                            headerClass="thf-u-text-center"
                            cellClass="thf-u-text-center">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div >
            <div class="circle-color-box" [style.background-color]="row.color"></div>
          </div>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="" [width]="50" cellClass="thf-u-no-padding">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <app-submenu-options [items]="!row.visibleBtnIsActive? itemsOptionDefault : itemsOption"
                               (itemWasAction)="runCallbackFunction($event, row)"></app-submenu-options>

        </ng-template>
      </ngx-datatable-column>


    </ngx-datatable>
  </div>
</div>

<div class="row" *ngIf="!govervanceStatusList || govervanceStatusList.length <= 0">
  <div class="col-8 offset-2">
    <div class="row">
      <div class="col-12">
        <div class="thf-empty-content thf-u-text-center">
          <div class="thf-empty-content-header thf-u-margin-bottom--1 ">
            <div class="row">
              <div class="col-12">
                <img class="thf-empty-content-header-icon" src="{{'info.svg' | imgCdn}}"
                     alt="{{ 'img.infoIcon' | translate }}">
                <h1 class="thf-empty-content-header-title thf-u-font--bold thf-u-font--16 thf-u-inline-block">{{
                  'variable.emptyContentM.title' | translate : {'labelName': "label.status" | translate } }}</h1>
              </div>
            </div>
          </div>
          <div class="thf-empty-content-body">
            <div class="row">
              <div class="col-12">
                <p class="thf-empty-content-message thf-u-no-margin thf-u-font--14">
                  {{ 'commomData.emptyContent.followTo' | translate }}
                  <a role="button" href="javascript:void(0)" (click)="goToCreatePage()" class="thf-link">
                    {{ 'commomData.emptyContent.registerScreen' | translate }}
                  </a>
                  {{ 'variable.emptyContentM.textDescription' | translate : {'labelName': "label.status" | translate } }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL -->
<app-modal-wrapper modalId="modalGovernance" [title]="modalTitle">
  <app-governance-status-form
    #statusFormComponent
    [governanceStatus]="governanceSelected"
    (cancel)="toggleModal()"
    (save)="saveGovernanceStatus($event)"
  ></app-governance-status-form>
</app-modal-wrapper>

