@import './_variables';

:host {
  display: flex;
  height: 100%;
  background-color: $grey-color--15;
}

.wizard-container {
  display: flex;
  flex: 1;
}

.leftSize {
  background-color: $bg-color--dark;
  min-height: 100vh;
}

.headerConfig {
  padding-top: 15px;
  padding-bottom: 61px;
}

.middleCard {
  height: calc(100vh - 110px);
  width: calc(100% + 30px);
  left: -55px;
  background-color: #ffffff;
  right: 70px;
  position: absolute;
  box-shadow: 1px -1px 12px rgba(0,0,0,0.10);
  padding: 20px 40px;
  border-radius: 4px;
  max-width: 1150px;
}

.verticalStep {
  position: absolute;
  left: -95px;
  top: -90px;
}
