<app-load-new></app-load-new>
<thx-toaster-v2></thx-toaster-v2>

<div class="wizard-container">
  <div class="col-3 leftSize">
    <app-left-card
      [stepInfo]="stepInfo">
    </app-left-card>
  </div>
  <div class="col">
    <div class="headerConfig">
    </div>
    <div class="middleCard">
      <div class="verticalStep">
        <thx-steps
          class="steps"
          [isHorizontal]="false"
          [steps]="currentStep"
        ></thx-steps>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

