<app-header-page-new [config]="configHeaderPage">
  <header-title>{{'accountTypeModule.new.pageHeader.title' | translate }}</header-title>
</app-header-page-new>

<div class="row thf-u-margin-top--3 justify-content-center">
  <app-button-icon-text
    [btnText]="'accountTypeModule.new.buttonBar.singleAccount'"
    [altImg]="'commomData.images.circles'"
    [svgName]="'circles'"
    [pathLink]="'single-account'"
    class="thf-u-padding-horizontal--1"
    data-qa-id="single">
  </app-button-icon-text>

  <app-button-icon-text
    [btnText]="'accountTypeModule.new.buttonBar.guestAccount'" [altImg]="'commomData.images.person'"
    [svgName]="'hospede_icon.min'"
    [pathLink]="'guest-account'"
    class="thf-u-padding-horizontal--1"
    data-qa-id="guest">
  </app-button-icon-text>

  <app-button-icon-text
    [btnText]="'accountTypeModule.new.buttonBar.clientAccount'"
    [altImg]="'commomData.images.building'"
    [svgName]="'empresa_icon.min'"
    [pathLink]="'client-account'"
    class="thf-u-padding-horizontal--1"
    data-qa-id="client">
  </app-button-icon-text>
</div>

<div class="thf-u-margin-top--5">
  <router-outlet></router-outlet>
</div>
