<app-modal-wrapper
  [modalId]="modalId"
  [maxWidth]="'500px'"
  [title]="'commomData.delete'">

  <div class="thf-modal-body">
    <div class="row">
      <div class="col-12 thf-u-text-center">
        {{ 'text.deleteAssociationClientAndTribute' | translate }}
      </div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonDeleteConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
