.dot {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  display: inline-block;
}

.green-dot {
  background-color: var(--color-green-status);
}

.red-dot {
  background-color: var(--color-red-status);
}
