.billing-service-wrapper {
  .billing-item-button-container {
    width: 76px;
    height: 24px;
  }

  .launcher-title-color{
    color: var(--color-grey-launcher-title);
  }

  .billing-item-line-height {
    line-height: 2.3;
  }

  .col-without-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-bottom: 10px;
  }

  .col-margin-bottom{
    margin-bottom: 10px;
  }

  .row-with-padding {
    padding: 0 15px 0 20px;
  }

  .row-without-margin {
    margin-left: 0px;
    margin-right: 0px;
  }

  .row-with-margin {
    margin-left: 15px;
    margin-right: 15px;
  }

  .row-flex-with-spaces {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    /* the last component */
    &:after {
      content: "";
      flex: auto;
    }
  }

  .row-with-scroll{
    max-height: 30vh;
    overflow-y: auto;
  }

  .total-wrapper {
    padding: 0 37px;
    display: flex;
    justify-content: space-between;

    .price-wrapper {
      color: var(--color-blue);
    }
  }

  .button-wrapper{
    padding-right: 0;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 24px;
    }
  }

  .btn-with-image{
    height: 14px;
    width: auto;
  }

  .itemSearch{
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid var(--color-blue-light-border);
    box-shadow: 0 3px 14px 0 rgba(0,0,0,.2);
    border-radius: 5px;
  }

  .alignSearch{
    display: flex;
    height: 35px;
  }

  .alignRowItem{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
