<!-- header component -->
<app-header-page-new
  [enableBackButton]="true"
  [hasFilter]="true">
  <!-- header title -->
  <header-title> {{ 'title.services' | translate }}</header-title>

  <!-- search -->
  <thx-searchbar
    #searchView
    name="searchFilter"
    [placeholder]="'placeholder.searchByCodeOrServiceDescription'"
    (search)="search($event)">
  </thx-searchbar>

</app-header-page-new>

<div class="col-12 billing-service-wrapper">

  <!-- first line -->
  <div class="row thf-u-margin-vertical--2">
    <!-- first col -->
    <div class="col-7">
      <div class="row row-without-margin">
        <div class="col thf-u-font--23 billing-item-line-height launcher-title-color">
          {{'text.groups' | translate }}
        </div>
        <div class="billing-item-button-container thf-u-font--23">
          <!-- TODO: add Thx-Button -->
          <!-- TODO: comment until fix spaces -->
<!--          <button-->
<!--            type="button"-->
<!--            class="thf-btn thf-round-btn&#45;&#45;default thf-u-font&#45;&#45;12 billing-item-button"-->
<!--            (click)="seeMore()">-->
<!--            {{ (!carouselSeeMore ? 'action.seeMore' : 'action.seeLess') | translate }}-->
<!--          </button>-->
        </div>
      </div>

      <div class="thf-u-margin-vertical--2">
        <ng-container
          [ngTemplateOutlet]='!carouselSeeMore ? launcher : moreItemsList'
          [ngTemplateOutletContext]="{billingItemCategoryList: billingItemCategoryList}">
        </ng-container>
      </div>

      <div
        *ngIf="billingItemToShow && billingItemToShow.length"
        class="row thf-u-margin-vertical--2 alignRowItem">
        <div class="col-12 thf-u-font--23 billing-item-line-height launcher-title-color">
          {{'text.items' | translate }}
        </div>
      </div>

      <div class="row row-with-margin row-flex-with-spaces row-with-scroll">
        <card-service
          class="col-xl-3 col-md-4"
          *ngFor="let item of billingItemToShow"
          (selectionChange)="pushSelected(item)"
          [isSelected]="item.isSelected"
          [item]="item">
        </card-service>
      </div>
    </div>

    <!-- second col -->
    <div class="col-5">
      <div class="col-12 thf-u-font--23 billing-item-line-height">
        {{'text.cart' | translate }}
      </div>

      <ng-container
        [ngTemplateOutlet]='hasChart ? chart: empty'
        [ngTemplateOutletContext]="{ chartForm: chartForm }">
      </ng-container>

      <!-- result -->
      <div
        class="col-12 thf-u-font--23 launcher-title-color thf-u-margin-vertical--1 total-wrapper">
        {{'text.shoppingChartTotal' | translate }}

        <div class="price-wrapper">
          <span>{{ currencySymbol }}</span>
          <span>{{ totalAmountWithTax | currencyFormat: null:2:'.':',':3:false }}</span>
        </div>
      </div>

      <!-- buttons -->
      <div
        class="row thf-u-font--23 thf-u-margin-vertical--2 button-wrapper">
        <div class="col-4 offset-4">
          <app-button
            [buttonConfig]="cancelButtonConfig"></app-button>
        </div>
        <div class="col-4">
          <app-button
            [buttonConfig]="confirmButtonConfig"></app-button>
        </div>

      </div>
    </div>
  </div>

</div>

<ng-template #launcher let-productGroupList="billingItemCategoryList">
  <launcher-carousel
    [data]="billingItemCategoryList"
    [isSelector]="false"
    (itemClicked)="openItem($event)"></launcher-carousel>
</ng-template>

<ng-template #moreItemsList let-items="billingItemCategoryList">
  <div>
    <div class="row">
      <div
        *ngFor="let item of billingItemCategoryList"
        class="col-sm-4 col-md-3 col-xl-2 thf-u-padding-horizontal--2">
        <launcher-card
          [item]="item"
          class="col-margin-bottom"
          (click)="openItem(item)"></launcher-card>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #chart let-chartForm="chartForm">
  <form [formGroup]="chartForm">
    <div class="row row-with-padding">

      <!-- selected service -->
      <div class="col-12 thf-u-margin-vertical--1">
        <span class="thf-u-font--18 thf-u-font--bold thf-u-color--blue">
          {{ selectedItem?.billingItemName }}
        </span>
      </div>

      <!-- money and tax values -->
      <div class="col-6 thf-u-margin-vertical--1">
        <input-money
          [inputId]="'currencyValue'"
          [parent]="chartForm"
          [isRequired]="true"
          (valuesChange)="valuesChange($event)"
          (moneySymbolChanged)="moneySymbolChanged($event)">
        </input-money>
      </div>
      <div class="col-6">
        <div
          class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-vertical--1"
          >{{ 'text.associtedsTaxs' | translate }}</div>
          <div
            class="thf-u-color--blue thf-u-font--14"
            *ngFor="let item of taxList; let i = index">
              {{ 'text.tax' | translate }}{{ i + 1 }}: {{ item.taxPercentage }}%
          </div>
      </div>

      <!-- textare -->
      <div class="col-12 thf-u-margin-vertical--1">
        <label
          for="dataCancellationDescription"
          class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'reservationModule.commomData.remarks' | translate }}
        </label>
        <textarea
          class="thf-input thf-textarea"
          formControlName="serviceDetail"
          maxlength="4400"
          id="dataCancellationDescription"></textarea>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #empty>
  <billing-item-empty-cart></billing-item-empty-cart>
</ng-template>

