<table class="full-width" [ngClass]="{'report-container': singleTableForPage}" >
  <thead class="report-header">
  <tr>
    <th class="report-header-cell">
      <div class="header-info">
        <h1 *ngIf="showPropertyName">{{ propertyName }}</h1>
        <h2>{{ title }}</h2>
        <h2 *ngIf="_periodInfo"> {{ _periodInfo }} </h2>
      </div>
    </th>
  </tr>
  </thead>
  <tfoot class="report-footer">
  <tr>
    <td class="report-footer-cell">
      <div class="footer-info">
        <div>
          <strong>
            {{ 'sharedModule.bottomBar.version' | translate }} {{ appVersion }}
          </strong>
        </div>
        <div>
          <!--Page <span class="counter"></span>-->
        </div>
        <div *ngIf="showDateHour">
          <strong>{{ date }}</strong>
        </div>
      </div>
    </td>
  </tr>
  </tfoot>
  <tbody class="report-content">
  <tr>
    <td class="report-content-cell">
      <div class="main">
        <table class="printable">
          <thead *ngIf="hasHeaderColumn">
          <tr>
            <th *ngFor="let column of columns" [style.width]="column.width">
              {{column.name | translate}}
            </th>
          </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of items">
              <tr class="line-break">
                <td *ngFor="let column of columns" [style.text-align]="column.align">
                  <ng-container
                    [ngTemplateOutlet]="column.printableTemplate"
                    [ngTemplateOutletContext]="{item:item, column: column}">
                  </ng-container>
                </td>
              </tr>
              <ng-container *ngIf="item.details"
                [ngTemplateOutlet]="printableExtraTemplate"
                [ngTemplateOutletContext]="{details:item.details, column: columnsExtra}">
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  </tbody>
  <tbody>
  <ng-container [ngTemplateOutlet]="footerTemplate"></ng-container>
  </tbody>
</table>

<ng-template #printableDefaultTemplate let-item="item" let-column="column">
  <span *ngIf="column.prop" class="defaultTemplate">
    {{ item[column.prop] }}
  </span>
</ng-template>


<ng-template #dateTemplate let-item="item" let-column="column">
  <span *ngIf="column.prop" class="defaultTemplate">
    {{ item[column.prop] | amDateFormat: 'L' }}
  </span>
</ng-template>

<ng-template #printableExtraTemplate let-details="details" let-column="column">
  <ng-container>
    <tr
      *ngFor="let detail of details"
      class="line-break-extra">
      <td [colSpan]="colSpan">
        <span>  {{ detail.label | translate }}: {{ detail.value }} </span> 
      </td>
    </tr>
  </ng-container>
</ng-template>
