@page {
  size: landscape A4;
  margin: 2%;
}

.full-width {
  width: 100%;
}
table[class='printable'] tr[class~='line-break-extra'] {
  border: none;
}

table[class='printable'] tr[class~='line-break-extra'] td{
  padding-top: 5px;
}

table[class='printable'] tr[class~='line-break-extra'] td span {
  font: normal 0.9em Tahoma, Verdana, Arial, sans-serif;
}

table[class='printable'] {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  font: normal 0.7em Tahoma, Verdana, Arial, sans-serif !important;
  /*counter-reset: line;*/
}

table[class='printable'] tr {
  border-top: 1px solid var(--color-black);
  /*counter-increment: line;*/
}

table[class='printable'] tr:last-child {
  border-bottom: 1px solid var(--color-black);
}

table[class='printable'] tr th, table[class='printable'] tr td span[class="defaultTemplate"] {
  padding: 5px;
  text-align: left;
}

table[class='printable'] tr[class="line-break"] {
  page-break-after: always;
}

table[class='printable'] tr th {
  font-weight: bold;
}

table[class='printable'] tr td span[class="defaultTemplate"] {
  font: normal 0.7em Tahoma, Verdana, Arial, sans-serif !important;
}

table[class="report-container"] {
  page-break-after: always;
  width: 100%;
}

thead[class="report-header"] {
  display: table-header-group;
}

tfoot[class="report-footer"] {
  display: table-footer-group;
}

thead[class="report-header"] div[class="header-info"] {
  padding-top: 1em;
  font-weight: bold;
  text-align: center;
}

thead[class="report-header"] div[class="header-info"] h1 {
  font-size: 1.2em;
  text-transform: uppercase;
}

thead[class="report-header"] div[class="header-info"] h2 {
  font-size: 1.2em;
  text-transform: capitalize;
}

tfoot[class="report-footer"] div[class="footer-info"] {
  display: flex;
  justify-content: space-between;
  padding: .5em 0;
  font: normal 0.7em Tahoma, Verdana, Arial, sans-serif !important;
  font-weight: bold;
}

tfoot[class="report-footer"] div[class="footer-info"] div span[class="counter"]:before {
  content: counter(line);
}
