<app-header-page-new [enableBackButton]="true">
  <header-title>{{'title.downloadNfce' | translate }}</header-title>
</app-header-page-new>

<form class="row thf-u-margin-vertical--2" [formGroup]="invoiceDownloadForm">
  <div id="newReservationForm-period" class="col-3">
    <label for="period" class="thf-input-label thf-u-margin-top--1 thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">{{ 'reservationModule.commomData.period' | translate }}</label>
    <thx-date-range-picker id="period" formControlName="period" class="thf-u-no-margin"></thx-date-range-picker>
  </div>

  <div class="col-2">
    <label for="initialNumber" class="thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
      {{'label.initialNumber' | translate }}
    </label>
    <input id="initialNumber" formControlName="initialNumber" class="thf-input" type="text"/>
  </div>

  <div class="col-2">
    <label for="finalNumber" class="thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
      {{'label.finalNumber' | translate }}
    </label>
    <input id="finalNumber" formControlName="finalNumber" class="thf-input" type="text"/>
  </div>

  <div class="col-3 thf-u-margin-vertical--4">
    <app-button [buttonConfig]="btnDownloadConfig"></app-button>
  </div>
</form>

