<div class="row align-items-center thf-u-margin-top--1">
  <div class="col-4">
    <h2 class="thf-u-font--16 thf-u-font--bold thf-u-no-margin">
      {{ 'title.guestTypeRegister' | translate }}
    </h2>
  </div>
  <div class="col-4 col-lg-4 col-xl-3 ml-auto">
    <app-button [buttonConfig]="buttonNewEdit">
      {{ 'action.lbNew' | translate: {labelName: 'label.guestType' | translate} }}
    </app-button>
  </div>
</div>

<div class="thf-u-margin-top--1">
  <thx-datatable
    [columns]='columns'
    [itens]="pageItemsList"
    [itemsOption]="itemsOption"
    statusIdentifier="id"
    (statusChanged)="updateStatus($event)"
    (rowItemClicked)="toggleModal($event)"
    [emptyMessage]="'variable.emptyContentM.title' | translate: {labelName: 'label.guestType' | translate}"
    [emptyMessageContent]="'variable.emptyContentM.textDescription' | translate: {labelName: 'label.guestType' | translate}"
    (onEmptyLinkClicked)="toggleModal()"
  ></thx-datatable>
</div>

<app-modal-wrapper
  modalId="modalDelete"
  [modalWithParams]="{title: 'action.lbDelete', params: { labelName: 'label.guestType' | translate | lowercase }}">

  <guest-type-delete
    [guestTypeToBeDeleted]="toBeDeleted"
    (close)="toggleDeleteModal()"
    (confirm)="deleteItem($event)">
  </guest-type-delete>
</app-modal-wrapper>

<app-modal-wrapper
  modalId="modalCreateEdit"
  [title]="modalTitle"
  [maxWidth]="'740px'">

  <guest-type-create-edit
    [guestTypeToEdit]="toBeEdit"
    (cancel)="toggleModal()"
    (confirm)="saveItem($event)">
  </guest-type-create-edit>
</app-modal-wrapper>
