<div class="thf-u-padding--2 d-flex flex-column align-items-center justify-content-center h-100">
  <img src="{{'clock-big.svg' | imgCdn}}"
       alt="{{ 'text.auditNotAvailable' | translate }}" class="thf-u-margin-bottom--2">

  <h3 class="thf-u-font--20 thf-u-font--bold thf-u-padding--1" [innerHtml]="'text.auditNotAvailable' | translate"></h3>

  <p class="thf-u-color--grey-submarine thf-u-no-margin thf-u-font--16">{{ 'text.nextAuditWillBeReadyIn' | translate }}</p>

  <p class="thf-u-color--blue thf-u-font--50 thf-u-text-center">{{ timeLeft }}</p>

</div>
