<div class="thf-u-position--relative" >
  <input #searchInput id="searchUhType" placeholder="{{ placeholder | translate }}"  class="thf-input search-input" [ngClass]="extraClass" (keyup)="changeValue(searchInput.value)" />
  <img class="search-icon" src="{{'search.PNG' | imgCdn}}" alt="search" />
</div>
