@import "./_variables";

.user-card {
  margin-bottom: 15px;
  box-shadow: 0 0 8px rgba($black-color, 0.15);

  .leftContent {
    width: 100%;
    height: 100%;
    background: $special-color--3;
    align-items: center;
    border-radius: 5px 0 0 5px;
    justify-content: center;
    display: flex;

    &.--adm {
      background: $walkin-color;
    }

    &.--cam {
      background: $pending-color;
    }

    > .acronym {
      display: block;
      color: white;
      font-weight: bolder;
      font-size: 13px;
    }
  }

  .rightContent {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px 0 6px;

    > .capacity {
      height: 100%;
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      flex: 1;
    }

    > .actions {
      height: 100%;
      align-items: center;
      display: flex;
      width: 34px;
      padding-left: 17px;

      > .icon {
        cursor: pointer;
        width: 17px;
        height: 17px;
      }
    }
  }
}

.content-left {
  width: 110px;
  max-width: 110px;
}

.title-normal, .title-normal-small{
  color: $grey-color--60;
  font-family: 'Nunito Sans',sans-serif;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin-right: 3px;
  padding-bottom: 5px;
}

.title-normal-small {
  font-size: 11px;
  color: $grey-color--70;
}
