<thx-card-base
  class="user-card"
  *ngIf="user"
>
  <div
    contentLeft
    class="leftContent"
    [ngClass]="getRoleCssClass(user.roleIdList[0])"
  >
    <span class="acronym">{{user.roleIdList[0] | profileAcronym | translate }}</span>
  </div>

  <div contentRight class="rightContent">
    <div class="capacity">
      <span class="title title-normal">{{user.name}}</span>
      <span class="value title-normal-small" [title]="user.email">{{user.email}}</span>
    </div>
  </div>
</thx-card-base>
