.hps-max-height-guest-list {
  max-height: 150px;
  overflow-y: scroll;
}

.hps-schedule-popover {
    top: 110%;
    left: -52%;
    width: 240px;
}
.hps-children-popover {
    top: 110%;
    left: -110%;
    right: -110%;
}
.hps-beds-included-popover,
.hps-extras-bed-popover {
    width: 240px;
}

.hps-beds-included-popover {
    top: 1px;
    right: 0;
}

.thf-popover-content-group > .thf-popover-content-left {
  padding-right: 5px;
}
.thf-popover-content-group > .thf-popover-content-right {
  padding-left: 5px;
}
.hps-w-form {
  width: 100%;
}
.close-icon {
  top: 15px;
  width: 15px;
}
.migrated-tag {
  text-align: center;
  border: 1px solid var(--color-danger);
  display: inline-block;
  color: var(--color-danger);
}

@media screen and (min-width: 720px) and (max-width: 1199px) {
  .thf-u-padding-horizontal--5 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}


@media (max-width: 1200px) {
  .hps-children-popover {
    top: 110%;
    left: -55%;
    right: -55%;
  }
}

/*TODO technical debit 9141 */
select.readonly,
select.readonly:disabled,
select.readonly:read-only:disabled {
  border: 0;
  color: var(--color-black);
  background: var(--color-white);
  box-shadow: none;
  opacity: 1;
  cursor: default;
}
