<app-modal-wrapper
  [modalId]="'confirmModalId'"
  [title]="'title.budgetEdit'">
  <app-confirm-modal
    [confirmModalDataConfig]="confirmModalDataConfig"
  ></app-confirm-modal>
</app-modal-wrapper>

<div class="thf-card-reserve thf-card-reserve-body" [formGroup]="reservationItemView.formCard">
  <div class="row justify-content-xl-center justify-content-md-around thf-u-padding-horizontal--5">
    <div
      *ngIf="!reservationItemIsCheckin() && canEdit()"
      class="col-3 col-lg-4">
      <label
        for="periodCard"
        class="thf-input-label thf-input-label--required  thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
        {{'reservationModule.commomData.period' | translate }}
      </label>
      <thx-date-range-picker
        id="periodCard"
        formControlName="periodCard"
        class="thf-u-no-margin"
        [minDateToday]="true">
      </thx-date-range-picker>
      <small class="thf-u-font--bold">
        {{ 'reservationModule.reserveCreate.dailyNumber' | translate }}: {{ getOvernights() }}
      </small>
    </div>
    <div
      *ngIf="reservationItemIsCheckin() || !canEdit()"
      class="col thf-u-font--14">
      <label for="inicialDate"
             class="thf-input-label thf-u-font--bold thf-input-label--grey-submarine">
        {{'label.inicialDate' | translate }}
      </label>
      <div
        id="inicialDate">
        {{reservationItemView.initialPeriod.beginDate | amDateFormat: 'L'}}
      </div>
    </div>
    <div
      *ngIf="reservationItemIsCheckin() || !canEdit()"
      class="col-2 thf-u-font--14">
      <label for="endDate"
             class="thf-input-label thf-u-font--bold thf-input-label--grey-submarine"
            [ngClass]="{'thf-input-label--required': canEdit()}">
        {{'label.finalDate' | translate }}
      </label>
      <thx-datepicker
        *ngIf="canEdit()"
        id="endDate"
        formControlName="endDate"
        class="thf-u-no-margin"
        [minDateToday]="true">
      </thx-datepicker>
      <div
        *ngIf="!canEdit()"
        id="endDate">
        {{reservationItemView.initialPeriod.endDate | amDateFormat: 'L'}}
      </div>
    </div>
    <div class="col">
      <div class="thf-u-position--relative">
        <label class="thf-input-label  thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'reservationModule.commomData.schedules' | translate }}
        </label>
        <div class="thf-group-icon-content"
             [ngClass]="{'thf-u-enable-cursor': canEdit()}"
             (click)="showOrHideSchedulePopoverCard($event, reservationItemView)">
          <div class="thf-group-icon-content-left thf-u-vertical-align-middle">
            <img src="{{'schedule.svg' | imgCdn}}"
                 alt="{{ 'reservationModule.commomData.schedules' | translate }}" class="thf-icon">
          </div>
          <div class="thf-group-icon-content-right thf-u-padding-left--1">
            <div class="thf-u-font--semibold thf-u-font--16">
              {{checkinHourCardValue}}
            </div>
            <div class="thf-u-font--semibold thf-u-font--16">
              {{checkoutHourCardValue}}
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="canEdit()"
        class="thf-u-position--absolute thf-u-z-index--1 hps-schedule-popover"
           [ngClass]="{'thf-u-hide': !reservationItemView.schedulePopoverIsVisible}"
           (click)="keepSchedulePopoverCardVisible($event, reservationItemView)">
        <div class="thf-popover">
          <span class="thf-popover-arrow--center"></span>
          <header class="thf-popover-header thf-u-text-center thf-u-padding--1">
            <h4 class="thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-u-z-index--1">
              {{ 'reservationModule.commomData.schedules' | translate }}
            </h4>
          </header>
          <div class="thf-popover-content thf-u-text-center thf-u-padding--1">
            <div class="thf-popover-content-group">
              <div class="thf-popover-content-left thf-u-text-left">
                <label for="check-inCard"
                       class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-no-margin">Check-in</label>
                <input id="check-in" (change)="validTimeValue('checkinHourCard', reservationItemView)"
                       formControlName="checkinHourCard" [textMask]="{mask: maskHourAndMinute}"
                       class="thf-input"
                       [ngClass]="{'thf-input-error': !reservationItemView.formCard.controls.checkinHourCard.valid && reservationItemView.formCard.controls.checkinHourCard.dirty}"
                       type="text" placeholder="00:00">
              </div>
              <div class="thf-popover-content-right thf-u-text-left">
                <div class="thf-input-text--error">
                  <label for="check-outCard"
                         class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-no-margin">Check-out</label>
                  <input id="check-out" (change)="validTimeValue('checkoutHourCard', reservationItemView)"
                         formControlName="checkoutHourCard" [textMask]="{mask: maskHourAndMinute}"
                         class="thf-input"
                         [ngClass]="{'thf-input-error': !reservationItemView.formCard.controls.checkoutHourCard.valid && reservationItemView.formCard.controls.checkoutHourCard.dirty}"
                         type="text" placeholder="00:00">
                </div>
              </div>
            </div>
            <div *ngIf="reserveHour.errorMessage">
              <img src="{{'input-error.svg' | imgCdn }}"
                   alt="{{'commomData.images.errorMessageIcon' | translate }}"/>
              <p class="thf-u-inline-block thf-u-no-margin thf-u-font--12">{{reserveHour.errorMessage}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl col-lg-3">
      <label for="adultQuantityCard"
             class=" thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
        {{ 'reservationModule.commomData.adults' | translate }}
      </label>
      <div class="thf-input-group">
        <div
          *ngIf="canEdit()"
          (click)="addGuestAtReservationItem(reservationItemView, 'adultQuantityCard')"
             id="addQuantityAdult"
             class="thf-input-group-label thf-input-group-icon-label"
             [ngClass]="{
                'thf-u-enable-cursor': !reservationItemIsCheckin() && canEdit(),
                'thf-u-disable-cursor': reservationItemIsCheckin() || !canEdit()
              }">
          <span class="thf-input-group-label--img">
            <img src="{{'add-more.min.svg' | imgCdn}}"
                 alt="{{ 'commomData.images.addMore' | translate }}"/>
          </span>
        </div>
        <div class="thf-input-group-icon-field">
          <input
            id="adultQuantityCard"
            formControlName="adultQuantityCard"
            [readonly]="true"
            class="thf-u-text-center thf-input thf-input-right thf-u-type-number-reset thf-input-not-disabled"
            type="number"/>
        </div>
      </div>
    </div>
    <div class="col-xl col-lg-3">
      <div class="thf-u-position--relative">
        <div>
          <label for="childrenQuantityCard"
                 class=" thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'reservationModule.commomData.children' | translate }}
          </label>
          <div class="thf-input-group">
            <div
              *ngIf="canEdit()"
              app-click-stop-propagation
              (click)="addGuestAtReservationItem(reservationItemView, 'childrenQuantityCard')"
              id="addChildrenAdult"
              class="thf-input-group-label thf-input-group-icon-label"
              [ngClass]="{
                'thf-u-enable-cursor': !reservationItemIsCheckin() && canEdit(),
                'thf-u-disable-cursor': reservationItemIsCheckin() || !canEdit()
              }">
              <span class="thf-input-group-label--img">
                <img class="thf-u-no-pointer-events"
                     src="{{'add-more.min.svg' | imgCdn}}"
                     alt="{{ 'commomData.images.addMore' | translate }}"/>
              </span>
            </div>
            <div class="thf-input-group-icon-field">
              <input
                id="childrenQuantityCard"
                formControlName="childrenQuantityCard"
                [readonly]="true"
                class="thf-u-text-center thf-input thf-input-right thf-u-type-number-reset thf-input-not-disabled"
                type="number"/>
            </div>
          </div>
        </div>
        <div
          *ngIf="canEdit()"
          class="thf-u-position--absolute thf-u-z-index--1 hps-children-popover"
             [ngClass]="{'thf-u-hide': !reservationItemView.childrenPopoverIsVisible}"
             app-click-stop-propagation
             (click)="keepChildrenPopoverCardVisible(reservationItemView)">
          <span class="thf-u-margin-top--1"></span>
          <app-popover>
            <div class="arrow-position">
              <span class="thf-popover-arrow--center"></span>
            </div>
            <header class="header-data">
              <h4 class="thf-u-no-margin thf-u-font--14 thf-u-font--bold">{{
                'reservationModule.commomData.ageOfChildren' | translate }}</h4>
            </header>
            <div class="body-data">
              <div class="thf-u-text-center thf-u-padding--2" formArrayName="childrenAgeListCard">
                <div class="thf-input-group " *ngFor="let control of getControlsOfChildAgeListForm();let i = index">
                  <div class="thf-input-group-label thf-input-select-group-icon-label">
                    <span class="thf-input-group-label--img">
                      <img src="{{'child-age.min.svg' | imgCdn}}"/>
                    </span>
                  </div>
                  <div class="thf-input-select-group-icon-field" [formGroupName]="i">
                    <select id="icon-select-card" formControlName="childAge" class="thf-input thf-input-select">
                      <option class="thf-input-select--option" *ngFor="let childAge of childAgeList"
                              [ngValue]="childAge.value">
                        {{childAge.text}}
                      </option>
                    </select>
                    <img class="thf-u-no-pointer-events thf-input-select-icon"
                         src="{{'arrowdown-blue.min.svg' | imgCdn}}"
                         alt="{{ 'reservationModule.commomData.roomType' | translate }}">
                  </div>
                </div>
                <div class="thf-u-border-top--1 thf-u-margin-vertical--1"></div>
                <div class="row">
                  <div class="col-7">
                    <button
                      app-click-stop-propagation
                      (click)="cancelChildrenAgeList(reservationItemView)" type="button"
                            name="button" id="cancelPopoverCardVisible" class="thf-btn thf-btn-secondary">
                      {{ 'commomData.cancel' | translate }}
                    </button>
                  </div>
                  <div class="col-5">
                    <button type="button" name="button"
                            [disabled]="!reservationItemView.formCard.get('childrenAgeListCard').valid"
                            (click)="saveChildrenAgeList(reservationItemView)"
                            app-click-stop-propagation
                            id="savePopoverCardVisible" class="thf-btn thf-btn-primary">
                      {{ 'commomData.ok' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </app-popover>
        </div>
      </div>
    </div>
    <div class="col">
      <label for="roomTypeCard"
             class=" thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
        {{ 'reservationModule.commomData.roomType' | translate }}
      </label>
      <div class="thf-input-group">
        <div class="thf-input-select-group-icon-field">
          <select id="roomTypeCard" formControlName="roomTypeCard" class="thf-input thf-input-select"
                  [ngClass]="{'readonly': !canEdit()}"
                  [disabled]="!canEdit()">
            <option class="thf-input-select--option"
                    *ngFor="let roomTypeOption of reservationItemView.roomTypes; let i = index"
                    [ngValue]="roomTypeOption" [ngClass]="{'thf-u-color--red': roomTypeOption.overbooking}">
              {{ roomTypeOption?.abbreviation }}
            </option>
          </select>
          <img
            *ngIf="canEdit()"
            src="{{'arrowdown-blue.min.svg' | imgCdn}}"
            alt="{{ 'reservationModule.commomData.roomType' | translate }}"
            class="thf-u-no-pointer-events thf-input-select-icon">
        </div>
      </div>
    </div>
    <div class="col">
      <label for="roomTypeRequestedCard"
             class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
        {{ 'label.roomRequested' | translate }}
      </label>
      <div class="thf-input-group">
        <div class="thf-input-select-group-icon-field">
          <select id="roomTypeRequestedCard" formControlName="roomTypeRequestedCard" class="thf-input thf-input-select"
                  [ngClass]="{'thf-u-border-error--1': isRoomTypeWithoutBaseRate, 'readonly': !canEdit()}"
                  [disabled]="!canEdit()">
            <option class="thf-input-select--option"
                    *ngFor="let roomTypeOption of reservationItemView.roomTypes; let i = index"
                    [ngValue]="roomTypeOption"
                    [ngClass]="{'thf-u-color--red': roomTypeOption.overbooking}">
              {{ roomTypeOption?.abbreviation }}
            </option>
          </select>
          <img
            *ngIf="canEdit()"
            src="{{'arrowdown-blue.min.svg' | imgCdn}}"
            alt="{{ 'reservationModule.commomData.roomType' | translate }}"
            class="thf-u-no-pointer-events thf-input-select-icon">
        </div>
      </div>
    </div>
    <div class="col">
      <label for="roomNumberCard"
             class=" thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
        {{ 'reservationModule.commomData.roomNumber' | translate }}
      </label>
      <div class="thf-input-group">
        <div class="thf-input-select-group-icon-field">
          <select id="roomNumberCard" formControlName="roomNumberCard" class="thf-input thf-input-select"
                  [ngClass]="{'readonly': !canEdit()}"
                  [disabled]="!canEdit()">
            <option value=""></option>
            <option *ngFor="let roomOption of reservationItemView.rooms" [ngValue]="roomOption"
                    class="thf-input-select--option">
              {{ roomOption?.roomNumber }}
            </option>
          </select>
          <img
            *ngIf="canEdit()"
            src="{{'arrowdown-blue.min.svg' | imgCdn}}"
            alt="{{ 'reservationModule.commomData.roomType' | translate }}"
            class="thf-u-no-pointer-events thf-input-select-icon">
        </div>
      </div>
    </div>
    <div class="col">
      <label for="name"
             class=" thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
        {{ 'hotelPanelModule.commomData.bedIncluded' | translate }}
      </label>
      <div class="d-flex" (click)="showOrHideBedsIncludedPopoverCard($event, reservationItemView)"
      [ngClass]="{'thf-input': canEdit()}">
        <span class="thf-u-padding-right--1"
              *ngFor="let item  of createRange(reservationItemView.formCard.value.roomLayoutCard?.quantityDouble)">
          <img
            src="{{'cama-casal-blue.min.svg' | imgCdn}}"
            alt="{{ 'commomData.images.cribBed' | translate }}"/>
        </span>
        <span class="thf-u-padding-right--1"
              *ngFor="let item  of createRange(reservationItemView.formCard.value.roomLayoutCard?.quantitySingle)">
          <img
            src="{{'cama-solteiro-blue.min.svg' | imgCdn}}"
            alt="{{ 'commomData.images.cribBed' | translate }}"/>
        </span>
      </div>
      <div class="thf-u-position--relative">
        <div class="thf-u-position--absolute thf-u-z-index--1 hps-beds-included-popover"
             [ngClass]="{'thf-u-hide': !reservationItemView.bedsIncludedPopoverIsVisible}"
             (click)="keepBedsIncludedPopoverCardVisible($event, reservationItemView)">
          <div class="thf-popover thf-u-margin-top--1">
            <span class="thf-popover-arrow--right"></span>
            <header class="thf-popover-header thf-u-text-center thf-u-padding--1">
              <h4 class="thf-u-no-margin thf-u-font--14 thf-u-font--bold">
                {{ 'hotelPanelModule.commomData.accommodationIncluded' | translate }}
              </h4>
            </header>
            <div class="thf-popover-content thf-u-padding--2">
              <div class="thf-popover-content-group">
                <div class="thf-input-group" *ngFor="let roomLayout of reservationItemView.roomLayoutList">
                  <div class="thf-input-radio-group-icon-field">
                    <input class="input-radio-choose-button" id="{{roomLayout.id + indexOfReservationItem}}"
                           formControlName="roomLayoutCard" [value]="roomLayout"
                           type="radio"
                           [disabled]="!canEdit()">
                    <label for="{{roomLayout.id + indexOfReservationItem}}"
                           class="thf-u-no-margin thf-u-vertical-align-middle"></label>
                  </div>
                  <div class="thf-input-radio-group-icon-label">
                    <label for="{{roomLayout.id + indexOfReservationItem}}" class="thf-u-margin-left--1">
                      <span class="thf-u-padding-right--1" *ngFor="let item  of createRange(roomLayout.quantityDouble)">
                        <img
                          src="{{'cama-casal-blue.min.svg' | imgCdn}}"
                          alt="{{ 'commomData.images.cribBed' | translate }}"/></span>
                      <span class="thf-u-padding-right--1" *ngFor="let item  of createRange(roomLayout.quantitySingle)">
                        <img
                          src="{{'cama-solteiro-blue.min.svg' | imgCdn}}"
                          alt="{{ 'commomData.images.cribBed' | translate }}"/></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="reservationItemView?.isMigrated" class="col-2 offset-10 migrated-tag">{{ 'label.reservationMigrated' | translate }}</div>
  </div>

  <div class="row offset-1">
    <div class="offset-4 col-2">
      <div
        *ngIf="!reservationItemView.formCard.controls.adultQuantityCard.valid && reservationItemView.formCard.controls.adultQuantityCard.dirty"
        class="thf-input-text thf-input-text--error">
        <img src="{{'input-error.svg' | imgCdn}}"
             alt="{{'commomData.images.errorMessageIcon' | translate }}"/>
        <p class="thf-u-inline-block thf-u-no-margin thf-u-font--12">
          {{ 'commomData.errorMessages.majorThanZero' | translate }}
        </p>
      </div>
    </div>
  </div>

  <div class="thf-card-reserve-additional thf-u-margin-top--2">
    <div class="row">
      <div class="col-12">
        <h6 class="thf-u-margin-left--2 thf-u-font--14 thf-u-margin-top--1 thf-u-font--bold">
          {{ 'reservationModule.commomData.guest' | translate }}
        </h6>
      </div>
    </div>
  </div>

  <div class="row thf-u-margin-left--1">
    <div class="col-lg-4 col-xl-3" *ngFor="let guest of reservationItemView.guestQuantity; let index = index">
      <div [hidden]="guest.state !== referenceGuestState.NoGuest">
        <div class="thf-link-group">
          <ng-container
            [ngTemplateOutlet]='guesImageLink'
            [ngTemplateOutletContext]="{ guest: guest }">
          </ng-container>
          <img
            *ngIf="(!guest.isMain && canRemove(guest)) || canEdit()"
            (click)="removeGuestAtReservationItemView(reservationItemView, index)"
            class="thf-u-cursor--pointer thf-u-padding-left--1"
            src="{{'delete.min.svg' | imgCdn}}" alt="{{ 'commomData.images.delete' | translate }}">
        </div>
      </div>
      <div [hidden]="guest.state !== referenceGuestState.CreatingGuest" class="thf-input-group">
        <label for="guestInput-{{index}}" class="thf-input-icon thf-input-icon--right">
          <span *ngIf="!guest.isChild">
            <img src="{{'guest.min.svg' | imgCdn}}"
                 alt="{{ 'commomData.images.person' | translate }}"/>
          </span>
          <span *ngIf="guest.isChild">
            <img src="{{'guest-child.min.svg' | imgCdn}}"
                 alt="{{ 'commomData.images.person' | translate }}"/>
          </span>
        </label>
        <form [formGroup]="guest.formGuest" class="hps-w-form">
          <input id="guestInput-{{index}}" autocomplete="off" formControlName="guestName"
                 class="thf-input thf-input-icon-text--right thf-input-icon-text--left thf-u-color--blue"
                 [readOnly]="!canEdit()"
                 (click)="keepGuestInputOpen($event)" type="text">
          <div *ngIf="guest.showAutocompleItemsGuests">
            <ul
              class="thf-u-reset-list thf-input-list-option  thf-u-z-index--100 thf-u-position--relative hps-max-height-guest-list"
              *ngIf="hasGuestsInAutocomplete(autocompleItemsGuests); else elseItemsBlock">
              <li class="thf-u-padding--1"
                  *ngFor="let searchCategory of autocompleItemsGuests.searchResultCategory">
                <div class="thf-input-option-data--left thf-u-inline-block thf-u-text-left">
                  <span>{{searchCategory.searchCategoryName}}</span>
                </div>
                <div>
                  <ul class="thf-u-reset-list thf-input-list-option thf-u-cursor--pointer "
                      *ngIf="searchCategory.searchPersonAndGuest && searchCategory.searchPersonAndGuest.length > 0">
                    <li class="thf-input-option thf-u-padding--1"
                        *ngFor="let person of searchCategory.searchPersonAndGuest"
                        (click)="chooseGuest($event, guest, person)">
                      <div class="thf-input-option-data--left thf-u-inline-block thf-u-text-left">
                        <span>{{ person.name}}</span>
                        <div class=" row no-gutters thf-u-font--normal">
                          <span class="col-6">{{person.document}}</span>
                        </div>
                      </div>
                      <div class="thf-u-inline-block thf-u-text-right">
                        <span class="col-4 thf-u-text-right">{{person.documentType}}</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            <ng-template #elseItemsBlock>
              <ul class="thf-u-reset-list thf-input-list-option thf-u-z-index--1000 thf-u-position--relative">
                <li
                  class="thf-input-option thf-u-padding--1 thf-input-option--empty thf-u-font--bold thf-u-padding-top--1 d-flex justify-content-center align-items-center">
                  {{ 'commomData.noGuestFound' | translate }}
                </li>
              </ul>
            </ng-template>
          </div>
        </form>
        <img (click)="guest.formGuest.reset()" [hidden]="clearField || !canEdit()"
             class="thf-input-icon thf-input-icon--left close-icon"
             src="{{'clear.min.svg' | imgCdn}}"
             alt="{{ 'commomData.images.clear' | translate }}"/>
      </div>
      <div [hidden]="guest.state !== referenceGuestState.GuestCreated" class="thf-u-ellipsis">
        <div class="thf-link-group">
          <ng-container
            [ngTemplateOutlet]='guesImageLink'
            [ngTemplateOutletContext]="{ guest: guest }">
          </ng-container>
          <img
            *ngIf="canEdit()"
            (click)="guestHandle($event, guest, 'edit', index)"
            class="thf-u-cursor--pointer  thf-u-padding-left--1"
            src="{{'pencil.min.svg' | imgCdn}}"
            alt="{{ 'commomData.images.pencil' | translate }}">
          <img
            *ngIf="(!guest.isMain && canRemove(guest)) || canEdit()"
            (click)="removeGuestAtReservationItemView(reservationItemView, index)"
            class="thf-u-cursor--pointer  thf-u-padding-left--1"
            src="{{'delete.min.svg' | imgCdn}}" alt="{{ 'commomData.images.delete' | translate }}">
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #guesImageLink let-guest="guest">
  <img
    src="{{(guest.isChild
            ? guest.isDisabledGuest ? 'guestDisabled-child.min.svg' : 'guest-child.min.svg'
            : guest.isDisabledGuest ? 'guestDisable.min.svg' : 'guest.min.svg') | imgCdn}}"
    alt="{{ 'commomData.images.person' | translate }}"/>
  <a
    *ngIf="guest.state == referenceGuestState.NoGuest || guest.state == referenceGuestState.GuestCreated"
    (click)="guest.state == referenceGuestState.NoGuest
              ? guestHandle($event, guest, 'create', index)
              : goToGuestPage(reservationItemView)"
    id="{{guest.state == referenceGuestState.NoGuest
          ? 'guestHandle' + index
          : 'goToGuestPage_' + index}}"
    [class.thf-link-disable]="guest.isDisabledGuest || !canEdit()"
    class="thf-u-padding-left--1 thf-u-font--14"
    [ngClass]="{'thf-link thf-link--underline ': canEdit()}"
    href="javascript:void(0)">
    {{ guest.state == referenceGuestState.NoGuest
    ? ('reservationModule.reserveCreate.insertGuest' | translate)
    : guest.formGuest.value.guestName }}
  </a>
</ng-template>
