:host, form {
  width: 100%;
}

.password-rules-link {
  height: 44px;
  font-size: 1.4em;
  color: var(--color-grey-dark, dimgrey);
  text-decoration: none;
}

.password-rules {
  padding: 15px;
}

.password-rules ul {
  list-style: none;
  padding-left: 30px;
}

.password-rules ul li:before {
  font-family: 'MaterialDesignIcons';
  content: '\f1c2';
  position: absolute;
  left: 1em;
  font-size: 1.2em;
}

.password-rules ul li:first-child:before {
  content: '';
}

.password-rules .btn-conclude {
  border-color: var(--color-white, white);
  background-color: transparent;
  color: var(--color-white, white);
  cursor: pointer;
}

.password-rules .btn-conclude:hover {
  background-color: transparent;
}


.form-new-password {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 40px;
  width: 426px;
  background-color: var(--color-white);
  border-radius: 6px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
  font-family: NunitoSans-Bold, sans-serif;

  .logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    margin-bottom: 35px;

    .product-logo-img,
    .totvs-logo-img {
      width: 50%;
    }

    .product-logo-img {
      width: 100px;
      text-align: left;
    }

    .totvs-logo-img {
      width: 60px;
      text-align: right;
    }

  }

  form {
    thx-input-text {
      margin-bottom: 10px;
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex: 1 1 auto;
      align-items: center;

      thx-button {
        width: 135px;
      }

      .password-rules-link {
        width: 20px;
        align-self: flex-end;
      }
    }
  }
}
