<ng-template #passwordRules>
  <div class="password-rules">
    <h3 class="thf-u-font--18">{{ 'authModule.newPassword.passwordRules.title' | translate }}</h3>
    <ul class="thf-u-font--14">
      <li>{{ 'authModule.newPassword.passwordRules.mustHave' | translate }}:</li>
      <li>{{ 'authModule.newPassword.passwordRules.minCharacters' | translate }};</li>
      <li>{{ 'authModule.newPassword.passwordRules.uppercaseLetters' | translate }};</li>
      <li>{{ 'authModule.newPassword.passwordRules.lowercaseLetters' | translate }};</li>
      <li>{{ 'authModule.newPassword.passwordRules.specialCharacters' | translate }};</li>
    </ul>
    <div class="text-right">
      <button type="button" class="btn btn-outline-secondary btn-conclude" (click)="hidePopover()">
        {{ 'authModule.newPassword.passwordRules.conclude' | translate }}
      </button>
    </div>
  </div>
</ng-template>

<div class="form-new-password">
  <div class="logos">
    <div class="product-logo-img">
      <thx-img
        *ngIf="productLogoImg"
        [src]="productLogoImg"
        [title]="'product logo img'"
        [alt]="'product logo img'">
      </thx-img>
    </div>
    <div class="totvs-logo-img">
      <thx-img
        [src]="'totvs-logo.svg'"
        [title]="'totvs logo img'"
        [alt]="'totvs logo img'">
      </thx-img>
    </div>
  </div>
  <div class="form">
    <form autocomplete="off" [formGroup]="passwordForm" (ngSubmit)="onSubmit(passwordForm)">
      <thx-input-text
        [title]="'authModule.newPassword.createPassword' | translate"
        [leftIcon]="'grey-lock-icon.svg'"
        [type]="'password'"
        formControlName="password">
      </thx-input-text>

      <thx-input-text
        [title]="'authModule.newPassword.repeatPassword' | translate"
        [leftIcon]="'grey-lock-icon.svg'"
        [type]="'password'"
        formControlName="confirmPassword">
      </thx-input-text>

      <div class="actions">
        <thx-button
          [colorType]="buttonColorType"
          [disabled]="passwordForm.invalid"
          [ngClass]="'thx-btn-primary'">
          {{'action.save' | translate}}
        </thx-button>
        <a class="password-rules-link" href="javascript:void(0)" [thxPopover]="passwordRules" placement="right"
           popoverColor="blue-dark">
          <i class="mdi mdi-information"></i>
        </a>
      </div>
    </form>
  </div>
</div>



