@import "main";

.thx-button {
  display: flex;
  height: 36px;
  padding: 9px 16px;
  font-size: 13px;
  line-height: 16px;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  align-items: baseline;
  border: 1px solid $bg-color--dark;
  color: $bg-color--dark;
  font-family: 'Nunito Sans';

  &:hover {
    background: rgba(26, 34, 48, 0.1);
  }

  &:focus {
    outline: none;
  }

  &.--primary {
    background: $primary-color;
    color: white;
    border: 1px solid $primary-color;

    &:hover {
      filter: opacity(0.8);
    }

    &.--outline {
      background: $white-color;
      color: $primary-color;

      &:hover {
        background-color: rgba( $primary-color--hover, .1 );
      }

      &:focus {
        background-color: rgba( $primary-color, .15 );
      }
    }
  }

  &.--disabled, &.--disabled.--outline {
    color: $grey-color--40;
    background: rgba($grey-color--10, 0.5);
    border: 1px solid $grey-color--40;
    cursor: not-allowed;

    &:hover, &:focus {
      filter: none;
      background-color: rgba($grey-color--10, 0.5);
    }
  }

  > .icon {
    height: 12px;
  }

  > .iconBefore {
    margin-right: 8px;
  }

  > .iconAfter {
    margin-left: 8px;
  }

  > .container-img {
    height: 9px;
    width: 7px;
  }
}
