<button
  type="button"
  class="thx-button thex-font-family thex-font-size-items-two"
  [ngClass]="getClasses()"
  (click)="click()"
>
  <div
    *ngIf="iconBefore"
    class="iconBefore container-img">
    <thx-img
      class="icon "
      alt="icon before"
      [src]="iconBefore"
      [fullImg]="true">
    </thx-img>
  </div>
  <span class="text"><ng-content></ng-content></span>
  <div
    *ngIf="iconAfter"
    class="iconAfter container-img">
    <thx-img
      class="icon"
      alt="icon after"
      [src]="iconAfter"
      [fullImg]="true">
    </thx-img>
  </div>
</button>
