@import "main";
.user-language {
  &__wrapper {
    background: $white-color;
    padding: 4px 11px;
    position: relative;
    border-radius: 4px;
    &.active {
      background:rgba($primary_color, 0.15);
    }
    &:hover {
      background-color: rgba($primary-color, 0.1);
    }
    .icon-arrowdown-blue {
      color: $primary-color;
      font-size: 7px;
    }
  }
  &__selected {
    cursor: pointer;
    &-text {
      font-family: $font-family;
      font-size: 12px;
      font-weight: normal;
      line-height: 1.08;
      letter-spacing: normal;
      color: $grey-color--45;
      margin-right: 5px;
    }
  }
  &__flag {
    margin-right: 13px;
  }
  &__popover {
    min-width: 195px;
  }
  &__title {
    font-size: 14px;
    font-family: $font-family;
    font-weight: bold;
    letter-spacing: normal;
    color: $grey-color--75;
    text-align: left;
    padding: 13px 18px;
    display: block;
  }
  &__list {
    list-style: none;
    text-align: left;
    padding: 0;
    &-item {
      white-space: nowrap;
      cursor: pointer;
      padding: 13px 18px;
      font-family: $font-family;
      font-size: 12px;
      line-height: 1.83;
      letter-spacing: normal;
      color: $grey-color--75;
      &.active {
        background-color: $primary-color;
        color: $white-color;
        &:after {
          content: '';
          width: 12px;
          height: 7px;
          border-bottom: 2px solid $white-color;
          border-left: 2px solid $white-color;
          display: inline-block;
          transform: rotate(-45deg);
          margin-left: 15px;
          position: relative;
          top: -3px;
        }
        &:hover {
          background-color: $primary-color;
          color: $white-color;
        }
      }
      &:hover {
        background-color: $grey-color--14;
      }
      .selected {
        color: $white-color;
        background-color: $primary-color;
      }
    }
  }
}
