<ng-container>
  <div class="user-language__wrapper" [ngClass]="popoverVisible ? 'active' : ''">
    <div class="user-language__selected" (click)="popoverControl()">
      <img [width]="15"
           class="user-language__selected-flag"
           id="flagToChoose_{{currentLanguage}}"
           src="{{(currentLanguage | lowercase) + '.svg' | imgCdn }}"
           alt="flag_{{currentLanguage}}">
      <span class="user-language__selected-text">{{languageNamesEnum[currentLanguage]}}</span>
      <i class="icon-arrowdown-blue"></i>
    </div>
    <thx-popover-base position="bottom-right" [isActive]="popoverVisible">
      <div class="user-language__popover">
        <strong class="user-language__title">{{ 'label.language' | translate }}</strong>
        <ul class="user-language__list">
          <li class="user-language__list-item"
              *ngFor="let language of languageList"
              (click)="getSelectedLanguage(language.key)"
              [ngClass]="currentLanguage === language.value ? 'active' : ''">
            <img [width]="20"
                 class="user-language__flag"
                 id="flagToChoose_{{language.value}}"
                 src="{{(language.value | lowercase) + '.svg' | imgCdn }}"
                 alt="flag_{{language.value}}">
            <span class="user-language__text">{{languageNamesEnum[language.value]}}</span>
          </li>
        </ul>
      </div>
    </thx-popover-base>
  </div>
</ng-container>
