<div class="thf-group-content">
  <div class="col-12">
    <label class="thf-u-no-margin">
      <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
      <span
        class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
          {{ 'label.consultReports' | translate }}
      </span>
    </label>
  </div>

  <div class="thf-group-content-body">
    <form [formGroup]="reportGroup">

      <!-- first row -->
      <div class="row">

        <div class="col-4">
          <report-menu
            [formGroupAppSelect]="reportGroup">
          </report-menu>
        </div>

        <!-- filter -->
        <div class="col-4">
          <label
            for="reservationNumber"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.reservationNumber' | translate }}
          </label>
          <input
            formControlName="reservationNumber"
            id="reservationNumber"
            placeholder="{{ 'placeholder.reservationNumber' | translate}}"
            class="thf-input thf-u-margin-top--1"
            [autocomplete]="'off'"/>
        </div>

        <div class="col-2 thf-u-text-left">
          <label
            for="filterOnlyCancelledNotes"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'label.filterOnlyCancelledNotes' | translate }}
          </label>

          <div>
            <input
              type="checkbox"
              formControlName="filterOnlyCancelledNotes"
              class="thf-input-radio-button"
              id="filterOnlyCancelledNotes"/>
            <label class="thf-u-vertical-align--sub" for="filterOnlyCancelledNotes">
              <span class="ui"></span>
            </label>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-4">
          <label
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-margin-top--2 thf-u-font--bold thf-input-label--grey-submarine"
            for="numberInitialNote">
            {{ 'label.numberInitialNote' | translate }}
          </label>
          <input
            formControlName="numberInitialNote"
            type="number" id="numberInitialNote"
            class="thf-input thf-u-margin-top--1 thf-u-type-number-reset"
            [autocomplete]="'off'"/>
        </div>

        <div class="col-4">
          <label
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-margin-top--2 thf-u-font--bold thf-input-label--grey-submarine"
            for="numberEndNote">
            {{ 'label.numberEndNote' | translate }}
          </label>
          <input
            formControlName="numberEndNote"
            type="number" id="numberEndNote"
            class="thf-input thf-u-margin-top--1 thf-u-type-number-reset"
            [autocomplete]="'off'"/>
        </div>

        <div class="col-4">
          <label
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-margin-top--2 thf-u-font--bold thf-input-label--grey-submarine"
            for="companyClientName">
            {{ 'label.companyClientName' | translate }}
          </label>
          <input
            formControlName="companyClientName"
            id="companyClientName"
            placeholder="{{ 'placeholder.companyName' | translate }}"
            class="thf-input thf-u-margin-top--1"/>
        </div>
      </div>

      <div class="row">
        <!-- data picker -->
        <div class="col-4">
          <label
            for="period"
            class="thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2 thf-u-margin-bottom--1">
            {{ 'label.issueDateOfTheNote' | translate }}</label>
          <thx-date-range-picker
            formControlName="period"
            id="period"
            class="thf-u-no-margin">

          </thx-date-range-picker>
        </div>

        <div class="col-4 thf-u-margin-top--5">
          <button
            (click)="searchReport()"
            class="thf-btn thf-u-no-padding thf-btn-primary">
            {{ 'action.list' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="thf-u-margin-top--1" *ngIf="pageItemsList && pageItemsList.length > 0">
  <app-header-page-new
    [hasFilter]="false">
    <header-title>
      <span>{{ 'title.issuedNotes' | translate }}</span>
    </header-title>
  </app-header-page-new>

  <div class="thf-u-margin-vertical--1">
    <thx-datatable
      [columns]='columns'
      [itens]="pageItemsList"
      [hasLastCell]="false"
      [tableHasScroll]="true"
      [columnMode]="'auto'"
      (rowItemClicked)="goToAccountPage($event)">
    </thx-datatable>
  </div>

  <div class="row">
    <div class="offset-9 col-3 thf-u-margin-top--2">
      <button
        (click)="print()"
        class="thf-btn thf-u-no-padding thf-btn-primary"
        type="button">
        {{ 'action.print' | translate }}
      </button>
    </div>
  </div>

  <app-printable-issued-notes
    #table
    [hidden]="true"
    [columns]="columns"
    [pageItemsList]="pageItemsList"
    [listIssuedNotesProduct]="listIssuedNotesProduct"
    [listIssuedNotesService]="listIssuedNotesService"
    [title]="'title.issuedNotes' | translate"
  ></app-printable-issued-notes>
</div>


