<div class="col-12">
  <app-group-content [title]="'label.filter'">
    <form [formGroup]="gridFilter" >
      <div class="row">
        <div id="availabilityGridFilterForm-date" class="col-6 col-lg-4">

          <label
            class="thf-u-block thf-u-margin-top--1 thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{'propertyModule.availabilityGrid.date' | translate }}
          </label>
          <thx-datepicker formControlName="initialDate" id="initialDate"></thx-datepicker>
          <thx-error formControlName="initialDate"></thx-error>
        </div>
        <div id="availabilityGridFilterForm-period" class="col-6 col-lg-5">
          <label
            class="thf-u-block thf-u-margin-top--1 thf-u-no-margin thf-u-margin-bottom--1 thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{'propertyModule.availabilityGrid.period' | translate }}
          </label>
          <app-button-bar [buttonBarConfig]="buttonBarConfig"></app-button-bar>
        </div>
      </div>
    </form>
  </app-group-content>
</div>
