<div *ngFor="let itemStatement of itemStatementList">
  <div class="thf-u-background-color--grey-lighter thf-u-padding--1 thf-u-margin-top--2">
    <div class="row">
      <div class="col thf-u-color--blue thf-u-font--14 thf-u-font--bold thf-u-margin-left--1 thf-u-font-uppercase">
        <span *ngIf="itemStatement?.billingAccountItemName == null">
        {{ 'label.all' | translate }}
        </span>
        <span *ngIf="itemStatement?.billingAccountItemName != null">
        {{ itemStatement.billingAccountItemName }}
        </span>
      </div>
    </div>
  </div>

  <statement-table
    [propertyId]="propertyId"
    [billingAccountItems]="itemStatement?.billingAccountItems">
  </statement-table>

  <div *ngIf="hasSubtotal" class="thf-u-background-color--blue thf-u-padding--1">
    <div class="row">
      <div class="col-3 thf-u-color--white thf-u-font--14 thf-u-margin-left--1 thf-u-font-uppercase">
        {{'billingAccountModule.statement.subtotal' | translate}}
      </div>
      <div class="col offset-5 thf-u-color--white thf-u-font--14">
        <span>{{ itemStatement?.total | currencyFormat: currencySymbol }}</span>
      </div>
    </div>
  </div>
</div>
