<div class="d-flex align-items-center justify-content-between" >
  <div>
    <input *ngIf="editModeOn" type="text" [(ngModel)]="inputText" class="thf-input thf-u-text-center value-field">
    <label *ngIf="!editModeOn" class="thf-u-text-center value-field">{{inputText}}</label>
  </div>
  <div>
      <span *ngIf="editModeOn">
        <img class="img-icon" (click)="confirmText()" src="{{'check.svg' | imgCdn}}" alt="confirmBtn">
        <img class="img-icon" (click)="toggleEditMode()" src="{{'close-red.svg' | imgCdn}}" alt="closeBtn">
      </span>
    <span *ngIf="!editModeOn">
        <img class="img-icon" (click)="toggleEditMode()" src="{{'pencil.min.svg' | imgCdn}}" alt="editBtn">
      </span>
  </div>
</div>
