<div class="info-box" *ngIf="closedInfo">
  <div class="image">
    <thx-img [src]="imgInfo"></thx-img>
  </div>
  <div class="content">
    <div class="title-div thf-u-font--14">
      <span [class]="textClasses?.titleClass">{{ titleInfo | translate }}</span>
      <label  *ngIf="newFlag" class="new-flag thex-primary thex-bg" >{{'label.new' | translate}}</label>
    </div>
    <div class="text-auto thf-u-font--10">
      <div [class]="textClasses?.bodyClass">
        {{ textInfo | translate }}
      </div>
    </div>
  </div>

  <div *ngIf="buttonOption" class="col-2 div-button">
    <thx-button-v2
      (clicked)="wasClicked()"
      [primary]="colorClass"
      [iconAfter]="iconAfter">
      {{ labelButton }}
    </thx-button-v2>
  </div>

  <div
    *ngIf="closedOption"
    class="close"
  >
    <div class="container-close-img">
      <thx-img
        [src]="'closed-gray.svg'"
        alt="closed-gray"
        class="thf-u-cursor--pointer"
        (click)="closedInfo = !closedInfo"
        [fullImg]="true">
      </thx-img>
    </div>
  </div>
</div>
