:host {
  display: block;
  border-radius: 14px;
}

.info-div {
  margin: 0 0 15px;
  height: 92px;
  align-items: center;
  border-radius: 14px;
}

.info-box {
  display: flex;
  padding: 15px 20px;
  justify-content: space-between;
  align-items: center;

  .image {
    margin-right: 20px;
  }

  .content {
    flex-grow: 1;

    .new-flag {
      border-radius: 10px;
      padding: 2px 10px;
      font-size: 10px;
      line-height: 10px;
      margin-left: 20px;
    }

    .title-div {
      color: var(--color-status--no-show);
      span {
        text-transform: uppercase;
      }
    }

    .text-auto {
      color: var(--color-card-credit-shadow);
      font-size: 13px;
      padding-top: 3px;
    }
  }

  .close {
    align-self: end;
    .container-close-img {
      width: 10px;
      height: 10px;
    }
  }
}

/* COLOR PALETTE */

.information-bg {
  background-color: var(--color-blue-light);
}

.warning-bg {
  background-color: rgba(var(--color-rgba-orange-real), 0.15);
}

/* BUTTON */
.div-button {
  padding-left: 0px;
  display: flex;
}
