@font-face {
    font-family: 'icons_totvs';
    src:  url('./icons_totvs.eot?dll3hn');
    src:  url('./icons_totvs.eot?dll3hn#iefix') format('embedded-opentype'),
      url('./icons_totvs.ttf?dll3hn') format('truetype'),
      url('./icons_totvs.woff?dll3hn') format('woff'),
      url('./icons_totvs.svg?dll3hn#icons_totvs') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icons_totvs';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-agrobusiness:before {
    content: "\e900";
}
.icon-align-center:before {
    content: "\e901";
}
.icon-align-justify:before {
    content: "\e902";
}
.icon-align-left:before {
    content: "\e903";
}
.icon-align-right:before {
    content: "\e904";
}
.icon-archive:before {
    content: "\e905";
}
.icon-arrow-down:before {
    content: "\e906";
}
.icon-arrow-left:before {
    content: "\e907";
}
.icon-arrow-right:before {
    content: "\e908";
}
.icon-arrow-up:before {
    content: "\e909";
}
.icon-bar-code:before {
    content: "\e90a";
}
.icon-basket:before {
    content: "\e90b";
}
.icon-bluetooth:before {
    content: "\e90c";
}
.icon-calendar-ok:before {
    content: "\e90d";
}
.icon-calendar:before {
    content: "\e90e";
}
.icon-camera:before {
    content: "\e90f";
}
.icon-cart:before {
    content: "\e910";
}
.icon-change:before {
    content: "\e911";
}
.icon-chart-area:before {
    content: "\e912";
}
.icon-chart-columns:before {
    content: "\e913";
}
.icon-chart-down:before {
    content: "\e914";
}
.icon-chart-up:before {
    content: "\e915";
}
.icon-chat:before {
    content: "\e916";
}
.icon-clear-content:before {
    content: "\e917";
}
.icon-clock:before {
    content: "\e918";
}
.icon-close-menu:before {
    content: "\e919";
}
.icon-close:before {
    content: "\e91a";
}
.icon-company:before {
    content: "\e91b";
}
.icon-copy:before {
    content: "\e91c";
}
.icon-credit-payment:before {
    content: "\e91d";
}
.icon-cut:before {
    content: "\e91e";
}
.icon-database:before {
    content: "\e91f";
}
.icon-debit-payment:before {
    content: "\e920";
}
.icon-delete:before {
    content: "\e921";
}
.icon-device-desktop:before {
    content: "\e922";
}
.icon-device-notebook:before {
    content: "\e923";
}
.icon-device-smartphone:before {
    content: "\e924";
}
.icon-device-tablet:before {
    content: "\e925";
}
.icon-document-double:before {
    content: "\e926";
}
.icon-document-filled:before {
    content: "\e927";
}
.icon-document:before {
    content: "\e928";
}
.icon-download:before {
    content: "\e929";
}
.icon-edit:before {
    content: "\e92a";
}
.icon-exam:before {
    content: "\e92b";
}
.icon-exclamation:before {
    content: "\e92c";
}
.icon-exit:before {
    content: "\e92d";
}
.icon-export:before {
    content: "\e92e";
}
.icon-eye:before {
    content: "\e92f";
}
.icon-filter:before {
    content: "\e930";
}
.icon-finance-bitcoin:before {
    content: "\e931";
}
.icon-finance-secure:before {
    content: "\e932";
}
.icon-finance:before {
    content: "\e933";
}
.icon-first-page:before {
    content: "\e934";
}
.icon-folder:before {
    content: "\e935";
}
.icon-gift:before {
    content: "\e936";
}
.icon-grid:before {
    content: "\e937";
}
.icon-hdd:before {
    content: "\e938";
}
.icon-help:before {
    content: "\e939";
}
.icon-home:before {
    content: "\e93a";
}
.icon-info:before {
    content: "\e93b";
}
.icon-keyboard:before {
    content: "\e93c";
}
.icon-last-page:before {
    content: "\e93d";
}
.icon-layers:before {
    content: "\e93e";
}
.icon-light:before {
    content: "\e93f";
}
.icon-like:before {
    content: "\e940";
}
.icon-list:before {
    content: "\e941";
}
.icon-lock:before {
    content: "\e942";
}
.icon-mail:before {
    content: "\e943";
}
.icon-map:before {
    content: "\e944";
}
.icon-menu:before {
    content: "\e945";
}
.icon-message:before {
    content: "\e946";
}
.icon-microphone:before {
    content: "\e947";
}
.icon-minus-circle:before {
    content: "\e948";
}
.icon-minus:before {
    content: "\e949";
}
.icon-money:before {
    content: "\e94a";
}
.icon-more-vert:before {
    content: "\e94b";
}
.icon-more:before {
    content: "\e94c";
}
.icon-news:before {
    content: "\e94d";
}
.icon-notification:before {
    content: "\e94e";
}
.icon-off-line:before {
    content: "\e94f";
}
.icon-ok:before {
    content: "\e950";
}
.icon-paste:before {
    content: "\e951";
}
.icon-picture:before {
    content: "\e952";
}
.icon-pin-filled:before {
    content: "\e953";
}
.icon-pin:before {
    content: "\e954";
}
.icon-plus-circle:before {
    content: "\e955";
}
.icon-plus:before {
    content: "\e956";
}
.icon-qr-code:before {
    content: "\e957";
}
.icon-refresh:before {
    content: "\e958";
}
.icon-sale:before {
    content: "\e959";
}
.icon-search:before {
    content: "\e95a";
}
.icon-server:before {
    content: "\e95b";
}
.icon-settings:before {
    content: "\e95c";
}
.icon-share:before {
    content: "\e95d";
}
.icon-signal:before {
    content: "\e95e";
}
.icon-social-dropbox:before {
    content: "\e95f";
}
.icon-social-facebook:before {
    content: "\e960";
}
.icon-social-fluig:before {
    content: "\e961";
}
.icon-social-linkedin:before {
    content: "\e962";
}
.icon-social-paypal:before {
    content: "\e963";
}
.icon-social-skype:before {
    content: "\e964";
}
.icon-social-twitter:before {
    content: "\e965";
}
.icon-social-youtube:before {
    content: "\e966";
}
.icon-star-filled:before {
    content: "\e967";
}
.icon-star-half:before {
    content: "\e968";
}
.icon-star:before {
    content: "\e969";
}
.icon-stock:before {
    content: "\e96a";
}
.icon-table:before {
    content: "\e96b";
}
.icon-target:before {
    content: "\e96c";
}
.icon-telephone:before {
    content: "\e96d";
}
.icon-text-bold:before {
    content: "\e96e";
}
.icon-text-italic:before {
    content: "\e96f";
}
.icon-text-underline:before {
    content: "\e970";
}
.icon-totvs-logo:before {
    content: "\e971";
}
.icon-totvs:before {
    content: "\e972";
}
.icon-travel:before {
    content: "\e973";
}
.icon-upload-cloud:before {
    content: "\e974";
}
.icon-upload:before {
    content: "\e975";
}
.icon-user-add:before {
    content: "\e976";
}
.icon-user-delete:before {
    content: "\e977";
}
.icon-user:before {
    content: "\e978";
}
.icon-users:before {
    content: "\e979";
}
.icon-wallet:before {
    content: "\e97a";
}
.icon-weight:before {
    content: "\e97b";
}
.icon-world:before {
    content: "\e97c";
}
.icon-zoom-in:before {
    content: "\e97d";
}
.icon-zoom-out:before {
    content: "\e97e";
}
