<!-- header component -->
<app-header-page-new>
  <header-title> {{ 'title.dashboards' | translate }}</header-title>
</app-header-page-new>

<div class="thf-group-content">
  <form [formGroup]="form">
    <div class="col-12">
      <label class="thf-u-no-margin">
        <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
        <span
          class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
            {{ 'label.consultReports' | translate }}
        </span>
      </label>
    </div>
    <div class="thf-group-content-body">
      <div class="row">
        <div class="col-4">
          <label
            for="reportId"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'label.reportType' | translate }}
          </label>

          <app-select
            id="reportId"
            [selectId]="'reportId'"
            [parent]="form"
            [optionList]="reportTypeList"
            [hasBlankOption]="true"
            [hasFormGroup]="true">
          </app-select>
        </div>

        <div class="col-4" *ngIf="hasDateRangePicker">
          <label
            for="period"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine padBottom">
            {{ 'label.vigencePeriod' | translate }}</label>
          <thx-date-range-picker
            formControlName="period"
            id="period"
            class="thf-u-no-margin" >
          </thx-date-range-picker>
        </div>
        <div class="col-4" *ngIf="hasDatePicker">
          <label
            for="period"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine padBottom">
            {{ 'label.date' | translate }}</label>
          <thx-datepicker
            formControlName="date"
            id="date"
            class="thf-u-no-margin" >
          </thx-datepicker>
        </div>
      </div>


      <div class="row">
        <div class="col-3 thf-u-margin-top--2">
          <app-button [buttonConfig]="reportButtonConfig"></app-button>
        </div>
      </div>

    </div>

  </form>
</div>
