<ng-container *ngIf="auditStepErrorList && auditStepErrorList.length > 0; else noProblemsFound">
  <ngx-datatable
    *ngIf="auditStepErrorList[0].housekeepingStatusId > 0"
    class="material no-submenu-options"
    [rows]="auditStepErrorList"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="45"
    [reorderable]='true'>

    <ngx-datatable-column name="{{ 'label.numberUH' | translate }}" [width]="100">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.roomNumber}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{ 'label.statusHousekeeping' | translate }}" [width]="50">
      <ng-template let-row="row" ngx-datatable-cell-template>
         <span class="thf-tag thf-u-font--12 right-margin--1"
               [style.background-color]="'#' + row.housekeepingStatusColor"
               [style.color]="getColorByBgColor(row.housekeepingStatusColor)">
           {{ row.housekeepingStatusName }}
         </span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{'label.statusUH' | translate}}" [width]="50">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.roomStatusName}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{ 'label.typeUH' | translate }}" [width]="50">
      <ng-template let-row="row" ngx-datatable-cell-template>{{ row.roomTypeName }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{ 'label.auditStatus' | translate }}" [width]="100">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="thf-u-color--orange thf-u-text-left">
          {{ 'label.problemFound' | translate }}
        </div>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>

  <ngx-datatable
    *ngIf="!auditStepErrorList[0].housekeepingStatusId"
    class="material no-submenu-options"
    [rows]="auditStepErrorList"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="45"
    [reorderable]='true'>

    <ngx-datatable-column name="{{ 'label.reservationNumber' | translate }}" [width]="100">
      <ng-template let-row="row" ngx-datatable-cell-template>{{ row.reservationItemCode }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{ 'label.status' | translate }}" [width]="50">
      <ng-template let-row="row" ngx-datatable-cell-template>{{ row.reservationItemStatusName }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{ 'label.arrival' | translate }}" [width]="50">
      <ng-template let-row="row" ngx-datatable-cell-template>{{ row.estimatedArrivalDate | amDateFormat:'L' }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{ 'label.departure' | translate }}" [width]="50">
      <ng-template let-row="row" ngx-datatable-cell-template>{{ row.estimatedDepartureDate | amDateFormat:'L' }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{ 'label.numberUH' | translate }}" [width]="30">
      <ng-template let-row="row" ngx-datatable-cell-template>{{ row.roomNumber }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{ 'label.typeUH' | translate }}" [width]="50">
      <ng-template let-row="row" ngx-datatable-cell-template>{{ row.roomTypeName }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{ 'label.guestName' | translate }}" [width]="100">
      <ng-template let-row="row" ngx-datatable-cell-template>{{ row.guestName }}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="{{ 'label.auditStatus' | translate }}" [width]="100">
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div class="thf-u-color--orange thf-u-text-left">
          {{ 'label.problemFound' | translate }}
        </div>
      </ng-template>
    </ngx-datatable-column>

  </ngx-datatable>
</ng-container>

<ng-template #noProblemsFound>
  <div class="thf-group-content thf-u-padding--2 d-flex flex-column align-items-center justify-content-center">
    <img src="{{'detail-big.svg' | imgCdn}}"
         alt="{{ 'title.noProblemsFound' | translate }}" class="thf-u-padding--2">

    <p class="thf-u-color--grey-submarine">{{ 'title.noProblemsFound' | translate }}</p>
  </div>
</ng-template>
