<li
  (click)="seeGuestInfo(guest)"
  class="thf-card-room-list thf-u-padding--1 thf-u-cursor--pointer"
  [ngClass]="{'thf-card-room-list--active thf-u-color--white': guestCard.active }">
  <div class="row align-items-center">
    <div class="col-1" app-click-stop-propagation  >
      <i
        *ngIf="!guest.isReadonly"
        (click)="removeGuest(guest)"
        class="mdi mdi-delete thf-u-color--blue thf-u-font--18"></i>
    </div>
    <div class="col">
      <div class="row justify-content-between">
        <div class="col thf-u-ellipsis">
          <span class="thf-u-font--bold thf-u-font--13">
            {{ guestCard.guest.socialName ? guestCard.guest.socialName : guestCard.guest.guestReservationItemName }}
          </span>
        </div>
        <div class="col-4 thf-u-text-right">
          <!-- TODO: check the img logic -->
          <img
            *ngIf="guestCard.active && !guestCard?.guest.isChild"
            src="{{'person-white.svg' | imgCdn}}"
            alt="{{ 'commomData.images.person' | translate }}"
            [ngClass]="{'thf-u-filter-svg--white': guestCard.active}">
          <img
            *ngIf="!guestCard.active && !guestCard?.guest.isChild"
            src="{{'person-gray.svg' | imgCdn}}"
            alt="{{ 'commomData.images.person' | translate }}"
            [ngClass]="{'thf-u-filter-svg--white': guestCard.active}">
          <img
            *ngIf="guestCard.active && guestCard?.guest.isChild"
            src="{{'child_icon.svg' | imgCdn}}"
            alt="{{ 'commomData.images.person' | translate }}"
            [ngClass]="{'thf-u-filter-svg--white': guestCard.active}">
          <img
            *ngIf="!guestCard.active && guestCard?.guest.isChild"
            src="{{'child_icon.svg' | imgCdn}}"
            alt="{{ 'commomData.images.person' | translate }}"
            [ngClass]="{'thf-u-filter-svg--white': guestCard.active}">
          <img
            src="{{'alert-master-details.svg' | imgCdn}}"
             *ngIf="!guestCard.guest.isValid"
             alt="{{ 'commomData.images.error' | translate }}">
          <img
            src="{{'check-circle-outline-blue.svg' | imgCdn}}"
            *ngIf="guestCard.guest.isValid"
            [ngClass]="{'thf-u-filter-svg--white': guestCard.active}"
            alt="{{ 'commomData.images.checkCircle' | translate }}" />
        </div>
      </div>

      <div
        class="row justify-content-between"
        [ngClass]="{'thf-u-color--white': guestCard.active}">
        <div class="col thf-u-ellipsis">
          <span
            class="thf-u-font--12"
            [attr.title]="guestCard.guest.guestRegistrationDocumentBirthDate | amDateFormat:'L'">
            {{'checkinModule.guestFnrhcreateEdit.guestList.birth' | translate }}
            {{ guestCard.guest.guestRegistrationDocumentBirthDate | amDateFormat:'L' }}
          </span>
        </div>
        <div class="col thf-u-ellipsis thf-u-no-padding-left">
          <span
            class="thf-u-font--12"
            [attr.title]="guestCard?.guest?.documentInformation">
            {{'checkinModule.guestFnrhcreateEdit.guestList.document' | translate }} {{ guestCard?.guest?.documentInformation }}
          </span>
        </div>
      </div>

      <div class="row justify-content-between" [ngClass]="{'thf-u-color--white': guestCard.active}">
        <div class="col thf-u-ellipsis">
          <span class="thf-u-font--12" [attr.title]="guestCard.guest.subdivision">
            {{ guestCard.guest.subdivision }}
          </span>
        </div>
        <div class="col thf-u-ellipsis">
          <span class="thf-u-font--12" [attr.title]="guestCard.guest.division">
            {{ guestCard.guest.division }}
          </span>
        </div>
        <div class="col thf-u-ellipsis thf-u-no-padding-left ">
          <span class="thf-u-font--12" [attr.title]="guestCard.guest.country">
            {{ guestCard.guest.country }}
          </span>
        </div>
        <div class="col thf-u-ellipsis">
          <span class="thf-u-font--12" [attr.title]="guestCard.guest.businessSourceName">
            {{ guestCard.guest.businessSourceName }}
          </span>
        </div>
      </div>
    </div>
  </div>
</li>
