.thx-icon {
  display: block;
  font-size: .7em;

  // colors
  &.primary {
    color: var(--color-blue) !important;
  }
  &.secondary {
    color: var(--color-white) !important;
  }

  // case form input
  &.thx-input-icon {
    position: absolute;
    cursor: pointer;
  }

  // case form input
  &.thx-input-icon-right {
    top: 12px;
    left: 15px;
  }
}
