<label class="thf-input-label thf-u-font--14 thf-u-no-margin thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.shouldLaunchDaily' | translate }}</label>
<input type="checkbox" [(ngModel)]="isActive" (ngModelChange)="itemWasUpdated($event)" class="thf-input-radio-button" id="launchDaily" [disabled]="disabled" />
<label for="launchDaily" class="thf-u-margin-top--1"><span class="ui"></span></label>
