<div *ngIf="guestsFromReservationItem">
  <form [formGroup]="guestsFromReservationItem">
    <div formArrayName="guests">
      <div class="row">
        <div class="col-12">
          <div
            class="thf-group-content"
            [class.thf-u-margin-top--1]="i > 0"
            *ngFor="let guest of getGuestsForm(guestsFromReservationItem); let i=index;">
            <div *ngIf="guest.state === referenceGuestState.GuestCreated">
              <app-guest-card-state-created
                [guest]="guest"
                [dataInput]="dataInput">
              </app-guest-card-state-created>
            </div>
            <div *ngIf="guest.state === referenceGuestState.NoGuest">
              <app-guest-card-state-noguest
                [guest]="guest">
              </app-guest-card-state-noguest>
            </div>
            <div *ngIf="guest.state === referenceGuestState.CreatingGuest">
              <app-guest-card-state-creating-guest
                [guest]="guest"
                [propertyId]="propertyId"
                [dataInput]="dataInput"
                [guestsForm]="guestsFromReservationItem"
                (activeForm)="activeNextGuest(guestsFromReservationItem)">
              </app-guest-card-state-creating-guest>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
