<app-modal-wrapper
  modalId="market-primary-segment-new"
  [title]="'marketSegmentModule.createEditPrimary.titleCreate'"
  [maxWidth]="'50vw'">
  <form [formGroup]="formModalNewPrimary">
    <div class="thf-modal-body">
      <div class="row">
        <div class="col-7">
          <label for="name" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'marketSegmentModule.createEditPrimary.form.marketSegment' | translate}}
          </label>
          <input class="thf-input thf-u-margin-top--1" data-qa-id="segment" type="text" formControlName="name" />
        </div>
        <div class="col">
          <label for="abbreviation" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'marketSegmentModule.createEditPrimary.form.abbreviation' | translate}}
          </label>
          <input class="thf-input thf-u-margin-top--1" data-qa-id="abbreviation" type="text" formControlName="abbreviation" />
        </div>
        <div class="col">
          <label for="code" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'marketSegmentModule.createEditPrimary.form.code' | translate}}
          </label>
          <input only-number class="thf-input thf-u-margin-top--1" data-qa-id="code" type="text" formControlName="code" maxlength="2" />
        </div>
        <div class="col">
          <label for="isActive" class="thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
            {{'marketSegmentModule.createEditPrimary.form.isActive' | translate}}
          </label>
          <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
            <input type="checkbox" formControlName="isActive" data-qa-id="primary-segment-active" class="thf-input-radio-button" [id]="formModalNewPrimary.get('isActive')" />
            <label class="thf-u-vertical-align-super" [attr.for]="formModalNewPrimary.get('isActive')">
              <span class="ui"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="thf-modal-footer">
      <div class="row justify-content-end">
        <div class="col-sm-4 col-md-3">
          <app-button data-qa-id="primary-modal-cancel"  [buttonConfig]="buttonCancelPrimarySegmentModalConfig"></app-button>
        </div>
        <div class="col-sm-4 col-md-3">
          <app-button data-qa-id="primary-modal-save"  [buttonConfig]="buttonSavePrimarySegmentModalConfig"></app-button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>

<app-modal-wrapper
  modalId="market-secondary-segment-new"
  [title]="'marketSegmentModule.createEditSecondary.titleCreate'"
  [maxWidth]="'50vw'">
  <form [formGroup]="formModalNewSecondary">
    <div class="thf-modal-body">
      <div class="row">
        <div class="col-7">
          <label for="name" class="thf-u-no-margin thf-u-margin-bottom--1 thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'marketSegmentModule.createEditSecondary.form.marketSegmentPrimary' | translate}}
          </label>
          <app-select
            [parent]="formModalNewSecondary"
            [optionList]="primarySegmentOptionList"
            [selectId]="'primary'"
            [isUppercase]="false"
            [hasFormGroup]="true">
          </app-select>
        </div>
        <div class="col-5">
          <label for="name" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'marketSegmentModule.createEditSecondary.form.codeMarketSegmentPrimary' | translate}}
          </label>
          <div *ngIf="parentSegmentCodeChoosen" class="thf-u-margin-top--2" data-qa-id="princial-code">{{parentSegmentCodeChoosen}}</div>
        </div>
        <div class="col-5">
          <label for="name" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--1">
            {{'marketSegmentModule.createEditSecondary.form.marketSegmentSecondary' | translate}}
          </label>
          <input class="thf-input thf-u-margin-top--1" type="text" data-qa-id="name" formControlName="name" />
        </div>
        <div class="col-2">
          <label for="abbreviation" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--1">
            {{'marketSegmentModule.createEditSecondary.form.abbreviation' | translate}}
          </label>
          <input class="thf-input thf-u-margin-top--1" data-qa-id="secondary-abbreviation" type="text" formControlName="abbreviation" />
        </div>
        <div class="col-3">
          <label for="code" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--1">
            {{'marketSegmentModule.createEditSecondary.form.code' | translate}}
          </label>
          <input only-number class="thf-input thf-u-margin-top--1" data-qa-id="secondary-code" type="text" formControlName="code" maxlength="2" />
        </div>

        <div class="col-2">
          <label for="isActive" class="thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required thf-u-margin-top--1">
            {{'marketSegmentModule.createEditSecondary.form.isActive' | translate}}
          </label>
          <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
            <input type="checkbox" formControlName="isActive" data-qa-id="secondary-segment-active" class="thf-input-radio-button" [id]="formModalNewSecondary.get('isActive')" />
            <label class="thf-u-vertical-align-super" [attr.for]="formModalNewSecondary.get('isActive')">
              <span class="ui"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="thf-modal-footer">
        <div class="row justify-content-end">
          <div class="col-sm-4 col-md-3">
          <app-button data-qa-id="secondary-modal-cancel" [buttonConfig]="buttonCancelSecondarySegmentModalConfig"></app-button>
        </div>
        <div class="col-sm-4 col-md-3">
          <app-button data-qa-id="secondary-modal-save" [buttonConfig]="buttonSaveSecondarySegmentModalConfig"></app-button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>

<app-modal-wrapper
  modalId="market-remove-segment"
  [title]="'commomData.delete'">
  <div class="thf-modal-body">
    <div class="thf-u-text-center">
      {{'marketSegmentModule.listPage.removeMarketSegment' | translate}}
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row justify-content-end">
      <div class="col-sm-4 col-md-3">
        <app-button data-qa-id="not-remove" [buttonConfig]="buttonCancelRemoveConfig"></app-button>
      </div>
      <div class="col-sm-4 col-md-3">
        <app-button data-qa-id="yes-remove" [buttonConfig]="buttonConfirmRemoveConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<div class="row align-items-center thf-u-margin-vertical--2">
  <div class="col">
    <span class="thf-u-font--bold thf-u-font--16">
      {{ 'marketSegmentModule.listPage.header.title' | translate }}
    </span>
  </div>
  <div class="col-7 ml-auto">
    <div class="row flex-nowrap">
      <div class="col" data-qa-id="primary">
        <app-button [buttonConfig]="buttonNewPrimarySegmentConfig">
          <icon>
            <img src="{{'add-circle-outline_btn_icon.svg' | imgCdn }}" alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
            />
          </icon>
          {{ 'action.new' | translate}}
        </app-button>
      </div>
      <div class="col">
        <app-button data-qa-id="secondary" [buttonConfig]="buttonNewSecondarySegmentConfig">
          <icon><img src="{{'add-circle-outline_btn_icon.svg' | imgCdn}}" alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
          />
          </icon>
          {{ 'action.new' | translate}}
        </app-button>
      </div>
    </div>
  </div>
</div>

<ngx-datatable
  #myTable
  class='material expandable material-padding-default'
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="45"
  [rows]='rows'
  [limit]="10">
  <!-- Row Detail Template -->
  <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
    <ng-template let-row="row" ngx-datatable-row-detail-template>
      <tr class="datatable-body-row" [style.height.px]="45" *ngFor="let childMarketSegments of row.childMarketSegmentList">
        <td class="datatable-body-cell" [style.width.px]="widthColumns[0]"></td>
        <td class="datatable-body-cell" [style.width.px]="widthColumns[1]" app-click-stop-propagation>
          <input type="checkbox" [(ngModel)]="childMarketSegments.isActive" (ngModelChange)="itemWasUpdated(childMarketSegments)" [checked]="childMarketSegments.isActive" class="thf-input-radio-button"
            [id]="childMarketSegments.id" />
          <label class="thf-u-vertical-align-super" [attr.for]="childMarketSegments.id">
            <span class="ui"></span>
          </label>
        </td>
        <td class="datatable-body-cell" [style.width.px]="widthColumns[2]">{{childMarketSegments.code}}</td>
        <td class="datatable-body-cell" [style.width.px]="widthColumns[3]">{{childMarketSegments.segmentAbbreviation}}</td>
        <td class="datatable-body-cell" [style.width.px]="widthColumns[4]">{{childMarketSegments.name}}</td>
        <td class="datatable-body-cell thf-u-no-padding" [style.width.px]="widthColumns[5]">
          <app-submenu-options [items]="itemsOption" (itemWasAction)="rowAction($event, childMarketSegments)"></app-submenu-options>
        </td>
      </tr>
    </ng-template>
  </ngx-datatable-row-detail>
  <!-- Column Templates -->
  <ngx-datatable-column
    [width]="50"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      <a
        href="javascript:void(0)"
        [class.datatable-icon-right]="!expanded"
        [class.datatable-icon-down]="expanded"
        title="Expand/Collapse Row"
        (click)="toggleExpandRow(row)"
        *ngIf="row.childMarketSegmentList && row.childMarketSegmentList.length > 0">
      </a>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template ngx-datatable-header-template>
      {{ 'marketSegmentModule.listPage.table.isActive' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="checkbox" [(ngModel)]="row.isActive" (ngModelChange)="itemWasUpdated(row)" [checked]="row.isActive" class="thf-input-radio-button" [id]="row.id"/>
      <label class="thf-u-vertical-align-super" [attr.for]="row.id">
        <span class="ui"></span>
      </label>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template ngx-datatable-header-template>
      {{ 'marketSegmentModule.listPage.table.code' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.code}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template ngx-datatable-header-template>
      {{ 'marketSegmentModule.listPage.table.abbreviation' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.segmentAbbreviation}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template ngx-datatable-header-template>
      {{ 'marketSegmentModule.listPage.table.name' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.name}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [width]="50"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false"
    [cellClass]="'thf-u-no-padding'">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <app-submenu-options [items]="itemsOption" (itemWasAction)="rowAction($event, row)"></app-submenu-options>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
