@import "main";

@page {
  size: portrait A4;
  margin: 2%;
}

@media print {
  .row-divisor {
    margin: 3px 15px;

    &.no-margin-horizontal{
      margin: 10px 0;
    }
  }

  table.fnrh-print {
    width: 100%;
  }

  table.fnrh-print tbody {
    line-height: 1em;
  }

  table.fnrh-print tbody h2 {
    font-size: 1em;
    color: var(--color-blue);
  }

  table.fnrh-print tbody h2.border {
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--color-blue);
    width: 100%;
    margin-bottom: .2em;
  }

  table.fnrh-print tbody .thf-input-label--grey-submarine,
  table.fnrh-print .thf-input-label--grey-submarine + div {
    font-size: .8em;
  }

  table.fnrh-print thead .size-top-bar--middle {
    line-height: 50px;
  }

  table.fnrh-print tfoot .line-signature {
    width: 40%;
    margin-bottom: 0;
  }

  table.fnrh-print .signature {
    page-break-after: always;
  }

  table.fnrh-print {
    div.underscore {
      margin: 10px 0;
      padding: 0 2px 2px 2px;
      height: 20px;
      border-bottom: 1px solid $grey-color--40;
    }

    div.additional-underscore{
      min-height: 20px;
      word-break: break-all;
    }

    .policy-item-container, .policy-item, .additional-container{
      page-break-inside: avoid;

      .info {
        margin-left: 5px;
      }
    }
  }


}
