<table class="fnrh-print">
  <thead>
    <tr>
      <td>
        <header class="print-only thf-top-bar thf-u-padding-horizontal--1" *ngIf="showHeader">
          <div class="row thf-u-width-auto d-flex align-items-center">
            <div class="col-9 thf-u-font--20 thf-u-color--white thf-u-font--bold">
              {{hotelName}}{{ reservationItemCode }}
            </div>
            <div class="col text-right thf-u-color--white size-top-bar--middle">
              <img src="{{'logo_totvs_fechado_menu.svg' | imgCdn}}" alt=""> THEx.com
            </div>
          </div>
        </header>
      </td>
    </tr>
  </thead>

  <tbody>
  <tr>
    <td>

      <div class="container-fluid print-only">
        <div class="row thf-u-margin-vertical--1">
          <div class="col">
            <h2 class="thf-u-font--bold thf-u-margin-top--2 border">
                {{ 'label.reservationData' | translate }}
            </h2>
          </div>
        </div>

        <div class="row thf-u-margin-vertical--1">
          <div class="col">
            <label class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
              {{ 'label.codeUH' | translate }}
            </label>
            <div class="underscore">{{ fnrh?.roomTypeAbbreviation }} - {{ fnrh?.roomNumber }}</div>
          </div>

          <div class="col">
            <label class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
              {{ 'label.entryDate' | translate }}
            </label>
            <div class="underscore">{{ fnrh?.arrivalDate | amDateFormat: 'L LT' }}</div>
          </div>

          <div class="col">
            <label class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
              {{ 'label.exitDate' | translate }}
            </label>
            <div class="underscore">{{ fnrh?.departureDate | amDateFormat: 'L LT'}}</div>
          </div>

          <div class="col-3">
            <label class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
              {{ 'hotelPanelModule.commomData.adultCapacity' | translate }}
            </label>
            <div class="underscore">{{ fnrh?.adultCount }}</div>
          </div>
        </div>

        <hr class="row-divisor">

        <div class="row thf-u-margin-vertical--1">
          <div class="col-3">
            <label class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
              {{ 'hotelPanelModule.commomData.childCapacity' | translate }}
            </label>
            <div class="underscore">{{ fnrh?.childCount }}</div>
          </div>
        </div>

        <!--GUEST DATA-->
        <div class="row thf-u-margin-top--1">
          <div class="col">
            <div class="row thf-u-margin-vertical--1">
              <div class="col">
                <h2 class="thf-u-font--bold border">
                  {{ 'label.guestCard' | translate }}
                </h2>
              </div>
            </div>

            <div class="row thf-u-margin-vertical--1">
              <div class="col-3">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold"
                  [ngClass]="{ 'thf-input-label--required' : fnrh?.requiredFields?.documentRequired }">
                  {{ fnrh?.document?.documentTypeName }}
                </label>
                <div class="underscore">
                  {{ fnrh?.document?.documentInformation }}
                </div>
              </div>

              <div class="col">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold thf-input-label--required">
                  {{ 'label.fullName' | translate }}
                </label>
                <div class="underscore">
                  {{ fnrh?.fullName }}
                </div>
              </div>

              <div class="col">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold"
                  [ngClass]="{ 'thf-input-label--required' : fnrh?.requiredFields?.emailRequired }">
                  {{ 'label.email' | translate }}
                </label>
                <div class="underscore">
                  {{ fnrh?.email }}
                </div>
              </div>
            </div>

            <hr class="row-divisor">

            <div class="row thf-u-margin-vertical--1">
              <div class="col">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold thf-input-label--required">
                  {{ 'label.birthDate' | translate }}
                </label>
                <div class="underscore">
                  {{ fnrh?.birthDate | amDateFormat: 'L' }}
                </div>
              </div>
              <div class="col">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
                  {{ 'label.age' | translate }}
                </label>
                <div class="underscore">
                  {{ age }}
                </div>
              </div>
              <div class="col">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
                  {{ 'label.gender' | translate }}
                </label>
                <div class="underscore">
                  {{ genderName | translate }}
                </div>
              </div>
              <div class="col">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold thf-input-label--required">
                  {{ 'label.guestType' | translate }}
                </label>
                <div class="underscore">
                  {{ guestTypeName }}
                </div>
              </div>
            </div>

            <hr class="row-divisor">

            <div class="row thf-u-margin-vertical--1">
              <div class="col">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold"
                  [ngClass]="{ 'thf-input-label--required' : fnrh?.requiredFields?.nationalityIsRequired }">
                  {{ 'label.nationality' | translate }}
                </label>
                <div class="underscore">
                  {{ nationalityName }}
                </div>
              </div>

              <div class="col">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
                  {{ 'label.incapable' | translate }}
                </label>
                <div class="underscore">
                  {{ (fnrh?.isLegallyIncompetent ? 'commomData.yes' : 'commomData.not') | translate}}
                </div>
              </div>

              <div class="col" *ngIf="needResponsable">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold thf-input-label--required">
                  {{ 'label.responsable' | translate }}
                </label>
                <div class="underscore">
                  {{ fnrh?.responsableName }}
                </div>
              </div>

              <div class="col" *ngIf="!needResponsable">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold"
                  [ngClass]="{ 'thf-input-label--required' : fnrh?.requiredFields?.phoneRequired }">
                  {{ 'label.phone' | translate }}
                </label>
                <div class="underscore">
                  {{ fnrh?.phoneNumber }}
                </div>
              </div>
              <div class="col">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold"
                  [ngClass]="{ 'thf-input-label--required' : fnrh?.requiredFields?.cellphoneRequired }">
                  {{ 'label.cellPhone' | translate }}
                </label>
                <div class="underscore">
                  {{ fnrh?.mobilePhoneNumber }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--ADDRESS-->
        <div class="row thf-u-margin-vertical--1">
          <div class="col">
            <div class="row">
              <div class="col">
                <h2 class="thf-u-font--bold border">
                  {{ 'label.address' | translate }}
                </h2>
              </div>
            </div>

            <div class="row">

              <div class="col">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold"
                  [ngClass]="{ 'thf-input-label--required' : fnrh?.addressRequiredFields?.country }">
                  {{ 'label.country' | translate }}
                </label>
                <div class="underscore">
                  {{ fnrh?.location?.country }}
                </div>
              </div>
              <div class="col-1">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold"
                  [ngClass]="{ 'thf-input-label--required' : fnrh?.addressRequiredFields?.division }">
                  {{ 'label.uf' | translate }}
                </label>
                <div class="underscore">
                  {{ fnrh?.location?.division }}
                </div>
              </div>
              <div class="col-2">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold"
                  [ngClass]="{ 'thf-input-label--required' : fnrh?.addressRequiredFields?.subdivision }">
                  {{ 'label.city' | translate }}
                </label>
                <div class="underscore">
                  {{ fnrh?.location?.subdivision || fnrh?.location?.city || '' }}
                </div>
              </div>
              <div class="col">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold"
                  [ngClass]="{ 'thf-input-label--required' : fnrh?.addressRequiredFields?.neighborhood }">
                  {{ 'label.neighborhood' | translate }}
                </label>
                <div class="underscore">
                  {{ fnrh?.location?.neighborhood }}
                </div>
              </div>
              <div class="col">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold"
                  [ngClass]="{ 'thf-input-label--required' : fnrh?.addressRequiredFields?.postalCode }">
                  {{ 'label.postalCode' | translate }}
                </label>
                <div class="underscore">
                  {{ fnrh?.location?.postalCode }}
                </div>
              </div>
            </div>

            <hr class="row-divisor no-margin-horizontal"/>

            <div class="row">
              <div class="col">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold"
                  [ngClass]="{ 'thf-input-label--required' : fnrh?.addressRequiredFields?.streetName }">
                  {{ 'label.locality' | translate }}
                </label>
                <div class="underscore">
                  {{ fnrh?.location?.streetName }}
                </div>
              </div>
              <div class="col-3">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold"
                  [ngClass]="{ 'thf-input-label--required' : fnrh?.addressRequiredFields?.streetNumber }">
                  {{ 'label.number' | translate }}
                </label>
                <div class="underscore">
                  {{ fnrh?.location?.streetNumber }}
                </div>
              </div>
            </div>

            <hr class="row-divisor no-margin-horizontal"/>

            <div class="row">
              <div class="col-3">
                <label
                        class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold"
                        [ngClass]="{ 'thf-input-label--required' : fnrh?.addressRequiredFields?.additionalAddressDetails }">
                  {{ 'label.complement' | translate }}
                </label>
                <div class="underscore">
                  {{ fnrh?.location?.additionalAddressDetails }}
                </div>
              </div>
              <div class="col-3">
                <label
                        class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold thf-input-label--required">
                  {{ 'label.addressType' | translate }}
                </label>
                <div class="underscore">
                  {{ 'label.residential' | translate }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row thf-u-margin-vertical--1">
          <div class="col">
            <h2 class="thf-u-font--bold border">
              {{ 'label.complementaryInfo' | translate }}
            </h2>
          </div>
        </div>


        <div class="row thf-u-margin-vertical--1">
          <div class="col-3">
            <label
              class=" thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
              {{ 'label.occupation' | translate }}
            </label>
            <div class="underscore">
              {{ occupationName }}
            </div>
          </div>
          <div class="col-3">
            <label
              class=" thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
              {{ 'label.transport' | translate }}
            </label>
            <div class="underscore">
              {{ transportName }}
            </div>
          </div>
          <div class="col-3">
            <label
              class=" thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
              {{ 'label.lastDestination' | translate }}
            </label>
            <div class="underscore">
              {{ fnrh?.arrivingFromText }}
            </div>
          </div>
          <div class="col-3">
            <label
              class=" thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
              {{ 'label.nextDestination' | translate }}
            </label>
            <div class="underscore">
              {{ fnrh?.nextDestinationText }}
            </div>
          </div>
        </div>

        <hr class="row-divisor">

        <div class="row thf-u-margin-vertical--1">
          <div class="col-3">
            <label
              class=" thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
              {{ 'label.reasonForTravel' | translate }}
            </label>
            <div class="underscore">
              {{ reasonForTravel }}
            </div>
          </div>
          <div class="col-3">
            <label
              class=" thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
              {{ 'label.medicalAgreement' | translate }}
            </label>
            <div class="underscore">
              {{ fnrh?.healthInsurance }}
            </div>
          </div>
          <div class="col-3">
            <label
              class=" thf-u-no-margin thf-input-label--grey-submarine thf-u-font--bold">
              {{ 'label.socialName' | translate }}
            </label>
            <div class="underscore">
              {{ fnrh?.socialName }}
            </div>
          </div>
        </div>

        <div class="row thf-u-margin-vertical--1 additional-container">
          <div class="col thf-u-margin-top--2">
            <h2 class="thf-u-font--bold border">
              {{ 'label.additionalInformation' | translate }}
            </h2>
            <div class="thf-u-padding--1 additional-underscore">
              {{ fnrh?.additionalInformation }}
            </div>
          </div>
        </div>

        <!-- policy -->
        <div
          class="row thf-u-margin-vertical--3 policy-item-container">
          <div class="col-12 thf-u-margin-top--2">
            <h2 class="thf-u-font--bold border">
            {{ 'text.termsUse' | translate }}
            </h2>
          </div>

          <div class="col-12 thf-u-margin-vertical--1 thf-u-font--bold">
            {{ 'text.ownerAuthorizes' | translate}}
          </div>

          <div class="col-12 d-flex align-items-start thf-u-margin-vertical--2 policy-item">
            <div>
              <input
                id="receiveOffers"
                class="thf-input-type-checkbox"
                type="checkbox"
                [checked]="fnrh?.person?.receiveOffers">
              <label for="receiveOffers" class="checkboxAuthorize">
                <span class="ui"></span>
              </label>
            </div>
            <div class="info">
              {{ 'text.commercialOffers' | translate}}
            </div>
          </div>

          <div class="col-12 d-flex align-items-start thf-u-margin-vertical--2 policy-item">
            <div>
              <input
                id="confidentialityData"
                class="thf-input-type-checkbox"
                type="checkbox"
                [checked]="fnrh?.person?.sharePersonData">
              <label for="confidentialityData" class="checkboxAuthorize">
                <span class="ui"></span>
              </label>
            </div>
            <div class="info">
              {{ 'text.confidentialityData' | translate}}
            </div>
          </div>

          <div class="col-12 d-flex align-items-start thf-u-margin-vertical--2 policy-item">
            <div>
              <input
                id="sendDatabyElectronicMeans"
                class="thf-input-type-checkbox"
                type="checkbox"
                [checked]="fnrh?.person?.allowContact">
              <label
                for="sendDatabyElectronicMeans"
                class="checkboxAuthorize">
                <span class="ui"></span>
              </label>
            </div>
            <div class="info">
              {{ 'text.sendDatabyElectronicMeans' | translate}}
            </div>
          </div>
        </div>
      </div>


      <guest-policy-print
        *ngFor="let guestPolicy of guestPolicyList"
        [guestPolicy]="guestPolicy">
      </guest-policy-print>

    </td>
  </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>

        <div *ngIf="showSignature" class="row justify-content-center">
          <div class="col text-center thf-u-font--14 thf-u-margin-top--2">
            {{ hotelCity}} , {{ today | amDateFormat:'L' }}
          </div>
        </div>

        <div class="row text-center thf-u-margin-top--1 signature" *ngIf="showSignature">
          <div class="col">
            <hr class="line-signature">
            <div class="thf-u-font--14">
              {{ 'label.guestSignature' | translate }}
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tfoot>
</table>
