<div class="m-3 mt-4 pt-2">
    <div class="col-12 mb-4 pb-2 header-box">
      <div class="row">
        <div class="col-3 line-side mt-4">
            <thx-img class="ml-2 float-left mr-3 mt-4" [src]="'company.svg'"></thx-img>

            <span class="header-title">{{chainName}}</span> <br />
            <span class="header-text">{{propertyName}}</span>
        </div>
        <div class="col-5 d-block mx-auto line-side pl-4">
            <span class="header-sub-title">{{ 'label.dashboardItems.currentProduction' | translate }}</span>
            <div class="row">
                <div class="col-3">
                  <span class="header-count-title">{{ 'label.dashboardItems.checkin' | translate }}</span> <br />
                  <span class="header-count-text">{{totals.checkin}}</span>
                </div>
                <div class="col-3">
                  <span class="header-count-title">{{ 'label.dashboardItems.checkout' | translate }}</span> <br />
                  <span class="header-count-text checkout">{{totals.checkout}}</span>
                </div>
                <div class="col-3">
                  <span class="header-count-title">{{ 'label.dashboardItems.walkin' | translate }}</span> <br />
                  <span class="header-count-text walkin">{{totals.walkin}}</span>
                </div>
                <div class="col-3">
                  <span class="header-count-title">{{ 'label.dashboardItems.dayuse' | translate }}</span> <br />
                  <span class="header-count-text dayuse">{{totals.dayuse}}</span>
                </div>
            </div>
        </div>
        <div class="col-2 d-block mx-auto line-side no-border pl-3">
            <span class="header-sub-title">{{ 'label.dashboardItems.reservationItems' | translate }}</span>
            <div class="row">
                <div class="col-6">
                  <span class="header-count-title">{{ 'label.dashboardItems.busy' | translate }}</span> <br />
                  <span class="header-count-text busy">{{totals.busy}}</span>
                </div>
                <div class="col-6">
                  <span class="header-count-title">{{ 'label.dashboardItems.avaiables' | translate }}</span> <br />
                  <span class="header-count-text avaiables">{{totals.avaiables}}</span>
                </div>
            </div>
        </div>
        <div class="col-2 header-side-box pt-3">
            <div class="header-side-percent">{{totals.percent}}%</div>
            <div class="header-side-title pb-2">{{ 'label.dashboardItems.currentOccupation' | translate }}</div>
            <thx-progress-bar-v2 percentage="{{totals.percent | number:'1.0-0'}}"></thx-progress-bar-v2>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-6">
          <div class="thf-group-content">
            <div class="thf-group-content-header">
              <div class="row">
                <div class="col-6">
                  <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                  <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
                    {{ 'title.todayCheckins' | translate }}
                  </span>
                </div>
                <div class="col-6 text-center">
                  <thx-searchbar name="searchFilter" *ngIf="reservationCheckinListBack.length"
                    [placeholder]="'placeholder.searchByNameTypeReservation'"
                    (search)="search(true, $event)">
                  </thx-searchbar>
                </div>
              </div>
            </div>
            <div class="thf-group-content-body">
              <div class="row">
                <div class="col-12">
                  <thx-datatable
                    [columns]='columnsCheckin'
                    [rowsLimit]='5'
                    [itens]="reservationCheckinList"
                    (rowItemClicked)="goToCheckinPage($event)">
                  </thx-datatable>

                  <div class="text-center" *ngIf="!isFindingCheckin && !reservationCheckinListBack.length">
                      <thx-img [ngClass]="{'search-size': true}"
                        [src]="'no_results.svg'"
                      ></thx-img>
                      <div class="noresults">{{ 'label.dashboardItems.noCheckinResults' | translate}}</div>
                    </div>

                    <div class="text-center" *ngIf="isFindingCheckin && !reservationCheckinList.length">
                      <thx-img [ngClass]="{'search-size': true}"
                        [src]="'no_results_find.svg'"
                      ></thx-img>
                      <div class="noresults">{{ 'label.dashboardItems.noResults' | translate}}</div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-6">
          <div class="thf-group-content">
            <div class="thf-group-content-header">
              <div class="row">
                <div class="col-6">
                  <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                  <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
                    {{ 'title.todayCheckouts' | translate }}
                  </span>
                </div>
                <div class="col-6 text-center">
                  <thx-searchbar name="searchFilter" *ngIf="reservationCheckoutListBack.length"
                    [placeholder]="'placeholder.searchByNameTypeReservation'"
                    (search)="search(false, $event)">
                  </thx-searchbar>
                </div>
              </div>
            </div>
            <div class="thf-group-content-body">
              <div class="row">
                <div class="col-12">
                  <thx-datatable
                    [columns]='columnsCheckout'
                    [rowsLimit]='5'
                    [itens]="reservationCheckoutList"
                    (rowItemClicked)="goToBillingAccount($event)">
                  </thx-datatable>

                  <div class="text-center" *ngIf="!isFindingCheckout && !reservationCheckoutListBack.length">
                    <thx-img [ngClass]="{'search-size': true}"
                      [src]="'no_results.svg'"
                    ></thx-img>
                    <div class="noresults">{{ 'label.dashboardItems.noCheckoutResults' | translate}}</div>
                  </div>

                  <div class="text-center" *ngIf="isFindingCheckout && !reservationCheckoutList.length">
                    <thx-img [ngClass]="{'search-size': true}"
                      [src]="'no_results_find.svg'"
                    ></thx-img>
                    <div class="noresults">{{ 'label.dashboardItems.noResults' | translate}}</div>
                  </div>

                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="availability-warning">
        <p class="text">
          {{'text.justForDisplay' | translate}}.
          <a class="link" [routerLink]="['/p', propertyId, 'availability-grid']">{{'text.clickHereForAvailability' | translate}}.</a>
        </p>
      </div>
      <thx-availability-grid class="col-12"
        #grid
        [startDate]="startDate"
        [disableClick]="true"
        [hideLabels]="true"
        [days]="days"
        [roomTypeList]="roomTypeList"
        [blockedRoomList]="blockedRoomList"
        [availabilityList]="availabilityList"
        [reservationList]="reservationList"
        [footerList]="footerList"
        [labels]="labels">
      </thx-availability-grid>
    </div>
    <div>
        <app-availability-chart-grid></app-availability-chart-grid>
    </div>
</div>
