:host ::ng-deep {
    .scheduler_default_tree_image_expand, .scheduler_default_tree_image_collapse {
        background: none;
    }

    .scheduler_default_shadow_inner {
        border: none;
        background: none;
    }

    .scheduler_default_rowheader.parent {
        cursor: default;
    }

    .scheduler_default_rowheader_inner_indent {
        pointer-events: none;
    }

    .progress-bar__status {
        display: none !important;
    }

    .progress-bar__wrapper {
        width: 83%;
        padding-left: 18%;
    }

    .title-label thx-img {
        display:none !important;
    }

    .scheduler_default_tree_image_expand {
        background:none !important;
    }
    .thf-group-content {
        min-height: 100%;
    }

    .search-size img {
        width: 90px;
        padding-top: 30px;
    }
}

.header-box {
    height:120px;
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

.header-title {
    font-size: 13px;
    letter-spacing: -0.56px;
    color: var(--color-blue-light-real);
}
.header-text
.header-sub-title, .header-count-title, .header-count-text {
    font-size: 13px;
    color: var(--color-blue-light-real);
}

.noresults {
    font-size: 14px;
    color:var(--color-gray-text);
    line-height: 1.29;
}

.header-sub-title {
    text-transform: uppercase;
}

.header-text {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
    color: var(--color-black-real);
}

.header-sub-title {
    font-size: 11px;
    color: var(--color-disabled);
}

.header-count-title {
    font-size: 12px;
    font-weight: 300;
    color: var(--color-gray-real);
}

.header-count-text {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-green);
}

.checkout {
    color: var(--color-purple-real);
}
.walkin, .busy, .avaiables {
    color: var(--color-blue-real);
}
.dayuse {
    color: var(--color-yellow-real);
}
.pendings {
    color: var(--color-red-real);
}

.header-side-percent, .header-side-title {
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    color: var(--color-white);
}

.header-side-title {
    opacity: 0.7;
    font-size: 13px;
    color: var(--color-white);
}

.header-side-box {
    border-radius: 6px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background-color: var(--color-blue-real);
    text-align: center;
    height:120px;
    width:207px;
}

.line-side {
    border-right: 1px solid #eaeaea;
    margin: 20px 0;
}

.no-border {
    border: none;
}

i.mdi {
    font: inherit;
    padding-left: 10px;

    &:before {
        content: '';
    }
}

.availability-warning {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
  padding: 0 45px;

  > .text {
    margin: 0;
    // TODO equipotel
    color: var(--color-blue-light-real);
    font-size: 14px;
    padding: 2px;
    background: white;

    > .link {
      // TODO equipotel
      color: var(--color-blue-light-real);
      text-decoration: underline;

      &:hover, &:focus {
        color: var(--color-blue-light-real);
      }
    }
  }
}
