<admin-group
  [title]="i18n.integrationPartner"
  [isOpen]="true">
  <div class="thx-group-header-actions">
    <thf-button
      [t-label]="i18n.associateIntegrationPartner"
      (t-click)="modal.open()"
    ></thf-button>
  </div>
  <admin-integration-partner-list
    [actions]="actions"
    [integrationPartners]="selectedIntegrationPartners"
  ></admin-integration-partner-list>
  <admin-integration-partner-form
    #modal
    [integrationPartners]="integrationPartners"
    [selectedIntegrationPartners]="selectedIntegrationPartners"
    (submitted)="handleSubmit($event)"
  ></admin-integration-partner-form>
</admin-group>
