.thx-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 -12px;
}

.thx-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 15px 12px;
  padding: 15px 30px 11px 20px;
  background-color: #ffffff;
  border-radius: 8px;
  width: 275px;
  height: 100px;
  box-shadow: 0 2px 8px rgba(var(--color-rgb-black), 0.08);

  &:hover {
    background: rgba(var(--color-rgb-black), 0.08);
  }
}

.cardHeader {
  display: flex;
  height: 58px;
}

.imgCard {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin-right: 15px;
}

.title {
  font-size: 14px;
  line-height: 16px;
}

.cardFooter {
  display: flex;
  margin-left: 45px;
  height: 16px;
  justify-content: space-between;
}

.borderCircleGray{
  border: 1px solid transparent;
  border-radius: 20px;
  background:  var(--color-grey-lighter);
  color: var(--color-grey-submarine);
  font-weight: bold;
  margin-right: 10px;
  padding: 2px 10px;
  font-size: 9px;
  height: 16px;
  line-height: 10px;
}

.tags {
  display: flex;
}

.timer {
  font-size: 9px;
}

.imgTimer {
  height: 0.6rem;
  width: 0.6rem;
}
