<div
  class="thx-cards"
>
  <div
    *ngFor="let card of cardList"
    class="thx-card"
    (click)="select(card)"
  >
    <div class="cardHeader">
      <img
        [src]="card?.imgCard | imgCdn"
        class="imgCard"
      />
      <div class="title">
        {{ card?.headerCard }}
      </div>
    </div>
    <div class="cardFooter">
      <div class="tags">
        <span class="borderCircleGray">
          {{ card?.tagLeft }}
        </span>
          <span class="borderCircleGray" *ngIf="card?.tagRight">
          {{ card?.tagRight }}
        </span>
      </div>
      <span class="timer">
        <img src="{{ 'schedule-gray.svg' | imgCdn}}" class="imgTimer">
        {{ card?.time }}
      </span>
    </div>
  </div>
</div>
