<div [formGroup]="parent">
  <label for="money"
         class="thf-u-no-margin thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
    {{ title | translate }}
  </label>
  <div class="thf-input-group-search-border">
    <span *ngIf="!readonly"
      class="thf-u-no-pointer-events thf-input-search-border--icon">
      <img src="{{'tarifa.svg' | imgCdn}}" alt="{{ 'reservationModule.commomData.rate' | translate }}"/>
    </span>
    <input
      id="money"
      currencyMask
      [options]="optionsCurrencyMask"
      formControlName="{{controlName}}"
      class="thf-input"
      placeholder="{{ placeholderText | translate}}"
      [readOnly]="readonly"/>
    <thx-error formControlName="{{controlName}}"></thx-error>
  </div>
</div>
