.input-money{
  display: flex;
  padding: 0;
  border: 1px solid var(--color-grey);
  background: var(--color-white);

  .symbol-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 72px;
    min-width: 72px;
    border-right: 1px solid var(--color-grey);
    color: var(--color-blue);
    padding: 0 8px;
    position: relative;


    .selection-container{
      position: absolute;
      border: 1px solid var(--color-grey);
      border-radius: 0 0 3px 3px;
      left: -1px;
      top: 42px;
      overflow: hidden;
      display: none;
      flex-direction: column;
      background: var(--color-white);
      z-index: 99999;


      .selection-item{
        width: 71px;
        height: 44px;
        min-height: 44px;
        border-bottom: 1px solid var(--color-grey);
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        color: var(--color-black);

        &.selected, &.selected{
          background-color: var(--color-blue);
          color: var(--color-white);

          .selection-item-description {
            color: var(--color-white);
          }
        }

        .selection-item-description{
          font-size: 8px;
        }
      }
    }

    &.open .selection-container{
      display: flex;
    }
  }

  .symbol-input{
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: inset 1px 1px 3px 3px var(--color-shadow-input);
    display: block;
    width: 100%;
    text-align: center;
  }
}
