<label [for]="inputId"
  class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine"
  [ngClass]="{'thf-input-label--required': _isRequired}">
  {{ (hasLabel ? labelText: 'billingAccountModule.commomData.value' ) | translate }}
  {{ (hasLabel ? '' : currentSelected?.value ) }}
</label>
<div
  [formGroup]="parent"
  class="thf-input-group thf-u-cursor--pointer thf-u-margin-top--1 input-money">
  <div
    id="open-el"
    class="symbol-container thf-u-font--bold"
    [ngClass]="{'open': isOpen, 'closed' : !isOpen }"
    (click)="toggle($event)">

    {{ currentSelected?.value }}
    <i class="mdi mdi-chevron-down"></i>

    <div class="selection-container">
      <div class="selection-item"
           *ngFor="let item of moneySymbolList"
           (click)="selectItem($event, item)"
           [ngClass]="{'selected': item?.key === currentSelected?.key }">
        <div class="selection-item-value thf-u-font--12">
          {{ item?.value }}
        </div>
        <div class="selection-item-description">
          {{ item?.description }}
        </div>
      </div>
    </div>
  </div>
  <input
    [id]="inputId"
    data-qa-id="value"
    class="symbol-input"
    [formControlName]="inputId"
    currencyMask
    [options]="optionsCurrencyMask"/>
</div>
