<div class="thf-group-content">
  <div class="thf-group-content-header">
    <div class="row">
      <div class="col">
        <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
        <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
          {{ 'clientModule.new.formHeader' | translate }}
        </span>
      </div>
    </div>
  </div>
  <div class="thf-group-content-body">
    <form [formGroup]="formDataGroup" novalidate>
      <div class="row">

        <div class="col-2">
          <label for="clientPersonType" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'clientModule.new.form.type' | translate }}</label>
          <div class="thf-input-group thf-u-margin-top--1">
            <div class="thf-input-select-group-icon-field">
              <select id="clientPersonType" class="thf-input thf-input-select" formControlName="personType">
                <option class="thf-input-select--option" value="N">{{ 'clientModule.new.personTypeOptions.one' | translate }}</option>
                <option class="thf-input-select--option" value="L">{{ 'clientModule.new.personTypeOptions.two' | translate }}</option>
              </select>
              <img src="{{'arrowdown-blue.min.svg' | imgCdn}}" alt="{{ 'commomData.images.arrowDownIcon' | translate }}" class="thf-input-select-icon thf-u-no-pointer-events">
            </div>
          </div>
        </div>

        <div class="col-5" *ngIf="isPersonTypeL">
          <label for="clientShortName" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'clientModule.new.form.shortName' | translate }}</label>
          <input id="clientShortName" class="thf-input thf-u-margin-top--1" type="text" formControlName="shortName">
        </div>
        <div class="col-3" *ngIf="isPersonTypeL">
          <label for="clientTradeName" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'clientModule.new.form.tradeName' | translate }}</label>
          <input id="clientTradeName" class="thf-input thf-u-margin-top--1" type="text" formControlName="tradeName">
        </div>

        <div class="col-4" *ngIf="!isPersonTypeL">
          <label for="clientTradeNameN" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'clientModule.new.form.clientName' | translate }}</label>
          <input id="clientTradeNameN" class="thf-input thf-u-margin-top--1" type="text" formControlName="tradeName">
        </div>
        <div class="col" *ngIf="!isPersonTypeL">
          <label for="phoneNumber" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'clientModule.new.form.phoneNumber' | translate }}</label>
          <input id="phoneNumber" class="thf-input thf-u-margin-top--1" type="text" formControlName="phoneNumber">
        </div>
        <div class="col" *ngIf="!isPersonTypeL">
          <label for="cellPhoneNumber" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'clientModule.new.form.cellPhoneNumber' | translate }}</label>
          <input id="cellPhoneNumber" class="thf-input thf-u-margin-top--1" type="text" formControlName="cellPhoneNumber">
        </div>

        <div class="col-1">
          <label for="checkStatus" class="thf-u-no-margin thf-u-margin-bottom--1 thf-input-label thf-u-block thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'clientModule.new.form.isActive' | translate }}</label>
          <input type="checkbox" class="thf-input-radio-button " id="checkStatus" formControlName="isActive">
          <label for="checkStatus" class="thf-u-margin-top--1"><span class="ui"></span></label>
        </div>

        <div class="w-100"></div>
        <div class="thf-u-margin-vertical--1"></div>

        <div class="col-2">
          <label for="propertyCompanyClientCategoryId" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'clientModule.new.form.category' | translate }}</label>
          <app-select
            [parent]="formDataGroup"
            [optionList]="categoryOptionList"
            [selectId]="'propertyCompanyClientCategoryId'"
            [hasFormGroup]="true">
          </app-select>
        </div>
        <div class="col-4">
          <label for="email" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'clientModule.new.form.email' | translate }}</label>
          <input id="email" class="thf-input thf-u-margin-top--1" type="text" formControlName="email" email>
        </div>
        <div class="col-4" >
          <label for="homePage" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'clientModule.new.form.homePage' | translate }}</label>
          <input id="homePage" class="thf-input thf-u-margin-top--1" type="text" formControlName="homePage">
        </div>
        <div class="col" >
          <label for="externalCode" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.code' | translate }}</label>
          <input id="externalCode" class="thf-input thf-u-margin-top--1" type="text" formControlName="externalCode">
        </div>
      </div>
    </form>
  </div>
</div>
