<div class="input-container" [ngClass]="getInputContainerClass()" >
  <div *ngIf="leftIcon" [ngClass]="{'left-icon': leftIcon}" >
    <thx-img  [src]="leftIcon" [fullSize]="true" ></thx-img>
  </div>
  <div *ngIf="rightIcon" [ngClass]="{'right-icon': rightIcon}" >
    <thx-img  [src]="rightIcon" [fullSize]="true" ></thx-img>
  </div>
  <span *ngIf="!leftIcon && prefix" class="prefix">{{ prefix }}</span>
  <span class="border border-left" ></span>
  <span class="border border-center in-focus" [ngClass]="{'in': isLabelTopMode && title, 'out': !isLabelTopMode }"  >
    <label [ngClass]="{'required': required}" >{{title}}</label>
  </span>
  <span class="border border-right" ></span>
</div>
