@import "./variables";

$top-position: 12px;
$bg-color-disabled: rgba($grey-color--20, 0.5);

label.required::after {
  content: '*';
}

.auto-height,
.auto-height > .border-left,
.auto-height > .border-center,
.auto-height > .border-right {
  height: 100%;
}

.default-height,
.default-height > .border-left,
.default-height > .border-center
.default-height > .border-right {
  height: $input-height;
}

.input-container.disabled {
  cursor: not-allowed;
}

.input-container.disabled .border-center,
.input-container.disabled .border-left,
.input-container.disabled .border-right {
  background-color: $bg-color-disabled;
  color: $grey-color--40;
}

.input-container {
  color: $grey-color--60;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  .border-left, .border-center, .border-right {
    border-color: $grey-color--20;
  }
  &.has-error {
    .border-left, .border-center, .border-right {
      border-color: $error-color;
      &.in {
        color: $error-color;
      }
    }
  }
  &.has-focus {
    .border-left, .border-center, .border-right {
      border-color: $primary-color--focused;
      &.in {
        color: $primary-color--focused;
      }
    }
  }
}

.input-container > span.border {
  display: inline-block;
  box-sizing: border-box;
}

.border-left {
  width: 4px;
  border-left: 1px;
  border-top: 1px;
  border-bottom:1px;
  border-right: 0;
  border-radius: 3px 0px 0px 3px;
  border-style: solid;
}

.border-center {
  border-left: 0;
  flex: 0 0 auto;
  border-top: 1px;
  border-bottom:1px;
  border-right: 0;
  border-radius: 0;
  border-style: solid;
  position: relative;
}

.border-center > label {
  position: relative;
  top: $top-position;
  padding: 0 3px;
}

.has-left-icon .border-center > label,
.has-prefix .border-center > label{
  left: 25px;
}

.border-right {
  border-left: 0;
  flex-grow: 1;
  border-top: 1px;
  border-bottom:1px;
  border-right: 1px;
  border-radius: 0 3px 3px 0;
  border-style: solid;
}
.in-focus.in {
  border-top: 0;
}

.in-focus > label {
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}

.in-focus.in > label {
  animation-name: focus-input-in;
}
.has-left-icon .in-focus.in > label,
.has-prefix .in-focus.in > label {
  animation-name: focus-input-in-left-icon;
}

.in-focus.out > label {
  animation-name: focus-input-out;
  animation-timing-function: ease-out;
}

.prefix {
  height: 14px;
  width: 14px;
  position: absolute;
  left: 7px;
  top: $top-position;
  font-size: $items-type-two-font-size;
}

.left-icon, .right-icon {
  height: 14px;
  width: 14px;
  position: absolute;
  top: $top-position;
  align-items: center;
  display: flex;
  justify-content: center;
}

.left-icon {
  left: 7px;
  z-index: 1;
}
.right-icon {
  right: 7px;
}

@keyframes focus-input-in-left-icon {
  0% {
    left: 30px;
    font-size: $items-type-two-font-size;
    line-height: $items-type-two-font-size;
    top: $top-position;
  }
  100% {
    left: 0;
    font-size: $font-small;
    line-height: $font-small;
    top: -11px;
  }
}
@keyframes focus-input-in {
  0% {
    font-size: $items-type-two-font-size;
    line-height: $items-type-two-font-size;
    top: $top-position;
  }

  100% {
    font-size: $font-small;
    line-height: $font-small;
    top: -11px;
  }

}

@keyframes focus-input-out {
  0% {
    font-size: $font-small;
    line-height: $font-small;
    top: -11px;

  }

  100% {
    font-size: $items-type-two-font-size;
    line-height: $items-type-two-font-size;
    top: $top-position;
  }

}
