<div class="row" *ngIf="selectedReservationBudgetList" >
  <div class="col">
    <ngx-datatable
      #myTable
      class='material material-padding-default datatable-overflow-body'
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="0"
      [rowHeight]="60"
      [scrollbarV]="true"
      [scrollbarH]="false"
      [trackByProp]="'day'"
      [rows]='selectedReservationBudgetList'>
      <!-- Column Templates -->
      <ngx-datatable-column [flexGrow]="2">
        <ng-template ngx-datatable-header-template>
          {{ 'label.date' | translate }}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="thf-u-font--14" [ngClass]="{'thf-u-color--orange': row.baseRateChanged}">{{row.budgetDay | amDateFormat:'L'}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="2">
        <ng-template ngx-datatable-header-template>
          {{ 'label.offerAmount' | translate }}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span class="thf-u-font--14" [ngClass]="{'thf-u-color--orange': row.baseRateChanged}">{{row?.agreementRate | currencyFormat: row?.currencySymbol }}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="2">
        <ng-template ngx-datatable-header-template>
          {{ 'label.chargedAmount' | translate }}
        </ng-template>
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <input type="text" currencyMask
                 [(ngModel)]="row.manualRate"
                 (ngModelChange)="manualRateChange(rowIndex)"
                 [ngClass]="{'thf-u-color--blue': row.manualRate != row.agreementRate,
                             'thf-u-no-pointer-events thf-u-background-color--grey-lighter thf-u-color-grey': isForFree || !isForFree && row.agreementRate === 0 || !canEditBudget(row) }"
                 [options]="optionsCurrencyMask"
                 [disabled]="!canEditBudget(row)"
                 class="thf-input-table thf-u-text-center input-charged-amount thf-u-type-number-reset">
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="2">
        <ng-template ngx-datatable-header-template>
          {{ 'label.discount' | translate }} (%)
        </ng-template>
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <input type="number" [(ngModel)]="row.discount"
                 [ngClass]="{'thf-u-color-grey thf-u-no-pointer-events thf-u-background-color--grey-lighter': isForFree || !isForFree && row.agreementRate === 0 || !canEditBudget(row)}"
                 (ngModelChange)="discountChange(rowIndex)"
                 class="thf-input-table thf-u-type-number-reset thf-u-text-center input-discount thf-u-type-number-reset"
                 [disabled]="!canEditBudget(row)"
          >
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [flexGrow]="2">
        <ng-template ngx-datatable-header-template>
          {{ 'label.pensionType' | translate }}
        </ng-template>
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <app-select
            [optionList]="mealPlanTypeSelectList"
            [selectId]="row.mealPlanTypeId"
            [(selectedOptionId)]="row.mealPlanTypeId"
            [hasMagin]="false"
            [inTable]="true"
            [dontChooseWhenset]="false"
            [disabled]="(!commercialBudgetSelectedItem && !isForFree) || !canEditBudget(row)"
            [choseOnlyOnClick]="true"
            (selectedOption)="updateMealPlanTypeIdSelected($event, rowIndex)">
          </app-select>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>

<app-modal-message-confirm [modalId]="MODAL_UPDATE_DAY_VALUE" [message]="'text.areYouShureupdateDayValue'"
                           (cancelClicked)="mantainSameValue()"
                           (confirmClicked)="updateValue()"
></app-modal-message-confirm>
