:host .thf-input.input-min {
  height: 33px;
  min-height: auto;
  padding-left: 40px;
}

:host .symbol-input-min-position {
  left: 10px;
  top: 6px;
}

:host app-modal-wrapper .thf-modal-body {
  padding-bottom: 0;
}

.data-header-container {
  position: relative;
  height: 40px;
  display: inline-block;
}

.input-header-label {
  color: var(--color-grey-submarine) !important;
  position: absolute;
  left: 0;
}

.property-rate-input-label {
  max-height: 44px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 -22px;
  width: 165px;
}

span.today-label {
  border-radius: 3px;
  width: 38px;
  display: inline-block;
}
