<app-modal-wrapper
  modalId="{{modalTitle}}"
  [title]="modalTitle"
  [maxWidth]="'420px'">
  <div class="thf-modal-body">
    <currency-exchange-form
      [currencies]="currencies"
      [currentQuotation]="currentQuotation"
      [currencyOptionList]="currencyOptionList"
      [defaultCurrency]="defaultCurrency"
      (cancel)="toggleModal()"
      (confirm)="createQuotation($event)">
    </currency-exchange-form>
  </div>
</app-modal-wrapper>

<app-header-page-new
  [enableBackButton]="true"
  [rightButtonList]="rightButtonList" >
  <header-title>{{'title.currencyExchange' | translate }}</header-title>
</app-header-page-new>

<div class="row justify-content-center">
  <div class="col-10">
    <app-group-content
      [hasButton]="true"
      [buttonConfigSetted]="buttonConfigToday"
      [title]="'currencyExchangeModule.commomData.quotationSearchByPeriod'" >

      <form [formGroup]="form">
        <div class="row thf-u-no-padding thf-u-padding-vertical--2">
          <div class="col-6">
            <label
              for="period"
              class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
              {{'currencyExchangeModule.commomData.periodSearch' | translate}}
            </label>
            <thx-date-range-picker id="period" formControlName="period" ></thx-date-range-picker>
          </div>
          <div class="col-2">
            <label
              class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
              {{'currencyExchangeModule.commomData.currencyProperty' | translate}}
            </label>
            <div class="thf-u-margin-top--2">{{defaultCurrency?.title}}</div>
          </div>
          <div class="col-2">
            <label
              for="othersCurrency"
              class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
              {{'currencyExchangeModule.commomData.quotationCurrency' | translate}}
            </label>
            <app-select
              id="othersCurrency"
              [parent]="form"
              [optionList]="currencyOptionList"
              [selectId]="'othersCurrency'"
              [hasFormGroup]="true"
              [hasBlankOption]="false">
            </app-select>
          </div>
          <div class="col-2">
            <app-button
              [buttonConfig]="buttonSearchConfig"></app-button>
          </div>
        </div>
      </form>
      <hr />
      <current-currency-exchange
        [currentQuotation]="currentQuotation"
        [currencyToCompare]="currencyToCompare">
      </current-currency-exchange>

      <thx-datatable
        [columns]='columns'
        [itens]="pageItemsList"
        [hasLastCell]="false"
      ></thx-datatable>

    </app-group-content>

</div>

<ng-template #exchangeRateCell let-row="row" ngx-datatable-cell-template>
    <span
      *ngIf="couldShow(row, 'exchangeRate')">
      {{ row.exchangeRate | currencyFormat:defaultSymbol }}
    </span>
</ng-template>


<ng-template #editComponent let-row="row" ngx-datatable-cell-template>
  <thx-input-label-edit-currency-format
    [symbol]="defaultSymbol"
    *ngIf="row?.canEdit; else valueDefault"
    [currencyFormatPipe]="currencyFormatPipe"
    (confirmValue)="confirmValue($event, row)"
    [initialValue]="row?.propertyExchangeRate">
  </thx-input-label-edit-currency-format>

  <ng-template #valueDefault>
    <span
      *ngIf="couldShow(row, 'propertyExchangeRate')"
      class="property-rate-input-label">
      {{ row.propertyExchangeRate | currencyFormat:defaultSymbol }}
    </span>
  </ng-template>
</ng-template>

<ng-template #todayLabel let-row="row" ngx-datatable-cell-template>
  <span
    *ngIf="row?.isToday"
    class="thf-u-background-color--blue-darker thf-u-color--white thf-u-font--11 today-label">
    {{ 'label.today' | translate }}
  </span>
</ng-template>

<ng-template
  #currencyHeaderTemplate
  let-column="column"
  ngx-datatable-header-template>
  <div class="data-header-container">
    <div>
      {{column.name | translate}}
    </div>
    <div
      class="thf-u-font--14 input-header-label">
      {{ currencyHeader | translate }}
    </div>
  </div>
</ng-template>
