@import "main";

:host {
  display: block;
  width: 100%;
  border-radius: $internal-box-radius;
  background-color: $white-color;
  padding: 0 $internal-box-size $internal-box-size;
}

.box-container{
  .header {
    height: $header-height;
    flex-wrap: nowrap;
  }
}
