<div class="box-container">
  <div class="header d-flex align-items-center">
    <thx-subtitle-v2
      [subtitle]="subtitle"
      [size]="headerFontSize">
    </thx-subtitle-v2>
    <ng-content select="[headerContent]"></ng-content>
  </div>
  <div>
    <ng-content select="[body]"></ng-content>
  </div>
  <div>
    <ng-content select="[footer]"></ng-content>
  </div>
</div>
