<div class="col-10 pt-3">
  <div class="pb-4">
    <thx-img
      [src]="'w-thex-pms.svg'"
      class="imgLogo"
    ></thx-img>
  </div>
  <div class="pb-4">
    <thx-img
      [src]="stepInfo?.imgStep"
      [fullImg]="true"
      class="imgStep"
    ></thx-img>
  </div>
  <div class="stepStage">{{'text.stage' | translate }} {{ stepInfo?.stepId }}</div>
  <h5 class="stepColor">{{ stepInfo?.titleStep | translate }}</h5>
  <div class="fontInfo">{{ stepInfo?.textExplain | translate }}</div>
  <hr>
  <div class="row didKnow thf-u-font--14">
    <div class="col-8">
      {{ 'text.didKnow' | translate }}
    </div>
    <div class="col alignLampImg">
      <thx-img
        [src]="'lamp.svg'"
        [fullImg]="true"
        class="imgLamp"
      ></thx-img>
    </div>
  </div>
  <p class="fontInfo">{{ stepInfo?.textAddition | translate }}</p>
  <div *ngIf="stepInfo?.videoStep">
    <span class="stepColor">{{ 'text.answerQuestion' | translate }}</span>
    <span class="fontVideo">{{ 'text.video' | translate }}</span>
  </div>
</div>
