.stepStage{
  color: var(--color-card-gradient-final);
  font-size: 14px;
  text-transform: uppercase;
}

.stepColor {
  color: #ffffff;
  padding-bottom: 14px;
}

.didKnow {
  color: var(--color-status--no-show);
  text-transform: uppercase;
  padding-top: 14px;
  align-items: center;
}

hr {
  border-top:1px dotted #ffffff;
}

.fontInfo {
  font-size: 13px;
  color: #ffffff;
  opacity: 0.5;
  padding-bottom: 10px;
  margin-top: -7px;
}

div {
  padding-bottom: 10px;
}

.fontVideo {
  color: var(--color-card-gradient-final);
}

.imgLogo {
  display: block;
  height: 34px;
  width: 113px;
}

.imgStep {
  max-width: 217px;
}

.imgLamp {
  width: 18px;
}

.alignLampImg {
  justify-items: end;
  display: grid;
}

