<div class="profile-permissions__wrapper">
  <h3 class="profile-permissions__title">{{'title.profilePermissions' | translate}}</h3>
  <div class="profile-permissions__content">
    <div class="user-profile">
      <h4 class="user-profile__title">{{'title.yourRoles' | translate}}</h4>
      <div class="user-profile__type-wrapper">
        <img src="{{permissionId | profileIcon | imgCdn}}" alt="{{permission}}" class="user-profile__image-type">
        <div class="user-profile__text">{{'label.yourProfileIs' | translate}}: <strong class="user-profile__type">{{permission}}</strong></div>
      </div>
    </div>
    <div class="profile-activities">
      <h4 class="profile-activities__title">{{'title.profileActivities' | translate}}</h4>
      <ul class="profile-activities__list">
        <li class="profile-activities__item"
            *ngFor="let item of permissionList">
          {{item.name}}
        </li>
      </ul>
    </div>
  </div>

</div>
