@import "main";
.profile-permissions {
  &__wrapper {
    width: 100%;
    height: 420px;
    background: $white-color;
    padding: 40px;
  }
  &__title {
    font-family: $font-family;
    line-height: normal;
    letter-spacing: 1.08px;
    color: $black-color;
    display: block;
    margin-bottom: 40px;
    font-size: 13px;
    text-transform: uppercase;
  }
  &__content {
    display: flex;
  }
}
.user-profile {
  border-right: solid 1px $grey-color--20;
  height: 280px;
  &__type-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 90px 0 40px;
  }
  &__title {
    opacity: 0.5;
    font-family: $font-family;
    font-style: normal;
    color: $grey-color--60;
    font-size: 16px;
    display: block;
    margin-bottom: 50px;
  }
  &__text {
    opacity: 0.5;
    font-family: $font-family;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $grey-color--60;
    text-transform: uppercase;
    font-size: 12px;
  }
  &__image-type {
    width: 100px;
    height: 100px;
    background-color: $bg-color--light;
    border-radius: 50%;
    display: block;
    margin-bottom: 10px;
  }
  &__type {
    font-family: $font-family;
    font-size: 18px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $primary-color;
    display: block;
    text-transform: none;
    margin-top: 5px;
  }
}
.profile-activities {
  padding-left: 40px;
  flex-grow: 1;
  &__title {
    opacity: 0.5;
    font-family: $font-family;
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    color: $grey-color--60;
    display: block;
    margin-bottom: 30px;
  }
  &__list {
    max-width: 615px;
    height: 226px;
    border-radius: 3px;
    border: solid 1px $grey-color--20;
    overflow-y: scroll;
    padding-left: 0;
  }
  &__item {
    font-family: $font-family;
    font-size: 14px;
    color: $grey-color--70;
    padding: 12px 14px;
    list-style: none;
    &:nth-of-type(even) {
      background-color: $grey-color--10;
    }
  }
}
