<div class="thf-modal-body">
  <div class="row">
    <div class="col-10">
      {{ confirmModalDataConfig?.textConfirmModal | translate }}
    </div>
  </div>
  <div class="row thf-u-margin-top--1">
    <div class="col-10 thf-u-color--red">
      {{ confirmModalDataConfig?.alertTextToConfirmModal | translate }}
    </div>
  </div>
  <div *ngIf="confirmModalDataConfig?.dates" class="row thf-u-margin-top--2">
    <div class="col-10 thf-u-color--red">
      {{ confirmModalDataConfig?.alertSecondParagraph | translate: {
      date: confirmModalDataConfig?.dates}
       }}
    </div>
  </div>
</div>
<div class="thf-modal-footer">
  <div class="row justify-content-end thf-u-margin-top--2">
    <div class="col-4">
      <app-button [buttonConfig]="confirmModalDataConfig?.actionCancelButton"></app-button>
    </div>
    <div class="col-4">
      <app-button [buttonConfig]="confirmModalDataConfig?.actionConfirmButton"></app-button>
    </div>
  </div>
</div>
