<app-modal-wrapper
  [modalId]="MODAL_ASSOCIATE"
  [title]="'entryTypeModule.tax.createEdit.header.buttonText'"
  (closeModal)="toggleModal()">
  <form [formGroup]="billingItemTaxServiceAssociateForm">
    <div class="thf-modal-body">
      <div class="row">
        <div class="col-8">
          <label for="description" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'entryTypeModule.tax.createEdit.modalServiceAssociate.description' | translate }}
          </label>
          <app-select [parent]="billingItemTaxServiceAssociateForm.get('selectValueService')" [optionList]="serviceAssociateOptionList"
            [selectId]="'serviceAssociate'" [isUppercase]="false" [hasFormGroup]="true">
          </app-select>
        </div>
        <div class="col-2">
          <label for="isActive" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'entryTypeModule.tax.createEdit.table.isActive' | translate }}
          </label>
          <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
            <input id="isActive" type="checkbox" formControlName="isActive" class="thf-input-radio-button" />
            <label class="thf-u-vertical-align-super" for="isActive">
              <span class="ui"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="thf-u-margin-top--2"></div>

      <div class="row">
        <div class="col-3">
          <label for="taxPercentage" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'entryTypeModule.tax.createEdit.table.rat' | translate }}</label>
          <input class="thf-input thf-u-margin-top--1" type="text" formControlName="taxPercentage" currencyMask placeholder="0.00 %">
        </div>
        <div class="col-4">
          <label for="beginDate" class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
            {{ 'label.validityBegin' | translate }}
          </label>
          <thx-datepicker formControlName="beginDate" id="beginDate" [minDateToday]="true"></thx-datepicker>
        </div>
        <div class="col-4">
          <label for="endDate" class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
            {{ 'label.validityEnd' | translate }}
          </label>
          <thx-datepicker formControlName="endDate" id="endDate" [minDateToday]="true"></thx-datepicker>
        </div>
      </div>
      <span class="thf-u-color--red thf-u-font--12" *ngIf="billingItemTaxServiceAssociateForm.hasError('hasServiceInPeriod')">
        {{ billingItemTaxServiceAssociateForm.getError('hasServiceInPeriod') }}
      </span>
    </div>

    <div class="thf-modal-footer">
      <div class="row justify-content-end thf-u-margin-top--2">
        <div class="col-4">
          <app-button [buttonConfig]="buttonCancelModalConfig"></app-button>
        </div>
        <div class="col-4">
          <app-button [buttonConfig]="buttonSaveModalConfig"></app-button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>

<app-header-page-new>
  <header-title>{{ pageTitle | translate }}</header-title>
</app-header-page-new>

<div class="row justify-content-center">
  <div class="col-11">
    <app-group-content [title]="'entryTypeModule.tax.createEdit.contentTitle'">
      <div class="row">
        <div class="col">
          <form [formGroup]="billingItemTaxForm">
            <div class="row">
              <div class="col-5">
                <label for="description" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'entryTypeModule.tax.createEdit.form.description' | translate }}
                </label>
                <input id="description" formControlName="description" class="thf-input thf-u-margin-top--1" type="text" [ngClass]="{'thf-input-error': !billingItemTaxForm.get('description').valid && billingItemTaxForm.get('description').dirty}"
                />
              </div>
              <div class="col">
                <label for="group" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'entryTypeModule.service.createEdit.data.form.group' | translate }}
                </label>
                <app-select [selectId]="'group'" [parent]="billingItemTaxForm" [optionList]="groupList" [hasFormGroup]="true">
                </app-select>
              </div>
              <div class="col">
                <label for="integrationCode" class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'label.code' | translate }}
                </label>
                <input id="integrationCode" formControlName="integrationCode" class="thf-input thf-u-margin-top--1" type="text" />
              </div>
              <div class="col-2">
                <label for="isActiveBillingTax" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'entryTypeModule.tax.createEdit.form.isActive' | translate }}
                </label>
                <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
                  <input id="isActiveBillingTax" type="checkbox" formControlName="isActive" class="thf-input-radio-button"/>
                  <label class="thf-u-vertical-align-super" for="isActiveBillingTax">
                    <span class="ui"></span>
                  </label>
                </div>
              </div>
            </div>
          </form>

        </div>
      </div>
    </app-group-content>

    <div class="thf-u-margin-top--2"></div>

    <app-group-content [hasButton]="true" [buttonConfigSetted]="buttonImplementConfig" [title]="'entryTypeModule.tax.createEdit.header.associateServices'">
      <div class="row">
        <div class="col">

          <thx-datatable
            *ngIf="taxServiceAssociateList && taxServiceAssociateList.length > 0; else showEmptyComponent"
            [columns]='columns'
            [itens]="taxServiceAssociateList"
            statusIdentifier='id'
            [itemsOption]="itemsOption"
            (statusChanged)="updateStatusServiceAssociated($event)"
          ></thx-datatable>

          <ng-template #rowDate  let-value="value"   ngx-datatable-cell-template>
              {{ value | amDateFormat: 'L'}}
          </ng-template>
          <ng-template #rowPercent  let-value="value"   ngx-datatable-cell-template>
              {{ value }} %
          </ng-template>
          <ng-template #showEmptyComponent>
              <app-empty-content-wrapper>
                <content-title>{{'entryTypeModule.tax.createEdit.table.emptyContent.title' | translate}}</content-title>
                <content-description>
                  {{'entryTypeModule.tax.createEdit.table.emptyContent.text' | translate}}
                  <a class="thf-link" href="javascript:void(0)" (click)="toggleModal()">
                    {{'clientModule.edit.contacts.thereAreNoContacts.link' | translate}}
                  </a>
                </content-description>
              </app-empty-content-wrapper>
            </ng-template>

        </div>
      </div>
    </app-group-content>

    <div class="row justify-content-end thf-u-margin-top--2">
      <div class="col-2">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-2">
        <app-button [buttonConfig]="buttonSaveConfig"></app-button>
      </div>
    </div>
  </div>
</div>
