<div class="thf-input-group-search">
  <input #searchInput
         type="text"
         data-qa-id="search"
         class="thf-input thf-input-search thf-u-font--14"
         placeholder="{{ placeholder  | translate }}"
         title="{{ placeholder  | translate }}"
         [(ngModel)]="value">

  <span class="thf-input-search--icon">
    <img src="{{'search.PNG' | imgCdn}}" alt="search"/>
  </span>

</div>
