@import "../thx-input-base/input-base";
:host {
  position: relative;
  display: block;

  ::ng-deep{
    my-date-picker, .mydp {
      position: absolute;
      border: none;
      display: block;
      margin: 0;
      width: 100%;
      top: 0;
      background-color: transparent;
    }
    .mydp {
      .selectiongroup {
        background-color: transparent;

        .btnpicker {
          background-color: transparent;
          color: $primary-color;

          &:hover {
            background-color: $grey-color--30;
          }
        }
      }
      input {
        height: $input-height;
        padding: 0 7px;
        &.selection {
          text-align: left;
          background-color: transparent;
        }
      }
    }
  }
}
