<div class="row">
  <div class="col text-right">
    <div>
      <label
        class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--required thf-u-font--bold thf-input-label--grey-submarine">
        {{ 'label.actualBudget' | translate }}
      </label>
    </div>
    <div class="thf-u-font--20 thf-u-color--blue">
      <img class="thf-u-vertical-align--sub"
           src="{{'tarifa.svg' | imgCdn}}"
           alt="{{ 'reservationModule.commomData.rate' | translate }}"/>
      <span class="thf-u-padding-left--1">
        {{ budgetCompareConfig?.actualBudget | currencyFormat: budgetCompareConfig.actualCurrencySymbol}}
      </span>
    </div>
  </div>
  <div class="col text-left thf-u-border-left--1">
    <div>
      <label
        class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--required thf-u-font--bold thf-input-label--grey-submarine">
        {{ 'label.newBudget' | translate }}
      </label>
    </div>
    <div class="thf-u-font--20"
         [ngClass]="{
            'thf-u-color--orange': budgetCompareConfig?.actualBudget != budgetCompareConfig?.newBudget,
            'thf-u-color--blue': budgetCompareConfig?.actualBudget == budgetCompareConfig?.newBudget
         }">
      {{ budgetCompareConfig?.newBudget | currencyFormat: budgetCompareConfig.newCurrencySymbol }}
    </div>
  </div>
</div>
