<app-modal-wrapper
    [modalId]="modalId"
    [title]="modalTitle">
    <form [formGroup]="formModalAssociateFlag" class="thf-u-padding--1">
        <div class="thf-modal-body">
            <div class="row">
                <div class="col-5">
                    <label for="plasticBrandPropertyId" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                        {{ 'paymentTypeModule.commomData.flag' | translate }}
                    </label>
                    <app-select
                        [selectId]="'plasticBrandPropertyId'"
                        [parent]="formModalAssociateFlag.get('plasticBrandProperty')"
                        [optionList]="brandList"
                        [hasFormGroup]="true">
                    </app-select>
                </div>
                <div class="col-3">
                    <label for="isActive" class="thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                        {{ 'paymentTypeModule.commomData.active' | translate }}
                    </label>
                    <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
                        <input type="checkbox" formControlName="isActive" class="thf-input-radio-button" [id]="formModalAssociateFlag.get('isActive')"
                        />
                        <label class="thf-u-vertical-align-super" [attr.for]="formModalAssociateFlag.get('isActive')">
                            <span class="ui"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row thf-u-margin-top--2">
                <div class="col">
                    <label for="commissionPct" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                        {{ 'paymentTypeModule.commomData.commission' | translate }}
                    </label>
                    <input class="thf-input thf-u-margin-top--1 thf-u-type-number-reset" type="number" id="commissionPct" formControlName="commissionPct" placeholder="{{ 'paymentTypeModule.commomData.commission' | translate }}" />
                </div>
                <div class="col">
                    <label for="paymentDeadline" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                        {{ 'paymentTypeModule.commomData.receiptDeadline' | translate }} ({{'commomData.days' | translate}})
                    </label>
                    <input class="thf-input thf-u-margin-top--1 thf-u-type-number-reset" id="paymentDeadline" type="number" formControlName="paymentDeadline" placeholder="{{'paymentTypeModule.commomData.daysNumber' | translate}}" />
                </div>
            </div>
        </div>
        <div class="thf-modal-footer">
            <div class="row justify-content-end">
                <div class="col-sm-4 col-md-3">
                    <app-button [buttonConfig]="buttonCancelConfig"></app-button>
                </div>
                <div class="col-sm-4 col-md-3">
                    <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
                </div>
            </div>
        </div>
    </form>
</app-modal-wrapper>

<app-group-content [hasButton]="true" [buttonConfigSetted]="buttonAssociateFlag" [title]="'paymentTypeModule.commomData.subTitleTwo'">
    <div class="row" [ngClass]="{'thf-u-disable-cursor': isDisabled}">
        <div class="col" [ngClass]="{'thf-u-no-pointer-events': isDisabled}">
            <div class="thf-u-margin-top--2">
                <ngx-datatable class='material material-padding-default'
                    [columnMode]="'force'"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [limit]="10"
                    [rows]='rowList'>
                    <ngx-datatable-column
                        [resizeable]="false"
                        [sortable]="false"
                        [draggable]="false"
                        [canAutoResize]="false"
                        [width]="90">
                        <ng-template ngx-datatable-header-template>
                            {{ 'paymentTypeModule.commomData.active' | translate }}
                        </ng-template>
                        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                            <input type="checkbox" [checked]="row.isActive" class="thf-input-radio-button"
                                [id]="rowIndex"/>
                            <label class="thf-u-vertical-align-super" for="{{rowIndex}}">
                                <span class="ui"></span>
                            </label>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            {{ 'paymentTypeModule.commomData.flag' | translate }}
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.plasticBrandPropertyName}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            {{ 'paymentTypeModule.commomData.commission' | translate }}
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.billingItemPaymentTypeDetailConditionList[0].commissionPct}}%
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                        <ng-template ngx-datatable-header-template>
                            {{ 'paymentTypeModule.commomData.receiptDeadline' | translate }}
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.billingItemPaymentTypeDetailConditionList[0].paymentDeadline}} {{'commomData.days' | translate}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="50" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false" [cellClass]="'thf-u-no-padding'">
                        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                            <app-submenu-options [items]="itemsOption"
                                                 (itemWasAction)="rowAction($event, row, rowIndex)"></app-submenu-options>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</app-group-content>
