<div *ngIf="!autocompleteWithSelect" class="thf-autocomplete" [ngClass]="{'thf-u-margin-top--1': hasMarginTop}">
  <div class="thf-input-group-search-border">
    <span class="thf-input-search-border--icon" *ngIf="autocompleteDisplayEnum == referenceToAutocompleteDisplayEnum.WithIcon">
      <img src="{{'search.PNG' | imgCdn}}" alt="search" />
    </span>
    <input #autofocus id="{{inputId}}" autocomplete="off" class="thf-input" type="text" placeholder="{{autocompletePlaceholder | translate}}"
      [(ngModel)]="autocompleteData" (ngModelChange)="showAutocompleItemsAndFireEvent($event)" />
  </div>

  <div class="thf-autocomplete-area-items thf-u-z-index--100" [ngClass]="{'thf-u-block': showItems}" aria-hidden="true">
    <ul class="thf-autocomplete-items thf-u-no-padding" *ngIf="autocompleItems && autocompleItems.length > 0; else elseItemListBlock">
      <li class="thf-input-select--option" *ngFor="let item of autocompleItems" (click)="chooseItem(item, $event.target.textContent)">
        <div [ngSwitch]="autocompleteTypeEnum">
          <div *ngSwitchCase="referenceToAutocompleteTypeEnum.Client">
            <div>
              <span class="thf-u-font--bold">{{item.document}}</span> -
              <span [innerHTML]="item.tradeName | markTextInBlack:autocompleteData"></span>
            </div>
            <div class="thf-u-font--normal" [innerHTML]="item.shortName | markTextInBlack:autocompleteData"></div>
          </div>
          <div *ngSwitchCase="referenceToAutocompleteTypeEnum.Email">
            <div (click)="$event.stopPropagation()">{{item.name}}</div>
            <div class="thf-u-font--normal thf-u-font--13" *ngFor="let contact of item.contactInformation" [innerHTML]="contact.value | markTextInBlack:autocompleteData"></div>
          </div>
          <div *ngSwitchCase="referenceToAutocompleteTypeEnum.ClientContact">
            <div class="thf-u-font--normal" [innerHTML]="item.name | markTextInBlack:autocompleteData"></div>
          </div>
          <div *ngSwitchCase="referenceToAutocompleteTypeEnum.ClientContact">
            <div class="thf-u-font--normal" [innerHTML]="item.name | markTextInBlack:autocompleteData"></div>
          </div>
          <div *ngSwitchCase="referenceToAutocompleteTypeEnum.BillingItemService">
            <div>
              <span class="thf-tag thf-u-background-color--blue thf-u-font--12">{{item.billingItemCategoryName}}</span>
              <span class="thf-u-font--normal">&nbsp;{{item.name}}</span>
            </div>
          </div>
          <div *ngSwitchCase="referenceToAutocompleteTypeEnum.GuestDocument">
            <div>{{item.name}}</div>
            <div class=" row no-gutters thf-u-font--normal">
              <span class="col-6" [innerHTML]="item.document | markTextInBlack:autocompleteData"></span>
              <span class="col-4 thf-u-text-right">{{item.documentType}}</span>
            </div>
          </div>
          <div *ngSwitchDefault>
            <div class="thf-u-font--normal" [innerHTML]="item | markTextInBlack:autocompleteData"></div>
          </div>
        </div>
      </li>
    </ul>
    <ng-template #elseItemListBlock>
      <ul class="thf-autocomplete-items thf-u-no-padding">
        <li *ngIf="emptyMessage" class="thf-input-select--option thf-u-font--bold">{{ emptyMessage | translate }}</li>
        <li *ngIf="!emptyMessage" class="thf-input-select--option thf-u-font--bold">{{'commomData.no' | translate }} {{ 'commomData.found' | translate }}</li>
      </ul>
    </ng-template>
  </div>
</div>

<div *ngIf="autocompleteWithSelect" class="thf-autocomplete" [ngClass]="{'thf-u-margin-top--1': hasMarginTop}">
  <div class="thf-input-group">
    <label class="thf-input-icon thf-input-icon--left thf-u-no-pointer-events thf-u-z-index--1" *ngIf="autocompleteDisplayEnum == referenceToAutocompleteDisplayEnum.WithIcon">
      <img src="{{'search.PNG' | imgCdn}}" alt="search" />
    </label>

    <input id="{{inputId}}" #autofocus autocomplete="off" class="thf-input thf-input-with-dropdown" type="text" placeholder="{{autocompletePlaceholder | translate}}"
      [(ngModel)]="autocompleteData" (ngModelChange)="showAutocompleItemsAndFireEvent($event)" />

    <select [(ngModel)]="selectedOption" (ngModelChange)="chooseOptionSelect($event)" class="thf-input thf-u-font--14 thf-input-select thf-input-select-with-dropdown thf-u-font-uppercase thf-u-padding-left--1 thf-u-color--blue thf-u-font--semibold">
      <option *ngIf="!autocompleteItemsSelect || autocompleteItemsSelect.length == 0" value="" selected>
        {{ 'commomData.no' | translate }} {{ 'commomData.document' | translate}} {{ 'commomData.found' | translate }}
      </option>
      <option *ngFor="let item of autocompleteItemsSelect" class="thf-u-font-uppercase" [ngValue]="item">{{item?.name}}</option>
    </select>
  </div>

  <div class="thf-autocomplete-area-items thf-u-z-index--100" [ngClass]="{'thf-u-block': showItems}" aria-hidden="true">
    <ul class="thf-autocomplete-items thf-u-no-padding" *ngIf="autocompleItems && autocompleItems.length > 0; else elseItemsBlock">
      <li class="thf-input-select--option" *ngFor="let item of autocompleItems | filterlist:autocompleteData:paramsFilter" (click)="chooseItem(item, $event.target.textContent)">
        <div [ngSwitch]="autocompleteTypeEnum">
          <div *ngSwitchCase="referenceToAutocompleteTypeEnum.GuestDocument">
            <div>{{item.name}}</div>
            <div class=" row no-gutters thf-u-font--normal">
              <span class="col-6" [innerHTML]="item.document | markTextInBlack:autocompleteData"></span>
              <span class="col-4 thf-u-text-right">{{item.documentType}}</span>
            </div>
          </div>
          <div *ngSwitchDefault>
            <div class="thf-u-font--normal">{{item}}</div>
          </div>
        </div>
      </li>
    </ul>
    <ng-template #elseItemsBlock>
      <ul class="thf-autocomplete-items thf-u-no-padding">
        <li class="thf-input-select--option thf-u-font--bold" *ngIf="selectedOption">{{ 'commomData.no' | translate }} {{selectedOption.name}} {{ 'commomData.found' | translate }}</li>
      </ul>
    </ng-template>
  </div>
</div>
