<div class="thf-select-options thf-u-pull--right thf-u-width-height--100" [ngClass]="{'thf-u-reset-max-sizes': fullWidth}" >
  <button class="thf-select-options-button thf-u-animation–4-seconds thf-u-width-height--100" data-qa-id="options">
    <span class="thf-select-options-button--svg" [ngClass]="{'thf-u-width-flex': fullWidth}" ></span>
  </button>
  <ul class="thf-select-options--list  thf-u-z-index--1000 thf-u-animation–4-seconds fixed-options">
    <li class="thf-u-animation–4-seconds" *ngFor="let item of items" [class]="item.elementClass" (click)="onItemWasAction($event, item)">
      {{ item.title | translate }}
    </li>
  </ul>
</div>
