<div
  class="how-to-page"
  *ngIf="article$ | async as article"
>
  <div
    class="header"
    [ngStyle]="{'background': article.categoryColor}"
  >
    <div class="header-container page-width centralizer">
      <div class="icon-holder">
        <img
          class="icon"
          alt=""
          [src]="article.categoryImage | imgCdn"
        />
      </div>
      <div class="header-info-holder">
        <p class="category">{{article.category | translate}}</p>
        <h1 class="title">{{article.title}}</h1>
      </div>
    </div>
  </div>
  <div class="climber page-width centralizer">
    <div class="subheader card">
      <span class="time">
        <img
          alt=""
          class="time-icon"
          [src]="'schedule-gray.svg' | imgCdn"
        />
        {{article.time}} min
      </span>
      <div class="divider"></div>
      <span
        class="tag"
        *ngFor="let tag of article.tags"
      >{{tag}}</span>
    </div>
    <div class="content-container card">
      <div
        class="video content-width"
        *ngIf="article.videoUrl"
      >
        <thx-video
          height="432"
          width="768"
          [src]="article.videoUrl"
        ></thx-video>
      </div>
      <div
        class="inner-html content-width"
        [innerHTML]="article.description"
      ></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-container page-width centralizer">
      <a
        class="link-back link"
        [routerLink]="['/p', propertyId, 'how-to']"
      >
        <img
          alt=""
          class="back-icon"
          [src]="'left-arrow-gray.svg' | imgCdn"
        />
        {{'action.back' | translate}}
      </a>

      <a
        *ngIf="article.tdnUrl"
        target="_blank"
        class="link-know-more link"
        [href]="article.tdnUrl"
      >{{'action.knowMore' | translate}}</a>
    </div>
  </div>
</div>
