.video {
  margin-bottom: 32px;
}

.inner-html {}

.page-width {
  width: 900px;
}

.content-width {
  width: 768px;
}

.centralizer {
  margin-right: auto;
  margin-left: auto;
}

.card {
  border: none;
  border-radius: 5px;
  box-shadow: 2px 0 8px 0 rgba(var(--color-rgb-black), .12);
  padding: 20px;
}

.link, .link:hover, .link:visited, .link:active, .link:focus {
  text-decoration: none;
}

.how-to-page {
  background: var(--color-grey-lighter);
  margin: 0 -15px;
  padding-bottom: 90px;
  position: relative;
}

.header {
  height: 155px;
  width: 100%;
}

.header-container {
  display: flex;
  padding-top: 24px;
}

.icon-holder {
  width: 72px;
  height: 72px;
  border-radius: 72px;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-info-holder {
  margin-left: 28px;
}

.category {
  font-size: 12px;
  text-transform: uppercase;
  height: 16px;
  line-height: 16px;
  margin: 0 0 2px 0;
  color: var(--color-white);
}

.title {
  font-size: 28px;
  color: var(--color-white);
  height: 38px;
  line-height: 38px;
  margin: 0;
}

.subheader {
  align-items: center;
  background: var(--color-white);
  display: flex;
  flex-flow: row;
  height: 70px;
  margin: 0 0 20px 0;
  width: 100%;
}

.time {
  color: var(--color-grey-submarine);
  font-size: 12px;
  height: 16px;
  line-height: 16px;
}

.time-icon {
  height: 10px;
  width: 10px;
}

.divider {
  background: rgba(var(--color-rgb-grey-submarine), 0.2);
  height: 29px;
  width: 1px;
  margin: 0 14px;
}

.tag {
  background: var(--color-blue-lighter);
  border-radius: 9px;
  color: var(--color-blue-deep);
  font-size: 10px;
  font-weight: bold;
  height: 18px;
  margin-right: 10px;
  line-height: 18px;
  padding: 0 10px;
}

.footer {
  background: rgba(255, 255, 255, .9);
  bottom: 0;
  height: 70px;
  position: fixed;
  width: calc(100% - 50px);
  z-index: 10;
}

.footer-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.link-back {
  align-items: center;
  display: flex;
  color: var(--color-grey-submarine);
  font-size: 12px;
  height: 28px;
  line-height: 28px;
}

.back-icon {
  height: 12px;
  width: 12px;
  margin: 0 12px 0 0;
}

.link-know-more {
  border: 1px solid var(--color-card-gradient-final);
  border-radius: 14px;
  color: var(--color-card-gradient-final);
  font-size: 12px;
  justify-content: center;
  height: 28px;
  line-height: 14px;
  padding: 6px 23px;
}

.climber {
  margin-top: -35px;
}

.content-container {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 30px 20px;
}
