@import "./variables";

:host {
  display: block;

  .sidebar {
    width: 100%;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;

    .sidebar-item {
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      &:hover {
        background-color: rgba($grey-color--15, .6);
      }
      &.active {
        background-color: $grey-color--15;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $grey-color--15;
      }

      .reservation-code {
        font-weight: $font-weight-light;
      }

      .attention-icon {
        margin-left: 12px;
      }

      .icon {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-right: 10px;
      }

      .icon-container {
        display: flex;
        text-align: right;
        justify-content: flex-end;

        > div:first-child {
          margin-right: 10px;
        }

        > div {
          align-items: center;
        }
      }
      .bottom-space {
        margin-bottom: 14px;
      }

    }
  }
}
