<div class="sidebar thex-font-family">
  <div class="sidebar-item" (click)="activateItem(item)"  *ngFor="let item of externalRoomlistItemList"
       [ngClass]="{'active': roomListService.getActivatedItem() == item}" >
    <div>
      <div class="thex-font-size-body-big thex-color-grey-70 bottom-space">
        {{ (item?.roomNumber || '') + ' ' + item?.roomTypeAbbreviation | uppercase }}
      </div>
      <div class="d-flex">
        <span class="thex-font-size-items-two reservation-code">
          {{ item?.reservationItemCode }}
        </span>
        <span class="icon attention-icon" *ngIf="!item?.isValid">
          <thx-img src="alert-master-details.svg" [fullSize]="true"></thx-img>
        </span>
      </div>
    </div>
    <div>
      <div class="thex-font-size-items-two bottom-space" >{{getPeriod(item)}}</div>
      <div class="thex-font-size-items-two icon-container" >
        <div class="d-flex">
          <span class="icon">
            <thx-img src="adult-icon.svg" [fullSize]="true"></thx-img>
          </span>
          <span class="thex-font-family" >{{ item?.adultCount | pad: 2 }}</span>
        </div>
        <div class="d-flex">
          <span class="icon">
            <thx-img src="child_icon.svg" [fullSize]="true"></thx-img>
          </span>
          <span class="thex-font-family" >{{ ((item?.childCount || '--') | pad: 2 ) || '--' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
