<app-modal-wrapper
  modalId="newDocument"
  [title]="modalTitle">

  <form [formGroup]="formDataGroup" (submit)="saveDataDocument(formDataGroup)">

    <div class="thf-modal-body">
      <div class="row">
        <div class="col">
          <label for="documentTypeId"
                 class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'clientModule.edit.documents.columns.documentType' | translate}}
          </label>
          <app-select
            [parent]="formDataGroup"
            [optionList]="optionsDocList"
            [selectId]="'documentTypeId'"
            [isUppercase]="true"
            [hasFormGroup]="true">
          </app-select>
        </div>
        <div class="col">
          <label for="documentInformation"
                 class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'clientModule.edit.documents.columns.document' | translate}}
            <strong>{{ formDataGroup.get('documentTypeName').value | uppercase }}</strong>
          </label>
          <input
            id="documentInformation"
            class="thf-input thf-u-margin-top--1"
            type="text"
            formControlName="documentInformation"
            (keyup)="maskDocument($event)"/>
          <thx-error formControlName="documentInformation"></thx-error>
        </div>
      </div>
    </div>

    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <button type="button" (click)="toggleModal()" class="thf-btn thf-btn-secondary">
            {{ 'commomData.cancel' | translate }}
          </button>
        </div>
        <div class="col">
          <button data-qa-id="btnsavedocument" type="submit" [disabled]="!formDataGroup.valid"
                  class="thf-btn thf-btn-primary">
            {{ 'commomData.confirm' | translate }}
          </button>
        </div>
      </div>
    </div>

  </form>
</app-modal-wrapper>

<app-modal-wrapper
  modalId="removeDocument"
  [title]="'clientModule.edit.documents.delete'">

  <div class="thf-modal-body">
    <div class="row">
      <div class="col">
        <p class="thf-u-font--14 thf-u-text-center">{{ 'clientModule.edit.documents.confirmDelete' | translate }}</p>
        <p class="thf-u-font--14 thf-u-font--bold thf-u-text-center">
          {{ itemToRemove?.documentTypeName + ' - ' + itemToRemove?.documentInformation }}
        </p>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <button (click)="toggleRemoveItem()" class="thf-btn thf-btn-secondary">
          {{ 'commomData.not' | translate }}
        </button>
      </div>
      <div class="col">
        <button data-qa-id="removeDocument" (click)="removeItem()" class="thf-btn thf-btn-primary">
          {{ 'commomData.yes' | translate }}
        </button>
      </div>
    </div>
  </div>

</app-modal-wrapper>

<div class="thf-group-content">
  <div class="thf-group-content-header">
    <div class="row">
      <div class="col-10">
        <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
        <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14"
        [ngClass]="{'thf-input-label--required': isRequired}">
          {{ 'clientModule.edit.documents.title' | translate }}
        </span>
      </div>
      <div class="col-2">
        <button type="button" name="button" class="thf-btn thf-btn--sm thf-btn-secondary"
                (click)="toggleModal()">{{ 'action.lbNew' | translate: {labelName: 'label.document' | translate | lowercase} }}
        </button>
      </div>
    </div>
  </div>
  <div class="thf-group-content-body">
    <div class="row">
      <div class="col-12">

        <thx-datatable
          [columns]='columns'
          [itens]="documentsList"
          [itemsOption]="itemsOption"
          (rowItemClicked)="goToEdit($event)"          
          [emptyMessage]="'variable.emptyContentM.title' | translate: {labelName: 'label.document' | translate | lowercase }"
          [emptyMessageContent]="'variable.emptyContentM.textDescription' | translate: {labelName: 'label.document' | translate | lowercase }"
          (emptyLinkClicked)="toggleModal()"
        ></thx-datatable>
      </div>
    </div>
  </div>
</div>
