<admin-group
  isOpen="true"
  [title]="i18n.group.address"
>
  <div class="thx-group-header-actions button-group">
    <ng-content></ng-content>
    <thf-button
      class="thf-ml-1"
      [t-label]="i18n.action.insertAddress"
      (t-click)="openCreateAddressModal()"
    ></thf-button>
  </div>
  <thf-table
    [t-columns]="tableSettings.columns"
    [t-items]="tableSettings.items"
    [t-actions]="tableSettings.actions"
  ></thf-table>
</admin-group>

<admin-address-form-modal
  #addressModal
  (submitted)="onAddressFormSubmit($event)"
></admin-address-form-modal>

<thf-modal
  #deleteModal
  [t-title]="modalSettings?.title"
  [t-primary-action]="modalSettings?.primaryAction"
  [t-secondary-action]="modalSettings?.secondaryAction"
>{{i18n.message.confirmDelete}}?</thf-modal>
