<form [formGroup]="searchForm">
  <div class="row">
    <div class="col-4">
      <div>
        <label for="client" class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold" >{{ 'label.client' | translate }}</label>
      </div>
      <div>
        <app-autocomplete
          [id]="'client'"
          [parent]="searchForm"
          [controlName]="'client'"
          [autocompleteConfig]="autoCompleteConfig"
          [resultList]="clientList">
        </app-autocomplete>
      </div>
    </div>
    <div class="col-3">
      <div><label for="period" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold" >{{ 'label.period' | translate }}</label></div>
      <div>
        <thx-date-range-picker id="period" formControlName="period" class="thf-u-no-margin" [minDateToday]="true" ></thx-date-range-picker>
      </div>
    </div>
    <div class="col-1">
      <div>
        <label for="roomQtd" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold">{{'label.rooms' | translate }}</label>
      </div>
      <div>
        <input id="roomQtd" type="number" formControlName="roomQtd" class="thf-input">
      </div>
    </div>
    <div class="col-1">
      <div>
        <label for="number" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold" >{{'label.adult' | translate }}</label>
      </div>
      <div>
        <input id="number" type="number" formControlName="adultQtd" class="thf-input" >
      </div>
    </div>
    <div class="col-1">
      <div>
        <label for="childQtd" class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold" >{{'label.child' | translate }}</label>
      </div>
      <div>
        <thx-child-select id="childQtd" formControlName="childQtd" [childMaxAge]="childMaxAge" [showAddButton]="false" [textConfig]="childTextConfig" ></thx-child-select>
      </div>
    </div>
    <div class="col-2">
      <div>
        <label for="uhType" class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold" >{{'label.roomType' | translate }}</label>
      </div>
      <div>
        <app-select
          [parent]="searchForm"
          [optionList]="roomTypeOptions"
          [selectId]="'uhType'"
          [isUppercase]="false"
          [hasFormGroup]="true"
          [hasMagin]="false"
          [hasBlankOption]="false" >
        </app-select>
      </div>
    </div>
  </div>
  <div class="row justify-content-end thf-u-margin-top--1">
    <div class="col-3">
      <app-button [buttonConfig]="buttonConfig"></app-button>
    </div>
  </div>
</form>
