@import "variables";

.footerText {
  font-size: 12px;
  color: var(--color-blue);
  font-weight: bolder;
  margin-left: -20px;
}

.thf-modal-body {
  padding: 30px 20px 10px !important;
}

.div-row-header {
  border-bottom: 1px solid var(--color-grey-sauvignon);
  margin-bottom: 15px;
}

.title-header {
  font-size: 16px;
  padding-bottom: 20px;
}

.container-close-img {
  height: 14px;
  width: 14px;
}

.info-box {
  background-color: rgba($primary-color, 0.1);
  margin-bottom: 20px;
}

.div-button-footer {
  padding-bottom: 18px;
  padding-top: 9px;
}
