<app-modal-wrapper
  [minWidth]="'500px'"
  [extraClass]="'thx-modal-auto-height'"
  [title]="'text.selectedHousekeepingPresent'"
  [modalId]="modalId"
  [showHeader]="false">
  <div class="thf-modal-body">
    <!-- image and title -->
    <div class="row div-row-header">
      <div class="col-11 title-header">
        {{'text.selectedHousekeepingPresent' | translate }}
      </div>
      <div class="col-1">
        <div class="container-close-img">
          <thx-img
            [src]="'closed-gray.svg'"
            class="thf-u-cursor--pointer"
            (click)="closedAutoModal()"
            [fullImg]="true">
          </thx-img>
        </div>
      </div>
    </div>

   <thx-img-info
     class="info-box"
    [imgInfo]="'maid-tidying-up.svg'"
    [titleInfo]="'title.didUKnow'"
    [textInfo]="'text.autoAssocMaid'">
  </thx-img-info>

    <div class="row">
      <div class="col-12 info-wrapper">
        <thx-datatable
          id="housekeeping-datatable"
          [itens]="houseKeepingList"
          [columns]="columns"
          [tableExtraClass]="'table-scroll header-table'"
          [hasLastCell]="false"
          [tableHasScroll]="true"
          [footerInfo]="footerTotal"
          [rowsLimit]="houseKeepingList?.length">
        </thx-datatable>

        <div class="row thf-u-margin-top--2 div-button-footer">
          <div class="offset-6 col-3">
            <app-button
              [buttonConfig]="cancelButtonConfig"></app-button>
          </div>
          <div class="col-3">
            <app-button
              [buttonConfig]="confirmButtonConfig"></app-button>
          </div>
        </div>

      </div>
    </div>
  </div>
</app-modal-wrapper>


<ng-template
  #checkbox
  let-row="row"
  let-rowIndex="rowIndex"
  ngx-datatable-cell-template>
  <div [formGroup]="formHousekeeping">
    <div formArrayName="maidList">
      <input
        [id]="'governance_auto_' + rowIndex"
        type="checkbox"
        class="thf-input-type-checkbox"
        [formControlName]="rowIndex"
        (change)="selectHouseKeeping(row)">
      <label [for]="'governance_auto_' + rowIndex">
        <span class="ui"></span>
      </label>
    </div>
    </div>
</ng-template>

<ng-template #footerTotal>
  <div class="row justify-content-start footerText">
    <div class="col-1">
      |
    </div>
    <div class="col-auto">
      {{housekeepingTotal}} {{'text.actual' | translate}}
    </div>
  </div>
</ng-template>



