:host {
  display: block;
  width: 100%;

  .empty-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 40vh;
    max-height: 40vh;
    border: 2px dashed var(--color-grey-launcher-product-cart);

    .img-empty{
      width: 78px;
      height: auto;
      margin-bottom: 32px;
    }

    .txt-empty{
      max-width: 210px;
      text-align: center;
    }
  }
}
