<div class="col">
  <div class="empty-wrapper thf-u-margin-vertical--1">
    <img
      class="img-empty"
      src="{{ 'empty.svg' | imgCdn }}"
      alt="{{ 'img.emptyCartIcon' | translate }}" />
    <span class="thf-u-font--18 txt-empty">
      {{ 'text.noServicesReleasedSoFar' | translate }}
    </span>
  </div>
</div>
