<div [formGroup]="formModal">
  <div class="row thf-u-margin-top--2">
    <div class="col">
      <label
        class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{
        'paymentTypeModule.commomData.paymentType' | translate }}</label>
      <app-select
        [selectId]="'paymentTypeId'"
        [parent]="formModal.get('postCredit')"
        [optionList]="paymentTypeList"
        [hasFormGroup]="true">
      </app-select>
    </div>
  </div>
  <billing-account-card *ngIf="isCard" [formModal]="formModal" [propertyId]="propertyId"
                        [paymentTypeId]="paymentTypeIdChosen"></billing-account-card>
  <billing-account-bank-check *ngIf="isBankCheck" [formModal]="formModal"></billing-account-bank-check>
  <div class="row thf-u-margin-top--2" *ngIf="!isCard && !isBankCheck" formGroupName="postCredit">
    <div class="col-4">
      <label for="price"
             class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{
        'billingAccountModule.commomData.value' | translate }} {{'commomData.r$' | translate}}</label>
      <input formControlName="price" type="text" id="price" class="thf-input thf-u-margin-top--1" currencyMask
             [options]="optionsCurrencyMask"
             [autocomplete]="'off'"/>
    </div>
    <div class="col-8" style="min-width: 300px">
    </div>
  </div>
</div>
