<ngx-datatable
  #myTable
  class='material material-padding-default'
  [columnMode]="'flex'"
  [headerHeight]="30"
  [footerHeight]="50"
  [rowHeight]="'45'"
  [limit]="25"
  [rows]='rows'
  [rowClass]="getRowClass">
  <!-- Column Templates -->

  <ngx-datatable-column [flexGrow]="1" [headerClass]="'thf-u-text-left thf-u-padding-top--25'" [cellClass]="'thf-u-text-left'">
    <ng-template ngx-datatable-header-template>
      {{ 'label.typeUHComplete' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.abbreviation }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [flexGrow]="1" [headerClass]="'thf-u-text-center thf-u-padding-top--25'">
    <ng-template ngx-datatable-header-template>
      {{ 'label.paxOne' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="text" *ngIf="row?.paxLimitInputs.length >= 1" [(ngModel)]="row.paxOne" (ngModelChange)="updateBaseRate($event)" class="thf-input-table thf-u-text-center thf-u-width-flex" currencyMask [options]="optionsCurrencyMask">
      <thx-error-msg-max-min (isValid)="updateBaseRate($event)" [maxValue]="row.maximumRate" [minValue]="row.minimumRate" [value]="row.paxOne"></thx-error-msg-max-min>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [flexGrow]="1" [headerClass]="'thf-u-text-center thf-u-padding-top--25'">
    <ng-template ngx-datatable-header-template>
      {{ 'label.paxTwo' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="text" *ngIf="row?.paxLimitInputs.length >= 2" [(ngModel)]="row.paxTwo" (ngModelChange)="updateBaseRate($event)" class="thf-input-table thf-u-text-center thf-u-width-flex" currencyMask [options]="optionsCurrencyMask">
      <thx-error-msg-max-min (isValid)="updateBaseRate($event)" [maxValue]="row.maximumRate" [minValue]="row.minimumRate" [value]="row.paxTwo"></thx-error-msg-max-min>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [flexGrow]="1" [headerClass]="'thf-u-text-center thf-u-padding-top--25'">
    <ng-template ngx-datatable-header-template>
      {{ 'label.paxThree' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="text" *ngIf="row?.paxLimitInputs.length >= 3" [(ngModel)]="row.paxThree" (ngModelChange)="updateBaseRate($event)" class="thf-input-table thf-u-text-center thf-u-width-flex" currencyMask [options]="optionsCurrencyMask">
      <thx-error-msg-max-min (isValid)="updateBaseRate($event)" [maxValue]="row.maximumRate" [minValue]="row.minimumRate" [value]="row.paxThree"></thx-error-msg-max-min>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [flexGrow]="1" [headerClass]="'thf-u-text-center thf-u-padding-top--25'">
    <ng-template ngx-datatable-header-template>
      {{ 'label.paxFour' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="text" *ngIf="row?.paxLimitInputs.length >= 4" [(ngModel)]="row.paxFour" (ngModelChange)="updateBaseRate($event)" class="thf-input-table thf-u-text-center thf-u-width-flex" currencyMask [options]="optionsCurrencyMask">
      <thx-error-msg-max-min (isValid)="updateBaseRate($event)" [maxValue]="row.maximumRate" [minValue]="row.minimumRate" [value]="row.paxFour"></thx-error-msg-max-min>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [flexGrow]="1" [headerClass]="'thf-u-text-center thf-u-padding-top--25'">
    <ng-template ngx-datatable-header-template>
      {{ 'label.paxFive' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="text" *ngIf="row?.paxLimitInputs.length >= 5" [(ngModel)]="row.paxFive" (ngModelChange)="updateBaseRate($event)" class="thf-input-table thf-u-text-center thf-u-width-flex" currencyMask [options]="optionsCurrencyMask">
      <thx-error-msg-max-min (isValid)="updateBaseRate($event)" [maxValue]="row.maximumRate" [minValue]="row.minimumRate" [value]="row.paxFive"></thx-error-msg-max-min>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [flexGrow]="1" [headerClass]="'thf-u-text-center thf-u-padding-top--25'">
    <ng-template ngx-datatable-header-template>
      {{ 'label.paxAdditional' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="text" *ngIf="row?.paxLimitInputs.length >= 6" [(ngModel)]="row.paxAdditional" (ngModelChange)="updateBaseRate($event)" class="thf-input-table thf-u-text-center thf-u-width-flex" currencyMask [options]="optionsCurrencyMask">
      <thx-error-msg-max-min (isValid)="updateBaseRate($event)" [maxValue]="row.maximumRate" [minValue]="row.minimumRate" [value]="row.paxAdditional"></thx-error-msg-max-min>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [flexGrow]="1" [headerClass]="'thf-u-text-center table-header-size'">
    <ng-template ngx-datatable-header-template>
      <div>{{ 'variable.childs' | translate }}</div>
      <div>0 - {{ propertyParameterList[0].propertyParameterValue }} {{ 'label.years' | translate }}</div>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="text" [(ngModel)]="row.child1Amount" (ngModelChange)="updateBaseRate($event)" class="thf-input-table thf-u-text-center thf-u-width-flex" currencyMask [options]="optionsCurrencyMask">
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [flexGrow]="1" [headerClass]="'thf-u-text-center table-header-size'">
    <ng-template ngx-datatable-header-template>
      <div>{{ 'variable.childs' | translate }}</div>
      <div>{{ ageRange1 }} - {{ propertyParameterList[1].propertyParameterValue }} {{ 'label.years' | translate }}</div>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="text" [(ngModel)]="row.child2Amount" (ngModelChange)="updateBaseRate($event)" class="thf-input-table thf-u-text-center thf-u-width-flex" currencyMask [options]="optionsCurrencyMask">
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [flexGrow]="1" [headerClass]="'thf-u-text-center table-header-size'">
    <ng-template ngx-datatable-header-template>
      <div>{{ 'variable.childs' | translate }}</div>
      <div>{{ ageRange2 }} - {{ propertyParameterList[2].propertyParameterValue }} {{ 'label.years' | translate }}</div>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="text" [(ngModel)]="row.child3Amount" (ngModelChange)="updateBaseRate($event)" class="thf-input-table thf-u-text-center thf-u-width-flex" currencyMask [options]="optionsCurrencyMask">
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>


