<app-modal-wrapper
  modalId="removePlace"
  [title]="'action.lbDelete' | translate: { labelName: 'label.place' | translate | lowercase }">

  <div class="thf-modal-body">
    <div class="row">
      <div class="col">
        <p class="thf-u-font--14 thf-u-text-center">{{ 'variable.lbConfirmDeleteM' | translate : {labelName: 'label.place' | translate | lowercase} }} ?</p>
        <p class="thf-u-font--14 thf-u-font--bold thf-u-text-center">
          {{ itemToRemove?.stationName }}
        </p>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <button (click)="toggleRemoveItem()" class="thf-btn thf-btn-secondary">
          {{ 'commomData.not' | translate }}
        </button>
      </div>
      <div class="col">
        <button data-qa-id="removePlace" (click)="removeItem()" class="thf-btn thf-btn-primary">
          {{ 'commomData.yes' | translate }}
        </button>
      </div>
    </div>
  </div>

</app-modal-wrapper>

<div class="thf-group-content">
  <div class="thf-group-content-header">
    <div class="row">
      <div class="col-4">
        <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
        <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
            {{ 'title.associatedPlaces' | translate }}
        </span>
      </div>
      <div class="col-4 text-center">
          <thx-searchbar name="searchFilter" *ngIf="hasData"
          [placeholder]="'placeholder.searchByNameOfStation'"
          (input)="search($event)">
        </thx-searchbar>
      </div>
      <div class="col-2">&nbsp;</div>
      <div class="col-2">
        <button type="button" *ngIf="hasData" name="button" class="thf-btn thf-btn--sm thf-btn-secondary"
                (click)="toggleModal()">
                {{ 'action.lbNew' | translate: {labelName: 'label.place' | translate | lowercase} }}
        </button>
      </div>
    </div>
  </div>
  <div class="thf-group-content-body">
    <div class="row">
      <div class="col-12">

        <thx-datatable
          [columns]='columns'
          [itens]="dataList"
          [itemsOption]="itemsOption"
          (rowItemClicked)="goToEdit($event)"
          [emptyMessage]="'variable.emptyContentM.title' | translate: {labelName: 'label.place' | translate | lowercase }"
          [emptyMessageContent]="'variable.emptyContentM.textDescription' | translate: {labelName: 'label.place' | translate | lowercase }"
          (emptyLinkClicked)="toggleModal()"
        ></thx-datatable>
      </div>
    </div>
  </div>
</div>
