@mixin  border { border: 1px solid var(--color-grey) };

.input-label-wrapper{
  display: flex;
  flex-direction: row;
  width: 165px;
  height: 44px;
  background: var(--color-white);
  @include border;
  border-radius: 3px;

  &.disabled {
    background: var(--color-grey-azure) !important;
  }

  * {
    box-shadow: inset 1px 1px 3px 3px rgba(0,0,0,0.03);
  }

  input{
    @include border;
    border-width: 0 0 0 1px;
    width: 96px;
    background: transparent !important;

    &:hover, &:focus {
      outline: none !important;
    }
  }

  span {
    display: flex;
    height: 42px;
    width: 69px;
    align-items: center;
    justify-content: center;
  }
}
