:host {
  display: block;
  margin: 20px 0px;
}
.property-card {
  border-radius: 5px;
  box-shadow: 5px 5px 15px var(--color-grey-light);
  display: flex;
  background-color: var(--color-blue-darker);
}

.property-card > div {
  display: inline-block;
}

.property-card .thumb {
  flex-grow: 0.2;
  justify-self: center;
  color: var(--color-white);
  padding: 10px 5px;
  border-radius: 5px 0px 0px 5px;
  align-self: center;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}
.property-card .info , .property-card .selector {
  flex-grow: 1;
  padding: 10px 30px 10px 0px;
  background-color: var(--color-white);
}

.property-card .info {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

.info .property-name {
  font-weight: bold;
  font-size: 1.2em;
}
.info .country-name {
  font-size: .8em;
}

.info .address {
  border-right: 1px solid var(--color-grey-athens);
  padding-right: 50px;
  font-size: .8em;
}
.label-hotel {
  font-weight: bold;
  font-size: 1em;
  color: var(--color-blue-dark);
}
