<div class="property-card" >
 <div class="thumb">{{ getPropertyInitials() }}</div>
  <div class="info">
      <div class="title">
        <div class="property-name">{{ propertySelected?.name }} - {{ propertyLocation?.city }}</div>
        <div class="country-name">{{ propertyLocation?.country }}</div>
      </div>
      <div class="address">
          <div>{{ propertyLocation?.completeAddress }}</div>
          <div>{{ propertyLocation?.postalCode }}</div>
      </div>
  </div>

  <div class="selector">
    <div class="label-hotel" > {{ 'label.hotelPlus' | translate }}*</div>
    <app-select
      id="propertySelector"
      [optionList]="propertyOptionList"
      [selectedOptionId]="initialPropertyId"
      [hasBlankOption]="false"
      [choseOnlyOnClick]="true"
      [hasMagin]="false"
      [hasFormGroup]="false"
      (selectedOption)="selectOption($event)"
      [disabled]="propertyCardService.isPropertyCardDisabled()"
    >
    </app-select>
  </div>
</div>
