<app-header-page-new [config]="configHeaderPage">
  <header-title>
    {{ 'title.transferPage' | translate }}
  </header-title>

  <text-button>{{'reservationModule.reserveList.advancedSearch' | translate}}</text-button>
</app-header-page-new>

<app-modal-wrapper [modalId]="cancelTransferModalId" [title]="'title.cancelTransfer'">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col-12 thf-u-font--16">
        {{'text.cancelTransfer' | translate}}
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row justify-content-end">
      <div class="col-3">
        <app-button [buttonConfig]="buttonCloseTransferModalConfig"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="buttonConfirmCancelTransferModalConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<app-modal-wrapper [modalId]="undoTransferModalId" [title]="'title.undoTransfer'">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col-12 thf-u-font--16">
        {{'text.undoTransferModal' | translate}}
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row justify-content-end">
      <div class="col-3">
        <app-button [buttonConfig]="buttonCloseUndoTransferModalConfig"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="buttonConfirmUndoTransferModalConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<div *ngIf="transferWasCompleted" class="thf-u-background-color--checkin thf-u-margin-vertical--2 thf-u-padding-vertical--1">
  <div class="row">
    <div class="col-3">
      <img src="{{'check-ok.min.svg' | imgCdn}}" alt="{{ 'img.checkOk' | translate }}" class="thf-u-filter-svg--white thf-u-margin-left--1"
      />
      <span class="thf-u-color--white thf-u-font--14 thf-u-margin-left--1">{{'label.transfer' | translate}} {{'variable.doneSuccessF' | translate}}</span>
    </div>
    <div class="offset-7 col-2">
      <a class="thf-u-color--white thf-u-text-decoration--underline thf-u-font--14" href="javascript:void(0);" (click)="toggleUndoTransferModal()">{{'title.undoTransfer' | translate}}</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <origin-account [transferWasCompleted]="transferWasCompleted"></origin-account>
  </div>

  <div class="col-6">
    <destination-account (billingAccountWithAccountWasSelected)="setBillingAccountIdDestinationToTransfer($event)"
                         [transferWasCompleted]="transferWasCompleted"></destination-account>
  </div>
</div>

<div class="row justify-content-end thf-u-margin-top--6" *ngIf="!transferWasCompleted">
  <div class="col-2"  >
    <app-button [buttonConfig]="buttonCancelConfig"></app-button>
  </div>
  <div class="col-2">
    <app-button [buttonConfig]="buttonTransferConfig"></app-button>
  </div>
</div>

<div class="row justify-content-end thf-u-margin-top--6" *ngIf="transferWasCompleted">
  <div class="col-2"  >
    <app-button [buttonConfig]="buttonBackToAccountConfig"></app-button>
  </div>
</div>
