<div
  class="popover-wizard __pointer thex-font-family"
  *ngIf="popover">
  <div class="popover-wizard__container">
    <div class="__row-header">
      <div class="hotel-title thex-font-size-body-default">{{roomType?.abbreviation}} -  {{roomType?.name}}</div>
      <div class="price-range thex-font-size-small"> {{roomType?.minimumRate | currencyFormat }} - {{ roomType?.maximumRate | currencyFormat}}</div>
    </div>
    <div class="__row-content thex-font-size-small" >
      <div class="property-info">
        <div class="icon">
          <thx-img
            [src]="'adult-icon.svg'"
            [title]="'label.adults' | translate"
            [alt]="'label.adults' | translate">
          </thx-img>
        </div>
        <span id="adults-counter" class="counter">{{ (roomType?.adultCapacity ) > 0 ? ( roomType?.adultCapacity | number:'2.0-0' ): '--' }}</span>
      </div>
      <div class="property-info">
        <div class="icon">
          <thx-img
            [src]="'children-icon.svg'"
            [title]="'label.children' | translate"
            [alt]="'label.children' | translate">
          </thx-img>
        </div>
        <span id="children-counter" class="counter">{{ (roomType?.childCapacity ) > 0 ? ( roomType?.childCapacity | number:'2.0-0' ): '--' }}</span>
      </div>
    </div>
    <div class="__row-content thex-font-size-small">
      <div class="property-info">
        <div class="icon">
          <thx-img
            [src]="'doubleBed-icon.svg'"
            [title]="'label.bedCouple' | translate"
            [alt]="'label.bedCouple' | translate">
          </thx-img>
        </div>
        <span id="doubleBed-counter" class="counter">{{ (roomType.roomTypeBedTypeList| bedTypeCounter: 2 ) > 0 ? (roomType.roomTypeBedTypeList | bedTypeCounter: 2 | number:'2.0-0' ): '--'}}</span>
      </div>
      <div class="property-info">
        <div class="icon">
          <thx-img
            [src]="'reversibleBed-icon_V2.svg'"
            [title]="'label.reversibleBed' | translate"
            [alt]="'label.reversibleBed' | translate">
          </thx-img>
        </div>
        <span id="reversibleBed-counter" class="counter">{{ (roomType.roomTypeBedTypeList| bedTypeCounter: 3 ) > 0 ? (roomType.roomTypeBedTypeList | bedTypeCounter: 3 | number:'2.0-0' ): '--'}}</span>
      </div>
      <div class="property-info">
        <div class="icon">
          <thx-img
            [src]="'singleBed-icon.svg'"
            [title]="'label.bedSingle' | translate"
            [alt]="'label.bedSingle' | translate">
          </thx-img>
        </div>
        <span id="singleBed-counter" class="counter">{{  (roomType.roomTypeBedTypeList| bedTypeCounter: 1 ) > 0 ? (roomType.roomTypeBedTypeList | bedTypeCounter: 1 | number:'2.0-0' ): '--'}}</span>
      </div>
    </div>
    <div class="__row-content thex-font-size-small">
      <div class="property-info">
        <div class="icon">
          <thx-img
            [src]="'singleBed-icon.svg'"
            [title]="'label.extraBed' | translate"
            [alt]="'label.extraBed' | translate">
          </thx-img>
        </div>
        <span id="extraBed-counter" class="counter">{{ (roomType.roomTypeBedTypeList| bedTypeCounter: 4 ) > 0 ? (roomType.roomTypeBedTypeList | bedTypeCounter: 4 | number:'2.0-0' ): '--'}}</span>
      </div>
      <div class="property-info">
        <div class="icon">
          <thx-img
            [src]="'berco-icon.svg'"
            [title]="'label.babyCrib' | translate"
            [alt]="'label.babyCrib' | translate">
          </thx-img>
        </div>
        <span id="crib-counter" class="counter">{{ (roomType.roomTypeBedTypeList| bedTypeCounter: 5 ) > 0 ? (roomType.roomTypeBedTypeList | bedTypeCounter: 5 | number:'2.0-0' ): '--'}}</span>
      </div>
    </div>
  </div>
</div>
