@import './_variables';

.popover-wizard {
  background: rgba($grey-color--70, 0.80);
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  width: 80%;
  top: -35px;

  &__container {
    color: $white_color;
    height: 150px;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 3px;
    padding: 10px 15px;
    width: 100%;

    .__row-header{
      margin-bottom: 2px;

      .hotel-title {
        font-weight: bold;
        line-height: 14px;
      }

      .price-range {
        font-weight: 300;
        height: 14px;
        line-height: 16px;
      }
    }

    .__row-content {
      border-bottom: 0.5px solid $grey-color--50;
      display: flex;
      flex-wrap: wrap;
      font-weight: 400;
      padding-bottom: 9px;
      padding-top: 4px;

      .property-info {
        width:45px;
        display:flex;
        margin-right: 15px;

        .icon {
          flex-direction:column;
          width:40px;
        }
        .counter {
          width:12px;
          height:15px;
          flex-direction:column;
        }
      }
    }
    :nth-child(4) {
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}

.__pointer:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left:  5px solid transparent;
  border-right: 5px solid transparent;
  border-top:  5px solid transparent;
  border-bottom: 5px solid rgba($grey-color--70, 0.80);
  right: 15px;
  top: -10px;
}
