<!-- add header -->
<app-header-page-new
  [enableBackButton]="true">
  <header-title> {{ 'title.historicDefaultMealPlan' | translate }}</header-title>
</app-header-page-new>


<div class="container-fluid guest-list-wrapper">
  <div class="row">
    <div class="col-12 thf-u-margin-top--3">
      <form [formGroup]="form">
        <div class="thf-group-content">
          <!-- header one -->
          <div class="thf-group-content-header">
            <div class="row">
              <div class="col-11">
                <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
                      {{ 'label.searchMealPlanByPeriod' | translate }}
                </span>
              </div>
            </div>
          </div>

          <div class="thf-group-content-body">
            <div class="row">
              <div class="col-4">
                <label for="range"
                  class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                  {{ 'label.validityPeriod' | translate }}
                </label>
                <thx-date-range-picker
                  id="range"
                  formControlName="range"></thx-date-range-picker>
                <thx-error formControlName="range"></thx-error>
              </div>

              <div class="col-3">
                <label for="currencyId"
                  class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                  {{'label.moneyOfGuestHouse' | translate }}
                </label>
                <app-select
                  [parent]="form"
                  [optionList]="currencyList"
                  [selectId]="'currencyId'"
                  [isUppercase]="false"
                  [hasFormGroup]="true">
                </app-select>
                <thx-error formControlName="currencyId"></thx-error>
              </div>

              <div class="col-2 button-search">
                <app-button
                  [buttonConfig]="searchButtonConfig"></app-button>
              </div>
            </div>

            <!-- end content body -->
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end of first row -->

  <div class="row">
    <div class="col thf-u-margin-top--3">
      <thx-datatable
        *ngIf="mealplanList && mealplanList.length"
        [columns]="columns"
        [rowHeight]="64"
        [headerHeight]="48"
        [emptyMessage]="'text.emptyFoundContentF' | translate: {labelName: 'label.mealPlan' | translate | lowercase }"
        (rowItemClicked)="goToView($event)"
        [itens]="mealplanList"></thx-datatable>
    </div>
  </div>
</div>

<ng-template #weekday let-row="row">
  <app-week-day-show
    [weekList]="row?.weekList"></app-week-day-show>
</ng-template>


