<app-header-page-new [config]="configHeaderPage" [hasFilter]="true">
  <header-title>{{'entryTypeModule.group.pagelist.header.title' | translate }}</header-title>
  <app-filter-search [searchableItems]="searchableItems" (searchUpdated)="updateList($event)"></app-filter-search>
  <text-button>{{'entryTypeModule.group.pagelist.header.buttonAdd' | translate}}</text-button>
  <icon-button>
    <i class="mdi mdi-plus"></i>
  </icon-button>
</app-header-page-new>

<thx-datatable
  *ngIf="pageItemsList && pageItemsList.length > 0;else showEmptyComponent"
  [columns]='columns'
  [itens]="pageItemsList"
  [itemsOption]="itemsOption"
  statusIdentifier="id"
  (statusChanged)="updateStatus($event)"
  (rowItemClicked)="goToEditPage($event)"
></thx-datatable>

<ng-template #showEmptyComponent>
  <app-empty-content-wrapper>
    <content-title>{{'entryTypeModule.group.pagelist.emptyContent.title' | translate}}</content-title>
    <content-description>
      {{'entryTypeModule.group.pagelist.emptyContent.textDescription' | translate}}
      <a class="thf-link" href="javascript:void(0)" (click)="goToNewPage()">
        {{'entryTypeModule.group.pagelist.emptyContent.link' | translate}}
      </a>
    </content-description>
  </app-empty-content-wrapper>
</ng-template>
