<thx-input-base
  [title]="title"
  [infoText]="infoText"
  [isLabelTopMode]="isLabelTopMode()"
  [required]="required"
  [disabled]="disabled"
  [control]="control"
  [autoHeight]="false"
  [rightIcon]="isClosed ? 'arrow-down.svg' : 'arrow-up.svg'"
  [hasFocus]="!isClosed" >
  <div (focus)="isClosed = false" (blur)="isClosed = true" [tabIndex]="tabindex"  >
    <div class="select-area" (click)="toggleSelect()" >
      <span *ngIf="selectedItem?.leftIcon" class="left-icon">
        <thx-img [src]="selectedItem?.leftIcon" [fullSize]="true"></thx-img>
      </span>
      <span>{{selectedItem?.text}}</span>
    </div>
    <div *ngIf="!isClosed" class="select-box">
      <ul>
        <li *ngFor="let item of optionList" (click)="chooseItem(item)"
            class="select-box-item" [ngClass]="{'selected': item.value == selectedItem?.value}" >
          <span *ngIf="item?.leftIcon" class="left-icon"><thx-img [src]="item?.leftIcon" [fullSize]="true"></thx-img></span>
          <span class="item-option-text">{{item.text}}</span>
          <span *ngIf="item.value == selectedItem?.value" class="right-icon">
            <thx-img src="check-white.svg" [fullSize]="true"></thx-img>
          </span>
        </li>
      </ul>
    </div>
  </div>

</thx-input-base>
