@import "./variables";

:host {
  display: block;
  position: relative;
  color: $grey-color--60;
  font-family: $font-family;
  font-size: $items-type-two-font-size;

  .select-area {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: $input-height;
    box-sizing: border-box;
    outline: none;
    padding: 10px 7px;
    font-size: $items-type-two-font-size;
    cursor: pointer;
    align-items: center;
  }
  .select-box {
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    max-height: calc(38px * 5);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
    position: absolute;
    width: 100%;

    ul {
      width: 100%;
      border-radius: 4px;
      padding: 0;
      margin: 0;
    }
    .select-box-item {
      list-style: none;
      width: 100%;
      height: $input-height;
      padding: 10px 15px;
      font-size: $items-type-two-font-size;
      display: flex;
      &:first-child {
        border-radius: 4px 4px 0 0;
      }
      &:last-child {
        border-radius: 0 0 4px 4px;
      }
      &.selected {
        background: $special-color--8;
        color: white;
      }
      &:not(.selected):hover {
        background-color: rgba($primary-color--hover, 0.1);
        color: $grey-color--60;
      }
      .item-option-text {
        flex-grow: 1;
      }

    }
  }

  .left-icon, .right-icon {
    width: 14px;
    height: 14px;
    display: inline-block;
  }
  .left-icon {
    margin-right: 10px;
  }
  .right-icon {
    margin-left: 10px;
  }
}
