@import "main";
.hotel-info {
  display: flex;
  flex-direction: column;
  &__photo {
    margin: 35px 0;
  }
  &__name {
    font-family: $font-family;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $grey-color--70;
    margin-bottom: 10px;
    padding: 0 15px;
  }
  &__group {
    font-family: $font-family;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $grey-color--50;
    margin-bottom: 40px;
    padding: 0 15px;
  }
}
