<div class="hotel-info">
  <app-photo-base class="hotel-info__photo" [photoUrl]="photoUrl" [name]="hotelName" (changePhoto)="onClick($event)"></app-photo-base>
  <strong class="hotel-info__name">{{hotelName}}</strong>
  <span class="hotel-info__group">{{hotelGroup}}</span>
</div>
