<app-header-page-new [config]="configHeaderPage" [hasFilter]="true" [rightButtonList]="true">
    <header-title>
      <span class="hidden-lg-down">
        {{ 'action.list' | translate }} {{ 'title.paymentTypes' | translate }}
      </span>
      <span class="hidden-xl-up thf-u-font--20">
        {{ 'action.list' | translate }} {{ 'title.paymentTypes' | translate }}
      </span>
    </header-title>
      <thx-searchbar name="filterSearch"
                     [placeholder]="'placeholder.searchPaymentType'"
                     [(ngModel)]="searchFilter"
                     (search)="updateList($event)"
                     ngDefaultControl>
      </thx-searchbar>
    <text-button>{{ 'action.new' | translate }} {{ 'title.paymentType' | translate }}</text-button>
    <icon-button>
        <i class="mdi mdi-plus"></i>
    </icon-button>
</app-header-page-new>

<ngx-datatable class='material material-padding-default'
    [columnMode]="'flex'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="25"
    [rows]="filteredItemsList">
    <ngx-datatable-column
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false"
        [flexGrow]="0.5">
        <ng-template ngx-datatable-header-template>
            {{ 'label.active' | translate }}
        </ng-template>
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <input type="checkbox" [(ngModel)]="row.isActive" [checked]="row.isActive" (ngModelChange)="paymentTypeWasUpdated(row)" class="thf-input-radio-button"
                [id]="rowIndex"/>
            <label class="thf-u-vertical-align-super" [for]="rowIndex">
                <span class="ui"></span>
            </label>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1">
        <ng-template ngx-datatable-header-template>
            {{ 'title.paymentTypes' | translate }}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.paymentTypeName}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="1">
        <ng-template ngx-datatable-header-template>
            {{ 'label.acquirer' | translate }}
        </ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
            <span *ngIf="row.acquirerName">{{row.acquirerName}}</span>
            <span *ngIf="!row.acquirerName">--</span>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="2">
        <ng-template ngx-datatable-header-template>
            {{ 'label.brandsAssociate' | translate }}
        </ng-template>
        <ng-template let-row="row.billingItemPaymentTypeDetailList" ngx-datatable-cell-template>
            <span *ngFor="let card of row">
                <span class="thf-tag-outline thf-u-font--10" *ngIf="card.plasticBrandId">
                  {{card.plasticBrandPropertyName}}
                </span>
            </span>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="0.5" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false" [cellClass]="'thf-u-no-padding'">
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <app-submenu-options [items]="itemsOption" (itemWasAction)="rowAction($event, row, rowIndex)"></app-submenu-options>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer>
        <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount"
            let-curPage="curPage" let-offset="offset">
            <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount"
                (change)="myTable.onFooterPage($event)">
            </datatable-pager>
        </ng-template>
    </ngx-datatable-footer>
</ngx-datatable>
