<app-modal-wrapper
  modalId="channel-modal-delete"
  [maxWidth]="'650px'"
  [title]="title">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col thf-u-text-center">
        {{ description | translate }}
      </div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelDeleteModal"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmDeleteModal"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
