@import "main";
.navigation {
  display: flex;

  > .item {
    height: 100%;
    display: flex;
    color: $grey-color--50;
    align-items: center;

    > .clickable {
      cursor: pointer;
      display: flex;
      align-items: center;
      height: 100%;
    }

    &:not(:last-child):after {
      content: '';
      height: 100%;
      width: 1px;
      background: $grey-color--15;
      margin: 0 9px;
    }
  }

  /** Date **/
  .system-date {
    padding: 0 10px;
    display: flex;
    height: 100%;
    align-items: center;

    > .icon {
      height: 13px;
      margin-right: 10px;
    }

    > .date {
      font-size: 12px;
    }

    &:hover .div-tooltip{
      display: block;
    }

    .div-tooltip {
      position: absolute;
      border-radius: 4px;
      font-size: 11px;
      line-height: 1.45;
      width: 98px;
      height: 20px;
      z-index: 5;
      background-color: $grey-color--70;
      color: $white-color;
      display: none;
      padding-top: 3px;
      text-align: center;
      bottom: -5px;
    }

  }

  .language {
    padding: 0 10px;
    > .label {
      font-size: 12px;
      margin-right: 6px;
    }

    > .icon {
      margin-right: 6px;
    }
  }

/**  Company Panel **/
  ul {
    margin-bottom: 0rem !important;
  }

  .user-company {
    &__wrapper {
      background: $white-color;
      position: relative;
      border-radius: 4px;
    
      .icon-arrowdown-blue {
        color: $primary-color;
        font-size: 7px;
      }
  }

  &__selected {
    cursor: pointer;
    padding: 4px 11px;
    &.active {
      background: rgba($primary-color, 0.15);
      border-radius: 4px;
    }
    &:hover {
      background-color: rgba($primary-color, 0.1);
      border-radius: 4px;
    }
    &-text {
      font-size: 12px;
      font-weight: normal;
      line-height: 1.08;
      letter-spacing: normal;
      margin-right: 5px;
    }
  }
  &__popover {
    min-width: 195px;
  }
  &__title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    text-align: left;
    padding: 13px 18px;
    display: block;
  }
  &__list {
    list-style: none;
    text-align: left;
    padding: 0;
    &-item {
      white-space: nowrap;
      cursor: pointer;
      padding: 13px 18px;
      font-size: 12px;
      line-height: 1.83;
      letter-spacing: normal;
      &.active {
        background-color: $primary-color;
        color: $white-color;
        &:after {
          content: '';
          width: 12px;
          height: 7px;
          border-bottom: 2px solid $white-color;
          border-left: 2px solid $white-color;
          display: inline-block;
          transform: rotate(-45deg);
          margin-left: 15px;
          position: relative;
          top: -3px;
        }
        &:hover {
          background-color: $primary-color;
          color: $white-color--hover;
        }
      }
      &:hover {
        background-color: rgba($primary-color, 0.1);
      }
      &:active {
        background-color: rgba($primary-color, 0.15);
      }
      .selected {
        color: $white-color;
        background-color: $primary-color;
      }
    }
  }
}

  /** Profile **/

  .profile {
    padding: 0 10px;
    position: relative;

    &.active {
      background: rgba($primary-color, 0.15);
      border-radius: 4px;
    }
    &:hover {
      background-color: rgba($primary-color, 0.1);
      border-radius: 4px;
    }
    > .greetings {
      font-size: 12px;
      margin: 0 6px 0 0;
    }
  }

  /** How to **/


  .how-to {
    display: flex;
    width: 35px;
    height: 35px;
    vertical-align: middle;

    > .icon {
      width: 100%;
      height: 100%;
    }
    > a {
      margin: 0 auto;
      line-height: 21px;
    }

    &:hover {
      background-color: rgba($primary-color, 0.1);
      border-radius: 50%;
    }
  }
}

.color-icon {
  color: $primary-color;
}

.picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  background: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;

  > .name {
    font-size: 12px;
    color: $white-color;
    margin: 0;
    padding: 0;
  }

  > .image {
    width: 100%;
    height: 100%;
    border-radius: 60px;
  }
}


.property-select-footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $grey-color--10;
}

