<thx-base-top-bar [title]="propertyName">
  <div class="navigation">
    <div
      class="item"
      *ngIf="systemDate"
    >
      <div class="system-date">
        <img
          alt=""
          class="icon"
          [src]="'finance-blue.svg' | imgCdn"
        >
        <span class="date">{{systemDate}}</span>
        <div class="div-tooltip">{{ 'label.dateOfSystem' | translate }}</div>
      </div>
    </div>
    <div class="item">
      <app-user-language-selection
        (updateUserLanguage)="updateUserLanguage($event)"
        [currentLanguage]="languageFlag"
        [languageList]="languageList">
      </app-user-language-selection>
    </div>

    <div class="item user-company__wrapper"
      *ngIf="panelVisible"
    >
      <div class="item user-company__selected" 
      (click)="popoverCompanyVisible = !popoverCompanyVisible"
      [ngClass]="{ 'active': popoverCompanyVisible }"
      >
        <span class="icon-company color-icon">
          <img
            src="{{'arrowdown-blue.min.svg' | imgCdn}}"
            alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
          />
        </span>
        <thx-popover-base position="bottom-right" [isActive]="popoverCompanyVisible">
          <div class="user-company__popover">
            <strong class="user-company__title">{{ 'label.hotelPlus' | translate }}</strong>
            <ul class="user-company__list">
              <li class="user-company__list-item"
                  *ngFor="let property of propertyList.slice(0,4); let i = index;"
                  [ngClass]="{'active': currentProperty.id === property.id}"
                  (click)="setPropertyToken(property)">
                <span >{{ property.name }}</span>
              </li>
            </ul>
            <a href="javascript:void(0)" (click)="goToPanel()" class="property-select-footer thex-color-primary thf-u-font--12">
              {{ 'label.seeAllCompany' | translate }}
            </a>
          </div>
        </thx-popover-base>
      </div>
    </div>

    <div class="item">
      <div
        class="clickable profile"
        (click)="openProfile = !openProfile"
        [ngClass]="{ 'active': openProfile }"
        >

        <div class="picture">
          <p
            class="name"
            *ngIf="!user?.photoUrl"
          >{{user?.nickName || user?.name | acronym: 2 | uppercase}}</p>
          <img
            class="image"
            alt=""
            *ngIf="user?.photoUrl"
            [src]="user?.photoUrl"
          />
        </div>

        <p class="greetings">
          {{ 'sharedModule.topBar.hello' | translate }} {{ user?.nickName || user?.name }}
        </p>
        <img
          src="{{'arrowdown-blue.min.svg' | imgCdn}}"
          alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
        />

        <thx-popover-base position="bottom-right" [isActive]="openProfile">
          <app-user-menu [user]="user"></app-user-menu>
        </thx-popover-base>
      </div>
    </div>
    <div class="item how-to"
      *ngIf="panelVisible"
    >
      <a
        class="how-to-link"
        [routerLink]="['/p', this.propertyId ,'how-to']">
        <img
          alt=""
          class="icon"
          [src]="'thex-help.svg' | imgCdn"
        />
      </a>
    </div>
  </div>
</thx-base-top-bar>
