<!-- header component -->
<app-header-page-new
  [config]="configHeaderPage"
  [hasFilter]="true">

  <!-- header title -->
  <header-title> {{ 'title.insertTributesList' | translate }}</header-title>


  <!-- search bar -->
  <thx-searchbar
    name="searchFilter"
    [placeholder]="'placeholder.searchByDescriptionNcmOrBarCode'"
    (input)="search($event)">
  </thx-searchbar>

  <!-- the button txt -->
  <text-button>{{'text.insertTribute' | translate}}</text-button>

  <!-- the modal btn -->
  <icon-button>
    <i class="mdi mdi-plus"></i>
  </icon-button>

</app-header-page-new>


<thx-datatable
  [columns]='columns'
  [itens]="pageItemsList"
  [columnMode]="'flex'"
  statusIdentifier="id"
  [hasLastCell]="true"
  (statusChanged)="updateStatus($event)"
  (rowItemClicked)="rowItemClicked($event)"
  [emptyMessage]="'variable.emptyContentM.title' | translate: {labelName: 'label.tributeOfProduct' | translate | lowercase }"
  [emptyMessageContent]="
            'variable.emptyContentM.textDescription' | translate: {labelName: 'label.tributeOfProduct' | translate | lowercase }
          "
  (emptyLinkClicked)="goToAdd()">
</thx-datatable>

