<div *ngIf="buttons" class="thf-button-bar thf-button-bar--blue">
  <button *ngFor="let btn of buttons" class="thf-btn"
    [ngClass]="(btn.cssClass ? btn.cssClass : '')
              + (btn?.status ? ' thf-btn--' + btn?.status : ' thf-btn--default')"
    (click)="clickBtn(btn)">
    {{btn?.title | translate}}
  </button>
</div>
