:host {
  position: relative;
  display: block;
  height: 100%;
  min-height: 500px;
  width: 100%;
  min-width: 100%;
  background-color: var(--color-white);
}

.page-template {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
}

.page-template .welcome-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 auto;
}

.page-template .welcome-form .welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-template .welcome-form .welcome .welcome-version {
  font-size: 12px;
  font-weight: 600;
  color: #37b6c4; /*TODO Change color when variables is done */
  text-transform: uppercase;
}

.page-template .welcome-form .welcome .welcome-product {
  font-size: 40px;
  font-weight: 200;
  color: var(--color-white);
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.page-template .welcome-form .welcome .welcome-product .welcome-product-name {
  font-size: 62px;
}

.page-template .welcome-form .welcome .welcome-text {
  font-size: 20px;
  font-weight: 300;
  color: #b6bdbf; /*TODO Change color when variables is done */
}

.page-template .copyright {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-white);
  padding: 15px 0;
  opacity: 0.7;
}

