<thx-toaster-v2 (close)="navigateToLogin()"></thx-toaster-v2>

<div class="page-template">
  <div class="welcome-form">
    <div class="welcome">
      <div class="welcome-version">
        {{'sharedModule.bottomBar.version' | translate}} {{versionName}}
      </div>
      <div class="welcome-product">
        <div>{{'label.welcomeToM' | translate}}</div>
        <div class="welcome-product-name">THEx {{productName}}</div>
      </div>
      <div class="welcome-text">
        A evolução da sua plataforma de gestão hoteleira
      </div>
    </div>
    <div class="form">
      <app-new-password-form (submitNewPasswordForm)="signup($event)"></app-new-password-form>
    </div>
  </div>
  <div class="copyright">
    {{'sharedModule.bottomBar.version' | translate}} {{versionNumber}} | {{'sharedModule.bottomBar.copyright' | translate}} {{year}}
  </div>
</div>
