<app-modal-wrapper
    [modalId]="'credit-card-payment-type'"
    [title]="modalTitle"
    [maxWidth]="'500'">
    <form [formGroup]="formModalAssociateFlag" class="thf-u-padding--1">
        <div class="thf-modal-body">
            <div class="row">
                <div class="col-3">
                    <label for="plasticBrandPropertyId" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                        {{ 'paymentTypeModule.commomData.flag' | translate }}
                    </label>
                    <app-select
                        [parent]="formModalAssociateFlag.get('plasticBrandProperty')"
                        [selectId]="'plasticBrandPropertyId'"
                        [optionList]="brandList"
                        [hasFormGroup]="true">
                    </app-select>
                </div>
                <div class="col-3">
                  <label for="maxPlots"
                         class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                    {{ 'paymentTypeModule.commomData.maxPlots' | translate }}
                  </label>
                  <div class="thf-input-group thf-u-margin-top--1">
                    <div class="thf-input-select-group-icon-field">
                      <select id="maxPlots" class="thf-input thf-input-select thf-u-cursor--pointer"
                              formControlName="maxPlots">
                        <option *ngFor="let option of maxPlotsOptionList" [ngValue]="option.key">
                          {{option.value | translate}}
                        </option>
                      </select>
                      <img src="{{'arrowdown-blue.min.svg' | imgCdn}}"
                           alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
                           class="thf-input-select-icon thf-u-no-pointer-events">
                    </div>
                  </div>

                </div>
                <div class="col-2">
                    <label for="isActive" class="thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                        {{ 'paymentTypeModule.commomData.active' | translate }}
                    </label>
                    <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
                        <input type="checkbox" formControlName="isActive" class="thf-input-radio-button" [id]="formModalAssociateFlag.get('isActive')"
                        />
                        <label class="thf-u-vertical-align-super" [attr.for]="formModalAssociateFlag.get('isActive')">
                            <span class="ui"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="thf-u-margin-top--2 thf-modal-header row">
                <h6 class="thf-u-no-margin">Condições</h6>
            </div>
            <div class="thf-table-thead-tr thf-u-font--14 row thf-u-margin-top--2 d-flex justify-content-center">
                <div class="thf-table-thead-th col-3 thf-u-text-center thf-input-label--required">{{ 'paymentTypeModule.commomData.plotNumber' | translate }}</div>
                <div class="thf-table-thead-th col-3 thf-u-text-center thf-input-label--required">{{ 'paymentTypeModule.commomData.comissionPercentual' | translate }}</div>
                <div class="thf-table-thead-th col-3 thf-u-text-center thf-input-label--required">{{ 'paymentTypeModule.commomData.receiptDeadline' | translate }}</div>
            </div>
            <div class="overflow-plots">
              <div formArrayName="conditionList"
                   *ngFor="let condition of getFormArray(formModalAssociateFlag); let i = index;">
                <div [hidden]="i > formModalAssociateFlag.get('maxPlots').value - 1">
                  <div class="row thf-u-margin-top--1 d-flex justify-content-center" [formGroupName]="i">
                    <div class="col-3">
                      <input formControlName="installmentNumber"
                             type="number"
                             class="thf-input thf-input-label--required thf-u-type-number-reset"
                             placeholder="{{ 'paymentTypeModule.commomData.numberOfPlots' | translate }}"/>
                    </div>
                    <div class="col-3">
                      <input formControlName="commissionPct"
                             type="number"
                             class="thf-input thf-input-label--required thf-u-type-number-reset"
                             placeholder="{{ 'paymentTypeModule.commomData.commission' | translate }}"/>
                    </div>
                    <div class="col-3">
                      <input formControlName="paymentDeadline"
                             type="number"
                             class="thf-input thf-input-label--required thf-u-type-number-reset"
                             placeholder="{{ 'paymentTypeModule.commomData.daysNumber' | translate }}"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="thf-modal-footer">
            <div class="row justify-content-end">
                <div class="col-sm-4 col-md-3">
                    <app-button [buttonConfig]="buttonCancelConfig"></app-button>
                </div>
                <div class="col-sm-4 col-md-3">
                    <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
                </div>
            </div>
        </div>
    </form>
</app-modal-wrapper>

<app-group-content [hasButton]="true" [buttonConfigSetted]="buttonAssociateFlag" [title]="'paymentTypeModule.commomData.subTitleTwo'">
    <div class="row" [ngClass]="{'thf-u-no-pointer-events': isDisabled}">
        <div class="col">
            <div class="thf-u-margin-top--2">
                <ngx-datatable
                #myTable
                class='material expandable material-padding-default'
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="45"
                [rows]='propertyPaymentTypeIssuingBankDetailList'
                [limit]="10">
                <!-- Row Detail Template -->
                <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow>
                    <ng-template let-row="row" ngx-datatable-row-detail-template>
                    <tr class="datatable-body-row" [style.height.px]="45" *ngFor="let childCondition of row.billingItemPaymentTypeDetailConditionList">
                        <td class="datatable-body-cell" [style.width.px]="widthColumns[0]"></td>
                        <td class="datatable-body-cell" [style.width.px]="widthColumns[1]" app-click-stop-propagation></td>
                        <td class="datatable-body-cell" [style.width.px]="widthColumns[2]">{{ row.plasticBrandPropertyName }}</td>
                        <td class="datatable-body-cell" [style.width.px]="widthColumns[3]">{{ row.maximumInstallmentsQuantity }}</td>
                        <td class="datatable-body-cell" [style.width.px]="widthColumns[4]">{{childCondition.installmentNumber}}</td>
                        <td class="datatable-body-cell" [style.width.px]="widthColumns[5]">{{childCondition.commissionPct}}%</td>
                        <td class="datatable-body-cell" [style.width.px]="widthColumns[6]">{{childCondition.paymentDeadline}} {{'commomData.days' | translate}}</td>
                    </tr>
                    </ng-template>
                </ngx-datatable-row-detail>
                <!-- Column Templates -->
                <ngx-datatable-column
                    [width]="50"
                    [resizeable]="false"
                    [sortable]="false"
                    [draggable]="false"
                    [canAutoResize]="false">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                    <a href="javascript:void(0)"
                        [class.datatable-icon-right]="!expanded"
                        [class.datatable-icon-down]="expanded"
                        title="Expand/Collapse Row"
                        (click)="toggleExpandRow(row)"
                        *ngIf="row.billingItemPaymentTypeDetailConditionList && row.billingItemPaymentTypeDetailConditionList.length > 1">
                    </a>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]="70">
                    <ng-template ngx-datatable-header-template>
                        {{ 'paymentTypeModule.commomData.active' | translate }}
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                    <input type="checkbox" [(ngModel)]="row.isActive" (ngModelChange)="itemWasUpdated(row)" [checked]="row.isActive" class="thf-input-radio-button" [id]="row.id"/>
                    <label class="thf-u-vertical-align-super" [attr.for]="row.id">
                        <span class="ui"></span>
                    </label>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]="90">
                    <ng-template ngx-datatable-header-template>
                        {{ 'paymentTypeModule.commomData.flag' | translate }}
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.plasticBrandPropertyName }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]="95">
                    <ng-template ngx-datatable-header-template>
                        {{ 'paymentTypeModule.commomData.maxPlots' | translate }}
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.maximumInstallmentsQuantity }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]="95">
                    <ng-template ngx-datatable-header-template>
                        {{ 'paymentTypeModule.commomData.numberOfPlots' | translate }}
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.billingItemPaymentTypeDetailConditionList[0].installmentNumber }}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]="80">
                    <ng-template ngx-datatable-header-template>
                        {{ 'paymentTypeModule.commomData.commission' | translate }}
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.billingItemPaymentTypeDetailConditionList[0].commissionPct}}%
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column>
                    <ng-template ngx-datatable-header-template>
                        {{ 'paymentTypeModule.commomData.receiptDeadline' | translate }}
                    </ng-template>
                    <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.billingItemPaymentTypeDetailConditionList[0].paymentDeadline}} {{'commomData.days' | translate}}
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column
                    [width]="50"
                    [resizeable]="false"
                    [sortable]="false"
                    [draggable]="false"
                    [canAutoResize]="false"
                    [cellClass]="'thf-u-no-padding'">
                    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                        <app-submenu-options [items]="itemsOption" (itemWasAction)="rowAction($event, row, rowIndex)"></app-submenu-options>
                    </ng-template>
                </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</app-group-content>
