<div class="thf-u-position--relative" (window:scroll)="sidebarFixed()" #sidebarContainer>
  <div class="thf-sidebar--fixed thf-u-overflow-x--hidden thf-u-overflow-y--1" #sidebarContent
       [ngClass]="{'thf-u-position--fixed thf-sidebar--fixed-top--20':isFixed}">
    <ng-content></ng-content>
  </div>
</div>
