<div class="property-card"
     [style.border-bottom-color]="statusColor"
     (click)="chooseProperty(property)">
  <div class="property-card-img">
    <!-- TODO change to dynamic img when upload is done-->
    <img [alt]="property?.brand?.name"
         [title]="property?.brand?.name"
         [src]="urlPhoto"
          class="full-Width">
  </div>
  <div class="property-card-initials">
    {{getPropertyInitials()}}
  </div>
  <div class="property-card-content">
    <h6 class="name thf-u-font--14">{{property?.name}}</h6>
    <p class="chain thf-u-no-margin">{{property?.brand?.chain?.name}}</p>
    <p class="brand thf-u-no-margin">{{property?.brand?.name}}</p>
    <div class="label-status"
         [style.background-color]="statusColor">
      {{statusName}}
    </div>
  </div>
</div>
