.property-card {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06);
  border: 1px solid transparent;
  border-bottom: 4px solid #00B992; /*TODO Change color when variables is done */
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

.property-card-initials {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  font-size: 26px;
  margin: -30px auto 0 auto;
  color: #717678; /*TODO Change color when variables is done */
  background-color: #f4f7f8; /*TODO Change color when variables is done */
  border: 0;
  border-radius: 100%;
}

.property-card-img {
  position: relative;
  width: 100%;
  height: 112px;
  overflow: hidden;
}

.property-card-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 8px;
  flex-direction: column;
  flex: 1 0 auto;
  background-color: var(--color-white);
}

.property-card-content .name {
  text-align: center;
  flex: 1 0 auto;
}

.property-card-content .chain,
.property-card-content .brand {
  font-size: 11px;
  color: #717678; /*TODO Change color when variables is done */
}

.property-card-content .label-status {
  width: max-content;
  font-size: 10px;
  padding: 1px 8px;
  margin-top: 1em;
  color: var(--color-white);
  background-color: #00B992; /*TODO Change color when variables is done */
  border-radius: 6px;
}

.full-Width {
  display: block;
  width: 100%;
  height: 100%;
}
