<div class="selector-container">
  <div *ngFor="let item of list" (click)="selectUser(item)" class="selector-card">
    <div class="circle-image" [ngClass]="{'--active': selectedType == item}">
      <img class="selector-image" src="{{item?.value | profileIcon | imgCdn}}"/>
    </div>
    <p class="selector-title">{{item?.text}}</p>
  </div>
</div>
