@import './_variables';

.selector-container {
  display: flex;
  flex: 1 1 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.selector-card {
  border-radius: 10px;
}

.circle-image {
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 20px 0 rgba($black-color, 0.08);
  border-radius: 100px;
  border: solid 1px $grey-color--15;
  height: 110px;
  width: 110px;
  background-color: $white-color;

  &.--active {
    background-color: rgba($primary-color, 0.15);
  }
  &:hover{
    background-color: rgba($primary-color, 0.15);
    cursor: pointer;
  }
}

.selector-title {
  font-size: 13px;
  margin: 15px auto;
  text-align: center;
}
