.thf-icon-company, .thf-icon-more-vert {
  color: var(--color-blue);
}

.thf-icon-more-vert {
  font-size: 26px;
}

.thf-icon-info {
  color: var(--color-grey-feldgrau);
}

.initials-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-blue);
  height: 33px;
  width: 33px;
  border: 0;
  border-radius: 100%;
}

.link-action-history {
  color: var(--color-blue);
  text-decoration: underline;
}

.isBlocked {
  background-color: var(--color-red-lighter);
  border-left: 4px solid var(--color-danger);
}

.label-blocked {
  padding: 1px 3px;
  font-size: 10px;
  color: var(--color-white);
  background-color: var(--color-danger);
  border: 0;
  border-radius: 3px;
}
