<div class="thf-shadow-card" [ngClass]="{'isBlocked': property?.isBlocked}">
  <div class="thf-row thf-divider">
    <div class="thf-md-8 thf-font-text-bold">
      <span class="thf-icon thf-icon-company thf-mr-1"></span>
      <span>{{property?.name}}</span>
    </div>
    <div class="thf-md-2">
      <span class="initials-name">{{property?.initialsName}}</span>
    </div>
    <div class="thf-md-2">
      <span #actionsPopover class="thf-icon thf-icon-more-vert thf-clickable actions" (click)="popup.toggle()"></span>
      <thf-popup
        #popup
        [t-actions]="actions"
        [t-target]="actionsPopover">
      </thf-popup>
    </div>
  </div>
  <div class="thf-row thf-mb-1">
    <div class="thf-md-12">
      <span class="label-blocked thf-mb-1" *ngIf="property?.isBlocked">
        <span class="thf-icon thf-icon-lock"></span>
        {{'label.blocked' | translate}}
      </span>
      <div>
        {{'label.inclusionDate' | translate}}:
        <span class="thf-font-text-bold">{{property?.creationDate | amDateFormat:'L'}}</span>
      </div>
    </div>
  </div>
  <div class="thf-row thf-pb-1">
    <div class="thf-md-12">
      <span class="thf-icon thf-icon-info thf-mr-1"></span>
      <span #target class="thf-clickable link-action-history thf-font-text">
        {{'label.actionsHistory' | translate}}
      </span>
      <thf-popover
        #popover
        t-trigger="click"
        t-position="bottom-right"
        [t-target]="targetPopover"
        class="thf-font-text-small">
        <div class="thf-mb-2">{{'label.changesHistory' | translate}}:</div>
        <div *ngFor="let history of property?.propertyStatusHistoryDtoList">
          <div *ngIf="history.propertyStatusId == propertyStatus.register">
            {{'label.addDate' | translate}}: {{history.creationDate | amDateFormat:'L'}}
          </div>
          <div *ngIf="history.propertyStatusId == propertyStatus.contract">
            {{'label.releasedForContract' | translate}}: {{history.creationDate | amDateFormat:'L'}}
          </div>
          <div *ngIf="history.propertyStatusId == propertyStatus.training">
            {{'label.releasedForTraining' | translate}}: {{history.creationDate | amDateFormat:'L'}}
          </div>
          <div *ngIf="history.propertyStatusId == propertyStatus.production">
            {{'label.releasedForProduction' | translate}}: {{history.creationDate | amDateFormat:'L'}}
          </div>
          <div *ngIf="history.propertyStatusId == propertyStatus.blocked">
            {{'label.blockedAt' | translate}}: {{history.creationDate | amDateFormat:'L'}}
          </div>
          <div *ngIf="history.propertyStatusId == propertyStatus.unblocked">
            {{'label.unblockedAt' | translate}}: {{history.creationDate | amDateFormat:'L'}}
          </div>
        </div>
      </thf-popover>
    </div>
  </div>
</div>
