<div class="card" >
  <div class="card-header-container">
    <div class="card-header-text">
      <ng-content select=".card-text-header" ></ng-content>
    </div>
    <div class="card-button-container" >
      <thx-icon-button
        [icon]="buttonIcon"
        [size]="buttonSize"
        [type]="buttonType"
        (buttonClick)="toggle()"
        class="button-center">
      </thx-icon-button>
    </div>
  </div>
  <div
    class="card-body-container"
    [ngClass]="{ 'card-open' : cardOpen }" >
    <ng-content></ng-content>
  </div>
</div>

