:host {
  display: block;
}
.card {
  border-radius: 5px;
  box-shadow: 5px 5px 15px var(--color-grey-light);
}
.card-header-container, .card-button-container {
  display: flex;
}
.card-header-text {
  width: 95%;
}
.card-text-header {
  height: 100%;
  display: flex;
}
.card-button-container {
  margin: 5px;
}
.card-body-container {
  padding: 10px;
  display: none;
}
.card-open {
  display: block;
}
.button-center {
  align-self: center;
}
