<form [formGroup]="addressForm">
  <div class="row" *ngIf="showAddressType">
    <div class="col-4">
      <thx-select-v2
        [title]="'label.addressType' | translate" formControlName="addressType"
        [optionList]="addressTypeOptionSelectList" ></thx-select-v2>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <thx-select-v2
        [title]="'commomData.address.country' | translate" formControlName="countryCode"
        [optionList]="countryOptionSelectList"></thx-select-v2>
    </div>
    <div class="col-9">
      <thx-input-locale
        [title]="'commomData.address.locality' | translate"
        [infoText]="'text.sampleAddress' | translate"
        [optionGooglePlaceApi]="optionGooglePlaceApi"
        (addressSelected)="searchLocale($event)" ></thx-input-locale>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <thx-input-text [title]="'commomData.address.number' | translate" formControlName="streetNumber" ></thx-input-text>
    </div>
    <div class="col-3">
      <thx-input-text [title]="'commomData.address.complement' | translate" formControlName="streetComplement"></thx-input-text>
    </div>
    <div class="col-4">
      <thx-input-text [title]="'commomData.address.city' | translate"  formControlName="subdivision"></thx-input-text>
    </div>
    <div class="col-1">
      <thx-input-text [title]="'commomData.address.uf' | translate"  formControlName="division"></thx-input-text>
    </div>
    <div class="col-2">
      <thx-input-text [title]="'commomData.address.postalCode' | translate" formControlName="postalCode" ></thx-input-text>
    </div>
  </div>
</form>
