
<div *ngIf="idsModals[modalId]" [class.thf-modal]="idsModals[modalId]">
  <div class="thf-modal-dialog" [ngClass]="extraClass" [style.max-width]="maxWidth" [style.min-width]="minWidth">
    <!-- HEADER -->
    <div class="thf-modal-header" [ngClass]="extraHeaderClass"   *ngIf="showHeader">
      <h2 class="thf-u-font--25" *ngIf="!showModalIdInTitle && !modalWithParams">{{ title | translate }}</h2>
      <h2 class="thf-u-font--25" *ngIf="showModalIdInTitle && !modalWithParams">{{ title | translate }} - {{modalId}}</h2>
      <h2 class="thf-u-font--25" *ngIf="modalWithParams && !title">{{ modalWithParams.title | translate:modalWithParams.params }}</h2>
      <a *ngIf="!hideClose" (click)="emitCloseModal(modalId)" class="thf-btn-close-modal thf-u-font--30" role="button" aria-hidden="true">×</a>
    </div>

    <ng-content></ng-content>

  </div>
</div>
