<app-load></app-load>
<app-load-new></app-load-new>
<app-toaster></app-toaster>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-flex justify-content-between">
      <thx-img src="pms-gray.svg"></thx-img>
      <div>
        <div class="totvs-rights">
          <thx-img src="totvs-logo.svg"></thx-img>
          <div class="thex-font-size-small thex-gray-50" >{{'label.allRights' | translate}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row top-card-wrapper">
    <div class="col-12">
      <app-room-list-top-card [externalRoomlistHeader]="roomlistInfo" ></app-room-list-top-card>
    </div>
  </div>

  <div class="row">
      <div class="col-4">
          <app-room-list-side-bar [externalRoomlistItemList]="roomlistInfo?.externalRoomListDto?.items" ></app-room-list-side-bar>
      </div>
      <div class="col-8">
          <app-room-list-form *ngFor="let guest of guestList; let i = index"
                              [title]="getFormTitle(guest)"
                              [expanded]="isExpanded(i)"
                              [guest]="guest" ></app-room-list-form>
          <div class="d-flex d-flex justify-content-between">
            <div>
              <app-button [buttonConfig]="previousButtonConfig" *ngIf="roomlistCardSelected.getActivatedIndex() > 0" >
                <div>
                  <span class="left-icon">
                    <thx-img [src]="'arrow-top.svg'"></thx-img>
                  </span>
                  <span>{{'label.backUh' | translate}}</span>
                </div>
              </app-button>
            </div>
            <div>
              <app-button [buttonConfig]="nextButtonConfig" *ngIf="canShowNextButton()" >
                <div>
                  <span>{{'label.nextUh' | translate}}</span>
                  <span class="right-icon">
                    <thx-img [src]="'arrow-top.svg'"></thx-img>
                  </span>
                </div>
              </app-button>
            </div>
          </div>
      </div>
  </div>

</div>
