@import "./variables";
:host {
  background-color: $bg-color--light;
  display: block;
  min-height: 100vh;
  height: auto;
  padding: 20px 30px;

  .totvs-rights {
    opacity: .7;
    text-align: right;
  }

  .top-card-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  app-room-list-form {
    margin-bottom: 15px;
  }

  app-button {
    div {
      padding: 0 10px;
    }
  }

  .right-icon thx-img {
    transform: rotate(90deg);
    display: inline-block;
  }
  .left-icon thx-img {
    transform: rotate(-90deg);
    display: inline-block;
  }
}

