<div (click)="hideAllPopovers()">
  <app-header-page-new *ngIf="!isWalkin" [config]="configHeaderPage">
    <header-title>
      {{'checkinModule.guestFnrhcreateEdit.pageHeader.title' | translate }} {{reservationItemCode}}
    </header-title>
  </app-header-page-new>

  <app-header-page-new *ngIf="isWalkin" [config]="configHeaderPage" [hasHeaderMiddleText]="true">
    <header-title>
      {{'checkinModule.guestFnrhcreateEdit.pageHeader.title' | translate }} {{reservationItemCode}}
    </header-title>
    <header-middle-text>
      {{'checkinModule.guestFnrhcreateEdit.pageHeader.middleText' | translate }} ( {{numberOfReservationItemThatAreDoingCheckin}}
      / {{totalReservationItem}} )
    </header-middle-text>
  </app-header-page-new>

  <app-guest-fnrh-header
    #componentHeader
    [sidebar]="sidebar"
    [dataHeader]="checkInHeaderDto"
    [isWalkin]="isWalkin"
    (click)="hideAllPopovers()"
    (reservationBudgetClicked)="goToReservationBudget()">
  </app-guest-fnrh-header>

  <div class="thf-u-margin-top--2"></div>

  <div class="row">
    <div class="col-xl-3 col-md-4 thf-u-no-padding-right">
      <app-guest-fnrh-sidebar
        #sidebar
        [widht100]="false"
        [dataSidebar]="reservationItemListDto"
        (canChooseGuestCard)="setFnrhToView($event)"
        (setGuestReservationItemListForCheckinEvent)="setGuestReservationItemListForCheckin($event)"></app-guest-fnrh-sidebar>
    </div>
    <div class="col-xl-9 col-md-8">
      <app-fnrh
        #fnrhComponent
        [config]="config"
        [responsableList]="responsableList"
        [guestListQuantity]="reservationItemListDto?.length"
        (appliedAddress)="setAddressToApply($event)"
        (formGroupUpdated)="fnrhChange($event)"
        (fnrhSaved)="fnrhSaved($event)">
      </app-fnrh>
    </div>
  </div>
  <div class="row justify-content-end thf-u-margin-top--3">

    <div class="col-2">
      <app-button [buttonConfig]="buttonCancelConfig"></app-button>
    </div>
    <div class="col-2">
      <button
        type="button"
        (click)="confirmCheckin()"
        [disabled]="buttonConfirmCheckinDisabled"
        id="confirm-checkin" name="confirm-checkin"
        class="thf-btn thf-btn-primary">
        <span class="hidden-lg-down" >{{ 'action.confirm' | translate }}</span> <span>{{'label.checkin' | translate}}</span>
      </button>
    </div>
  </div>
</div>

<app-modal-wrapper [modalId]="this.MODAL_PRINT_ALL" [title]="'title.printCheckin'" [closeCallbackFunction]="closePrintAllModalCallback">
  <div class="thf-modal-body hp-modal-body--originList">
    <div class="row">
      <div class="col-12">
        {{ 'alert.printCheckinGuests' | translate }}
      </div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonNotPrintConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonPrintAllConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<app-modal-message-confirm
  [modalId]="MODAL_CONFIRM_EDIT_FNRH"
  message="alert.fnrhNotSavedYet"
  (cancelClicked)="cancelNotSaveFnrh()"
  (confirmClicked)="confirmNotToSaveFnrh()">
</app-modal-message-confirm>

<app-modal-message-confirm
  [modalId]="MODAL_CONFIRM_TOURISM_TAX"
  message="alert.wantMakeTourismFeePostings"
  (cancelClicked)="cancelTourismTax()"
  (confirmClicked)="confirmTourismTax()">
</app-modal-message-confirm>
