<admin-group
  [title]="i18n.brand"
  [isOpen]="true">
  <div class="thx-group-header-actions">
    <thf-button
      [t-label]="i18n.associateBrand"
      (t-click)="modal.open()"
    ></thf-button>
  </div>
  <admin-brand-list
    [columns]="['name']"
    [brands]="selectedBrands"
    [actions]="actions"
  ></admin-brand-list>
  <admin-brand-modal-form-list
    #modal
    [brands]="brands"
    [selectedBrands]="selectedBrands"
    (submitted)="handleSelectedBrands($event)"
  ></admin-brand-modal-form-list>
</admin-group>
