<div class="row">
  <div class="col-12">
    <thx-page-title [title]="title"></thx-page-title>
  </div>
</div>

<div class="row h-100">
  <div class="col-md-3 col-lg-3 col-xl-2 thf-u-no-padding">
    <app-property-sidebar-container></app-property-sidebar-container>
  </div>
  <div class="col-md-9 col-lg-9 col-xl-10">
    <router-outlet></router-outlet>
  </div>
</div>
