<div [ngClass]="'thf-slimbox thf-slimbox-default'" [class]="slimboxStyleClass">
  <div *ngIf="hasHeader" class="thf-slimbox-header"
          [ngClass]="{'thf-slimbox-header--default': type == 'default'}">
    <ng-content select="slimbox-header"></ng-content>
  </div>
  <div class="thf-slimbox-body"
       [ngClass]="{'thf-slimbox-body--default': type == 'default'}">
    <ng-content select="slimbox-content"></ng-content>
  </div>
  <div *ngIf="hasFooter" class="thf-slimbox-footer"
       [ngClass]="{'thf-slimbox-footer--default': type == 'default'}">
    <ng-content select="slimbox-footer"></ng-content>
  </div>
</div>
