.products-tributes-add-view-wrapper {
  .row-without-margin {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button-header {
    min-width: 150px;
    margin-right: 15px;
  }
}
