<div class="thf-progress-bar" [ngClass]="class"
     [ngStyle]="style"
     [style.backgroundColor]="bgColor"
     [style.color]="textColor"
     [attr.aria-valuenow]="value"
     aria-valuemin="0"
     aria-valuemax="100">
  <div class="label thf-u-padding-left--1">
    <ng-content></ng-content>
  </div>

  <div class="value thf-u-padding-right--1">
    {{ value }}{{ unit }}
  </div>
</div>
