.thf-progress-bar {
  height: 2.5em;
  position: relative;
  overflow: hidden;
  color: #FFFFFF;
  border-radius: 4px;
}

.label, .value {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
}

.label {
  left: 0;
  justify-content: flex-start;
}

.value {
  right: 0;
  justify-content: flex-end;
}

:host ::ng-deep img,
:host ::ng-deep i {
  max-height: 18px;
  margin-right: 10px;
  filter: brightness(0) invert(1);
}

:host ::ng-deep i {
  width: 20px;
  text-align: center;
}
