<thx-datatable
  [columns]="columns"
  [itens]="itemsList"
  [hasLastCell]="false"
  [rowHeight]="64"
  [headerHeight]="48">
</thx-datatable>

<ng-template #header1>
  <div>{{ 'label.children' | translate }}</div>
  <div>{{ ageText1 }}</div>
</ng-template>


<ng-template #header2>
  <div>{{ 'label.children' | translate }}</div>
  <div>{{ ageText2 }}</div>
</ng-template>

<ng-template #header3>
  <div>{{ 'label.children' | translate }}</div>
  <div>{{ ageText3 }}</div>
</ng-template>


<ng-template #firstRowInfo let-row="row">
  <div>
    <div
      class="thf-u-font--13 thf-u-font--bold">
      {{ row?.abbreviation }}
    </div>
    <div class="thf-u-font--10 label-danger-color">
      {{ row?.roomTypeListMinMaxRate }}
    </div>
  </div>
</ng-template>

<ng-template #paxOne let-row="row">
  <div
    class="premise-rate-cell-wrapper"
    *ngIf="row?.adultCapacity >= 1 && (!row?.isRowReference || (row?.isRowReference && paxReference != 1))">
    <input
      currencyMask
      [options]="optionsCurrencyMask"
      (ngModelChange)="modelHasBeenUpdated($event)"
      [(ngModel)]="row.pax1Amount"
      class="premise-rate-cell thf-u-text-center">
    <div
      class="thf-u-font--10"
      *ngIf="(row.pax1Amount >= row?.minimumRate && row?.pax1Amount <= row?.maximumRate)"
      >
      {{ row?.pax1Operator}} {{ row?.pax1 | currencyFormat:null:2:'.':',':3:false }}
    </div>
    <!-- error message -->
    <div
      *ngIf="(row.pax1Amount < row?.minimumRate || row?.pax1Amount > row?.maximumRate)"
      class="thf-u-font--10 label-danger-color">
      {{ 'text.valueOutOfRangeRoom' | translate }}
    </div>
  </div>
  <div
    *ngIf="row?.adultCapacity >= 1 && (paxReference == 1 && row?.isRowReference)"
    class="premise-rate-cell-reference current thf-u-text-center">
    {{
      _currentPremiseValue | currencyFormat:null:2:'.':',':3:false
    }}</div>
</ng-template>


<ng-template #paxTwo let-row="row">
  <div
    class="premise-rate-cell-wrapper"
    *ngIf="row?.adultCapacity >= 2 && (!row?.isRowReference || (row?.isRowReference && paxReference != 2))">
    <input
      currencyMask
      [options]="optionsCurrencyMask"
      [(ngModel)]="row.pax2Amount"
      (ngModelChange)="modelHasBeenUpdated($event)"
      class="premise-rate-cell thf-u-text-center">
    <div
      *ngIf="(row.pax2Amount >= row?.minimumRate && row?.pax2Amount <= row?.maximumRate)"
      class="thf-u-font--10">
      {{ row?.pax2Operator}} {{ row?.pax2 | currencyFormat:null:2:'.':',':3:false }}
    </div>
    <!-- error message -->
    <div
      *ngIf="(row.pax2Amount < row?.minimumRate || row?.pax2Amount > row?.maximumRate)"
      class="thf-u-font--10 label-danger-color">
      {{ 'text.valueOutOfRangeRoom' | translate }}
    </div>
  </div>
  <div
    *ngIf="row?.adultCapacity >= 2
      && (paxReference == 2 && row?.isRowReference)"
    class="premise-rate-cell-reference current thf-u-text-center">{{
    _currentPremiseValue | currencyFormat:null:2:'.':',':3:false
    }}</div>
</ng-template>

<ng-template #paxThree let-row="row">
  <div
    class="premise-rate-cell-wrapper"
    *ngIf="row?.adultCapacity >= 3 && (!row?.isRowReference || (row?.isRowReference && paxReference != 3))">
    <input
      currencyMask
      [options]="optionsCurrencyMask"
      [(ngModel)]="row.pax3Amount"
      (ngModelChange)="modelHasBeenUpdated($event)"
      class="premise-rate-cell thf-u-text-center">
    <div
      *ngIf="(row.pax3Amount >= row?.minimumRate && row?.pax3Amount <= row?.maximumRate)"
      class="thf-u-font--10">
      {{ row?.pax3Operator}} {{ row?.pax3 | currencyFormat:null:2:'.':',':3:false }}
    </div>
    <!-- error message -->
    <div
      *ngIf="(row.pax3Amount < row?.minimumRate || row?.pax3Amount > row?.maximumRate)"
      class="thf-u-font--10 label-danger-color">
      {{ 'text.valueOutOfRangeRoom' | translate }}
    </div>
  </div>
  <div
    *ngIf="row?.adultCapacity >= 3 && (paxReference == 3 && row?.isRowReference)"
    class="premise-rate-cell-reference current thf-u-text-center">{{
    _currentPremiseValue | currencyFormat:null:2:'.':',':3:false
    }}</div>
</ng-template>

<ng-template #paxFour let-row="row">
  <div
    class="premise-rate-cell-wrapper"
    *ngIf="row?.adultCapacity >= 4 && (!row?.isRowReference || (row?.isRowReference && paxReference != 4))">
    <input
      currencyMask
      [options]="optionsCurrencyMask"
      [(ngModel)]="row.pax4Amount"
      (ngModelChange)="modelHasBeenUpdated($event)"
      class="premise-rate-cell thf-u-text-center">
    <div
      *ngIf="(row.pax4Amount >= row?.minimumRate && row?.pax4Amount <= row?.maximumRate)"
      class="thf-u-font--10">
      {{ row?.pax4Operator}} {{ row?.pax4 | currencyFormat:null:2:'.':',':3:false }}
    </div>
    <!-- error message -->
    <div
      *ngIf="(row.pax4Amount < row?.minimumRate || row?.pax4Amount > row?.maximumRate)"
      class="thf-u-font--10 label-danger-color">
      {{ 'text.valueOutOfRangeRoom' | translate }}
    </div>
  </div>
  <div
    *ngIf="row?.adultCapacity >= 4 && (paxReference == 4 && row?.isRowReference)"
    class="premise-rate-cell-reference current thf-u-text-center">{{
    _currentPremiseValue | currencyFormat:null:2:'.':',':3:false
    }}</div>
</ng-template>


<ng-template #paxFive let-row="row">
  <div
    class="premise-rate-cell-wrapper"
    *ngIf="row?.adultCapacity >= 5 && (!row?.isRowReference || (row?.isRowReference && paxReference != 5))">
    <input
      currencyMask
      [options]="optionsCurrencyMask"
      [(ngModel)]="row.pax5Amount"
      (ngModelChange)="modelHasBeenUpdated($event)"
      class="premise-rate-cell thf-u-text-center">
    <div
      *ngIf="(row.pax5Amount >= row?.minimumRate && row?.pax5Amount <= row?.maximumRate)"
      class="thf-u-font--10">
      {{ row?.pax5Operator}} {{ row?.pax5 | currencyFormat:null:2:'.':',':3:false }}
    </div>
    <!-- error message -->
    <div
      *ngIf="(row.pax5Amount < row?.minimumRate || row?.pax5Amount > row?.maximumRate)"
      class="thf-u-font--10 label-danger-color">
      {{ 'text.valueOutOfRangeRoom' | translate }}
    </div>
  </div>
  <div
    *ngIf="row?.adultCapacity >= 5 && (paxReference == 5 && row?.isRowReference)"
    class="premise-rate-cell-reference current thf-u-text-center">{{
    _currentPremiseValue | currencyFormat:null:2:'.':',':3:false
    }}</div>
</ng-template>

<ng-template #paxAdditional let-row="row">
  <div
    class="premise-rate-cell-wrapper"
    *ngIf="row?.adultCapacity >= 6 && (!row?.isRowReference || (row?.isRowReference && paxReference < 5))">
    <input
      currencyMask
      [options]="optionsCurrencyMask"
      [(ngModel)]="row.paxAdditionalValue"
      (ngModelChange)="modelHasBeenUpdated($event);"
      class="premise-rate-cell thf-u-text-center">
  </div>
</ng-template>


<ng-template #child1 let-row="row">
  <div
    class="premise-rate-cell-wrapper"
    *ngIf="row">
    <input
      currencyMask
      [options]="optionsCurrencyMask"
      [(ngModel)]="row.child1Amount"
      (ngModelChange)="modelHasBeenUpdated($event)"
      class="premise-rate-cell thf-u-text-center">
  </div>
</ng-template>

<ng-template #child2 let-row="row">
  <div
    class="premise-rate-cell-wrapper"
    *ngIf="row">
    <input
      currencyMask
      [options]="optionsCurrencyMask"
      [(ngModel)]="row.child2Amount"
      (ngModelChange)="modelHasBeenUpdated($event)"
      class="premise-rate-cell thf-u-text-center">
  </div>
</ng-template>

<ng-template #child3 let-row="row">
  <div
    class="premise-rate-cell-wrapper"
    *ngIf="row">
    <input
      currencyMask
      [options]="optionsCurrencyMask"
      [(ngModel)]="row.child3Amount"
      (ngModelChange)="modelHasBeenUpdated($event)"
      class="premise-rate-cell thf-u-text-center">
  </div>
</ng-template>

