.premise-rate-cell-wrapper {
  width: 92px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.label-danger-color{
  color: var(--color-danger) !important;
}

.premise-rate-cell, .premise-rate-cell-reference {
  background: #FFFFFF;
  border: 1px solid var(--color-grey);
  box-shadow: inset 1px 1px 3px 3px rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  width: 90px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.current {
    border-color: var(--color-card-products-price) !important;
    color: var(--color-card-products-price) !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
