<h5 class="day" [ngClass]="isToday ? 'today' : ''">
  <span class="number">
    {{date?.getDay()}}
  </span>
  <span class="label">
    {{ isToday ? labels?.today : isFirstDay ? month : ''}}
  </span>
</h5>

<div class="occupation"
     [ngClass]="{
        'overbook': occupation > 100,
        'full-house': occupation == 100
     }">
  <span *ngIf="occupation > 100">{{ labels?.overbook }} {{ occupation + '%' }}</span>
  <span *ngIf="occupation <= 100">{{ occupation + '%' }} {{ labels?.occupation }}</span>
</div>
