.day {
  position: absolute;
  top: 15%;
  left: 9%;
  line-height: 1.18em;
  font-weight: 300;
  color: var(--color-sirocco);

  span {
    display: inline-block;
  }

  .label {
    text-transform: capitalize;
  }

  &.today {
    transform: translate(-5px, -5px);

    .number {
      width: 1.18em;
      line-height: 1.30em;
      height: 1.18em;
      text-align: center;
      background: var(--color-blue);
      color: var(--color-white);
      border: 6px solid var(--color-blue);
      border-radius: 50%;
    }

    .label {
      font-size: .8em;
      color: var(--color-blue);
    }
  }
}

.occupation {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-sirocco);
  color: #ffffff;
  font-size: 9px;
  padding: 1px 4px;

  &.full-house {
    background-color: var(--color-status--no-show);
  }

  &.overbook {
    background-color: var(--color-red);
  }
}
