<div [ngClass]="{'thf-modal': isVisible}" aria-hidden="true">
  <div class="thf-modal-dialog">
    <div class="thf-modal-header">
      <h2 class="thf-u-font--20">{{ 'reservationModule.commomData.groupOptions' | translate }}</h2>
      <a (click)="closeModal()" class="thf-btn-close-modal thf-u-font--30" role="button" aria-hidden="true">×</a>
    </div>
    <div class="thf-modal-body">
      <div class="row">
        <div class="col-6">
          <label for="groupName" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'reservationModule.commomData.groupName' | translate }}</label>
          <input id="groupName" class="thf-input" [(ngModel)]="reserveGroupOption.groupName"
                 [readOnly]="readonly"/>
        </div>
        <div class="col-6 thf-u-text-center">
          <label for="unifyAccount" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'reservationModule.commomData.unifyAccount' | translate }}</label>
          <div>
            <input id="unifyAccount" type="checkbox" class="thf-input-radio-button" [(ngModel)]="reserveGroupOption.unifyAccounts"
                   [disabled]="readonly"/>
            <label class="thf-u-vertical-align-super thf-u-margin-top--1" for="unifyAccount">
              <span class="ui"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!readonly"
         class="thf-modal-footer">
      <div class="row">
        <div class="col-3 offset-6">
          <button (click)="closeModal()" role="button" class="thf-btn thf-btn-secondary">{{ 'commomData.not' | translate }}</button>
        </div>
        <div class="col-3">
          <button (click)="saveReservationGroupOption()" role="button" class="thf-btn thf-btn-primary">{{ 'commomData.yes' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
