<div class="uh-checkbox-wrapper">
  <input
    [name]="checkboxGroupName"
    [id]="checkboxId"
    [checked]="isChecked"
    [disabled]="isDisabled"
    [(ngModel)]="isChecked"
    (change)="changed($event)"
    type="checkbox"
    class="uh-checkbox">
  <label
    [for]="checkboxId"
    class="uh-checkbox-label">
    <i
      class="mdi mdi-check"
      [ngClass]="{'mdi-check': isChecked, 'no-checked': !isChecked}"
    ></i>
    <span class="uh-text-centered">
      {{ checkboxText }}
    </span>
  </label>
</div>
