:host{
  display: flex;
  flex: 0 0 33%;
  max-width: 140px;
  padding-right: 15px;
  padding-left: 15px;
}

:host .uh-checkbox-wrapper{
  width: 100%;
}

:host .uh-checkbox{
  display: none;
}

:host input:disabled{
  cursor: not-allowed;
}

:host input + label.uh-checkbox-label{
  height: 44px;
  width: 100%;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  position: relative;
  border: 1px solid var(--color-blue-dark);
  color: var(--color-blue-dark);
}

:host input:checked + label.uh-checkbox-label{
  background-color: var(--color-blue-darker);
  color: var(--color-white);
}

:host input:disabled + label.uh-checkbox-label{
  border: 1px solid var(--color-checkbox-disabled-border);
  background-color: var(--color-checkbox-disabled-background);
  color: var(--color-checkbox-disabled-text);
  cursor: not-allowed;
}

:host input + label.uh-checkbox-label:hover {
  cursor: pointer;
}

:host input + label.uh-checkbox-label i{
  margin-right: 5px;
  position: absolute;
  left: 3px;
  margin: auto;
}

:host input + label.uh-checkbox-label i.no-checked{
  display: none;
}

:host .uh-checkbox-label{
  color: var(--color-white);
}

:host .uh-text-centered{
  margin-right: auto;
  margin-left: auto;
}
