<div class="thf-group-content-insert--empty" [ngClass]="extraClass" >
    <div class="thf-empty-content">
        <div class="thf-empty-content-header thf-u-margin-bottom--1 ">
            <div class="row">
                <div class="col-12">
                    <div class="thf-u-text-center">
                        <img class="thf-empty-content-header-icon" src="{{'info.svg' | imgCdn}}" alt="{{ 'commomData.icon' | translate }}">
                        <h1 class="thf-empty-content-header-title  thf-u-no-margin thf-u-font--bold thf-u-font--16 thf-u-inline-block thf-u-no-margin">{{ title | translate }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="thf-empty-content-body">
            <div class="row">
                <div class="col-12">
                    <div class="thf-u-text-center">
                        <p class="thf-empty-content-message thf-u-no-margin thf-u-font--14">
                        {{ textDescription | translate }}
                        <span class="thf-u-font--bold" *ngIf="textBold" >“{{ textBold | translate }}”</span>
                        <span>{{ textComplement | translate }}</span>
                        </p>
                    </div>

                    <div class="thf-u-text-center" *ngIf="htmlDescription" >
                      <p class="thf-empty-content-message thf-u-no-margin thf-u-font--14" innerHtml="{{ htmlDescription | translate }}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
