<app-header-page-new [hasFilter]="true" [enableBackButton]="true">
  <header-title> {{ actionName | translate }} {{ 'title.ratePlan' | translate }}</header-title>
</app-header-page-new>

<div class="col-11 thf-margin-0-auto parameter-box">
  <form [formGroup]="ratePlanForm">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="thf-group-content">
          <input type="checkbox" class="thf-group-toogle thf-u-z-index--1000"/>
          <div class="thf-group-content-header">
            <div class="row">
              <div class="col-md-11 col-lg-11 col-xl-11">
                <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 ">{{ 'label.generalData' | translate }}</span>
              </div>
            </div>
          </div>
          <div class="thf-group-content-body">
            <div class="row">
              <div class="col-xl-3 col-md-4">
                <label for="ratePlanType"
                       class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold
                       thf-input-label--grey-submarine">
                  {{'label.ratePlanType' | translate }}</label>
                <app-select
                  [parent]="ratePlanForm"
                  [optionList]="ratePlanTypeList"
                  [selectId]="'ratePlanType'"
                  [isUppercase]="false"
                  [hasFormGroup]="true"
                  [hasMagin]="false">
                </app-select>

                <thx-error formControlName="ratePlanType"></thx-error>
              </div>

              <div class="col-xl-3 col-md-5">
                <label for="ratePlanName"
                       class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                  {{'label.ratePlanName' | translate }}</label>
                <input id="ratePlanName" formControlName="ratePlanName" class="thf-input">
                <thx-error formControlName="ratePlanName"></thx-error>
              </div>

              <div class="col-xl-3 col-md-4">
                <label for="defaultSegment"
                       class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-u-font--bold
                          thf-input-label--grey-submarine">
                  {{'label.defaultSegment' | translate }}</label>
                <app-select
                  [parent]="ratePlanForm"
                  [optionList]="defaultSegmentList"
                  [selectId]="'defaultSegment'"
                  [isUppercase]="false"
                  [hasFormGroup]="true"
                  [hasMagin]="false" >
                </app-select>
                <thx-error formControlName="defaultSegment"></thx-error>
              </div>

              <div class="col-xl-2 col-md-2">
                <label for="ratePlanIsActive"
                       class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-white-space-normal min-height-label-toggle">{{'label.active'
                  | translate}}</label>
                <div app-click-stop-propagation class="thf-u-z-index--1">
                  <input id="ratePlanIsActive" type="checkbox" formControlName="ratePlanIsActive"
                         class="thf-input-radio-button"/>
                  <label class="thf-u-vertical-align-super" for="ratePlanIsActive">
                    <span class="ui"></span>
                  </label>
                </div>
              </div>

            </div>
            <div class="row thf-u-margin-top--2">

              <div class="col-xl-2 col-md-4">
                <label for="ratePlanBeginDate"
                       class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                  {{'label.initialDate' | translate }}</label>
                <thx-datepicker formControlName="ratePlanBeginDate" id="ratePlanBeginDate" class="thf-u-no-margin"
                                (dateChanged)="notifyBeginDateChange($event)"></thx-datepicker>
                <thx-error formControlName="ratePlanBeginDate"></thx-error>
              </div>

              <div class="col-xl-2 col-md-4">
                <label for="ratePlanEndDate"
                       class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--required thf-input-label--grey-submarine">
                  {{'label.lastDate' | translate}}</label>
                <thx-datepicker formControlName="ratePlanEndDate" id="ratePlanEndDate" class="thf-u-no-margin"
                                [disableUntil]="disableEndPickerUntil"></thx-datepicker>

                <thx-error formControlName="ratePlanEndDate"></thx-error>
              </div>

              <div class="col-xl-2 col-md-4">
                <label for="rateType"
                       class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                  {{'label.rateType' | translate}}</label>
                <app-select
                  [parent]="ratePlanForm"
                  [optionList]="rateTypeList"
                  [selectId]="'rateType'"
                  [isUppercase]="false"
                  [hasFormGroup]="true"
                  [hasMagin]="false">
                </app-select>
                <thx-error formControlName="rateType"></thx-error>
              </div>

              <div class="col-xl-3 col-md-4 ">
                <label for="ratePlanCurrency"
                       class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                  {{'label.currency' | translate}}</label>
                <app-select
                  [parent]="ratePlanForm"
                  [optionList]="ratePlanCurrencyList"
                  [selectId]="'ratePlanCurrency'"
                  [isUppercase]="false"
                  [hasFormGroup]="true"
                  [hasMagin]="false" >
                </app-select>
                <thx-error formControlName="ratePlanCurrency"></thx-error>
              </div>

              <div class="col-xl-3 col-md-4" *ngIf="isBaseRate">
                <label for="roundType"
                       class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
                  {{'label.formRounding'  | translate }}
                  <thx-info-tooltip [text]="'text.infoFormRound' | translate"></thx-info-tooltip>
                </label>

                <app-select
                  [parent]="ratePlanForm"
                  [optionList]="roundTypeList"
                  [selectId]="'roundType'"
                  [isUppercase]="false"
                  [hasFormGroup]="true"
                  [hasMagin]="false">
                </app-select>
                <thx-error formControlName="roundType"></thx-error>
              </div>

            </div>

            <div class="row thf-u-margin-top--2">

              <div  class="col-xl-3 col-md-4">
                <label for="ratePlanMealPlanTypeDefault"
                       class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                  {{'label.defaultMealPlan'  | translate }}
                </label>
                <app-select
                  [parent]="ratePlanForm"
                  [optionList]="ratePlanMealPlanList"
                  [selectId]="'ratePlanMealPlanTypeDefault'"
                  [isUppercase]="false"
                  [hasFormGroup]="true"
                  [hasMagin]="false">
                </app-select>
                <thx-error formControlName="ratePlanMealPlanTypeDefault"></thx-error>
              </div>

              <div class="col-xl-3 col-md-4">
                <label
                  for="ratePlanCode"
                  [ngClass]="{'thf-input-label--required': ratePlanRequerid}"
                  class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                  {{ 'label.code' | translate }}
                </label>
                <input
                  id="ratePlanCode"
                  formControlName="ratePlanCode"
                  type="text" class="thf-input"
                  name="ratePlanCode">
                <thx-error formControlName="ratePlanCode"></thx-error>
              </div>

              <div class="col-2">
                <label for="ratePlanShouldPublish"
                  class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-white-space-normal min-height-label-toggle">
                  {{'label.ratePlan_publish' | translate }}
                  <img src="{{'info.svg' | imgCdn}}" alt="{{'img.info' | translate }}">
                </label>

                <div app-click-stop-propagation class="thf-u-z-index--1">
                  <input
                    id="ratePlanShouldPublish"
                    type="checkbox"
                    formControlName="ratePlanShouldPublish"
                    class="thf-input-radio-button"/>
                  <label class="thf-u-vertical-align-super" for="ratePlanShouldPublish">
                    <span class="ui"></span>
                  </label>
                </div>
              </div>

              <div class="col-2">
                <label for="ratePlanNetTax"
                       class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-white-space-normal min-height-label-toggle ">
                  {{'label.ratePlanNetTax' | translate}}
                  <img src="{{'info.svg' | imgCdn}}" alt="{{'img.info' | translate}}">
                </label>
                <div app-click-stop-propagation class="thf-u-z-index--1">
                  <input id="ratePlanNetTax" type="checkbox" formControlName="ratePlanNetTax"
                         class="thf-input-radio-button"/>
                  <label class="thf-u-vertical-align-super" for="ratePlanNetTax">
                    <span class="ui"></span>
                  </label>
                </div>
              </div>
            </div>

            <div class="row thf-u-margin-top--2">
              <div class="col-12">
                <label for="description"
                       class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-white-space-normal min-height-label-toggle">
                  {{'label.description' | translate }}
                </label>
                <textarea class="thf-input thf-textarea" formControlName="description" id="description"></textarea>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </form>
</div>

<div class="thf-u-margin-top--5">
  <uh-type-control-box
    *ngIf="!isFixedRate"
    [uhTypeList]="uhTypeList"
    [(associatedUhTypes)]="associatedUhTypes"
    class="thf-margin-0-auto"></uh-type-control-box>
  <customer-associate-control-box
    *ngIf="isB2B" [companyClientList]="companyClientList"
    [companyClientCategoryList]="companyClientCategoryList"
    [(associatedCustomers)]="associatedCustomers"></customer-associate-control-box>
  <commission-associate-control-box
    *ngIf="isB2B"
    [billingItemTypeList]="billingItemTypeList"
    [(associatedComissions)]="associatedComissions"></commission-associate-control-box>

  <app-fixed-rate-associate-control-box
    *ngIf="isFixedRate"
    [historyList]="historyList"
    (seeCalendarClicked)="goToCalendar()"
    (addFixedRateClicked)="addFixedRate()"
    (seeHistoryClicked)="goToHistory($event)" ></app-fixed-rate-associate-control-box>
</div>

<div class="col-11 thf-margin-0-auto">
  <div class="row thf-u-padding-vertical--2">
    <div class="col-2 offset-8">
      <app-button [buttonConfig]="cancelButtonConfig"></app-button>
    </div>
    <div class="col-2">
      <app-button [buttonConfig]="saveButtonConfig"></app-button>
    </div>
  </div>
</div>

<app-modal-message-confirm
   [modalId]="MODAL_CONFIRM_FIXED_RATE"
   message="text.confirmFixedRate"
  (cancelClicked)="cancelAddFixedRate()"
  (confirmClicked)="goToFixedRateAndSave()"
></app-modal-message-confirm>
