<app-modal-wrapper [modalId]="modalId" [title]="'title.dailyLaunch'" minWidth="620px">
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row">
      <div class="col">
        <div class="thf-u-font--16">{{ 'text.confirmDailyLaunch' | translate:dates }}</div>
        <div class="text-warning"> {{'label.cantRevert' | translate }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col thf-u-font--18 thf-u-margin-bottom--2 thf-u-margin-top--2">
        <span
          id="span-confirm"
          [innerHtml]="'text.typeToConfirm' | translate: {word: textConfirmStr}">
        </span>
        <input
          id="textConfirm"
          name="textConfirm"
          class="thf-input"
          [(ngModel)]="textConfirm"/>
      </div>
    </div>
  </div>
  <app-modal-footer-default [confirmButtonEnabled]="canConfirm()" (cancel)="cancel()" (confirm)="confirm()" >

  </app-modal-footer-default>
</app-modal-wrapper>
