.credit-card-wrapper{
  width: 304px;
  height: 172px;
  border-radius: 11px;
  padding: 24px;
  background-image: linear-gradient(
      -225deg,
      var(--color-card-gradient-initial) 0%,
      var(--color-card-gradient-final) 100%
  );

  .flag-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-right: -5px;
  }

  .chip-wrapper{
    margin-left: -5px;
  }

  img {
    width: 40px;
    height: auto;
  }

  .card-code, .chip-wrapper{
    margin-bottom: 16px;
  }

  .nameCard{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
