<div class="credit-card-wrapper thf-u-font--16 thf-u-color--white">
  <div class="icons-wrapper">
    <div class="flag-wrapper">
      <img class="flag" src="{{ iconName | imgCdn}}" />
    </div>
    <div class="chip-wrapper">
      <img class="chip" src="https://cdn.totvscmnet-cloud.net/img/thex/0.15.3/chip.svg" />
    </div>
  </div>
  <div class="card-code">XXXX XXXX XXXX XXXX XXXX</div>
  <div class="people-name thf-u-font-uppercase thf-u-font--bold nameCard">{{ accountName }}</div>
</div>
