<app-modal-wrapper [modalId]="recalculateReservationModalId" [title]="'title.recalculateBudgetReservation'">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col-12">
        <p class="thf-u-color--red thf-u-font--16">
          {{'text.recalculateReservationDescription' | translate}}
        </p>
      </div>
    </div>
    <div class="row thf-u-margin-top--1">
      <div class="col-12">
        <p class="thf-u-font--bold thf-u-font--16">{{'text.recalculateReservationConfirm' | translate}}</p>
      </div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="offset-6 col-3">
        <app-button [buttonConfig]="cancelRecalculateReservationButtonConfig"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="confirmRecalculateReservationButtonConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<app-header-page-new [config]="configHeaderPage" [rightButtonList]="topButtonsListConfig">
  <header-title>{{'title.reservationBudget' | translate }}</header-title>
</app-header-page-new>

<reservation-budget-header [reservationBudgetHeader]="reservationBudgetHeader"></reservation-budget-header>

<div class="row thf-u-margin-top--1">
  <div class="col-3">
    <reservation-budget-sidebar [reservationBudgetCardList]="reservationBudgetCardList"
                                (clickReservationBudget)="setReservationBudgetCurrent($event)">
    </reservation-budget-sidebar>
  </div>
  <div class="col-9">
    <reservation-budget-detail-header [reservationItem]="reservationItem"
                                      (shouldRecalculate)="recalculateBudgetReservationItem($event)"></reservation-budget-detail-header>

    <div *ngIf="budgetPageConfig && showBudgetDetail">
      <app-reservation-budget
        [reservationId]="reservationId"
        [reservationItemId]="reservationItem?.id"
        [propertyId]="propertyId"
        [reservationStatus]="reservationItemStatus"
        [isMigrated]="reservationItemIsMigrated"
        [period]="period"
        [commercialBudgetList]="commercialBudgetList"
        [commercialBudgetSelectedItem]="commercialBudgetSelectedItemKey"
        [selectedReservationBudgetList]="selectedReservationBudgetList"
        [originalReservationBudgetListSaved]="originalReservationBudgetList"
        [gratuityTypeSelected]="gratuityType"
        (cancelClicked)="cancelBudgetModal()"
        (confirmedClicked)="confirmBudgetModal($event)"></app-reservation-budget>
    </div>
  </div>
</div>
