.thx-tabs-parent {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.thx-tabs {
  display: flex;
  position: relative;
}

.thx-tabs-container {
  border: 1px solid var(--color-grey-light);
  padding: 0;
}

.thx-tabs-slider {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 95px;
  padding: 3px;
  text-align: center;
}

:host ::ng-deep {
  .thx-tabs-parent {
    &.full-width {
      thx-tab-button {
        flex-grow: 1;
      }
    }

    &.has-slider {
      border-left: 1px solid var(--color-grey-light);
      border-right: 1px solid var(--color-grey-light);

      thx-tab-button:first-of-type {
        border-left: 0;
      }

      thx-tab-button:last-of-type {
        border-right: 0;
      }
    }
  }

  thx-slider-buttons {
    height: 44px;
    padding-left: 3px;
  }
}
