<div #tabs class="thx-tabs">
  <div #tabsParent class="thx-tabs-parent"
       [ngClass]="{
          'has-slider' : showSliderButtons,
          'full-width': fullWidth
        }">
    <div #nav></div>
  </div>

  <div class="thx-tabs-slider" [hidden]="!showSliderButtons">
    <thx-slider-buttons
      (nextScroll)="nextScroll()"
      (longPrevScroll)="longPrevScroll()"
      (longNextScroll)="longNextScroll()"
      (prevScroll)="prevScroll()">
    </thx-slider-buttons>
  </div>
</div>

<div class="thx-tabs-container">
  <ng-content></ng-content>
</div>
