<div class="thf-group-content">
  <div class="col-12">
    <label class="thf-u-no-margin">
      <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
      <span
        class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
          {{ 'label.consultReports' | translate }}
      </span>
    </label>
  </div>
  <div class="thf-group-content-body">
    <form [formGroup]="reportGroup">

      <!-- first row -->
      <div class="row">

        <div class="col-4">
          <report-menu
            [formGroupAppSelect]="reportGroup">
          </report-menu>
        </div>

        <div class="col-3">
          <label for="disagreementBeginDate"
           class="thf-u-no-margin thf-input-label thf-u-margin-bottom--1 thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.initialDate' | translate }}</label>
          <thx-datepicker
            formControlName="disagreementBeginDate"
            id="disagreementBeginDate"
            class="thf-u-no-margin"
            (dateChanged)="dataChanged($event)"
            [disableSince]="disableSince"></thx-datepicker>
          <thx-error formControlName="disagreementBeginDate"></thx-error>
        </div>

        <div class="col-2 thf-u-text-left">
          <label
            for="layoutSimplified"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'label.layoutSimplified' | translate }}
          </label>
          <div>
            <input
              type="checkbox"
              formControlName="layoutSimplified"
              class="thf-input-radio-button"
              id="layoutSimplified"/>
            <label class="thf-u-vertical-align--sub" for="layoutSimplified">
              <span class="ui"></span>
            </label>
          </div>
        </div>
      </div>

      <!-- next row -->
      <div class="row thf-u-margin-top--2">
        <!-- filter -->
        <div class="col-4">
          <label
            for="roomTypeId"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.typesOfRooms' | translate }}
          </label>
          <app-select
            id="roomTypeId"
            [selectId]="'roomTypeId'"
            [parent]="reportGroup"
            [optionList]="roomTypeList"
            [hasBlankOption]="true"
            [hasFormGroup]="true">
          </app-select>
        </div>

        <div class="col-4">
          <label
            for="statusRoomId"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.statusOfRoom' | translate }}
          </label>
          <app-select
            id="statusRoomId"
            [selectId]="'statusRoomId'"
            [parent]="reportGroup"
            [optionList]="statusRoomList"
            [hasBlankOption]="true"
            [hasFormGroup]="true">
          </app-select>
        </div>
        <div class="col-3 thf-u-margin-top--2">
          <!-- TODO: change to app-button -->
          <button
            (click)="searchReport()"
            class="thf-btn thf-u-no-padding thf-btn-primary thf-u-margin-top--2">
            {{ 'action.list' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="thf-u-margin-top--1" *ngIf="items && items.length > 0">

  <app-header-page-new
    [hasFilter]="true">
    <header-title> {{ 'title.governanceReport' | translate }}</header-title>
    <thx-searchbar
        name="filterSearch"
       [placeholder]="'placeholder.filterByNumberStatusTypeOfRoomAndGovernanceStatus'"
       (search)="updateList($event)"
       ngDefaultControl>
    </thx-searchbar>
  </app-header-page-new>

  <governance-status-item
    *ngFor="let item of items"
    (dispatchHousekeep)="togggleEmitedFromChild($event, HOUSEKEEP_STATUS_MODAL)"
    (dispatchStatusRoom)="togggleEmitedFromChild($event, ROOM_STATUS_MODAL)"
    (dispatchSurvey)="togggleEmitedFromChild($event, SURVEY_STATUS_MODAL)"
    (dispatchBagage)="togggleEmitedFromChild($event, BAGAGE_STATUS_MODAL)"
    (dispatchObservation)="togggleEmitedFromChild($event, OBSERVATION_STATUS_MODAL, true)"
    (dispatchNumberChange)="updateAdultCount($event)"
    [isDisabled]="isDisabled"
    [item]="item">
  </governance-status-item>

  <!-- print button -->
  <div class="row">
    <div class="col">
      <div class="thf-u-margin-vertical--2">
        <hr class="thf-row-divider thf-u-reset-list">
      </div>
      <div class="thf-u-margin-vertical--2">
        <span class="thf-u-color--blue thf-u-font--bold thf-u-font--14">
          {{ 'text.totalOfItens' | translate }}
          ( {{ items.length + 1 }} )
        </span>
      </div>
    </div>

    <div class="offset-9 col-3">
      <!-- TODO: change to app-button -->
      <button
        (click)="print()"
        class="thf-btn thf-u-no-padding thf-btn-primary"
        type="button">
        {{ 'action.print' | translate }}
      </button>
    </div>
  </div>

</div>

<app-printable-table
  [hidden]="true"
  #componentToPrint
  [columnsName]="reportGroup.get('layoutSimplified').value ? columnsSimplified : columns"
  [items]="items"
  [title]="'title.governanceReport' | translate"
></app-printable-table>
<ng-template #identicalTemplate let-item="item">
  <governance-status-item
    [isPrintMode]="true"
    [item]="item">
  </governance-status-item>
</ng-template>

<ng-template #beds let-item="item">
  <span class="thf-u-margin-right--1" *ngIf="item?.quantityDouble > 0">
     <img class=" hps-icon-size--2 thf-icon-size-height-based--15"
          src="{{'camaCasal.min.svg' | imgCdn}}"
          alt="{{ 'commomData.images.doubleBed' | translate }}"/>
  </span>
  <span *ngIf="item?.quantitySingle > 0">
     <img class=" hps-icon-size--2 thf-icon-size-height-based--15"
          src="{{'camaSolteiro.min.svg' | imgCdn}}"
          alt="{{ 'commomData.images.doubleBed' | translate }}"/>
  </span>
</ng-template>

<ng-template #disagreement let-item="item">
  <div class="row thf-u-padding-vertical--05">
    <div class="col-3">
      <div class="thf-u-color--grey-submarine thf-u-font--bold thf-u-font--10 thf-u-margin-bottom--2">
        {{ 'text.statusOfRoom' | translate }}
      </div>
      <hr class="thf-row-divider thf-u-no-margin" />
    </div>

    <div class="col-3">
      <div class="thf-u-color--grey-submarine thf-u-font--bold thf-u-font--10 thf-u-margin-bottom--2">
        {{ 'text.baggage' | translate }}
      </div>
      <hr class="thf-row-divider thf-u-no-margin" />
    </div>

    <div class="col-3">
      <div class="thf-u-color--grey-submarine thf-u-font--bold thf-u-font--10 thf-u-margin-bottom--2">
        {{ 'text.inspectionStatus' | translate }}
      </div>
      <hr class="thf-row-divider thf-u-no-margin" />
    </div>

    <div class="col-3">
      <div class="thf-u-color--grey-submarine thf-u-font--bold thf-u-font--10 thf-u-margin-bottom--2">
        {{'label.guestNumber' | translate }}
      </div>
      <div class="printable-line"></div>
      <hr class="thf-row-divider thf-u-no-margin" />
    </div>
  </div>

  <div class="row thf-u-padding-vertical--05">
    <div class="col-3 thf-u-color--grey-submarine thf-u-font--bold thf-u-font--10">
      {{ ('text.generalObservation' | translate) + ':' }}
    </div>
    <div class="col thf-u-padding-top--1">
      <hr class="thf-row-divider thf-u-no-margin" />
    </div>
  </div>
</ng-template>


<!-- MODAL -->
<app-modal-wrapper modalId="housekeepStatusModal" [title]="'title.governanceStatus'">
  <div class="thf-u-inline-flex thf-u-padding--2 thf-u-justify-center-wrap">
    <div class="thf-u-padding--1" *ngFor="let status of housekeepingStatusList">
      <div class="thf-icon-button thf-u-text-center">
        <!-- TODO: change to app-button -->
        <button
          class="thf-button thf-btn-hover" type="button"
          (click)="chooseHousekeepingStatus(status)">
          <div class="thf-box-circle-icon" [style.background-color]="'#' + status.color">
            <!-- TODO: change the text to translate -->
            <img alt="icon-button-editarReserva" src="{{ status.icon }}">
          </div>
        </button>
        <div class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
          {{ status.statusName }}
        </div>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<!-- status uh disagreement -->
<app-modal-wrapper modalId="roomStatusModal" [title]="'title.statusOfRoom'">
  <div class="thf-u-inline-flex thf-u-padding--2 thf-u-justify-center-wrap">
    <div class="thf-u-padding--1" *ngFor="let status of housekeepingRoomDisagreementList">
      <div class="thf-icon-button thf-u-text-center">
        <!-- TODO: change to app-button -->
        <button
          class="thf-button thf-btn-hover" type="button"
          (click)="updateOtherParams(status, ROOM_STATUS_MODAL, 'housekeepingRoomDisagreementStatusId')">
          <div class="thf-box-circle-icon thf-u-color--white" [style.background-color]="status?.color">
            <i class="mdi" [ngClass]="status?.cls"></i>
          </div>
        </button>
        <div class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
          {{ status?.value }}
        </div>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<!-- bagage -->
<app-modal-wrapper modalId="bagageStatusModal" [title]="'title.statusOfBagage'">
  <div class="thf-u-inline-flex thf-u-padding--2 thf-u-justify-center-wrap">
    <div class="thf-u-padding--1" *ngFor="let status of bagageList">
      <div class="thf-icon-button thf-u-text-center">
        <!-- TODO: change to app-button -->
        <button
          class="thf-button thf-btn-hover" type="button"
          (click)="updateOtherParams(status, BAGAGE_STATUS_MODAL, 'bagCount')">
          <div class="thf-box-circle-icon thf-u-color--white" [style.background-color]="status?.color">
            <i class="mdi" [ngClass]="status?.cls"></i>
          </div>
        </button>
        <div class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
          {{ status?.value | translate }}
        </div>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<!-- survey -->
<app-modal-wrapper modalId="surveyStatusModal" [title]="'title.statusOfSurvey'">
  <div class="thf-u-inline-flex thf-u-padding--2 thf-u-justify-center-wrap">
    <div class="thf-u-padding--1" *ngFor="let status of surveyList">
      <div class="thf-icon-button thf-u-text-center">
        <!-- TODO: change to app-button -->
        <button
          class="thf-button thf-btn-hover" type="button"
          (click)="updateOtherParams(status, SURVEY_STATUS_MODAL, 'housekeepingRoomInspectionId')">
          <div class="thf-box-circle-icon thf-u-color--white" [style.background-color]="status?.color">
            <i class="mdi" [ngClass]="status?.cls"></i>
          </div>
        </button>
        <div class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
          {{ status?.value | translate }}
        </div>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<!-- observation -->
<app-modal-wrapper
  modalId="observationStatusModal"
  [title]="modalObservationTitle">
  <form [formGroup]="observationForm">
    <div class="thf-modal-body">
      <div class="row">
        <div class="col-12">
          <label
            for="observation"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--1">
            {{ 'label.observation' | translate }}
          </label>

          <label
            for="observation"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--1 thf-u-pull--right">
            {{ maxCharacter | translate }}
          </label>
          <textarea
            id="observation"
            class="thf-input thf-textarea"
            formControlName="observation"></textarea>
        </div>
      </div>
    </div>
  </form>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="offset-6 col-3">
        <app-button [buttonConfig]="buttonCancel"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="buttonConfirm"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
