<thf-page-edit
  [t-disable-submit]="form.invalid"
  [t-title]="i18n.title"
  [t-literals]="literals">
  <admin-group
    isOpen="true"
    [title]="i18n.group.brand"
    [formGroup]="form"
  >
    <thf-input
      name="brandName"
      formControlName="brandName"
      class="thf-md-4 required-field"
      [t-label]="i18n.label.brandName"
      [t-required]="true"
    ></thf-input>

    <div class="thf-md-3 thf-offset-md-1 thf-offset-lg-1">
      <thf-info
        [t-label]="i18n.label.tenant"
        [t-value]="brandData.tenant" >
      </thf-info>
    </div>

    <div class="thf-md-3">
      <thf-info
        [t-label]="i18n.label.chain"
        [t-value]="brandData.chain" >
      </thf-info>
    </div>
  </admin-group>
  <div class="thf-mt-2">
    <admin-group
      isOpen="true"
      [title]="i18n.group.hotel"
    >
      <thf-table
        [t-columns]="tablePropertySettings.columns"
        [t-items]="tablePropertySettings.items"
      ></thf-table>
    </admin-group>
  </div>
</thf-page-edit>
