<input type="checkbox" class="thf-group-toogle-body thf-u-z-index--1000" [checked]="!guest.showDetails" />

<header class="thf-group-content-header thf-u-padding--2 thf-u-padding-vertical--1 thf-u-reset-border">
  <div class="row">
    <div class="col col-lg-7 col-xl-8">
      <h2 class="thf-group-content-header-title thf-u-font--23 thf-u-color--blue thf-u-no-margin thf-u-padding-top--1">
        {{ guest.preferredName ? guest.preferredName : guest.guestName }}
      </h2>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <button type="button" name="button" (click)="askCleanGuest()" [disabled]="dataInput['status'] == reservationStatusEnum.Checkin" class="thf-btn thf-btn-secondary">
            {{ 'commomData.clean' | translate }}
          </button>
        </div>
        <div class="col">
          <button type="button" name="button" (click)="editGuest()" class="thf-btn thf-btn-secondary">
            {{ 'commomData.edit' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3 col-xl-3 col-lg-6">
      <label class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2">{{ 'guestModule.edit.periodofStay' | translate }}</label>
      <div class="thf-u-font--16 thf-u-font--semibold thf-u-margin-top--1">
        {{ guest.estimatedArrivalDate | amDateFormat:'L' }} - {{ guest.estimatedDepartureDate | amDateFormat:'L' }}
      </div>
    </div>
    <div class="col-3 col-xl-3 col-lg-6">
      <label class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2">{{ 'guestModule.commomData.email' | translate }}</label>
      <div class="thf-u-font--14 thf-u-font--semibold thf-u-color--blue thf-u-margin-top--1">
        {{ guest.guestEmail }}
      </div>
    </div>
    <div class="col-3 col-xl-3 col-lg-6">
      <label class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2">{{ 'guestModule.commomData.document' | translate }}</label>
      <div class="thf-u-font--16 thf-u-margin-top--1">
        <span class="thf-u-font--bold">
          {{ getDocumentTypeName() }}
        </span>
        <span class="thf-u-font--semibold">
          {{ getDocumentInformation() }}
        </span>
      </div>
    </div>
    <div class="col-3 col-xl-3 col-lg-6">
      <label class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2">{{ 'guestModule.commomData.typeOfGuest' | translate }}</label>
      <div class="thf-u-font--16 thf-u-font--semibold thf-u-margin-top--1">
        {{ getGuestTypeName() }}
      </div>
    </div>
  </div>
</header>
<div class="thf-group-content-body thf-u-padding--2 thf-u-padding-vertical--1">
  <div class="thf-additional-information">
    <div class="row">
      <div class="col-12">
        <h6 class="thf-u-font--14 thf-u-margin-top--1 thf-u-font--bold">
          {{ 'guestModule.edit.additionalInformation' | translate }}
        </h6>
        <hr class="thf-u-margin-vertical--1" />
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
          {{ 'guestModule.commomData.address' | translate }}:
        </label>
        <span class="thf-u-font--16 thf-u-font--semibold thf-u-color--blue thf-u-margin-left--1">
          {{ guest.completeAddress }}
        </span>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-4">
            <label class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2">
              {{ 'guestModule.edit.uHPreferably' | translate }}:
            </label>
            <span class="thf-u-font--16 thf-u-font--semibold thf-u-color--blue thf-u-margin-left--1" *ngIf="guest.uHPreferably">
              {{ guest.uHPreferably.roomNumber }}
            </span>
          </div>
          <div class="col-4">
            <div class="thf-u-text-center">
              <label class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2">
                {{ 'guestModule.edit.lastUH' | translate }}:
              </label>
              <span class="thf-u-font--16 thf-u-font--semibold thf-u-color--blue thf-u-margin-left--1" *ngIf="guest.lastUH">
                {{ guest.lastUH.roomNumber }}
              </span>
            </div>
          </div>
          <div class="col-4">
            <div class="thf-u-text-right">
              <label class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2">
                {{ 'guestModule.edit.lastDailyValue' | translate }}:
              </label>
              <span>
                <span class="thf-u-font--16 thf-u-font--semibold thf-u-color--blue thf-u-margin-left--1">
                  {{ guest.lastDailyValue | currency: currencyService.getCurrencyCode(currencyCountry):true:'1.2-2' }}
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <label class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2">
          {{ 'reservationModule.commomData.remarks' | translate }}:
        </label>
        <span class="thf-u-font--16 thf-u-font--semibold thf-u-color--blue thf-u-margin-left--1">
          {{ guest.remarks }}
        </span>
      </div>
    </div>
  </div>
</div>
<div class="thf-group-content-footer thf-u-text-center">
  <div class="row">
    <div class="col-12">
      <label (click)="toogleShowDetails()" class="thf-u-no-margin thf-u-enable-cursor thf-u-font--14 thf-u-font--bold thf-u-color--blue">
        <img [ngClass]="{'thf-u-mirror-vertical': guest.showDetails}" src="{{'arrowdown-blue.min.svg' | imgCdn}}" alt="{{ 'commomData.images.arrowDownIcon' | translate }}">
        <span *ngIf="!guest.showDetails">
          {{ 'guestModule.edit.showDetails' | translate }}
        </span>
        <span *ngIf="guest.showDetails">
          {{ 'guestModule.edit.hideDetails' | translate }}
        </span>
      </label>
    </div>
  </div>
</div>
