<!-- header component -->
<app-header-page-new
  [enableBackButton]="true"
  [hasFilter]="true">
  <!-- header title -->
  <header-title> {{ 'title.pos' | translate }}</header-title>

  <!-- search bar -->
  <thx-searchbar
    name="searchFilter"
    [placeholder]="'placeholder.searchByCodeOrPosDescription'"
    (input)="search($event)">
  </thx-searchbar>

</app-header-page-new>

<div class="col-12 thf-u-margin-vertical--2">

  <!-- first line -->
  <div class="row thf-u-margin-vertical--2">
    <div class="col thf-u-font--23">
      {{'text.selectThePos' | translate }}
    </div>
  </div>

  <!-- pos itens -->
  <div class="row">
    <div class="col items-wrapper">
      <div class="pos-item col-sm-3 col-md-4 col-lg-2" *ngFor="let item of posList">
        <pos-card
          [hasFavorite]="true"
          (favoriteEmitter)="favoriteChanged($event)"
          (itemEmitter)="itemClicked($event)"
          [item]="item"></pos-card>
      </div>
    </div>
  </div>

</div>
