<app-modal-wrapper [modalId]="modalId"  [title]="MODAL_TITLE" [closeCallbackFunction]="cancelModal" >
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="d-flex justify-content-center flex-column">
      <div class="thf-u-font--16 thf-u-margin-vertical--1 thf-u-margin-top--2">{{ 'text.cancelReasonNFSe' | translate }}</div>
      <div class="row thf-u-margin-bottom--3">
        <div class="col-11">
        <label for="reasonId" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1 thf-u-required">
          {{ 'label.reason' | translate }}
        </label>
        <app-select  [selectId]="'reasonId'" [optionList]="reasonOptionList" (selectedOption)="selectOption($event)" >
        </app-select>
        </div>
        <div class="col-1 d-flex align-items-end thf-u-no-padding">
          <img src="{{'info.svg' | imgCdn}}" alt="{{ 'img.info' | translate }}" title="{{ 'text.hintReasonCancelNFSe' | translate }}" >
        </div>

      </div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col-3 offset-6">
        <app-button [buttonConfig]="buttonCancelConfig" ></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="buttonConfirmConfig" ></app-button>
      </div>
    </div>
  </div>

</app-modal-wrapper>
