.default-checked {
  visibility: hidden;
}

input.input-radio{
&~ .default-checked{
   background: var(--color-blue-atol);
   border-radius: 3px;
   color: var(--color-white);
   visibility: hidden;
   padding: 5px;
   margin-left: 12px;
 }

&:checked ~ .default-checked{
   visibility: visible;
 }
}

.default-checked.readonly{
  background: var(--color-blue-atol);
  border-radius: 3px;
  color: var(--color-white);
  padding: 5px;
  margin-left: calc(37px);
  visibility: visible;
}
