<app-group-content
  *ngIf="viewConfigLevel"
  [title]="'title.setBaseRate'"
  [bodyClass]="'thf-u-no-padding'">

  <div [formGroup]="levelRateForm"
       class="thf-group-content-body thf-u-padding-top--1">
    <div class="row thf-u-margin-top--2">
      <div class="col-2">
        <label class="thf-input-label thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required"
               for="levelRate">
          {{ 'label.levelRate' | translate }}
        </label>
        <div class="hps-margin--3">
          <app-select
            id="levelRate"
            [hasFormGroup]="true"
            [hasMagin]="false"
            [optionList]="levelOptionsList"
            [parent]="levelRateForm"
            [selectId]="'levelRate'">
          </app-select>
        </div>

        <thx-error formControlName="levelRate"></thx-error>
      </div>

      <div class="col-2">
        <label class="thf-input-label thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required"
               for="rateCurrency">
          {{ 'label.rateCurrency' | translate }}
        </label>
        <div class="hps-margin--3">
          <app-select
            id="rateCurrency"
            [isUppercase]="false"
            [hasFormGroup]="true"
            [hasMagin]="false"
            [optionList]="currencyList"
            [parent]="levelRateForm"
            [selectId]="'rateCurrency'"
            [disabled]="isCurrencyDisable">
          </app-select>
        </div>

        <thx-error formControlName="rateCurrency"></thx-error>
      </div>

      <div class="offset-1 col-7 thf-u-no-padding-right">
        <div>
          <label class="thf-input-label thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
            {{ 'label.applyTo' | translate }}
          </label>
        </div>
        <div>
          <week-day-check-list (weekDaysSelected)="weekDaysSelected($event)">
          </week-day-check-list>
        </div>
      </div>
    </div>
  </div>
</app-group-content>

<ng-template #mealDefault let-row="row" let-index="rowIndex">
  <span
    class="default-checked"
    [ngClass]="{readonly: (row?.isMealPlanTypeDefault)}">
    {{ 'label.default' | translate }}
  </span>
</ng-template>

<app-empty-content-wrapper class="thf-u-margin-top--2" *ngIf="!levelOptionsList || levelOptionsList && levelOptionsList.length == 0">
  <content-title>{{'commomData.warning' | translate}}</content-title>
  <content-description>
    {{'text.notExistLevelSelected' | translate}}
  </content-description>
</app-empty-content-wrapper>
