<div class="thf-u-padding--1 hps-sub-total-origin" *ngIf="accountType === 'origin'">
    <div class="row">
        <div class="offset-1 col-7 thf-u-color--blue thf-u-font--14">
            <span *ngIf="quantity == 0">{{'text.noEntrySelected' | translate}}</span>
            <span *ngIf="quantity == 1">{{quantity}} {{'label.selectedEntry' | translate}}</span>
            <span *ngIf="quantity > 1">{{quantity}} {{'label.selectedEntries' | translate}}</span>
        </div>
        <div class="col-3 thf-u-color--blue thf-u-font--14 thf-u-text-right">
          <span>{{priceTotal | currencyFormat: currencySymbol}}</span>
        </div>
    </div>
</div>
<div class="thf-u-padding--1 hps-sub-total-destination" *ngIf="accountType === 'destination'">
    <div class="row">
        <div class="offset-1 col-7 thf-u-color--white thf-u-font--14">
            <span>{{'label.subtotal' | translate}}</span>
        </div>
        <div class="col-3 thf-u-color--white thf-u-font--14 thf-u-text-right">
            <span>{{priceTotal | currencyFormat: currencySymbol}}</span>
        </div>
    </div>
</div>
