@import './_variables';

.app-modal-header {
  display: flex;
  justify-content: space-between;
  max-height: 60px;
}

.app-modal-header > .title {
  font-size: 13px;
  text-transform: uppercase;
  margin: 0;
  height: 24px;
  letter-spacing: 1px;
  line-height: 24px;
  color: $black-color;
}
