<header class="app-modal-header">
  <h3 class="title">{{stepTitle}}</h3>
  <thx-steps
    class="steps"
    [isHorizontal]="true"
    [steps]="steps"
    (selected)="selectStep($event)"
  ></thx-steps>
</header>
