@import 'variables';

.property-card-list-ul {
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.property-card-list-ul li {
  padding: 8px 22px 8px 22px;
  outline: none;
}

.property-card-list-item {
  line-height: 29px;

  > .list-item-icon {
    font-size: 14px;
    margin-right: 5px;
  }
  &:hover{
    background-color: rgba($primary-color, 0.1);
    cursor: pointer;
  }
  &:hover > span {
    color: $grey-color--70;
    opacity: 1;
  }
}

.property-card-list-title {
  text-align: left;
  background-color: $white-color;
  padding: 8px 0 8px 0;
  border-bottom: solid 2px $grey-color--20;

  > .list-title-img {
      margin-right: 10px;
      max-width: 17px;
      max-height: 15px;
  }
  > span {
    color: $grey-color--40;
    width: 140px;
    height: 20px;
    font-weight: bold;
  }
}
