<app-modal-wrapper [modalId]="'releaseUh'" [title]="'title.releaseUH' | translate " >
    <div class="thf-modal-body">
      <div class="thf-u-font--16 pending-container"  innerHtml = "{{ 'text.relaseUHInfo' | translate:{'status': htmlStatus} }}" ></div>
      <div class="row thf-u-margin-top--2">
      </div>
    </div>
    <div class="thf-modal-footer">
      <div class="row justify-content-end">
        <div class="col-4">
          <app-button [buttonConfig]="buttonCancelConfig"></app-button>
        </div>
        <div class="col-4">
          <app-button [buttonConfig]="buttonReversePostConfig"></app-button>
        </div>
      </div>
    </div>
</app-modal-wrapper>
