<div
  class="table"
  *ngIf="log"
>
  <div
    class="item"
    *ngFor="let column of tableColumns"
    [ngStyle]="{flex: column.flexGrow}"
  >
    <div class="title-container">
      <p class="title">{{ column.name | translate }}</p>
    </div>
    <div class="value-container">
      <p *ngIf="!column.cellTemplate; else templateOutlet">
        {{ log[column.prop] }}
      </p>
      <ng-template #templateOutlet>
        <ng-container
          [ngTemplateOutlet]="column.cellTemplate"
          [ngTemplateOutletContext]="{row: log[column.prop]}"
        ></ng-container>
      </ng-template>
    </div>
  </div>
</div>

<ng-template
  #statusCellTemplate
  let-status="row"
>
  <app-status-dot [status]="status"></app-status-dot>
</ng-template>
