.table {
  display: flex;
}

.table > .item {

}

.table > .item > .title-container {
  padding: 4px;
  color: var(--color-blue);
  font-size: 13px;
  line-height: 24px;
  font-weight: bold;
  border-bottom: 1px solid var(--color-card-gradient-final);
}

.table > .item > .title-container > .title {
  margin: 0;
}

.table > .item > .value-container {
  padding: 4px;
  font-size: 14px;
}
