<app-reservation-item-cancel
  [reservationItemView]="reservationItemView"
  (cancelReservationItemEvent)="deleteReservationItemView($event)">
</app-reservation-item-cancel>

<div class=" thf-card-reserve-header">
  <div class="row align-items-center">
    <div
      class="col-xl-4 col-lg-5 thf-u-cursor--pointer"
      (click)="reservationItemView.focus = !reservationItemView.focus"
      [ngClass]="{'thf-u-no-pointer-events': isCanceledStatus}">
      <div class="row align-items-center no-gutters thf-u-padding-horizontal--1">
        <div class="col-6 col-lg-4 col-xl-4">
          <span class="thf-u-no-margin">
            <img
              src="{{'chevron-left-blue.svg' | imgCdn}}"
              alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
              *ngIf="!reservationItemView.focus"/>
            <img
              src="{{'chevron-bottom-blue.svg' | imgCdn}}"
              alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
              *ngIf="reservationItemView.focus"/>
            <span class="thf-card-reserve-content-header-title thf-u-font--bold thf-u-font--14">
              {{ 'commomData.room' | translate }} {{reservationItemViewInfo.roomTypeCard.abbreviation}}
            </span>
          </span>
        </div>
        <div class="col-6 col-lg-8 col-xl-8">
          <div class="row align-items-center no-gutters">
            <div class="col-lg-2 col-xl-3 margin-horizontal-lg center-lg">
              <span class="thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine hidden-lg-down">
                {{ 'reservationModule.commomData.period' | translate }}:
              </span>
              <img class="hidden-xl-up icon-bottom" src="{{'event.svg' | imgCdn}}"
                   alt="{{ 'reservationModule.commomData.period' | translate }}"
              />
            </div>
            <div class="col-lg-9 col-xl-9">
              <div class="row">
                <div class="col-lg-12 col-xl-auto">
                  <span class="thf-u-font--14 thf-u-font--bold">
                    {{ dateService.convertUniversalDateToViewFormat(reservationItemViewInfo?.periodCard?.beginDate)}}
                  </span>
                  -
                  <span class="thf-u-font--14 thf-u-font--bold">
                    {{dateService.convertUniversalDateToViewFormat(reservationItemViewInfo?.periodCard?.endDate)}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-xl-4 col-lg-4 thf-u-cursor--pointer thf-u-no-padding"
      (click)="reservationItemView.focus = !reservationItemView.focus">
      <div class="row align-items-center">
        <div class="col-xs-12 col-lg-2 col-xl-2 thf-u-no-padding">
          <img class="icon-person icon-bottom hidden-xl-up" src="{{'person-gray.svg' | imgCdn}}"
               alt="{{ 'commomData.images.person' | translate }}"/>
          <span class="thf-u-font--14 thf-u-font--bold">
            {{ reservationItemViewInfo.adultQuantityCard }}
          </span>
          <span class="thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine hidden-lg-down">
            {{ 'reservationModule.commomData.adults' | translate }}
          </span>
        </div>
        <div class="col-xs-12 col-lg-2 col-xl-2 thf-u-no-padding">
          <img class="hidden-xl-up" src="{{'child_icon.svg' | imgCdn}}" alt="{{ 'img.iconChild' | translate }}">
          <span class="thf-u-font--14 thf-u-font--bold">
            {{ reservationItemViewInfo.childrenQuantityCard }}
          </span>
          <span class="thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine hidden-lg-down">
            {{ 'reservationModule.commomData.children' | translate }}
          </span>
        </div>
        <div class="col-xs-12 col-lg-8 col-xl-8 thf-u-no-padding">
          <!-- todo check with UX about an icon to represent the main guest -->
          <img class="icon-person icon-bottom" src="{{'person-gray.svg' | imgCdn}}"
               alt="{{ 'commomData.images.person' | translate }}"/>
          <span class="thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine hidden-lg-down">
            {{ 'reservationModule.reserveCreate.main' | translate }}:
          </span>
          <span class="thf-u-font--14 thf-u-font--bold">
            {{reservationItemViewInfo.guestName}}
          </span>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-3">
      <div class="row align-items-center no-gutters">
        <div
          class="col-10 col-xl-11 col-lg-10 padding-10-lg"
          [ngClass]="{'thf-u-enable-cursor': !readonly}"
          (click)="emitEventForShowBudgetModal(reservationItemView)">
          <img
            src="{{'tarifa.svg' | imgCdn}}"
            alt="{{ 'reservationModule.commomData.rate' | translate }}"/>
          <span
            id="accommodationbudget-down"
            class="thf-u-font--14 thf-u-font--bold hidden-lg-down"
            [ngClass]="{'thf-u-text-decoration--underline thf-u-color--blue': !readonly}">
            {{commercialBudgetName}} - {{'text.budgeted' | translate}}:  {{currencySymbol}} {{ getAmmount() | currencyFormat: null:2:'.':',':3:false }}
          </span>
          <span
            id="accommodationbudget-up"
            class="thf-u-font--14 thf-u-font--bold hidden-xl-up"
            [ngClass]="{'thf-u-text-decoration--underline thf-u-color--blue': !readonly}">
            {{currencySymbol}} {{budgetedAmount | currencyFormat: null:2:'.':',':3:false }}
          </span>
        </div>
        <div class="col-2 col-xl-1 col-lg-2 thf-card-reserve-header-button-options">
          <app-submenu-options
            *ngIf="!readonly"
            [items]="itemsOption"
            [fullWidth]="true"
            (itemWasAction)="runCallbackFunction($event)">
          </app-submenu-options>
        </div>
      </div>
    </div>
  </div>
</div>
