.icon-person {
  height: 15px;

}
.icon-bottom {
  margin-bottom: 2px;
}

@media (max-width: 1200px) {
  .center-lg {
    text-align: center;
  }
  .no-border-lg {
    border: none;
  }
  .padding-10-lg {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .margin-horizontal-lg {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
