<div class="thf-modal-body">
  <h6 class="thf-u-color--red" *ngIf="type == ('up' || 'down')">
    {{ 'text.moveRoomAlertUpSellingBudget' | translate }}
  </h6>
  <h6 *ngIf="type == 'same'">
    <strong>{{ 'text.noChangeModalAlert' | translate }}</strong>
  </h6>
  <budget-compare [budgetCompareConfig]="budgetCompareConfig" [gridClassRightSide]="'offset-5 col-7'" [gridClassLeftSide]="'col-12'"></budget-compare>
  <div class="thf-u-margin-top--1 thf-u-color--red" *ngIf="type == ('up' || 'down')">
    <p>{{ 'text.manualBudgetChangeAlert' | translate }}</p>
  </div>
  <div class="thf-u-margin-top--3 row">
    <div class="col-12">
      <label for="reason" class="thf-input-label--required thf-u-no-margin thf-u-font--14 thf-u-font--bold">{{ 'label.reasonForChange' | translate }}</label>
    </div>
    <div class="col-8">
      <app-select
        [parent]="moveRoomFormConfirmModal"
        [optionList]="moveRoomreasonList"
        [selectId]="'reason'"
        [isUppercase]="false"
        [hasFormGroup]="true">
      </app-select>
    </div>
  </div>
</div>

<div class="thf-modal-footer">
  <div class="row justify-content-end">
    <div class="col-4">
      <app-button [buttonConfig]="cancelButtonConfig"></app-button>
    </div>
    <div class="col-4">
      <app-button [buttonConfig]="confirmButtonConfig"></app-button>
    </div>
  </div>
</div>
