<div class="thf-group-content">
  <div class="col-12">
    <label class="thf-u-no-margin">
      <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
      <span
        class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
          {{ 'label.consultReports' | translate }}
      </span>
    </label>
  </div>

  <div class="thf-group-content-body">
    <form [formGroup]="reportGroup">

      <!-- first row -->
      <div class="row">

        <div class="col-4">
          <report-menu
            [formGroupAppSelect]="reportGroup">
          </report-menu>
        </div>

        <!-- filter -->
        <div class="col-4">
          <label
            for="uhSituationId"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.uhSituation' | translate }}
          </label>
          <app-select
            id="uhSituationId"
            [selectId]="'uhSituationId'"
            [parent]="reportGroup"
            [optionList]="uhSituationList"
            [hasBlankOption]="true"
            [hasFormGroup]="true">
          </app-select>
        </div>

        <div class="col-4">
          <label
            for="housekeepingStatusId"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.governanceStatus' | translate }}
          </label>
          <app-select
            id="housekeepingStatusId"
            [selectId]="'housekeepingStatusId'"
            [parent]="reportGroup"
            [optionList]="housekeepingStatusList"
            [hasBlankOption]="true"
            [hasFormGroup]="true">
          </app-select>
        </div>

      </div>

      <div class="row">
        <div class="col-4">
          <label
            for="typeUHId"
            class="thf-u-no-margin thf-input-label thf-u-margin-top--2 thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.typeUHComplete' | translate }}
          </label>
          <app-select
            id="typeUHId"
            [selectId]="'typeUHId'"
            [parent]="reportGroup"
            [optionList]="typeUHList"
            [hasBlankOption]="true"
            [hasFormGroup]="true">
          </app-select>
        </div>

        <div class="col-4">
          <label
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-margin-top--2 thf-u-font--bold thf-input-label--grey-submarine"
            for="clientName">
            {{ 'label.clientName' | translate }}
          </label>
          <input
            placeholder="{{ 'placeholder.clientName' | translate }}"
            formControlName="clientName"
            id="clientName"
            class="thf-input thf-u-margin-top--1"/>
        </div>

        <div class="col-4">
          <label
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-margin-top--2 thf-u-font--bold thf-input-label--grey-submarine"
            for="groupName">
            {{ 'label.groupName' | translate }}
          </label>
          <input
            formControlName="groupName"
            id="groupName"
            placeholder="{{ 'placeholder.groupName' | translate }}"
            class="thf-input thf-u-margin-top--1"/>
        </div>
      </div>

      <div class="row">
        <div class="col-2 thf-u-text-left">
          <label
            for="onlyVipGuests"
            class="thf-u-no-margin thf-u-margin-top--2 thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'label.onlyVipGuests' | translate }}
          </label>

          <div>
            <input
              type="checkbox"
              formControlName="onlyVipGuests"
              class="thf-input-radio-button"
              id="onlyVipGuests"/>
            <label class="thf-u-vertical-align--sub" for="onlyVipGuests">
              <span class="ui"></span>
            </label>
          </div>
        </div>

        <div class="col-4 thf-u-margin-top--5">
          <button
            (click)="searchReport()"
            class="thf-btn thf-u-no-padding thf-btn-primary">
            {{ 'action.list' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>


<div class="thf-u-margin-top--1" *ngIf="pageItemsList && pageItemsList.length > 0">
  <app-header-page-new
    [hasFilter]="false">
    <header-title>
      <span>{{ 'title.uhSituation' | translate }}</span>
    </header-title>
  </app-header-page-new>

  <div class="thf-u-margin-vertical--1 thf-datatable-to-print thf-datatable-to-print-with-body">
    <thx-datatable
      [rowHeight]="64"
      [columns]='columns'
      [itens]="pageItemsList"
      [hasLastCell]="false"
      [tableHasScroll]="true"
      [columnMode]="'auto'">
    </thx-datatable>
  </div>

  <div class="row">
    <div class="offset-9 col-3 thf-u-margin-top--2">
      <button
        (click)="print()"
        class="thf-btn thf-u-no-padding thf-btn-primary"
        type="button">
        {{ 'action.print' | translate }}
      </button>
    </div>
  </div>

  <app-printable-table
    [hidden]="true"
    #table
    [columnsName]="columns"
    [items]="pageItemsList"
    [title]="reportTitle | translate"
  ></app-printable-table>
</div>

<ng-template #observationCell let-row="row" let-value="value" ngx-datatable-cell-template>
  <b>{{ 'text.summaryObservation' | translate }}</b> | {{ value }}
</ng-template>
