:host {
  display: flex;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid var(--color-grey-athens);
  background: white;
  justify-content: space-between;
  text-align: center;
  padding: 8px 30px 6px 36px;
}

.title {
  font-size: 12px;
  color: var(--color-card-gradient-final);
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0;
  align-self: center;
}
