<div>
    <button #popover thxPopover [thxPopover]="templateTest">Open</button>
    <!-- thx-popover></thx-popover -->

    <ng-template #templateTest>
        <thx-popover-header>
            <div>header test</div>
        </thx-popover-header>
        <thx-popover-content >
            <div>content test</div>
        </thx-popover-content>

        <thx-popover-footer color="blue">
            <div>footer test</div>
        </thx-popover-footer>

    </ng-template>
</div>
