<form
  [formGroup]="form"
  autocomplete="off">
  <div class="row">
    <div class="col">
    <label
      for="processingDate"
      class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold"
    >
      {{ 'label.processingDate' | translate }}
    </label>
    <thx-datepicker
      id="processingDate"
      formControlName="processingDate"
    ></thx-datepicker>
    <thx-error formControlName="processingDate"></thx-error>
  </div>
    <div class="col">
      <label
        for="reservationNumber"
        class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold"
      >
        {{ 'label.reservationNumber' | translate }}
      </label>
      <input
        id="reservationNumber"
        formControlName="reservationNumber"
        class="thf-input thf-u-margin-top--1"
        type="text"
        [ngClass]="{'thf-input-error': !form.get('reservationNumber').valid && form.get('reservationNumber').dirty}"/>
      <thx-error formControlName="reservationNumber"></thx-error>
    </div>
    <div class="col">
      <label
        for="reservationOriginId"
        class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold"
      >
        {{ 'label.reservationSource' | translate }}
      </label>
      <div class="thf-u-margin-top--1">
        <app-autocomplete
          id="reservationOriginId"
          controlName="reservationOrigin"
          [parent]="form"
          [resultList]="filteredOrigins"
          [autocompleteConfig]="originAutocompleteConfig"
        ></app-autocomplete>
      </div>
      <thx-error formControlName="reservationOriginId"></thx-error>
    </div>
    <div class="col">
      <label
        for="channelCodeId"
        class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold"
      >
        {{ 'label.partner' | translate }}
      </label>
      <div class="thf-u-margin-top--1">
        <app-autocomplete
          id="channelCodeId"
          controlName="channelCodeName"
          [parent]="form"
          [resultList]="filteredChannels"
          [autocompleteConfig]="channelAutocompleteConfig"
        ></app-autocomplete>
      </div>
      <thx-error formControlName="channelCodeId"></thx-error>
    </div>
  </div>
  <div class="row justify-content-end thf-u-margin-top--1">
    <div class="col-3">
      <app-button [buttonConfig]="confirmButtonConfig"></app-button>
    </div>
  </div>
</form>
