:host >>> .ui-autocomplete .ui-autocomplete-input:disabled {
  pointer-events: none;
  color: var(--color-grey);
  background-color: var(--color-grey-lighter);
}

:host >>> .ui-autocomplete .ui-autocomplete-input:read-only {
  border: 0;
  color: var(--color-black);
  background: var(--color-white);
  box-shadow: none;
  opacity: 1;
  pointer-events: none;
}
