<div class="thf-autocomplete" [formGroup]="parent" *ngIf="hasFormGroup" >
  <span *ngIf="autocompleteConfig.displayIcon && !readonly"
        class="thf-input-search-border--icon thf-u-z-index--1">
    <img src="{{'search.PNG' | imgCdn}}" alt="{{ 'img.search' | translate }}" />
  </span>
  <p-autoComplete
    #autcomplete
    [inputId]="id"
    *ngIf="controlName"
    [formControlName]="controlName"
    [inputStyleClass]="'thf-u-width-flex thf-input ' + autocompleteConfig.extraClasses"
    [styleClass]="'thf-u-width-flex'"
    [suggestions]="stringList"
    [delay]="600"
    (completeMethod)="search($event)"
    (onSelect)="selectValue($event)"
    [placeholder]="readonly ? '' : autocompleteConfig.placeholder"
    (onKeyUp)="onKeyUpNotify($event)"
    [emptyMessage]="emptyMessage"
    [forceSelection]="autocompleteConfig.forceSelection"
    [readonly]="readonly"
  >

    <ng-template let-option pTemplate="item">
      {{option}}
    </ng-template>
  </p-autoComplete>
</div>

<div class="thf-autocomplete"  *ngIf="!hasFormGroup">
  <span *ngIf="autocompleteConfig.displayIcon && !readonly"
        class="thf-input-search-border--icon thf-u-z-index--1">
    <img src="{{'search.PNG' | imgCdn}}" alt="{{ 'img.search' | translate }}" />
  </span>

  <p-autoComplete
    [inputId]="id"
    [field]="fieldToDisplayInOption"
    [inputStyleClass]="'thf-u-width-flex thf-input ' + autocompleteConfig.extraClasses"
    [styleClass]="'thf-u-width-flex'"
    [(ngModel)]="text"
    [suggestions]="autocompleteConfig.resultList"
    (completeMethod)="search($event)"
    (onSelect)="selectValueModel($event)"
    [placeholder]="readonly ? '' : autocompleteConfig.placeholder"
    [emptyMessage]="emptyMessage"
    (onKeyUp)="onKeyUpNotify($event)"
    [delay]="600"
    [forceSelection]="autocompleteConfig.forceSelection"
    [readonly]="readonly"
  >

    <ng-content select="template-option"></ng-content>
  </p-autoComplete>
</div>
