<app-modal-wrapper [modalId]="modalId" [title]="'commomData.createAccount'">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col-10">
        <label for="accountName" class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold thf-input-label--required">
          {{'label.accountName' | translate}}
        </label>
        <input [(ngModel)]="accountName" (ngModelChange)="checkButtonDisabled()" id="accountName" type="text"  class="thf-input" >
      </div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col-4 offset-4">
        <app-button [buttonConfig]="cancelModalButtonConfig"></app-button>
      </div>
      <div class="col-4">
        <app-button [buttonConfig]="confirmModalButtonConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

