<thx-toaster-v2></thx-toaster-v2>
<app-load-new></app-load-new>

<app-modal-wrapper modalId="modalForgotPassword" [title]="modalTitle">
  <div class="thf-modal-body hp-modal-body--userList">
    <div class="row">
      <div class="col-12"
           [innerHTML]="'authModule.login.forgotPasswordModal.sentEmail' | translate: { email: forgotPasswordEmail }">
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row">
      <div class="col-4 offset-4">
        <button (click)="toggleModal()" type="submit" role="button" class="thf-btn thf-btn-primary">
          {{ 'commomData.ok' | translate }}
        </button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<thx-login
  [productLogoImg]="'thex-pms-logo.svg'"
  [productName]="appName?.toLocaleUpperCase()"
  [versionNumber]="appVersion"
  [image]="'pms_login_bg_v2.jpg'"
  (submitForm)="login($event)"
  (resetedPassword)="recoverPassword($event)"
></thx-login>
