.button-right-list {
  position: absolute;
  right: 20px;
  width: auto;
}

.button-right-list .thf-display-on-hover {
  width: 60px;
  height: 100%;
  top: -110%;
  left: 50%;
  margin-left: -30px;
}

.button-right-list p {
  height: 100%;
  align-items: flex-end;
  justify-content: center;
}

.button-right-list:hover p {
  display: flex;
}

.thf-row-with-action-new--right-area {
  transform: translateY(16px);
}
