<div class="thf-u-margin-vertical--3"></div>

<div id="header-page-new" class="row">
  <header class="col-12">
    <div class="thf-row-with-action-new">
      <div class="row thf-row-with-action-new-areas">
        <div *ngIf="enableBackButton"
             class="col-auto thf-row-with-action-new--left-area thf-u-no-padding ml-4">
          <a (click)="goBackPreviewPage()" data-qa-id="back" href="javascript:void(0)" role="button"
             class="thf-round-btn thf-round-btn--default thf-u-text-center thf-u-font--18 thf-u-no-padding">
            <i class="mdi mdi-chevron-left"></i>
          </a>
        </div>
        <div class="thf-row-with-action-new--middle-area thf-u-line-nowrap thf-u-text-left"
             [ngClass]="{'thf-u-margin-bottom--1': !enableBackButton  || !showButton,
             'col-9': !hasFilter && !hasHeaderMiddleText,
             'col-4': (hasFilter || hasHeaderMiddleText) && !filterButtonIsLarge,
             'col-3': (hasFilter || hasHeaderMiddleText) && filterButtonIsLarge}">
          <h3 class="thf-title thf-u-reset-list">
            <ng-content select="header-title"></ng-content>
          </h3>
        </div>
        <div
          class="col-6 thf-row-with-action-new--middle-area thf-u-line-nowrap thf-u-text-left thf-u-font--16 thf-u-color--blue"
          *ngIf="hasHeaderMiddleText">
          <ng-content select="header-middle-text">
          </ng-content>
        </div>
        <div *ngIf="hasFilter" [ngClass]="{'col-4': !filterButtonIsLarge, 'col-6': filterButtonIsLarge}" class="thf-row-with-action-new--middle-area thf-u-line-nowrap thf-u-text-left">
          <ng-content select="['app-filter-search', 'thx-searchbar']">
          </ng-content>
        </div>
        <div class="ml-auto thf-row-with-action-new--right-area mr-4 button-right-list"
             [hidden]="!showButton && !showButtonRightList">
          <div class="thf-row-with-action-new-thf-text-button row justify-content-end">

            <div [hidden]="!showButton">
              <div class="thf-u-inline-block thf-u-position--relative thf-u-text-center thf-button-container">
                <div [ngClass]="{'thf-u-block': keepTitleButton}" class="thf-text thf-u-font--12 thf-display-on-hover">
                  <ng-content select="text-button"></ng-content>
                </div>

                <button id="header-page-new-button" data-qa-id="new-item" #button
                        [ngClass]="{'thf-round-btn--active': keepButtonActive}" (click)="runCallbackFunction()"
                        role="button" class="thf-round-btn thf-round-btn--default thf-u-font--14 thf-u-no-padding thf-u-margin-horizontal--1 thf-hover-img-white">
                  <ng-content select="icon-button"></ng-content>
                </button>
              </div>
            </div>

            <div *ngIf="showButtonRightList" >
              <div *ngFor="let btn of rightButtonList"  class="thf-u-inline-block thf-u-position--relative thf-u-text-center thf-button-container" >
                <div class="thf-text thf-u-font--12 thf-display-on-hover">
                  <p>{{ btn.title | translate }}</p>
                </div>
                <button #itemBtn id="header-page-new-button-list-item"
                        [ngClass]="{'thf-round-btn--active': keepButtonActive}" (click)="runCallbackButtonFunction(btn)"
                        role="button" class="thf-round-btn thf-round-btn--default thf-u-font--14 thf-u-no-padding thf-u-margin-horizontal--1 thf-hover-img-white">
                  <img src="{{btn.iconDefault}}" alt="{{btn.iconAlt | translate }}" class="thf-u-max-width--80p" >
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
      <hr class="thf-row-divider thf-u-reset-list">
    </div>
  </header>
</div>

<div class="thf-u-margin-vertical--3"></div>
