<!-- header component -->
<app-header-page-new [config]="configHeaderPage" [hasFilter]="true">

  <!-- header title -->
  <header-title> {{ 'title.listProducts' | translate }}</header-title>


  <!-- search bar -->
  <thx-searchbar
    name="searchFilter"
    [placeholder]="'placeholder.byCodeDescriptionAndGroup'"
    (input)="search($event)">
  </thx-searchbar>

  <!-- the button txt -->
  <text-button>{{'productModule.listPage.header.buttonNew' | translate}}</text-button>

  <!-- the modal btn -->
  <icon-button>
    <i class="mdi mdi-plus"></i>
  </icon-button>

</app-header-page-new>


<thx-datatable
  [columns]='columns'
  [itens]="pageItemsList"
  [itemsOption]="itemsOption"
  statusIdentifier="id"
  (statusChanged)="updateStatus($event)"
  (rowItemClicked)="rowItemClicked($event)"
  [emptyMessage]="'text.productListEmpty'"
  [emptyMessageContent]="'text.productListEmptyDescripion'"
  (emptyLinkClicked)="gotoNewProduct()"
  >
  <ng-template #rowAssociatedPOS let-row="row" let-rowIndex="rowIndex"  ngx-datatable-cell-template>
    <div class="no-submenu-options" [title]="row.associatedPos">
      {{ row.associatedPos }}
    </div>
  </ng-template>
</thx-datatable>

<app-products-modal-delete
  #modalDelete
  (deleteCompleted)="deleteCompleted($event)"
></app-products-modal-delete>
