<app-header-page-new>
  <header-title>
    <span>{{ 'title.sibaIntegration' | translate }}</span>
  </header-title>
</app-header-page-new>

<div class="row justify-content-center">
  <div class="col-10">
    <app-group-content [title]="'title.sibaIntegration'">
      <div class="row">
        <div class="col-4">
          <form [formGroup]="sibaForm">
            <label
              for="period"
              class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
              {{ 'label.period' | translate }}
            </label>
            <thx-date-range-picker
              formControlName="period"
              id="period"
              class="thf-u-no-margin">
            </thx-date-range-picker>
          </form>
        </div>
        <div class="col-4">
          <label
            for="period"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            &nbsp;
          </label>
          <app-button [buttonConfig]="buttonSearch"></app-button>
        </div>
      </div>
    </app-group-content>
  </div>
</div>
