<app-modal-wrapper [modalId]="modalId" [title]="'billingAccountModule.reversePostModal.title'" >
  <form [formGroup]="reverseFormGroup" class="thf-u-padding-right--1 thf-u-padding-left--1">
    <div class="thf-modal-body">
      <div class="thf-u-font--16">{{ 'billingAccountModule.reversePostModal.description' | translate }}</div>
      <div class="row thf-u-margin-top--2">
        <div class="col">
          <label class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine ">
            {{ 'label.reason' | translate }}
          </label>
          <app-select
            [selectId]="'reasonId'"
            [parent]="reverseFormGroup.get('reason')"
            [optionList]="reasonOptionList"
            [hasFormGroup]="true">
          </app-select>
        </div>
      </div>
      <div class="row thf-u-margin-top--2">
        <div class="col" formGroupName="reason">
          <label class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine ">
            {{ 'label.observation' | translate }}
          </label>
          <input formControlName="observation" type="text" id="observation" class="thf-input thf-u-margin-top--1" maxlength="50" />
        </div>
      </div>
    </div>
    <div class="thf-modal-footer">
      <div class="row justify-content-end">
        <div class="col-4">
          <app-button [buttonConfig]="buttonCancelConfig"></app-button>
        </div>
        <div class="col-4">
          <app-button [buttonConfig]="buttonReversePostConfig"></app-button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>
