<div class="row justify-content-center">
  <div class="col-8">
    <app-button [buttonConfig]="buttonFinishConfig"></app-button>
  </div>
</div>
<div class="row justify-content-center thf-u-margin-top--1">
  <div class="thf-u-font--12 thf-u-color-grey">{{ 'variable.or' | translate }}</div>
</div>
<div class="row justify-content-center thf-u-margin-top--1">
  <div class="col-8">
    <app-button [buttonConfig]="buttonConsolidateAndPay"></app-button>
  </div>
</div>
