/* Scheduler container */
thx-multi-property-availability-grid {
  position: relative;
  width: 100%;

  .scheduler_default_cell {
    flex-direction: column;
  }


  .grid-ocuppation {
    margin-top: 5px;
  }

  .grid-container {
    margin: 0 15px;
  }

  .grid-nav {
    width: 37px;
    height: 37px;
    position: absolute;
    margin-top: -15px;
    top: 40%;
    background-color: #273D52;
    color: #FFFFFF;
    font-size: 23px;

    &:hover, &:focus {
      text-decoration: none;
    }

    &.nav-left {
      left: 13px;
      text-align: left;
      border-radius: 100% 0 0 100%;
    }

    &.nav-right {
      right: 13px;
      text-align: right;
      border-radius: 0 100% 100% 0;
    }
  }

  .scheduler_default_main {
    font-family: inherit;
    border-left: 3px solid #273D52;
    border-top: 1px solid #EBEBEB;
    border-right: 0;
    box-shadow: inset -3px 0 #273D52;
  }

  /* Cells */
  .scheduler_default_cell {
    display: flex;
    align-items: center;
    justify-content: center;

    &.default {
      background-color: #fff;
    }

    &.today {
      background-color: #eaf8f9;
    }

    &.past {
      background: #edefef;
      color: rgba(45, 52, 52, .3);

      &.weekend {
        background: #c8cbcd;
      }
    }

    &.weekend {
      background-color: #f6e6ce;
    }

    &.even:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(132, 134, 136, .1);
    }

    &.blocked {
      opacity: .8;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0.3);
      border-top: 1px solid var(--color-sirocco);
      border-bottom: 1px solid var(--color-sirocco);

      &.start {
        border-left: 1px solid var(--color-sirocco);
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }

      &.end {
        border-right: 1px solid var(--color-sirocco);
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
      }

      img {
        position: absolute;
        width: 11px;
        top: 50%;
        left: 50%;
        margin-top: -7px;
        margin-left: -6px;
        filter: brightness(0);
        opacity: .7;
      }

    }

    /* Overbook cell*/
    &.overbook {
      background-color: rgba(255, 105, 105, 0.20);
      color: var(--color-red);

      .label {
        background-color: #FF6969;
        color: #ffffff;
        position: absolute;
        right: 0;
        top: 0;
        padding: 1px 4px;
      }
    }
  }

  /* Lines */
  .scheduler_default_matrix_horizontal_line,
  .scheduler_default_matrix_vertical_line,
  .scheduler_default_divider,
  .scheduler_default_splitter,
  .scheduler_default_resourcedivider {
    background-color: rgba(0, 0, 0, .15);
  }

  /* Footer cells */
  .scheduler_default_rowheader, .scheduler_default_cell {
    &.footer {
      color: #FFFFFF;
      background-color: #273D52;

      &.even::before {
        background-color: rgba(132, 134, 136, 0) !important;
      }

      .badge {
        background-color: #3B8DB9;
        color: white;
      }

      &.available-percentage {
        background-color: #33475A;
        font-size: 1em;
      }
    }
  }
}

/* Left corner */
.scheduler_default_corner_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0C9ABE;
  font-size: 14px;
}

/* Headers */
.scheduler_default_timeheadercol {
  background-color: #FFFFFF;
  color: #788183;

  &.today {
    background: #0C9ABE;
    color: #FFFFFF;
  }

  &.weekend {
    color: #0C9ABE;
  }

  &.past.weekend {
    color: #4A4A4A;
  }

  .day {
    font-size: 18px;
    flex-shrink: 0;
  }

  .caption {
    white-space: normal;
  }

  .month,
  .day-of-week {
    font-size: 9px;
    line-height: 12px;
  }

  .scheduler_default_timeheadercol_inner {
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

/* Sidebar (Resources) */
.scheduler_default_rowheader,
.scheduler_default_corner {
  background: #ffffff;
}

.scheduler_default_rowheader {
  display: flex;
  align-items: center;

  .scheduler_default_rowheader_inner {
    position: relative;
    border: 0;
  }

  /* Room status */
  .scheduler_default_tree_image_no_children {
    border-radius: 50%;
    background: none;
  }

  &.parent {
    cursor: pointer;
  }

  &.clean .scheduler_default_tree_image_no_children {
    background-color: #50E3C2;
  }

  &.dirty .scheduler_default_tree_image_no_children {
    background-color: #FF6969;
  }

  &.maintenance .scheduler_default_tree_image_no_children {
    background-color: #A497E3;
  }

  /* Bed Icons */
  .bed-icon {
    height: 13px;
    margin-left: 6px;
    opacity: .5;
  }

  .scheduler_default_tree_image_collapse,
  .scheduler_default_tree_image_expand {
    background-image: url('https://cdn.totvscmnet-cloud.net/img/thex/0.13.21/arrowdown-blue.min.svg');
    background-size: contain;
    background-position: center;
  }

  .scheduler_default_tree_image_expand {
    transform: rotate(-90deg);
  }

  /* Row Totals */
  .badge {
    margin-left: 5px;
    background: #3B8DB9;
    color: #FFFFFF;
    line-height: 1.2em;
    font-size: 10px;
    padding: .25em 0.6em;
    border-radius: 1rem;
  }

  &.footer {
    .badge {
      background: #FFFFFF;
      color: #3B8DB9;
    }
  }
}

/* Guests */
.scheduler_default_event {
  .scheduler_default_event_inner {
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: #ffffff;
    background: #cccccc;
    border: 0 solid #D0D8DC;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.20);
    border-radius: 4px;

    .text, .caption {
      max-width: 50%;
      margin-right: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .text {
      min-width: 22px;
    }

    .caption img {
      vertical-align: baseline;

      &.adult-count {
        position: relative;
        height: 12px;
        top: 1px;
      }

      &.child-count {
        position: relative;
        height: 14px;
        top: 2px;
      }
    }
  }

  &.status-checkout {
    .scheduler_default_event_inner,
    .event_action_show_more {
      background-color: #5E5683;
    }
  }

  &.status-checkin {
    .scheduler_default_event_inner,
    .event_action_show_more {
      background-color: #00B992;
    }
  }

  &.status-to-confirm {
    .scheduler_default_event_inner,
    .event_action_show_more {
      background-color: #3FD9E1;
    }
  }

  &.status-confirmed {
    .scheduler_default_event_inner,
    .event_action_show_more {
      background-color: var(--color-blue);
    }
  }
}

.scheduler_default_matrix_horizontal_line,
.scheduler_default_matrix_vertical_line {
  background: #979797;
}

.scheduler_default_event_continueleft .scheduler_default_event_inner {
  padding-left: 8px;
}

.scheduler_default_event_continueleft:after {
  content: "";
  border-right: 3px dotted rgba(255, 255, 255, .5);
  top: -1px;
  left: 0;
  width: 0;
  height: 100%;
  position: absolute;
}

.scheduler_default_shadow_inner {
  border: 1px dashed #0f3946;
  background: var(--color-blue, blue);
  border-radius: 4px;
}

/* Botão de opções */
.event_action_show_more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* Captions */
.grid-caption {
  margin-top: 25px;

  .reservation-status {
    display: inline-block;
    color: #FFFFFF;
    padding: .2em 1em;
    font-size: .8em;
    border-radius: 4px;

    &.checkin {
      background-color: var(--color-green);
    }

    &.checkout {
      background-color: #5E5683;
    }

    &.to-confirm {
      background-color: #3FD9E1;
    }

    &.confirmed {
      background-color: var(--color-blue);
    }
  }

  .room-status {
    display: inline-block;
    position: relative;
    padding: .2em 1em;
    font-size: .8em;
    border-radius: 4px;
    color: var(--color-grey-submarine);

    &:before {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      top: 6px;
      left: -2px;
      border-radius: 50%;
    }

    &.clean:before {
      background-color: var(--color-green);
    }

    &.dirty:before {
      background-color: var(--color-red);
    }

    &.maintenace:before {
      background-color: #A497E3;
    }
  }
}

/* Reservation popover */
.thf-popover {
  max-width: 420px;
  min-width: 420px;

  .account-header {
    margin-bottom: 30px;
  }

  h6 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .account-icon {
    border: 2px solid var(--color-blue);
    background: var(--color-white);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
  }

  .account-separator {
    margin-left: 43px;
    margin-top: -5px;
  }

  .adult-count {
    filter: brightness(.4) invert(1);
    transform: translateY(-2px) scale(.6);
  }

  .child-count {
    transform: translateY(-1px) scale(.7);
  }

  .status-checkout {
    color: #5E5683;
  }

  .status-checkin {
    color: #00B992;
  }

  .status-to-confirm {
    color: #3FD9E1;
  }

  .status-confirmed {
    color: var(--color-blue);
  }
}

// Override popover arrow color when popover is on top
thf-popover[x-placement^="top"] .thf-popover.white .thf-popover-arrow {
  &:before {
    border-color: var(--color-blue) transparent transparent transparent !important;
  }

  &:after {
    border-color: var(--color-blue) transparent transparent transparent !important;
  }
}

/* disable resource scroll */
.scheduler_default_rowheader_scroll {
  overflow-y: hidden !important;
}
