<ng-template #popoverReservationInfo>
  <thx-popover-content class="thf-u-text-left thf-u-font--14">
    <div class="account-header">
      <div class="row">
        <div class="col-2">
          <div class="account-icon thf-u-text-center thf-u-font--25 thf-u-color--blue">
            <i class="mdi mdi-account"></i>
          </div>
        </div>
        <div class="col-10">
          <div class="row">
            <div class="col-6 thf-u-margin-top--1">
              <h6 class="thf-u-color--blue">{{ selectedReservation?.guestName }}</h6>
            </div>
            <div class="col-6 thf-u-margin-top--1 thf-u-text-right">
              <img src="{{'person-white.svg' | imgCdn}}" class="adult-count"> {{ selectedReservation?.adultCount }}
              <img src="{{'child_icon.svg' | imgCdn}}" class="child-count"> {{ selectedReservation?.childCount }}
            </div>
          </div>
        </div>
      </div>

      <hr class="account-separator thf-row-divider">
    </div>


    <div class="row">
      <div class="col-6">
        <div class="thf-u-font--12 thf-input-label--grey-submarine">{{ labels?.roomType }}</div>
        <div class="button-label thf-u-font--bold thf-u-font--14">
          <strong>{{ selectedReservation?.roomNumber }} {{ selectedReservation?.roomTypeName }}</strong>
        </div>
      </div>

      <div class="col-6">
        <div class="thf-u-font--12 thf-u-no-margin thf-input-label--grey-submarine">{{ labels?.reservationCode }}</div>
        <div>{{ selectedReservation?.reservationCode }}</div>
      </div>

      <div class="col-6">
        <div class="thf-u-font--12 thf-u-no-margin thf-input-label--grey-submarine">{{ labels?.status }}</div>
        <div [ngClass]="selectedReservation?.cssClass">{{ selectedReservation?.statusName }}</div>
      </div>

      <div class="col-6">
        <div class="thf-u-font--12 thf-u-no-margin thf-input-label--grey-submarine">{{ labels?.period }}</div>
        <div>{{ selectedReservation?.start | amDateFormat:'L' }} - {{ selectedReservation?.end | amDateFormat:'L' }}</div>
      </div>

    </div>
  </thx-popover-content>

  <thx-popover-footer color="blue" class="thf-u-text-left">
    <div class="row">
      <div class="col-6">
        <a class="thf-u-color--white thf-u-font--12 thf-u-font--normal"
           href="javascript:void(0)"
           (click)="emitReservationClick(selectedReservation)">
          {{ labels.reservationDetails }}</a>
      </div>
      <div class="col-6">
        <a class="thf-u-color--white thf-u-font--12 thf-u-font--normal"
           href="javascript:void(0)"
           (click)="emitRateProposalClick($event, selectedTimeRange)">
          {{ labels.reservationRateProposal }}</a>
      </div>
    </div>
  </thx-popover-footer>

</ng-template>

<ng-template #popoverSelectedPeriod>
  <thx-popover-content class="thf-u-text-left thf-u-font--14">
    <div class="row">
      <div class="col-12">
        <div class="thf-u-font--12 thf-input-label--grey-submarine">{{ 'Hotel' }}</div>
        <div class="button-label thf-u-font--bold thf-u-font--14">
          {{ selectedTimeRange?.propertyName }}
        </div>
      </div>
      <div class="col-6">
        <div class="thf-u-font--12 thf-input-label--grey-submarine">{{ labels?.roomType }}</div>
        <div class="button-label thf-u-font--bold thf-u-font--14">
          {{ selectedTimeRange?.roomName }} {{ selectedTimeRange?.roomTypeName }}
        </div>
      </div>

      <div class="col-6">
        <div class="thf-u-font--12 thf-u-no-margin thf-input-label--grey-submarine">{{ labels?.period }}</div>
        <div>{{ selectedTimeRange?.start | amDateFormat:'L' }} - {{ selectedTimeRange?.end | amDateFormat:'L' }}</div>
      </div>

    </div>
  </thx-popover-content>

  <thx-popover-footer color="blue" class="thf-u-text-center">
    <div class="row" *ngIf="selectedTimeRange.roomBlock; else unblocked">
      <div class="col-12 thf-u-text-center">
        <a class="thf-u-color--white thf-u-font--14 thf-u-font--normal"
           href="#" (click)="emitUnlockRoom($event, selectedTimeRange)">
          {{ labels.unlockRoom }}
        </a>
      </div>

    </div>

    <ng-template #unblocked>
      <div class="row">
        <div *ngIf="selectedTimeRange?.roomName" class="col-4">
          <a class="thf-u-color--white thf-u-font--12 thf-u-font--normal"
             href="#"
             (click)="emitBlockRoom($event, selectedTimeRange)">
            {{ labels.blockRoom }}
          </a>
        </div>

        <div [ngClass]="selectedTimeRange?.roomName ? 'col-4' : 'col-6'" >
          <a class="thf-u-color--white thf-u-font--12 thf-u-font--normal"
             href="javascript:void(0)"
             (click)="emitRateProposalClick($event, selectedTimeRange)">
            {{ labels.reservationRateProposal }}</a>
        </div>

        <div [ngClass]="selectedTimeRange?.roomName ? 'col-4' : 'col-6'">
          <i class="mdi mdi-plus"></i>
          <a class="thf-u-color--white thf-u-font--12 thf-u-font--normal"
             href="#"
             (click)="emitNewReservation($event, selectedTimeRange)">
            {{ labels.newReservation }}
          </a>
        </div>
      </div>
    </ng-template>
  </thx-popover-footer>

</ng-template>

<div class="col-12">
  <div class="grid-container">

    <a href="#" (click)="goPrevious($event)" role="button" class="grid-nav nav-left">
      <i class="mdi mdi-chevron-left"></i>
    </a>

    <a href="#" (click)="goNext($event)" role="button" class="grid-nav nav-right">
      <i class="mdi mdi-chevron-right"></i>
    </a>

    <daypilot-scheduler [config]='config' [events]='reservationList' #scheduler></daypilot-scheduler>


    <div class="grid-caption">
      <div class="row">
        <div class="offset-9 col-3">
          <button role="button" class="thf-btn thf-btn-secondary" (click)="goToday()">
            <i class="mdi mdi-crosshairs-gps"></i>
            {{ labels?.showToday }}
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
