<div class="thf-u-margin-top--1" *ngIf="allControlList && allControlList.length > 0">

  <app-header-page-new
    [hasFilter]="true">
    <header-title>
      <span>{{ 'title.pensionControl' | translate }}</span>
    </header-title>
    <thx-searchbar
      *ngIf="!isPrint"
      name="filterSearch"
      [placeholder]="'placeholder.filterByUhNumberGuestNameOrPensionType'"
      (search)="updateList($event)"
      ngDefaultControl>
    </thx-searchbar>

  </app-header-page-new>

  <div class="offset-md-1 col-10" *ngFor="let item of allControlList">
    <pension-control-item
      [filter]="selection"
      [item]="item"
      [isToPrint]="false">
    </pension-control-item>
  </div>

  <div class="row thf-u-margin-vertical--1">
    <div class="offset-9 col-3 thf-u-margin-top--2">
      <button
        (click)="print()"
        class="thf-btn thf-u-no-padding thf-btn-primary"
        type="button">
        {{ 'action.print' | translate }}
      </button>
    </div>
  </div>

</div>

<app-printable-table
  [hidden]="true"
  #componentToPrint
  [columnsName]="columns"
  [items]="allControlList"
  [title]="'label.pensionControl' | translate"
></app-printable-table>

<ng-template #child let-item="item">
  <pension-control-item
    [filter]="selection"
    [item]="item"
    [isToPrint]="true">
  </pension-control-item>
</ng-template>
