<app-modal-wrapper modalId="modalOrigin" [title]="modalTitle">

  <form [formGroup]="modalForm" novalidate>
    <div class="thf-modal-body hp-modal-body--originList">
      <div class="row">
        <div class="col-2">
          <label for="codeOrigin"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'originModule.modalOrigin.labels.one' | translate }}
          </label>
          <input
            id="codeOrigin"
            class="thf-input thf-u-margin-top--1"
            type="text"
            formControlName="code"
            [class.thf-input-error]="!modalForm.controls.code.valid && (modalForm.controls.code.dirty || modalForm.controls.code.touched)">
        </div>
        <div class="col-6">
          <label for="descOrigin"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'originModule.modalOrigin.labels.two' | translate }}
          </label>
          <input
            id="descOrigin"
            class="thf-input thf-u-margin-top--1"
            type="text"
            formControlName="description"
            [class.thf-input-error]="!modalForm.controls.description.valid && (modalForm.controls.description.dirty || modalForm.controls.description.touched)">
        </div>
        <div class="col">
          <div class="row hp-modal-input-checkbox--originList">
            <div class="col">
              <label for="checkOrigin"
                     class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                {{ 'originModule.modalOrigin.labels.three' | translate }}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input id="checkOrigin" class="thf-input-radio-button" type="checkbox" formControlName="isActive">
              <label for="checkOrigin" class="thf-u-margin-top--1"><span class="ui"></span></label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <button (click)="toggleModal()" role="button" class="thf-btn thf-btn-secondary">{{ 'commomData.cancel' |
            translate }}
          </button>
        </div>
        <div class="col">
          <button (click)="actionSaveModalOrigin() " role="button" class="thf-btn thf-btn-primary"
                  [disabled]="!modalForm.valid">{{ 'commomData.confirm' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>

</app-modal-wrapper>

<div class="thf-origin-list-wrapper">

  <div class="row align-items-center hp-origin-list--header">
    <div class="col-4">
      <h2 class="hp-origin-list-title">{{ 'originModule.tableRowOrigin.header.title' | translate }}</h2>
    </div>
    <div class="col-3 ml-auto">
      <button
        type="button"
        name="button"
        data-qa-id="neworigin"
        class="thf-btn thf-btn--sm thf-btn-secondary"
        (click)="toggleModal()">{{ 'originModule.tableRowOrigin.header.button' | translate }}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <thx-datatable
        *ngIf="pageItemsList"
        [columns]='columns'
        [itens]="pageItemsList"
        statusIdentifier='id'
        [itemsOption]="itemsOption"
        (statusChanged)="updateOriginStatus($event)"
        (rowItemClicked)="editOriginConfig($event)"
        [emptyMessage]="'variable.emptyContentF.title' | translate: { labelName: 'label.origin' | translate | lowercase }"
        [emptyMessageContent]="'variable.emptyContentF.textDescription' | translate: { labelName: 'label.origin' | translate | lowercase }"
        (emptyLinkClicked)="toggleModal()">
      </thx-datatable>

    </div>
  </div>
</div>
