:root {
  --color-grey-darker: #2C373A;
}

.hp-origin-list--header {
  height: 60px;
}

.hp-origin-list-title {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  color: var(--color-grey-darker);
}

.hp-modal-body--originList {
  position: relative;
  padding-top: 10px;
  padding-bottom: 45px;
}

.hp-modal-input-checkbox--originList label {
  padding-bottom: 13px;
}

.hp-modal-input-checkbox--originList .thf-input-radio-button {
  top: 40px;
  left: 30px;
  width: 70px;
  height: 30px;
  display: block;
  z-index: 1;
  cursor: pointer;
}

.hp-input-disabled {
  cursor: not-allowed;
}
