<thx-page-title
  [title]="'menu.hotelPanel' | translate">
</thx-page-title>

<div class="row">
  <div class="col-md-12 col-lg-12 col-xl-12">
    <div class="row">
      <div class="col-sm-1 col-md-3 col-lg-3 col-xl-2"
           *ngFor="let property of properties">
        <app-property-card
          [property]="property"
          (chosen)="setPropertyTokenAndRedirectAvailabilityGrid($event)">
        </app-property-card>
      </div>
    </div>
  </div>
</div>
