<app-modal-wrapper [modalId]="modalId"  minWidth="405px" maxWidth="405px" extraHeaderClass="thf-u-reset-border" [closeCallbackFunction]="closeAction" >
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="d-flex justify-content-center flex-column text-center">
      <div>
        <img class="thf-u-icon-modal-large thf-u-margin-vertical--2" src="{{'icon-emission-nf.svg' | imgCdn }}" alt="{{ 'img.iconEmissionNf' | translate }}">
      </div>
      <div>{{ invoice?.externalCodeNumber }}</div>
      <div class="thf-u-margin-vertical--1">{{ 'text.resendNfse' | translate }}</div>
      <div class="thf-u-margin-vertical--2">
        <ul class="thf-u-reset-list thf-u-margin-bottom--2">
          <li class="thf-u-color--red" >- {{invoice?.aditionalDetails}}</li>
        </ul>
      </div>
    </div>
  </div>
</app-modal-wrapper>
