<div class="warning-box">
  <thx-img class="image" [src]="'exclamation.svg'"></thx-img>
  <div class="title">{{'text.userInviteWarning' | translate}}</div>
</div>

<div class="users">
  <form
    [formGroup]="userForm"
    class="form"
  >

    <thx-title-v2 [title]="'title.userProfileRegister' | translate">
      <thx-subtitle-v2 [subtitle]="'title.chooseProfile' | translate">
        <app-profile-selector
            #selector
            [list]="profilesOptions$ | async"
            (selectUserType)="setProfile($event)"
        ></app-profile-selector>

      </thx-subtitle-v2>

      <thx-subtitle-v2 [subtitle]="'title.profileData' | translate">
        <div class="row">
          <div class="col-4">
            <thx-input-text
              formControlName="name"
              [title]="'variable.nameOf.M' | translate: {labelName: 'label.user' | translate | required}"
            ></thx-input-text>
          </div>

          <div class="col-4">
            <thx-input-text
              formControlName="email"
              [title]="'label.email' | translate | required"
            ></thx-input-text>
          </div>

          <div class="col-4">
            <thx-select-v2
              formControlName="languageId"
              [title]="'label.language' | translate | required"
              [optionList]="propertyLanguagesOptions$ | async"
            ></thx-select-v2>
          </div>
        </div>
      </thx-subtitle-v2>
    </thx-title-v2>

    <footer class="footer">
      <thx-button-v2
        [iconAfter]="getButtonClass(userForm.valid)"
        [primary]="false"
        [disabled]="userForm.invalid"
        (clicked)="save(userForm)"
      >
        {{'action.add' | translate}}
      </thx-button-v2>
    </footer>
  </form>
  <div class="container-list">
    <thx-container-list
      class="list"
      [title]="'variable.addM' | translate: {labelName: 'label.users' | translate }"
      [items]="users$ | async"
      [itemTemplate]="userCard"
      [emptyTemplate]="emptyMessage"
    ></thx-container-list>

    <ng-template #userCard let-user="item">
      <app-user-list-card
        [user]="user"
      ></app-user-list-card>
    </ng-template>

    <ng-template #emptyMessage>
      <div class="empty-block">
        <div class="block">
          <img
            class="image"
            [src]="'perfildousuario_V2.svg' | imgCdn"
            alt=""
          >
          <span class="text">{{'text.noUsers' | translate}}</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
