@import "variables";

.footer {
  display: flex;
  justify-content: flex-end;
}

.users {
  display: flex;
  height: calc(100% - 76px);
  margin-left: -15px;
  margin-right: -15px;
}

.form {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
  padding: 0 15px;
  overflow: auto;
  margin-right: 8px;

  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    margin: 0 2px 0 0;
  }

  &::-webkit-scrollbar-thumb{
    background-color: $grey-color--20;
    border-radius: 100px;
    outline: 1px solid $grey-color--20;
  }
}

.container-list {
  display: flex;
  width: 300px;
  margin-right: 15px;
  height: 100%;

  .list {
    width: 100%;
  }
}

.empty-block {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-right: 10px;

  > .block {
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > .image {
      width: 110px;
      margin-bottom: 20px;
    }

    > .text {
      font-size: 14px;
      color: var(--color-grey-darker);
      text-align: center;
      padding: 0 6px;
      filter: opacity(0.5);
    }
  }
}

.warning-box {
  height: 56px;
  border-radius: 6px;
  background-color: rgba($complementary-color, 0.15);
  padding: 10px 20px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  > .image {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    display: flex;
  }

  > .title {
    height: 36px;
    font-size: $items-type-two-font-size;
    line-height: 1.38;
    color: $grey-color--70;
  }
}
