<div class="row justify-content-end thf-u-margin-bottom--1">
  <div class="col">
    <span class="thf-title">{{i18n.title}} ({{paramsList?.length}})</span>
  </div>
  <div class="col-3">
    <app-button [buttonConfig]="newParamButton"></app-button>
  </div>
</div>

<thx-datatable
  [rowHeight]="54"
  [columns]='columns'
  [itens]="paramsList"
  [hasLastCell]="false"
  [rowsLimit]="4"
  [emptyMessage]="i18n.table.emptyMessage.title"
  [completeEmptyMessageContent]="i18n.table.emptyMessage.description">

  <ng-template #actionsTemplate let-row="row" ngx-datatable-cell-template>
    <div class="row h-100 icons-action thf-u-text-center align-items-center">
      <div class="col" *ngIf="!row.isEdit">
        <i
          (click)="editRow(row)"
          class="mdi mdi-pencil thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--20 thf-u-color--blue thf-u-cursor--pointer">
        </i>
      </div>
      <div class="col" *ngIf="row.isEdit && paramRowIsValid(row)">
        <i
          (click)="saveRow(row)"
          class="mdi mdi-check thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--20 thf-u-color--green thf-u-cursor--pointer">
        </i>
      </div>
      <div class="col" *ngIf="row.isEdit">
        <i
          (click)="cancelRow(row)"
          class="mdi mdi-close thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--20 thf-u-color--red thf-u-cursor--pointer">
        </i>
      </div>
      <div class="col" *ngIf="!row.isEdit">
        <img (click)="removeRow(row)" class="thf-u-cursor--pointer"
             src="{{'delete.min.svg' | imgCdn}}" alt="{{ 'img.iconDelete' | translate}}"/>
      </div>
    </div>
  </ng-template>

  <ng-template #roomTypeSelect let-row="row" ngx-datatable-cell-template>
    <div class="row h-100 align-items-center" *ngIf="!row.isEdit">
      <div class="col">{{row.roomTypeName}}</div>
    </div>
    <app-select
      *ngIf="row.isEdit"
      [selectId]="'roomType'"
      [optionList]="roomTypeSelectList"
      [hasBlankOption]="false"
      [hasMagin]="false"
      [choseOnlyOnClick]="true"
      [selectedOptionId]="row.roomTypeId"
      (selectedOption)="updateRoomType($event , row)">
    </app-select>
  </ng-template>

  <ng-template #occupation let-row="row" ngx-datatable-cell-template>
    <div class="row h-100 align-items-center" *ngIf="!row.isEdit">
      <div class="col">{{row.occupationPercent}}</div>
    </div>
    <div class="row h-100 align-items-center" *ngIf="row.isEdit">
      <div class="col">
        <input
          *ngIf="row.isEdit"
          id="minOccupationPercentual"
          class="thf-input"
          [(ngModel)]="row.minOccupationPercentual"
          [class.thf-input-error]="!minIsValid(row)"
          (ngChange)="updateMin($event, row)"
          currencyMask/>
      </div>
      <div class="col-2">
        <span class="thf-u-margin-vertical--1">{{i18n.labels.until}}</span>
      </div>
      <div class="col">
        <input
          *ngIf="row.isEdit"
          id="maxOccupationPercentual"
          class="thf-input"
          [(ngModel)]="row.maxOccupationPercentual"
          [class.thf-input-error]="!maxIsValid(row)"
          (change)="updateMax($event, row)"
          currencyMask/>
      </div>
    </div>
  </ng-template>

  <ng-template #isDecreasedSelect let-row="row" ngx-datatable-cell-template>
    <div class="row h-100 align-items-center" *ngIf="!row.isEdit">
      <div class="col">{{row.isDecreasedName}}</div>
    </div>
    <app-select
      *ngIf="row.isEdit"
      [selectId]="'isDecreased'"
      [optionList]="adjustSelectList"
      [hasBlankOption]="false"
      [hasMagin]="false"
      [choseOnlyOnClick]="true"
      [selectedOptionId]="row.isDecreased"
      (selectedOption)="updateAdjust($event , row)">
    </app-select>
  </ng-template>

  <ng-template #amount let-row="row" ngx-datatable-cell-template>
    <div class="row h-100 align-items-center" *ngIf="!row.isEdit">
      <div class="col">{{ row.percentage ? row.percentualAmount + '%' : currencyName + (row.incrementAmount | currencyFormat: ' ') }}</div>
    </div>
    <div *ngIf="row.isEdit" class="thf-input-group thf-document-group thf-group-input-select">
      <app-select
        [selectId]="'variation'"
        [optionList]="rateVariationSelectList"
        [hasBlankOption]="false"
        [hasMagin]="false"
        [choseOnlyOnClick]="true"
        [selectedOptionId]="row.variation"
        (selectedOption)="updateRate($event , row)">
      </app-select>
      <input
        id="amount"
        class="thf-input"
        [(ngModel)]="row.amount"
        [class.thf-input-error]="!amountIsValid(row)"
        (change)="updateAmount($event, row)"
        currencyMask/>
    </div>
  </ng-template>

</thx-datatable>
