<div class="thf-modal-body hps-modal-reservation-item-overflow-y">
  <div
    class="row thf-u-margin-bottom--2 thf-u-padding-horizontal--2"
    *ngIf="showHeader">
    <div class="col-3">
      <label class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold thf-input-label--required">
        {{'text.commercialOffer' | translate}}
      </label>
      <thx-custom-select
        id="ratePlan"
        notifyOnlyWhenClick="true"
        *ngIf="commercialBudgetSelectList.length > 0 && !isForFree; else reservationBudgetListEmpty"
         [selectedOptionId]="commercialBudgetSelectedItem"
         [optionList]="commercialBudgetSelectList"
         (selecteOption)="setSelectedCommercialBudget($event)"
         [clearOnResetList]="false"
         (notFoundOption)="unselectItem($event)"
         [disabled]="isForFree"
         [backgroundColorItemSelected]="'#EA9B3E'"
         [colorTextItemSelected]="'#FFFFFF'"
         [itemClass]="'hps-select-item'"
         [itemSelectedClass]="'hps-item-selected'"
         [arrowClass]="'thf-u-filter-svg--white'"
         [minHeight]="51">
      </thx-custom-select>
      <ng-template #reservationBudgetListEmpty>
        <div class="thf-u-font-14">{{'text.reservationBudgetListEmpty' | translate}}</div>
      </ng-template>
      <div *ngIf="isMigrated" class="col-12 migrated-tag">{{ 'label.reservationMigrated' | translate }}</div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <label class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">
            {{'label.roomTypeCharged' | translate}}
          </label>
          <span class="thf-u-block thf-u-font--14 thf-u-font--bold reservation-budget-detail">
            {{commercialBudgetSelectedItemComplete?.roomTypeAbbreviation}}
          </span>
        </div>
        <div class="col-6">
          <label class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">
            {{'label.baseRate' | translate}}
          </label>
          <span class="thf-u-block thf-u-font--14 thf-u-font--bold reservation-budget-detail">
              <span>
                {{commercialBudgetSelectedItemComplete?.currencySymbol || ''}}
              </span>
            {{ total | number:'1.2-2' }}
            </span>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold thf-u-margin-top--1">
            {{'label.pensionType' | translate}}
          </label>
          <span class="thf-u-block thf-u-font--14 thf-u-font--bold reservation-budget-detail">
                {{commercialBudgetSelectedItemComplete?.mealPlanTypeName}}
            </span>
        </div>
        <div class="col-6">
          <label class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold thf-u-margin-top--1">
            {{'label.rateVariation' | translate}}
          </label>
          <span class="thf-u-block thf-u-color--blue thf-u-font--14 thf-u-font--bold reservation-budget-detail">
                {{commercialBudgetSelectedItemComplete?.rateVariation}}%
            </span>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-12">
          <label class="thf-u-font--14 thf-u-color--grey-submarine thf-u-font--bold thf-u-block">
            {{'label.gratuity' | translate}}
          </label>
          <input
            type="checkbox"
            class="thf-input-radio-button"
            id="checkStatus"
            [(ngModel)]="isForFree"
            (ngModelChange)="toggleGratuityType($event)">
          <label for="checkStatus">
            <span class="ui"></span>
          </label>
        </div>
        <div class="col-12">
          <label class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold thf-u-margin-top--1">
            {{'label.gratuityType' | translate}}
          </label>
          <app-select
            [optionList]="gratuityTypeSelectOptionsList"
            [selectId]="'gratuityTypeId'"
            [selectedOptionId]="gratuityTypeId"
            [hasMagin]="true"
            [disabled]="!isForFree"
            [dontChooseWhenset]="false"
            (selectedOptionIdChange)="updateGratuityType($event)">
          </app-select>
        </div>
      </div>
    </div>
  </div>
  <div class="thf-margin-top--2" >
    <app-reservation-budget-table
      [propertyId]="propertyId"
      [reservationStatus]="reservationStatus"
      [isMigrated]="isMigrated"
      [period]="period"
      [isForFree]="isForFree"
      [commercialBudgetList]="commercialBudgetList"
      [commercialBudgetSelectedItem]="commercialBudgetSelectedItemComplete"
      [selectedReservationBudgetList]="selectedReservationBudgetList"
      [originalReservationBudgetListSaved]="originalReservationBudgetListSaved"
      (updateList)="updateList($event)"
      (totalsHasChanged)="updateTotals($event)">
    </app-reservation-budget-table>
    <div
      class="thf-u-background-color--blue thf-u-margin-top--1 thf-u-color--white thf-u-font--14 thf-u-padding--1 thf-u-padding-left--2 thf-u-padding-right--2">
      <div class="row">
        <div class="col-lg-5 col-xl-5">
          <span class="thf-u-font--bold">
            {{'text.budgetOfThisAccommodation' | translate}}: {{ total  | currencyFormat: null:2:'.':',':3:false}}
          </span>
        </div>
        <div class="col-lg-2 col-xl-2">
          <span class="thf-u-vertical-align-middle">
            {{'text.overnights' | translate}}: {{ overnights }}
          </span>
        </div>
        <div class="col-lg-4 col-xl-4">
          <span>
            {{'text.dailyAverageAdr' | translate}}:
            {{ commercialBudgetSelectedItemComplete?.currencySymbol }}
            {{ averageDaily | currencyFormat: null:2:'.':',':3:false}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="thf-modal-footer" *ngIf="showFooter">
  <div class="row">
    <div [ngClass]="{'col-6': showIssueProformaButton(), 'col-8': !showIssueProformaButton() }">
      <span class="thf-u-color--red thf-u-font--14" *ngIf="agreementRateHasChanged()">
            {{'text.budgetModalAttentionMessage' | translate}}
      </span>
    </div>
    <div *ngIf="showIssueProformaButton()" class="col-2 thf-u-margin-top--2">
      <app-button [buttonConfig]="issueProformaIndividualButtonConfig"></app-button>
    </div>
    <div class="col-2 thf-u-margin-top--2">
      <app-button [buttonConfig]="cancelButtonConfig"></app-button>
    </div>
    <div class="col-2 thf-u-margin-vertical--2">
      <app-button [buttonConfig]="confirmButtonConfig"></app-button>
    </div>
  </div>
</div>
