::ng-deep .hps-item-selected, ::ng-deep  .hps-select-item:hover {
  background-color: var(--color-orange) !important;
  color: var(--color-white) !important;
}

.migrated-tag {
  text-align: center;
  border: 1px solid var(--color-danger);
  display: inline-block;
  color: var(--color-danger);
  margin-top: 20px;
}
