<button [id]="id" (click)="clickButton($event)" type="button" [name]="id"
        class="thf-btn"
        [type]="type"
        [ngClass]="{
          'thf-btn--sm': isSmallSize,
          'thf-btn-primary': isPrimaryButton,
          'thf-btn-secondary': isSecondaryButton,
          'thf-btn-danger': isDangerButton,
          'thf-btn-outline': isButtonOutline,
          'thf-btn-widget': isButtonWidget,
          'thf-u-width-flex': isFullSize,
          'active': isActive
        }"
        [ngStyle]="{'width': width}"
        [class]="extraClass" [disabled]="isDisabled">
  <ng-content></ng-content>
  {{ textButton | translate }} {{ textComplementButton }}
</button>
