<app-header-page-new [config]="configHeaderPage">
  <header-title>{{ pageTitle | translate }}</header-title>
</app-header-page-new>

<form
  novalidate
  id="formRateLevel"
>
  <app-group-content
    [title]="'title.configVigenceCurrency'"
    [formGroup]="headerForm"
    *ngIf="isNew"
  >
    <div class="row align-items-end">
      <div id="config-Vigence-Currency-origin" class="col-3">
        <label class="thf-u-no-margin thf-input-label thf-input-label--required">
          {{ 'label.validityPeriod' | translate }}
        </label>
        <thx-date-range-picker
          id="vigenceDate"
          formControlName="vigenceDate">
        </thx-date-range-picker>
        <thx-error formControlName="vigenceDate"></thx-error>
      </div>
      <div class="col-3">
        <label for="currency"
               class="thf-u-no-margin thf-input-label thf-input-label--required">
          {{ 'label.rateCurrency' | translate }}
        </label>
        <app-select
          id="currency"
          [selectId]="'currency'"
          [parent]="headerForm"
          [optionList]="currencyList"
          [hasFormGroup]="true"
          [hasMagin]="false"
        ></app-select>
        <thx-error formControlName="currency"></thx-error>
      </div>
      <div class="col-2">
        <app-button
          [buttonConfig]="buttonApplyConfig">
        </app-button>
      </div>
      <div class="col-2">
        <app-button
          [buttonConfig]="buttonCleanConfig">
        </app-button>
      </div>
    </div>
  </app-group-content>

  <div class="thf-u-margin-top--4">
    <app-group-content
      *ngIf="hasBaseRateConfiguration && configRateLevel"
      [title]="'title.configRatebyLevel'"
      [formGroup]="levelRateForm"
    >
      <div class="row">
        <div class="col-3 thf-u-margin-top--1">
          <label>
            {{ 'label.validityPeriod' | translate }}
          </label>
          <div class="thf-u-font--14">
            {{ rangeDate }}
          </div>
        </div>

        <div class="col-3 thf-u-margin-top--1">
          <label class="thf-input-label--required">
            {{ 'label.levelRate' | translate }}
          </label>
          <app-select
            id="level"
            selectId="level"
            [parent]="levelRateForm"
            [optionList]="levelOptionsList"
            [hasFormGroup]="true"
            [hasMagin]="false"
          ></app-select>
          <thx-error formControlName="level"></thx-error>
        </div>

        <div class="col-4 thf-u-margin-top--1">
          <label class="thf-input-label--required">
            {{ 'variable.nameOf.F' | translate: { labelName: 'label.taxRate' | translate } }}
          </label>
          <input id="nameRate" type="text" formControlName="nameRate" class="thf-input"/>
          <thx-error formControlName="nameRate"></thx-error>
        </div>
      </div>

      <div class="row thf-u-margin-top--2">
        <div class="col">
          <base-rate-table
            (roomTypeWithBaseRateUpdatedList)="setRoomTypeWithBaseRateUpdatedList($event)"
            [propertyParameterList]="propertyParameterList"
            [roomTypeWithBaseRateList]="roomTypeList"
            [footerHeight]="0"
          ></base-rate-table>
        </div>
      </div>

      <app-group-content
        *ngIf="configRateLevel"
        [bodyClass]="'thf-u-margin-padding--05'"
        [title]="'text.configMealSpecial'">
       <div class="row justify-content-end mb-2">
         <div class="col-auto">
           <div>
             <input
               type="checkbox"
               class="thf-input-radio-button"
               id="useMealPlanTypeDefaultList"
               [ngModel]="useMealTypeListDefault"
               (ngModelChange)="toggleDefaultMealTypeList()"
               [ngModelOptions]="{standalone: true}"
             />
             <label class="thf-u-vertical-align-super" for="useMealPlanTypeDefaultList">
               <span class="ui"></span>
             </label>
             <span>{{ 'text.setMealPlanTypeDefault' | translate }}</span>
           </div>
         </div>
        </div>
        <br />
        <meal-plan-table *ngIf="!useMealTypeListDefault"
          (updatedList)="updatedListMealType($event)"
          [propertyParameterList]="propertyParameterList"
          [mealTypeList]="mealTypeList"
          [canChoseDefault]="true"
          [isDisabled]="useMealTypeListDefault">
        </meal-plan-table>
      </app-group-content>
    </app-group-content>
  </div>

  <div class="row thf-u-margin-top--2" *ngIf="configRateLevel">
    <div class="col offset-8">
      <app-button
        [buttonConfig]="buttonCancelConfig"></app-button>
    </div>
    <div class="col">
      <app-button
        [buttonConfig]="buttonSaveConfig"></app-button>
    </div>
  </div>
</form>

<app-modal-wrapper
  [modalId]="modalId"
  title="title.cleanEverything"
  minWidth="620px"
>
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row thf-u-margin-top--1">
      <p class="col thf-u-color--red">
        {{'text.cleaningWarning' | translate}}
      </p>
    </div>
    <div class="row">
      <p class="col">
        {{'text.cleaningConfirm' | translate}}
      </p>
    </div>

    <div class="row thf-u-margin-top--2">
      <div class="offset-6 col-3">
        <app-button [buttonConfig]="modalButtonCancelConfig"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="modalButtonConfirmConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
