<div class="row thf-u-no-padding">
  <div class="col-md-6 col-lg-3 col-xl-2 thf-u-margin-vertical--1">
    <thx-pie-chart-widget title="{{'label.uhTotal' | translate}}" [items]="uhStatusList" emptyText="{{'text.noData' | translate}}" ></thx-pie-chart-widget>
  </div>
  <div class="col-md-6 col-lg-3 col-xl-2 thf-u-margin-vertical--1">
    <thx-pie-chart-widget title="{{'label.statusHousekeeping' | translate}}" [items]="uhHouseKeepingStatusList" emptyText="{{'text.noData' | translate}}" ></thx-pie-chart-widget>
  </div>
  <div class="col-md-6 col-lg-6 col-xl-6 thf-u-margin-vertical--1">
    <thx-grouped-bar-chart-widget title="{{'label.reception' | translate}}" [items]="receptionList" [colorList]="receptionChartColorList" ></thx-grouped-bar-chart-widget>
  </div>
  <div class="col-md-6 col-lg-3 col-xl-2 thf-u-margin-vertical--1">
    <thx-pie-chart-widget title="{{'label.reservationStatus' | translate}}" [items]="reservationStatusList" emptyText="{{'text.noData' | translate}}" ></thx-pie-chart-widget>
  </div>
</div>
