<app-header-page-new
  [enableBackButton]="true">
  <header-title> {{ title | translate }}</header-title>
</app-header-page-new>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 thf-u-margin-top--3">
      <form [formGroup]="form">
      <div class="thf-group-content">
        <!-- header one -->
        <div class="thf-group-content-header">
          <div class="row">
            <div class="col-11">
              <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
              <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
                {{ 'label.generalConfig' | translate }}
              </span>
            </div>
          </div>
        </div>

        <!-- content -->
        <div class="thf-group-content-body">
          <div class="row">

            <div class="col-3">
              <label for="name"
                class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                {{ 'label.namePremise' | translate }}
              </label>
              <input
                id="name"
                class="thf-input thf-u-margin-top--1"
                type="text"
                formControlName="name" />
              <thx-error formControlName="name"></thx-error>
            </div>

            <div class="col-2">
              <label for="period"
                class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                {{ 'label.validityPeriod' | translate }}
              </label>
              <thx-date-range-picker
                id="period"
                formControlName="period"
                [disableUntil]="disableToday">
              </thx-date-range-picker>
              <thx-error formControlName="period"></thx-error>
            </div>

            <div class="col-3">
              <label for="roomTypeReferenceId"
                class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
               {{'label.typeUhReference' | translate }}
              </label>
              <app-select
                [parent]="form"
                [optionList]="roomTypeList"
                [selectId]="'roomTypeReferenceId'"
                [isUppercase]="false"
                [hasFormGroup]="true">
              </app-select>
              <thx-error formControlName="roomTypeReferenceId"></thx-error>
            </div>

            <div class="col-1">
              <label for="paxReference"
                class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                {{'label.qtdPax' | translate }}
              </label>
              <app-select
                [parent]="form"
                [optionList]="paxList"
                [selectId]="'paxReference'"
                [isUppercase]="false"
                [hasFormGroup]="true">
              </app-select>
              <thx-error formControlName="paxReference"></thx-error>
            </div>

            <div class="col-2">
              <label for="currencyId"
                class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                {{'label.currency' | translate }}
              </label>
              <app-select
                [parent]="form"
                [optionList]="currencyList"
                [selectId]="'currencyId'"
                [isUppercase]="false"
                [hasFormGroup]="true">
              </app-select>
              <thx-error formControlName="currencyId"></thx-error>
            </div>
          </div>
        </div>
      </div>
      <!-- end content -->
      </form>
    </div>


  </div>

  <div class="row">
    <div class="col-12 thf-u-margin-top--3">
      <div class="thf-group-content">
        <div class="thf-group-content-header">
          <div class="row">
            <div class="col-12">
              <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
              <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
                {{ 'label.generalConfig' | translate }}
              </span>
            </div>
          </div>
        </div>

        <div class="thf-group-content-body">
          <app-premise-table
            [selectedReference]="selectedReference"
            [selectedPaxAmount]="selectedPaxReference"
            [childrenArr]="children"
            [itemsList]="itemsList">
          </app-premise-table>
        </div>
      </div>
    </div>
  </div>

  <div class="row thf-u-margin-top--3">
    <div class="offset-8 col-2">
      <app-button [buttonConfig]="cancelButtonConfig"></app-button>
    </div>
    <div class="col-2">
      <app-button [buttonConfig]="confirmButtonConfig"></app-button>
    </div>
  </div>
</div>
