<app-modal-wrapper
  [modalId]="modalId"
  [title]="MODAL_TITLE"
  minWidth="405px"
  maxWidth="905px"
  extraHeaderClass="thf-u-reset-border"
  [closeCallbackFunction]="clickCloseModal" >
  <div class="thf-modal-body thf-u-padding-horizontal--2 modal-person-header-height">
    <app-group-content [title]="'title.headerPersonDetails'">
      <div class="row">
        <div class="col">
          <form [formGroup]="personHeaderForm">
            <div class="row thf-u-margin-top--1">
              <div class="col thf-u-block">
                <label
                  class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{'label.document' | translate }}
                </label>
                <div class="thf-input-group thf-group-input-select">
                  <app-input-autocomplete
                    [hasFocus]="true"
                    [inputId]="inputIdDocument"
                    [paramsDisplay]="paramDisplayDocument"
                    [autocompleteData]="getDocumentInformation()"
                    [autocompleteDisplayEnum]="referenceToDisplayAutocompleteEnum.Simple"
                    [autocompleteTypeEnum]="referenceToTypeAutocompleteEnum.GuestDocument"
                    (searchItem)="searchItemDocument($event)"
                    (updateItem)="updateItemDocument($event)"
                    [autocompleItems]="autocompleItemsDocument"
                    [autocompleteItemsSelect]="autocompleteDocumentTypes">
                  </app-input-autocomplete>
                  <app-select
                    [blankOptionText]="''"
                    [selectId]="'documentTypeId'"
                    [parent]="personHeaderForm"
                    [optionList]="autocompleSelectItemsDocumentTypes"
                    [hasIcon]="true"
                    [hasFormGroup]="true">
                  </app-select>
                </div>
                <div class="thf-u-margin-top--1">
                  <thx-error
                    formControlName="document"></thx-error>
                </div>
              </div>
              <div class="col">
                <label
                  for="email"
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1"
                  [ngClass]="{'thf-input-label--required': isRequired}">
                  {{'label.email' | translate }}
                </label>
                <input
                  id="email"
                  formControlName="email"
                  class="thf-input thf-u-margin-top--1"
                  type="text"/>
                <thx-error formControlName="email"></thx-error>
              </div>
            </div>
            <div class="row thf-u-margin-top--1">
              <div class="col-9">
                <label
                  for="fullName"
                  class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'label.name' | translate }}
                </label>
                <input
                  id="fullName"
                  formControlName="fullName"
                  class="thf-input thf-u-margin-top--1"
                  type="text"/>
                <thx-error
                  formControlName="fullName"></thx-error>
              </div>
              <div class="col">
                <label
                  for="phone"
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'label.phone' | translate }}
                </label>
                <input
                  id="phone"
                  formControlName="phone"
                  class="thf-input thf-u-margin-top--1"
                  type="text"/>
                <thx-error formControlName="phone"></thx-error>
              </div>
            </div>
          </form>
        </div>
      </div>
    </app-group-content>

    <div class="thf-u-margin-top--2"></div>

    <app-group-content [title]="'label.address'">
      <div class="row">
        <div class="col">
          <app-address
            [isRequired]="isRequired"
            [notIsRequiredFields]="!isRequired"
            [needShowUnicAddress]="false"
            [addressToEdit]="locationEdit"
            (addressChanged)="setValueAddressByEventEmitted($event)">
          </app-address>
        </div>
      </div>
    </app-group-content>
    <div class="row thf-u-margin-top--2">
      <div class="offset-6 col-3">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="buttonSaveConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
