<thf-page-edit
  [t-disable-submit]="form.invalid"
  [t-title]="i18n.title"
  [t-literals]="literals">

  <admin-group [title]="i18n.group.chain" isOpen="true" [formGroup]="form">
      <thf-input
        name="chainName"
        formControlName="chainName"
        class="thf-md-4 required-field"
        [t-label]="i18n.label.chainName"
        [t-required]="true"
      ></thf-input>
  </admin-group>

  <div class="thf-mt-2">
    <admin-group [title]="i18n.group.brand" isOpen="true">
      <thf-table
        [t-columns]="tableBrandSettings.columns"
        [t-items]="tableBrandSettings.items"
      ></thf-table>
    </admin-group>
  </div>

  <div class="thf-mt-2">
    <admin-group [title]="i18n.group.properties" isOpen="true">
      <thf-table
        [t-columns]="tablePropertySettings.columns"
        [t-items]="tablePropertySettings.items"
      ></thf-table>
    </admin-group>
  </div>
</thf-page-edit>
