<form [formGroup]="modalForm"  novalidate>
  <div class="thf-modal-body hp-modal-body--originList">
    <div class="row">
      <div class="col-8">
        <label for="nameGovernanceStatus" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'hotelPanelModule.governance.labels.name' | translate }}
        </label>
        <input
          id="nameGovernanceStatus"
          class="thf-input thf-u-margin-top--1"
          type="text"
          formControlName="name"
          placeholder="{{ 'hotelPanelModule.governance.placeholders.name' | translate }}"
          [class.thf-input-success]="modalForm.controls.name.valid && (modalForm.controls.name.dirty || modalForm.controls.name.touched)"
          [class.thf-input-error]="!modalForm.controls.name.valid && (modalForm.controls.name.dirty || modalForm.controls.name.touched)">
      </div>
      <div class="col" *ngIf="governanceStatus?.visibleBtnIsActive || !governanceStatus?.id">
        <div class="row hp-modal-input-checkbox--originList">
          <div class="col">
            <label for="checkGovernanceStatus" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
              {{ 'hotelPanelModule.governance.labels.ativar' | translate }}
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input id="checkGovernanceStatus" class="thf-input-radio-button" type="checkbox" formControlName="isActive">
            <label for="checkGovernanceStatus" class="thf-u-margin-top--1"><span class="ui"></span></label>
          </div>
        </div>
      </div>
      <div class="col-12 thf-u-margin-vertical--2">
        <label for="colorGovernanceStatus" class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--required thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'hotelPanelModule.governance.labels.cor' | translate }}
        </label>
        <thx-color-picker id="colorGovernanceStatus" formControlName="color"></thx-color-picker>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <button (click)="cancelCallback()" role="button" class="thf-btn thf-btn-secondary">{{ 'commomData.cancel' | translate }}</button>
      </div>
      <div class="col">
        <button (click)="saveCallback()" role="button" class="thf-btn thf-btn-primary" [disabled]="!modalForm.valid">{{ 'commomData.confirm' | translate }}</button>
      </div>
    </div>
  </div>
</form>
