﻿@{
    ViewData["Title"] = "PackZilla";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4">PackZilla</h1>
            <p>Atualizador de versão dos packages do THEX</p>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <div class="form-group">
                <label for="inpt-versao">Versão do package</label>
                <select class="form-control" id="inpt-versions"></select>
            </div>
            <div class="form-group">
                <label for="inpt-projetos">Projeto</label>
                <select class="form-control" id="inpt-projects">
                </select>
            </div>
            <button type="button" class="btn btn-primary" id="letsgo">Atualizar Versão</button>
        </div>
    </div>
    <div id="responseTable" style="margin-top:40px">
    </div>
</div>
@section Scripts
    {

    <script type="text/javascript">
    $(document).ready(function () {
        $("#letsgo").on("click", function(){
            var settings = {
                "context": $(this),
                "async": true,
                "url": "/api/packzilla",
                "method": "POST",
                "headers": {
                "Content-Type": "application/json",
                "cache-control": "no-cache",
                },
                "processData": false,
                "data": JSON.stringify({ 
                        "Version": $("#inpt-versions option:selected").val(),
                        "Project": $("#inpt-projects option:selected").val()
                    })
            }
            
            $.ajax(settings).done(function (response) {

               if(response.success){
                    
                    var html = setResultDtoLine(response);

                    $("#responseTable").prepend(html);

               }else{
                    BootstrapDialog.show({
	                    title: "Aconteceu um erro",
                        message: response.message,
                        buttons: [{
   		                    label: "Fechar",
                            action: function(dialog) {
        	                    dialog.close();
                            }
                        }]
                    });
               }
            });

            return false;
        });

        function setResultDtoLine(response)
        {
            var html = '<div class="row" id="' + response.id + '"><div class="col-md-2"></div><div class="col-md-8"><hr />'+
                                '<h3>' + response.project + ' - <small>' + response.executionDateFormatted + '</small>'+
                                '<button type="button" class="btn btn-primary btn-sm" id="rebuild" style="margin-left: 10px" data-id="' + response.id+ '">Rebuild</button></h3>' +
                                '<table class="table table-striped">'+
                                    '<thead>'+
                                        '<tr>'+
                                            '<th>Projeto</th>'+
                                            '<th>Status Build</th>'+
                                        '</tr>'+
                                    '</thead>'+
                                    '<tbody>';
                                  
                     $.each(response.projects, function(i, item) {
                        html += '<tr><td>'+ item.projectPath + '</td>'+
                                '<td>' + (item.buildOK ? "OK" : "ERRO")+ '</td></tr>';
                    });

                     html += '</tbody>'+
                            '</table>'+
                        '</div><div class="col-md-2"></div></div>';

            return html;
        }

        $.ajax({
            "url": "/api/project",
            "method": "GET",
          }).then(function(response) {
                var html = "";
                     
                $.each(response, function(i, item) {
                    html += "<option value="+ item +">"+ item + "</option>";
                });
      
              $("#inpt-projects").append(html);
          });
        

        $.ajax({
            "url": "/api/version",
            "method": "GET",
          }).then(function(response) {
                var html = "";
                     
                $.each(response, function(i, item) {
                    html += "<option value="+ item +">"+ item + "</option>";
                });
      
              $("#inpt-versions").append(html);
          });
        
        
        $.ajax({
            "url": "/api/packzilla",
            "method": "GET",
          }).then(function(response) {
                response.reverse();
                var html = "";
                $.each(response, function(i, r) {
                     html += '<div class="row" id="' + r.id + '"><div class="col-md-2"></div><div class="col-md-8"><hr />'+
                            '<h3>' + r.project + ' - <small>' + r.executionDateFormatted + '</small>'+
                            '<button type="button" class="btn btn-primary btn-sm" id="rebuild" style="margin-left: 10px" data-id="' + r.id+ '">Rebuild</button></h3>' +
                            '<table class="table table-striped">'+
                                '<thead>'+
                                    '<tr>'+
                                        '<th>Projeto</th>'+
                                        '<th>Status Build</th>'+
                                    '</tr>'+
                                '</thead>'+
                                '<tbody>';
                                  
                    $.each(r.projects, function(i, item) {
                        html += '<tr><td>'+ item.projectPath + '</td>'+
                                '<td>' + (item.buildOK ? "OK" : "ERRO")+ '</td></tr>';
                    });

                    html += '</tbody>'+
                        '</table>'+
                    '</div><div class="col-md-2"></div></div>';
                });
      
              $("#responseTable").html(html);
          });
        

         $(document).on("click", "#rebuild", function(){
            var settings = {
                "context": $(this),
                "async": true,
                "url": "/api/packzilla/id/" +$(this).data("id"),
                "method": "PATCH",
                "headers": {
                "Content-Type": "application/json",
                "cache-control": "no-cache",
                },
                "processData": false
            }
            
            $.ajax(settings).done(function (response) {
                console.log(response);
                var html = "";
                $.each(response.projects, function(i, item) {
                    html += '<tr><td>'+ item.projectPath + '</td>'+
                            '<td>' + (item.buildOK ? "OK" : "ERRO")+ '</td></tr>';
                });
                console.log(html);
                $("#" + response.id).find("table > tbody").html(html);
            });

            return false;
        });
    });
    </script>
}
