<div class="thf-u-margin-top--3">&nbsp;</div>

<div id="header-edit-page" class="row">
  <header class="col-12">
    <div class="thf-row-with-action">
      <div class="row thf-row-with-action-areas">
        <div class="col-1 thf-row-with-action--left-area">
          <a (click)="goBackPreviewPage()" data-qa-id="back" href="javascript:void(0)" role="button" class="thf-round-btn thf-round-btn--default thf-u-text-center thf-u-font--18 thf-u-no-padding">
            <i class="mdi mdi-chevron-left"></i>
          </a>
        </div>
        <div class="col-9 thf-row-with-action--middle-area thf-u-reset-list">
          <div class="row">
            <div class="col-6">
              <h3 class="thf-title thf-u-reset-list">{{titlePage | translate }} {{nameOfItemUpdated}}</h3>
            </div>
          </div>
        </div>
        <div class="col-2 thf-row-with-action--right-area"
          *ngIf="confirmDelete">
          <button data-qa-id="delete" (click)="runCallbackFunction()" role="button" class="thf-round-btn thf-round-btn--default thf-u-text-center thf-u-font--18 thf-u-no-padding">
            <i class="mdi mdi-delete"></i>
          </button>
        </div>
      </div>
      <hr class="thf-row-divider thf-u-reset-list"/>
    </div>
  </header>
</div>

<div class="thf-u-margin-vertical--1">&nbsp;</div>
