<form
  [formGroup]="guestFormGroup">
  <input
    type="checkbox"
    class="thf-group-toogle-details thf-u-z-index--1000"
    [checked]="guest.showDetails"/>
  <header class="thf-group-content-header thf-u-padding--2 thf-u-padding-vertical--1">
    <div class="row thf-u-padding-vertical--1">
      <div class="col col-lg-7 col-xl-8">
        <h2
          class="thf-group-content-header-title thf-u-font--23 thf-u-color--blue thf-u-no-margin thf-u-padding-top--1">
          <span *ngIf="isChild()">
            {{ 'reservationModule.commomData.child' | translate }}
            <span
              class="thf-u-font--16">
              ({{ guestFormGroup.value.childAge }} {{ 'guestModule.commomData.years' | translate }})
            </span>
          </span>
          <span *ngIf="!isChild()">
            {{ 'reservationModule.commomData.adult' | translate }}
          </span>
        </h2>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <button
              type="button"
              name="button"
              (click)="cancelEdit()"
              class="thf-btn thf-btn-secondary">
              {{ 'commomData.cancel' | translate }}
            </button>
          </div>
          <div class="col">
            <button
              type="button"
              name="button"
              [disabled]="guestFormGroup.invalid"
              (click)="saveGuest(guestFormGroup)"
              class="thf-btn thf-btn-primary">{{ 'action.save' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="thf-group-content-body thf-u-padding--2 thf-u-padding-vertical--1">
    <div class="row">
      <div class="col-6 col-lg-6 col-xl-4">
        <label
          for="document"
          class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
          {{'guestModule.commomData.document' | translate }}
        </label>

        <div class="thf-input-group thf-document-group thf-group-input-select">
          <app-select
            id="document"
            [blankOptionText]="''"
            [selectId]="'guestDocumentTypeId'"
            [parent]="guestFormGroup"
            [optionList]="documentOptionSelectList"
            [hasIcon]="true"
            [hasFormGroup]="true"
            [hasMagin]="false">

          </app-select>
          <app-autocomplete
            [id]="'guestDocument'"
            [parent]="guestFormGroup"
            [autocompleteConfig]="autoCompleteDocumentConfig"
            [controlName]="'guestDocument'"
            [modelToTemplate]="guestFormGroup.get('guestDocument').value"
            [resultList]="autoCompleteDocumentConfig?.resultList"
            (keyUp)="maskDocument($event)"
            class="w-100">
          </app-autocomplete>
        </div>
        <div class="thf-u-margin-top--1">
          <thx-error formControlName="guestDocument"></thx-error>
        </div>
      </div>
      <div class="col-6 col-lg-6 col-xl-4">
        <label
          for="guestEmail"
           class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
          {{'guestModule.commomData.email' | translate }}
        </label>
        <app-autocomplete
          id="guestEmail"
          [parent]="guestFormGroup"
          [autocompleteConfig]="autoCompleteEmailConfig"
          [controlName]="'guestEmail'"
          [modelToTemplate]="guestFormGroup.get('guestEmail').value"
          [resultList]="autoCompleteEmailConfig?.resultList">
        </app-autocomplete>
      </div>
      <div class="col-6 col-lg-6 col-xl-4">
        <label
          for="period"
          class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1 thf-input-label--required">
          {{ 'guestModule.edit.periodofStay' | translate }}
        </label>
        <thx-date-range-picker
          formControlName="periodOfStay"
          id="period"
          [options]="dataInput?.configDateRangePicker"
          class="thf-u-no-margin" ></thx-date-range-picker>
        <thx-error
          formControlName="periodOfStay"></thx-error>
      </div>
      <div
        class="col-6 col-lg-6 col-xl-4">
        <label
          for="guestName"
          class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
          {{ 'guestModule.commomData.guestName' | translate }}
        </label>
        <input
          id="guestName"
          formControlName="guestName"
          class="thf-input"
          type="text"
         [ngClass]="{
          'thf-input-error': !guestFormGroup.get('guestName').valid && guestFormGroup.get('guestName').dirty,
           'thf-u-disable-cursor thf-u-opacity--45': guestFormGroup.get('guestName').disabled
         }"/>
        <thx-error formControlName="guestName"></thx-error>

      </div>
      <div class="col-6 col-lg-6 col-xl-4">
        <label
          for="type"
           class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-input-label--required thf-u-margin-top--1">
          {{ 'guestModule.commomData.typeOfGuest' | translate }}
        </label>
        <div class="thf-input-group">
          <app-select
            id="type"
            [parent]="guestFormGroup"
            [optionList]="mapGuestTypes(dataInput?.guestTypes)"
            [selectId]="'type'"
            [isUppercase]="false"
            [hasFormGroup]="true"
            [hasMagin]="false" >
          </app-select>
          <thx-error formControlName="type"></thx-error>
        </div>
      </div>
      <div class="col-6 col-lg-6 col-xl-4">
        <div class="row">
          <div class="col-4 offset-2">
            <label
              for="isIncognito"
              class="thf-u-no-margin thf-u-block thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--6">
              {{ 'guestModule.commomData.incognito' | translate }}:
            </label>
          </div>
          <div class="col-3">
            <input
              id="isIncognito"
              formControlName="isIncognito"
              class="thf-input-radio-button"
              type="checkbox"/>
            <label
              for="isIncognito"
              class="thf-u-margin-top--6">
              <span class="ui"></span>
            </label>
            <thx-error formControlName="isIncognito"></thx-error>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h6 class="thf-u-font--14 thf-u-margin-top--3  thf-u-font--bold">
          {{ 'guestModule.edit.complementaryInformation' | translate }}
        </h6>
        <hr class="thf-u-margin-vertical--1"/>
      </div>
    </div>
    <div class="row">
      <div class="col-3 col-xl-3 col-lg-4">

        <label
          for="guestCitizenship"
          class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
          {{ 'guestModule.commomData.nationality' | translate }}
        </label>
        <div class="thf-input-group">
          <app-select
            id="guestCitizenship"
            [parent]="guestFormGroup"
            [optionList]="dataInput?.nationalities"
            [selectId]="'guestCitizenship'"
            [isUppercase]="false"
            [hasFormGroup]="true"
            [hasMagin]="false"  >
          </app-select>
          <thx-error formControlName="guestCitizenship"></thx-error>
        </div>
      </div>
      <div class="col-3 col-xl-3 col-lg-4">
        <label
          for="language"
          class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
          {{ 'guestModule.commomData.language' | translate }}
        </label>
        <input
          id="language"
          formControlName="language"
          class="thf-input"
          type="text"/>
        <thx-error formControlName="language"></thx-error>
      </div>
      <div class="col-3 col-xl-3 col-lg-4">
        <div class="row">
          <div
            class="col"
            *ngIf="isChild()">
            <label
              for="childAge"
              class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-input-label--required">{{
              'guestModule.commomData.age' | translate }}
            </label>
            <div class="thf-input-group thf-u-margin-top--1">
                <app-select
                  id="childAge"
                  [parent]="guestFormGroup"
                  [optionList]="possibleAgesOfProperty"
                  [selectId]="'childAge'"
                  [isUppercase]="false"
                  [hasFormGroup]="true"
                  [hasMagin]="false">
                </app-select>
                <thx-error formControlName="childAge"></thx-error>
            </div>
          </div>
          <div class="col">
            <label
              for="pctDailyRate"
              class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
              {{ 'guestModule.edit.dailyPercent' | translate }}
            </label>
            <input
              id="pctDailyRate"
              formControlName="pctDailyRate"
              class="thf-input  thf-u-type-number-reset"
              type="number"
              [ngClass]="{'thf-input-error': !guestFormGroup.get('pctDailyRate').valid && guestFormGroup.get('pctDailyRate').dirty}"
            />
            <thx-error formControlName="pctDailyRate"></thx-error>
          </div>
        </div>
      </div>
    </div>
    <div class="row details">
      <div class="col-12">
        <div>
          <h6 class="thf-u-font--14 thf-u-margin-top--3 thf-u-font--bold">
            {{ 'guestModule.edit.additionalInformation' | translate }}
          </h6>
          <hr class="thf-u-margin-vertical--1"/>
        </div>
      </div>
      <div class="col-12">
        <div>
          <label
            class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'guestModule.commomData.address' | translate }}:
          </label>
          <span class="thf-u-font--16 thf-u-font--semibold thf-u-color--blue thf-u-margin-left--1">
          {{ guest.completeAddress }}
        </span>
        </div>
        <div>
          <div class="row">
            <div class="col-4">
              <label
                class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2">
                {{ 'guestModule.edit.uHPreferably' | translate }}:
              </label>
              <span
                class="thf-u-font--16 thf-u-font--semibold thf-u-color--blue thf-u-margin-left--1"
                *ngIf="guest.uHPreferably">
                {{ guest.uHPreferably }}
            </span>
            </div>
            <div class="col-4">
              <div class="thf-u-text-center">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2">
                  {{ 'guestModule.edit.lastUH' | translate }}:
                </label>
                <span
                  class="thf-u-font--16 thf-u-font--semibold thf-u-color--blue thf-u-margin-left--1"
                  *ngIf="guest.lastUH">
                  {{ guest.lastUH }}
              </span>
              </div>
            </div>
            <div class="col-4">
              <div class="thf-u-text-right">
                <label
                  class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2">
                  {{ 'guestModule.edit.lastDailyValue' | translate }}:
                </label>
                <span>
                  <span class="thf-u-font--16 thf-u-font--semibold thf-u-color--blue thf-u-margin-left--1">
                    {{ guest.lastDailyValue | currencyFormat:currencyCountry }}
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <label
            class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2">
            {{ 'reservationModule.commomData.remarks' | translate }}:
          </label>
          <span class="thf-u-font--16 thf-u-font--semibold thf-u-color--blue thf-u-margin-left--1">
          {{ guest.remarks }}
        </span>
        </div>
      </div>
    </div>
  </div>
  <div class="thf-group-content-footer thf-u-text-center">
    <div class="row">
      <div class="col-12">
        <label
          (click)="toogleShowDetails()"
           class="thf-u-no-margin thf-u-enable-cursor thf-u-font--14 thf-u-font--bold thf-u-color--blue">
          <img
            [ngClass]="{'thf-u-mirror-vertical': !guest.showDetails}"
             src="{{'arrowdown-blue.min.svg' | imgCdn}}"
             alt="{{ 'commomData.images.arrowDownIcon' | translate }}">
          <span *ngIf="guest.showDetails">{{ 'guestModule.edit.showDetails' | translate }}</span>
          <span *ngIf="!guest.showDetails">{{ 'guestModule.edit.hideDetails' | translate }}</span>
        </label>
      </div>
    </div>
  </div>
</form>
