thx-grouped-bar-chart {
  display: flex;
  flex-direction: column;
}
.pie-chart-legend {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pie-chart-legend > thx-legend-item {
  padding: 5px;
}
