:host ::ng-deep {
  border: 1px solid var(--color-grey-light);
  border-bottom: 0;
  background-color: #FFFFFF;
  padding: 0 25px;
  color: var(--color-grey-submarine);
  cursor: pointer;
  white-space: nowrap;
  text-align: center;

  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: 0;

  .thx-tab-size1 {
    align-items: center;
    display: inline-flex;
    font-size: 16px;
    height: 42px;
    text-align: center;
  }

  .thx-tab-size2 {
    align-items: center;
    display: inline-flex;
    font-size: 14px;
    height: 32px;
    text-align: center;
  }

  .thx-tab-hidden {
    display: none;
  }

}

:host.thx-tab-active {
  box-shadow: inset 0 -3px 0 0 var(--color-blue);
  color: var(--color-blue);
}

:host.thx-tab-disabled {
  color: var(--color-tab-color-disabled);
  cursor: initial;
}
