<!-- header component -->
<app-header-page-new
  [enableBackButton]="true"
  [hasFilter]="true">
  <!-- header title -->
  <header-title> {{ 'title.launch' | translate }}</header-title>

</app-header-page-new>

<div class="col-12">

  <!-- first line -->
  <div
    *ngIf="carouselData && carouselData.length"
    class="row thf-u-margin-vertical--1">

    <div class="col-12 thf-u-font--23 thf-u-margin-vertical--1 thf-u-padding-horizontal--4">
      {{'title.moreSelecteds' | translate }}
    </div>


    <!-- TODO: create/move launcher-carousel in UI -->
    <div class="col-12 carousel-wrapper">
      <launcher-carousel
        [carouselConfig]="carouselConfig"
        (itemClicked)="selectItemAndChangeRoute($event)"
        class="row thf-u-margin-vertical--1"
        [data]="carouselData"></launcher-carousel>
    </div>

  </div>

  <!-- second line -->
  <div class="row thf-u-margin-vertical--1 thf-u-padding-horizontal--2">
    <div class="col thf-u-font--23">
      {{'title.launchType' | translate }}
    </div>
  </div>

  <!-- the other cards -->
  <div class="row thf-u-padding-horizontal--4">
    <!-- TODO: create card component in UI -->
    <!-- services -->
    <div class="col-2">
      <div class="thf-card card-selector" data-qa-id="service" (click)="goToService()">
        <p class="thf-u-font--20 thf-u-no-margin thf-u-color--blue">
          {{ 'text.services' | translate }}
        </p>
        <div class="thf-card-content card-with-img">
          <img
            alt="{{ 'img.service' | translate }}"
            src="{{ 'services.svg' | imgCdn }}">
        </div>
      </div>
    </div>

    <!-- TODO: create card component in UI -->
    <!-- POS -->
    <div class="col-2">
      <div class="thf-card card-selector" data-qa-id="pos" (click)="goToPos()">
        <p class="thf-u-font--20 thf-u-no-margin thf-u-color--blue">
          {{ 'text.pos' | translate }}
        </p>
        <div class="thf-card-content card-with-img">
          <img
            alt="{{ 'img.pos' | translate }}"
            src="{{ 'pos.svg' |  imgCdn }}">
        </div>
      </div>
    </div>


    <!-- TODO: create card component in UI -->
    <!-- Credit -->
    <div class="col-2">
      <div class="thf-card card-selector" data-qa-id="credit" (click)="goToCredit()">
        <p class="thf-u-font--20 thf-u-no-margin thf-u-color--blue">
          {{ 'text.credit' | translate }}
        </p>
        <div class="thf-card-content card-with-img">
          <img
            alt="{{ 'img.credit' | translate }}"
            src="{{ 'credit.svg' | imgCdn }} ">
        </div>
      </div>
    </div>
  </div>
</div>

