:host ::ng-deep .thf-card{
  width: auto !important;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0 3px 14px 0 rgba(0,0,0,0.20);
  border: 1px solid #D4D4D5;
  border-radius: 5px;
}

:host ::ng-deep .thf-card.card-selector {
  min-height: 180px;
  max-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--color-white) !important;
}

:host ::ng-deep .thf-card-content.card-with-img img{
  max-width: 80px;
  width: auto !important;
  height: auto !important;
}

.carousel-wrapper{
  padding-left: 23px;
  padding-right: 23px;
}
