<div [formGroup]="form">
  <div class="thf-md-9">
    <thf-input
      name="name"
      formControlName="name"
      class="thf-md-6 required-field"
      [t-label]="i18n.label.name"
      [t-required]="true"
    ></thf-input>

    <thf-input
      name="email"
      formControlName="email"
      class="thf-md-6 required-field"
      [t-label]="i18n.label.userEmail"
      [t-required]="true"
    ></thf-input>

    <thf-select
      name="chainId"
      formControlName="chainId"
      class="thf-md-6 required-field"
      [t-label]="i18n.label.chain"
      [t-required]="true"
      [t-options]="chainOptions">
    </thf-select>
  </div>
  <div class="thf-md-3">
    <thf-switch
      name="active"
      formControlName="isActive"
      [t-label]="i18n.label.active"
      t-label-on=" "
      t-label-off=" "
    ></thf-switch>
  </div>
</div>
