<!-- modal delete-->
<channel-modal-delete
  #deletemodal
  [type]="'customerResource'"
  [title]="'consultCustomerModule.listPage.header.buttonDelete'"
  [description]="'consultCustomerModule.listPage.removeStation'"
  (complete)="loadData()">
</channel-modal-delete>

<!-- header component -->
<app-header-page-new [config]="configHeaderPage" [hasFilter]="true">

  <!-- header title -->
  <header-title> {{ 'title.channelCustomer' | translate }}</header-title>


  <!-- search bar -->
  <thx-searchbar name="searchFilter"
    [placeholder]="'placeholder.searchByNameOfStationOrClient'"
    (input)="search($event)">
  </thx-searchbar>

  <!-- the button txt -->
  <text-button>{{'consultCustomerModule.listPage.header.buttonNew' | translate}}</text-button>

  <!-- the modal btn -->
  <icon-button>
    <i class="mdi mdi-plus"></i>
  </icon-button>

</app-header-page-new>


<thx-datatable
    [columns]='columns'
    [itens]="pageItemsList"
    [itemsOption]="itemsOption"
    statusIdentifier="id"
    (statusChanged)="updateStatus($event)"
    (rowItemClicked)="rowItemClicked($event)"
></thx-datatable>
