<thx-card-base>
  <div contentLeft class="reservation-code"  >
    <div class="thex-font-family thex-font-size-items-one">
      {{'label.reservationNumber' | translate}}
    </div>
    <div class="thex-font-size-h6 code-number">
      {{ externalRoomlistHeader?.reservationCode }}
    </div>
  </div>
  <div contentRight class="reservation-info">
    <div class="property-info">
      <div class="title thex-font-size-body-big upper">{{ externalRoomlistHeader?.name }}</div>
      <div class="address thex-font-size-items-two">
        {{ externalRoomlistHeader?.neighborhood + ' - ' + externalRoomlistHeader?.cityName + ' - ' + externalRoomlistHeader?.state }}</div>
    </div>
    <div class="reservation-period">
      <label class="thex-font-size-items-two" >{{ 'label.reservationStay' | translate }}</label>
      <div>
        <span class="icon-container" >
          <thx-img src="calendar.svg" [fullSize]="true"></thx-img>
        </span>
        <span class="date">
          {{ 'label.historicMealPlanDateToDate' | translate: getPeriod()}}
        </span>
      </div>
    </div>
    <div class="reservation-uh-qtd">
      <label class="thex-font-size-items-two" >{{'label.qtdUhs' | translate}}</label>
      <div>
        <span class="icon-container" >
          <thx-img src="bed.svg" [fullSize]="true"></thx-img>
        </span>
        <span class="qtd thex-font-size-body-big">
          {{ externalRoomlistHeader?.externalRoomListDto?.items?.length || 0 | pad: 2}}
        </span>
      </div>
    </div>
    <div class="reservation-guest-atd">
      <label class="thex-font-size-items-two" >{{'label.qtdGuests' | translate}}</label>
      <div>
        <span class="icon-container" >
          <thx-img src="adult-icon.svg" [fullSize]="true"></thx-img>
        </span>
        <span class="qtd thex-font-size-body-big">
          {{ externalRoomlistHeader?.adultcount + externalRoomlistHeader?.childcount || 0 | pad: 2}}
        </span>
      </div>
    </div>
  </div>
</thx-card-base>

