@import "./variables";

.reservation-code {
  color: white;
  padding: 30px 50px;
  text-align: center;
  height: 100%;
  background-color: $secondary-color;
  .code-number {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.reservation-info {
  padding: 20px 30px;
  display: flex;
  height: 100%;
  align-items: center;
  color: $grey-color--50;
  min-width: 730px;
  justify-content: space-between;

  label {
    margin-bottom: 5px;
  }
  .property-info {
    max-width: 210px;
    color: $grey-color--60;
    .title {
      font-weight: bold;
    }
  }

  .reservation-period {
    .qtd , .date {
      color: $secondary-color
    }
    .date {
      font-size: 16px;
    }
  }


}

.icon-container {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  display: inline-block;
}

.upper {
  text-transform: uppercase;
}
