@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';

html, body {
  height: 100%;
}

@page {
  margin:0cm;
}

.print-only2 {
  display: none;
}

@media print {
  /* fix all report extra page */
  html, body {
    height: auto !important;
  }

  .thf-u-margin-left--5 {
    margin-left: 0px!important;
  }

  footer {page-break-after: always;}
  body{ -webkit-print-color-adjust: exact;}

  app-root {
    display: none !important;
  }

  /* Refatorar a print-only nas classes que a utilizam. Ela é exibida em qualquer cenário */
  .print-only, .print-only2 {
    display: block !important;
  }

  .no-print {
    display: none !important;
  }

  textarea {
    overflow: hidden;
    max-height: 100%;
    height: auto !important;
  }

  .print-no-extra-page:last-child {
    page-break-after: auto !important;
  }
}

.hps-modal-overflow-y {
  height: 330px;
  overflow-y: scroll;
}

.hps-modal-reservation-item-overflow-y {
  max-height: 390px;
  overflow-y: scroll;
}

.width-100-discount-menu {
  left: var(--menu-width);
  width: calc(100vw - var(--menu-width));
}

thx-popover {
  z-index: 9999;
}
.thf-datatable-overbooking-bg {
  background: var(--color-red-light);
}

.thf-datatable-to-print .datatable-body-cell .datatable-body-cell-label{
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.thf-datatable-printable-hidden .datatable-body-cell .datatable-body-cell-label{
  white-space: normal;
}


.thf-datatable-to-print .datatable-header-cell-label{
  white-space: normal;
  text-align: center;
}

.thf-datatable-to-print.big-size{
  transform: scale(0.6);
  transform-origin: 0 0;
}

.thf-datatable-to-print.big-size .datatable-header{
  overflow: visible;
  display: table;
}

.thf-datatable-to-print-with-body .cell-to-print-next-line:before {
  content: "\A";
  white-space: pre-line !important;
}

.thf-datatable-to-print-with-body .cell-to-print-next-line{
  text-align: left !important;
  width: 100% !important;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.thf-auto-complete-error {
  border: 1px solid var(--color-red) !important;
}

thx-datepicker.thex-datepicker-with-error .mydp {
  border: 1px solid var(--color-red) !important;
}

/* Modal Utilities */
.thx-modal-auto-height .thf-modal-body {
  max-height: inherit;
  height: auto;
}

.thf-button-info {
  border: 1px solid var(--color-orange-real) !important;
  color: var(--color-white) !important;
  background: var(--color-orange-real) !important;
}

.button-bold-size {
  font-size: 13px !important;
  font-weight: 100 !important;
}

input:disabled,
textarea:disabled{
  pointer-events: none;
  color: var(--color-grey);
  background-color: var(--color-grey-lighter);
}

input:read-only:disabled,
textarea:read-only,
textarea:read-only:disabled {
  border: 0;
  color: var(--color-black);
  background: var(--color-white);
  box-shadow: none;
  opacity: 1;
  pointer-events: none;
}

.owl-carousel .owl-nav{
  display: none !important;
}

.owl-carousel .owl-stage-outer{
  height: 110px;
}
