<!-- modal include -->
<app-modal-wrapper
  modalId="modal-add-hotel"
  [maxWidth]="'553px'"
  [minWidth]="'553px'"
  [title]="'title.insertHotel'"
  class="modal-add-hotel-wrapper">
  <div class="thf-modal-body">
    <!-- first row -->
    <div class="row">
      <div class="col">
        <label class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.search' | translate }}
        </label>
        <!-- search bar -->
        <div class="input-box">
          <thx-searchbar
            name="searchFilter"
            [placeholder]="'placeholder.searchByHotelName'"
            (input)="search($event)">
          </thx-searchbar>
        </div>
      </div>

    </div>
    <!-- end row -->
    <div class="thf-u-margin-top--2 thx-datatable-wrapper">
      <thx-datatable
        [columnMode]="'flex'"
        [columns]='columns'
        [rowsLimit]="ROWS_LIMIT"
        [hasLastCell]="false"
        [itens]="dataTableList">
      </thx-datatable>
    </div>

  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelModalConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmModalConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<ng-template #rowCheckbox let-row="row" let-rowIndex="rowIndex"  ngx-datatable-cell-template>
  <div>
    <input
      name="all-checkbox"
      type="checkbox"
      (change)="toggleItem($event, row)"
      [(ngModel)]="row.isSelected"
      class="thf-input-type-checkbox"
      [id]="'all-checkbox-' + rowIndex" />
      <label [for]="'all-checkbox-' + rowIndex">
        <span class="ui"></span>
      </label>
  </div>
</ng-template>

<ng-template
  #headerCheckboxTemplate>
  <div class="label-align-center">
    <span>
      <input
        name="all-checkbox-header"
        type="checkbox"
        (ngModelChange)="selectAllItems($event)"
        [(ngModel)]="isAllSelected"
        class="thf-input-type-checkbox"
        id="all-checkbox-header" />
      <label
        class="all-checkbox-header-label"
        for="all-checkbox-header">
        <span class="ui"></span>
      </label>
    </span>
    <span class="text-el">
      {{ 'label.allHotel' | translate }}
    </span>
  </div>
</ng-template>
