.modal-add-hotel-wrapper{
  .thx-datatable-wrapper{
    width: 100%;
  }


  .input-box{
      border: 1px solid var(--color-grey);
      box-shadow: inset 1px 1px 3px 3px var(--color-shadow-input);
      border-radius: 3px;
  }

  .thf-input-search{
    max-height: 44px;
  }

  .label-align-center{
    display: flex;
    align-items: center;

    .text-el{
      margin-bottom: 4px;
    }
  }

  datatable-header, datatable-header-cell{
    height: 45px !important;
  }

  .all-checkbox-header-label{
    margin: 0 9px 0 0 !important;
  }

  .no-submenu-options{
    overflow: hidden !important;
  }
}
