<div [ngClass]="{'thf-modal': isVisible}" aria-hidden="true">
  <div class="thf-modal-dialog">
    <div class="thf-modal-header">
      <h2 class="thf-u-font--20">{{title}}</h2>
      <a (click)="closeModal()" class="thf-btn-close-modal thf-u-font--30" role="button" aria-hidden="true">×</a>
    </div>
    <div class="thf-modal-body">
      <p>{{message}}</p>
    </div>
    <div class="thf-modal-footer">
      <div class="row">
        <div class="col-3 offset-6">
          <button data-qa-id="btnnotmodal" (click)="closeModal()" role="button" class="thf-btn thf-btn-secondary">{{'action.no' | translate}}</button>
        </div>
        <div class="col-3">
          <button data-qa-id="btnyesmodal" (click)="runCallbackFunction()" role="button" class="thf-btn thf-btn-primary">{{'action.yes' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
