<app-header-page-new
  [config]="configHeaderPage"
  [hasFilter]="true">
  <header-title>{{i18n.title}}</header-title>
  <thx-searchbar
    name="filterSearch"
    [placeholder]="i18n.placeholder"
    (search)="updateList($event)"
    ngDefaultControl>
  </thx-searchbar>
  <text-button>{{i18n.actions.new}}</text-button>
  <icon-button>
    <i class="mdi mdi-plus"></i>
  </icon-button>
</app-header-page-new>

<div class="row">
  <div class="col-12 thf-u-margin-vertical--2">
    <thx-datatable
      [columns]='columns'
      [itens]="filteredItems"
      statusIdentifier='id'
      (statusChanged)="updateStatus($event)"
      (rowItemClicked)="goToEditRateStrategy($event)"
      [emptyMessage]="i18n.table.emptyMessage.title"
      [emptyMessageContent]="i18n.table.emptyMessage.description"
      (emptyLinkClicked)="goToNewRateStrategy()">

      <ng-template #tags let-row="row" ngx-datatable-cell-template>
        <span
          *ngFor="let roomType of row.roomTypeAbbreviationList"
          class="thf-tag thf-u-background-color--blue thf-u-font--12 thf-u-font-uppercase">
          {{ roomType }}
        </span>
      </ng-template>

    </thx-datatable>
  </div>
</div>
