<div class="thf-tab-content">
  <div class="row thf-u-no-margin thf-u-border-bottom--1">
    <div class="col thf-u-no-padding" [ngStyle]="{'overflow-x': 'hidden'}">
      <ul #itemsListRef class="thf-u-no-padding thf-u-no-margin"
          [ngStyle]="{'white-space': 'nowrap', 'display': 'inline-block'}">
        <li *ngFor="let item of items;" class="col section thf-u-inline">
          <input type="radio" class="section-selector" id="{{item.key}}" name="{{inputName}}" role="tab"
                 [checked]="item.key == currentId"/>
          <label for="{{item.key}}" class="section-header thf-u-text-center"
                 (click)="fireEventOnItemOfSectionContentWasChanged(item.key)">
            {{item.value | translate}}
          </label>
        </li>
      </ul>
    </div>
    <div *ngIf="showSliderButtons" class="col-2 d-flex align-items-center justify-content-end">
      <thx-slider-buttons
        [itemsListHtml]="itemsList"
        (prevScroll)="prevScroll()"
        (nextScroll)="nextScroll()"
      ></thx-slider-buttons>
    </div>
    <div *ngIf="configLink?.hasLink" class="col-3 col-xl-2 d-flex align-items-center justify-content-end">
      <a class="thf-link" (click)="runCallbackFunction()" href="javascript:void(0)">
        {{ 'action.add' | translate }} {{configLink?.linkText | translate}}
      </a>
    </div>
  </div>
  <div class="row thf-u-no-margin">
    <div class="col thf-u-no-padding" [ngClass]="{'hps-size-limit': configLink?.hasHeightLimit}">
      <ng-content select="content-body"></ng-content>
      <ng-content select="empty-content"></ng-content>
    </div>
  </div>
  <div class="row thf-u-no-margin">
    <div class="col section-footer">
      <ng-content select="section-footer"></ng-content>
    </div>
  </div>
</div>
