<footer>
  <div
    class="thf-bottom-bar thf-u-text-center thf-u-reset-left
    thf-u-reset-right hps-bottom-negative thf-u-position--absolute">
    <p class="thf-bottom-bar-text thf-u-font--12 thf-u-no-margin">
      {{ 'sharedModule.bottomBar.copyright' | translate }}
      <span *ngIf="systemDate">- {{ systemDate }}</span> -
      {{ 'sharedModule.bottomBar.version' | translate }} {{ appVersion }}
    </p>
  </div>
</footer>
