@page {
  size: portrait A4;
  margin: 2%;
}

@media print {
  .guest-policy {
    display: table;
    width: 100%;
    page-break-inside: avoid;
    font-size: 10px;
  }

  .guest-policy > .brand, .guest-policy .description, .guest-policy .confirmation {
    display: table-cell;
    vertical-align: middle;
  }

  .guest-policy > .brand {
    width: 5%;
  }

  .guest-policy > .descriptions {
    display: table;
    width: 95%;
  }

  .guest-policy > .descriptions > .description {
    width: 85%;
    font-size: 10px;
    text-align: justify;
  }

  .guest-policy > .descriptions > .confirmation {
    width: 15%;
  }

  .guest-policy > .descriptions > .confirmation > .options {
    display: table;
    width: 100%;
  }

  .guest-policy > .descriptions > .confirmation > .options > .option {
    display: table-cell;
    text-align: center;
    font-size: 10px;
  }

  .guest-policy > .descriptions > .confirmation > .options > .option > .check {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid black;
  }
}
