<div class="guest-policy">
  <div class="brand">
    <thx-img
      [src]="guestPolicy?.countryCode+'.svg' | lowercase"
      [alt]="'flag_' + guestPolicy?.countryCode"
      [title]="guestPolicy?.countryCode"
      [ngClass]="'guest-policy-brand'"
    ></thx-img>
  </div>
  <div class="descriptions"
       *ngFor="let description of guestPolicy?.descriptionList">
    <div class="description thf-u-padding--1">
      {{ description }}
    </div>
    <div class="confirmation">
      <div class="options">
        <div class="option">
          <span>{{ 'action.yes' | translate }}</span>
          <span class="check"></span>
        </div>
        <div class="option">
          <span>{{ 'action.no' | translate }}</span>
          <span class="check"></span>
        </div>
      </div>
    </div>
  </div>
</div>
