<app-slimbox [slimboxConfig]="slimboxConfig" [slimboxStyleClass]="'hps-size-limit'">
  <slimbox-header>
    <div class="thf-u-margin-horizontal--2 thf-u-margin-left--1">
        <div class="row">
            <div class="col-7">
                <div class="thf-u-padding--1">
                    <img src="{{'icon_hospede_conta.svg' | imgCdn}}" *ngIf="billingAccountWithAccount?.accountTypeId != referenceToBillingAccountTypeEnum.Company"
                        alt="{{'commomData.images.person' | translate}}">
                    <img src="{{'icon_empresa_conta.svg' | imgCdn}}" *ngIf="billingAccountWithAccount?.accountTypeId == referenceToBillingAccountTypeEnum.Company"
                        alt="{{'commomData.images.company' | translate}}">
                    <span id="fnrh-name-guest" class="thf-u-font--20 thf-u-color--blue thf-u-margin-left--1 thf-u-vertical-align-middle">
                        {{billingAccountWithAccount?.holderName}}
                    </span>
                    <span class="thf-u-font--18 thf-u-color--blue thf-u-vertical-align-middle" *ngIf="billingAccountWithAccount?.isHolder">
                        ( {{'billingAccountModule.commomData.holder' | translate}} )
                    </span>
                </div>
            </div>
            <div class="col-5 d-flex align-self-center align-items-center justify-content-end">
                <span class="thf-tag thf-u-background-color--grey-feldgrau thf-u-font--12 thf-u-font-uppercase">{{'label.originAccount' | translate}}</span>
            </div>
        </div>
    </div>
  </slimbox-header>
  <slimbox-content>
    <div class="">
      <div class="thf-u-padding-vertical--3 thf-u-padding-horizontal--2">
          <div class="row">
              <div class="col">
                  <span class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">{{'billingAccountModule.commomData.holderName' | translate}}:&nbsp;</span>
                  <span class="thf-u-font--16 thf-u-color--blue thf-u-font--bold">{{billingAccountWithAccount?.holderName}}</span>
              </div>
              <div class="col">
                  <span class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">{{'billingAccountModule.commomData.period' | translate}}:&nbsp;</span>
                  <span class="thf-u-font--16 thf-u-color--blue thf-u-font--bold">{{billingAccountWithAccount?.arrivalDate | date: 'dd/MM/yyyy'}} - {{billingAccountWithAccount?.departureDate | date: 'dd/MM/yyyy'}}</span>
              </div>
          </div>
          <div class="row thf-u-margin-top--1">
              <div class="col">
                  <span class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">{{'billingAccountModule.commomData.accountType' | translate}}:&nbsp;</span>
                  <span class="thf-u-font--16 thf-u-color--blue thf-u-font--bold">{{billingAccountWithAccount?.accountTypeName}}</span>
              </div>
              <div class="col">
                  <span class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">{{'billingAccountModule.commomData.statusAccount' | translate}}:&nbsp;</span>
                  <span class="thf-u-font--14 thf-u-color--red thf-u-font--bold" [ngClass]="{'thf-u-color--red': billingAccountWithAccount?.statusId == 1, 'thf-u-color--green': billingAccountWithAccount?.statusId == 2}">
                      {{billingAccountWithAccount?.statusName}}
                  </span>
              </div>
          </div>
      </div>
      <app-tab-content [configLink]="configLinkToAdd" [items]="itemsTab" [inputName]="'originAccount'"
                       [selectedId]="currentIndex"
                       (itemOfSectionContentWasChanged)="selectAccount($event)">
        <content-body  *ngFor="let account of billingAccountWithAccount?.billingAccounts">
          <account-table
            *ngIf="currentBillingAccount?.billingAccountId == account.billingAccountId"
            [billingAccountWithEntry]="account"
            (isCheckedOfBillingAccountItemEntryListUpdated)="updateIsCheckedOfBillingAccountItemEntryList()"
            [isOriginAccount]="true">
          </account-table>
          <account-table-footer *ngIf="!transferWasCompleted && currentBillingAccount == account"
                                [quantity]="quantityOfBillingAccountItemChecked"
                                [priceTotal]="priceTotalOfBillingAccountItemChecked"
                                [accountType]="'origin'"
                                [currencySymbol]="currencySymbol">
          </account-table-footer>
          <billing-account-detail-table-footer
            *ngIf="currentBillingAccount == account"
            [total]="account?.total">
          </billing-account-detail-table-footer>
        </content-body>
      </app-tab-content>
    </div>
  </slimbox-content>
</app-slimbox>
