@import 'main';

.box-Property {
  margin-bottom: -30px;
  padding-top: 1px;
  padding-bottom: 20%;
  height: 100%;
}
.box-manager {
  background-color: $white-color;
  max-width: 215px;
  margin-left: 15px;
}

.box-component {
  padding: 0 25px;
}
