<div class="box-Property">
  <div class="col-12"></div>
  <div class="row">
    <div>
      <thx-sidebard-card-container class="box-manager">
        <app-property-card-sidebar
          [hotelName]="hotelName"
          [hotelGroup]="tradeName"
          [photoUrl]="photoUrl"
          (changePhoto)="photoInputClick()"
        ></app-property-card-sidebar>
        <app-property-list-sidebar
          ngProjectAs="ul"
          [menuList]="menuList"
        ></app-property-list-sidebar>
      </thx-sidebard-card-container>
    </div>
    <div class="col box-component"> </div>
  </div>
</div>

<input
  type="file"
  #photoInput
  accept="image/*"
  (change)="openPhotoModal($event)"
  style="display:none"
/>
<app-modal-wrapper
  [modalId]="MODAL_ID"
  [maxWidth]="'500px'"
  [title]="'label.photoUpload' | translate">

  <app-property-photo-upload
    (exitChange)="closeModal()"
    (dataChange)="changePhoto($event)"
    [selectedImage]="selectedImage">
  </app-property-photo-upload>
</app-modal-wrapper>
