<link
    type="text/css"
    href="https://cdn.totvscmnet-cloud.net/components/thex/0.20.0/materialdesignicons.css"
    rel="stylesheet" />

<link
    type="text/css"
    href="https://cdn.totvscmnet-cloud.net/components/thex/0.13.21/styles.css"
    rel="stylesheet" />

<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet" />


<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
    integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">

<link type="text/css"
    href="https://cdn.totvscmnet-cloud.net/components/thex/0.13.21/fontfamilydefault.css" rel="stylesheet">

<link type="text/css"
    href="https://cdn.totvscmnet-cloud.net/components/thex/0.13.21/override-datepicker.css" rel="stylesheet">

<link type="text/css"
    href="https://cdn.totvscmnet-cloud.net/components/thex/0.13.21/override-ngx-datatable.css" rel="stylesheet">


<link type="text/css"
      href="../src/styles/variables.css" rel="stylesheet">

<script async type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSB7c8TVUcg0EAwcRt9kX3oSUUEbe1D3Y&libraries=places"></script>
