:host {
  display: inline-block;
}

.thf-input-select-group-icon-field {
 position: relative;
}

.thf-popover-content {
  padding: 5px;
}

.footer-button {
  padding: 0 20px;
}

.child-box {
  max-height: 166px;
  overflow: auto;
}

.hps-children-popover {
  top: 110%;
  width: 250px;
  left: calc(50% - 125px);
}

.thf-input-select-icon {
  position: absolute;
  width: 14px;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.margin-item {
  margin-bottom: 5px;
}

.thf-popover {
  min-width: 250px;
}
