<div class="thf-input-group thf-u-position--relative">
  <div id="addChildrenAdult" *ngIf="showAddButton" (click)="addChild()"
       class="thf-input-group-label thf-input-group-icon-label thf-u-enable-cursor ">
      <span class="thf-input-group-label--img">
        <thx-img [src]="'add-more.min.svg'" [alt]="'commomData.images.addMore'"></thx-img>
      </span>
  </div>
  <div class=" group-item">
    <input id="childrenQuantityCard" [(ngModel)]="childrenSelect.quantity" [disabled]="showAddButton"
           (focus)="openChildBox()" (ngModelChange)="quantityChange()"
           class="thf-u-text-center thf-input thf-u-type-number-reset thf-input-not-disabled"
           type="number" [ngClass]="{'thf-input-right': showAddButton }">
  </div>

  <div class="thf-u-position--absolute thf-u-z-index--1 hps-children-popover" *ngIf="childBoxEnabled">
    <span class="thf-u-margin-top--1"></span>

    <div class="thf-popover">
      <div class="hps-children-popover-reserve">
        <div class="arrow-position">
          <span class="thf-popover-arrow--center"></span>
        </div>

        <header class="thf-popover-header thf-u-text-center thf-u-padding--1">
          <h4 class="thf-u-no-margin thf-u-font--14 thf-u-font--bold">{{ textConfig?.title }}</h4>
        </header>

        <div class="thf-popover-content">
          <div class="thf-popover-content-group">
            <div class="thf-u-text-center thf-u-padding--2 child-box">
              <div class="thf-input-group margin-item" *ngFor="let age of childrenSelect.childrenAges; let i = index">
                <div class="thf-input-group-label thf-input-select-group-icon-label">
                  <span class="thf-input-group-label--img">
                    <thx-img [src]="'child-age.min.svg'"></thx-img>
                  </span>
                </div>
                <div class="thf-input-select-group-icon-field">
                  <select id="icon-select-card" class="thf-input thf-input-select"
                          [(ngModel)]="childrenSelect.childrenAges[i]">
                    <option class="thf-input-select--option"
                            *ngFor="let childAge of childrenService.getChildrenAgeList(childMaxAge); let i = index"
                            [ngValue]="childAge.value">{{childAge.text}}
                    </option>
                  </select>
                  <thx-img [src]="'arrowdown-blue.min.svg'"
                           class="thf-u-no-pointer-events thf-input-select-icon right-icon-ajust"></thx-img>
                </div>
                <div *ngIf="showDeleteButton" class="thf-u-icon-modal-large">
                  <thx-img [src]="'icon-delete-blue.svg'" class="thf-u-cursor--pointer"
                           (click)="deleteChild(i)"></thx-img>
                </div>
              </div>
            </div>
          </div>
          <div class="thf-popover-content-group">
            <div class="thf-u-border-top--1 thf-u-margin-vertical--1"></div>
            <div class="row footer-button">
              <div class="col-6">
                <thx-button [colorType]="COLOR_TYPE_CANCEL" (click)="clickCancel()">{{ textConfig?.cancelButton }}
                </thx-button>
              </div>
              <div class="col-6">
                <thx-button [colorType]="COLOR_TYPE_OK" (click)="clickOk()">{{ textConfig?.okButton }}</thx-button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
