<div class="thf-modal-body hps-modal-overflow-y">
  <div class="row" *ngIf="getAllBillingAccountForClosure?.billingAccountForClosureList?.length > 0; else billingAccountForClosureListEmptyBlock">
    <div class="col-12">
      <p class="thf-u-font--16"><strong>{{ 'label.allAccounts' | translate }} <span class="thf-u-font--14 thf-u-color--blue">( {{ getAllBillingAccountForClosure?.billingAccountForClosureList?.length }} )</span></strong></p>
      <list-checkbox-with-icon (numberAccountsChecked)="getBillingAccountForClosureCheckedList($event)"
                               [billingAccountForClosureList]="getAllBillingAccountForClosure?.billingAccountForClosureList"></list-checkbox-with-icon>
    </div>
  </div>
  <ng-template #billingAccountForClosureListEmptyBlock>
    <div class="row">
      <div class="col-12">
        <p class="thf-u-font--16">
          <strong>{{ 'label.allAccounts' | translate }}
            <span class="thf-u-font--14 thf-u-color--blue">( {{ getAllBillingAccountForClosure?.billingAccountForClosureList?.length }} )</span>
          </strong>
        </p>
        <span class="thf-u-font--14">{{'text.noAccountsAvailableForClosure' | translate}}</span>
      </div>
    </div>
    <label style="color:#000000;font-size:12px;padding-top: 5px">{{val}}</label>
  </ng-template>
</div>
<div class="thf-modal-footer thf-u-margin-bottom--1">
  <div class="row thf-u-color--white thf-u-background-color--blue thf-u-font--14 hps-margin-negative-top--1" *ngIf="billingAccountForClosureCheckedList?.length >= 1">
    <div class="col-12 thf-u-padding--1">
      <div class="row">
        <div class="col-4">
          <span class="thf-u-margin-left--1" *ngIf="billingAccountForClosureCheckedList?.length > 1"> {{ billingAccountForClosureCheckedList?.length }} {{ 'label.accountsSelected' | translate }}</span>
          <span class="thf-u-margin-left--1" *ngIf="billingAccountForClosureCheckedList?.length == 1">{{ billingAccountForClosureCheckedList?.length }} {{ 'label.accountSelected' | translate }}</span>
        </div>
        <div class="col-3 offset-5 thf-u-font--bold"> {{ totalBillingAccountForClosureCheckedList | currencyFormat }}</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-1 thf-u-margin-top--1">
      <img src="{{'tarifa-grey.svg' | imgCdn }}" class="thf-u-margin-top--2" alt="{{'billingAccountModule.commomData.totalPostingWithFees' | translate}}">
    </div>
    <div class="col-5 debit-balance">
      <label for="value" class="thf-u-no-margin thf-input-label thf-u-font--12 thf-u-font--bold thf-input-label--grey-submarine">{{ 'label.debitBalance' | translate }}</label>
      <div>
        <span class="thf-u-font--20 thf-u-font--bold thf-u-color--blue">{{getAllBillingAccountForClosure?.total | currencyFormat}}</span>
      </div>
    </div>
    <div class="col-2 thf-u-margin-top--2">
      <app-button [buttonConfig]="buttonStatementBillingAccountClosure"></app-button>
    </div>
    <div class="col-2 thf-u-margin-top--2">
      <app-button [buttonConfig]="buttonCancelBillingAccountClosure"></app-button>
    </div>
    <div class="col-2 thf-u-margin-top--2">
      <app-button [buttonConfig]="buttonPaymentModal"></app-button>
    </div>
  </div>
</div>
