<app-modal-wrapper [modalId]="modalId" [title]="'label.creditNote'" minWidth="635px" extraHeaderClass="thf-u-reset-border">

  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2 modal-person-header-height">
    <div class="row">
      <div class="col">
        <thx-datatable-checkbox
          [tableHasScroll]="true"
          [footerHeight]="0"
          [tableExtraClass]="'table-scroll'"
          [columns]="columns"
          [headerHeight]="45"
          [rowItens]="billingAccountItemList"
          [rowHeight]="55"
          [(selectedItens)]="billingAccountItemSelectedList"
          [emptyMessage]="'text.noBillingAccountItemAvailableForIssuingCreditNotes'">
        </thx-datatable-checkbox>
      </div>
    </div>
    <div class="row thf-u-margin-top--2">
      <div class="offset-6 col-3">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </div>

  <ng-template #dateCell let-row="row" ngx-datatable-cell-template>
    <span>{{row.billingAccountItemDate | amDateFormat:'MM.DD.YYYY'}}</span>
  </ng-template>

  <ng-template #amountCell let-row="row" ngx-datatable-cell-template>
    <span class="amount-color">{{row.differenceAmountAndCreditNoteFormatted}}</span>
  </ng-template>

  <ng-template #amountModifiedCell let-row="row" ngx-datatable-cell-template>
    <input type="text" [(ngModel)]="row.differenceAmountAndCreditNote" class="thf-input-table thf-u-text-center thf-u-width-flex" currencyMask [options]="optionsCurrencyMask"/>
  </ng-template>

</app-modal-wrapper>
