.modal-person-header-height {
    overflow-y: auto;
    min-width: 300px;
}

.amount-color {
    color: var(--color-danger);
}

::ng-deep .table-scroll datatable-body {
    height: 200px !important;
    overflow-x: hidden;
  }