<div class="thf-group-content">
  <div class="thf-group-content-header">
    <div class="row justify-content-start">
      <div class="col">
        <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
        <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">{{ title | translate }}</span>
      </div>
      <div *ngIf="hasFilter || ( showFilterOnlyWhenListHasItens && searchableItems && searchableItems.items.length > 0)" class="col-5">
        <app-filter-search *ngIf="tableRowType" [searchableItems]="searchableItems" (searchUpdated)="updateList($event)"></app-filter-search>
        <ng-content select="thx-searchbar"></ng-content>
      </div>
      <div *ngIf="hasButton" class="col-2 col-md-3 ml-auto">
        <app-button
          [buttonConfig]="buttonConfigSetted">
        </app-button>
      </div>
    </div>
  </div>
  <div class="thf-group-content-body" [ngClass]="bodyClass" >
    <ng-content selector=".row"></ng-content>
  </div>
</div>
