<app-modal-wrapper
  modalId="documentResendModal"
  [maxWidth]="'500px'"
  [title]="'action.confirm'">

  <div class="thf-modal-body">
    <!-- first row -->
    <div class="row">

      <div class="col-12 thf-u-text-center">

      </div>
      <div class="col-12">
        <img class="thf-empty-content-header-icon"
             src="{{'info.svg' | imgCdn}}">
        <h1 class="thf-empty-content-header-title thf-u-font--bold thf-u-font--16 thf-u-inline-block">
          {{'label.confirmResendDocument' | translate}}
        </h1>
      </div>
    </div>
    <!-- end row -->


  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelModalConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmModalConfig"></app-button>
      </div>
    </div>
  </div>

</app-modal-wrapper>
