<div class="card-base-wrapper">
  <div class="content-left">
    <ng-content
      select="[contentLeft]"></ng-content>
  </div>
  <div class="content-right">
    <ng-content
      select="[contentRight]"></ng-content>
  </div>
</div>
