@import './variables';

:host{
  display: block;
}

.card-base-wrapper {
  width: 100%;
  background: $white_color;
  box-shadow: 0 5px 10px 0 rgba($white_color, 0.10);
  border-radius: 6px;
  display: flex;
  min-height: 70px;
  height: 100%;

  .content-left {
    width: 26%;
    border-radius: 6px 0 0 6px;
  }

  .content-right {
    width: 74%;
    border-radius: 0 6px 6px 0;
  }
}
