<app-header-page-new [config]="configHeaderPage" [hasFilter]="true">
  <header-title> {{'action.list' | translate }} {{'title.ratePlan' | translate }}</header-title>
  <app-filter-search [searchableItems]="searchableItems" (searchUpdated)="updateList($event)"></app-filter-search>
  <text-button>{{'action.new' | translate}} {{'label.ratePlanSingle' | translate}}</text-button>
  <icon-button>
    <i class="mdi mdi-plus"></i>
  </icon-button>
</app-header-page-new>

<thx-datatable
  *ngIf="pageItemsList"
  [columns]='columns'
  [itens]="pageItemsList"
  statusIdentifier="id"
  (statusChanged)="updateStatus($event)"
  (rowItemClicked)="goToEditPage($event)"
  [emptyMessage]="'text.ratePlanEmpty'"
  [emptyMessageContent]="'text.ratePlanEmptyDescripion'"
  (emptyLinkClicked)="goToNewRatePlanPage()"
></thx-datatable>
