<app-header-page-new [enableBackButton]="true">
  <header-title>{{'title.ratePlanHistory' | translate}}</header-title>
</app-header-page-new>

<thx-tabs *ngIf="historyList?.length > 0">
  <thx-tab *ngFor="let history of historyList"
           [active]="history.id == historyId"
           label="
              {{ history.creationTime | amDateFormat: 'L' }}
              {{ 'label.at' | translate }}
              {{ history.creationTime | amDateFormat: 'LT' }}
           ">
    <div class="thf-u-padding--1 thf-u-padding-left--2 thf-u-padding-right--2 thf-u-background-color--grey-lighter">
      <div class="row d-flex align-items-center">
        <div class="col-6">
          <img *ngIf="false" class="img-person thf-u-margin-right--1" src="https://via.placeholder.com/32x32">
          <label class="thf-u-font--18 thf-u-no-margin">
            {{ history.creatorUserName }}
          </label>
        </div>

        <div class="col-6 thf-u-text-right">
          <div class="thf-u-font--normal badge thf-u-background-color--grey-feldgrau">
            {{ history.creationTime | amDateFormat: 'L' }}
            {{ 'label.at' | translate }}
            {{ history.creationTime | amDateFormat: 'LT' }}
          </div>
        </div>
      </div>
    </div>

    <div class="thf-u-padding--1 thf-u-padding-left--2 thf-u-padding-right--2 thf-u-background-color--white">
      <div class="row">
        <div class="col-6 col-sm-4">
          <label class="thf-input-label thf-u-no-margin thf-input-label--grey-submarine">
            {{ 'label.validityPeriod' | translate }}
          </label>

          <div class="d-flex align-items-center">
            <img src="{{'today.svg' | imgCdn}}" alt="{{ 'label.validityPeriod' | translate }}" class="thf-u-margin-right--1">
            <label class="thf-u-no-margin">{{ history.initialDate | amDateFormat: 'L' }} - {{ history.finalDate | amDateFormat: 'L' }}</label>
          </div>
        </div>

        <div class="col-6 col-sm-4">
          <label class="thf-input-label thf-u-no-margin thf-input-label--grey-submarine">
            {{ 'label.rateCurrency' | translate }}
          </label>

          <div>{{ history.currencyName }}</div>
        </div>

        <div class="col-12 col-sm-4">
          <label class="thf-input-label thf-u-no-margin thf-input-label--grey-submarine">
            {{ 'label.appliedTo' | translate }}
          </label>

          <div class="d-flex w-100 flex-wrap">
            <span *ngFor="let day of history.appliedTo" class="day-label" > {{ day }} </span>
          </div>
        </div>
      </div>
    </div>

    <div class="fixed-height-44 thf-u-padding-left--2 thf-u-padding-right--2 d-flex align-items-center thf-u-background-color--grey-lighter">
      <h3 class="thf-u-font--18 thf-u-no-margin">{{'label.fixedRate' | translate}}</h3>
    </div>

    <div>
      <thx-datatable
        columnMode="force"
        [columns]="rateColumns"
        [itens]="history.rateRows"
        [hasLastCell]="false"
        [footerHeight]="0"
      ></thx-datatable>
    </div>

    <div class="fixed-height-44 thf-u-padding-left--2 thf-u-padding-right--2 d-flex align-items-center thf-u-background-color--grey-lighter">
      <h3 class="thf-u-font--18 thf-u-no-margin">{{'label.mealPlanType' | translate}}</h3>
    </div>

    <div>
      <thx-datatable
        columnMode="force"
        [columns]="mealPlanColumns"
        [itens]="history.mealPlanRows"
        [hasLastCell]="false"
        [footerHeight]="0"
      ></thx-datatable>
    </div>
  </thx-tab>
</thx-tabs>

<ng-template #currencyTemplate ngx-datatable-cell-template let-row="row" let-column="column">
  <div class="thf-u-text-center">{{  row[column.prop] ? (row[column.prop] | currencyFormat: row.currencySymbol) : null }}</div>
</ng-template>

<ng-template ngx-datatable-header-template #ageRange1Template>
  <div>{{ 'variable.childs' | translate }}</div>
  <div><strong>0 - {{ propertyParameterList[0]?.propertyParameterValue }} {{ 'label.years' | translate }}</strong></div>
</ng-template>

<ng-template ngx-datatable-header-template #ageRange2Template>
  <div>{{ 'variable.childs' | translate }}</div>
  <div><strong>{{ ageRange1 }} - {{ propertyParameterList[1]?.propertyParameterValue }} {{ 'label.years' | translate }}</strong></div>
</ng-template>

<ng-template ngx-datatable-header-template #ageRange3Template>
  <div>{{ 'variable.childs' | translate }}</div>
  <div><strong>{{ ageRange2 }} - {{ propertyParameterList[2]?.propertyParameterValue }} {{ 'label.years' | translate }}</strong></div>
</ng-template>
