.fixed-height-44 {
  min-height: 44px;
  max-height: 44px;
}

:host ::ng-deep .badge {
  padding: .4em .8em;
  font-weight: normal;
}

.day-label {
  padding: 3px 6px;
  border-radius: 5px;
  border: 1px solid var(--color-grey-submarine);
  margin: 2px;
  text-align: center;
}
