<div class="card-wrapper"
     [title]="item?.productName"
     [ngClass]="{'selected': isSelected}"
     (click)="changeSelected()">
  <div class="card-header-item">
    <img
      alt="{{ item?.productName }}"
      src="{{ item?.iconName | imgCdn }}" />
    <div class="card-price">
      <span
        *ngIf="item?.unitPrice"
        class="card-value thf-u-font--14 thf-u-font--bold">
        {{currencySymbol}} {{ item?.unitPrice | currencyFormat: null:2:'.':',':3:false }}
      </span>
    </div>
  </div>
  <div class="card-content-item">
    <span class="card-description">
      {{ item?.productName }}
    </span>
    <i
      class="mdi card-content-icon"
      [ngClass]="{'mdi-checkbox-blank-circle-outline': !isSelected, 'mdi-checkbox-marked-circle': isSelected}"></i>
  </div>
</div>
