<div class="thf-u-width-flex">
  <form [formGroup]="form">
    <div class="row container-wrapper container-with-padding">
      <credit-card
        [accountName]="accountName"
        [iconName]="iconName">
      </credit-card>

      <div class="items-container">
        <div class="row">
          <div class="col">
            <label for="plasticBrandId"
               class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
              {{'paymentTypeModule.commomData.flag' | translate }}
            </label>
            <app-select
              [selectId]="'plasticBrandId'"
              [parent]="form"
              [optionList]="cardTypeList"
              [hasFormGroup]="true">
            </app-select>
          </div>
        </div>

        <!-- TODO: create template or other logic -->
        <div class="row thf-u-margin-top--1">
          <div [ngClass]="{'col-12': hasParcel, 'col-6': !hasParcel}">
            <label for="nsu"
              class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
              {{'billingAccountModule.commomData.nsuCode' | translate }} <i class="mdi mdi-alert-circle"></i>
            </label>
            <input
              formControlName="nsu"
              type="text"
              id="nsu"
              class="thf-input thf-u-margin-top--1"
              [autocomplete]="'off'"/>
          </div>

          <div *ngIf="!hasParcel" class="col-6">
            <input-money
              (moneySymbolChanged)="moneySymbolChanged($event)"
              (valuesChange)="valuesChange($event)"
              [isRequired]="true"
              [parent]="form"
              [inputId]="'price'">
            </input-money>
          </div>
        </div>

        <!-- TODO: create template or other logic -->
        <div *ngIf="hasParcel" class="row thf-u-margin-top--1">
            <div class="col-6">
              <input-money
                (moneySymbolChanged)="moneySymbolChanged($event)"
                (valuesChange)="valuesChange($event)"
                [isRequired]="true"
                [parent]="form"
                [inputId]="'price'">
              </input-money>
            </div>
            <div class="col-6">
              <label for="parcel"
                class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                {{'label.installmentsNumber' | translate }}
              </label>
              <app-select
                [selectId]="'parcel'"
                [parent]="form"
                [optionList]="cardParcelList"
                [hasFormGroup]="true">
              </app-select>
            </div>
          </div>

      </div>
    </div>


    <!-- buttons and info -->
    <div class="row thf-u-margin-top--3 resume-wrapper">
      <div class="col-12 thf-u-text-left">
        {{ 'text.totalOfLauncher' | translate }}
      </div>
      <div class="col-8">
        <div class="thf-u-color--blue thf-u-font--30 thf-u-font--bold">
          <span>{{ currencySymbol }}</span> {{ totalAmount | currencyFormat: null:2:'.':',':3:false }}
        </div>
      </div>
      <div class="col-2">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-2">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </form>
</div>
