<div class="thf-group-content">
  <div class="col-12">
    <label class="thf-u-no-margin">
      <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
      <span
        class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
          {{ 'label.consultReports' | translate }}
      </span>
    </label>
  </div>

  <div class="thf-group-content-body">
    <form [formGroup]="form">

      <!-- first row -->
      <div class="row">
        <div class="col-4">
          <report-menu
            [formGroupAppSelect]="form">
          </report-menu>
        </div>

        <div class="col-4">
          <label
            for="passingBy"
            class="thf-input-label--grey-submarine thf-input-label--required thf-u-font--14 thf-u-font--bold">
            {{ 'label.queryType' | translate }}
          </label>
          <app-select
              id="passingBy"
              [selectId]="'passingBy'"
              [parent]="form"
              [optionList]="passingByList"
              [hasBlankOption]="true"
              [hasFormGroup]="true">
          </app-select>
        </div>

        <!-- filter -->
        <div class="col-4">
          <label
            for="period"
            class="thf-input-label--grey-submarine thf-input-label--required thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'label.period' | translate }}
          </label>
          <thx-date-range-picker
            formControlName="period"
            id="period"
            class="thf-u-no-margin">
          </thx-date-range-picker>
        </div>
      </div>

      <hr class="row"/>

      <div class="row d-flex align-items-end">
        <div class="col">
          <label
            for="period"
            class="thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'label.reservationStatus' | translate }}
          </label>
          <div class="row" formArrayName="options">
            <div class="col-4" *ngFor="let option of options.controls; let i = index">
              <input
                [id]="checkboxOptions[i].name"
                 type="checkbox"
                 [formControlName]="i"
                 class="thf-input-type-checkbox">
              <label [for]="checkboxOptions[i].name">
                <span class="ui"></span>
              </label>
              {{ checkboxOptions[i].name | translate }}
            </div>
          </div>
        </div>

        <div class="col-3">
          <app-button [buttonConfig]="btnConfigSearch"></app-button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="thf-u-margin-top--1" *ngIf="pageItemsList && pageItemsList.length > 0">
  <app-header-page-new
    [hasFilter]="false">
    <header-title>
      <span>{{ 'title.reservationsMade' | translate }}</span>
    </header-title>
  </app-header-page-new>

  <div class="thf-u-margin-vertical--1">
    <thx-datatable
      [columns]='columns'
      [itens]="pageItemsList"
      [hasLastCell]="false"
      [tableHasScroll]="true"
      [columnMode]="'auto'">
    </thx-datatable>
  </div>

  <div class="row">
    <div class="offset-9 col-3 thf-u-margin-top--2">
      <button
        (click)="print()"
        class="thf-btn thf-u-no-padding thf-btn-primary"
        type="button">
        {{ 'action.print' | translate }}
      </button>
    </div>
  </div>

  <div [hidden]="true" #table>
    <div class="row">
      <div class="col">
        <app-printable-table
          [columnsName]="isSynthesise ? columnsSynthesise : columns"
          [items]="pageItemsList"
          [title]="title"
        ></app-printable-table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-printable-table
          [columnsName]="totalColumns"
          [items]="totalIItemsList"
          [showPropertyName]="false"
          [showDateHour]="false"
        ></app-printable-table>
      </div>
    </div>
  </div>

</div>


