<div class="col-11 thf-margin-0-auto parameter-box thf-u-padding-vertical--2">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="thf-group-content">
        <input type="checkbox" class="thf-group-toogle thf-u-z-index--1000"/>
        <div class="thf-group-content-header" >
          <div class="d-flex justify-content-between">
            <div class="col-3 align-self-center">
                <span class="align-self-center" data-toggle="collapse" data-target="#fixedRateBox" aria-expanded="false" aria-controls="fixedRateBox" >
                  <i class="align mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                  <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-input-label--required">{{ 'label.fixedRate' | translate }}</span>
                </span>
            </div>
            <div class="col-4">

              <app-date-search *ngIf="isListFiltered || (pageItemsList && pageItemsList.length > 0)"
                               [searchItems]="pageItemsList" [filterFunction]="rateHistoryService.filterByVigence"
                               (searchResultItems)="filterHistory($event)"
              ></app-date-search>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-6">
                  <app-button [buttonConfig]="calendarButtonConfig"></app-button>
                </div>
                <div class="col-6">
                  <app-button [buttonConfig]="insertButtonConfig"></app-button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="fixedRateBox" class="thf-group-content-body">
          <div class="row">
            <div class="col">
              <thx-datatable
                [columns]='columns'
                [itens]="pageItemsList"
                [emptyMessage]="'text.noneFixedRateAssociated'"
                [completeEmptyMessageContent]="'text.noneFixedRateAssociatedDescription'"
                [hasLastCell]="false"
              ></thx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #apliedToCell let-row="row" ngx-datatable-cell-template>
  <div><span *ngFor="let day of row.appliedTo" class="day-label" > {{ day }} </span></div>
</ng-template>

<ng-template #historyCell let-row="row" ngx-datatable-cell-template>
  <div class="thf-u-text-center" >
    <img (click)="seeHistory(row.id)" src="{{'info-outline.svg' | imgCdn }}" alt="{{ 'img.info' | translate }}" >
  </div>
</ng-template>
