<app-modal-wrapper [modalId]="modalId" [title]="modalTitle" [closeCallbackFunction]="resetFormAndConfigButtonBar">
  <form [formGroup]="formModal" class="thf-u-padding-right--1 thf-u-padding-left--1">
    <div class="thf-modal-body">
      <div class="row">
        <div class="col">
          <label class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'commomData.type' | translate }}</label>
          <div class="thf-u-margin-top--1">
            <app-button-bar [buttonBarConfig]="buttonBarConfig"></app-button-bar>
          </div>
        </div>
      </div>
      <billing-account-post-debit *ngIf="isDebit"
        [formModal]="formModal"
        [propertyId]="propertyId">
      </billing-account-post-debit>
      <billing-account-post-credit *ngIf="!isDebit"
        [formModal]="formModal"
        [propertyId]="propertyId"
                                   (paymentTypeWithBillingItemListWasUpdated)="updatePaymentTypeWithBillingItemList($event)">
      </billing-account-post-credit>
    </div>
    <div class="thf-modal-footer thf-u-margin-bottom--1">
      <div class="row">
        <div class="col-1">
          <img src="{{'tarifa-grey.svg' | imgCdn }}" class="thf-u-margin-top--2" alt="{{'billingAccountModule.commomData.totalPostingWithFees' | translate}}">
        </div>
        <div class="col-5">
          <label for="value" class="thf-u-no-margin thf-input-label thf-u-font--12 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'billingAccountModule.commomData.totalPostingWithFees' | translate }}
            <span *ngIf="isDebit">{{'label.withFees' | translate}}</span>
          </label>
          <div>
            <span class="thf-u-font--20 thf-u-font--bold thf-u-color--blue">{{'commomData.r$' | translate}} {{formModal.get('totalPrice').value}}</span>
          </div>
        </div>
        <div class="col-3 thf-u-margin-top--2">
          <app-button [buttonConfig]="buttonCancelConfig"></app-button>
        </div>
        <div class="col-3 thf-u-margin-top--2">
          <app-button [buttonConfig]="buttonPostDebitOrCreditConfig"></app-button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>
