<thf-page-edit
  [t-disable-submit]="formInvalid"
  [t-title]="i18n.title"
  [t-literals]="literals">
  <admin-group
    isOpen="true"
    [title]="i18n.group.hotel"
  >
    <admin-hotel-form
      #hotelForm
      (statusChanged)="updateFormStatus($event)"
      [hotelId]="hotelId"
      [hotel]="hotelData"
      [locations]="locations"
      [brandOptions]="brandOptions"
      [companyOptions]="companyOptions"
    ></admin-hotel-form>
  </admin-group>
  <div class="thf-mt-2">
    <admin-address-list
      [locations]="locations"
      (updatedLocations)="updateLocations($event)"
    >
      <thf-button
        (t-click)="setCompanyLocationsAsLocations()"
        [t-label]="i18n.action.useCompanyAddress"
      ></thf-button>
    </admin-address-list>
  </div>
  <div class="thf-mt-2">
    <admin-hotel-integration-partner-list
      #integrationPartnerList
      [integrationPartners]="integrationPartners"
      [hotel]="hotelData"
    ></admin-hotel-integration-partner-list>
  </div>
</thf-page-edit>
