.col.no-expand {
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: center;
  padding-right: 0;
}

.icon {
  display: block;
  width: 42px;
  height: 42px;
  line-height: 44px;
  vertical-align: middle;
  text-align: center;
  font-size: 1.2em;

  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

:host ::ng-deep .icon img {
  max-width: 1.2em;
  max-height: 1.2em;
}

:host ::ng-deep .icon i {
  line-height: .7em;
}

:host ::ng-deep h1,
:host ::ng-deep h2,
:host ::ng-deep h3,
:host ::ng-deep h4 {
  font-size: .8em;
  margin: .3em 0;
}

:host ::ng-deep p {
  font-size: .7em;
  margin-bottom: 0;
}
