<div class="step">
  <div class="row">
    <div class="col no-expand">
      <span class="icon" [style.color]="color">
        <ng-content select="i"></ng-content>
        <ng-content select="img"></ng-content>
      </span>
    </div>

    <div class="col">
      <ng-content select="h4"></ng-content>
      <div [style.color]="color">
        <ng-content select="p"></ng-content>
      </div>
    </div>
  </div>
</div>
