<form [formGroup]="userForm" class="user-div">
  <div class="row">
    <div class="col-12">
      <div class="info-title">{{ 'label.userInfo' | translate }}</div>
    </div>
  </div>
    <div class="row">
      <div class="col-4">
        <label for="email"
               class="thf-u-no-margin thf-input-label thf-u-font--12 thf-u-font--bold thf-input-label--required thf-input-label--grey-submarine">
          {{ 'label.userEmail' | translate }}
        </label>
        <input id="email" class="thf-input thf-u-margin-top--1" type="text" formControlName="email" disabled="true">
        <thx-error formControlName="email"></thx-error>
      </div>

      <div class="col-5">
        <label for="name"
               class="thf-u-no-margin thf-input-label thf-u-font--12 thf-u-font--bold thf-input-label--required thf-input-label--grey-submarine">
          {{ 'label.fullName' | translate }}
        </label>
        <input id="name" class="thf-input thf-u-margin-top--1" type="text" formControlName="name">
        <thx-error formControlName="name"></thx-error>
      </div>

      <div class="col-3">
        <label for="nickname"
               class="thf-u-no-margin thf-input-label thf-u-font--12 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.nickname' | translate }}
        </label>
        <input id="nickname" class="thf-input thf-u-margin-top--1" type="text" formControlName="nickname">
        <thx-error formControlName="nickname"></thx-error>
      </div>
    </div>

    <div class="row thf-u-margin-top--2">
      <div class="col-4">
        <label for="dateOfBirth"
               class="thf-u-no-margin thf-input-label thf-u-font--12 thf-input-label--required thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.birth' | translate }}
        </label>
        <div style="margin-top: -10px;">
          <thx-datepicker
            id="dateOfBirth"
            formControlName="dateOfBirth"
            [disableSince]="disableToday">
          </thx-datepicker>
          <thx-error formControlName="dateOfBirth"></thx-error>
        </div>
      </div>

      <div class="col-4">
        <label for="phoneNumber"
               class="thf-u-no-margin thf-input-label thf-u-font--12 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.phone' | translate }}
        </label>
        <input id="phoneNumber"
               class="thf-input thf-u-margin-top--1"
               type="text"
               formControlName="phoneNumber">
        <thx-error formControlName="phoneNumber"></thx-error>
      </div>
    </div>
    <hr>

  <div class="row save-button">
    <div class="col offset-10">
      <app-button [buttonConfig]="buttonSaveConfig"></app-button>
    </div>
  </div>
</form>

