.info-title {
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 40px 0;
  letter-spacing: 1.08px;
}

.user-div {
  background-color: white;
  padding: 0 40px 40px;
}

.thf-input  {
  margin-top: 0px !important;
}

.save-button {
  padding-top: 23px;
}
