<app-header-page-new [config]="configHeaderPage" [hasFilter]="true">
    <header-title>{{'entryTypeModule.tax.pagelist.header.title' | translate }}</header-title>
    <app-filter-search [searchableItems]="searchableItems" (searchUpdated)="updateList($event)"></app-filter-search>
    <text-button>{{'entryTypeModule.tax.pagelist.header.buttonAdd' | translate}}</text-button>
    <icon-button>
      <i class="mdi mdi-plus"></i>
    </icon-button>
  </app-header-page-new>

      <thx-datatable
          *ngIf="pageItemsList && pageItemsList.length > 0;else showEmptyComponent"
          [columns]='columns'
          [itens]="pageItemsList"
          statusIdentifier='id'
          [itemsOption]="itemsOption"
          (statusChanged)="updateStatus($event)"
          (rowItemClicked)="goToEditPage($event)"
        ></thx-datatable>


  <ng-template #showEmptyComponent>
    <app-empty-content-wrapper>
      <content-title>{{'entryTypeModule.tax.pagelist.emptyContent.title' | translate}}</content-title>
      <content-description>
        {{'entryTypeModule.tax.pagelist.emptyContent.textDescription' | translate}}
        <a class="thf-link" href="javascript:void(0)" (click)="goToNewPage()">
          {{'entryTypeModule.tax.pagelist.emptyContent.link' | translate}}
        </a>
      </content-description>
    </app-empty-content-wrapper>
  </ng-template>
