<label class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
  {{ 'reservationModule.commomData.noShow' | translate }}
</label>
<input
  id="noShow"
  class="thf-input-radio-button"
  type="checkbox"
  [(ngModel)]="isActive"
  (ngModelChange)="itemWasUpdated($event)"
  [disabled]="readonly"/>
<label for="noShow" class="thf-u-margin-top--1"><span class="ui"></span></label>
