<app-modal-wrapper
  modalId="modalAssociate"
  [title]="'entryTypeModule.service.createEdit.associatedFees.modal.title'">

  <associate-tax [editFee]="feeToEdit"
                 (cancel)="toggleModal()"
                 (save)="associateFee($event)"></associate-tax>
</app-modal-wrapper>

<app-header-page-new [config]="configHeaderPage">
  <header-title>
    {{ (isEditPage() ? 'action.lbEdit' : 'action.lbNew') | translate: { labelName: 'label.pos' | translate } }}
  </header-title>
</app-header-page-new>

<div class="row justify-content-center">
  <div class="col-10">
    <div>
      <app-group-content [title]="'title.posData'">
      <div class="row">
        <div class="col">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-5">
                <label for="name"
                       class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'variable.description.M' | translate: {labelName: 'label.pos' | translate} }}
                </label>
                <input id="name" formControlName="name" class="thf-input thf-u-margin-top--1" type="text"
                       [ngClass]="{'thf-input-error': !form.get('name').valid && form.get('name').dirty}"
                />
              </div>
              <div class="col">
                <label for="billingItemCategoryId"
                       class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'label.group' | translate }}
                </label>
                <app-select id="billingItemCategoryId" [selectId]="'billingItemCategoryId'" [parent]="form" [optionList]="categoryList"
                            [hasFormGroup]="true">
                </app-select>
              </div>

              <div class="col">
                <label for="integrationCode"
                       class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'label.code' | translate }}
                </label>
                <input id="integrationCode" formControlName="integrationCode" class="thf-input thf-u-margin-top--1" type="text" />
              </div>
              <div class="col-2 thf-u-text-center">
                <label for="isActive"
                       class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'variable.isActive.M' | translate: {labelName: 'label.pos' | translate} }}
                </label>
                <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
                  <input id="isActive" type="checkbox" formControlName="isActive" class="thf-input-radio-button"/>
                  <label class="thf-u-vertical-align-super" for="isActive">
                    <span class="ui"></span>
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </app-group-content>
    </div>
    <div class="thf-u-margin-top--2">
      <app-group-content [hasButton]="true" [buttonConfigSetted]="buttonImplementConfig"
                         [title]="'entryTypeModule.service.createEdit.associatedFees.title'">
        <div class="row">
          <div class="col">
            <thx-datatable
              [columns]="columns"
              [itens]="posToSave?.serviceAndTaxList"
              statusIdentifier='id'
              [itemsOption]="itemsOption"
              [emptyMessage]="'variable.emptyContentF.title' | translate: {labelName: 'label.fee' | translate}"
              [emptyMessageContent]="'variable.emptyContentF.textDescription' | translate: {labelName: 'label.fee' | translate}"
              (emptyLinkClicked)="toggleModal()"
            ></thx-datatable>
          </div>
        </div>
      </app-group-content>
    </div>
    <div class="row justify-content-end thf-u-margin-top--2">
      <div class="col-2">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-2">
        <app-button [buttonConfig]="buttonSaveConfig"></app-button>
      </div>
    </div>
  </div>
</div>

<ng-template #templateMomentFormat let-value="value" ngx-datatable-cell-template>
  {{value | amDateFormat: 'L'}}
</ng-template>
<ng-template #percentTemplate let-value="value" ngx-datatable-cell-template>
  {{value}} %
</ng-template>

