<div class="row">
  <div class="col-4 thf-u-ellipsis">
    <span class="thf-u-font--bold thf-u-font--13">
      <span *ngIf="reservationBudgetCard?.reservationItem?.roomNumber">{{ reservationBudgetCard?.reservationItem?.roomNumber}}</span>
      <span>{{ reservationBudgetCard?.reservationItem?.roomTypeAbbreviation}}</span>
    </span>
  </div>
  <div class="col thf-u-no-padding">
    <span class="thf-u-font--13">
      {{ getStartDate() | amDateFormat:'L' }} - {{ reservationBudgetCard?.reservationItem?.estimatedDepartureDate | amDateFormat:'L'
      }}
    </span>
  </div>
</div>

<div class="row thf-u-margin-top--1">
  <div class="col-8">
    <div class="row">
      <div class="col-7 thf-u-ellipsis">
        <span class="thf-u-font--13">{{ reservationBudgetCard?.reservationItem?.reservationItemCode}}</span>
      </div>
      <div class="col thf-u-no-padding thf-u-ellipsis">
        <span class="thf-u-font--13">{{ reservationBudgetCard?.reservationItem?.reservationItemStatus}}</span>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col thf-u-no-padding">
            <img src="{{'person-gray.svg' | imgCdn }}" class="img-person" alt="{{ 'commomData.images.person' | translate }}">
          </div>
          <div class="col thf-u-no-padding">
            <span class="thf-u-font--13 thf-u-font--semibold thf-u-color--blue thf-u-vertical-align-middle" [ngClass]="{'thf-u-color--white': reservationBudgetCard?.isActive}">
              {{ reservationBudgetCard?.reservationItem?.adultCount}}
            </span>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col thf-u-no-padding">
            <img src="{{'child_icon.svg' | imgCdn}}" class="img-child " alt="{{ 'commomData.images.person' | translate }}">
          </div>
          <div class="col thf-u-no-padding">
            <span class="thf-u-font--13 thf-u-font--semibold thf-u-color--blue thf-u-vertical-align-middle" [ngClass]="{'thf-u-color--white': reservationBudgetCard?.isActive}">
                {{ reservationBudgetCard?.reservationItem?.childCount}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
