:host {
  display: inline-flex;
  border-radius: 50%;
}

.thx-icon-btn-round {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-card-gradient-final);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;

  text-decoration: none;
  user-select: none;

  transition: 200ms;
  transition-timing-function: ease-in-out;

  // sizes
  &.small {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
  &.medium {
    width: 24px;
    height: 24px;
    font-size: 24px;
  }
  &.larger {
    width: 64px;
    height: 64px;
    font-size: 64px;
  }

  // colors
  &.default {
    background-color: var(--color-card-gradient-final);
    border: 1px solid var(--color-card-gradient-final);
    &:hover {
      background-color: var(--color-white);
      border: 1px solid var(--color-card-gradient-final);
    }
  }
  &.outline {
    background-color: var(--color-white);
    border: 1px solid var(--color-card-gradient-final);
    &:hover {
      background-color: var(--color-card-gradient-final);
      border: 1px solid var(--color-card-gradient-final);
    }
  }
}
