<div class="room">
  <form
    class="form"
    [formGroup]="roomForm.form"
  >
    <thx-title-v2
      class="room-group -bottom"
      [title]="'hotelPanelModule.roomCreate.selectUH' | translate">
      <div class="row mb-2">
        <div class="col-6">
          <thx-select-v2
            formControlName="uhType"
            [title]="'label.selectUhType' | translate | required"
            [optionList]="roomTypeList"
          ></thx-select-v2>
        </div>
      </div>
    </thx-title-v2>

    <thx-title-v2
      [title]="'title.roomTypeDetais' | translate">
      <div class="row room-group -top">
        <div class="col-5 flex">
          <div>
            <img alt="{{'label.typeUH' | translate }}" src="{{'hotel-icon-uh.svg' | imgCdn}}" class="card-img"/>
          </div>
          <div>
            <div class="title-bold">{{roomTypeSelected?.abbreviation}}</div>
            <div class="title-normal">{{roomTypeSelected?.name}}</div>
          </div>
        </div>
        <div class="col-3">
          <thx-icon-text
            class="mb-2 title-normal-small"
            [alt]="'label.maxAdults' | translate"
            [title]="'label.maxAdults' | translate"
            [count]="roomTypeSelected?.adultCapacity"
          ></thx-icon-text>

          <thx-icon-text
            class="mb-2 title-normal-small"
            [alt]="'label.maxChildren' | translate"
            [title]="'label.maxChildren' | translate"
            [count]="roomTypeSelected?.childCapacity"
          ></thx-icon-text>
        </div>

        <div class="col-3">
          <thx-icon-text
            class="mb-2 title-normal-small"
            [src]="'doubleBed-icon.svg'"
            [alt]="'label.bedCouple' | translate"
            [title]="'label.bedCouple' | translate"
            [count]="roomTypeSelected?.bedDoubleCount"
          ></thx-icon-text>

          <thx-icon-text
            class="mb-2 title-normal-small"
            [src]="'singleBed-icon.svg'"
            [alt]="'label.bedSingle' | translate"
            [title]="'label.bedSingle' | translate"
            [count]="roomTypeSelected?.bedSingleCount"
          ></thx-icon-text>

          <thx-icon-text
            class="mb-2 title-normal-small"
            [src]="'berco-icon.svg'"
            [alt]="'label.babyCrib' | translate"
            [title]="'label.babyCrib' | translate"
            [count]="roomTypeSelected?.bedCribCount"
          ></thx-icon-text>
        </div>

      </div>
    </thx-title-v2>

    <thx-title-v2 [title]="'hotelPanelModule.commomData.roomData' | translate">
      <div class="row">
        <div class="col-3">
          <thx-input-text
            formControlName="roomNumber"
            [title]="'hotelPanelModule.commomData.roomNumber' | translate | required"
          ></thx-input-text>
        </div>
        <div class="col-3">
          <thx-input-text
            formControlName="floor"
            [title]="'hotelPanelModule.commomData.floor' | translate | required"
          ></thx-input-text>
        </div>
        <div class="col-3">
          <thx-input-text
            formControlName="building"
            [title]="'hotelPanelModule.commomData.building' | translate"
          ></thx-input-text>
        </div>
        <div class="col-3">
          <thx-input-text
            formControlName="wing"
            [title]="'hotelPanelModule.commomData.wing' | translate"
          ></thx-input-text>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <thx-textarea-v2 [title]="'label.obs' | translate" [limit]="200" formControlName="remarks"></thx-textarea-v2>
        </div>
      </div>
    </thx-title-v2>

    <footer class="footer mt-4">
      <thx-button-v2
        [iconAfter]="getButtonClass(roomForm.form.valid)"
        [primary]="false"
        [disabled]="roomForm.form.invalid"
        (clicked)="save()"
      >
        {{'action.add' | translate}}
      </thx-button-v2>
    </footer>
  </form>

  <div class="container-list">
    <thx-container-list
      class="list"
      [title]="'variable.addF' | translate: {labelName: 'label.uhs' | translate}"
      [items]="roomList$ | async"
      [itemTemplate]="roomCard"
      [emptyTemplate]="emptyMessage"
    ></thx-container-list>

    <ng-template #roomCard let-room="item">
      <app-room-card
        [room]="room"
        (delete)="delete($event)"
      ></app-room-card>
    </ng-template>

    <ng-template #emptyMessage>
      <div class="empty-block">
        <div class="block">
          <img
            class="image"
            [src]="'semuh.svg' | imgCdn"
            alt=""
          >
          <span class="text">{{'text.noUh' | translate}}</span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
