@import "variables";

.footer {
  display: flex;
  justify-content: flex-end;
}

.group {
  margin-bottom: 20px;
  display: flex;
}

.room {
  display: flex;
  height: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

.form {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex: 1;
  padding: 0 15px;
  overflow: auto;
  margin-right: 8px;

  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    margin: 0 2px 0 0;
  }

  &::-webkit-scrollbar-thumb{
    background-color: $grey-color--20;
    border-radius: 100px;
    outline: 1px solid $grey-color--20;
  }
}

.counter-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container-list {
  display: flex;
  width: 300px;
  margin-right: 15px;
  height: 100%;

  .list {
    width: 100%;
  }
}

.empty-block {
  display: flex;
  width: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding-right: 10px;

  > .block {
    width: 180px;
    display: flex;
    flex-direction: column;

    > .image {
      width: 100%;
      margin: 20px auto;
      max-width: 136px;
    }

    > .text {
      font-size: 14px;
      color: var(--color-grey-darker);
      text-align: center;
      padding: 0 6px;
      filter: opacity(0.5);
    }
  }
}

.card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 20px;
}

.img-min-double {
  width: 21.9px;
  height: 12.8px;
}

.img-min-single {
  width: 15px;
  height: 14.2px;
}

.img-min-crib {
  width: 19.7px;
  height: 16.8px;
}

.title-normal, .title-normal-small, .title-bold, .text-label, .text-count {
  color: #717678;
  font-weight: 100;
  font-family: 'Nunito Sans',sans-serif;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin-right: 3px;
  padding-bottom: 5px;
}

.title-normal-small, .text-label {
  font-size: 10px;
  color: #717678;
  text-transform: uppercase;
}

.title-bold, .text-count {
  color: #717678;
  font-size: 14px;
  font-weight: bold;
}

.spacer-ball {
  margin-top: 2rem !important;
}

.flex {
  display: flex;
  flex: 1 1 100%;
  align-items: baseline;
}


.room-group {
  &.-bottom {
    margin-bottom: 20px;
  }

  &.-top{
    margin-top: 20px;
  }
}
