<div class="col-12">
  <app-header-page-new>
    <header-title>
      {{'propertyModule.availabilityGrid.title' | translate }}
    </header-title>
  </app-header-page-new>
</div>

<central-grid-search-form (filterBy)="filter($event)"></central-grid-search-form>

<div class="row">
  <div class="col-12 availability-grid-container">
    <thx-multi-property-availability-grid
      #grid
      [startDate]="startDate"
      [days]="days"
      [labels]="labels"
      [propertyList]="propertyList"
      [footerList]="footerList"
      [availabilityList]="availabilityList"
      (roomTypeExpanded)="getRoomTypes($event, startDate, days)"
      (initialDateChange)="onInitialDateChange($event)"
      (rateProposalClick)="goToRateProposal($event)"
      (newReservationClick)="goToReservation($event)"
    ></thx-multi-property-availability-grid>
  </div>
</div>
