<div class="thf-group-content">
  <div class="col-12">
    <label class="thf-u-no-margin">
      <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
      <span
        class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
          {{ 'label.consultReports' | translate }}
      </span>
    </label>
  </div>

  <div class="thf-group-content-body">
    <form [formGroup]="form">

      <!-- first row -->
      <div class="row">
        <div class="col-4">
          <report-menu
            [formGroupAppSelect]="form">
          </report-menu>
        </div>
      </div>

      <hr class="row"/>

      <div class="row">
        <!-- filter -->
        <div class="col-4">
          <label
            for="period"
            class="thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'label.period' | translate }}</label>
          <thx-date-range-picker
            formControlName="period"
            id="period"
            class="thf-u-no-margin">
          </thx-date-range-picker>
        </div>

        <div class="col-4">
          <label
            for="accountName"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.billingName' | translate }}
          </label>
          <input
            formControlName="accountName"
            id="accountName"
            class="thf-input thf-u-margin-top--1"
            [autocomplete]="'off'"/>
        </div>

        <div class="col-4">
          <label
            for="name"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.userName' | translate }}
          </label>
          <input
            formControlName="name"
            id="name"
            class="thf-input thf-u-margin-top--1"
            [autocomplete]="'off'"/>
        </div>

        <div class="col-2 thf-u-text-left">
          <label
            for="issuePayment"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'label.issuePayment' | translate }}
          </label>
          <div>
            <input
              type="checkbox"
              formControlName="issuePayment"
              class="thf-input-radio-button"
              id="issuePayment"/>
            <label class="thf-u-vertical-align--sub" for="issuePayment">
              <span class="ui"></span>
            </label>
          </div>
        </div>

        <div class="col-2 thf-u-text-left">
          <label
            for="wasReversed"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'label.onlyWasReversed' | translate }}
          </label>
          <div>
            <input
              type="checkbox"
              formControlName="wasReversed"
              class="thf-input-radio-button"
              id="wasReversed"/>
            <label class="thf-u-vertical-align--sub" for="wasReversed">
              <span class="ui"></span>
            </label>
          </div>
        </div>

        <div class="col-2 thf-u-text-left">
          <label
            for="synthesise"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'label.reportSynthesise' | translate }}
          </label>
          <div>
            <input
              type="checkbox"
              formControlName="synthesise"
              class="thf-input-radio-button"
              id="synthesise"/>
            <label class="thf-u-vertical-align--sub" for="synthesise">
              <span class="ui"></span>
            </label>
          </div>
        </div>

      </div>

      <div class="row justify-content-end">
        <div class="col-3">
          <app-button [buttonConfig]="btnConfigSearch"></app-button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="thf-u-margin-top--1" *ngIf="pageItemsList && pageItemsList.length > 0">
  <app-header-page-new
    [hasFilter]="false">
    <header-title>
      <span>{{ 'title.bordereau' | translate }}</span>
    </header-title>
  </app-header-page-new>

  <div class="thf-u-margin-vertical--1">
    <thx-datatable
      *ngIf="!isSynthesise"
      [columns]='columns'
      [itens]="pageItemsList"
      [hasLastCell]="false"
      [tableHasScroll]="true"
      [columnMode]="'auto'">
    </thx-datatable>

    <thx-datatable
      *ngIf="isSynthesise"
      [columns]='columnsSynthesise'
      [itens]="pageItemsList"
      [hasLastCell]="false"
      [tableHasScroll]="true"
      [columnMode]="'flex'">
    </thx-datatable>
  </div>

  <div class="row">
    <div class="offset-9 col-3 thf-u-margin-top--2">
      <button
        (click)="print()"
        class="thf-btn thf-u-no-padding thf-btn-primary"
        type="button">
        {{ 'action.print' | translate }}
      </button>
    </div>
  </div>

  <app-printable-bordereau-group-report
    #table
    [hidden]="true"
    [periodInfo]="periodInfo"
    [borderoGroupList]="pageItemsGroupList"
    [columnsName]="isSynthesise ? columnsSynthesise : columns"
    [items]="pageItemsList"
    [props]="isSynthesise ? propsSynthesise : props"
    [isSynthesise]="isSynthesise"
  >
  </app-printable-bordereau-group-report>
</div>


