<div class="col-11 thf-margin-0-auto parameter-box thf-u-padding-vertical--2">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="thf-group-content">
        <input type="checkbox" class="thf-group-toogle thf-u-z-index--1000"/>
        <div class="thf-group-content-header" >
          <div class="d-flex justify-content-between">
              <div class="col-3 align-self-center">
                <span class="align-self-center" data-toggle="collapse" data-target="#comissionBox" aria-expanded="false" aria-controls="comissionBox" >
                  <i class="align mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                  <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">{{ 'label.comissions' | translate }}</span>
                </span>
              </div>
            <div class="col-6">
              <app-filter-search [searchableItems]="searchBarConfig" (searchUpdated)="updateList($event)"
                                 [hasBorderBottom]="true"  ></app-filter-search>
            </div>
            <div class="col-3">
              <app-button [buttonConfig]="associateButtonConfig"></app-button>
            </div>
          </div>
        </div>
        <div id="comissionBox" class="thf-group-content-body">
          <div class="row">
            <div class="col">
              <thx-datatable
                *ngIf="showTable"
                [columns]='columns'
                [itens]="pageItemsList"
                (rowItemClicked)="goToEditPage($event)"
                [emptyMessage]="'text.noneComissionAssociated'"
                [completeEmptyMessageContent]="'text.noneComissionAssociatedDescription'"
                [deleteModeOption]="true"
                (deleteClicked)="removeComissionAssociation($event)"
              ></thx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<thx-comission-associate-modal
  [modalId]="MODAL_ASSOCIATE_COMISSION_ID" (shouldCloseModal)="cancel()"
  (confirmAssociation)="addComission($event)"
  [billingItemTypeList]="billingItemTypeList"></thx-comission-associate-modal>

<ng-template #percentCell let-row="row" ngx-datatable-cell-template>
  <div>{{ row.commissionPercentualAmount }} %</div>
</ng-template>
