<thx-toaster-v2></thx-toaster-v2>
<app-modal></app-modal>
<app-load></app-load>
<app-load-new></app-load-new>

<div class="container-fluid app-main__content">
  <app-menu *ngIf="!hideMainMenu" [options]="menuOptions$ | async"></app-menu>
  <div [ngClass]="{'thf-u-margin-left--5': !hideMainMenu}">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12 thf-u-no-padding">
        <app-property-top-bar></app-property-top-bar>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-bottom-bar></app-bottom-bar>
</div>
