<ngx-datatable
  class='material'
  [columnMode]="'flex'"
  [headerHeight]="30"
  [footerHeight]="0"
  [rowHeight]="50"
  [limit]="25"
  [rows]="rows">
  <!-- Column Templates -->

  <ngx-datatable-column
    *ngIf="canChoseDefault"
    [flexGrow]=".6"
    [headerClass]="'thf-u-text-left'"
    [cellClass]="'thf-u-text-left'">
    <ng-template ngx-datatable-header-template>
      {{ 'label.defaultMealPlan' | translate }}
    </ng-template>
    <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
      <div>
        <input
          name="isMealPlanTypeDefault"
          type="radio"
          (click)="setMealPlanTypeDefault(row)"
          class="thf-input-type-radio"
          id="isMealPlanTypeDefault-{{rowIndex}}"
          [checked]="row.isMealPlanTypeDefault"
          [disabled]="isDisabled"
          [ngClass]="{'thf-u-no-pointer-events thf-u-disable-cursor thf-u-opacity--45': isDisabled}"
        />
        <label for="isMealPlanTypeDefault-{{rowIndex}}">
          <span class="ui"></span>
        </label>
        <span
          *ngIf="row.isMealPlanTypeDefault"
          class="thf-tag thf-u-background-color--grey-dark thf-u-color-white thf-u-font--12 thf-u-margin-left--3">
          {{ 'label.default' | translate }}
        </span>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [flexGrow]="1" [headerClass]="'thf-u-text-left'" [cellClass]="'thf-u-text-left'">
    <ng-template ngx-datatable-header-template>
      {{ 'label.mealPlanType' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row.propertyMealPlanTypeName }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [flexGrow]="1" [headerClass]="'thf-u-text-center'" [cellClass]="'thf-u-padding-vertical--1'">
    <ng-template ngx-datatable-header-template>
      <div>{{ 'label.adult' | translate }}</div>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="text" [(ngModel)]="row.adultMealPlanAmount" (ngModelChange)="updateMealType(rows)"
             [disabled]="isDisabled"
             [ngClass]="{'thf-u-no-pointer-events thf-u-disable-cursor thf-u-opacity--45': isDisabled}"
             class="thf-input-table thf-u-text-center thf-u-width-flex thf-u-height--100" currencyMask
             [options]="optionsCurrencyMask">
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column *ngIf="propertyParameterList[0].isActive" [flexGrow]="1" [headerClass]="'thf-u-text-center'"
                        [cellClass]="'thf-u-padding-vertical--1'">
    <ng-template ngx-datatable-header-template>
      <div>{{ 'variable.childs' | translate }}</div>
      <div>0 - {{ propertyParameterList[0].propertyParameterValue }} {{ 'label.years' | translate }}</div>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="text" [(ngModel)]="row.child1MealPlanAmount" (ngModelChange)="updateMealType(rows)"
             [disabled]="isDisabled"
             [ngClass]="{'thf-u-no-pointer-events thf-u-disable-cursor thf-u-opacity--45': isDisabled}"
             class="thf-input-table thf-u-text-center thf-u-width-flex thf-u-height--100" currencyMask
             [options]="optionsCurrencyMask">
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column *ngIf="propertyParameterList[1].isActive" [flexGrow]="1" [headerClass]="'thf-u-text-center'"
                        [cellClass]="'thf-u-padding-vertical--1'">
    <ng-template ngx-datatable-header-template>
      <div>{{ 'variable.childs' | translate }}</div>
      <div>{{ ageRange1 }} - {{ propertyParameterList[1].propertyParameterValue }} {{ 'label.years' | translate }}</div>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="text" [(ngModel)]="row.child2MealPlanAmount" (ngModelChange)="updateMealType(rows)"
             [disabled]="isDisabled"
             [ngClass]="{'thf-u-no-pointer-events thf-u-disable-cursor thf-u-opacity--45': isDisabled}"
             class="thf-input-table thf-u-text-center thf-u-width-flex thf-u-height--100" currencyMask
             [options]="optionsCurrencyMask">
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column *ngIf="propertyParameterList[2].isActive" [flexGrow]="1" [headerClass]="'thf-u-text-center'"
                        [cellClass]="'thf-u-padding-vertical--1'">
    <ng-template ngx-datatable-header-template>
      <div>{{ 'variable.childs' | translate }}</div>
      <div>{{ ageRange2 }} - {{ propertyParameterList[2].propertyParameterValue }} {{ 'label.years' | translate }}</div>
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="text" [(ngModel)]="row.child3MealPlanAmount" (ngModelChange)="updateMealType(rows)"
             [disabled]="isDisabled"
             [ngClass]="{'thf-u-no-pointer-events thf-u-disable-cursor thf-u-opacity--45': isDisabled}"
             class="thf-input-table thf-u-text-center thf-u-width-flex thf-u-height--100" currencyMask
             [options]="optionsCurrencyMask">
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
