<div [formGroup]="parent">
  <label
    class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-no-margin thf-u-font--bold thf-input-label--grey-submarine"
    for="deadline">{{ 'reservationModule.commomData.deadline' | translate }}</label>
  <thx-datepicker
    id="deadline"
    formControlName="{{controlName}}"
    [ngClass]="extraClass"
    [disableUntil]="disableUntil"
    [readonly]="readonly"
  ></thx-datepicker>
  <thx-error formControlName="{{controlName}}"></thx-error>
</div>
