<nav class="thf-menu-new thf-u-z-index--1000 thf-u-reset-left thf-u-reset-top thf-u-font--13" (mouseenter)="menuMouseEnter()" (mouseleave)="menuMouseLeave()" [class.small]="isSmall">
  <div class="thf-menu-new-header">
    <a class="thf-menu-new-toogle">
      <img src="{{'menu-blue.svg' | imgCdn }}" />
      <img
        *ngIf="!isSmall"
        class="thexLogo"
        src="{{ getImg() | imgCdn }}" />
    </a>
    <div class="thf-menu-new-filter thf-u-cursor--pointer thf-new-filter-small">
      <input
        *ngIf="!isSmall"
        id="filter-menu"
        [(ngModel)]="filter"
        [ngModelOptions]="{standalone: true}"
        (ngModelChange)="onFilter()"
        class="thf-input thf-input-search" type="text" placeholder="{{ 'sharedModule.menu.search' | translate }}">
      <img class="thf-menu-new-filter-img" src="{{'search-blue.svg' | imgCdn}}"  />
    </div>
  </div>
  <app-menu-option #children [menuOptions]="filteredOptions"></app-menu-option>
</nav>
