.thf-menu-new {
  position: fixed;
  width: 240px;
  height: 100vh;
  background: var(--color-grey-darker);
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.4s;
  overflow-y: auto;
}

.thf-menu-new::-webkit-scrollbar {
  width: 0;
}

.thf-menu-new-header {
  padding: 10px;
}
.thf-menu-new-header .thf-menu-new-toogle {
  cursor: pointer;
  display: block;
  padding: 10px 0 10px 5px;
  height: 45px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.thf-menu-new .thf-menu-new-header .thf-menu-new-toogle .thf-menu-new-logo {
  position: absolute;
  clip: rect(0 79px 24px 0);
  transition: all 0.5s ease-out;
}
.thf-menu-new-header .thf-menu-new-filter {
  display: flex;
  position: relative;
  min-height: 30px;
  align-items: center;
}
.thf-menu-new-header .thf-menu-new-filter .thf-input-search {
  color: var(--color-grey-dark);
  padding-left: 30px;
  background: #192021;
  border-radius: 50px;
}
.thf-menu-new-header .thf-menu-new-filter .thf-input-search::placeholder {
  color: var(--color-grey-dark);
}
.thf-menu-new-header .thf-menu-new-filter .thf-menu-new-filter-img {
  position: absolute;
  left: 8px;
  top: 9px;
  width: 15px;
}

:host ::ng-deep .thf-menu-new-list .thf-menu-new-option {
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
}

:host ::ng-deep .thf-menu-new-list .thf-menu-new-option .thf-menu-new-link {
  display: flex;
  align-items: center;
  color: var(--color-blue);
  padding: 15px 15px;
  text-decoration: none;
}

:host ::ng-deep .thf-menu-new-list .thf-menu-new-option .thf-menu-new-link:hover {
  background-color: rgba(0,0,0,0.1);
}

:host ::ng-deep .thf-menu-new-list .thf-menu-new-option .thf-menu-new-link:active {
  background-color: rgba(0,0,0,0.25);
}

:host ::ng-deep .thf-menu-new-list .thf-menu-new-option .thf-menu-new-link > .thf-menu-new-img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

:host ::ng-deep .thf-menu-new-list .thf-menu-new-option .thf-menu-new-link > .thf-menu-new-icon {
  max-width: 20px;
  max-height: 20px;
  margin-right: 10px;
}
:host ::ng-deep .thf-menu-new-list .thf-menu-new-option .thf-menu-new-link > .thf-menu-new-link-info {
  display: flex;
  flex: 1 100%;
  justify-content: space-between;
}
:host ::ng-deep .thf-menu-new-list .thf-menu-new-option .thf-menu-new-link .thf-menu-new-link-info > .thf-menu-new-link-name,
:host ::ng-deep .thf-menu-new-list .thf-menu-new-option .thf-menu-new-link .thf-menu-new-link-info > .thf-menu-new-icon-arrow {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.2s, opacity 0.2s;
}
:host ::ng-deep .thf-menu-new-icon-arrow{
  width: 8px;
  height: 12px;
}

:host ::ng-deep .thf-menu-new-icon-arrow.up {
  transform: rotate(-90deg);
}

:host ::ng-deep .thf-menu-new-icon-arrow.down {
  transform: rotate(90deg);
}

:host ::ng-deep .level2 {
  background:  #252D2F;
}
:host ::ng-deep .level3,
:host ::ng-deep .level4 {
  background: #192021;
}

.thf-menu-new.small {
  width: 50px;
}
.thf-menu-new.small .thf-menu-new-header .thf-menu-new-toogle .thf-menu-new-logo {
  clip: rect(0 24px 24px 0);
}
.thf-menu-new.small .thf-menu-new-header .thf-menu-new-filter .thf-menu-new-filter-img {
  position: relative;
  left: 5px;
  top: 0;
  width: 20px;
}
:host ::ng-deep .thf-menu-new.small .thf-menu-new-option .thf-menu-new-link .thf-menu-new-link-info > .thf-menu-new-link-name,
:host ::ng-deep .thf-menu-new.small .thf-menu-new-option .thf-menu-new-link .thf-menu-new-link-info > .thf-menu-new-icon-arrow {
  visibility: hidden;
  opacity: 0;
}

.thexLogo {
  height: 17px;
  padding-left: 24px;
}

.thf-new-filter-small{
  width: 215px;
}
