<div class="col-11 thf-margin-0-auto parameter-box thf-u-padding-vertical--2">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
      <div class="thf-group-content">
        <input type="checkbox" class="thf-group-toogle thf-u-z-index--1000"/>
        <div class="thf-group-content-header">
          <div class="d-flex justify-content-between">
            <div class="col-3 align-self-center">
            <span class="align-self-center thf-u-cursor--pointer" data-toggle="collapse" data-target="#uhBox"
                  aria-expanded="false" aria-controls="uhBox">
                <i
                  class="align mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
                <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-input-label--required">{{ 'label.uhTypes' | translate }}</span>
              </span>
            </div>
            <div class="col-6">
              <app-filter-search [searchableItems]="searchBarConfig" (searchUpdated)="updateList($event)"
                                 [hasBorderBottom]="true"></app-filter-search>
            </div>
            <div class="col-3">
              <app-button [buttonConfig]="associateButtonConfig"></app-button>
            </div>
          </div>
        </div>
        <div id="uhBox" class="thf-group-content-body">
          <div class="row">
            <div class="col">
              <thx-datatable
                *ngIf="showTable"
                [columns]='columns'
                [itens]="pageItemsList"
                [rowHeight]="55"
                [emptyMessage]="'text.noneUhTypeAssociated'"
                [completeEmptyMessageContent]="'text.noneTypeAssociatedDescription'"
                [deleteModeOption]="true"
                (deleteClicked)="removeUhTypeAssociated($event)"
              ></thx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<uh-type-associate-modal [modalId]="MODAL_ASSOCIATE_UH_ID" (shouldCloseModal)="closeModal()"
                         (confirmAssociation)="associateUhType($event)"
                         [uhTypeList]="uhTypeList"></uh-type-associate-modal>

<ng-template #variationCell let-row="row" ngx-datatable-cell-template>
  <div class="thf-input-group thf-group-input-select">
    <input id="rateVariaty" class="thf-input" [(ngModel)]="row.percentualAmmount" (keyup)="varifyPercentField($event, row)" >
    <i class="percent-signal">%</i>
    <app-select [selectId]="'rateTypeId'" [optionList]="rateTypeList" [hasBlankOption]="false" [width]="110"
                [hasMagin]="false" [choseOnlyOnClick]="true" [selectedOptionId]="row.variationType"
                (selectedOption)="changeVariationType($event , row)"></app-select>
  </div>
</ng-template>
