<app-modal-wrapper
  title="label.applyPremiseRate"
  [modalId]="MODAL_ID"
  [minWidth]="'600px'">

  <form [formGroup]="premiseForm">
    <div class="thf-modal-body">
      <div *ngIf="hasPremise">
        <div class="row">
          <div class="col col-5">
            <label class="thf-u-margin-top--1 thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
              {{ 'label.periodSelected' | translate }}
            </label><br />
            <label class="thf-u-margin-top--1 thf-input-label thf-u-font--14">
              {{ initialDate | amDateFormat: 'L' }} - {{ endDate | amDateFormat: 'L' }}
            </label>
          </div>
          <div class="col col-7">
            <label for="premiseId" class="thf-u-margin-top--1 thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
              {{ 'label.premise' | translate }}
            </label><br />
            <div class="hps-margin--3">
              <app-select *ngIf="premiseList.length > 1"
                id="premiseId"
                [hasFormGroup]="true"
                [hasMagin]="false"
                [hasBlankOption]="false"
                [optionList]="premiseOptionList"
                [parent]="premiseForm"
                [selectId]="'premiseId'">
              </app-select>

              <label class="thf-u-margin-top--1 thf-input-label thf-u-font--14" *ngIf="premiseList.length == 1">
                {{ premiseOptionList[0].value }}
              </label>
            </div>
            <thx-error formControlName="premiseId"></thx-error>
          </div>
        </div>
        <div class="row">
          <div class="col col-5">
            <label class="thf-u-margin-top--1 thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
              {{ 'label.typeUhReference' | translate }}
            </label><br />
            <label class="thf-u-margin-top--1 thf-input-label thf-u-font--14">
              {{selectedPremise?.roomTypeReference.name}}
            </label>
          </div>
          <div class="col col-2">
            <label class="thf-u-margin-top--1 thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
              {{ 'label.qtdPax' | translate }}
            </label><br />
            <label class="thf-u-margin-top--1 thf-input-label thf-u-font--14">
              {{selectedPremise?.paxReference}}
            </label>
          </div>
          <div class="col col-5">
            <label for="currency" class="thf-u-margin-top--1 thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
              {{ 'label.dailyReferenceValue' | translate }}
            </label><br />
            <div class="hps-margin--3">
                <app-input-label
                [disabled]="!currency"
                [parent]="premiseForm"
                [symbol]="currency.symbol"
                [valueModel]="'currency'"></app-input-label>
            </div>
            <thx-error formControlName="currency"></thx-error>
          </div>
        </div>
      </div>
      <div *ngIf="!hasPremise">
        <div class="row">
          <div class="col-12 thf-u-color--red align-items-center">
            {{ 'text.premiseListEmptyForDateRange' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <app-button [buttonConfig]="cancelButtonConfig"></app-button>
        </div>
        <div class="col">
          <app-button [buttonConfig]="saveButtonConfig" ></app-button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>

<app-modal-wrapper
  modalId="confirm-insert-base-rate"
  [title]="'title.insertionConfirm'">
  <app-confirm-modal
    *ngIf="showConfirmModal"
    [confirmModalDataConfig]="confirmModalDataConfig"
  ></app-confirm-modal>
</app-modal-wrapper>
