<ng-template #popoverPipelineInfo>
  <!-- TODO: implement pipelines -->
</ng-template>

<ng-template #popoverTimeRangeOptions>
  <thx-popover-content [padding]="false">
    <ul class="thf-select-options--list thf-u--no-padding thf-u-animation–4-seconds">
      <li *ngFor="let popoverOption of popoverOptionList"
          [ngClass]="{
            'disabled': selectedRange?.start !== selectedRange?.end.addDays(-1) && !popoverOption.multipleCells
          }"
          (click)="runPopoverOptionCallback(popoverOption, selectedRange)">
        {{ popoverOption.label }}
      </li>
    </ul>
  </thx-popover-content>
</ng-template>

<div class="schedule-container">
  <div class="col-12">

    <a href="#" role="button" class="schedule-nav nav-left" (click)="goPrevious($event)">
      <i class="mdi mdi-chevron-left"></i>
    </a>

    <a href="#" role="button" class="schedule-nav nav-right" (click)="goNext($event)">
      <i class="mdi mdi-chevron-right"></i>
    </a>

    <daypilot-month #calendar [config]="config"></daypilot-month>

  </div>
</div>
