:host ::ng-deep {
  .schedule-container {
    margin: 0 1px;
  }

  .schedule-nav {
    width: 37px;
    height: 37px;
    position: absolute;
    margin-top: -15px;
    top: 50%;
    background-color: #0C9ABE;
    color: #FFFFFF;
    font-size: 23px;

    &:hover, &:focus {
      text-decoration: none;
    }

    &.nav-left {
      left: 0;
      text-align: left;
      border-radius: 100% 0 0 100%;
    }

    &.nav-right {
      right: 0;
      text-align: right;
      border-radius: 0 100% 100% 0;
    }
  }

  .month_default_main {
    font-family: inherit;
    border-left: 3px solid #299ABE;
    border-top: 1px solid #EBEBEB;
    border-right: 3px solid #299ABE;
    box-shadow: inset -3px 0 #299abe;

    > div:nth-child(2) {
      height: 50px !important;
    }
  }

  .month_default_shadow_inner {
    background: var(--color-blue, blue);
    border: 1px dashed #0f3946;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .month_default_cell {
    background: #fff;

    .month_default_cell_inner {
      .value-container {
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;
        left: 9%;
        right: 9%;
        bottom: 5%;
      }
    }

    &.weekend {
      .month_default_cell_inner {
        background-color: rgba(245, 166, 35, 0.2);
      }
    }

    &.disabled {
      div {
        cursor: not-allowed;
      }

      .month_default_cell_inner {
        background-color: #edefef;
      }
    }

  }

  .month_default_event {
    &.extended {
      width: 8.5%;
      transform: translateX(10%);
    }

    &.collapsed {
      width: 4%;
      transform: translateY(-26px) translateX(240%);
    }

    .month_default_event_inner {
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
    }
  }

  .month_default_header_inner {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 20px;
    padding-bottom: 10px;
    background: #FFFFFF;
    color: var(--color-grey-dark);
  }

}
