<app-modal-wrapper [modalId]="modalId"  minWidth="405px" maxWidth="405px" extraHeaderClass="thf-u-reset-border" >
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="d-flex justify-content-center flex-column text-center">
      <div>
        <img class="thf-u-icon-modal-large thf-u-margin-vertical--2" src="{{'check-circle-outline-blue.svg' | imgCdn}}" alt=""> <!--todo ajustar imagem-->
      </div>
      <div>RPS 2018000000005</div>
      <div class="thf-u-margin-vertical--1">{{ 'text.resendNfse' | translate }}</div>
      <div class="thf-u-margin-vertical--2">
        <ul class="thf-u-reset-list">
          <li class="thf-u-color--red" *ngFor="let error of documentErroList">- {{error}}</li>
        </ul>
      </div>
      <div class="thf-u-margin-bottom--2" >
        <app-button [buttonConfig]="resendButtonConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
