<div class="thf-modal-footer">
  <div class="row">
    <div class="col-4 offset-4">
      <app-button [buttonConfig]="cancelButtonConfig"></app-button>
    </div>
    <div class="col-4">
      <app-button [buttonConfig]="confirmButtonConfig"></app-button>
    </div>
  </div>
</div>
