.title-content-component{
  width:100%;
  height: auto;
}
.title-container{
  border-bottom:1px solid #DADEE0;
}
.title-text{
  color: #9DA7A9;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  display: inline-block;
  margin-right:3px;
  padding-bottom:5px;
}

.description-text{
  color: #9DA7A9;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  display: inline-block;
}

.content-info-div{
  padding-top:20px;
  height: auto;
}
