<div
  class="title-content-component">
  <div class="title-container">
    <div class="title-text">
      {{title}}
    </div>
    <div class="description-text" *ngIf="description">
     | {{description}}
    </div>
  </div>
  <div class="content-info-div">
    <ng-content></ng-content>
  </div>
</div>
