<form [formGroup]="modalForm" novalidate>
  <div class="thf-modal-body">
    <div class="row">
      <div class="col-3">
        <label for="code"
               class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.code' | translate }}
        </label>
        <input
          id="code"
          class="thf-input"
          type="text"
          formControlName="code">
        <thx-error formControlName="code"></thx-error>
      </div>
      <div class="col-4">
        <label for="guestTypeName"
               class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.description' | translate }}
        </label>
        <input
          id="guestTypeName"
          class="thf-input"
          type="text"
          formControlName="guestTypeName">
        <thx-error formControlName="guestTypeName"></thx-error>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-4">
            <label for="isVip"
                   class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
              {{ 'label.vip' | translate }}
            </label>
            <input id="isVip" class="thf-input-radio-button" type="checkbox" formControlName="isVip">
            <label for="isVip" class="thf-u-margin-top--1"><span class="ui"></span></label>
          </div>
          <div class="col-4">
            <label for="isIncognito"
                   class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
              {{ 'label.incognito' | translate }}
            </label>
            <input id="isIncognito" class="thf-input-radio-button" type="checkbox" formControlName="isIncognito">
            <label for="isIncognito" class="thf-u-margin-top--1"><span class="ui"></span></label>
          </div>
          <div class="col-4">
            <label for="isActive"
                   class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
              {{ 'label.active' | translate }}
            </label>
            <input id="isActive" class="thf-input-radio-button" type="checkbox" formControlName="isActive">
            <label for="isActive" class="thf-u-margin-top--1"><span class="ui"></span></label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelModal"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmModal"></app-button>
      </div>
    </div>
  </div>
</form>
