<ng-template #changeDestinationAccountPopover>
  <div class="hps-change-destination-account-popover thf-u-padding--2">
    <h3 class="thf-u-font--18 thf-u-font--semibold">{{'title.changeDestinationAccount' | translate}}
    </h3>
    <span class="thf-u-font--14">{{'label.changeDestinationAccount' | translate}}</span>
    <div class="row justify-content-end">
      <div class="col-5">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </div>
</ng-template>
<app-slimbox [slimboxConfig]="slimboxConfig" [slimboxStyleClass]="'hps-size-limit'">
  <slimbox-header>
    <div class="thf-u-margin-horizontal--2 thf-u-margin-left--1">
      <div class="row">
        <div class="col-7">
          <div class="thf-u-padding--1">
            <img src="{{'icon_hospede_conta.svg' | imgCdn }}" *ngIf="billingAccountDestination?.accountTypeId != referenceToBillingAccountTypeEnum.Company"
              alt="{{'commomData.images.person' | translate}}">
            <img src="{{'icon_empresa_conta.svg' | imgCdn}}" *ngIf="billingAccountDestination?.accountTypeId == referenceToBillingAccountTypeEnum.Company"
              alt="{{'commomData.images.company' | translate}}">
            <span id="fnrh-name-guest" class="thf-u-font--20 thf-u-color--blue thf-u-margin-left--1 thf-u-vertical-align-middle">
              {{billingAccountDestination?.holderName}}
            </span>
            <span class="thf-u-font--18 thf-u-color--blue thf-u-vertical-align-middle" *ngIf="billingAccountDestination?.isHolder">
              ( {{'billingAccountModule.commomData.holder' | translate}} )
            </span>
          </div>
        </div>
        <div class="col-5 d-flex align-self-center align-items-center justify-content-end">
          <span class="thf-tag thf-u-background-color--grey-feldgrau thf-u-font--12 thf-u-font-uppercase">{{'label.destinationAccount' | translate}}</span>
          <span>&nbsp;</span>
          <img src="{{'close.svg' | imgCdn }}" *ngIf="!transferWasCompleted" class="thf-u-enable-cursor thf-u-margin-left--1" (click)="closeAccountDestination()"
          alt="{{'action.close' | translate }}" [thxPopover]="changeDestinationAccountPopover" placement="bottom" popoverColor="blue-dark"/>
        </div>
      </div>
    </div>
  </slimbox-header>
  <slimbox-content>
    <div class="">
      <div class="thf-u-padding-vertical--3 thf-u-padding-horizontal--2">
        <div class="row">
          <div class="col">
            <span class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">{{'billingAccountModule.commomData.holderName' | translate}}:&nbsp;</span>
            <span class="thf-u-font--16 thf-u-color--blue thf-u-font--bold">{{billingAccountDestination?.holderName}}</span>
          </div>
          <div class="col">
            <span class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">{{'billingAccountModule.commomData.period' | translate}}:&nbsp;</span>
            <span class="thf-u-font--16 thf-u-color--blue thf-u-font--bold">{{billingAccountDestination?.arrivalDate | date: 'dd/MM/yyyy'}} - {{billingAccountDestination?.departureDate
              | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>
        <div class="row  thf-u-margin-top--1">
          <div class="col">
            <span class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">{{'billingAccountModule.commomData.accountType' | translate}}:&nbsp;</span>
            <span class="thf-u-font--16 thf-u-color--blue thf-u-font--bold">{{billingAccountDestination?.accountTypeName}}</span>
          </div>
          <div class="col">
            <span class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">{{'billingAccountModule.commomData.statusAccount' | translate}}:&nbsp;</span>
            <span class="thf-u-font--14 thf-u-color--red thf-u-font--bold" [ngClass]="{'thf-u-color--red': billingAccountDestination?.statusId == 1, 'thf-u-color--green': billingAccountDestination?.statusId == 2}">
              {{billingAccountDestination?.statusName}}
            </span>
          </div>
        </div>
      </div>
      <app-tab-content [configLink]="configLinkToAdd" [items]="itemAllTab" [inputName]="'destinationAccount'">
        <content-body>
          <account-table [billingAccountWithEntry]="billingAccountDestination" [transferWasCompleted]="transferWasCompleted">
          </account-table>
          <account-table-footer *ngIf="!transferWasCompleted"
            [accountType]="'destination'"
            [quantity]="quantityOfBillingAccountItemChecked"
            [priceTotal]="priceTotalOfBillingAccountItemChecked"
            [currencySymbol]="currencySymbol">
          </account-table-footer>
          <billing-account-detail-table-footer *ngIf="!transferWasCompleted" [accountType]="'destination'" [total]="priceTotal">
          </billing-account-detail-table-footer>
          <billing-account-detail-table-footer *ngIf="transferWasCompleted" [total]="priceTotal">
            </billing-account-detail-table-footer>
        </content-body>
      </app-tab-content>
    </div>
  </slimbox-content>
</app-slimbox>
