.hps-change-destination-account-popover {
  min-width: 330px;
  max-width: 400px;
}

.hps-button-popover {
  width: 90px;
}

:host ::ng-deep .thf-tab-content {
  background-color: var(--color-grey-sauvignon);
}

:host ::ng-deep .thf-tab-content .section .section-header {
  background-color: var(--color-grey-sauvignon);
}

:host ::ng-deep .thf-tab-content .section .section-content {
  background-color: var(--color-white);
}
