@import "main";

.switch-button {
  display: block;
  position: relative;
  width: 37px;
  height: 21px;
  cursor: pointer;

  &__bg {
    width: 100%;
    height: 100%;
    border-radius: 50px 50px;
    position: relative;
    background: $grey-color--20;
    transition: all 0.3s;
  }
  &__slider {
    position: absolute;
    background: $white-color;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: 20.5px;
    top: 2.5px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__disabled {
    background: $grey-color--15;
    cursor: not-allowed;
  }

  input {
    display: none;
    background-color: #ccc;
    &:checked {
      & + .switch-button__bg {
        background: $primary-color;
        .switch-button__slider {
          right: 2.5px;
          top: 2.5px;
        }
      }

      & + .switch-button__disabled {
        background: $grey-color--15;
      }
    }
  }
}
