<label class="switch-button">
  <input
    [disabled]="disabled"
    [checked]="value"
    [(ngModel)]="value"
    (ngModelChange)="valueChange($event)"
    type="checkbox"
  />
  <div
    class="switch-button__bg"
    [ngClass]="{ 'switch-button__disabled': disabled }">
    <div class="switch-button__slider">
      <svg *ngIf="value" xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7">
        <path [attr.fill]="getBackgroundColor()" fill-rule="evenodd"
          d="M 6.855469 1.019531 C 6.65625 0.828125 6.34375 0.828125 6.144531 1.019531 L 2.480469 4.640625 L 0.828125 3.003906 C 0.628906 2.835938 0.332031 2.847656 0.148438 3.03125 C -0.0390625 3.210938 -0.0507812 3.507812 0.121094 3.703125 L 2.128906 5.6875 C 2.324219 5.882812 2.640625 5.882812 2.835938 5.6875 L 6.855469 1.71875 C 6.949219 1.625 7 1.5 7 1.367188 C 7 1.238281 6.949219 1.113281 6.855469 1.019531 Z M 6.855469 1.019531 " />
      </svg>
      <svg *ngIf="!value" xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7">
        <path fill="#9DA7A9" fill-rule="evenodd"
          d="M4.325 4l2.504-2.504A.583.583 0 1 0 6.004.67L3.5 3.175.996.671a.583.583 0 1 0-.825.825L2.675 4 .171 6.504a.583.583 0 1 0 .825.825L3.5 4.825l2.504 2.504a.582.582 0 0 0 .825 0 .583.583 0 0 0 0-.825L4.325 4z" />
      </svg>
    </div>
  </div>
</label>
