<thx-card-base
  class="room-card"
  *ngIf="room"
>
  <div contentLeft class="leftContent">
      <span class="title">{{room.roomNumber}}</span>
      <span class="subtitle">{{room.roomTypeAbbreviation}}</span>
  </div>

  <div contentRight class="rightContent">
    <div class="capacity">
      <div class="floor block">
        <span class="title">{{room.floor}}º {{'label.floor' | translate}}</span>
        <span class="observation">{{'label.building' | translate }} {{(room.building) ? room.building : '--'}}</span>
      </div>

      <div class="wing block">
        <span class="title">{{'label.wing' | translate}} {{(room.wing) ? room.wing : '--'}}</span>
        <span class="observation"></span>
      </div>
    </div>

    <div class="actions">

      <img
        class="icon"
        [src]="'delete-outline-gray.svg' | imgCdn"
        (click)="delete.next(room)"
        alt=""
      >
    </div>
  </div>
</thx-card-base>
