@import "variables";

.room-card {
  margin-bottom: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  height: 70px;

  .leftContent {
    width: 100%;
    height: 100%;
    background: $special-color--3;
    color: $white-color;
    font-weight: $font-weight-bold;
    align-items: center;
    border-radius: 5px 0 0 5px;
    justify-content: center;
    font-size: $items-type-two-font-size;
    display: flex;
    flex-direction: column;

    > .title {
      font-size: 16px;
      font-weight: $font-weight-bold;
      color: $white-color;
    }

    > .subtitle {
      font-size: $items-type-two-font-size;
      font-weight: $font-weight-bold;
      color: $grey-color--70;
    }
  }

  .rightContent {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    padding: 17px 7px 17px 9px;

    > .capacity {
      height: 100%;
      align-items: center;
      display: flex;

      > .block {
        > .title {
          font-size: $body-default-font-size;
          color: $grey-color--60;
          height: 16px;
          margin-bottom: 9px;
        }

        > .observation {
          opacity: 0.7;
          font-size: 11px;
          font-weight: $font-weight-light;
          color: $grey-color--70;
          min-width: 1px;
          height: 10px;
        }
      }
    }

    > .actions {
      height: 100%;
      align-items: center;
      display: flex;
      width: 17px;

      > .icon {
        cursor: pointer;
        width: 17px;
        height: 17px;
      }
    }
  }
}

.floor {
  width: 58px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
}

.wing {
  width: 89px;
  display: flex;
  flex-direction: column;
}
