<div
  *ngIf="menuItems && menuItems.length"
  class="thx-step-menu"
>
  <button
    *ngFor="let item of menuItems; let i = index;"
    (click)="item.click(item)"
    [ngClass]="{'is-clickable': isClickable(item), 'is-active': isActive(item), 'is-done': isDone(item), 'is-warning': isWarning(item)}"
    class="thx-step-menu-item"
  >
    <div class="thx-step-menu-item-container">
      <thx-img
        [src]="item.state | menuStateIcon"
        [ngClass]="['thx-step-menu-item-container-icon']"
      ></thx-img>
      <thx-img
        [alt]="item.label"
        [src]="item.imageSrc"
        [title]="item.label"
        [ngClass]="['thx-step-menu-item-container-image']"
      ></thx-img>
    </div>
    <span class="thx-step-menu-item-text">{{item.label}}</span>
    <div
      *ngIf="shouldShowDivider(i)"
      class="thx-step-menu-item-divider"
    ></div>
  </button>
</div>
