.thx-step-menu {
  background-color: #FFFFFF;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  width: 180px;

  > .thx-step-menu-item {
    background-color: transparent;
    border: none;
    display: flex;
    height: 70px;
    margin: 0;
    padding: 22px 17px 23px;
    position: relative;
    outline: none;
    width: 180px;

    &.is-clickable {
      cursor: pointer;
    }

    &.is-done {
      > .thx-step-menu-item-container {
        > .thx-step-menu-item-container-icon img {
          display: block;
          background-color: #1AAF88;
        }
      }
    }

    &.is-warning {
      > .thx-step-menu-item-container {
        > .thx-step-menu-item-container-icon img {
          display: block;
          background-color: #F3A536;
        }
      }
    }

    &.is-active {
      background-color: #EAFBFF;

      > .thx-step-menu-item-container {
        border-color: #2FBECC;

        > .thx-step-menu-item-container-icon img {
          display: block;
          background-color: #1AAF88;
        }
      }

      > .thx-step-menu-item-text {
        font-weight: bold;
      }
    }

    > .thx-step-menu-item-container {
      border: 1px solid #A1CBD5;
      border-radius: 24px;
      height: 25px;
      margin: 0 13px 0 0;
      padding: 2px;
      position: relative;
      width: 25px;

      > .thx-step-menu-item-container-icon img {
        background: black;
        border: 2px solid #EAFBFF;
        border-radius: 13px;
        display: none;
        height: 13px;
        position: absolute;
        right: -5px;
        top: -5px;
        width: 13px;
      }

      > .thx-step-menu-item-container-image {
        display: block;
        height: 19px;
        width: 19px;
      }
    }

    > .thx-step-menu-item-text {
      color: #4A4A4A;
      font-size: 12px;
      font-family: "NunitoSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 25px;
    }

    > .thx-step-menu-item-divider {
      background-color: #A1CBD5;
      bottom: -16px;
      height: 32px;
      left: 28px;
      position: absolute;
      width: 1px;
    }
  }
}
