<div class="thf-group-content">
  <div class="col-12">
    <label class="thf-u-no-margin">
      <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
      <span
        class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
          {{ 'label.consultReports' | translate }}
      </span>
    </label>
  </div>
  <div class="thf-group-content-body">
    <div class="row">
      <div class="col-4">
        <report-menu
          [formGroupAppSelect]="componentFormGroup">
        </report-menu>
      </div>
    </div>
  </div>
</div>
