@import "./variables";

:host {
  display: block;
  position: relative;
  font-family: $font-family;
  font-size: $items-type-two-font-size;
  color: $grey-color--60;

  input, input:focus {
    border:none;
    background: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    height: $input-height;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    padding: 0 7px;
    font-size: $items-type-two-font-size;
    color: $grey-color--60;

    &.has-icon, &.has-prefix {
      padding: 0 30px;
    }
    &.has-right-icon {
      padding-right: 30px;
    }
  }

  .info-text {
    padding: 0 15px;
    font-size: $font-small;
  }
}
