@import "./variables";

.info-text {
  padding: 0 7px;
  font-size: $font-small;
  height: 14px;
}

.description {
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  &.--with-counter {
    width: calc(100% - 55px);
  }
}
.counter {
  width: 50px;
  text-align: right;
  display: inline-block;
  box-sizing: border-box;
}
