.info-text {
  padding: 0 15px;
  font-size: 10px;
  height: 14px;
}

.description {
  box-sizing: border-box;
  width: calc(100% - 50px);
  display: inline-block;
}
.counter {
  width: 50px;
  text-align: right;
  display: inline-block;
  box-sizing: border-box;
}
