<thx-input-base-efect-v2
  [title]="title"
  [leftIcon]="leftIcon"
  [rightIcon]="rightIcon"
  [isLabelTopMode]="isLabelTopMode"
  [required]="required"
  [disabled]="disabled"
  [prefix]="prefix"
  [hasError]="errorService.getError(control)"
  [autoHeight]="autoHeight"
  [hasFocus]="hasFocus"
></thx-input-base-efect-v2>
<ng-content></ng-content>
<div  class="info-text">
  <span class="description" [ngClass]="{'--with-counter': counter}">
    <div *ngIf="!errorService.getError(control); else error ">{{infoText}}</div>
    <ng-template #error>
      <thx-error-v2 [control]="control"></thx-error-v2>
    </ng-template>
  </span>

  <span *ngIf="counter" class="counter">{{counter.length}}/{{counter.limit}}</span>
</div>
