.calendar-container {
  margin-left: -10px;
  margin-right: -10px;
}

.summary {
  display: flex;
  align-items: center;
  color: var(--color-sirocco);
}

.actions button {
  min-height: 32px;
  max-height: 32px;
  line-height: 1em;
  max-width: 155px;
}

app-select {
  width: 100%;
}
