<app-header-page-new [config]="configHeaderPage" [rightButtonList]="topButtonsListConfig">
  <header-title>
    {{'title.rateCalendar' | translate }}
  </header-title>
</app-header-page-new>

<form id="calendarFilterForm" [formGroup]="calendarFilterForm" (submit)="filter(calendarFilterForm, $event)">
  <div class="row">
    <div class="col-12">
      <div class="thf-group-content">
        <div class="thf-group-content-header">
          <div class="row">
            <div class="col-11">
              <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
              <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">{{ 'label.filter' | translate }}</span>
            </div>
          </div>
        </div>

        <div class="thf-group-content-body">
          <div class="row">
            <div class="col-2">
              <label
                class="thf-u-block thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-input-label--required">
                {{'label.date' | translate }}
              </label>
              <thx-datepicker formControlName="date" id="date" ></thx-datepicker>
              <thx-error formControlName="date"></thx-error>
            </div>

            <div class="col-1">
              <label for="adult-quantity"
                     class="thf-u-block thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-input-label--required">
                {{ 'label.adults' | translate }}
              </label>

              <input id="adult-quantity" data-qa-id="adult-quantity" type="number" formControlName="adultQuantity"
                     class="thf-input thf-u-margin-top--1" min="0">

              <thx-error formControlName="adultQuantity"></thx-error>
            </div>

            <div class="col-1">
              <label for="child-quantity"
                     class="thf-u-block thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine">
                {{ 'label.childs' | translate }}
              </label>
              <thx-child-select formControlName="childAges" [childMaxAge]="maxAges" class="thf-u-margin-top--1" [textConfig]="childTextConfig" ></thx-child-select>
              <thx-error formControlName="childAges"></thx-error>
            </div>

            <div class="col-2">
              <label for="room-type"
                     class="thf-u-block thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-input-label--required">
                {{ 'label.roomType' | translate }}
              </label>

              <app-select
                [parent]="calendarFilterForm"
                [optionList]="roomTypeList"
                [selectId]="'roomType'"
                [isUppercase]="false"
                [hasBlankOption]="true"
                [hasFormGroup]="true">
              </app-select>

              <thx-error formControlName="roomType"></thx-error>
            </div>

            <div class="col-3">
              <label for="meal-type"
                     class="thf-u-block thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-input-label--required">
                {{ 'label.mealType' | translate }}
              </label>

              <div class="thf-input-group thf-u-margin-top--1">
                <app-select
                  [parent]="calendarFilterForm"
                  [optionList]="mealPlanTypeList"
                  [selectId]="'mealType'"
                  [isUppercase]="false"
                  [hasFormGroup]="true"
                  [hasMagin]="false">
                </app-select>
              </div>

              <thx-error formControlName="mealType"></thx-error>
            </div>

            <div class="col-3">
              <label for="client"
                     class="thf-u-block thf-u-margin-bottom--1 thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine">
                {{ 'label.client' | translate }}
              </label>

              <app-autocomplete data-qa-id="client"
                                [autocompleteConfig]="autocompleteClientConfig"
                                [resultList]="autoCompleteClientResultList"
                                [controlName]="'clientName'"
                                [parent]="calendarFilterForm">
              </app-autocomplete>

              <thx-error formControlName="clientName"></thx-error>
            </div>

            <div class="col-3">
              <label for="rate-plan" class="thf-u-block thf-u-no-margin thf-u-margin-top--1 thf-input-label thf-u-font--14 thf-input-label--grey-submarine">
                {{ 'label.ratePlan' | translate }}
              </label>
              <div class="thf-input-group thf-u-margin-top--1">
                <app-select
                  [parent]="calendarFilterForm"
                  [optionList]="ratePlanList"
                  [selectId]="'ratePlan'"
                  [isUppercase]="false"
                  [hasFormGroup]="true"
                  [hasMagin]="false">
                </app-select>
              </div>

              <thx-error formControlName="ratePlan"></thx-error>
            </div>

            <div class="col-2">
              <label for="currency"
                     class="thf-u-block thf-u-no-margin thf-u-margin-top--1 thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-input-label--required">
                {{ 'label.currency' | translate }}
              </label>

              <div class="thf-input-group thf-u-margin-top--1">
                <app-select
                  [parent]="calendarFilterForm"
                  [optionList]="currencyList"
                  [selectId]="'currency'"
                  [isUppercase]="false"
                  [hasFormGroup]="true"
                  [hasMagin]="false">
                </app-select>
              </div>

              <thx-error formControlName="currency"></thx-error>
            </div>

            <div class="col-2 thf-u-margin-top--4">
              <button id="filter" [disabled]="!calendarFilterForm.valid" role="button" type="submit" class="thf-btn thf-btn-primary">
                {{ 'action.filter' | translate }}
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="thf-u-margin-vertical--2"></div>

<div class="row" *ngIf="selectedDay">
  <div class="col">
    <div class="summary">
      <img class="thf-u-padding--1" src="{{'event.svg' | imgCdn}}" alt="{{ 'label.date' }}">
      <span>{{ selectedDay.date | amDateFormat: 'dddd, LL' }}</span>

      <img class="thf-u-margin-left--5 thf-u-padding--1" src="{{'tarifa.svg' | imgCdn}}"
           alt="{{ 'label.baseRate' }}">
      <span>{{ selectedDay.oldValueString || selectedDay.currentValueString || ('label.noRate' | translate) }}</span>

      <img class="thf-u-margin-left--1 thf-u-padding--1" src="{{ 'occupation.svg' | imgCdn }}"
           alt="{{ 'label.occupation' }}">

      <span class="thf-u-color--orange thf-u-font--22">{{ selectedDay.occupiedRooms }}</span>
      <span>/{{ selectedDay.roomTotal }}</span>

    </div>
  </div>

  <div class="actions col-6 thf-u-text-right">
    <!--<button role="button" class="thf-btn thf-btn-danger" (click)="goToday()">
      <i class="mdi mdi-stop"></i>
      {{ 'action.stopSales' | translate }}
    </button>-->

    <button role="button" class="thf-btn thf-btn-secondary thf-u-margin-left--1"
            (click)="goToday()">
      <i class="mdi mdi-crosshairs-gps"></i>
      {{ 'action.showToday' | translate }}
    </button>
  </div>
</div>

<div class="thf-u-margin-vertical--2"></div>

<div class="calendar-container thf-u-margin-top--1">
  <thx-rate-schedule [hidden]="!dayList"
                     [dayList]="dayList"
                     [initialDate]="calendarDate"
                     [popoverOptionList]="popoverOptionList"
                     [labels]="labels"
                     (initialDateChange)="onInitialDateChange($event)">
  </thx-rate-schedule>
</div>

<app-day-detail
  [dayList]="dayList"
  [calendarFilter]="calendarFilter"
  [mealPlanType]="modalMealType">
</app-day-detail>

<app-level-rate-modal-edit #modalLevelEdit
                           (reloadCalendar)="reloadCalendar()">

</app-level-rate-modal-edit>

<app-premise-rate-modal-edit #modalPremiseEdit
                            (reloadCalendar)="reloadCalendar()">
</app-premise-rate-modal-edit>
