// maps
$base-colors: (
  "primary",
  "secondary",
  "tertiary",
  "complementary",
  "success",
  "error",
  "white",
  "black"
);

$colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "tertiary": $tertiary-color,
  "complementary": $complementary-color,
  "success": $success-color,
  "error": $error-color,
  "white": $white-color,
  "black": $black-color
);

$focused: (
  "primary": $primary-color--focused,
  "secondary": $secondary-color--focused,
  "tertiary": $tertiary-color--focused,
  "complementary": $complementary-color--focused,
  "success": $success-color--focused,
  "error": $error-color--focused,
  "white": $white-color--focused,
  "black": $black-color--focused
);

$hovered: (
  "primary": $primary-color--hover,
  "secondary": $secondary-color--hover,
  "tertiary": $tertiary-color--hover,
  "complementary": $complementary-color--hover,
  "success": $success-color--hover,
  "error": $error-color--hover,
  "white": $white-color--hover,
  "black": $black-color--hover
);

$reservation-status-colors: (
  "toconfirm": $confirmed-color, // todo ajust colors
  "confirmed": $confirmed-color,
  "checkin": $checkin-color,
  "checkout": $checkout-color,
  "walkin": $walkin-color,
  "noshow": $noshow-color,
  "pending": $pending-color,
  "canceled": $canceled-color
);

$grey-colors: (
  '10': $grey-color--10,
  '15': $grey-color--15,
  '20': $grey-color--20,
  '30': $grey-color--30,
  '40': $grey-color--40,
  '50': $grey-color--50,
  '60': $grey-color--60,
  '70': $grey-color--70
);

$special-colors: (
  '1': $special-color--1,
  '2': $special-color--2,
  '3': $special-color--3,
  '4': $special-color--4,
  '5': $special-color--5,
  '6': $special-color--6,
  '7': $special-color--7,
  '8': $special-color--8
);

$all-colors: map-merge($colors, $reservation-status-colors);

$sizes: (
  'h1': $h1-font-size,
  'h2': $h2-font-size,
  'h3': $h3-font-size,
  'h4': $h4-font-size,
  'h5': $h5-font-size,
  'h6': $h6-font-size,
  'body-big': $body-big-font-size,
  'body-default': $body-default-font-size,
  'items-one': $items-type-one-font-size,
  'items-two': $items-type-two-font-size,
  'small-11': $font-small--11,
  'small': $font-small
);
// end of maps

/* Background functions */

// Use case: thex-primary thex-bg thex-focus thex-hover
/*
* E.G:
*
* <div class="thex-secondary thex-bg thex-focus thex-hover"></div>
* for a div with background, focus, hover secondary
*/
@each $base-color in $base-colors {
  .thex-#{$base-color} {
    @include get-default-color($base-color);

    &.thex-bg{
      background-color: map-get($colors, $base-color);

      &.thex-focus:focus {
        background-color: map-get($focused, $base-color);
      }

      &.thex-hover:hover {
        background-color: map-get($hovered, $base-color);
      }
    }
  }
}

// .thex-confirmed, .thex-checkin, etc. plug thex-bg
// example: <div class="thex-confirmed thex-bg"></div>
@include make-bg-class($reservation-status-colors, 'thex-');

// .thex-special-1, etc.
@include make-bg-class($special-colors, 'thex-special-');

// .thex-grey-10, .thex-grey-15, etc.
@include make-bg-class($grey-colors, 'thex-grey-');

// Example: .thex-box-bg-primary,  .thex-box-bg-secondary
@include make-bg-class($hovered, 'thex-box-');
/* end of background functions */


/**
color functions
*/

// .thex-color-primary, .thex-color-secondary, etc.
@include make-attr-class($all-colors, 'thex-color-', 'color');

// .thex-special-color-1, .thex-special-color-2
@include make-attr-class($special-colors, 'thex-special-', 'color');

// .thex-color-grey-10, .thex-color-secondary, etc.
@include make-attr-class($grey-colors, 'thex-color-grey-', 'color');

// .thex-border-primary, thex-border-grey-40 e etc...
@include make-attr-class($all-colors, 'thex-border-', 'border-color');
@include make-attr-class($grey-colors, 'thex-border-grey-', 'border-color');
/* end of color functions */

/*
font sizes class
*/

.thex-font-family {
  font-family: $font-family;
}

// .thex-font-size-h1, .thex-font-size-body-big
@include make-attr-class($sizes, 'thex-font-size-', 'font-size');

/*
font family - Nunito Sands
*/

.thex-font-family{ font-family: $font-family, "Helvetica Neue", Helvetica, Arial, sans-serif; }
