
// change the text color
// case bg white, the color will be $grey-color--40
// otherwise, the color will be white
@mixin get-default-color($bg-color) {
  $color: $white-color;
  @if  $bg-color == 'white' {
    $color: $grey-color--40;
  }

  color: $color;
}


// generate background class
@mixin make-bg-class($arr, $prefix) {
  @each $key, $value in $arr{
    .#{$prefix}#{$key} {
      color: $white-color;
      background-color: $value;
    }
  }
}

// make generic attr class, for example thex-color with color attr
// @include make-attr-class($arr, 'thex-color-', 'color');
@mixin make-attr-class($arr, $prefix, $attr) {
  @each $key, $value in $arr{
    .#{$prefix}#{$key} {
      #{$attr}: $value;
    }
  }
}
