
// variables

/* font-family: */
$font-family: "Nunito Sans", NunitoSans, sans-serif;
/* end font-family: */

/* font-size: */

// headers
$h1-font-size: 54px;
$h2-font-size: 48px;
$h3-font-size: 42px;
$h4-font-size: 36px;
$h5-font-size: 24px;
$h6-font-size: 18px;

// body:
// big size screen
$body-big-font-size: 14px;

// default
$body-default-font-size: 12px;

// Menu items, placeholders and text field / Nunito Sans Regular
$items-type-one-font-size: 12px;

// Label text, helper text, Caption
$items-type-two-font-size: 13px;

$font-small--11: 11px;
$font-small: 10px;

/* end font-size: */

/* sizes (height): */
$input-height: 38px;
$header-height: 60px;
/* end sizes (height): */

/* internal box sizes margin/padding: */
$internal-box-size: 20px;
$internal-box-radius: 4px;

// colors:
$primary-color: #0C9ABE;
$primary-color--focused: #00647A;
$primary-color--hover : #48B5D4;

$secondary-color: #193550;
$secondary-color--focused: #002A3C;
$secondary-color--hover : #3D566D;

$tertiary-color: #37b6c4;
$tertiary-color--focused: #2990a3;
$tertiary-color--hover : #5bccd4;

$complementary-color: #f39022;
$complementary-color--focused: #e08100;
$complementary-color--hover : #fdad40;

$success-color: #00b28e;
$success-color--focused: #009a7b;
$success-color--hover : #42ceb1;

$error-color: #dd4b4a;
$error-color--focused: #dc4334;
$error-color--hover : #ff5d4e;

$white-color: #ffffff;
$white-color--focused: #eceeee;
$white-color--hover : #f3f3f3;
$white-color--active: #e3ecef;

$black-color: #1d2128;
$black-color--focused: #10161d;
$black-color--hover : #282a30;

$confirmed-color: #37b6c4;
$checkin-color: #00b28e;
$checkout-color: #4f4870;
$walkin-color: #193550;
$noshow-color: #f1c141;
$pending-color: #f39022;
$canceled-color: #dd4b4a;


// colors - grey scale
$grey-color--10: #f6f7f7;
$grey-color--14: #eef6f8;
$grey-color--15: #eceeee;
$grey-color--20: #dadee0;
$grey-color--30: #b6bdbf;
$grey-color--40: #9da7a9;
$grey-color--45: #868686;
$grey-color--50: #717678;
$grey-color--60: #4a5055;
$grey-color--70: #2c3739;
$grey-color--75: #2d3434;

// special colors
$special-color--1: #f39022;
$special-color--2: #f1c141;
$special-color--3: #44d7b6;
$special-color--4: #b4c953;
$special-color--5: #723375;
$special-color--6: #fd9598;
$special-color--7: #3d566d;
$special-color--8: #0c6c94;


// bg:
$bg-color--dark: #1a2230;
$bg-color--light: #f6f7f9;

/* end colors: */

/* font-weight: */
$font-weight-bold: 600;
$font-weight-regular: normal;
$font-weight-light: 300;
$font-weight-extra-light: 200;
/* end font-weight: */
