<app-modal-wrapper [modalId]="modalId" minWidth="405px" maxWidth="405px" extraHeaderClass="thf-u-reset-border" [closeCallbackFunction]="clickCloseModal" >
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="d-flex justify-content-center flex-column text-center">
      <div>
        <img class="thf-u-icon-modal-large thf-u-margin-vertical--2" src="{{'icon-emission-nf.svg' | imgCdn }}" alt="{{ 'img.iconEmissionNf' | translate }}">
      </div>
      <div class="thf-u-font--20">{{ 'label.nfse' | translate }} {{ invoice?.billingInvoiceNumber }}</div>
      <div class="thf-u-margin-top--2 thf-u-margin-bottom--2  thf-u-font--14">{{ 'text.nfseEmittedIn' | translate:nfseDate }}</div>
      <div class="thf-u-margin-bottom--5 thf-u-font--14" *ngIf="invoice?.emissionUserName">{{ 'variable.byName' | translate:emitter }}</div>
      <div class="thf-u-margin-bottom--2 d-flex justify-content-between">
        <app-button [buttonConfig]="cancelButtonConfig"></app-button>
        <app-button [buttonConfig]="downloadButtonConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
