:host ::ng-deep .thf-tab-content {
    background-color: var(--color-grey-sauvignon);
}

:host ::ng-deep .thf-tab-content .section .section-header {
    background-color: var(--color-grey-sauvignon);
}

:host ::ng-deep .thf-tab-content .section .section-content {
    background-color: var(--color-white);
}