<billing-account-debit-credit [billingAccount]="billingAccountWithEntryCurrent"
                              (updateBillingAccountAndHeaderAndCardList)="onUpdateBillingAccountAndHeaderAndCardList()"></billing-account-debit-credit>
<billing-account-reverse (updateActionButtonsToEntries)="setActionsButtonsForEntries()" [billingAccount]="billingAccountWithEntryCurrent"
                         (updateBillingAccountAndHeaderAndCardList)="onUpdateBillingAccountAndHeaderAndCardList()"></billing-account-reverse>
<app-billing-account-discount [billingAccount]="billingAccountWithAccount" [itemsSelected]="billingAccountWithEntrySelected"
                              (modalClose)="closeDiscount()" (update)="onUpdateBillingAccountAndHeaderAndCardList()"></app-billing-account-discount>
<app-billing-account-detail-header
  [reservationItemId]="reservationItemId"
  [billingAccount]="billingAccountWithAccount"
  [billingAccountWithEntryCurrent]="billingAccountWithEntryCurrent"
  (reopenBillingAccountUpdate)="onReopenBillingAccountUpdate($event)"
  (updateBillingAccountAndHeaderAndCardList)="onUpdateBillingAccountAndHeaderAndCardList()">
</app-billing-account-detail-header>

<app-modal-wrapper [modalId]="paymentModalId" [title]="'text.payment'">
  <payment
    [paymentForm]="paymentForm"
    [paymentTotal]="paymentPartialTotal"
    [billingAccountItemName]="billingAccountPartialName"
    (closeThisModal)="closePaymentModal();"
    (paymentTypeWithBillingItemListWasUpdated)="updatePaymentTypeWithBillingItemList($event)"
    (paymentWasMade)="makePayment()">
  </payment>
</app-modal-wrapper>

<app-modal-wrapper modalId="confirm-remove-account-modal" [title]="'label.deleteAccount'">
  <app-confirm-modal
    *ngIf="showConfirmModal"
    [confirmModalDataConfig]="confirmModalDataConfig"
  ></app-confirm-modal>
</app-modal-wrapper>

<app-modal-wrapper modalId="addAccount" [title]="modalTitle">
    <form [formGroup]="accountModalForm">
        <div class="thf-modal-body">
            <div class="row">
                <div class="col-8">
                    <label for="description" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                        {{ 'label.accountName' | translate }}
                    </label>
                    <input class="thf-input thf-u-margin-top--1" type="text" formControlName="accountName"/>
                </div>
            </div>
        </div>
        <div class="thf-modal-footer">
            <div class="row justify-content-end thf-u-margin-top--2">
                <div class="col-4">
                    <app-button [buttonConfig]="buttonCancelModalConfig"></app-button>
                </div>
                <div class="col-4">
                    <app-button [buttonConfig]="buttonSaveModalConfig"></app-button>
                </div>
            </div>
        </div>
    </form>
</app-modal-wrapper>

<div class="thf-card-room-list">
    <div class="thf-u-padding-vertical--3 thf-u-padding-horizontal--2">
        <div class="row thf-u-margin-top--1">
            <div class="col">
                <span class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">{{'billingAccountModule.commomData.holderName' | translate}}:&nbsp;</span>
                <span class="thf-u-font--16 thf-u-color--blue thf-u-font--bold">{{billingAccountWithAccount?.holderName}}</span>
            </div>
            <div class="col">
                <span class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">{{'billingAccountModule.commomData.period' | translate}}:&nbsp;</span>
                <span class="thf-u-font--16 thf-u-color--blue thf-u-font--bold">{{billingAccountWithAccount?.arrivalDate | date: 'dd/MM/yyyy'}}
                  <span *ngIf="billingAccountWithAccount?.arrivalDate || billingAccountWithAccount?.departureDate">-</span>
                  {{billingAccountWithAccount?.departureDate | date: 'dd/MM/yyyy'}}
                </span>
            </div>
        </div>
        <div class="row thf-u-margin-top--1">
            <div class="col">
                <span class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">{{'billingAccountModule.commomData.accountType' | translate}}:&nbsp;</span>
                <span class="thf-u-font--16 thf-u-color--blue thf-u-font--bold">{{billingAccountWithAccount?.accountTypeName}}</span>
            </div>
            <div class="col">
                <span class="thf-u-font--14 thf-input-label thf-input-label--grey-submarine thf-u-font--bold">{{'billingAccountModule.commomData.statusAccount' | translate}}:&nbsp;</span>
                <span class="thf-u-font--14 thf-u-color--red thf-u-font--bold" [ngClass]="{'thf-u-color--red': billingAccountWithEntryCurrent?.statusId == referenceToBillingAccountStatusEnum.Open, 'thf-u-color--green': billingAccountWithEntryCurrent?.statusId == referenceToBillingAccountStatusEnum.Closed}">
                    {{billingAccountWithEntryCurrent?.statusName}}
                </span>
            </div>
        </div>
    </div>
    <app-tab-content
      [configLink]="configLinkToAdd"
      [items]="itemsTab"
      [selectedId]="billingAccountCurrentId"
      (itemOfSectionContentWasChanged)="updateBillingAccountWithEntryCurrent($event)"
      [inputName]="billingAccountWithAccount?.mainBillingAccountId">
      <content-body *ngFor="let account of billingAccountWithAccount?.billingAccounts" class="thf-u-block thf-u-background-color--white">
        <div *ngIf="account?.billingAccountItems.length > 0 && billingAccountWithEntryCurrent == account"
             class="thf-u-padding--1">
          <billing-account-detail-table
            [propertyId]="propertyId"
            [holderName]="billingAccountWithAccount?.holderName"
            [setDefaultActionButtonsToEntries]="setDefaultActionButtonsToEntries"
            [billingAccountWithEntry]="account"
            (transferBillingAccountItem)="transferBillingAccountItem($event)"
            (reverseBillingAccountItem)="reverseBillingAccountItem()"
            (discountBillingAccountItem)="discountBillingAccountItem()"
            (paymentPartialBillingAccountItem)="paymentPartialBillingAccountItem($event)"
            (issuedCreditNote)="loadBillingAccountList($event)"
            (shouldRefresh)="onUpdateBillingAccountAndHeaderAndCardList()"
          ></billing-account-detail-table>

          <billing-account-detail-table-footer [total]="account?.total"></billing-account-detail-table-footer>
        </div>
      </content-body>
      <empty-content *ngIf="billingAccountWithEntryCurrent?.billingAccountItems.length <= 0" class="thf-u-padding--1">
        <app-empty-content-wrapper>
          <content-title>{{ 'text.noEntry' | translate}}</content-title>
          <content-description>
                <span *ngIf="billingAccountWithEntryCurrent?.statusId == referenceToBillingAccountStatusEnum.Open">
                  {{'text.textNoEntry' | translate}}
                  <a (click)="goToBillingLauncher()" class="thf-link thf-link--underline" href="javascript:void(0)">
                    {{'action.launch' | translate}}
                  </a>
                </span>
          </content-description>
        </app-empty-content-wrapper>
      </empty-content>

    </app-tab-content>
</div>
