<form [formGroup]="formAssociate">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col-9">
        <label for="id"
               class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{'entryTypeModule.service.createEdit.associatedFees.table.name' | translate}}
        </label>
        <app-select
          id="id"
          [parent]="formAssociate"
          [optionList]="taxAssociateOptionList"
          [selectId]="'billingItemTaxId'"
          [isUppercase]="false"
          [hasFormGroup]="true">
        </app-select>
      </div>
      <div class="col-2">
        <label for="isActive"
               class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
          {{ 'entryTypeModule.tax.createEdit.table.isActive' | translate }}
        </label>
        <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
          <input id="isActive" type="checkbox" formControlName="isActive" class="thf-input-radio-button"/>
          <label class="thf-u-vertical-align-super" for="isActive">
            <span class="ui"></span>
          </label>
        </div>
      </div>
    </div>
    <div class="row thf-u-margin-top--2">
      <div class="col-3">
        <label for="taxPercentage"
               class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'entryTypeModule.tax.createEdit.table.rat' | translate }}
        </label>
        <input id="taxPercentage" class="thf-input thf-u-margin-top--1" type="text" formControlName="taxPercentage" currencyMask
               [options]="maskRateConfig" placeholder="0.00 %">
      </div>
      <div class="col-4">
        <label for="beginDate"
               class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
          {{ 'label.validityBegin' | translate }}
        </label>
        <thx-datepicker formControlName="beginDate" id="beginDate" [disableUntil]="datePickerDisableUntil" ></thx-datepicker>
      </div>
      <div class="col-4">
        <label for="endDate"
               class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.validityEnd' | translate }}
        </label>
        <thx-datepicker formControlName="endDate" id="endDate" [disableUntil]="datePickerDisableUntil" ></thx-datepicker>
      </div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelModalConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonSaveModalConfig"></app-button>
      </div>
    </div>
  </div>
</form>
