<app-header-page-new [config]="configHeaderPage">
  <header-title>{{ (paymentTypeId ? 'action.lbEdit' : 'action.lbNew') | translate: {labelName: 'label.paymentType' | translate } }}</header-title>
</app-header-page-new>

<div class="row justify-content-center">
  <div class="col-10">
    <app-group-content [title]="'paymentTypeModule.commomData.subTitleOne'">
      <div class="row">
        <div class="col">
          <form [formGroup]="paymentTypeForm">
            <div class="row">
              <div class="col-3" [ngClass]="{'thf-u-disable-cursor': paymentTypeId}">
                <label for="group" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'paymentTypeModule.commomData.paymentType' | translate }}
                </label>
                <span [ngClass]="{'thf-u-no-pointer-events': paymentTypeId}">
                  <app-select [selectId]="'paymentType'" [parent]="paymentTypeForm" [optionList]="paymentTypeList"
                    [hasFormGroup]="true">
                  </app-select>
                </span>
              </div>
              <div [hidden]="showBankEmitterSelect" class="col-4">
                <label for="description" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'paymentTypeModule.commomData.description' | translate }}
                </label>
                <input id="description" formControlName="description" class="thf-input thf-u-margin-top--1" type="text" [ngClass]="{'thf-input-error': !paymentTypeForm.get('description').valid && paymentTypeForm.get('description').dirty}"
                />
              </div>
              <div [hidden]="!showBankEmitterSelect" class="col-4">
                <label for="acquirer" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'label.acquirer' | translate }}
                </label>
                <app-select [selectId]="'acquirer'" [parent]="paymentTypeForm" [optionList]="acquirerList"
                  [hasFormGroup]="true">
                </app-select>
              </div>

              <div class="col-3">
                <label for="integrationCode" class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'label.code' | translate }}
                </label>
                <div>
                  <input id="integrationCode" formControlName="integrationCode" class="thf-input thf-u-margin-top--1" type="text" />
                </div>
              </div>

              <div class="col-2">
                <label for="isActive" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'paymentTypeModule.commomData.active' | translate }}
                </label>
                <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
                  <input id="isActive" type="checkbox" formControlName="isActive" class="thf-input-radio-button" />
                  <label class="thf-u-vertical-align-super" for="isActive">
                    <span class="ui"></span>
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </app-group-content>

    <div class="thf-u-margin-top--2"></div>

    <div class="thf-u-margin-top--5">
      <debit-payment *ngIf="isDebit" [propertyPaymentTypeIssuingBank]="propertyPaymentTypeIssuingBank" [isDisabled]="isDisabled">
      </debit-payment>
    </div>

    <div class="thf-u-margin-top--5">
      <credit-card-payment *ngIf="isCreditCard" [propertyPaymentTypeIssuingBank]="propertyPaymentTypeIssuingBank" [isDisabled]="isDisabled">
      </credit-card-payment>
    </div>

    <div class="row justify-content-end thf-u-margin-top--2">
      <div class="col-2" >
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-2">
        <app-button [buttonConfig]="buttonSaveConfig"></app-button>
      </div>
    </div>
  </div>
</div>
