.page-padding {
  padding-left: 44px;
  padding-right: 44px;
}

.fix-row {
  padding: 0 15px;
}

.bodyHelp {
  background-color: rgba(var( --color-rgba-grey-lighter), .5);
  margin: 0 -15px;
  flex: 1;
}

.headerHelp {
  height: 80px;
  align-items: center;
  margin-right: 0;
  display: flex;
}

.titleContainer {
  flex: 67;
}

.search {
  flex: 33;
}

.titleHelp {
  color: var(--color-card-gradient-final);
  font-size:30px
}

.menuTags {
  background-color: var(--color-white);
}

.spanHelp {
  font-size:30px;
}

:host(.howTo) {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.titleTutorial {
  font-size: 10px;
  color: var(--color-card-gradient-final);
}

.clearLink:hover {
    text-decoration: underline;
}
