<div class="bodyHelp">

  <div class="headerHelp page-padding">
    <div class="titleContainer">
      <img src="{{ 'ht-help.svg' | imgCdn }}" alt="{{ 'title.help' | translate }}" width="165px">
    </div>
    <div class="search fix-row">
      <app-search-tag
        (searchWord)="checkSearchChanges($event)"
        [searchWrite]="searchWord"
        (closedSearch)="clearSearch()">
      </app-search-tag>
    </div>
  </div>

  <div class="menuTags page-padding">
    <thx-tags-tab #tagTab
      [tags]="menuTags"
      (selected)="loadTagCard($event)">
    </thx-tags-tab>
  </div>

  <div *ngIf="tagElement" class="p-4">
    {{'text.tutorial' | translate }}
    <span class="thf-u-font--bold pr-4">{{ tagElement.title | translate }}</span>
    <a class="thf-link clearLink"
       (click)="clearFilter()"
       href="javascript:void(0)">
      <span class="titleTutorial">x</span>
      <span class="titleTutorial">{{ 'text.clearFilter' | translate}}</span>
    </a>
  </div>

  <div class="page-padding">
    <thx-card
      (selected)="goToArticle($event)"
      [cardList]="viewCardData"
    ></thx-card>
  </div>
</div>
