<app-header-page [config]="configHeaderPage"></app-header-page>

<div class="thf-u-margin-vertical--1">&nbsp;</div>

<form novalidate [formGroup]="formGroupCreateRoom">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="thf-group-content">
        <div class="thf-group-content-header">
          <div class="row">
            <div class="col-9">
              <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
              <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">{{ 'hotelPanelModule.commomData.titleForm' | translate }}</span>
            </div>
            <div class="col-3">
              <a href="javascript:void(0)" (click)="goToRoomTypeNewPage()" role="button" class="thf-btn thf-btn-secondary thf-btn-link text-u-text-center">{{ 'hotelPanelModule.commomData.createNewRoomType' | translate }}</a>
            </div>
          </div>
        </div>
        <div class="thf-group-content-body">

          <div class="row justify-content-center">
            <div class="col-11">
              <div class="row">
                <div class="col-6">
                  <div *ngIf="roomTypeList">
                    <label for="roomTypes" class="thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{'hotelPanelModule.commomData.roomTypesRegistered' | translate }}</label>
                    <div class="thf-select-dropdown" id="roomTypes">
        							<div class="thf-select-dropdown-area-tags-label">
        								<div class="thf-select-dropdown-area-tags" (click)="toogleItemsAreaSelect()">
                          <div class="thf-tag thf-u-background-color--blue" *ngIf="roomTypeSelected">
                            <span>{{ roomTypeSelected.abbreviation + ' - ' + roomTypeSelected.name }}</span>
                            <input id="thf-tag-{{ roomTypeSelected.abbreviation }}" class="thf-tag-close-checkbox" *ngIf="roomTypeSelected" type="checkbox">
                            <label for="thf-tag-{{ roomTypeSelected.abbreviation }}" (click)="removeRoomTypeFromSelect()" class="thf-tag-close">{{ 'commomData.closeIcon' | translate }}</label>
                          </div>
        								</div>
        								<div class="thf-select-dropdown-area-label">
        									<label class="thf-select-dropdown-label" for="thf-select-dropdown-close">
        										<img src="{{'arrowdown-blue.min.svg' | imgCdn}}" alt="{{ 'commomData.images.arrowDownIcon' | translate }}">
        									</label>
        								</div>
        							</div>
                      <input id="thf-select-dropdown-close" class="thf-select-dropdown-checkbox" type="checkbox" [checked]="showItemsSelect"/>
        							<div class="thf-select-dropdown-area-filter-items thf-u-z-index--10" aria-hidden="true">
        								<div class="thf-select-dropdown-filter">
        									<input id="filterRoomType" formControlName="filterRoomType" class="thf-input" type="text" autocomplete="off" placeholder="{{ 'commomData.search' | translate }}">
        								</div>
        								<ul class="thf-select-dropdown-items">
                          <li class="thf-input-select--option" *ngFor="let roomType of roomTypeList | filterlist:filterRoomType:parametersfilterRoomType" (click)="changeRoomTypeInSelect(roomType)">
                            {{ roomType.abbreviation + ' - ' + roomType.name }}
                          </li>
        								</ul>
        							</div>
        						</div>
                  </div>
                </div>
                <div class="col-12 thf-empty-content thf-u-text-center" *ngIf="!roomTypeList">
                  <div class="thf-empty-content-header thf-u-margin-bottom--1 ">
                    <div class="row">
                      <div class="col-12">
                        <img class="thf-empty-content-header-icon" src="{{'info.svg' | imgCdn}}" alt="{{ 'commomData.images.infoIcon' | translate }}">
                        <h1 class="thf-empty-content-header-title thf-u-font--bold thf-u-font--16 thf-u-inline-block">
                          {{ 'hotelPanelModule.roomTypeList.errorMessage' | translate }}
                        </h1>
                      </div>
                    </div>
                  </div>
                  <div class="thf-empty-content-body">
                    <div class="row">
                      <div class="col-12">
                        <p class="thf-empty-content-message thf-u-no-margin thf-u-font--14">
                          {{ 'commomData.register' | translate }} <a href="javascript:void(0)" (click)="goToRoomTypeNewPage()" class="thf-link">{{ 'commomData.here' | translate }}</a>.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div formGroupName="roomType" class="row justify-content-center thf-u-margin-top--3" *ngIf="roomTypeSelected">
            <div class="col-3">
              <div class="row">
                <header class="col-12">
                  <h6 class="thf-u-no-margin">{{ 'hotelPanelModule.commomData.uhCapacity' | translate }}</h6>
                </header>

                <div class="col-12 thf-u-margin-top--2"></div>

                <div class="col-12">
                  <label for="adultCapacity" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.commomData.adultCapacity' | translate }}</label>
                  <div class="thf-input-group">
                    <div class="thf-input-group-label thf-input-group-icon-label">
                      <span class="thf-input-group-label--img">
                        <img src="{{'qtdAdulto.min.svg' | imgCdn}}" alt="{{ 'commomData.images.account' | translate }}"/>
                      </span>
                    </div>
                    <div class="thf-input-group-icon-field">
                      <input id="adultCapacity" formControlName="adultCapacity" [readonly]="true" class="thf-input thf-u-type-number-reset thf-u-text-center" type="number">
                    </div>
                  </div>
                </div>

                <div class="col-12 thf-u-margin-top--1"></div>

                <div class="col-12">
                  <label for="childCapacity" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.commomData.childCapacity' | translate }}</label>
                  <div class="thf-input-group">
                    <div class="thf-input-group-label thf-input-group-icon-label">
                      <span class="thf-input-group-label--img">
                        <img src="{{'QtdCriancas.min.svg' | imgCdn}}" alt="{{ 'commomData.images.babyCarriage' | translate }}"/>
                      </span>
                    </div>
                    <div class="thf-input-group-icon-field">
                      <input id="childCapacity" formControlName="childCapacity" [readonly]="true" class="thf-input thf-u-type-number-reset thf-u-text-center" type="number">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
              <div class="row">
                <header class="col-12">
                  <h6 class="thf-u-no-margin">{{ 'hotelPanelModule.commomData.accommodationIncluded' | translate }}</h6>
                </header>

                <div class="col-12 thf-u-margin-top--2"></div>

                <div class="col-12">
                  <label for="doubleBedCapacity" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.commomData.doubleBedCapacity' | translate }}</label>
                  <div class="thf-input-group">
                    <div class="thf-input-group-label thf-input-group-icon-label">
                      <span class="thf-input-group-label--img">
                        <img src="{{'camaCasal.min.svg' | imgCdn }}" alt="{{ 'commomData.images.doubleBed' | translate }}"/>
                      </span>
                    </div>
                    <div class="thf-input-group-icon-field">
                      <input id="doubleBedCapacity" formControlName="doubleBedCapacity" [readonly]="true" class="thf-input thf-u-type-number-reset thf-u-text-center" type="number">
                    </div>
                  </div>
                </div>

                <div class="col-12 thf-u-margin-top--1"></div>

                <div class="col-12">
                  <label for="reversibleBedCapacity" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.commomData.reversibleBedCapacity' | translate }}</label>
                  <div class="thf-input-group">
                    <div class="thf-input-group-label thf-input-group-icon-label">
                      <span class="thf-input-group-label--img">
                        <img src="{{'camaReversivel.min.svg' | imgCdn }}" alt="{{ 'commomData.images.reversibleBed' | translate }}"/>
                      </span>
                    </div>
                    <div class="thf-input-group-icon-field">
                      <input id="reversibleBedCapacity" formControlName="reversibleBedCapacity" [readonly]="true" class="thf-input thf-u-type-number-reset thf-u-text-center" type="number">
                    </div>
                  </div>
                </div>

                <div class="col-12 thf-u-margin-top--1"></div>

                <div class="col-12">
                  <label for="singleBedCapacity" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.commomData.singleBedCapacity' | translate }}</label>
                  <div class="thf-input-group">
                    <div class="thf-input-group-label thf-input-group-icon-label">
                      <span class="thf-input-group-label--img">
                        <img src="{{'camaSolteiro.min.svg' | imgCdn}}" alt="{{ 'commomData.images.singleBed' | translate }}"/>
                      </span>
                    </div>
                    <div class="thf-input-group-icon-field">
                      <input id="singleBedCapacity" formControlName="singleBedCapacity" [readonly]="true" class="thf-input thf-u-type-number-reset thf-u-text-center" type="number">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
              <div class="row">
                <header class="col-12">
                  <h6 class="thf-u-no-margin">{{ 'hotelPanelModule.commomData.accommodationExtra' | translate }}</h6>
                </header>

                <div class="col-12 thf-u-margin-top--2"></div>

                <div class="col-12">
                  <label for="cribBedCapacity" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.commomData.cribBedCapacity' | translate }}</label>
                  <div class="thf-input-group">
                    <div class="thf-input-group-label thf-input-group-icon-label">
                      <span class="thf-input-group-label--img">
                        <img src="{{'berco.min.svg' | imgCdn}}" alt="{{ 'commomData.images.cribBed' | translate }}"/>
                      </span>
                    </div>
                    <div class="thf-input-group-icon-field">
                      <input id="cribBedCapacity" formControlName="cribBedCapacity" [readonly]="true" class="thf-input thf-u-type-number-reset thf-u-text-center" type="number">
                    </div>
                  </div>
                </div>

                <div class="col-12 thf-u-margin-top--1"></div>

                <div class="col-12">
                  <label for="extraBedCapacity" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{ 'hotelPanelModule.commomData.extraBedCapacity' | translate }}</label>
                  <div class="thf-input-group">
                    <div class="thf-input-group-label thf-input-group-icon-label">
                      <span class="thf-input-group-label--img">
                        <img src="{{'camaSolteiro.min.svg' | imgCdn}}" alt="{{ 'commomData.images.extraBed' | translate }}"/>
                      </span>
                    </div>
                    <div class="thf-input-group-icon-field">
                      <input id="extraBedCapacity" formControlName="extraBedCapacity" [readonly]="true" class="thf-input thf-u-type-number-reset thf-u-text-center" type="number">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <span class="thf-u-margin-vertical--3">&nbsp;</span>


      <div class="thf-group-content">
        <div class="thf-group-content-header">
          <div class="row">
            <div class="col-11">
              <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
              <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">{{'hotelPanelModule.commomData.roomData' | translate }}</span>
            </div>
          </div>
        </div>
        <div class="thf-group-content-body">
          <div class="row justify-content-center">
            <div class="col-11">
              <div class="row">
                <!-- Conjugated Rooms removed (more details on PR 1836) -->
                <div *ngIf="false" class="col-xl-2 col-lg-3 col-md-3 thf-u-text-center thf-u-margin-bottom--1">
                  <div class="row">
                    <div class="col-12">
                      <label for="conjugateRoomType" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
                        {{'hotelPanelModule.commomData.conjugateRoomType' | translate }}
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <input id="conjugateRoomType" (click)="toogleConjugatedSelect()" [checked]="showConjugatedSelect" type="checkbox" class="thf-input-radio-button"/>
                      <label for="conjugateRoomType"><span class="ui"></span></label>
                    </div>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4">
                  <label for="roomNumber" class="thf-input-label thf-u-font--14 thf-input-label--required thf-u-font--bold thf-input-label--grey-submarine">{{'hotelPanelModule.commomData.roomNumber' | translate }}</label>
                  <input
                    id="roomNumber"
                    formControlName="roomNumber"
                    class="thf-input"
                    type="text"
                    name="roomNumber"
                  />
                  <thx-error formControlName="roomNumber"></thx-error>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3">
                  <label for="building" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{'hotelPanelModule.commomData.building' | translate }}</label>
                  <input
                    id="building"
                    formControlName="building"
                    class="thf-input"
                    type="text"
                    name="building"
                  />
                  <thx-error formControlName="building"></thx-error>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3">
                  <label for="floor" class="thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{'hotelPanelModule.commomData.floor' | translate }}</label>
                  <input
                    id="floor"
                    formControlName="floor"
                    class="thf-input"
                    type="text"
                    name="floor"
                  />
                  <thx-error formControlName="floor"></thx-error>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3">
                  <label for="wing" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{'hotelPanelModule.commomData.wing' | translate }}</label>
                  <input
                    id="wing"
                    formControlName="wing"
                    class="thf-input"
                    type="text"
                    name="wing"
                  />
                  <thx-error formControlName="wing"></thx-error>
                </div>
                <!-- Conjugated Rooms removed (more details on PR 1836) -->
                <div *ngIf="false" class="col-xl-5 col-lg-12 col-md-12">
                  <div *ngIf="showConjugatedSelect && conjugatedRoomList">
                    <label class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{'hotelPanelModule.conjugatedRoom.roomToConjugate' | translate }}</label>
                    <div class="thf-select-dropdown">
                      <div class="thf-select-dropdown-area-tags-label">
        								<div class="thf-select-dropdown-area-tags thf-select-multi-dropdown-area-tags" (click)="toogleConjugatedItemsAreaSelect()">
                          <div class="thf-tag thf-tag-closeable thf-u-background-color--blue" *ngFor="let chosenConjugatedRoom of chosenConjugatedRooms">
                            <span>{{ chosenConjugatedRoom.roomNumber }}</span>
                            <input id="thf-tag-{{ chosenConjugatedRoom.id }}" class="thf-tag-close-checkbox" type="checkbox" />
                            <label for="thf-tag-{{ chosenConjugatedRoom.id }}" (click)="removeConjugatedRoomFromSelect(chosenConjugatedRoom)" class="thf-tag-close">
                              {{ 'commomData.closeIcon' | translate }}
                            </label>
                          </div>
        								</div>
        								<div class="thf-select-dropdown-area-label">
        									<label class="thf-select-dropdown-label" for="thf-select-multi-dropdown-close">
        										<img src="{{'arrowdown-blue.min.svg' | imgCdn}}" alt="{{ 'commomData.arrowDownIcon' | translate }}">
        									</label>
        								</div>
        							</div>
        							<input id="thf-select-multi-dropdown-close" class="thf-select-dropdown-checkbox" type="checkbox"[checked]="showConjugatedItemsSelect"/>
        							<div class="thf-select-dropdown-area-filter-items thf-u-z-index--10" aria-hidden="true">
        								<div class="thf-select-dropdown-filter">
        									<input id="filterConjugateRoom" formControlName="filterConjugateRoom" class="thf-input" type="text" autocomplete="off" placeholder="{{ 'commomData.search' | translate }}">
        								</div>
        								<ul class="thf-select-dropdown-items">
                          <li class="thf-input-select--option" *ngFor="let conjugatedRoom of conjugatedRoomList | filterlist:filterConjugateRoom:parametersConjugateRoom" (click)="chooseConjugateRoom(conjugatedRoom)">
                            {{ conjugatedRoom.roomNumber }}
                          </li>
        								</ul>
        							</div>
        						</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-11 thf-u-margin-top--1">
              <div class="row">
                <div class="col-8">
                  <label for="remarks" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{'hotelPanelModule.commomData.remarks' | translate }}</label>
                </div>
                <div class="col-4 thf-u-text-right" [ngClass]="{'thf-input-text--error': count > 4000}">
                  {{ count }} / {{ limitLenghtFieldRemarks }}
                </div>
                <div class="col-12">
                  <textarea id="remarks" formControlName="remarks" class="thf-input thf-textarea"></textarea>
                  <thx-error formControlName="remarks"></thx-error>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="thf-u-margin-vertical--3"></div>

      <div class="row">
        <div class="col-md-6 col-lg-8 col-xl-8">&nbsp;</div>
        <div class="col-md-3 col-lg-2 col-xl-2">
          <button (click)="goBackPreviewPage()" type="button" name="button" class="thf-btn thf-btn-secondary">{{ 'commomData.cancel' | translate }}</button>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2">
          <button type="button" (click)="saveRoom()" [disabled]="!formGroupCreateRoom.valid" name="button" class=" thf-btn thf-btn-primary">{{ 'commomData.confirm' | translate }}</button>
        </div>
      </div>

    </div>
  </div>
</form>
