<app-modal-wrapper
  [modalId]="modalId"
  [title]="'title.alterTypeByPeriod'">
  <form [formGroup]="periodForm" >
    <div class="thf-modal-body">
      <div class="row">
        <div class="col-6">
          <label
             for="period"
             class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
            {{'currencyExchangeModule.commomData.periodQuotation' | translate}}
          </label>
          <thx-date-range-picker
            id="period"
            formControlName="period"
            class="thf-u-no-margin"
           [disableUntil]="disableUntil"
           [disableSince]="disableSince"></thx-date-range-picker>
        </div>
        <div class="col-6">
          <label class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'text.dailyAverage' | translate}}
          </label>
          <div class="thf-input input-no-border ajust-left thf-u-font--20 thf-u-color--blue thf-u-font--bold">
            <small class="thf-u-font--14" >{{ currencySymbol }}</small>{{ dailyAmount | currencyFormat: null:2:'.':',':3:false}}
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-4">
          <label for="discount"
             class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.discount' | translate}} (%)
          </label>
          <input
            id="discount"
            formControlName="discount"
            class="thf-input"
            currencyMask
            [options]="optionsCurrencyMask" />
        </div>
        <div class="col-4">
          <label for="amountValue"
                 class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.amountValue' | translate}}
          </label>
          <input id="amountValue" formControlName="amountValue" class="thf-input" currencyMask  [options]="optionsCurrencyMask" />
        </div>
        <div class="col-4">
          <label for="mealPlan"
                 class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.amountValue' | translate}}
          </label>
          <app-select
            [optionList]="mealPlanTypeListOptions"
            [parent]="periodForm"
            [hasFormGroup]="true"
            [selectId]="'mealPlanType'"
            [hasMagin]="false">
          </app-select>
        </div>
      </div>
    </div>
  </form>
  <app-modal-footer-default
    [modalId]="modalId"
    [confirmButtonEnabled]="periodForm.valid"
    (cancel)="cancel()"
    (confirm)="confirm()" >
  </app-modal-footer-default>
</app-modal-wrapper >
