<app-header-page-new [config]="configHeaderPage">
  <header-title>{{'text.configMealPlanType' | translate }}</header-title>
</app-header-page-new>

<div class="thf-u-margin-top--5">
  <ngx-datatable
    #myTable
    class='material material-padding-default'
    [columnMode]="'flex'"
    [headerHeight]="50"
    [footerHeight]="0"
    [rowHeight]="60"
    [limit]="25"
    [rows]='mealPlanTypeList'>
    <!-- Column Templates -->
    <ngx-datatable-column [flexGrow]="1">
      <ng-template ngx-datatable-header-template>
        {{ 'label.active' | translate }}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <div>
          <input type="checkbox" [(ngModel)]="row.isActive" (ngModelChange)="changeStatus(row.id)"
                 class="thf-input-radio-button" id="active + {{row.mealPlanTypeName}}"/>
          <label class="thf-u-vertical-align-super" for="active + {{row.mealPlanTypeName}}">
            <span class="ui"></span>
          </label>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="2">
      <ng-template ngx-datatable-header-template>
        {{ 'label.mealPlanType' | translate }}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <input type="text" [id]="'typeName' + row.mealPlanTypeName" [(ngModel)]="row.propertyMealPlanTypeName"
               class="thf-input-table hps-input-property-meal-plan-type">
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="2">
      <ng-template ngx-datatable-header-template>
        {{ 'label.code' | translate }}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <input type="text" [id]="'code' + row.mealPlanTypeName" [(ngModel)]="row.propertyMealPlanTypeCode"
               class="thf-input-table hps-input-property-meal-plan-type-code thf-u-text-center">
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column [flexGrow]="2">
      <ng-template ngx-datatable-header-template>
        {{ 'label.mealPlanReference' | translate }}
      </ng-template>
      <ng-template let-row="row" ngx-datatable-cell-template>
        <span class="thf-u-padding-top--1">{{row.mealPlanTypeName}}</span>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<div class="row thf-u-margin-top--2">
  <div class="offset-8 col-2 thf-u-margin-top--2">
    <app-button [buttonConfig]="cancelButtonConfig"></app-button>
  </div>
  <div class="col-2 thf-u-margin-top--2">
    <app-button [buttonConfig]="confirmButtonConfig"></app-button>
  </div>
</div>
