<app-modal-wrapper [modalId]="modalId" minWidth="710px" title="title.associateItem">
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row" *ngIf="propertyCountryCode == countryCodeEnumReference.BR">
      <div class="col-5">
        <label for="lastNum"
               class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
          {{'label.itemType' | translate}}
        </label>
        <div class="button-type-services thf-u-margin-top--1">
          <app-button [buttonConfig]="typeServiceButtonConfig"></app-button>
          <app-button [buttonConfig]="typePDVButtonConfig"></app-button>
        </div>

      </div>

      <div class="col-4" *ngIf="(typeChoose == TYPE_SERVICE) && propertyCountryCode == countryCodeEnumReference.BR">
        <label for="codService"
               class="thf-u-no-margin thf-input-label  thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">{{'label.serviceCod'
          | translate}}</label>
        <app-select
          [optionList]="countrySubdivisionList"
          [selectId]="'codService'"
          [isUppercase]="false"
          [choseOnlyOnClick]="true"
          [hasBlankOption]="false"
          (selectedOption)="setSelectedOption($event)"
        ></app-select>
      </div>
    </div>

    <div class="row">
      <div class="col thf-u-margin-top--2 modal-table-height">
        <thx-datatable-checkbox
          *ngIf="showTable"
          [tableHasScroll]="true"
          [footerHeight]="0"
          [tableExtraClass]="'table-scroll'"
          [columns]="columns"
          [headerHeight]="45"
          [rowItens]="serviceList"
          [(selectedItens)]="itemsSelectedList"
          [rowsLimit]="serviceList?.length">
        </thx-datatable-checkbox>
      </div>
    </div>

  </div>

  <div class="thf-modal-footer">
    <div class="row justify-content-end">
      <div class="col-4">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-4">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </div>

</app-modal-wrapper>

<ng-template #defaultCell let-row="row" let-value="value" ngx-datatable-cell-template>
  <div class="thf-u-text-left" >
    {{ value || '-' }}
  </div>
</ng-template>
