::ng-deep .table-scroll datatable-body {
  height: 200px !important;
  overflow-x: hidden;
}

.button-type-services {
  display: flex;
  justify-content: flex-start;
}

::ng-deep .button-type-services app-button:first-of-type button {
  border-radius: 5px 0px 0px 5px
}
::ng-deep .button-type-services app-button:last-of-type button {
  border-radius: 0px 5px 5px 0px
}
