@import './variables';

.page {
  position: relative;
  width: 100%;
  padding: 30px;
  border: 1px solid var(--color-grey-whisper);
  border-radius: 3px;
  background-color: var(--color-white);

  .iva-selection,
  .iva-info {
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: var(--color-white);

    .iva-selection-header,
    .iva-info-header {
      flex: 1 0 auto;
    }

    .sub-title {
      font-size: 13px;
      color: var(--color-grey-launcher-title);
      font-weight: bold;
      flex: 1 0 auto;
    }

    .iva-selection-table,
    .iva-info-table {
      position: relative;
      margin-top: 20px;
      min-height: 264px;

      app-button {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 147px;
        z-index: 100;
      }
    }
  }

  .iva-selection {
    padding: 20px 0;
  }

  .iva-info {
    padding: 20px 25px;
    background-color: $bg-color--light;
  }

}
