<app-header-page-new [enableBackButton]="true">
  <header-title>
    {{ 'variable.lbAssociate' | translate: {labelName: 'label.iva' | translate} }}
  </header-title>
</app-header-page-new>

<div class="page">
  <div class="row flex-nowrap">
    <div class="col-6">
      <div class="iva-selection">
        <div class="iva-selection-header">
          <h2 class="sub-title">
            {{ 'action.lbSelect' | translate: {labelName: 'label.iva' | translate} }}
          </h2>
          <hr/>
          <app-select
            [parent]="form"
            [optionList]="ivaOptionList"
            [selectId]="'id'"
            [hasFormGroup]="true">
          </app-select>
        </div>

        <div class="iva-selection-table">
          <app-button
            *ngIf="taxRuleServiceList?.length"
            [buttonConfig]="btnAssociateServiceConfig">
          </app-button>
          <thx-datatable-checkbox
            [id]="'taxRuleService'"
            [footerHeight]="0"
            [tableHasScroll]="true"
            [tableExtraClass]="'table-scroll'"
            [columns]="columnsService"
            [rowItens]="taxRuleServiceList"
            [rowsLimit]="taxRuleServiceList?.length"
            [selectedItens]="taxRuleServiceSelectedList"
            [emptyMessage]="'variable.lbEmptyToAddM' | translate: {labelName: 'label.service' | translate}"
            (selectedItensChange)="serviceSelectedListChange($event)">
          </thx-datatable-checkbox>
        </div>
        <div
          *ngIf="!isExempt"
          class="iva-selection-table">
          <app-button
            *ngIf="taxRuleProductList?.length"
            [buttonConfig]="btnAssociateProductConfig">
          </app-button>
          <thx-datatable-checkbox
            [id]="'taxRuleProduct'"
            [footerHeight]="0"
            [tableHasScroll]="true"
            [tableExtraClass]="'table-scroll'"
            [columns]="columnsProduct"
            [rowItens]="taxRuleProductList"
            [rowsLimit]="taxRuleProductList?.length"
            [selectedItens]="taxRuleProductSelectedList"
            [emptyMessage]="'variable.lbEmptyToAddM' | translate: {labelName: 'label.product' | translate}"
            (selectedItensChange)="productSelectedListChange($event)">
          </thx-datatable-checkbox>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="iva-info">
        <div class="iva-info-header">
          <h2 class="sub-title">
            {{ 'label.ivaInfo' | translate }}
          </h2>
          <hr/>
          <div class="row">
            <div class="col-2">
              <thx-img
                [src]="'iva-icon.svg'"
                [alt]="'iva-doc'">
              </thx-img>
            </div>
            <div class="col">
              <div class="thf-u-font--20 thf-u-text-center">
                {{ 'label.iva' | translate | uppercase }} {{ 'label.aliquot' | translate }} {{ aliquotPercentage }}
              </div>
              <div>
                <!-- TODO MOCK - will be dynamic-->
                {{ ivaText }}
              </div>
            </div>
          </div>
          <hr/>
        </div>

        <div class="iva-info-table">
          <app-button
            *ngIf="taxRuleServiceAssociatedList?.length"
            [buttonConfig]="btnDisassociateServiceConfig">
          </app-button>
          <thx-datatable-checkbox
            [id]="'taxRuleServiceAssociated'"
            [footerHeight]="0"
            [tableHasScroll]="true"
            [tableExtraClass]="'table-scroll'"
            [columns]="columnsServiceAssociated"
            [rowItens]="taxRuleServiceAssociatedList"
            [rowsLimit]="taxRuleServiceAssociatedList?.length"
            [selectedItens]="taxRuleServiceSelectedAssociatedList"
            [emptyMessage]="'variable.emptyContentM.title' | translate: {labelName: 'label.service' | translate}"
            (selectedItensChange)="serviceSelectedAssociatedChange($event)">
          </thx-datatable-checkbox>
        </div>
        <div
          *ngIf="!isExempt"
          class="iva-info-table">
          <app-button
            *ngIf="taxRuleProductAssociatedList?.length"
            [buttonConfig]="btnDisassociateProductConfig">
          </app-button>
          <thx-datatable-checkbox
            [id]="'taxRuleProductAssociated'"
            [footerHeight]="0"
            [tableHasScroll]="true"
            [tableExtraClass]="'table-scroll'"
            [columns]="columnsProductAssociated"
            [rowItens]="taxRuleProductAssociatedList"
            [rowsLimit]="taxRuleProductAssociatedList?.length"
            [selectedItens]="taxRuleProductSelectedAssociatedList"
            [emptyMessage]="'variable.emptyContentM.title' | translate: {labelName: 'label.product' | translate}"
            (selectedItensChange)="productSelectedAssociatedListChange($event)">
          </thx-datatable-checkbox>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-end thf-u-margin-top--2">
    <div class="col-3">
      <app-button
        [buttonConfig]="btnSaveConfig">
      </app-button>
    </div>
  </div>
</div>

<app-modal-wrapper
  [modalId]="MODAL_IVA_ASSOCIATE_EXEMPT"
  [title]="('variable.lbAssociate' | translate: {labelName: 'label.iva' | translate}) + ' ' + aliquotPercentage">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col-12 thf-u-font--14 thf-u-color--red">
        {{'text.iva0CalculateAttention' | translate}}
      </div>
    </div>
    <div class="row thf-u-margin-top--1">
      <div class="col">
        <form [formGroup]="exemptIvaForm">
          <label for="exemption-code"
                 class="thf-u-block thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-input-label--required">
            {{ 'label.exemptionCode' | translate }}
          </label>
          <input
            id="exemption-code"
            data-qa-id="exemption-code"
            class="thf-input thf-u-margin-top--1"
            type="text"
            formControlName="code"/>
          <thx-error formControlName="code"></thx-error>
        </form>
      </div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row justify-content-end">
      <div class="col-3">
        <app-button [buttonConfig]="btnModalCancelAssociateConfig"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="btnModalSaveAssociateConfig"></app-button>
      </div>
    </div>
  </div>

</app-modal-wrapper>
