<app-header-page-new [config]="configHeaderPage" [enableBackButton]="true">
  <header-title> {{ 'title.clientsWithTributWihheld' | translate }}</header-title>
</app-header-page-new>

<div class="thf-u-margin-top--3">
  <div class="row">
    <div class="offset-1 col-10">
      <div class="thf-group-content thf-u-margin-vertical--2">
        <div class="row row-without-margin">
          <div class="col">
            <label class="thf-u-no-margin">
              <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
              <span
                class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
                {{ 'label.customers' | translate }}
            </span>
            </label>
          </div>
          <app-button
            class="button-header"
            [buttonConfig]="buttonInsertClient">
          </app-button>
        </div>
        <div class="thf-group-content-body">
          <thx-datatable
            [columns]='columns'
            [itens]="clientList"
            [columnMode]="'flex'"
            [deleteModeOption]="true"
            (deleteClicked)="showDeleteClientModal($event)"
            [emptyMessage]="'text.noClientAssociatedSoFar'">
          </thx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-add-client
  [modalId]="MODAL_ADD_CLIENT_IN_TRIBUTES_WITHHELD"
  (closeModal)="closeAddClientModal()"
  (addClient)="setClientList()"
>
</app-modal-add-client>

<app-modal-delete-client
  [modalId]="MODAL_DELETE_CLIENT_IN_TRIBUTES_WITHHELD"
  (closeModal)="closeDeleteClientModal()"
  (deleteClient)="setClientList()"
  [companyClientId]="companyClientIdToDelete"
>
</app-modal-delete-client>
