<div class="thf-modal-body">
  <div class="row">
    <div class="col thf-u-text-center">
      {{ 'variable.lbConfirmDeleteM' | translate : { labelName: 'label.guestType' | translate | lowercase } }}
      <strong>{{ guestTypeToBeDeleted?.guestTypeName }}</strong>?
    </div>
  </div>
</div>
<div class="thf-modal-footer">
  <div class="row">
    <div class="col offset-5">
      <app-button [buttonConfig]="buttonCancelDeleteModal"></app-button>
    </div>
    <div class="col">
      <app-button [buttonConfig]="buttonConfirmDeleteModal"></app-button>
    </div>
  </div>
</div>
