<div class="thf-modal-body">
  <div class="row">
    <div class="col center-block">
      <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
    </div>
  </div>
</div>

<div class="thf-modal-footer">
  <div class="row">
    <div class="col offset-5">
      <button (click)="cancelRequest()" class="thf-btn thf-btn-secondary">
        {{ 'commomData.cancel' | translate }}
      </button>
    </div>
    <div class="col">
      <button data-qa-id="changeData" (click)="changeData()" class="thf-btn thf-btn-primary">
        {{ 'commomData.ok' | translate }}
      </button>
    </div>
  </div>
</div>
