<!-- header component -->
<app-header-page-new
  [enableBackButton]="true"
  [hasFilter]="true">
  <!-- header title -->
  <header-title> {{ 'title.item' | translate }}</header-title>
  <thx-searchbar
    #searchView
    name="searchFilter"
    [placeholder]="'placeholder.searchByProductCodeBarCodeOrProductDescription'"
    (input)="search($event)">
  </thx-searchbar>
</app-header-page-new>

<div class="col-12 billing-pos-wrapper">

  <!-- first line -->
  <div class="row thf-u-margin-vertical--2">
    <!-- first col -->
    <div class="col-7">
      <div class="row row-with-positive-margin-right">
        <div class="col thf-u-font--23 billing-item-line-height launcher-title-color">
          {{'text.groups' | translate }}
        </div>
        <div class="billing-item-button-container thf-u-font--23">
          <!-- TODO: comment until fix space between cards -->
<!--          <button-->
<!--            id="button-see-more"-->
<!--            type="button"-->
<!--            class="thf-btn thf-round-btn&#45;&#45;default thf-u-font&#45;&#45;12 billing-item-button"-->
<!--            (click)="seeMore()">-->
<!--            {{ (!carouselSeeMore ? 'action.seeMore' : 'action.seeLess') | translate }}-->
<!--          </button>-->
        </div>
      </div>

      <!-- group items -->
      <div class="thf-u-margin-vertical--2">
        <ng-container
          [ngTemplateOutlet]='!carouselSeeMore ? launcher : moreItemsList'
          [ngTemplateOutletContext]="{productGroupList:productGroupList}"></ng-container>
      </div>

      <div class="row thf-u-margin-vertical--2 alignRowItem"
        *ngIf="productsToShowList && productsToShowList.length">
        <div class="col-12 thf-u-font--23 billing-item-line-height launcher-title-color">
          {{'text.items' | translate }}
        </div>
      </div>

      <div class="row row-with-positive-padding-left row-flex-with-spaces row-with-scroll">
        <pos-item-selection-card
          *ngFor="let item of productsToShowList"
          class="col-xl-3 col-md-4"
          [currencySymbol]="currencySymbol"
          (selectionChange)="pushSelected(item)"
          [isSelected]="item?.isSelected"
          [item]="item">
        </pos-item-selection-card>
      </div>
    </div>

    <!-- second col shopping and other infos -->
    <div class="col-5">
      <div class="col-12 thf-u-font--23 billing-item-line-height">
        {{'text.cart' | translate }}
      </div>
      <launcher-shopping-chart
        (removeItemEvent)="removeItem($event)"
        (valueChangeEvent)="valueChanged($event)"
        [currencySymbol]="currencySymbol"
        [shoppingChartList]="shoppingChartList">
      </launcher-shopping-chart>

      <!-- result -->
      <div
        class="col-12 thf-u-font--23 launcher-title-color thf-u-margin-vertical--2 total-wrapper">
        {{'text.shoppingChartTotal' | translate }}

        <div class="price-wrapper">
          <span>{{ currencySymbol }}</span> <span>{{ totalAmount | currencyFormat: null:2:'.':',':3:false }}</span>
        </div>
      </div>

      <div
        class="col-12 thf-u-font--23 thf-u-margin-vertical--2 button-wrapper">
        <div class="col-4" [ngClass]="{'offset-4': !(isMobile || isTablet)}">
          <app-button
            [buttonConfig]="cancelButtonConfig"></app-button>
        </div>
        <div class="col-4">
          <app-button
            [buttonConfig]="confirmButtonConfig"></app-button>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #launcher let-productGroupList="productGroupList">
  <launcher-carousel
    [data]="productGroupList"
    [isSelector]="false"
    (itemClicked)="openItem($event)"
  ></launcher-carousel>
</ng-template>

<ng-template #moreItemsList let-productGroupList="productGroupList">
  <div>
    <div class="row">
      <div
        *ngFor="let item of productGroupList"
        class="col-sm-4 col-md-3 col-xl-2 thf-u-padding-horizontal--2 with-margin-bottom">
        <launcher-card
          [item]="item"
          (click)="openItem(item)"></launcher-card>
      </div>
    </div>
  </div>
</ng-template>


