<li
  id="guest-card-wrapper"
  class="thf-card-room-list thf-u-padding--1 thf-u-cursor--pointer"
  [ngClass]="{'thf-card-room-list--active thf-u-color--white': guestCard.active}">
  <div class="row align-items-center">
    <div class="col-1" app-click-stop-propagation  >
      <input
        #checkbox
        id="{{'guest-'+index}}"
        [hidden]="hasStatusCheckin(guestCard)"
        [checked]="!hasStatusCheckin(guestCard) && guestCard.isSelected"
        (click)="insertOrRemoveGuestReservationItemForCheckin()"
        type="checkbox"
        class="thf-input-type-checkbox">
      <label
        for="{{'guest-'+index}}"
        [hidden]="hasStatusCheckin(guestCard)" >
        <span class="ui"></span>
      </label>
    </div>
    <div class="col">
      <div class="row justify-content-between">
        <div class="col thf-u-ellipsis">
          <span class="thf-u-font--bold thf-u-font--13">
            {{ guestCard.guest.socialName ? guestCard.guest.socialName : guestCard.guest.guestReservationItemName }}
          </span>
        </div>
        <div
          id="guest-card-img-container"
          class="col-4 thf-u-text-right">
          <img
            *ngIf="guestCard.active && !guestCard?.guest.isChild"
            src="{{'person-white.svg' | imgCdn}}"
            alt="{{ 'commomData.images.person' | translate }}"
            [ngClass]="{'thf-u-filter-svg--white': guestCard.active}">
          <img
            *ngIf="!guestCard.active && !guestCard?.guest.isChild"
            src="{{'person-gray.svg' | imgCdn}}"
            alt="{{ 'commomData.images.person' | translate }}"
            [ngClass]="{'thf-u-filter-svg--white': guestCard.active}">
          <img
            *ngIf="guestCard.active && guestCard?.guest.isChild"
            src="{{'child_icon.svg' | imgCdn}}"
            alt="{{ 'commomData.images.person' | translate }}"
            [ngClass]="{'thf-u-filter-svg--white': guestCard.active}">
          <img
            *ngIf="!guestCard.active && guestCard?.guest.isChild"
            src="{{'child_icon.svg' | imgCdn}}"
            alt="{{ 'commomData.images.person' | translate }}"
            [ngClass]="{'thf-u-filter-svg--white': guestCard.active}">
          <img
            src="{{'alert-master-details.svg' | imgCdn}}"
            *ngIf="!guestCard.guest.isValid"
            alt="{{ 'commomData.images.error' | translate }}">
          <img
            src="{{'check-circle-outline-blue.svg' | imgCdn}}"
            *ngIf="guestCard.guest.isValid"
            [ngClass]="{'thf-u-filter-svg--white': guestCard.active}"
            alt="{{ 'commomData.images.checkCircle' | translate }}" />
        </div>
      </div>

      <div
        class="row justify-content-between"
        [ngClass]="{'thf-u-color--white': guestCard.active}">
        <div class="col thf-u-ellipsis">
          <span
            class="thf-u-font--12"
            [attr.title]="guestCard.guest.guestRegistrationDocumentBirthDate | amDateFormat:'L'">
            {{'checkinModule.guestFnrhcreateEdit.guestList.birth' | translate }}
            {{ guestCard.guest.guestRegistrationDocumentBirthDate | amDateFormat:'L'}}
          </span>
        </div>
        <div
          class="col thf-u-ellipsis thf-u-no-padding-left"
          *ngIf="guestCard?.guest?.documentTypeName && guestCard?.guest?.documentInformation">
          <span class="thf-u-font--12" [attr.title]="guestCard.guest.documentInformation">
            {{ guestCard?.guest?.documentTypeName }}: {{ guestCard.guest.documentInformation }}
          </span>
        </div>
      </div>

      <div
        id="card-guest-info"
        class="row justify-content-between"
        [ngClass]="{'thf-u-color--white': guestCard.active}">
        <div class="col thf-u-ellipsis">
          <span class="thf-u-font--12"
            [attr.title]="guestCard.guest.subdivision">
            {{ guestCard.guest.subdivision }}
          </span>
        </div>
        <div class="col thf-u-ellipsis">
          <span class="thf-u-font--12"
            [attr.title]="guestCard.guest.division">
            {{ guestCard.guest.division }}
          </span>
        </div>
        <div class="col thf-u-ellipsis thf-u-no-padding-left ">
          <span class="thf-u-font--12"
            [attr.title]="guestCard.guest.country">
            {{ guestCard.guest.country }}
          </span>
        </div>
        <div class="col thf-u-ellipsis">
          <span class="thf-u-font--12"
            [attr.title]="guestCard.guest.businessSourceName">
            {{ guestCard.guest.businessSourceName }}
          </span>
        </div>
      </div>
    </div>
  </div>
</li>
