<!-- main div container -->
<div
  *ngIf = "isVisible"
  [@fadeOut]
  class="toaster-container thex-font-family thex-font-size-body-default"
  [ngClass] ="getClass(type)?.bg"
  >
  <!-- progress bar -->
  <div class="toaster-progression"
    [ngClass] ="getClass(type)?.border"
    [ngStyle]="{'width': progressValue + '%'}"
  ></div>
  <!-- icon container -->
  <div class="toaster-component">
    <div class="toaster-dynamic-message">
      <span class="toaster-icon"
      [ngClass] ="getClass(type)?.icon"
      ></span>
      <span class="toaster-message-text">
        {{message | translate}}
      </span>
    </div>
  </div>
  <!-- close button -->
  <div class="toaster-btnclose">
    <span class="icon-close"
      (click)="closeToaster()"></span>
  </div>
</div>
