:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.toaster-container {
    width:100%;
    height: 50px;
    opacity: 0.90;
    color: var(--color-white);
    position: relative;
}

.toaster-progression {
    width: 100%;
    height: 5px;
    border-radius: 2.5px;
}

.toaster-component {
    width: 88%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.toaster-dynamic-message {
    line-height: 45px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
}

.toaster-message-text {
  font-size: 14px;
}

.toaster-icon {
    margin-right: 8px;
    vertical-align: text-top;
    font-size: 14px;
}

.toaster-btnclose {
    position: absolute;
    cursor: pointer;
    right:16px;
    top: 16.5px;
    font-size: 12px;
}
