<app-modal-wrapper
  [modalId]="id"
  [title]="'policyModule.createEdit.titleDelete'">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col thf-u-text-center">
        {{'policyModule.listPage.removePolicy' | translate}}
      </div>
    </div>
    <div class="row align-items-center thf-u-margin-top--1">
      <div class="col-2">
        <thx-img
          [src]="remove?.countryCode+'.svg' | lowercase"
          [alt]="'flag_' + remove?.countryCode"
          [title]="remove?.countryCode"
        ></thx-img>
      </div>
      <div class="col">
        <strong>{{ remove?.description | truncate:['30'] }}</strong>?
      </div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
