﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <h1>Notification</h1>
    </div>
    @*<div class="row">
            <form>
                <div class="form-group">
                    <label for="User">Group</label>
                    <input type="text" class="form-control" value="SampleNotification" id="group">
                </div>
                <input type="button" id="connGroupButton" class="btn btn-primary" value="Connect to Group">
            </form>
        </div>*@
    <div class="row">
        <form>
            @*<div class="form-group">
                    <label for="User">Method</label>
                    <input type="text" class="form-control" value="SampleNotification" id="method">
                </div>*@
            <div class="form-group">
                <label for="User">User</label>
                <input type="text" class="form-control" id="userInput">
            </div>
            <div class="form-group">
                <label for="Message">Message</label>
                <input type="text" class="form-control" id="messageInput">
            </div>
            <input type="button" id="sendButton" class="btn btn-primary" value="Send Message">
        </form>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/channel.js"></script>
}

