﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <h1>CHART</h1>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="button" id="startButton" class="btn btn-primary" value="start">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="container" class="mt-5"></div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="~/js/chart.js"></script>
    <script>
        $(document).on("click", "#startButton", function () {

            $(this).attr("disabled", true);

            setInterval(function () {
                $.get("/api/test/data");
            }, 1000);

            return false;
        });
    </script>
}

