﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>PROGRESS</h1>
    <div class="row">
        <div class="col-12">
            <input type="button" id="startButton" class="btn btn-primary" value="start">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div>
                <div class="progress mt-4">
                    <div id="sampleProgress" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/progress.js"></script>
}

