<thf-page-list
  [t-title]="pageSettings.title"
  [t-actions]="pageSettings.actions"
  [t-filter]="pageSettings.filterSettings">

  <admin-chain-list
    #list
    [search]="searchValue"
    (editItem)="openModal()">
  </admin-chain-list>

  <thf-modal #modal
    [t-title]="modalSettings.title"
    [t-primary-action]="modalSettings.primaryAction"
    [t-secondary-action]="modalSettings.secondaryAction"
    [formGroup]="form">
    <thf-input
      name="chainName"
      formControlName="chainName"
      class="required-field"
      [t-label]="i18n.label.chainName"
      [t-required]="true"
    ></thf-input>
  </thf-modal>
</thf-page-list>



