.thx-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  max-height: 36px;
  min-height: 36px;
  padding: .438rem .5rem;
  font-size: 13px;
  text-decoration: none;
  border-radius: 4px;
  width: 100%;
  outline: 0;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: var(--color-white);

  /* the btn multiple cases: */
  &.thx-btn-primary {
    background: var(--color-blue);
    color: var(--color-white);
  }

  &.thx-btn-secondary {
    border: 1px solid var(--color-blue);
    color: var(--color-blue);
    background: var(--color-white);
  }

  &.thf-btn-outline {
    outline: var(--color-white);
    background: transparent;
    border: 1px solid var(--color-white);
  }

  /* diabled case: */
  &:disabled {
    cursor: not-allowed;
    opacity: .4;
  }
}
