<app-modal-wrapper
  modalId="level-rate-modal"
  [title]="'label.applyLevelRate'"
  [maxWidth]="'900px'">

  <form [formGroup]="levelForm">
    <div class="thf-modal-body">
      <div class="row" *ngIf="hasLevel">
        <div class="col col-6">
          <label class="thf-u-margin-top--1 thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.periodSelected' | translate }}
          </label>
          <label class="thf-u-margin-top--1 thf-input-label thf-u-font--14">
            {{ initialDate | amDateFormat: 'L' }} - {{ endDate | amDateFormat: 'L' }}
          </label>
        </div>
        <div class="col col-6">
          <label for="levelRate" class="thf-u-margin-top--1 thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.tariffLevel' | translate }}
          </label>
          <div class="hps-margin--3">
            <app-select
              id="levelRate"
              [hasFormGroup]="true"
              [hasMagin]="false"
              [optionList]="levelOptionsList"
              [parent]="levelForm"
              [selectId]="'levelRate'">
            </app-select>
          </div>
            <thx-error formControlName="levelRate"></thx-error>
        </div>
      </div>
      <div *ngIf="!hasLevel">
        <div class="row">
          <div class="col-12 thf-u-color--red align-items-center">
            {{ 'text.levelPeriodSelected' | translate }}
          </div>
        </div>

      </div>
    </div>
    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <app-button [buttonConfig]="cancelButtonConfig"></app-button>
        </div>
        <div class="col">
          <app-button [buttonConfig]="saveButtonConfig" ></app-button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>

<app-modal-wrapper
  modalId="confirm-insert-level-rate"
  [title]="'title.insertionConfirm'">
  <app-confirm-modal
    *ngIf="showConfirmModal"
    [confirmModalDataConfig]="confirmModalDataConfig"
  ></app-confirm-modal>
</app-modal-wrapper>
