.modal-guest-wrapper {
  #span-confirm {
    color: var(--color-danger);
  }

  .warning-budget-wrapper {
    color: var(--color-orange);
  }

  .table-wrapper{
    background: var(--color-white);
    border: 1px solid var(--color-grey);
    box-shadow: inset 1px 1px 3px 3px rgba(0,0,0,0.03);
    border-radius: 3px;
    max-height: 137px;
    overflow-y: auto;

    .item-row-wrapper:nth-child(even) {
      background: var(--color-white);
    }

    .item-row-wrapper:nth-child(odd) {
      background: var(--color-grey-azure);
    }

    .item-row {
      height: 45px;
      margin-left: 0px;
      margin-right: 0px;
      display: flex;
      align-items: center;

      .check-label {
        margin-left: -35px;
        transform: scale(0.7);
        margin-top: 6px;

        &.check-gratuity{
          position: absolute;
          top: 2px;
          margin-top: 0px;
        }
      }

      label {
        margin-bottom: .7rem;
      }

      .colorDisable {
        color: var(--color-grey-submarine);
      }

      .marginNegRight {
        margin-right: -1.5rem;
      }

      .whiteSpace {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: .5rem;
      }
    }
  }
}

.thf-modal-footer {
  .budgetEstimated {
    color: var(--color-orange);
  }

  .budgetCurrency {
    color: var(--color-card-gradient-final);
  }
}
