
<app-modal-wrapper
  [maxWidth]="550"
  [modalId]="MODAL_REF_ID"
  [title]="'label.guestEntranceName' | translate: {reservationItemCode: reservationItemCode}"
  [formGroup]="formModal"
  [closeCallbackFunction]="onModalClose">

  <div class="thf-modal-body modal-guest-wrapper">
    <div class="row">
      <div class="col">
        <div
          *ngIf="hasCourtesyOrInternalUsage"
          class="thf-u-font--16 thf-u-margin-bottom--2">
            <div>{{ 'alert.budgetCourtesyOrInternalUsage' | translate }}</div>
            <div>{{ 'alert.wantChangePaymentType' | translate }}</div>
        </div>
        <div class="thf-u-font--18 thf-u-margin-bottom--1">
          <div class="table-wrapper">
            <div
              *ngFor="let row of guestForm"
              class="item-row-wrapper">
              <ng-container
                [ngTemplateOutlet]="rowGratuity"
                [ngTemplateOutletContext]="{ row: row }">
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row warning-budget-wrapper">
      <div class="col thf-u-font--18">
        {{ 'alert.warningBudgetReprocessing' | translate }}
      </div>
    </div>

    <div class="row pt-3">
      <div class="col thf-u-font--18 thf-u-margin-bottom--1">
        <span
          id="span-confirm"
          [innerHtml]="'alert.pleaseInputToConfirmByBudget' | translate: {name: textConfirm}">
        </span>
        <input
          id="textConfirm"
          name="textConfirm"
          class="thf-input"
          formControlName="textConfirm"/>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row">
      <div class="col-4">
        <div class="col">
          {{ 'label.actualBudget' | translate }}
        </div>
        <div class="col budgetCurrency">
          <img src="{{'tarifa.svg' | imgCdn }}" class="thf-u-icon-size--16">
          <span>{{budget?.reservationItemBudgetHeaderDto?.commercialBudgetList[0]?.currencySymbol}}
            {{ budget?.reservationBudget | currencyFormat:null:2:'.':',':3:false}} </span>
        </div>
      </div>
      <div class="col-4">
        <div class="col">
          {{ 'label.estimatedBudget' | translate }}
        </div>
        <div class="col budgetEstimated">
          {{budget?.reservationItemBudgetHeaderDto?.commercialBudgetList[0]?.currencySymbol}}
          {{ budgetEstimated | currencyFormat:null:2:'.':',':3:false}}
        </div>
      </div>

      <div class="col-4">
        <app-button [buttonConfig]="btnConfirm"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<ng-template #rowGratuity let-row="row">
  <div class="item-row row">
    <div class="col-1 marginNegRight">
    <img
      class="thf-u-icon-size--16"
      src="{{'person-gray.svg' | imgCdn}}"
      alt="{{ 'commomData.images.person' | translate }}">
    </div>

    <div class="col-5 whiteSpace"
      [title]="row?.guestReservationItemName">
      {{ row?.guestName }}
    </div>

    <div class="col col-3 pr-0">
      <input
        id="check-gratuity-{{row?.personId}}"
        type="checkbox"
        name="radio-group-{{row?.personId}}"
        class="thf-input-type-checkbox"
        [(ngModel)]="isSelectedGratuity"
        [disabled]="hasCourtesyOrInternalUsage"
        (change)="onSelectGratuity($event)"/>
      <label
        class="check-label check-gratuity"
        for="check-gratuity-{{row?.personId}}" >
        <span class="ui"></span>
      </label>
      <span class="thf-u-font--14 thf-u-font--bold">
        {{ 'label.gratuity' | translate }}
      </span>
    </div>

    <div class="col col-3 pr-0">
      <input
        id="check-separate-{{row?.personId}}"
        type="checkbox"
        [(ngModel)]="isSelectedSeparate"
        name="radio-group-{{row?.personId}}"
        class="thf-input-radio-button"
        [disabled]="isDisabledSeparate"
        (change)="onSelectSeparate($event)"/>
      <label
        class="check-label"
        for="check-separate-{{row?.personId}}" >
        <span class="ui"></span>
      </label>
      <span
        class="thf-u-font--14 thf-u-font--bold"
        [ngClass]="{'colorDisable': isDisabledSeparate === true}">
        {{ 'label.launcherSeparate' | translate }}
      </span>
    </div>

  </div>
</ng-template>

