<div class="row thf-u-no-margin" >
  <div id="form" class="col-6">
    <div class="thf-u-padding--2">
      <form [formGroup]="splitForm" >
        <div class="thf-u-margin-bottom--1">
          <label class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine"> {{'label.splitType' | translate }}</label>
          <div>
            <app-radio-group formControlName="splitType" name="splitType" [options]="radioOptions" ></app-radio-group>
          </div>
        </div>
        <div [hidden]="!isTypeValue">
          <label class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine" for="value" > {{'label.value' | translate }} {{ propertyCurrencySymbol }}</label>
          <input formControlName="value"  id="value" class="thf-input" type="text"
                 currencyMask [options]="optionsCurrencyMask" [autocomplete]="'off'" />
        </div>
        <div [hidden]="!isTypeSlice" >
          <label class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine" for="slices" > {{'label.qtdSlices' | translate }}</label>
          <input formControlName="parts" id="slices" class="thf-input" type="number" />
        </div>
      </form>
    </div>
  </div>
  <div id="preview" class="col-6 preview-backgroud">
    <div class="thf-u-padding-top--2">
      <div class="thf-u-inline-flex thf-u-margin-bottom--1" >
        <span class="thf-u-padding--1 align-self-center" >
          <img src="{{'tarifa-grey.svg' | imgCdn}}" alt="{{ 'img.tarifa' | translate }}">
        </span>
        <span>
          <div class="thf-input-label thf-u-font--14 thf-input-label--grey-submarine">{{ 'label.originalValue' | translate }} <span *ngIf="percentageRate > 0 && !withRate" >{{'label.withoutRate' | translate}}</span> </div>
          <div class="thf-input-label thf-u-font--16 thf-u-font--bold">{{ propertyCurrencySymbol }} {{ total | currencyFormat: ' ' }}</div>
        </span>
      </div>

      <div class="thf-u-inline-flex" >
        <span class="thf-u-padding--1 align-self-center" >
          <img src="{{'tarifa-grey.svg' | imgCdn}}" alt="{{ 'img.tarifa' | translate }}">
        </span>
        <span>
          <div class="thf-input-label thf-u-font--14 thf-input-label--grey-submarine">{{ 'label.splitPreview' | translate }}</div>
          <div class="thf-input-label thf-u-font--16 thf-u-font--bold">{{ previewValue }}</div>
        </span>
      </div>

      <div class="thf-u-inline-flex thf-u-justify-center-wrap" *ngIf="percentageRate > 0 && !withRate" >
        <span>
          <div class="thf-input-label thf-u-font--12 thf-input-label--grey-submarine">{{ 'text.plusRate' | translate: {rate: percentageRate} }}</div>
        </span>
      </div>
    </div>
  </div>
</div>
