<div *ngIf="canShow()">
<header class="thf-group-content-header thf-u-padding--1 thf-card-room-list thf-u-margin-top--1 print-only ">
  <div class="row">
    <div class="col">
      <div class="thf-u-padding--1">
        <img src="{{'icon_hospede_conta.svg' | imgCdn}}"
        *ngIf="statement?.accountTypeId != referenceToBillingAccountTypeEnum.Company"
        alt="{{'commomData.images.person' | translate}}">
        <img src="{{'icon_empresa_conta.svg' | imgCdn}}"
        *ngIf="statement?.accountTypeId == referenceToBillingAccountTypeEnum.Company"
        alt="{{'commomData.images.company' | translate}}">
        <span id="fnrh-name-guest" class="thf-u-font--20 thf-u-color--blue thf-u-margin-left--1">
          {{statement?.holderName}}
        </span>
        <span class="thf-u-font--18 thf-u-color--blue" *ngIf="statement?.isHolder">
          ( {{'billingAccountModule.commomData.holder' | translate}} )
        </span>
      </div>
    </div>
  </div>
</header>

<div class="thf-card-room-list">
  <div class="thf-u-padding-vertical--3 thf-u-padding-horizontal--2">
    <div class="row thf-u-margin-top--1">
      <div class="col">
        <span class="thf-u-font--14 thf-input-label thf-u-font--bold">{{'billingAccountModule.commomData.holderName' | translate}}:&nbsp;</span>
        <span class="thf-u-font--16 thf-u-color--blue thf-u-font--bold">{{statement?.holderName}}</span>
      </div>
      <div class="col">
        <span class="thf-u-font--14 thf-input-label thf-u-font--bold">{{'billingAccountModule.commomData.period' | translate}}:&nbsp;</span>
        <span class="thf-u-font--16 thf-u-color--blue thf-u-font--bold">
          <span *ngIf="statement?.accountTypeId != referenceToBillingAccountTypeEnum.Sparse; else isSingleAccount">
            {{statement?.arrivalDate | amDateFormat:'L' }} - {{statement?.departureDate | amDateFormat:'L' }}
          </span>
        </span>
      </div>
    </div>
  <div class="row thf-u-margin-top--1">
    <div class="col">
      <span class="thf-u-font--14 thf-input-label thf-u-font--bold">{{'billingAccountModule.commomData.accountType' | translate}}:&nbsp;</span>
      <span class="thf-u-font--16 thf-u-color--blue thf-u-font--bold">{{statement?.accountTypeName}}</span>
    </div>
    <div class="col">
      <span class="thf-u-font--14 thf-input-label thf-u-font--bold">{{'billingAccountModule.commomData.statusAccount' | translate}}:&nbsp;</span>
      <span class="thf-u-font--14 thf-u-color--red thf-u-font--bold" [ngClass]="{'thf-u-color--red': statement?.statusId == referenceToBillingAccountStatusEnum.Open, 'thf-u-color--green': statement?.statusId == referenceToBillingAccountStatusEnum.Closed}">
      {{statement?.statusName}}
      </span>
    </div>
  </div>
  <div class="row thf-u-margin-top--1">
    <div class="col">
      <span class="thf-u-font--14 thf-input-label thf-u-font--bold">
      {{'billingAccountModule.commomData.uhCode' | translate}}:&nbsp;
      </span>
      <span class="thf-u-font--16 thf-u-color--blue thf-u-font--bold">
        <span *ngIf="statement?.accountTypeId != referenceToBillingAccountTypeEnum.Sparse; else isSingleAccount">
          {{statement?.roomTypeName}} - {{statement?.roomNumber}}
        </span>
      </span>
    </div>
    <div class="col">
      <span class="thf-u-font--14 thf-input-label thf-u-font--bold">
      {{'billingAccountModule.commomData.reservationItemCode' | translate}}:&nbsp;
      </span>
      <span class="thf-u-font--14 thf-u-color--blue thf-u-font--bold">
        <span *ngIf="statement?.accountTypeId != referenceToBillingAccountTypeEnum.Sparse; else isSingleAccount">
          {{statement?.reservationItemCode}}
        </span>
      </span>
    </div>
  </div>
</div>

  <statement-account-table
    [propertyId]="propertyId"
  [itemStatementList]="statement.billingAccounts"
  [hasSubtotal]="true">
  </statement-account-table>
</div>

<statement-footer-total
  *ngIf="isIndividualStatement"
  [propertyId]="propertyId"
  [statementTotal]="statement"
  [currencySymbol]="currencySymbol"
></statement-footer-total>
</div>

<ng-template #isSingleAccount>
  --
</ng-template>
