<app-modal-wrapper
  modalId="newDataChannel"
  [maxWidth]="'800px'"
  [minWidth]="'800px'"
  [title]="modalTitle">

  <app-client-data-channel-add
    [channelsList]="channelsList"
    (exitChange)="toggleModal()"
    (dataChange)="changeDataSavedFromModel($event)">
  </app-client-data-channel-add>
</app-modal-wrapper>

<app-modal-wrapper
  modalId="editDataChannel"
  [title]="modalTitle">

  <app-client-data-channel-edit
    [selectedItem]="itemSelected"
    (exitChange)="toggleModalEdit()"
    (dataChange)="changeDataEditedFromModel($event)"
  ></app-client-data-channel-edit>
</app-modal-wrapper>

<div class="thf-group-content">
  <div class="thf-group-content-header">
    <div class="row">
      <div class="col-4">
        <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
        <span class="thf-group-content-header-title thf-u-font--bold thf-u-font--14">
          {{ 'title.associatedChannels' | translate }}
        </span>
      </div>
      <div class="col-4 text-center">
        <thx-searchbar name="searchFilter" *ngIf="hasData"
          [placeholder]="'placeholder.searchByCodeOrDescriptionOrOrigin'"
          (search)="search($event)">
        </thx-searchbar>
      </div>
      <div class="col-2 offset-2">
        <button type="button" name="button" class="thf-btn thf-btn--sm thf-btn-secondary"
                (click)="toggleModal()">
                {{ 'action.lbAssociate' | translate: {labelName: labelName | lowercase} }}
        </button>
      </div>
    </div>
  </div>
  <div class="thf-group-content-body">
    <div class="row">
      <div class="col-12">
        <thx-datatable
          [columns]='columns'
          [itens]="channelsList"
          statusIdentifier="id"
          [itemsOption]="itemsOption"
          [emptyMessage]="'variable.emptyContentM.title' | translate: {labelName: labelName | lowercase }"
          [emptyMessageContent]="'variable.emptyContentM.textDescription' | translate: {labelName: labelName | lowercase }"
          (emptyLinkClicked)="toggleModal()">
        </thx-datatable>
      </div>
    </div>
  </div>
</div>
