<app-header-page [config]="configHeaderPage"></app-header-page>

<div class="row justify-content-center" *ngIf="guestsFromReservationItem">
  <div class="col-10">
    <div class="hps-topbar-info-accommodation thf-u-font--14">
      <div class="row">
        <div class="col-8">
          <div class="row justify-content-around">
            <div class="col-auto">
              <span class="thf-u-font--16">
                {{ getRoomNumber(guestsFromReservationItem) }} {{ getRoomType(guestsFromReservationItem) }}
              </span>
            </div>
            <div class="col-auto">
              <span class="thf-u-font--13">{{ guestsFromReservationItem.value.checkinDate | amDateFormat:'L' }} - {{ guestsFromReservationItem.value.checkoutDate
                | amDateFormat:'L' }}</span>
            </div>
            <div class="col-auto" [attr.title]="guestsFromReservationItem.value.code">
              {{ guestsFromReservationItem.value.code }}
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row justify-content-around">
            <div class="col-6">
              {{ guestsFromReservationItem.value.statusFormatted }}
            </div>
            <div class="col">
              <img class="hidden-lg-down" class="thf-u-filter-brightness--200" src="{{'person-white.svg' | imgCdn}}" alt="{{ 'commomData.images.person' | translate }}"
              /> {{ guestsFromReservationItem.value.adultCount }}
            </div>
            <div class="col">
              <img class="hidden-lg-down" class="thf-u-filter-brightness--200" src="{{'child_icon.svg' | imgCdn}}" alt="{{ 'commomData.images.person' | translate }}"
              /> {{ guestsFromReservationItem.value.childCount }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="thf-u-margin-top--1"></div>
    <app-guest-card [guestsFromReservationItem]="guestsFromReservationItem">
    </app-guest-card>
  </div>
</div>
