<div class="header-details-wrapper--popover header-details-wrapper--popover_roomtype">
  <a id="link-choose-roomtype" class="thf-link thf-u-color--white thf-link--underline" href="javascript:void(0);" app-click-stop-propagation (click)="togglePopover()">
    {{ roomTypeItemActive }}
    <span class="thf-u-margin-left--1">
      <img class="thf-u-filter-svg--white thf-u-rotate--90" src="{{'chevron-left-blue.svg' | imgCdn}}" alt="{{'commomData.images.arrowDownIcon' | translate}}"
      />
    </span>
  </a>

  <app-popover [hidden]="togglePopoverHidden" app-click-stop-propagation (click)="keepPopoverOpen()">
      <div class="arrow-position">
          <span class="thf-popover-arrow--left"></span>
      </div>
      <header class="header-data">
          <h4 class="thf-u-no-margin thf-u-font--14 thf-u-font--bold">{{'checkinModule.popovers.roomType.titlePopover' | translate }}</h4>
      </header>
      <div class="body-data">
          <ul class="header-details-popover-list">

            <li
              class="header-details-popover-list--item header-details-popover-list--roomtype"
              *ngFor="let item of roomTypesList"
              (click)="clickRoomType($event, item)"
              >
              <div class="row no-gutters">
                <div class="col thf-u-text-center">
                  <span [ngClass]="{'thf-u-color--red': item.overbooking}">{{ item.abbreviation }}</span>
                </div>
                <div class="col-7 thf-u-text-left">
                  <span [ngClass]="{'thf-u-color--red': item.overbooking}">{{ item.name }}</span>
                </div>
              </div>
            </li>

          </ul>
      </div>
  </app-popover>
</div>
