@import 'variables';

.user-card-component {
    width: 100%;
    height: 270px;
}

.user-profile-picture-container {
    width: 100%;
    height: 165px;
    padding: 35px 0 30px 0;
}

.profile-picture-area {
    width: 100px;
    height: 100px;
    margin:0 auto;
    position: relative;
    cursor: pointer;
    border: solid 1.5px rgba($primary_color, 0.5);
    border-radius: 50%;
}

.profile-picture-circular-area {
    background-color: $grey-color--15;
    position: absolute;
    text-align: center;
    overflow: hidden;
    width: 90px;
    height: 90px;
    margin: -45px 0 0 -45px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}

.user-name-abbreviation {
    font-size: 30px;
    color: $primary_color;
    display: inline-block;
    text-transform: uppercase;
    width: 45px;
    height: 41px;
    line-height: 90px;
}

.user-profile-info {
    width: 191px;
    height: 75px;
    margin: 0 auto;
    text-align: center;
}

.user-info-name {
    width: 191px;
    margin: 0 auto;
    height: 44px;
    font-size: 16px;
    letter-spacing: -0.4px;
    color: $grey-color--70;
}

.user-info-email {
    color: $grey-color--50;
}

.user-info-property-name {
    color: $grey-color--50;
}
.user-change-picture-mask{
    background: $white-color;
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: -50%;
    opacity: 0;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.user-change-picture-mask {
    > span {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 9px;
        color: $primary_color;
    }
}

.profile-picture-circular-area{
    &:hover{
        > .user-change-picture-mask{
            bottom: 0px;
            opacity: 1;
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
        }
    }
}