<div class="user-card-component thex-font-family thex-font-size-items-two">
  <div class="user-profile-picture-container">
      <div class="profile-picture-area">
        <div class="profile-picture-circular-area" >
          <input type="file" #inputBarCode accept="image/*" (change)="imageBarCodeUpload($event)" style="display:none" />
          <div class="user-change-picture-mask" (click)="barcodeClick()">
            <span>{{'action.changePhoto' | translate}}</span>
          </div>
          <img *ngIf="photoUrl " src="{{ photoUrl }}"  width="100%" height="100%"/>
          <span *ngIf="!photoUrl"  class="user-name-abbreviation"> {{myUser?.name | getInitialsName}} </span>
        </div>
      </div>
    </div>
    <div class="user-profile-info">
        <div class="user-info-name"> {{myUser?.name}} </div>
        <div class="user-info-email"> {{myUser?.email  | truncate:['30']}} </div>
        <div class="user-info-property-name">{{ propertyName  | truncate:['30']}}</div>
    </div>
</div>

<app-modal-wrapper
  modalId="user-photo-modal-upload"
  maxWidth="'500px'"
  [title]="'label.photoUpload' | translate">

  <app-user-photo-upload
    (exitChange)="cancelModalBarcode()"
    (dataChange)="translateBarcode($event)"
    [selectedImage]="selectedImage">
  </app-user-photo-upload>
</app-modal-wrapper>
