@import "main";
:host{
    display: flex;
    justify-content: center;
}
.photo-base {
  &__wrapper {
    width: 100px;
    height: 100px;
    border: solid 1.5px rgba(12, 154, 190, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
  }
  &__image-wrapper {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    &:hover {
      .photo-base__change-text {
        bottom: 0;
      }
    }
  }
  &__image-container {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  &__image {
    height: 100%;
    width: auto;
  }
  &__change-text {
    position: absolute;
    background: $white-color;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    color: $primary-color;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
    bottom: -30px;
    cursor: pointer;
    transition: all 0.3s;
  }
  &__abbreviation {
    font-size: 30px;
    color: $primary-color;
    text-transform: uppercase;
    line-height: 90px;
    width: 90px;
    height: 90px;
    display: inline-block;
    text-align: center;
    background-color: $white-color--focused;
    border-radius: 50%;
  }
}
