<div class="photo-base__wrapper">
  <div class="photo-base__image-wrapper">
    <div class="photo-base__image-container" *ngIf="photoUrl">
      <img  src="{{ photoUrl }}" class="photo-base__image">
    </div>
    <span *ngIf="!photoUrl" class="photo-base__abbreviation"> {{name | acronym:2}} </span>
    <span class="photo-base__change-text" (click)="onClick($event)">{{'action.changePhoto' | translate}}</span>
  </div>
</div>
