<div class="app-modal-stepper">
  <app-modal-header
    class="header"
    [steps]="steps"
    [title]="title"
    (selectedStep)="selectStep($event)"
  ></app-modal-header>
  <section class="route">
    <router-outlet></router-outlet>
  </section>
  <app-modal-footer
    class="footer"
    [skipStepRoute]="skipStepRoute"
    [isPreviousAvailable]="isPreviousAvailable"
    [isNextEnabled]="isNextEnabled"
    [isLastStep]="isLastStep"
    (next)="next()"
    (previous)="previous()"
  ></app-modal-footer>
</div>
