<app-modal-wrapper
  modalId="policy-new"
  [title]="modalCreateEditTitle">
  <form [formGroup]="formModalNew">
    <div class="thf-modal-body">
      <div class="row">
        <div class="col">
          <label for="type"
                 class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-bottom--1">
            {{'policyModule.createEdit.form.type' | translate}}
          </label>
          <app-select
            [parent]="formModalNew"
            [optionList]="policyOptionList"
            [selectId]="'type'"
            [isUppercase]="false"
            [hasFormGroup]="true">
          </app-select>
          <thx-error formControlName="type"></thx-error>
        </div>
        <div class="col">
          <label for="isActive"
                 class="thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
            {{'policyModule.createEdit.form.isActive' | translate}}
          </label>
          <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
            <input type="checkbox" formControlName="isActive" class="thf-input-radio-button"
                   id="isActive"/>
            <label class="thf-u-vertical-align-super" for="isActive">
              <span class="ui"></span>
            </label>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col">
              <label for="description"
                     class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-margin-top--2">
                {{'policyModule.createEdit.form.description' | translate}}
              </label>
            </div>
            <div class="col thf-u-text-right">
              <div class="thf-u-margin-top--2"
                    [ngClass]="{'thf-input-text--error': formModalNew.get('description').dirty && formModalNew.get('description').errors?.maxlength }">
                {{ formModalNew.get('description').value?.length > 0 ? formModalNew.get('description').value?.length : 0 }} / 4000
              </div>
            </div>
          </div>
          <textarea id="description" formControlName="description" class="thf-input thf-textarea"
                    [ngClass]="{'thf-input-error thf-input-text--error': formModalNew.get('description').dirty && formModalNew.get('description').errors?.maxlength }"></textarea>
          <thx-error formControlName="description"></thx-error>
        </div>
      </div>
    </div>
    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <app-button [buttonConfig]="buttonCancelModalConfig"></app-button>
        </div>
        <div class="col">
          <app-button [buttonConfig]="buttonSaveModalConfig"></app-button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>
<app-modal-wrapper
  modalId="policy-remove"
  [title]="'policyModule.createEdit.titleDelete'">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col-12 thf-u-text-center">
        {{'policyModule.listPage.removePolicy' | translate}}
      </div>
      <div class="col-12 thf-u-text-center">
        <strong>{{ policyToRemove?.policyTypeName }} - {{ policyToRemove?.description | truncate: ['30'] }}</strong>?
      </div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelRemoveConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmRemoveConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<div class="row align-items-center thf-u-margin-vertical--2">
  <div class="col">
    <span class="thf-u-font--bold thf-u-font--16">
      {{ 'policyModule.listPage.header.title' | translate }}
    </span>
  </div>
  <div class="col-4 col-lg-3 col-xl-2 ml-auto">
    <app-button [buttonConfig]="buttonNewConfig">
      <icon>
        <img src="{{'add-circle-outline_btn_icon.svg' | imgCdn}}"
             alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
        />
      </icon>
    </app-button>
  </div>
</div>

<ngx-datatable
  class='material'
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="45"
  [rows]='rows'
  [limit]="10">
  <!-- Column Templates -->
  <ngx-datatable-column
    [width]="200"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false">
    <ng-template ngx-datatable-header-template>
      {{ 'policyModule.listPage.table.isActive' | translate }}
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <input type="checkbox" [(ngModel)]="row.isActive" (ngModelChange)="itemWasUpdated(row)" [checked]="row.isActive"
             class="thf-input-radio-button" [id]="row.id"/>
      <label class="thf-u-vertical-align-super" [attr.for]="row.id">
        <span class="ui"></span>
      </label>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template ngx-datatable-header-template>
      {{ 'policyModule.listPage.table.type' | translate }}
    </ng-template>
    <ng-template let-row="row" let-column="column" ngx-datatable-cell-template>
      {{row.policyTypeName | truncate: [ (column.width * 10 / 100) + ''  ] }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template ngx-datatable-header-template>
      {{ 'policyModule.listPage.table.description' | translate }}
    </ng-template>
    <ng-template let-row="row" let-column="column" ngx-datatable-cell-template>
      {{row?.description | truncate:[ (column.width * 10 / 100) + '' ] }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column
    [width]="50"
    [resizeable]="false"
    [sortable]="false"
    [draggable]="false"
    [canAutoResize]="false"
    [cellClass]="'thf-u-no-padding'">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <app-submenu-options [items]="itemsOption" (itemWasAction)="rowAction($event, row)"></app-submenu-options>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

<guest-policy class="thf-u-margin-top--5"></guest-policy>
