<app-header-page-new [enableBackButton]="true">
  <header-title>
    {{ titlePage | translate }}
  </header-title>
</app-header-page-new>

<div class="thf-u-margin-vertical--2">
  <app-group-content
    title="commomData.titles.filter"
    bodyClass="thf-u-padding-top--1"
  >
    <app-integration-log-form></app-integration-log-form>
  </app-group-content>
</div>

<app-integration-log-table (clickedRow)="openModal($event)"></app-integration-log-table>

<app-modal-wrapper
  maxWidth="940px"
  title="title.operationSummary"
  extraClass="thf-u-width-flex"
  [modalId]="MODAL_ID"
  [closeCallbackFunction]="onCloseModal"
>
  <app-integration-log-summary [log]="selectedLog$ | async"></app-integration-log-summary>
</app-modal-wrapper>
