<ng-container *ngTemplateOutlet="selectedTemplate"></ng-container>

<ng-template #inputDefault>
  <input #input id="default" class="thf-input " type="text"
         [value]="parameter.propertyParameterValue"
         [required]="true"
         (blur)='notifyChange(input.value)'>
</ng-template>

<ng-template #inputTime>
  <input #time id="time" class="thf-input " type="text"
         [textMask]="{mask: maskValidation, guide: false}"
         [value]="parameter.propertyParameterValue"
         (blur)='notifyChange(time.value)'>
</ng-template>

<ng-template #inputDate>
  <thx-datepicker
    id="name"
    [disabled]="disabled"
    [inputValue]="parameter.propertyParameterValue"
    [minDateToday]="minDateIsToday"
    (dateChanged)="notifyChange($event)">
  </thx-datepicker>
</ng-template>

<ng-template #inputNumber>
  <input #number id="number" class="thf-input " type="number"
         min="{{parameter.propertyParameterMinValue}}"
         max="{{parameter.propertyParameterMaxValue}}"
         [value]="parameter.propertyParameterValue"
         (change)="changeInput(number.value)"
         (blur)='notifyChange(number.value)'
         [(ngModel)]="parameter.propertyParameterValue"
         autocomplete="off"
         [disabled]="disabled"
  >
</ng-template>

<ng-template #inputSelect>
  <div class="thf-input-select-group-icon-field">
    <select #selectOptions class="thf-input thf-input-select thf-u-cursor--pointer"
            (change)='notifyChange(selectOptions.value)'>
      <option value="">- {{'action.select' | translate}} -</option>
      <option *ngFor="let opt of possibleOptions"
              [value]="opt.value"
              [selected]="opt.value == parameter.propertyParameterValue">
        {{opt.title}}
      </option>
    </select>
    <img class="thf-input-select-icon thf-u-no-pointer-events"
         src="{{'arrowdown-blue.min.svg' | imgCdn}}"
         alt="arrow down">
  </div>
</ng-template>

<ng-template #inputCheck>
  <input #check id="check" type="checkbox" class="thf-input-type-checkbox" [checked]="parameter.propertyParameterValue"
         (change)='notifyChange(check.checked)'>
  <label for="check"><span class="ui"></span></label>
</ng-template>

