<div class="thf-group-content">
  <div class="row">
    <div class="col-12">
      <label class="thf-u-no-margin">
        <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
        <span
          class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
            {{ 'label.billingAccountTransfer' | translate }}
        </span>
      </label>
    </div>
  </div>

  <div class="thf-group-content-body thf-u-padding-vertical--2">
    <form [formGroup]="form">

      <div class="row thf-u-margin-bottom--4">
        <div class="col-4">
          <report-menu
            [formGroupAppSelect]="form">
          </report-menu>
        </div>
      </div>

      <hr class="row"/>

      <div class="row">
        <!-- filter -->
        <div class="col-4">
          <label
            for="period"
            class="thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1 thf-input-label--required">
            {{ 'label.period' | translate }}</label>
          <thx-date-range-picker
            formControlName="period"
            id="period"
            class="thf-u-no-margin">
          </thx-date-range-picker>
        </div>

        <div class="col-4">
          <label
            for="billingAccountName"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.billingAccountName' | translate }}
          </label>
          <input
            formControlName="billingAccountName"
            id="billingAccountName"
            class="thf-input thf-u-margin-top--1"
            [autocomplete]="'off'"/>
        </div>

        <div class="col-4">
          <label
            for="reservationItemCode"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.reservationItemCode' | translate }}
          </label>
          <input
            formControlName="reservationItemCode"
            id="reservationItemCode"
            class="thf-input thf-u-margin-top--1"
            [autocomplete]="'off'"/>
        </div>
      </div>

      <hr class="row"/>

      <div class="row justify-content-end thf-u-margin-top--4">
        <div class="col-3">
          <app-button [buttonConfig]="btnConfigSearch"></app-button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="thf-u-margin-top--1" *ngIf="pageItemsList?.length">
  <app-header-page-new
    [hasFilter]="false">
    <header-title>
      <span>{{ 'label.billingAccountTransfer' | translate }}</span>
    </header-title>
  </app-header-page-new>

  <div class="thf-u-margin-vertical--1">
    <thx-datatable
      [columns]='columns'
      [itens]="pageItemsList"
      [hasLastCell]="false"
      [tableHasScroll]="true"
      [columnMode]="'auto'">
    </thx-datatable>
  </div>

  <div class="row">
    <div class="offset-9 col-3 thf-u-margin-top--2">
      <button
        (click)="print()"
        class="thf-btn thf-u-no-padding thf-btn-primary"
        type="button">
        {{ 'action.print' | translate }}
      </button>
    </div>
  </div>
</div>

<app-printable-table
    #table
    [hidden]="true"
    [columnsName]="columns"
    [items]="pageItemsList"
    [title]="'label.billingAccountTransfer' | translate"
    [periodInfo]="periodInfo"
></app-printable-table>
