<app-modal-wrapper
  [modalId]="MODAL_ASSOCIATE"
  [title]="'entryTypeModule.service.createEdit.associatedFees.modal.title'"
  (closeModal)="toggleModal()">
  <form [formGroup]="formModalAssociate">
    <div class="thf-modal-body">
      <div class="row">
        <div class="col-9">
          <label for="taxName" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{'entryTypeModule.service.createEdit.associatedFees.table.name' | translate}}</label>
          <app-select
            [parent]="formModalAssociate.get('selectValueTax')"
            [optionList]="taxAssociateOptionList"
            [selectId]="'taxAssociate'"
            [isUppercase]="false"
            [hasFormGroup]="true">
          </app-select>
        </div>
        <div class="col-2">
          <label for="isActive" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
            {{ 'entryTypeModule.tax.createEdit.table.isActive' | translate }}
          </label>
          <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
            <input id="isActive" type="checkbox" formControlName="isActive" class="thf-input-radio-button" />
            <label class="thf-u-vertical-align-super" for="isActive">
              <span class="ui"></span>
            </label>
          </div>
        </div>

      </div>
      <div class="row thf-u-margin-top--2">
        <div class="col-3">
          <label for="taxPercentage" class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'entryTypeModule.tax.createEdit.table.rat' | translate }}
          </label>
          <input class="thf-input thf-u-margin-top--1" type="text" formControlName="taxPercentage" currencyMask placeholder="0.00 %">
        </div>
        <div class="col-4">
          <label for="beginDate" class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
            {{ 'label.validityBegin' | translate }}
          </label>
          <thx-datepicker formControlName="beginDate" id="beginDate" [minDateToday]="true"></thx-datepicker>
        </div>
        <div class="col-4">
          <label for="endDate" class="thf-input-label thf-u-no-margin thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required">
            {{ 'label.validityEnd' | translate }}
          </label>
          <thx-datepicker formControlName="endDate" id="endDate" [minDateToday]="true"></thx-datepicker>
        </div>
      </div>

      <span class="thf-u-color--red thf-u-font--12" *ngIf="formModalAssociate.hasError('hasTaxInPeriod')">
        {{ formModalAssociate.getError('hasTaxInPeriod') }}
      </span>
    </div>
    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <app-button [buttonConfig]="buttonCancelModalConfig"></app-button>
        </div>
        <div class="col">
          <app-button [buttonConfig]="buttonSaveModalConfig"></app-button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>

<app-header-page-new>
  <header-title>{{ pageTitle | translate }}</header-title>
</app-header-page-new>

<div class="row justify-content-center">
  <div class="col-11">
    <app-group-content [title]="'entryTypeModule.service.createEdit.data.title'">
      <div class="row">
        <div class="col">
          <form [formGroup]="form">
            <div class="row">
              <div class="col-4">
                <label for="name" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'entryTypeModule.service.createEdit.data.form.description' | translate }}
                </label>
                <input id="name" formControlName="name" class="thf-input thf-u-margin-top--1" type="text" [ngClass]="{'thf-input-error': !form.get('name').valid && form.get('name').dirty}"
                />
              </div>
              <div class="col-3">
                <label for="group" class="thf-input-label--required thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'entryTypeModule.service.createEdit.data.form.group' | translate }}
                </label>
                <app-select [selectId]="'group'" [parent]="form" [optionList]="groupList" [hasFormGroup]="true">
                </app-select>
              </div>
              <div class="col-3">
                <label for="integrationCode" class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'label.code' | translate }}
                </label>
                <input id="integrationCode" formControlName="integrationCode" class="thf-input thf-u-margin-top--1" type="text" />
              </div>
              <div class="col-2 thf-u-text-center">
                <label for="isActive" class="thf-u-no-margin thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--1">
                  {{ 'entryTypeModule.service.createEdit.data.form.isActive' | translate }}
                </label>
                <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
                  <input id="isActive" type="checkbox" formControlName="isActive" class="thf-input-radio-button" />
                  <label class="thf-u-vertical-align-super" for="isActive">
                    <span class="ui"></span>
                  </label>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </app-group-content>

    <div class="thf-u-margin-top--2"></div>

    <app-group-content [hasButton]="true" [buttonConfigSetted]="buttonImplementConfig" [title]="'entryTypeModule.service.createEdit.associatedFees.title'">
      <div class="row">
        <div class="col">

            <thx-datatable
              [columns]="columns"
              [itens]="taxList"
              statusIdentifier='id'
              [itemsOption]="itemsOption"
              (statusChanged)="updateStatusTaxAssociated($event)"
              [emptyMessage]="'entryTypeModule.service.createEdit.associatedFees.table.emptyContent.title'"
              [emptyMessageContent]="'entryTypeModule.service.createEdit.associatedFees.table.emptyContent.textDescription'"
              (emptyLinkClicked)="toggleModal()"
            ></thx-datatable>

        </div>
      </div>
    </app-group-content>

    <div class="row justify-content-end thf-u-margin-top--2">
      <div class="col-2">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-2">
        <app-button [buttonConfig]="buttonSaveConfig"></app-button>
      </div>
    </div>
  </div>
</div>
