<app-modal-wrapper [modalId]="modalId" [title]="'label.creditNote'">
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row">
      <div class="col">
        <label
          class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">{{
          'label.paymentType' | translate }}</label>
        <app-select
          [optionList]="paymentTypeList"
          (selectedOption)="selectBillingItemId($event)">
        </app-select>
      </div>
    </div>
    <div class="row thf-u-margin-top--2" *ngIf="isCard">
      <div class="col">
        <label for="plasticBrandId"
               class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{'paymentTypeModule.commomData.flag' | translate }}
        </label>
        <app-select
          [selectId]="'plasticBrandId'"
          [choseOnlyOnClick]="true"
          [optionList]="plasticBrandPropertyList"
          (selectedOption)="selectPlasticBrandPropertyId($event)">
        </app-select>
      </div>
    </div>
    <div class="row thf-u-margin-top--2">
      <div class="col">
        <label for="reasonId"
               class="thf-u-no-margin thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
          {{ 'label.reason' | translate }}
        </label>
        <app-select
          [selectId]="'reasonId'"
          [choseOnlyOnClick]="true"
          [optionList]="reasonList"
          (selectedOption)="selectReasonId($event)">
        </app-select>
      </div>
    </div>
    <div class="row thf-u-margin-top--2">
      <div class="offset-6 col-3">
        <app-button [buttonConfig]="buttonCancelConfig"></app-button>
      </div>
      <div class="col-3">
        <app-button [buttonConfig]="buttonConfirmConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>
