<div class="row thf-u-no-margin thf-u-background-color--grey-lighter thf-u-padding-vertical--1"
     *ngIf="currentQuotation">
  <div class="col">
    <div class="thf-input-label thf-u-no-margin thf-u-font--13 thf-u-font--bold">
      {{'currencyExchangeModule.commomData.today'
      | translate}}
    </div>
    <div class="thf-u-font--18 thf-u-color--blue thf-u-margin-top--2">
      {{currentQuotation?.currentDate}}
    </div>
  </div>
  <div class="col">
    <div class="thf-input-label thf-u-no-margin thf-u-font--13 thf-u-font--bold">
      {{'currencyExchangeModule.commomData.exchangeRate' | translate}}
    </div>
    <div class="thf-u-font--18 thf-u-color--blue thf-u-margin-top--2">
      <span>{{currentQuotation?.symbol}} <strong>{{currentQuotation?.exchangeRate | currencyFormat:null:2:'.':',':3:false}}</strong></span>
      <span *ngIf="currencyToCompare?.symbol && currencyToCompare?.currencyName">
            = {{currencyToCompare?.symbol}} {{UNIT_OF_CURRENCY}} {{currencyToCompare?.currencyName}}
            </span>
    </div>
  </div>
  <div class="col">
    <label class="thf-input-label thf-u-no-margin thf-u-font--13 thf-u-font--bold">
      {{'currencyExchangeModule.commomData.propertyExchangeRate' | translate}}
    </label>
    <div class="thf-u-position--relative">
      <span class="thf-u-position--absolute symbol-input-position thf-u-color--blue thf-u-font--bold">
        {{currentQuotation?.symbol}}
      </span>
      <input type="text" id="propertyExchangeRate" *ngIf="currentQuotation"
             [(ngModel)]="currentQuotation.propertyExchangeRate"
             class="thf-input thf-u-font--18 thf-u-color--blue thf-u-font--bold"
             currencyMask [options]="optionsCurrencyMask">
    </div>
  </div>
  <div class="col">
    <div class="thf-u-font--18 thf-u-color--blue thf-u-margin-top--3"
         *ngIf="currencyToCompare?.symbol && currencyToCompare?.currencyName">
      = {{currencyToCompare?.symbol}} {{UNIT_OF_CURRENCY}} {{currencyToCompare?.currencyName}}
    </div>
  </div>
</div>
