<thx-toaster-v2></thx-toaster-v2>
<app-load-new></app-load-new>

<thx-login
  [productLogoImg]="'thex_central_logo.svg'"
  [versionName]="versionName"
  [productName]="appName?.toLocaleUpperCase()"
  [versionNumber]="appVersion"
  [image]="'login_version_rio_bg.png'"
  (submitForm)="onForm($event)"
  (resetedPassword)="onResetPassword($event)"
></thx-login>
