:host {
  width: 100vw;
  height: 100vh;
  background-image: url('https://cdn.totvscmnet-cloud.net/img/thex/0.28.13/central-login-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  align-items: center;
}

.login-box {
  min-width: 320px;
}
.login-title {
  color: var(--color-white);
  font-size: 2rem;
  text-align: center;
}
