
.account-owner-background {
  background-color: var(--color-grey-whisper);
  padding: 10px 0px;
}
.icon-owner {
  width: 24px;
  height: 24px;
}
.document-icon {
  width: 13px;
  margin: 5px;
}
.invoice-issued {
  color: var(--color-green);
}
.invoice-error-issued {
  color: var(--color-danger);
}
  
