<app-modal-wrapper
  [modalId]="modalId"
  [title]="'title.fiscalDocuments'"
  minWidth="620px">
  <div class="account-owner-background ">
    <div class="row">
      <div class="col">
        <div class="thf-u-padding-horizontal--2">
          <span>
            <img
              src="{{'icon_hospede_conta.svg' | imgCdn}}"
              class="icon-owner"
               alt="{{ 'img.accountIcon' | translate }}">
          </span>
          <span class="thf-u-font--14 thf-u-font--bold">
            {{ accountOwnerName }}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row">
      <div class="col">
        <thx-datatable
          [columns]='columns'
          [itens]="pageItemsList"
          [itemsOption]="itemsOption"
          [rowHeight]="55"
          [rowsLimit]="MODAL_EUROPE_DATATABLE_LIMIT"
          [emptyMessage]="'text.emptyFoundContentM' | translate: {labelName: 'label.fiscalDocument' | translate}"
        ></thx-datatable>
      </div>
    </div>
  </div>

  <ng-template
    #billingInvoiceTemplate
    let-row="row"
    ngx-datatable-cell-template>
    <div>
      <img src="{{'nf-icon.svg' | imgCdn}}" class="document-icon" alt="{{ 'img.iconRps' | translate }}">
      <a
        *ngIf="row?.integratorLink && row?.externalNumber; else defaultInvoiceNumber"
        [attr.href]="row?.integratorLink"
        target="_blank">
        {{ row?.externalNumber }}
      </a>
    </div>
    <ng-template let-row="row" #defaultInvoiceNumber>
      <span>{{ row?.billingInvoiceNumber }}</span>
    </ng-template>

  </ng-template>

  <ng-template #statusCell ngx-datatable-cell-template let-row="row">
    <div *ngIf="invoiceIsIssued(row.billingInvoiceStatusId)">
      <span class="invoice-issued">{{'label.issued' | translate}}</span>
      <img
        src="{{'icon-complete.svg' | imgCdn }}"
        class="document-icon"
        alt="{{ 'img.rpsStatusEmittedSuccess' | translate }}">
    </div>
    <div *ngIf="!invoiceIsIssued(row.billingInvoiceStatusId)">
      <span class="invoice-error-issued">{{'label.nfeError' | translate}}</span>
      <img src="{{'icon-cancel.svg' | imgCdn }}" class="document-icon" alt="">
    </div>
  </ng-template>

</app-modal-wrapper>

