<div class="thf-wrapper">
  <thf-toolbar
    t-actions-icon="thf-icon-user"
    [t-profile]="profile"
    [t-profile-actions]="profileActions"
    [t-title]="title">
  </thf-toolbar>

  <thf-menu
    t-filter
    [t-menus]="menuItems">
  </thf-menu>

  <router-outlet></router-outlet>
</div>
