@import 'main';

.thf-box-section-content > .row {
  margin-left: -10px;
  margin-right: -10px;
}

.thf-box-section-content .col,
.thf-box-section-content div[class|="col"] {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.hps-margin--05 {
  margin-left: -5px;
  margin-right: -5px;
}

.mdi {
  border-radius: 100%;
  border: 1px solid var(--color-blue);
  padding: 7px;
  background: var(--color-blue);
  color: var(--color-white);
}
#reservationModule-freeTextSearch {
  padding-left: 0 !important;
}
#reservationModule-room {
  padding-right: 0 !important;
}

.font-total {
  color: var(--color-blue);
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  position: relative;
  z-index: -1;
}

.datatable-font-size {
  font-size: 12px !important;
}

.box-main-guest {
  background-color: var(--color-grey-lighter);;
  padding: 0 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.box-main-guest .check {
  margin-top: 7px;
}

.thf-status-button-bar .thf-button img {
  width: 32px;
  height: 32px;
}


.select-adjust{
  margin-top: -12px;
}

.icon-size {
  width: 16px;
  height: 16px;
  margin: 0 2px;
}

.remarks-action {
  cursor: pointer;
  position: relative;
}

.badge-obs {
  position: absolute;
  color: var(--color-white);
  background: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50px;
  width: 15px;
  height: 15px;
  top: -7px;
  font-size: 10px;
  left: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.origin-rectangle {
  width: 61px;
  height: 20px;
  border-radius: 3px;
  text-align: center;
  color: $white-color;
  font-size: 10px;
  align-items: center;
  display: inline-grid;
}
