<app-modal-remarks
  [readonly]="true">
</app-modal-remarks>

<app-modal-wrapper
  modalId="confirm-reservation"
  [title]="'reservationModule.reservationConfirm.title'"
  [maxWidth]="'640px'">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col thf-u-color--red">{{'reservationModule.reservationConfirm.attention' | translate: {
        code:
        reservationToConfirm?.reservationCode
      } }}
      </div>
    </div>
    <div class="row thf-u-margin-top--1">
      <div class="col ">{{'reservationModule.reservationConfirm.confirm' | translate }}</div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelConfirmConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmConfirmConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<app-modal-wrapper
  [modalId]="CANCEL_CHECKIN_MODAL_ID"
  [title]="'reservationModule.cancelCheckin.title'"
  [maxWidth]="'640px'" >
  <div class="thf-modal-body">
    <div class="row">
      <div class="col thf-u-color--red">{{'reservationModule.cancelCheckin.attention' | translate: {
        guestName: cancelCheckinInfo?.guestName,
        reservationCode: cancelCheckinInfo?.reservationCode
      } }}
      </div>
    </div>
    <div class="row thf-u-margin-top--1">
      <div class="col ">{{'reservationModule.cancelCheckin.confirm' | translate }}</div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelCheckinCancelConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonCancelCheckinConfirmConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<app-modal-wrapper
  modalId="reactivate-item-reservation"
  [title]="'label.attention'"
  [maxWidth]="'640px'">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col">{{'reservationModule.commomData.confirmRactivateReservationItem' | translate }}</div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelReactivateConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmReactivateConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<app-modal-wrapper
  [modalId]="REACTIVATE_NO_SHOW_MODAL_ID"
  [title]="'reservationModule.reactivateNoShow.title'"
  [maxWidth]="'640px'">
  <div class="thf-modal-body">
    <div class="row">
      <div class="col thf-u-color--red">
        {{'reservationModule.reactivateNoShow.attention' | translate: {
          reservationCode: noShowToReactivate?.reservationCode
        } }}
      </div>
    </div>
    <div class="row thf-u-margin-top--1">
      <div class="col ">
        {{'reservationModule.reactivateNoShow.confirm' | translate }}
      </div>
    </div>
  </div>
  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelReactivateNoShowConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmReactivateNoShowConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<app-header-page-new
  [config]="configHeaderPage"
  [hasFilter]="true">
  <header-title>
    {{'reservationModule.reserveList.title' | translate }}
  </header-title>

  <thx-searchbar
    name="filterSearch"
    [placeholder]="'reservationModule.reserveList.filterSearchPlaceholder'"
    [(ngModel)]="elasticSearchFilter"
    (search)="listElasticSearchReservations($event)"
    ngDefaultControl>
  </thx-searchbar>

  <text-button>
    {{'reservationModule.reserveList.advancedSearch' | translate}}
  </text-button>

  <icon-button>
    <i class="mdi mdi-magnify"></i>
  </icon-button>

</app-header-page-new>

<app-reservation-item-cancel
  [reservationItemView]="reservationItemViewCanceled"
  (cancelReservationItemEvent)="updateReservationItemViewList()">
</app-reservation-item-cancel>

<form
  [formGroup]="formSearchReservation"
  (keyup.enter)="listCustomSearchReservations()">

  <div class="d-flex row justify-content-center align-items-center">
    <div class="col col-auto col-xl-7 offset-xl-3">
      <span class="thf-u-color--grey-submarine">
        {{ 'reservationModule.reserveList.buttonBar.filterBy' | translate}}:
      </span>
      <div id="reservation-filter-buttons" class="thf-button-bar thf-u-margin-left--2">
        <button
          (click)="listReservationsButtomBar(buttomBar.PRECHECKIN, $event)"
          [ngClass]="{'thf-btn--active': preCheckInIsActive}"
          class="thf-btn thf-btn--default">
          {{ 'reservationModule.reserveList.buttonBar.precheckin' | translate }}
        </button>
        <button
          (click)="listReservationsButtomBar(buttomBar.CHECKINTODAY, $event)"
          [ngClass]="{'thf-btn--active': checkinButtonIsActive}"
          class="thf-btn thf-btn--default">
          {{ 'reservationModule.reserveList.buttonBar.checkinToday' | translate }}
        </button>
        <button
          (click)="listReservationsButtomBar(buttomBar.CHECKOUTTODAY, $event)"
          [ngClass]="{'thf-btn--active': checkoutButtonIsActive}"
          class="thf-btn thf-btn--default">
          {{ 'reservationModule.reserveList.buttonBar.checkoutToday' | translate }}
        </button>
        <button
          (click)="listReservationsButtomBar(buttomBar.DEADLINE, $event)"
          [ngClass]="{'thf-btn--active': deadlineButtonIsActive}"
          class="thf-btn thf-btn--default">
          {{ 'reservationModule.reserveList.buttonBar.expiredDeadlines' | translate }}
        </button>
        <button
          (click)="listReservationsButtomBar(buttomBar.GUESTINHOUSE, $event)"
          [ngClass]="{'thf-btn--active': guestInHouseButtonIsActive}"
          class="thf-btn thf-btn--default">
          {{ 'reservationModule.reserveList.buttonBar.guestInHouse' | translate }}
        </button>
      </div>
    </div>

    <div id="reservationModule-ismain" class="col col-xl-2 col-sm-3 d-flex align-items-center">
      <div class="box-main-guest">
        <span class="check">
          <input id="unifyMain" type="checkbox" class="thf-input-type-checkbox" formControlName="isMain">
          <label class="mr-2" for="unifyMain">
            <span class="ui"></span>
          </label>
        </span>
        <label for="unifyMain" class="thf-u-no-margin thf-input-label thf-u-font--12 thf-input-label--grey-submarine">
          {{ 'label.onlyMain' | translate }}
        </label>
      </div>
    </div>
  </div>

  <div class="thf-u-margin-vertical--2"></div>


  <app-tab-content
    [items]="itemsTab"
    *ngIf="hasAdvancedSearch"
    [inputName]="'reservationList'">

    <content-body class="thf-box-section-content">
      <div class="row">
        <div class="col col-xl-4">
          <div class="row thf-u-no-margin">
            <div id="reservationModule-freeTextSearch" class="col col-xl-8 thf-u-margin-top--1 no-left-padding">
              <label for="freeTextSearch"
                     class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
                {{ 'reservationModule.reserveList.filterSearch.freeTextSearch' | translate }}
              </label>
              <input id="freeTextSearch" formControlName="freeTextSearch" class="thf-input"
                     placeholder="{{'reservationModule.reserveList.filterSearch.freeTextSearchPlaceholder' | translate}}"
              />
            </div>

            <div id="reservationModule-room" class="col col-xl-4 thf-u-margin-top--1 no-right-padding">
              <label for="freeTextSearch"
                     class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
                {{ 'label.numberUH' | translate }}
              </label>
              <input id="room" formControlName="room" class="thf-input"
                     placeholder="{{'label.numberUH' | translate}}"
              />
            </div>
          </div>
        </div>

        <div id="reservationModule-companyClient" class="col col-xl-2 thf-u-margin-top--1">
          <label for="companyClient"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'label.companyAgency' | translate }}
          </label>
          <app-autocomplete
            [id]="'companyClient'"
            [parent]="formSearchReservation"
            [controlName]="'companyClientName'"
            [modelToTemplate]="formSearchReservation.get('companyClientName').value"
            [autocompleteConfig]="autoCompleteConfig"
            [resultList]="autoCompleteConfig.resultList">
          </app-autocomplete>
        </div>

        <div class="w-100 hidden-xl-up"></div>

        <div id="reservationModule-arrival" class="col col-xl-2 thf-u-margin-top--1">
          <label for="arrivalRange"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'reservationModule.reserveList.filterSearch.arrival' | translate }}
          </label>
          <thx-date-range-picker id="arrivalRange" formControlName="arrivalRange"></thx-date-range-picker>
        </div>

        <div id="reservationModule-departure" class="col col-xl-2 thf-u-margin-top--1">
          <label for="departureRange"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'reservationModule.reserveList.filterSearch.departure' | translate }}
          </label>
          <thx-date-range-picker id="departureRange" formControlName="departureRange"></thx-date-range-picker>
        </div>

        <div id="reservationModule-passingBy" class="col col-xl-2 thf-u-margin-top--1">
          <label for="passingByRange"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'reservationModule.reserveList.filterSearch.passingBy' | translate }}
          </label>
          <thx-date-range-picker id="passingByRange" formControlName="passingByRange"></thx-date-range-picker>
        </div>

        <div class="w-100 hidden-lg-down"></div>
        <div class="w-100 hidden-xl-up"></div>

        <div id="reservationModule-groupName" class="col col-xl-4 thf-u-margin-top--1">
          <label for="groupName"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'reservationModule.reserveList.filterSearch.groupName' | translate }}
          </label>
          <input id="groupName" formControlName="groupName" class="thf-input"
                 placeholder="{{'reservationModule.reserveList.filterSearch.groupNamePlaceholder' | translate}}"/>
        </div>

        <div class="col col-xl-2">
          <div class="row hps-margin--05">
            <div id="reservationModule-adults" class="col-6 thf-u-margin-top--1">
              <label for="adults"
                     class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
                {{ 'label.adults' | translate }}
              </label>
              <input id="adults" type="number" formControlName="adults" class="thf-input thf-u-type-number-reset"/>
            </div>

            <div id="reservationModule-children" class="col-6 thf-u-margin-top--1">
              <label for="children"
                     class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
                {{ 'label.children' | translate }}
              </label>
              <input id="children" type="number" formControlName="children" class="thf-input thf-u-type-number-reset"/>
            </div>
          </div>
        </div>

        <div class="w-100 hidden-xl-up"></div>

        <div id="reservationModule-dateOfInclusion" class="col col-xl-2 thf-u-margin-top--1">
          <label for="creationRange"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'reservationModule.reserveList.filterSearch.dateOfInclusion' | translate }}
          </label>
          <thx-date-range-picker id="creationRange" formControlName="creationRange"></thx-date-range-picker>
        </div>

        <div id="reservationModule-dateOfCancellation" class="col col-xl-2 thf-u-margin-top--1">
          <label for="cancellationRange"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'reservationModule.reserveList.filterSearch.dateOfCancellation' | translate }}
          </label>
          <thx-date-range-picker id="cancellationRange" formControlName="cancellationRange"></thx-date-range-picker>
        </div>

        <div id="reservationModule-dateOfDeadline" class="col col-xl-2 thf-u-margin-top--1">
          <label for="deadlineRange"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'reservationModule.reserveList.filterSearch.dateOfDeadline' | translate }}
          </label>
          <thx-date-range-picker id="deadlineRange" formControlName="deadlineRange"></thx-date-range-picker>
        </div>

        <div class="w-100 hidden-lg-down"></div>
        <div class="w-100 hidden-xl-up"></div>

        <div id="reservationModule-reservationStatus" class="col col-xl-2 thf-u-margin-top--1">
          <label for="reservationItemStatus1"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'reservationModule.reserveList.filterSearch.reservationStatus' | translate }}
          </label>
          <app-select id="reservationItemStatus1" [parent]="formSearchReservation"
                      [optionList]="optionsReservationStatus" [selectId]="'reservationItemStatus'"
                      [isUppercase]="false" [hasFormGroup]="true" [hasMagin]="false">
          </app-select>
        </div>

        <div id="reservationModule-mealPlanType" class="col col-xl-2 thf-u-margin-top--1">
          <label for="mealPlanType"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'label.mealPlanType' | translate }}
          </label>
          <app-select id="mealPlanType"
                      [parent]="formSearchReservation" [optionList]="mealPlanTypeOptions"
                      [selectId]="'mealPlanType'" [hasFormGroup]="true" [hasMagin]="false">
          </app-select>
        </div>

        <div id="reservationModule-marketSegment" class="col col-xl-2 thf-u-margin-top--1">
          <label for="marketSegment"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'label.marketSegment' | translate }}
          </label>
          <app-select id="marketSegment"
                      [parent]="formSearchReservation" [optionList]="marketSegmentOptions"
                      [selectId]="'marketSegment'" [hasFormGroup]="true" [hasMagin]="false">
          </app-select>

        </div>

        <div class="w-100 hidden-xl-up"></div>

        <div id="reservationModule-businessSource" class="col col-xl-2 thf-u-margin-top--1">
          <label for="businessSource"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'label.businessSource' | translate }}
          </label>
          <app-select id="businessSource"
                      [parent]="formSearchReservation" [optionList]="businessSourceOptions"
                      [selectId]="'businessSource'" [hasFormGroup]="true" [hasMagin]="false">
          </app-select>
        </div>

        <div id="reservationModule-ratePlan" class="col col-xl-2 thf-u-margin-top--1">
          <label for="ratePlan"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'label.ratePlan' | translate }}
          </label>
          <app-select id="ratePlan"
                      [parent]="formSearchReservation"
                      [optionList]="ratePlanOptions"
                      [selectId]="'ratePlan'"
                      [hasFormGroup]="true"
                      [hasMagin]="false">
          </app-select>
        </div>

        <div id="reservationModule-roomType" class="col col-xl-2 thf-u-margin-top--1">
          <label for="roomType"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-input-label--grey-submarine thf-u-font--bold">
            {{ 'label.roomType' | translate }}
          </label>
          <app-select
              id="roomType"
              [parent]="formSearchReservation"
              [optionList]="roomTypeOptions"
              [selectId]="'roomType'"
              [hasFormGroup]="true"
              [hasMagin]="false">
          </app-select>
        </div>

        <div class="w-100 hidden-lg-down"></div>
        <div class="w-100 hidden-xl-up"></div>

        <div id="reservationModule-ismigrated" class="col offset-xl-8 thf-u-margin-top--1">
          <label for="unifyAccount"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'label.onlyMigrated' | translate }}
          </label>
          <div>
            <input id="unifyAccount" type="checkbox" class="thf-input-radio-button" formControlName="isMigrated"/>
            <label class="thf-u-vertical-align-super thf-u-margin-top--1" for="unifyAccount">
              <span class="ui"></span>
            </label>
          </div>
        </div>
        <div class="col-2 thf-u-margin-top--1">
          <label for="guestView"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{ 'label.guestView' | translate }}
          </label>
          <div>
            <input id="guestView" type="checkbox" class="thf-input-radio-button" formControlName="isGuest"/>
            <label class="thf-u-vertical-align-super thf-u-margin-top--1" for="guestView">
              <span class="ui"></span>
            </label>
          </div>
        </div>

      </div>
    </content-body>

    <section-footer>
      <div class="row">
        <div id="reservationModule-button-clear" class="col offset-8">
          <app-button [buttonConfig]="buttonResetFormSearchReservationConfig"></app-button>
        </div>
        <div id="reservationModule-button-search" class="col">
          <app-button [buttonConfig]="buttonListCustomSearchReservationsConfig"></app-button>
        </div>
      </div>
    </section-footer>

  </app-tab-content>
</form>

<div class="thf-u-margin-vertical--3"></div>

<div class="row">
  <div [ngClass]="getDatabaseClass()">
    <ngx-datatable
      #table
      *ngIf="reservationItemsList && reservationItemsList.length > 0; else elseBlock"
      class="material no-submenu-options last-option-dots"
      [rows]="reservationItemsList"
      [headerHeight]="'auto'"
      [footerHeight]="50"
      [rowHeight]="45"
      [limit]="dataTableGlobals.limitItensPage"
      [reorderable]='true'
      [columnMode]="columnMode"
      [selected]="selectedItem"
      (activate)="onDescriptionClick($event)"
    >

      <ngx-datatable-row-detail [rowHeight]="'auto'" #rowDetail>
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div class="thf-status-button-bar thf-u-padding--1">
            <div class="row justify-content-around">

              <div class="col-auto"
                   *ngIf="showCancelButton(row) || showCheckinButton(row) || showConfirmedButton(row) || showToConfirmButton(row) || showReactivateButton(row)">
                <div class="row">
                  <div class="col">
                    <h5
                      class="thf-status-button-bar-title thf-u-font--12 thf-u-font--semibold thf-u-text-center thf-u-margin-bottom--1">
                      {{'reservationModule.reserveList.tableList.changeReservationItemStatus' | translate }}</h5>
                  </div>
                </div>
                <div class="row justify-content-center table-row-reserve-one">
                  <div class="col-auto" *ngIf="showCancelButton(row)">
                    <div class="thf-icon-button thf-u-text-center">
                      <button type="button" class="thf-button test-button-cancel" data-qa-id="reservation-cancel"
                              (click)="cancelReservationItem(row)">
                        <img src="{{'cancel.min.svg' | imgCdn}}" alt="icon-button-cancel">
                      </button>
                      <div class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
                        {{'reservationModule.reserveList.tableList.cancel' | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="col-auto" *ngIf="showCheckinButton(row)">
                    <div class="thf-icon-button thf-u-text-center">
                      <button type="button" class="thf-button test-button-checkin" data-qa-id="reservation-checkin"
                              (click)="goToEditCheckinPage(row.reservationItemId, row.reservationItemCode)">
                        <img src="{{'checkInReserva.min.svg' | imgCdn}}" alt="icon-button-checkInReserva">
                      </button>
                      <div class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
                        {{'reservationModule.reserveList.tableList.checkin' | translate }}
                      </div>
                    </div>
                  </div>

                  <div class="col-auto" *ngIf="showConfirmedButton(row)">
                    <div class="thf-icon-button thf-u-text-center">
                      <button type="button" class="thf-button test-button-confirm" data-qa-id="reservation-confirmation"
                              (click)="confirmReservation(row)">
                        <img src="{{'reservaConfirmada.min.svg' | imgCdn}}"
                             alt="icon-button-reservaConfirmada">
                      </button>
                      <div class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
                        {{'reservationModule.reserveList.tableList.confirmed' | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="col-auto" *ngIf="showToConfirmButton(row)">
                    <div class="thf-icon-button thf-u-text-center">
                      <button type="button" class="thf-button test-button-aconfirm" data-qa-id="reservation-to-confirm">
                        <img src="{{'reservaAConfirmar.min.svg' | imgCdn}}"
                             alt="icon-button-reservaAConfirmar">
                      </button>
                      <div class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
                        {{'reservationModule.reserveList.tableList.toConfirm' | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="col-auto" *ngIf="showReactivateButton(row)">
                    <div class="thf-icon-button thf-u-text-center">
                      <button type="button" class="thf-button test-button-reactivate" data-qa-id="reservation-reactive"
                              (click)="reactivateReservationItem(row)">
                        <img src="{{'reativar_icon.svg' | imgCdn}}"
                             alt="icon-button-reservaReativar">
                      </button>
                      <div class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
                        {{'reservationModule.reserveList.tableList.reactivate' | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-auto">
                <div class="row">
                  <div class="col">
                    <h5
                      class="thf-status-button-bar-title thf-u-font--12 thf-u-font--semibold thf-u-text-center thf-u-margin-bottom--1">
                      {{'reservationModule.reserveList.tableList.moreOptions' | translate }}
                    </h5>
                  </div>
                </div>
                <div class="row justify-content-center table-row-reserve-two">
                  <div class="col-auto" *ngIf="showCancelCheckinButton(row)">
                    <div class="thf-icon-button thf-u-text-center">
                      <button type="button" class="thf-button test-button-checkin" data-qa-id="reservation-checkin"
                              (click)="cancelCheckin(row)">
                        <img src="{{'checkin_cancel.svg' | imgCdn}}" alt="icon-button-cancel-checkin">
                      </button>
                      <div class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
                        {{'reservationModule.reserveList.tableList.cancelCheckin' | translate }}
                      </div>
                    </div>
                  </div>
                  <div class="col-auto" *ngIf="showEditReservationButton(row)">
                    <div class="thf-icon-button thf-u-text-center">
                      <button
                        id="reserver-button-editarReserva" type="button"
                        data-qa-id="reservation-edit"
                        class="thf-button test-button-more-options-edit"
                        (click)="goToEditReservationPage(row.id)">
                        <img src="{{'editarReserva.min.svg' | imgCdn}}" alt="icon-button-editarReserva">
                      </button>
                      <div class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
                        {{'reservationModule.reserveList.tableList.editReservation' | translate }}
                      </div>
                    </div>
                  </div>

                  <div class="col-auto" *ngIf="showAddGuestEntranceButton(row)">
                    <div class="thf-icon-button thf-u-text-center">
                      <button
                        id="reserver-button-guest-entrance" type="button"
                        class="thf-button test-button-more-options-edit"
                        data-qa-id="reservation-guestentrance"
                        (click)="goToGuestEntrance(row)">
                        <i class="mdi mdi-account-plus"></i>
                      </button>
                      <div class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
                        {{'label.guestEntrance' | translate }}
                      </div>
                    </div>
                  </div>

                  <div class="col-auto" *ngIf="showBillingAccountButton(row.billingAccountId)">
                    <div class="thf-icon-button thf-u-text-center">
                      <button
                        id="reserver-button-operacaoCaixa"
                        type="button"
                        data-qa-id="reservation-billing-account"
                        (click)="goToBillingAccount(row.billingAccountId)"
                        class="thf-button test-button-more-options-box">
                        <img src="{{'operacaoCaixa.min.svg' | imgCdn}}" alt="icon-button-operacaoCaixa">
                      </button>
                      <div
                        class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
                        {{'reservationModule.reserveList.tableList.cashOperation' | translate }}
                      </div>
                    </div>
                  </div>
                  <!--TODO Disabled until is implemented -->
                  <!--                  <div class="col-auto" *ngIf="showOrientateExpensesButton(row)">
                                      <div class="thf-icon-button thf-u-text-center">
                                        <button id="reserver-button-direcionarDispesas" type="button"
                                                class="thf-button test-button-more-options-expenses thf-u-disable-cursor thf-u-opacity&#45;&#45;45"
                                                disabled>
                                          <img src="{{'direcionarDispesas.min.svg' | imgCdn}}"
                                              alt="icon-button-direcionarDispesas">
                                        </button>
                                        <div class="thf-icon-button-legend thf-u-font&#45;&#45;12 thf-u-text-center thf-u-margin-top&#45;&#45;1">
                                          {{'reservationModule.reserveList.tableList.orientateExpenses' | translate }}
                                        </div>
                                      </div>
                                    </div>-->
                  <div class="col-auto">
                    <div class="thf-icon-button thf-u-text-center">
                      <button
                        id="reserver-button-gerenciarChaveCartao"
                        type="button"
                        data-qa-id="reservation-budget"
                        class="thf-button test-button-more-options-key"
                        (click)="goToBudgetPage(row.id)">
                        <img
                          src="{{'gerenciarChaveCartao.min.svg' | imgCdn}}"
                          alt="icon-button-gerenciarChaveCartao">
                      </button>
                      <div
                        class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
                        {{'label.reservationBudget' | translate }}
                      </div>
                    </div>
                  </div>
                  <!--TODO disabled until is implemented-->
                  <!--<div class="col-auto" *ngIf="showAddGuestButton(row)">
                    <div class="thf-icon-button thf-u-text-center">
                      <button id="reserver-button-adicionarHospede" type="button"
                              class="thf-button test-button-more-options-newGuest thf-u-disable-cursor thf-u-opacity&#45;&#45;45"
                              disabled>
                        <img src="{{'adicionarHospede.min.svg' | imgCdn}}"
                            alt="icon-button-adicionarHospede">
                      </button>
                      <div class="thf-icon-button-legend thf-u-font&#45;&#45;12 thf-u-text-center thf-u-margin-top&#45;&#45;1">
                        {{'reservationModule.reserveList.tableList.addGuest' | translate }}
                      </div>
                    </div>
                  </div>-->
                  <div class="col-auto" *ngIf="showGuestFileButton(row)">
                    <div
                      class="thf-icon-button thf-u-text-center">
                      <button
                        id="reserver-button-fichaHospede"
                        type="button"
                        class="thf-button test-button-more-options-guest"
                        data-qa-id="reservation-guestregistration"
                        (click)="goToGuestPage(row)">
                        <img src="{{'fichaHospede.min.svg' | imgCdn}}" alt="icon-button-fichaHospede">
                      </button>
                      <div
                        class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
                        {{'reservationModule.reserveList.tableList.guestCard' | translate }}
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-auto"
                    *ngIf="showViewReservationButton()">
                    <div
                      class="thf-icon-button thf-u-text-center">
                      <button
                        id="reserver-button-visualizarReserva"
                        type="button"
                        data-qa-id="reservation-visualization"
                        class="thf-button test-button-more-options-view"
                        (click)="goToViewReservationPage(row.id)">
                        <img
                          src="{{'visualizarReserva.min.svg' | imgCdn}}"
                          alt="icon-button-visualizarReserva">
                      </button>
                      <div
                        class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
                        {{'reservationModule.reserveList.tableList.viewReservation' | translate }}
                      </div>
                    </div>
                  </div>
                  <div
                    class="col-auto"
                    *ngIf="showReactivateNoShowButton(row)">
                    <div
                      class="thf-icon-button thf-u-text-center">
                      <button
                        id="reactivate-no-show-button"
                        type="button"
                        data-qa-id="reactivate-no-show-button"
                        class="thf-button test-button-more-options-view"
                        (click)="reactivateNoShow(row)">
                        <img
                          src="{{'reactivate-no-show-icon.svg' | imgCdn}}"
                          alt="reactivate-no-show-icon"/>
                      </button>
                      <div
                        class="thf-icon-button-legend thf-u-font--12 thf-u-text-center thf-u-margin-top--1">
                        {{'reservationModule.reactivateNoShow.title' | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-auto">
                <div class="row justify-content-center">
                  <div class="col">
                    <h5
                      class="thf-status-button-bar-title thf-u-font--12 thf-u-font--semibold thf-u-text-center thf-u-margin-bottom--1">
                      {{'reservationModule.reserveList.tableList.print' | translate }}
                    </h5>
                  </div>
                </div>
                <div class="row justify-content-center table-row-reserve-three">
                  <div class="col-auto">
                    <div class="thf-icon-button thf-u-text-center">
                      <button
                        type="button"
                        class="thf-button test-button-print-out-slip"
                        data-qa-id="reservation-slip"
                        (click)="goToSlipPage(row)">
                        <img src="{{'imprimir.min.svg' | imgCdn}}" alt="icon-button-imprimir">
                      </button>
                      <div class="thf-icon-button-legend thf-u-font--12 thf-u-margin-top--1">
                        {{'reservationModule.reserveList.tableList.printSlipFromReservation' | translate }}
                      </div>
                    </div>
                  </div>
                  <!--TODO disabled until is implemented-->
                  <!--<div class="col-auto">
                    <div class="thf-icon-button thf-u-text-center">
                      <button type="button"
                              class="thf-button test-button-print-out-account thf-u-disable-cursor thf-u-opacity&#45;&#45;45"
                              disabled>
                        <img src="{{'imprimir.min.svg' | imgCdn}}" alt="icon-button-imprimir">
                      </button>
                      <div class="thf-icon-button-legend w100 thf-u-font&#45;&#45;12 thf-u-text-center thf-u-margin-top&#45;&#45;1">
                        {{'reservationModule.reserveList.tableList.printFinancialReport' | translate }}
                      </div>
                    </div>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <!-- Column Templates -->
      <ngx-datatable-column
        name="{{'label.uh' | translate }}"
        prop="roomNumber"
        [flexGrow]="0.5">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <div
            *ngIf="!preCheckInIsActive"
            class="no-submenu-options datatable-font-size">
            {{row.roomNumber}}
          </div>
          <div
            *ngIf="preCheckInIsActive"
            class="select-adjust">
            <thx-select-v2
              [optionList]="row?.roomList"
              (click)="loadRoomList(row)"
              (ngModelChange)="changeSelectedRoom($event, row)"
              [(ngModel)]="row.roomId">
            </thx-select-v2>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        *ngIf="preCheckInIsActive"
        name="{{ 'label.roomTypeBreakLine' | translate }}"
        prop="receivedRoomTypeName"
        [flexGrow]="0.5">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <div class="no-submenu-options datatable-font-size">
            {{row.receivedRoomTypeName}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'label.reservationNumber' | translate }}"
        prop="reservationCode" [flexGrow]="1">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <div class="no-submenu-options datatable-font-size">
            {{row.reservationItemCode}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'label.guest' | translate }}"
        prop="guestName"
        [flexGrow]="1.2">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <div class="no-submenu-options datatable-font-size">
            {{row.guestName}}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'label.arrival' | translate }}"
        prop="arrivalDate"
        [flexGrow]="0.8">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <div class="no-submenu-options datatable-font-size">
            {{ row.arrivalDate | amDateFormat:'L - LT' }}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'label.departure' | translate }}"
        prop="departureDate"
        [flexGrow]="0.8">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <div class="no-submenu-options datatable-font-size">
            {{ row.departureDate | amDateFormat:'L - LT' }}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="{{ 'label.group' | translate }}"
        prop="creationTime"
        [flexGrow]=".5">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <div class="text-wrap no-submenu-options datatable-font-size">
            {{row.groupName }}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        *ngIf="!preCheckInIsActive"
        name="{{ 'label.total' | translate }}"
        prop="guestLanguage"
        [flexGrow]="1">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <div class="datatable-font-size">
            {{ row.total | currencyFormat: row.currencySymbol }}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        *ngIf="preCheckInIsActive"
        name="{{ 'label.statusAccommodationBreakLine' | translate }}"
        prop="reservationItemStatusName"
        [flexGrow]="0.7">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <div class="datatable-font-size">
            {{row.reservationItemStatusName}}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        *ngIf="!preCheckInIsActive"
        name="{{ 'label.guestStatus' | translate }}"
        prop="guestReservationItemStatusName"
        [flexGrow]="0.7">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <div class="datatable-font-size">
            <div class="origin-rectangle" [ngClass]="row.statusColor">
              {{row.guestReservationItemStatusName}}
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        *ngIf="preCheckInIsActive"
        name="{{ 'label.qtdGuest' | translate }}"
        [flexGrow]="0.7">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <div class="datatable-font-size">
            <img class="icon-size" src="{{ 'qtdAdulto.min.svg' | imgCdn }}" alt="adults" />
            {{row.adultsCount}}

            <img class="icon-size" src="{{ 'child_icon.svg' | imgCdn }}" alt="children" />
            {{row.childCount}}
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        name="{{'label.obsResumed' | translate}}"
        prop="remarksQuantity"
        *ngIf="preCheckInIsActive"
        [flexGrow]="0.3">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <div class="datatable-font-size">
            <div class="thf-group-icon-content-left remarks-action" (click)="showRemarksModal(row)">
              <img src="{{'remark-blue.svg' | imgCdn}}" alt="{{ row?.reservationCode }}" />
              <i class="badge-obs" *ngIf="row?.remarksQuantity > 0">{{ row?.remarksQuantity }}</i>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name=""
        [flexGrow]="0.3"
        [minWidth]="63"
        [resizeable]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div class="thf-u-text-center h-100 thf-u-vertical-align-middle " data-qa-id="options"
               (click)="onExpandRow(row)">
            <img *ngIf="!expanded" src="{{'options-blue.svg' | imgCdn}}"
                 alt="{{ 'commomData.images.options' | translate }}"
            />
            <img *ngIf="expanded" src="{{'options-white.svg' | imgCdn}}"
                 alt="{{ 'commomData.images.options' | translate }}"
            />
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>

    <div *ngIf="reservationItemsList && reservationItemsList.length > 0">
      <div class="row">
        <div class="col mt-2 mb--4">
          <p class="font-total">
            <strong>{{ 'label.totalGuests' | translate }}:</strong>
            <span class="thf-u-font--lowercase">
                  {{ totalGuests }}
            </span> /

            <strong>{{ 'label.totalReservations' | translate }}:</strong>
            <span class="thf-u-font--lowercase">
                  {{ totalReservations }}
            </span>
          </p>
        </div>
      </div>
    </div>

    <ng-template #elseBlock>
      <div class="row">
        <div class="col-8 offset-2">
          <div class="thf-empty-content thf-u-text-center">
            <div class="thf-empty-content-header thf-u-margin-bottom--1 ">
              <div class="row">
                <div class="col-12">
                  <img class="thf-empty-content-header-icon" src="{{'info.svg' | imgCdn}}"
                       alt="Imagem indicando texto informativo">
                  <h1 class="thf-empty-content-header-title thf-u-font--bold thf-u-font--16 thf-u-inline-block">
                    {{'reservationModule.reserveList.errorMessage' | translate}}
                  </h1>
                </div>
              </div>
            </div>
            <div class="thf-empty-content-body">
              <div class="row">
                <div class="col-12">
                  <p class="thf-empty-content-message thf-u-no-margin thf-u-font--14">
                    {{ 'reservationModule.reserveList.messageEmptyContent' | translate }}
                    <span class="thf-u-font--lowercase">
                    {{ 'commomData.emptyContent.followTo' | translate }}
                  </span>
                    <a href="javascript:void(0)" (click)="goToNewReservation()"
                       id="reservation-empty-content-button" class="thf-link">
                      {{ 'label.newReservation' | translate }}
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

  <app-reservation-card
    *ngIf="reservationObj && !preCheckInIsActive" class="col-2"
    [reservationObj]="reservationObj">
  </app-reservation-card>

</div>
