@import "variables";

.max-width-btn-legend {
  max-width: 70px;
}

.box-icon-size {
  height: 18px;
  line-height: 18px;
}

.box-icon-size > .icon-config {
  height: 100%;
  margin-bottom: 6px;
}

.double-dots:after {
  content: ':';
}

.info-box {
  background-color: rgba($primary-color, 0.1);
  margin-bottom: 20px;
}


