<app-modal-wrapper [modalId]="modalId" [title]="'title.reservationResume'" maxWidth="740px" [extraClass]="'thf-u-width-flex'" [closeCallbackFunction]="close" >

  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row thf-u-margin-bottom--1">
      <div class="col-3">
        <div class="thf-u-font--14 double-dots">{{'label.reservationNumber' | translate}}</div>
        <div class="thf-u-font--16 thf-u-color--blue">{{ reservation.reservationCode }}</div>
      </div>
      <div class="col-3">
        <div class="thf-u-font--14 double-dots">{{'label.client' | translate}}</div>
        <div class="thf-u-font--16 thf-u-color--blue">{{ reservation?.client?.tradeName || '-' }}</div>
      </div>
    </div>

    <div class="row thf-u-margin-bottom--1">
      <div class="col-3">
        <div class="thf-u-font--14 double-dots">{{'label.contactName' | translate}}</div>
        <div class="thf-u-font--16 thf-u-color--blue">{{ reservation.contactName || '-' }}</div>
      </div>
      <div class="col-3">
        <div class="thf-u-font--14 double-dots">{{'label.contactPhone' | translate}}</div>
        <div class="thf-u-font--16 thf-u-color--blue">{{ reservation.contactPhone || '-' }}</div>
      </div>
      <div class="col">
        <div class="thf-u-font--14 double-dots">{{'label.contactEmail' | translate}}</div>
        <div class="thf-u-font--16 thf-u-color--blue">{{ reservation.contactEmail || '-' }}</div>
      </div>
    </div>

    <div class="row thf-u-margin-bottom--2">
      <div class="col-3">
        <div class="thf-u-font--14 double-dots" >{{'label.inicialDate' | translate}}</div>
        <div class="thf-u-font--16 thf-u-color--blue box-icon-size"><img class="icon-config" src="{{'event.svg' | imgCdn}}" alt="{{'img.calendar' | translate }}"> {{ checkinDateToUse | amDateFormat: 'L' }}</div>
      </div>
      <div class="col-3">
        <div class="thf-u-font--14 double-dots" >{{'label.finalDate' | translate}}</div>
        <div class="thf-u-font--16 thf-u-color--blue box-icon-size"><img class="icon-config" src="{{'event.svg' | imgCdn}}" alt="{{'img.calendar' | translate }}"> {{ checkoutDateToUse | amDateFormat: 'L' }}</div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="thf-u-font--14 double-dots" >{{'label.timeCheckin' | translate}}</div>
            <div class="thf-u-font--16 thf-u-color--blue box-icon-size" ><img class="icon-config" src="{{'schedule.svg' | imgCdn}}" alt="{{'img.clock' | translate}}"> {{ checkinDateToUse | amDateFormat: 'HH:mm'}}</div>
          </div>
          <div class="col">
            <div class="thf-u-font--14 double-dots" >{{'label.timeCheckout' | translate}}</div>
            <div class="thf-u-font--16 thf-u-color--blue box-icon-size"><img class="icon-config" src="{{'schedule.svg' | imgCdn}}" alt="{{'img.clock' | translate}}"> {{ checkoutDateToUse | amDateFormat: 'HH:mm' }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="row justify-content-between align-items-center no-gutters" *ngIf="sameCurrency(); else diferenctCurrency">
          <div class="col-12 thf-u-border-bottom--1">
            <span class="thf-u-font--bold thf-u-font--16">
              {{'label.reservationValues' | translate }}
            </span>
          </div>
          <div title="{{'label.accommodationQuantity' | translate }}" class="col-4 thf-u-font--14 thf-u-padding-vertical--1 thf-u-border-bottom--1">
            <i class="icon icon-bed_checkin thf-u-color--blue box-icon-size"></i>
            <span>{{acomodationQuantity}}</span>
          </div>
          <div title="{{'label.adultTotal' | translate }}" class="col-4 thf-u-font--14 thf-u-padding-vertical--1 thf-u-border-bottom--1">
            <i class="icon icon-person thf-u-color--blue box-icon-size"></i>
            <span>{{adultQuantity}}</span>
          </div>
          <div title="{{'label.childTotal' | translate }}" class="col-4 thf-u-font--14 thf-u-padding-vertical--1 thf-u-border-bottom--1">
            <i class="icon icon-baby-buggy thf-u-color--blue box-icon-size"></i>
            <span>{{childQuantity}}</span>
          </div>
          <div class="col-8 thf-u-padding-vertical--1">
            <span class="thf-u-font--bold thf-u-font--16">
              {{'label.averageDaily' | translate}}
            </span>
          </div>
          <div class="col-4 thf-u-padding-vertical--1">
            <span class="thf-u-font--bold thf-u-font--16">
              {{ averageDaily | currencyFormat: currencySymbol }}
            </span>
          </div>
          <div class="col-8 thf-u-padding-vertical--1 thf-u-padding-left--1 thf-u-background-color--blue">
            <span class="thf-u-font--bold thf-u-font--16 thf-u-color--white">
              {{'label.reservationTotal' | translate}}
            </span>
          </div>
          <div class="col-4 thf-u-padding-vertical--1 thf-u-background-color--blue">
            <span class="thf-u-font--16 thf-u-color--white">
              {{ total | currencyFormat: currencySymbol }}
            </span>
          </div>
        </div>
      </div>

      <ng-template #diferenctCurrency >
        <div class="row justify-content-between align-items-center no-gutters">
          <div class="col-12 thf-u-border-bottom--1">
            <span class="thf-u-font--bold thf-u-font--16">
              {{'label.reservationValues' | translate }}
            </span>
          </div>
          <div class="col-12 thf-u-padding-vertical--1 thf-u-padding-left--1 thf-u-background-color--blue">
            <span class="thf-u-font--bold thf-u-font--16 thf-u-color--white">
              {{'label.differentRateCurrencies' | translate}}
            </span>
          </div>
        </div>
      </ng-template>

      <div class="col-6">
        <ul class="thf-u-reset-list thf-u-font--14">
          <li class="thf-u-font--bold thf-u-font--16 thf-u-border-bottom--1" >{{'label.moreOptions' | translate }}</li>
          <li class="thf-u-padding-vertical--1 d-flex justify-content-start" >

            <div class="thf-icon-button thf-u-margin-right--1 thf-u-text-center">
              <button
                      id="button-slip"
                      type="button"
                      class="thf-button test-button-print-out-account"
                      (click)="goToSlipPage()"
                      >
                <img src="{{'imprimir.min.svg' | imgCdn}}" alt="{{'img.print'}}">
              </button>
              <div class="max-width-btn-legend thf-icon-button-legend  thf-u-text-center thf-u-font--12 thf-u-margin-top--1">
                {{'label.slip' | translate }}
              </div>
            </div>

            <div class="thf-icon-button thf-u-margin-right--1 thf-u-text-center">
              <button
                      id="button-roomlist"
                      type="button"
                      class="thf-button test-button-print-out-account"
                      (click)="goToRoomList()">
                <img src="{{'icon_roomlist_circle.svg' | imgCdn}}" alt="{{ 'img.roomlist' | translate }}">
              </button>
              <div class="max-width-btn-legend thf-icon-button-legend  thf-u-text-center thf-u-font--12 thf-u-margin-top--1">
                {{'label.roomList' | translate }}
              </div>
            </div>

            <div class="thf-icon-button thf-u-margin-right--1 thf-u-text-center" *ngIf="canShowShareRoomList()">
              <button
                id="button-shared-roomlist"
                type="button"
                class="thf-button test-button-print-out-account"
                (click)="goToShareRoomList()">
                <img src="{{'share-icon.svg' | imgCdn}}" alt="{{ 'img.roomlist' | translate }}">
              </button>
              <div class="max-width-btn-legend thf-icon-button-legend  thf-u-text-center thf-u-font--12 thf-u-margin-top--1">
                {{'label.sharedRoomList' | translate }}
              </div>
            </div>

            <div class="thf-icon-button thf-u-margin-right--1 thf-u-text-center">
              <button
                      id="button-reservation-budget"
                      type="button"
                      class="thf-button test-button-print-out-account"
                      (click)="goToReservationBudget()"
              >
                <img src="{{'icon_reservation_budget_circle.svg' | imgCdn }}" alt="{{ 'img.icon_budget' | translate }}">
              </button>
              <div class="max-width-btn-legend thf-icon-button-legend  thf-u-text-center thf-u-font--12 thf-u-margin-top--1">
                {{'label.reservationBudget' | translate }}
              </div>
            </div>

            <div
              *ngIf="showIssueProformaButton()"
              class="thf-icon-button thf-u-margin-right--1 thf-u-text-center">
              <button
                id="button-reservation-budget"
                type="button"
                class="thf-button test-button-print-out-account"
                (click)="issueProforma()">
                <img src="{{'emitir-proforma-icon.svg' | imgCdn }}"  alt="{{ 'img.icon_budget' | translate }}">
              </button>
              <div class="max-width-btn-legend thf-icon-button-legend  thf-u-text-center thf-u-font--12 thf-u-margin-top--1">
                {{'label.issueProforma' | translate }}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row justify-content-end">
      <div class="col-4">
        <app-button [buttonConfig]="buttonNewReservationConfig" ></app-button>
      </div>
      <div class="col-4">
        <app-button [buttonConfig]="buttonReservationListConfig" ></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>

<app-modal-wrapper [modalId]="MODAL_ROOM_LIST" [title]="'label.sharedRoomList'" >
  <div class="thf-modal-body thf-u-padding-vertical--1 thf-u-padding-horizontal--2">
    <div class="row">
      <div class="col-12">
        <!-- TODO: change to correct image -->
        <thx-img-info class="info-box"
                      [imgInfo]="'img-calendar.svg'"
                      [textInfo]="'text.shareRoomlistRemember'"></thx-img-info>
      </div>
    </div>
    <div class="thf-input-group">

      <div class="row">
        <div class="col-12">
          <label for="email" class="thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-u-no-margin">{{ 'label.responsableMail' | translate }}</label>
          <input id="email"
                 [(ngModel)]="shareRoomListEmail"
                 (ngModelChange)="emailChange()"
                 class="thf-input"
                 type="email"
                 placeholder="{{ 'label.responsableMail' | translate}}" email >
        </div>
      </div>
    </div>
    </div>
  <div class="thf-u-margin-top--3" >
    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <app-button [buttonConfig]="buttonShareRoomListCancelConfig"></app-button>
        </div>
        <div class="col">
          <app-button [buttonConfig]="buttonShareRoomListConfig"></app-button>
        </div>
      </div>
    </div>
  </div>
</app-modal-wrapper>
