<div class="sidebar-card-container">
    <div class="card-info-area">
        <ng-content></ng-content>
    </div>
    <div class="card-list-area">
        <ng-content select="ul"></ng-content>
    </div>
</div>
    