:host{
    display: block;
}
.sidebar-card-container{
    position: relative;
    top: 0;
    left:0;
    border-radius: 3px;
}
.card-info-area{
    min-height: 280px;
}
.card-list-area {
    height: auto;
}
