<div class="thf-input-group">
  <thx-datepicker
    id="search-datepicker"
    (dateChanged)="changeDate($event)"
    [showClearDateBtn]="true"
    class="thf-u-no-margin thf-u-margin-horizontal--1"></thx-datepicker>
  <app-button [buttonConfig]="searchButtonConfig">
    <img class="search-icon thf-u-padding-horizontal--1" src="{{'search.PNG' | imgCdn}}" alt="search"/>
  </app-button>
</div>
