<app-header-page [config]="configHeaderPage" [searchableItems]="searchableItems"
                 (searchUpdated)="updateRoomList($event)"></app-header-page>
<div class="thf-u-margin-top--3"></div>

<div class="row" [hidden]="!hasParentRoomList">
  <div class="col-6">
    <div class="thf-tab thf-u-margin-bottom--1 thf-u-padding--1"
         [ngClass]="{'thf-tab--selected': showRoomWithoutParentList}" (click)="showAllRoomList()">
      <h4 class="thf-u-font--bold thf-u-font--16 thf-u-text-center">{{ 'label.uhsRegister' | translate }}</h4>
    </div>
  </div>
  <div class="col-6">
    <div class="thf-tab thf-u-margin-bottom--1 thf-u-padding--1"
         [ngClass]="{'thf-tab--selected': !showRoomWithoutParentList}"
         (click)="showParentRoomList()">
      <h4 class="thf-u-font--bold thf-u-font--16 thf-u-text-center">{{ 'label.uhsJoined' | translate }}</h4>
    </div>
  </div>
</div>
<div class="thf-u-margin-top--2"></div>

<div class="row">
  <div class="col-12">
    <ngx-datatable
      #table
      *ngIf="hasRooms"
      class="material"
      [rows]="allRoomList"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'45'"
      [limit]="dataTableGlobals.limitItensPage"
    >

      <ngx-datatable-column name="{{ 'label.active' | translate }}"
                            [width]="100"
                            [resizeable]="false"
                            [draggable]="false"
                            [canAutoResize]="false"
                            headerClass="thf-u-text-center"
                            cellClass="thf-u-text-center">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div>
            <input type="checkbox" [(ngModel)]="row.isActive" (ngModelChange)="toggleModal(row)"
                   class="thf-input-radio-button" id="{{row.id}}"/>
            <label class="thf-u-vertical-align-super" for="{{row.id}}">
              <span class="ui"></span>
            </label>
          </div>
        </ng-template>
      </ngx-datatable-column>


      <ngx-datatable-column name="{{ 'label.numberUH' | translate }}">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div (click)="goEditRoomPage( row )">{{ row.roomNumber }}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'label.typeUHComplete' | translate }}">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div (click)="goEditRoomPage( row )">{{ row.roomType.abbreviation }}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'label.description' | translate }}">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div (click)="goEditRoomPage( row )">{{ row.roomType.name }}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'label.obs' | translate }}">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div (click)="goEditRoomPage( row )" class="thf-u-ellipsis">{{ row.remarks }}</div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{ 'label.qtdBeds' | translate }}" [width]="170"
                            headerClass="thf-u-text-center"
                            cellClass="thf-u-text-center">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div (click)="goEditRoomPage( row )">
                  <span>
                      <span class="thf-u-vertical-align-middle">{{ row.bedDoubleCount }}</span>
                      <img class="hps-icon-size-default hps-icon-size--2"
                           src="{{'camaCasal.min.svg' | imgCdn}}"
                           alt="{{ 'commomData.images.doubleBed' | translate }}"/>
                    </span>
            <span class="thf-table-icon-space"></span>
            <span>
                      <span class="thf-u-vertical-align-middle">{{ row.bedSingleCount }}</span>
                      <img class="hps-icon-size-default" src="{{'camaSolteiro.min.svg' | imgCdn}}"
                           alt="{{ 'commomData.images.singleBed' | translate }}"/>
                    </span>
            <span class="thf-table-icon-space"></span>
            <span>
                      <span class="thf-u-vertical-align-middle">{{ row.bedReversibleCount }}</span>
                      <img class="hps-icon-size-default hps-icon-size--2"
                           src="{{'camaReversivel.min.svg' | imgCdn }}"
                           alt="{{ 'commomData.images.reversibleBed' | translate }}"/>
                    </span>
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="" [width]="50"
                            [resizeable]="false"
                            [sortable]="false"
                            [draggable]="false"
                            [canAutoResize]="false">
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <div (click)="goEditRoomPage( row )" class="thf-table-tbody-td  thf-u-text-right arrow">
            <img class="hps-icon-size-default" src="{{'chevron-right.svg' | imgCdn}}"
                 class="thf-table-tbody-td-icon" alt="Seta para direita"/>
          </div>
        </ng-template>
      </ngx-datatable-column>


    </ngx-datatable>

  </div>
</div>

<div class="row" [hidden]="hasRooms">
  <div class="col-8 offset-2">
    <div class="row">
      <div class="col-12">
        <div class="thf-empty-content thf-u-text-center">
          <div class="thf-empty-content-header thf-u-margin-bottom--1 ">
            <div class="row">
              <div class="col-12">
                <img class="thf-empty-content-header-icon" src="{{'info.svg' | imgCdn}}"
                     alt="Imagem indicando texto informativo">
                <h1 class="thf-empty-content-header-title thf-u-font--bold thf-u-font--16 thf-u-inline-block">{{
                  'hotelPanelModule.roomList.errorMessage' | translate}}</h1>
              </div>
            </div>
          </div>
          <div class="thf-empty-content-body">
            <div class="row">
              <div class="col-12">
                <p class="thf-empty-content-message thf-u-no-margin thf-u-font--14">
                  {{ 'commomData.emptyContent.followTo' | translate }}
                  <a role="button" href="javascript:void(0)" (click)="goToCreatePage()" class="thf-link">
                    {{ 'commomData.emptyContent.registerScreen' | translate }}
                  </a>
                  {{ 'hotelPanelModule.roomList.messageEmptyContent' | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-wrapper
  [modalId]="MODAL_TITLE"
  [title]="'label.attention'"
  [formGroup]="formModalInactive"
  [hideClose]="true">

  <div class="thf-modal-body">
    <div class="row">
      <div class="col">
        {{ 'alert.confirmActionToBlockUh' | translate }}
      </div>
    </div>
    <div class="row thf-u-margin-bottom--2">
      <div class="col thf-u-color--red">
        {{ 'text.doYouWannaConfirmThisAction' | translate }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="thf-u-font--18 thf-u-margin-bottom--1">
          {{'label.roomNumber' | translate}}: <span class="thf-u-font--25">
          {{roomBlocked?.roomType?.abbreviation}} - {{roomBlocked?.roomNumber}}
        </span>
        </div>
        <span
          [innerHtml]="'alert.pleaseInputToConfirmByName' | translate: {name: roomBlocked?.roomNumber}">
        </span>
        <input
          id="roomNumber"
          name="roomNumber"
          class="thf-input"
          formControlName="roomNumber"/>
      </div>
    </div>
  </div>

  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="btnCancel"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="btnConfirm"></app-button>
      </div>
    </div>
  </div>

</app-modal-wrapper>
