<!-- modal include -->
<app-modal-wrapper
  modalId="product-group-modal"
  [maxWidth]="'700px'"
  [title]="modalTitle">
  <form [formGroup]="formModalNew">
    <div class="thf-modal-body">
      <!-- first row -->
      <div class="row">
        <div class="col-4">
          <label for="categoryName"
            class="thf-u-margin-top--1 thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.nameOfGroup' | translate}}
          </label>
          <input class="thf-input thf-u-margin-top--1" type="text" formControlName="categoryName" />
          <thx-error formControlName="categoryName"></thx-error>
        </div>

        <!-- second line -->

        <div class="col">
          <label for="standardCategoryId"
            class="thf-u-margin-top--1 thf-input-label thf-input-label--required thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.groupFix' | translate}}
          </label>
          <app-select
            [parent]="formModalNew"
            [optionList]="groupFixList"
            [selectId]="'standardCategoryId'"
            [isUppercase]="false"
            [hasFormGroup]="true">

          </app-select>
          <thx-error formControlName="standardCategoryId"></thx-error>
        </div>

        <div class="col">
          <label for="integrationCode"
                 class="thf-u-margin-top--1 thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.code' | translate}}
          </label>
          <input class="thf-input thf-u-margin-top--1" type="text" formControlName="integrationCode" />
        </div>

        <div class="col-3">
          <label for="isActive"
            class="thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine thf-input-label--required thf-u-margin-top--1">
            {{'label.active' | translate}}
          </label>
          <div app-click-stop-propagation class="thf-u-z-index--1 thf-u-margin-top--1">
            <input type="checkbox"
               formControlName="isActive"
               class="thf-input-radio-button"
               [id]="formModalNew.get('isActive')" />
            <label class="thf-u-vertical-align-middle thf-u-margin-top--2" [attr.for]="formModalNew.get('isActive')">
              <span class="ui"></span>
            </label>
          </div>
        </div>

      </div>
      <!-- end row -->

      <!-- row with icons list -->
      <div class="row">
          <div class="col-12 thf-u-margin-top--3">{{'label.selectIconGroup' | translate}}</div>

          <!-- icons button -->
          <div class="col-12  justify-content-center icon-container">
            <div
              class="thf-icon-button thf-u-margin-top--1 thf-u-text-center"
              *ngFor="let src of iconList;">
              <button
                type="button"
                class="thf-button"
                (click)="clickComponent($event, src)"
                [ngClass]="{'selected-icon': src  === selectedIconSrc }">
                <img src="{{ src  | imgCdn }}" alt="icon-button">
              </button>
            </div>
          </div>

      </div>
    </div>
    <div class="thf-modal-footer">
      <div class="row">
        <div class="col offset-5">
          <app-button [buttonConfig]="buttonCancelModalConfig"></app-button>
        </div>
        <div class="col">
          <app-button [buttonConfig]="buttonSaveModalConfig"></app-button>
        </div>
      </div>
    </div>
  </form>
</app-modal-wrapper>
