<app-modal-wrapper
  class="modal-assoc-schedule-wrapper"
  maxWidth="418px"
  [title]="'title.scheduling'"
  [modalId]="modalId">
  <div class="thf-modal-body">
    <!-- date pickers -->
    <form [formGroup]="scheduleForm">
      <div class="row">
        <div class="col-6">
          <label for="scheduleBeginDate"
                 class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.ofCaps' | translate }}
          </label>
          <thx-datepicker
            formControlName="scheduleBeginDate"
            id="scheduleBeginDate"
            class="thf-u-no-margin"
            [minDateToday]="true"
            [disableUntil]="disableToday"
            (dateChanged)="notifyBeginDateChange($event)"></thx-datepicker>
          <thx-error formControlName="scheduleBeginDate"></thx-error>
        </div>

        <div class="col-6">
          <label
            for="scheduleEndDate"
            class="thf-u-no-margin thf-input-label thf-u-font--14 thf-u-font--bold thf-input-label--grey-submarine">
            {{'label.until' | translate}}
          </label>
          <thx-datepicker
            #scheduleEndDate
            formControlName="scheduleEndDate"
            id="scheduleEndDate"
            [minDateToday]="true"
            [disableUntil]="disableToday"
            (dateChanged)="notifyEndDateChange($event)"
            class="thf-u-no-margin"></thx-datepicker>

          <div *ngIf="scheduleEndDateErrors" class="thf-input-text thf-input-text--error">
            <img src="{{'input-error.svg' | imgCdn}}" alt="{{'commomData.images.errorMessageIcon' | translate }}"/>
            <p class="thf-u-inline-block thf-u-no-margin thf-u-font--12">
              {{ 'commomData.errorPeriodMinusThanStart' | translate }}
            </p>
          </div>
        </div>
      </div>
    </form>
    <!-- end form -->

  </div>

  <div class="thf-modal-footer">
    <div class="row">
      <div class="col offset-5">
        <app-button [buttonConfig]="buttonCancelScheduleConfig"></app-button>
      </div>
      <div class="col">
        <app-button [buttonConfig]="buttonConfirmScheduleConfig"></app-button>
      </div>
    </div>
  </div>
</app-modal-wrapper>



