<div class="thf-group-content">
  <div class="row">
    <div class="col-12">
      <label class="thf-u-no-margin">
        <i class="mdi mdi-menu-down thf-group-content-icon thf-group-content-icon-menu-down thf-u-font--30"></i>
        <span
          class="thf-group-content-header-title thf-u-font--bold thf-u-font--14 thf-u-color-grey-darker thf-u-enable-cursor">
            {{ 'label.consultReports' | translate }}
        </span>
      </label>
    </div>
  </div>

  <div class="thf-group-content-body thf-u-padding-vertical--2">
    <form [formGroup]="form">

      <div class="row thf-u-margin-bottom--4">
        <div class="col-4">
          <report-menu
            [formGroupAppSelect]="form">
          </report-menu>
        </div>
      </div>

      <hr class="row"/>

      <div class="row">
        <div class="col-4">
          <label
            for="date"
            class="thf-input-label--grey-submarine thf-u-font--14 thf-u-font--bold thf-u-margin-top--2 thf-u-margin-bottom--1">
            {{ 'label.pensionPrevision' | translate }}</label>
          <thx-date-range-picker
            formControlName="date"
            id="date"
            class="thf-u-no-margin">
          </thx-date-range-picker>
        </div>
        <div class="col-3 thf-u-margin-top--5">
          <app-button [buttonConfig]="btnConfigSearch"></app-button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="thf-u-margin-top--1" *ngIf="pageItemsList?.length">
  <app-header-page-new
    [hasFilter]="false">
    <header-title>
      <span>{{ 'label.pensionPrevision' | translate }}</span>
    </header-title>
  </app-header-page-new>

  <div class="thf-u-margin-vertical--1">
    <thx-datatable
      [columns]='columns'
      [itens]="pageItemsList"
      [hasLastCell]="false"
      [tableHasScroll]="true"
      [columnMode]="'auto'">
    </thx-datatable>
  </div>

  <div class="row">
    <div class="offset-9 col-3 thf-u-margin-top--2">
      <button
        (click)="print()"
        class="thf-btn thf-u-no-padding thf-btn-primary"
        type="button">
        {{ 'action.print' | translate }}
      </button>
    </div>
  </div>
</div>

<app-printable-table
    #table
    [hidden]="true"
    [columnsName]="columns"
    [items]="pageItemsList"
    [title]="'label.pensionPrevision' | translate"
    [periodInfo]="periodInfo"
></app-printable-table>

<ng-template #dateTableHeader let-column="column" ngx-datatable-header-template>
  <div class="subtitle">{{ column.name | translate }}</div>
  <div class="subtitle">{{ 'label.reference' | translate }}</div>
</ng-template>

<ng-template #occupationTableHeader let-column="column" ngx-datatable-header-template>
  <div class="subtitle">{{ column.name | translate }}</div>
  <div class="subtitle">Oc. | In | Out</div>
</ng-template>

<ng-template #quantityMealsHeader let-column="column" ngx-datatable-header-template>
  <div class="subtitle">{{ column.name | translate }}</div>
  <div class="subtitle">A | C1 | C2 | C3</div>
</ng-template>

<ng-template #mealPlanHeader let-column="column" ngx-datatable-header-template>
  <div class="subtitle">{{ column.name }}</div>
  <div class="subtitle">A | C1 | C2 | C3 | {{ 'label.total' | translate }}</div>
</ng-template>
