<div class="thf-input-group thf-u-position--relative">
  <div class="thf-input-select-group-icon-field" (click)="toggleSelect()" app-click-stop-propagation >
    <div #input class="thf-input thf-input-select thf-u-cursor--pointer d-flex align-items-center custom-select-padding" [ngClass]="{'thf-select-disabled thf-u-cursor--not-allowed': disabled }" [class]="itemSelectedClass"  [style.min-height]="minHeight + 'px'"  [innerHTML]="selectedOption ? domSatizer.bypassSecurityTrustHtml(selectedOption[keyOfTextOption]) : ('placeholder.select' | translate) " ></div>
    <img src="{{'arrowdown-blue.min.svg' | imgCdn}}" [ngClass]="{'thf-u-opacity--45 ': disabled }" alt="{{ 'commomData.images.arrowDownIcon' | translate }}"
         class="thf-input-select-icon thf-u-no-pointer-events" [class]="arrowClass">
  </div>
</div>
<ul *ngIf="optionsOpened && !itemSelectedClass" class="thf-u-reset-list custom-select-options thf-u-position--absolute thf-u-z-index--100" [style.width]="inputElement.nativeElement.offsetWidth + 'px' " [style.max-height]="maxHeight + 'px'">
  <li *ngFor="let opt of optionList; let i = index; " [id]="i" (click)="selectOption(opt, $event)" class="thf-u-cursor--pointer" [innerHTML]="domSatizer.bypassSecurityTrustHtml(opt[keyOfTextOption])" [ngClass]="{'selected': (selectedOption ? selectedOption[keyOfTextOption] : '') == (opt[keyOfTextOption]) }"></li>
</ul>
<ul *ngIf="optionsOpened && itemSelectedClass"   class="thf-u-reset-list custom-select-options thf-u-position--absolute thf-u-z-index--100" [style.width]="inputElement.nativeElement.offsetWidth + 'px' " [style.max-height]="maxHeight + 'px'"    >
  <li *ngFor="let opt of optionList let i = index; " [id]="i" #li  (click)="selectOption(opt, $event)" class="thf-u-cursor--pointer"  [class]="getCurrentClassesItem(opt)" [innerHTML]="domSatizer.bypassSecurityTrustHtml(opt[keyOfTextOption])" ></li>
</ul>

