.custom-select-padding {
  padding-right: 30px;
}
.custom-select-padding > div {
  width: 100%;
}
ul.custom-select-options {
  border: 1px solid var(--color-grey);
  box-shadow: inset 1px 1px 3px 3px var(--color-shadow-input);
  border-radius: 3px;
  overflow-y: auto;
}

ul.custom-select-options > li {
  padding: 10px;
  background-color: var(--color-white);
}
ul.custom-select-options > li:hover , ul.custom-select-options > li.selected  {
  background-color: var(--color-blue-dark);
  color: var(--color-white);
}

body::-webkit-scrollbar,
div::-webkit-scrollbar,
ul::-webkit-scrollbar {
  width: 5px;
  background: var(--color-white);
}

body::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb,
ul::-webkit-scrollbar-thumb{
  background-color: var(--color-blue);
  border-radius: 100px;
  outline: 1px solid var(--color-blue);
}
