@import './_variables';

.room-type-card {
  display: flex;
  margin-bottom: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  width: 100%;

  .leftContent {
    align-items: center;
    background: $special-color--3;
    border-radius: 5px 0 0 5px;
    color: $white_color;
    display: flex;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    text-transform: uppercase;
  }

  .rightContent {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 10px;

    > .capacity {
      align-items: center;
      color: $grey-color--60;
      display: flex;
      width: 75%;
    }
    > .actions {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: space-between;
      width: 25%;

      > .overlay-holder {
        position: relative;

        &:hover > .overlay {
          display: block;
        }

        > .overlay {
          display: none;
          position: absolute;
          top: 63px;
          width: 270px;
          left: -215px;
          height: 153px;
          z-index: 100;
        }
      }

      .icon {
        cursor: pointer;
      }
    }
  }
}

.capacity-block {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  > .title {
    color: $grey-color--60;
  }

  > .value {
    color: $grey-color--70;
  }
}

