<thx-card-base
  class="room-type-card thex-font-family"
  *ngIf="roomType"
>
  <div contentLeft class="leftContent thex-font-size-items-two">
    {{roomType.abbreviation}}
  </div>

  <div contentRight class="rightContent">
    <div class="capacity">
      <div class="capacity-block">
        <span class="title thex-font-size-body-default">{{'label.adults' | translate}}</span>
        <span class="value thex-font-size-body-big">{{roomType.adultCapacity | number: '2.0-0'}}</span>
      </div>

      <div class="capacity-block">
        <span class="title thex-font-size-body-default">{{'label.childs' | translate}}</span>
        <span class="value thex-font-size-body-big">{{roomType.childCapacity | number: '2.0-0'}}</span>
      </div>
    </div>

    <div class="actions">
      <div class="overlay-holder">
        <img
          class="icon"
          [src]="'info-outline-gray.svg' | imgCdn"
          alt=""
        >

        <app-roomtype-popover
          class="overlay"
          [roomType]="roomType"
          [popover]="true">
        </app-roomtype-popover>
      </div>

      <img
        class="icon"
        [src]="'delete-outline-gray.svg' | imgCdn"
        (click)="delete.next(roomType)"
        alt=""
      >
    </div>
  </div>
</thx-card-base>
