@media print {
  .relative {
    position: relative;
  }
  .thex-logo , img {
    width: 70px;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    margin-top: 10px;
  }
  header {
    position: relative;
    top: 5px;
  }
  footer {
    position: relative;
    bottom: 10px;
  }
  .thf-input-label--dots::after {
    content: ': ';
  }
}
table td:first-child, table th:first-child {
  padding-left: 20px;
}
table td:last-child, table th:last-child {
  padding-right: 20px;
}
table tfoot th {
  border-top: 1px solid var(--color-grey-submarine);
}

#page:after {
  counter-increment: pages;
  content: counter(pages);
}
