<header class="thf-u-margin-horizontal--2 print-only ">
  <div class="row  thf-u-width-auto ">
    <div class="col-6">
      <img src="{{'icon-logo-thex.svg' | imgCdn}}" alt="{{'img.logoThex' | translate}}" class="thex-logo">
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <label class="thf-u-font--9">{{ 'label.emissionDate' | translate }}</label>
          <div class="thf-u-font--12">{{ rpsPrint?.invoice.emissionDate | amDateFormat:'L' }}</div>
        </div>
        <div class="col">
          <label class="thf-u-font--9">{{ 'label.rpsNumber' | translate}}</label>
          <div class="thf-u-font--12">{{ rpsPrint?.invoice.externalRps }}</div>
        </div>
        <div class="col">
          <label class="thf-u-font--9">{{ 'label.pageNumber' | translate }}</label>
          <div class="thf-u-font--12" id="page"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row  thf-u-margin-vertical--1">
    <div class="thf-group-content">
      <div class="thf-group-content-header">
        <div class="row">
          <div
            class="col-12 thf-margin-0-auto thf-u-margin-vertical--05 thf-u-padding-horizontal--3 thf-u-font--14">
            {{ 'label.serviceProvider' | translate }}
          </div>
        </div>
      </div>
      <div class="thf-group-content-body thf-u-padding-vertical--1 ">
        <div class="row">
          <div class="col-6 thf-u-font--9">
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.cnpjCpf' |
                translate}}</label><span>{{ rpsPrint?.serviceProvider.cnpj }}</span>
            </div>
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{'label.socialName' |
                translate}}</label><span>{{ rpsPrint?.serviceProvider.name }}</span>
            </div>
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{'label.stateRegistration' |
                translate}}</label><span>{{ rpsPrint?.serviceProvider.inscEst}}</span>
            </div>
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.municipalRegistration' | translate }}</label><span>{{ rpsPrint?.serviceProvider.inscMun }}</span>
            </div>
          </div>
          <div class="col-6 thf-u-font--9">
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.fantasyName' }}</label><span>{{ rpsPrint?.serviceProvider.tradeName}}</span>
            </div>
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.address' | translate }}</label><span>{{ rpsPrint?.serviceProvider.locationList[0]?.completeAddress || '-' }}</span>
            </div>
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.contact' | translate }}</label><span> {{ rpsPrint?.serviceProvider.contactPhone}} / {{ rpsPrint?.serviceProvider.contactWebSite}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row  thf-u-margin-vertical--1">
    <div class="thf-group-content">
      <div class="thf-group-content-header">
        <div class="row">
          <div
            class="col-12 thf-margin-0-auto thf-u-margin-vertical--05 thf-u-padding-horizontal--3 thf-u-font--14">
            {{ 'label.serviceReceiver' | translate }}
          </div>
        </div>
      </div>
      <div class="thf-group-content-body thf-u-padding-vertical--1 ">
        <div class="row">
          <div class="col-6 thf-u-font--9">
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.cnpjCpf' | translate}}</label><span> {{ rpsPrint?.serviceRecipient.guest ? rpsPrint?.serviceRecipient.guest.document : rpsPrint?.serviceRecipient.company?.documentList[0]?.documentInformation }}</span>
            </div>
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.socialName' | translate }}</label><span> {{ rpsPrint?.serviceRecipient.guest ? rpsPrint?.serviceRecipient.guest.fullName : rpsPrint?.serviceRecipient.company.tradeName }}</span>
            </div>
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.stateRegistration' | translate }}</label><span> {{ rpsPrint?.serviceRecipient?.company?.documentList[1]?.documentInformation || '-'}}</span>
            </div>
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.municipalRegistration' | translate}}</label><span> {{ rpsPrint?.serviceRecipient?.company?.documentList[2]?.documentInformation || '-' }}</span>
            </div>
          </div>
          <div class="col-6 thf-u-font--9">
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.fantasyName' | translate }}</label><span> {{ rpsPrint?.serviceRecipient.guest ? rpsPrint?.serviceRecipient.guest.fullName : rpsPrint?.serviceRecipient.company.tradeName }} </span>
            </div>
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.address' |  translate }}</label><span> {{ rpsPrint?.serviceRecipient.guest ? rpsPrint?.serviceRecipient.guest.location.streetName : rpsPrint?.serviceRecipient.company.locationList[0]?.completeAddress || '-' }}</span>
            </div>
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.contact' | translate }}</label><span>  {{ rpsPrint?.serviceRecipient.guest ? rpsPrint?.serviceRecipient.guest.phoneNumber : rpsPrint?.serviceRecipient.company.phoneNumber }} / {{ rpsPrint?.serviceRecipient.guest ? rpsPrint?.serviceRecipient.guest.mobilePhoneNumber : rpsPrint?.serviceRecipient.company.homePage }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row  thf-u-margin-vertical--1">
    <div class="thf-group-content">
      <div class="thf-group-content-header">
        <div class="row">
          <div
            class="col-12 thf-margin-0-auto thf-u-margin-vertical--05 thf-u-padding-horizontal--3 thf-u-font--14">
            {{ 'label.reservationData' | translate }}
          </div>
        </div>
      </div>
      <div class="thf-group-content-body thf-u-padding-vertical--1 ">
        <div class="row">
          <div class="col-6 thf-u-font--9">
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.guestName' | translate }}</label><span> {{ rpsPrint?.accountEntries.holderName }}</span>
            </div>
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.reservationNumber' | translate }}</label><span>  {{ rpsPrint?.accountEntries.reservationCode }}</span>
            </div>
            <div>
              <label
                class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.uh' | translate}}</label><span> {{ rpsPrint?.accountEntries.roomTypeName }} {{ rpsPrint?.accountEntries.roomNumber }}</span>
            </div>
          </div>
          <div class="col-6 thf-u-font--9">
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{ 'label.period' | translate }}</label><span> {{ rpsPrint?.accountEntries.arrivalDate | amDateFormat: 'L'}} - {{ rpsPrint?.accountEntries.departureDate | amDateFormat: 'L'}}</span>
            </div>
            <div>
              <label class="thf-input-label--grey-submarine thf-input-label--dots">{{'label.qtdGuest'}}</label><span> 2 {{'label.adult' | translate}} / 0 {{ 'label.child' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="row thf-u-padding-horizontal--2 ">
  <div class="col-12">
    <table class="datatable thf-u-width-flex">
      <thead>
      <tr>
        <th class=" thf-u-padding-vertical--1 thf-u-border-bottom--1 thf-u-font--10"> {{ 'label.dateTime' | translate}}
        </th>
        <th class=" thf-u-padding-vertical--1 thf-u-border-bottom--1 thf-u-font--10"> {{ 'label.launch' | translate}}
        </th>
        <th class=" thf-u-padding-vertical--1 thf-u-border-bottom--1 thf-u-font--10 text-right"> {{ 'label.value' | translate}}
        </th>
      </tr>
      </thead>
      <tbody class="thf-u-margin-vertical--1">
      <tr *ngFor="let item of billintItens">
        <td class=" thf-u-padding-vertical--1 thf-u-border-bottom-light-grey-1 thf-u-font--9">
          {{item.billingAccountItemDate | date: 'dd/MM/yyyy'}} {{ 'label.at' | translate }} {{ item.billingAccountItemDate | date: 'hh:mm:ss'}}
        </td>
        <td class=" thf-u-padding-vertical--1 thf-u-border-bottom-light-grey-1 thf-u-font--9">
          {{item.billingItemName}}
        </td>
        <td class=" thf-u-padding-vertical--1 thf-u-border-bottom-light-grey-1 thf-u-font--9 text-right">
          {{item.total | currencyFormat}}
        </td>
      </tr>
      </tbody>
      <tfoot class="thf-u-border-top--1">
      <tr>
        <th colspan="2" class="thf-u-padding-vertical--1 thf-u-font--bold thf-u-font--10">{{ 'label.nfeTotal' | translate }}</th>
        <th class="thf-u-padding-vertical--1 thf-u-font--bold thf-u-font--12 text-right">{{ accountTotal |
          currencyFormat }}
        </th>
      </tr>
      </tfoot>
    </table>
  </div>
</div>

<footer class="thf-u-padding-horizontal--2">
  <div class="row">
    <div class="col-12">
      <div class="thf-u-padding--2 thf-u-text-center thf-u-font--bold thf-u-font--9 thf-u-color-grey-darker">
        {{ 'text.agreeResponsabilitiesPayment' | translate }}
      </div>
    </div>
    <div class="col-6  thf-u-padding-vertical--3">
      <div class="">
        <hr class="thf-u-color-grey-darker">
      </div>
      <div class="thf-u-text-center thf-u-font--9">{{ 'label.date' | translate }}</div>
    </div>
    <div class="col-6  thf-u-padding-vertical--3">
      <div class="">
        <hr class="thf-u-color-grey-darker">
      </div>
      <div class="thf-u-text-center thf-u-font--9">{{ 'label.guestSignature' | translate }}</div>
    </div>
    <div class="col-12">
      <hr>
      <div class="thf-u-border--1 thf-u-padding--1 thf-u-font--9"
           [innerHtml]="rpsPrint?.invoice.billingInvoiceProperty.description">
      </div>
    </div>
  </div>
</footer>

