<thx-header-page-new [config]="configHeaderPage" [hasFilter]="true">

  <!-- header title -->
  <thx-header-title> {{ 'title.listPremises' | translate }}</thx-header-title>

  <!-- search bar -->
  <thx-searchbar
    name="searchFilter"
    [placeholder]="'placeholder.byNamePremise'"
    (input)="search($event)">
  </thx-searchbar>

  <!-- the button txt -->
  <thx-text-button>{{'text.newPremise' | translate}}</thx-text-button>

  <!-- the modal btn -->
  <thx-icon-button>
    <img src="{{'icon-add-blue.svg' | imgCdn}}">
  </thx-icon-button>
</thx-header-page-new>


  <thx-datatable
    [columns]="columns"
    [itens]="premisesArray"
    [hasLastCell]="true"
    statusIdentifier= "id"
    [emptyMessage]="'text.premiseListEmpty'"
    (rowItemClicked)="gotoEdit($event)"
    [emptyMessageContent]="'text.premiseEmptyDescripion'"
    >
    
  </thx-datatable>

